[2017-03-06 09:20] SzymonPobiega commented on #3050
BTW, there is a configuration switch that allows to pass a custom (e.g. no-BOM) encoding that was introduced some time ago: https://github.com/Particular/NServiceBus/commit/1e60297bca65f4ac902645080a5fbdf7666301de

[2017-03-06 12:57] timbussmann commented on #4493
a good point raised by @jasondentler is the fact that we should make sure that we resolve the handlers after the UoW stage so that custom DI registration can be used by message handlers.

[2017-03-06 13:05] timbussmann commented on #4500
Hey @cremor
Yes, exactly, the APIs are already available but they are a little bit hidden because we feel that they are non-trivial to use and most likely are just used as an integration point to plug in your custom routing data provider (e.g. read it from a database) instead of being part of the regular endpoint configuration routine. What were your thoughts with the API you used (and the related

[2017-03-06 16:00] timbussmann commented on #4445
@danielmarbach you are assigned to this, but it doesn't look like there is anything going on regarding this. Should we remove you from the assignees? To me it sounds like the best approach would indeed be to throw in case both options are used.

[2017-03-06 16:10] danielmarbach commented on #4445
@timbussmann I think I remember the idea was that I talk to @SeanFeldman but to be honest I can't say if I did it. Agree probably throwing would be best. Let's scheduled for 6.3? Not urgent enough to pull into 6.2?

[2017-03-06 16:12] timbussmann commented on #4532
e.g. see this code which just seems wrong:
https://github.com/Particular/NServiceBus/blob/24a99ba5a2c7bd008465ba8c6315cfcd4539054c/src/NServiceBus.Core/Routing/MessageDrivenSubscriptions/TypePublisherSource.cs#L31

[2017-03-06 16:12] timbussmann commented on #4532
@SzymonPobiega since you added that code, do you remember why we still validate even when best practices are disabled?

[2017-03-06 17:17] cremor commented on #4500
@timbussmann The API itself is fine in my opinion. But I'd like to have a bit better documentation. For example, if you have never created a NServiceBus `Feature` before, it is not clear that the code shown [here](https://docs.particular.net/nservicebus/messaging/routing-extensibility#routing-apis-physical-routing) has to be put in a `Feature` class.

And not related to this issue, but more toward

[2017-03-06 23:01] SeanFeldman commented on #4445
@danielmarbach we didn't talke about it. Regardless, 👍 to throw when both options are used.

[2017-03-07 06:34] timbussmann commented on #4500
thanks for the feedback @cremor 👍
btw. the code you linked to can also be invoked from the endpointConfiguration directly in case you exchange the settings.Get with settings.GetOrCreate. The reason why we didn't make this more public yet is that we generally dislike the approach of users go through the settings to access APIs as this is, as you said, hard to discover and even harder to version pro

[2017-03-07 07:20] timbussmann commented on #4478
introduced the new API in #4497 , closing this.

[2017-03-07 07:20] #4478 closed

[2017-03-07 08:13] Niklas-Peter commented on #3244
I still have this problem in NSB 6.1.3. If I set `config.LimitMessageProcessingConcurrencyTo(1)` it works, else not.

In my use case endpoint A sends messages in a loop to endpoint B. Endpoint B hosts the saga and I get the same exception as described in this issue.

[2017-03-07 08:20] danielmarbach commented on #3244
@Niklas-Peter do you get the same exception and it tears down the same endpoint or do you just get the same exception in the logs?

[2017-03-07 08:20] Niklas-Peter commented on #3244
Just the same exception.

[2017-03-07 08:25] danielmarbach commented on #3244
I don't want to imply that it is great what you are seeing since the InMemorySagaPersister needs to be improved. We still have a few issues to solve there like https://github.com/Particular/NServiceBus/issues/4407

That being said the exception you are seeing can happen but should eventually resolve itself. Will the message be moved into the error queue or does Immediate and Delayed Retry solve it

[2017-03-07 08:25] SzymonPobiega commented on #4532
@timbussmann I could not find the written source for the code you quoted but my faint memory points me to some conversations with @andreasohlund where we concluded that:
 * When best practices are enforced, we make sure you can only configure publisher for things that are considered events
 * Even when best practices are *not* enforced we need to make sure people are not actively trying to shoot t

[2017-03-07 08:26] Niklas-Peter commented on #3244
It is resolved by immediate retries. As I do not intend to use the InMemoryPersistence in production, it is not a big problem.

[2017-03-07 08:45] pablocastilla commented on #3691
Simon, one question.

Do you want it here?
https://github.com/Particular/docs.particular.net/tree/master/samples/kafka/Kafka_1

I see that's somehow a runnable example, what do you want me to change?

Thanks

[2017-03-07 08:48] SimonCropp commented on #3691
@pablocastilla so sorry. i forgot about that one. is there anything u want added to the sample md? https://github.com/Particular/docs.particular.net/blob/master/samples/kafka/sample.md

[2017-03-07 09:03] pablocastilla commented on #3691
@SimonCropp No problem!

I don't want to add anything at this moment. I will consider it finished and start with the apache phoenix persistence.

I suppose bugs and optimizations will have to be done when we start to use it.

[2017-03-07 09:05] SimonCropp commented on #3691
@pablocastilla awesome. and thanks for the contribution

[2017-03-07 09:54] timbussmann commented on #4532
that makes sense to me 👍

while it would be pretty bad approach, but it doesn't seem that this would have a deeper reason?

when you enable best practices, we enforce that the type
* is a event (& a message, for whatever reason?)
-> type must be a event

when you disable best practices, wen enforce that the type
* is a message
* or is not a command
-> type must be a message or event

even better,

[2017-03-07 10:05] SzymonPobiega commented on #4532
Pretty sure there are similar checks happening in the subscribe pipeline already.

[2017-03-07 12:10] timbussmann commented on #4532
yeah, as mentioned, this happens when best practices are enabled:

[2017-03-07 14:23] danielmarbach opened #4536 "Remove ReadOnlySettings from container"
Currently, have a test called `When_startup_is_complete` which verifies that `ReadOnlySettings` are available on the container. In several discussions in the past we concluded that `ReadOnlySettings `should not be accessed during runtime since it comes with boxing allocations and is almost always a design smell. Let's remove the `ReadOnlySettings `from the container.

[2017-03-07 14:23] danielmarbach commented on #4536
ping @dbelcham @timbussmann

[2017-03-07 22:00] gbiellem commented on #4525
@indualagarsamy  you already know my opinion... From above:

[2017-03-08 12:32] timbussmann opened #4540 "Rename UniquelyIdentifyRunningInstance"
I think the API is misleading and hard to really understand. Also it kinda conflicts with `MakeInstanceUniquelyAddressable`.
Also it's weird to use as `UniquelyIdentifyRunningInstance` takes no parameter but returns a configuration class which contains different properties where
* `HostInfoSettings.UsingInstalledFilePath`, `HostInfoSettings.UsingCustomIdentifier` and `HostInfoSettings.UsingNames`

[2017-03-08 14:16] ramonsmits commented on #4525
@indualagarsamy Well, that is behavior from Windows/MSMQ, not from us. Why would we want to align that behavior by explicitly granting non secure permissions in case windows decides that a domain should be more secure by default?

[2017-03-08 14:17] aanttila commented on #1300
Since the original User Voice was closed because it was submitted to the wrong team, I've created a new request here:
[https://feedback.azure.com/forums/216926-service-bus/suggestions/18552391-increase-the-maximum-length-of-the-name-of-a-topic](https://feedback.azure.com/forums/216926-service-bus/suggestions/18552391-increase-the-maximum-length-of-the-name-of-a-topic)

[2017-03-08 15:27] timbussmann commented on #4500
as with the proposed code changes in #4510 I'm closing this issue. This has been raised in pdev (https://github.com/Particular/PlatformDevelopment/issues/1169) to review the current routing API in general and from an upgrade perspective. This approach should address all concerns raised in the issue description.

[2017-03-08 15:27] #4500 closed

[2017-03-08 15:28] timbussmann commented on #4472
I'm closing this since we assume this should be resolved in 6.2. Please comment in case you are still facing this issue @slahn.

[2017-03-08 15:28] #4472 closed

[2017-03-08 23:54] gbiellem commented on #4525
@ramonsmits

The current situation is we are inconsistent with permissions between a workgroup machine and a domain machine.  The fact that MS is also inconsistent isn't an excuse or indeed a something to be emulated.

Personally I'd never use "Everyone" in production but a domain machine is not necessarily a production machine so I don't see that as a reason to treat the installation differently.

[2017-03-09 08:15] #4471 closed

[2017-03-09 08:19] danielmarbach commented on #4492
What if an endpoint forwards all incoming messages to a secondary that should keep the messages for a time windows of X days? Or is this a totally made up scenario?

[2017-03-09 08:23] danielmarbach opened #4541 "Throw exception when DoNotDeliverBefore and DelayDeliveryWith are used together"
Action item of https://github.com/Particular/NServiceBus/issues/4445

[2017-03-09 08:24] danielmarbach commented on #4445
Assigned to 6.3. We will throw an exception in the future. Action item defined in https://github.com/Particular/NServiceBus/issues/4541. Closing

[2017-03-09 08:24] #4445 closed

[2017-03-09 08:26] danielmarbach commented on #4236
@Particular/sqlserver-transport-maintainers @Particular/rabbitmq-transport-maintainers @Particular/azure-maintainers do you see value in this proposal? If yes should we raise an issue in platform dev? If no we are leaning towards closing this.

[2017-03-09 08:31] WilliamBZA commented on #4492
Why would they not use the auditing plugin for that?

[2017-03-09 08:59] tmasternak commented on #4236
With my @Particular/sqlserver-transport-maintainers 🎩 on I don't see value.

In most of the cases SqlServer transport does not really care/interact with message ID managed by `Core`. The only exception that I know about is when message does not have MessageID header value and than native message ID becomes `Core`'s ID but that is irrelevant for this discussion.

[2017-03-09 10:09] timbussmann commented on #4532
although I still think the implementation is weird and somewhat incorrect to the expected behavior when disabling best practices, I can't really come up with a legit scenario where you would be blocked by the behavior, therefore I'm closing this for now and remove the tests. It seems to be an entirely incorrect usage to subscribe to commands regardless of best practices. Best practices may be valu

[2017-03-09 10:09] #4532 closed

[2017-03-09 16:44] bording commented on #4236
@danielmarbach RabbitMQ doesn't care about Message IDs at all, and doesn't even require one to send a message, so the choice of how NSB generates its ID doesn't matter.

[2017-03-09 16:58] SeanFeldman commented on #4236
Currently we ignore Message ID and set a arbitrary Transport Message ID. If there will be a way to connect message ID generation into user code (i.e. the message ID to be generated from the message business data), I do see a potential value for ASB customers. It would allow to take advantage of the native duplicate detection. If generating message ID from message data is not possible, then there's

[2017-03-11 08:23] danielmarbach commented on #4473
https://github.com/Particular/NServiceBus/issues/4474 is merged. Closing

[2017-03-11 08:23] #4473 closed

[2017-03-12 12:32] Niklas-Peter opened #4544 "Initialize SagaData in SagaFinder for new saga instance"
When using `ConfigureHowToFindSaga()` the value of the correlation property in the initiating message is set automatically in the saga state.
However, when implementing a custom `SagaFinder` the `FindBy()` does not allow to do such initializations. Hence, I wonder if there is a good place where to do the initialization. You can do it in the saga's handler for the initiating message type, but would

[2017-03-13 07:13] timbussmann commented on #4544
@Niklas-Peter I'm not sure I can follow, can you give an exmaple of a initiliazion you want to do in the SagaFinder which you can't do with the current API? Afaik you get access to the saga data as well as the message which is basically the same as in a message handler (no header access though :/ )

[2017-03-13 07:55] Niklas-Peter commented on #4544
How do you access the saga data in a SagaFinder, i.e., how can you influence the initial saga data created by NServiceBus, because the SagaFinder returned null?

    class SagaFinder : IFindSagas<MySagaData>.Using<MyOrder>
    {
        public Task<MySagaData> FindBy(MyOrder message, SynchronizedStorageSession storageSession, ReadOnlyContextBag context)
        {
            var sagaData = storage

[2017-03-13 16:58] timbussmann commented on #4544
ah, gotcha. Yes, you are right, initializing a new saga via finder is indeed not possible. Could you give us some insights into your use case, why you'd like to do this via finder instead of the handle method and what kind of data you'd like to populate from the finder?

[2017-03-14 09:56] Niklas-Peter opened #4547 "Bug: Inconsistency between DataBusProperty.HasValue and DataBusProperty.Value"
var productsDataBusProperty = new DataBusProperty<byte[]>(memoryStream.ToArray());
     productsDataBusProperty.SetValue(null);
     Debug.Assert(productsDataBusProperty.HasValue == (productsDataBusProperty.Value != null));

See https://github.com/Particular/NServiceBus/blob/18e4f48f34553206fc9ae9697ac12d93c19d6659/src/NServiceBus.Core/DataBus/DataBusProperty.cs#L60

[2017-03-14 11:18] Niklas-Peter opened #4549 "Memory consumption of (FileShare)DataBus"
I downloaded the [file share DataBus sample](https://docs.particular.net/samples/file-share-databus/) and changed the size of the byte array to be sent.

Set to 20MB the memory consumption jumps from 35 MB to 120 MB, with a byte array of 90 MB it even needs 430 MB memory. Just for testing I called the garbage collector manually and then the memory significantly decreases. Of course, I do not want

[2017-03-15 08:36] andreasohlund commented on #4526
@indualagarsamy given https://github.com/Particular/NServiceBus/issues/4526#issuecomment-283885794 would you say that we can close this as "by design" ?

[2017-03-15 08:43] andreasohlund commented on #4525
Do we need a call to reach a conclusion?

[2017-03-15 17:24] Niklas-Peter commented on #4544
I think usually the SagaFinder makes its decision based on correlation properties, but with advanced logic not possible using the ConfigureHowToFindSaga() approach. Hence, the SagaFinder should be responsible for storing the correlation properties' values in the saga state when creating a new saga instance. Else it can be necessary to add code in the Saga class itself, that only exists for the sak

[2017-03-15 18:37] andreasohlund commented on #2602
Agree with @bording , we should spend our efforts on native TM implementations instead. Closing this

[2017-03-15 18:37] #2602 closed

[2017-03-15 18:38] andreasohlund commented on #2611
PR is merged, closing this

[2017-03-15 18:38] #2611 closed

[2017-03-15 18:46] andreasohlund commented on #3163
Seems like this made in into v6 after all https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.Core/Transports/IDispatchMessages.cs#L14

[2017-03-15 18:46] #3163 closed

[2017-03-15 18:50] andreasohlund commented on #3286
@timbussmann is this still relevant given the cleanup you've done to the acpt tests?

[2017-03-15 18:51] andreasohlund commented on #3316
@ramonsmits can you reopen in https://github.com/Particular/NServiceBus.Encryption.MessageProperty if this is still relevant?

[2017-03-15 18:51] #3316 closed

[2017-03-15 18:52] andreasohlund commented on #3314
@ramonsmits can you reopen in https://github.com/Particular/NServiceBus.Encryption.MessageProperty if this is still relevant?

[2017-03-15 18:52] #3314 closed

[2017-03-15 18:53] andreasohlund commented on #3317
@ramonsmits can you reopen in https://github.com/Particular/NServiceBus.Encryption.MessageProperty if this is still relevant?

[2017-03-15 18:53] #3317 closed

[2017-03-15 18:53] andreasohlund commented on #3320
@ramonsmits can you reopen in https://github.com/Particular/NServiceBus.Encryption.MessageProperty if this is still relevant?

[2017-03-15 18:53] #3320 closed

[2017-03-15 18:53] andreasohlund commented on #3321
@ramonsmits can you reopen in https://github.com/Particular/NServiceBus.Encryption.MessageProperty if this is still relevant?

[2017-03-15 18:53] #3321 closed

[2017-03-15 18:56] andreasohlund commented on #3598
@indualagarsamy closing this, please reopen if you still thing this is worth pursuing

[2017-03-15 18:56] #3598 closed

[2017-03-15 18:57] andreasohlund commented on #3679
@timbussmann pretty sure we can close this?

[2017-03-15 18:58] andreasohlund commented on #3642
The current stance is that we want to backtrack and not support replacement of connectors so I propose we close this?

[2017-03-15 19:01] andreasohlund commented on #4036
@dvdstelt is this fixed in the new external package?

[2017-03-15 19:11] SimonCropp commented on #3204
@andreasohlund i think so

[2017-03-15 19:54] SimonCropp opened #4553 "Should we internalise RuntimeEnvironment?"
It only has the MachineName API, is not documented, and it would seem it is only public for testing purposed? https://github.com/search?p=1&q=org%3AParticular+RuntimeEnvironment.MachineName&ref=searchresults&type=Code&utf8=%E2%9C%93

Propose we obsolete it with warning.

[2017-03-15 19:55] SimonCropp commented on #4553
and this should be an explicit API that extends the MSMQ transport https://docs.particular.net/nservicebus/msmq/full-qualified-domain-name

[2017-03-15 19:59] #3204 closed

[2017-03-15 21:06] SeanFeldman commented on #3362
Service Fabric persistence TF has made an attempt to standardize on the component tests for persistence. Please see details under [PlatDev issue](https://github.com/Particular/PlatformDevelopment/issues/1123#issuecomment-286878971).

[2017-03-16 08:19] pablocastilla opened #4554 "Acceptance tests has problems deserializing jsons"
Hi!

I don't know if I am doing something wrong in the kafka transport, but when I execute acceptance tests I have some failures which I think are not in my side (but I am not sure about this).

For instance: Should_start_the_saga_and_request_a_timeout and others gave me the following exception:

Activated	Event	Time	Duration	Thread
	error onMessage: NServiceBus.MessageDeserializationException: An

[2017-03-16 12:55] timbussmann commented on #3286
this was fixed.

[2017-03-16 12:55] #3286 closed

[2017-03-16 12:56] timbussmann commented on #3679
yep I agree. The APIs in the issue description have been reworked before the v6 release.

[2017-03-16 12:56] #3679 closed

[2017-03-16 12:58] timbussmann commented on #3789
I think this should be handled by https://github.com/Particular/NServiceBus/issues/4457? I propose to close this

[2017-03-17 07:30] timbussmann commented on #4544
I think your argumentation holds up as we indeed set the correlation property automatically on a regular mapping.

But to be honest I don't think this is a feature coming soon, because:
* There is a workaround available by moving these assignments into the handlers which might violate some separation of concerns rules, but makes this a non-blocker.
* This will require a breaking change to the saga

[2017-03-17 07:51] timbussmann commented on #4554
hey @pablocastilla

I tried to switch this test to use the JSON serializer and it works fine for me. Do you have a repro I can have a look at?

[2017-03-17 08:33] timbussmann commented on #4547
Thanks for the bug report @Niklas-Peter , will be fixed as part of 6.2 👍

[2017-03-17 08:58] timbussmann commented on #4549
you are correct, ideally there should be stream support for the DataBusProperty. It's mainly an old design flaw which was never addressed so far as there was no real demand for it.

Our recommendation is to use the samples for using streams via pipeline extensions, which allows for much better customization tailored to the specific needs.

sidenote: It's very likely that the DataBus APIs will be m

[2017-03-17 09:06] Niklas-Peter commented on #4549
I just noticed some weaknesses of the Stream sample:

- The Stream is created once for all handlers. If the first handler reads the first byte from the stream the cursor is changed and subsequent handlers can not read the data again.
- The Stream is disposed in the pipeline behavior. If the handler passes the Stream to an object still available after the current message was processed, this outside

[2017-03-17 09:18] #4547 closed

[2017-03-17 13:38] stimms opened #4556 "Attempting to publish from a Send Only endpoint should throw an exception"
The subscription mechanism requires that endpoints be able to read from a queue to set up their subscriptions. However send only endpoints have to queue from which to read and thus no way to get subscriptions (other than manual subscription). Messages published from send only endpoints are destined to never have any destinations. It is not immediately apparent that this is the case, it would be ni

[2017-03-17 13:49] janovesk commented on #4556
Hi, @stimms!

Thanks for reaching out.

This is a scenario we have thought about, and it's valid.

It's true that the send-only endpoints themselves will not be able to receive message driven subscriptions, but it's perfectly valid for them to use a subscription store that is populated by a helper endpoint that is not send-only. Remember also that we support transports that have built-in support f

[2017-03-17 13:49] #4556 closed

[2017-03-20 03:04] mikeminutillo commented on #4549
@SimonCropp are you able to handle these questions about the Streaming attachments sample?

[2017-03-20 04:19] SimonCropp commented on #4549
@Niklas-Peter

you are correct that the stream should be injected on each handler execution. I have fixeds the [behavior in docs](https://docs.particular.net/samples/pipeline/stream-properties/#configuring-the-pipeline-behaviors) to reflect that.

[2017-03-20 13:24] dbelcham commented on #3789
I agree that #4457 covers this. When that work is done there will be a much cleaner delineation between Core-only tests and downstream tests.

[2017-03-20 13:24] #3789 closed

[2017-03-21 07:31] timbussmann commented on #4549
@Niklas-Peter given that @SimonCropp adjusted the sample based on your feedback, are you good with me closing this issue?

[2017-03-21 07:33] timbussmann commented on #4553
@SimonCropp aren't we using it here: https://github.com/Particular/docs.particular.net/blob/4dd3ab2b7c0a13136dc3ee988694578c7d717443/Snippets/MsmqTransport/Core_4/FQDM.cs ?

[2017-03-21 07:34] timbussmann commented on #4365
closing this as no objections have been raised since the last comment.

[2017-03-21 07:34] #4365 closed

[2017-03-21 07:38] timbussmann commented on #4554
hey @pablocastilla , any updates on this issue?

[2017-03-21 07:45] andreasohlund commented on #4492
I think `Won't fix` is correct, forwarding should IMO mean "forward a exact copy of the incoming message to endpoint X", this should should include TTBR

[2017-03-21 07:52] pablocastilla commented on #4554
It is strange, sometimes it fails and sometimes it doesn't fail. I think you can close at this moment. I will reopen it if I find something.

Thanks so much

[2017-03-21 07:56] timbussmann commented on #4554
will close this for now then. Happy to reopen this if you find a way to reproduce the issue so we can have a closer look at this.

[2017-03-21 07:56] #4554 closed

[2017-03-21 10:14] andreasohlund commented on #4119
This seems like a low hanging fruit, do you want to send in a PR @ramonsmits ?

https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.Core/Routing/UnicastPublishRouter.cs#L77

[2017-03-21 10:25] andreasohlund commented on #3915
With PerfCounters gone in v7 we only have a few left

  C:\dev\NServiceBus\src\NServiceBus.Core.Tests\ArgumentExceptionTests.cs(13):        [Explicit]
  C:\dev\NServiceBus\src\NServiceBus.Core.Tests\Config\When_using_convention_based_messages.cs(9):        [Explicit("//TODO: re-enable when we make message scanning lazy #1617")]
  C:\dev\NServiceBus\src\NServiceBus.Core.Tests\Unicast\HandlerInvocat

[2017-03-21 10:28] andreasohlund commented on #3837
Given that message driven pub sub is more becoming a niche thing should we consider closing this?

[2017-03-21 10:32] andreasohlund commented on #4051
Is still an issue? (Remember that we talked about this on a PR recently and the consensus seemed to that its a non issue)

[2017-03-21 10:35] adamralph commented on #3915
@andreasohlund I defer to my previous comment:

I'll leave it up to @Particular/nservicebus-maintainers to judge the importance of the last point.

[2017-03-21 10:37] andreasohlund commented on #3915
@Particular/nservicebus-maintainers please reopen if needed

[2017-03-21 10:37] #3915 closed

[2017-03-21 10:42] danielmarbach commented on #3759
@ppittle We are working on a Service Fabric persistence for Outbox and Sagas. We will not address Timeouts, Subscriptions and Gateway deduplication. Timeouts and Subscriptions become more and more part of the transport. For gateway deduplication mostly the InMemory one is good enough.

The work is ongoing and can be observed on this repo https://github.com/Particular/NServiceBus.Persistence.Servic

[2017-03-21 10:52] cremor commented on #4525
The documentation I linked in https://github.com/Particular/NServiceBus/issues/4525#issuecomment-284139726 was updated to not mention permissions any more. The documentation was moved to https://docs.particular.net/nservicebus/msmq/ in Particular/docs.particular.net#2227 and now has the following text:

And while this issue is about the "Everyone" group, the "Anonymous" group should not be forgott

[2017-03-21 11:37] SimonCropp commented on #4549
@Niklas-Peter

You can of course change the sample to work this way. the sample does not work this way by default since it is preferable to perform all handler related actions inside the scope of the current transaction, so if any exceptions occur the transaction will roll back

[2017-03-21 12:39] Niklas-Peter commented on #4549
@timbussmann Yes, I agree.

[2017-03-21 12:39] #4549 closed

[2017-03-21 12:57] dbelcham commented on #4051
We're still finding them occasionally when we're doing the review of the acceptance tests #4457 . We split them apart at that time, so I'd say that we're cleaning this up. By the time we're done #4457 the problem shouldn't exist anymore....until someone creates a new test file with two tests.

[2017-03-21 20:41] andreasohlund commented on #4058
The v6 code will [log a warning](https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.Core/Recoverability/RecoverabilityExecutor.cs#L28) and I think that is close enough. Closing this and attaching it to the v6 milestone

[2017-03-21 20:41] #4058 closed

[2017-03-21 20:43] andreasohlund commented on #4091
I don't see us enforcing this in the core, please re-open if you feel strongly for this @ramonsmits

[2017-03-21 20:43] #4091 closed

[2017-03-21 20:46] andreasohlund commented on #3439
@SzymonPobiega ok to close this?

[2017-03-21 20:47] andreasohlund commented on #3315
Closing this, please reopen in the new external repo if relevant @ramonsmits

[2017-03-21 20:47] #3315 closed

[2017-03-22 03:44] #3439 closed

[2017-03-22 11:43] allex32 opened #4566 "Assembly load exception in AssemblyScaner.ReferencesNServiceBus()"
Good day.
I'm trying use NServiceBus in a complex legacy WinForms application.
When I try to start `EndpointInstance `inside WinFormApp (for example, when user click on the button), the following error occurs :
`System.Exception: Could not load "..\LegacyApp.Win.vshost.exe". Consider excluding that assembly from the scanning. The assembly "..\LegacyApp.Win.vshost.exe" has already loaded from a dif

[2017-03-22 12:51] timbussmann commented on #3837
well there are not really any changes done to MDPS so I'd say let's keep it in the backlog for now and revisit your suggestion once we reduced the usage of MDPS?

[2017-03-22 13:25] janovesk opened #4567 "Interface based message inheritance, conventions and json serializer does not play well together"
### Problem
The combination of

1) An interface based message inheriting another interface based message
2) Convention based definition of events
3) JsonSerializer

does not work correctly. :(

If you publish a interface based message that inherits from another interface based message, a subscriber of the base message will blow up with a deserialization message stating that it can not instanciate

[2017-03-22 13:26] janovesk commented on #4567
Possibly related to https://github.com/Particular/NServiceBus/issues/4452

[2017-03-22 16:18] timbussmann commented on #4567
@Particular/nservicebus-maintainers does this qualify as critical?
@janovesk are you investigating further on this issue?

[2017-03-22 16:49] bording opened #4568 "What should transports do when onError throws?"
As brought up in the comments to #4561 starting [here](https://github.com/Particular/NServiceBus/pull/4561#issuecomment-288196994), there is a difference in how the various transports handle the scenario of the `onError`  func throwing an exception.

Currently, MSMQ and SQL raise a critical error, but RabbitMQ and ASQ don't (not sure about what ASB does, but I'm guessing it doesn't either).

CC: @

[2017-03-22 18:49] SeanFeldman commented on #3837
"MDPS" as in "Message Driven Pub/Sub". Not even a TLA 😛

[2017-03-22 22:10] bording commented on #4566
@allex32 Have you tried to specifically exclude the `LegacyApp.Win.vshost.exe` file mentioned in the error message? That is the Visual Studio hosting process, which it uses to enable some debugging scenarios.

What version of Visual Studio are you using? I've tried reproing the problem with Visual Studio 2015, and I can't replicate it.

I'm not sure why the hosting process is causing this issue fo

[2017-03-23 00:37] SeanFeldman commented on #4568
ASB will raise a critical error and it's up to the endpoint host to decide what to do.

[2017-03-23 07:33] tmasternak commented on #4568
As already mentioned in the original PR SQL will trigger circuit breaker and if the problem persists raise critical error.

BTW, should the question here be more: "Should Core enforce behavior on the transport when onError throws"? (to that my answer would be 'no')

[2017-03-23 09:29] timbussmann opened #4570 "Do we support generic messages and handlers?"
I wasn't able to find some explicit statement whether we support generic messages and generic handlers, e.g. `MyMessage<SomeOtherType>` with a  handler `MyMessageHandler : IHandleMessages<MyMessage<SomeOtherType>>`.

There seems to be an older issue which would indicate this being supported: https://github.com/Particular/NServiceBus/issues/1549 but as of now, I'm not aware of any acceptance test r

[2017-03-23 12:46] adamralph commented on #4568
I'd regard `onError` as something that the core should guarantee to never fail unless something catastrophic has occurred. It follows from that the transport should not swallow the exception, but let it propagate right out.

[2017-03-23 20:22] bording commented on #4568
@tmasternak Looking at the code it appears that SQL skips the circuit breaker and directly raises the critical error, just like MSMQ: https://github.com/Particular/NServiceBus.SqlServer/blob/develop/src/NServiceBus.SqlServer/Receiving/ReceiveStrategy.cs#L79

[2017-03-23 20:24] bording commented on #4568
@SeanFeldman I took a look at the ASB code, and it appears that it actually does arm the circuitbreaker, and not raise a critical error directly:

https://github.com/Particular/NServiceBus.AzureServiceBus/blob/e88d11c562e786fe188bc0ef163a8642c6fb305e/src/Transport/Seam/MessagePump.cs#L71

https://github.com/Particular/NServiceBus.AzureServiceBus/blob/e88d11c562e786fe188bc0ef163a8642c6fb305e/src/Tr

[2017-03-23 20:37] SeanFeldman commented on #4568
@bording we [arm the circuit breaker](https://github.com/Particular/NServiceBus.AzureServiceBus/blob/e88d11c562e786fe188bc0ef163a8642c6fb305e/src/Transport/CircuitBreakers/RepeatedFailuresOverTimeCircuitBreaker.cs#L57) upon unrecoverable errors. When CB is armed and triggered, the [registered trigger action](https://github.com/Particular/NServiceBus.AzureServiceBus/blob/590f020af658b36386df2128253

[2017-03-23 20:40] bording commented on #4568
@SeanFeldman Right, the point I'm trying to make is that you arm the circuitbreaker. You aren't raising the critical error directly like SQL and MSMQ are.

[2017-03-23 20:42] SeanFeldman commented on #4568
Ah, yes. That is correct @bording .

[2017-03-23 20:42] bording commented on #4568
@adamralph From what I understand the scenarios that could throw are:

1. The message needs a delayed retry and sending that message (either to the timeout manager or natively) fails
2. The message needs to be sent to the error queue, and sending that message fails
3. The user has configured a custom retry policy and something in their code throws

Case 1 and 2 could be transient for most of the t

[2017-03-23 20:45] bording commented on #4568
@tmasternak I like your suggestion for a clearer title.

Ultimately, I wanted to show that currently we have lots of different behavior here. Is this something that is OK, or should there be consistent behavior that is enforced via a TransportTest?

[2017-03-23 22:04] dbelcham opened #4573 "Publish|Reply|Unsubscribe|SubscribeOptions merges into parent context"
## How to know if you are affected

You are affected if you pass `ReplyOptions`, `PublishOptions`, `UnsubscribeOptions` or `SubscribeOptions` into the corresponding `IMessageSession` or `IMessageHandlerContext` operation as demonstrated in the following snippets:

[code]

[code]

## Symptoms

### Leaking settings between outgoing operations

Options and values set on `PublishOptions`, `ReplyOption

[2017-03-24 14:25] timbussmann commented on #4573
This has been addressed in hotfixes 6.1.4 and 6.0.7 and is also merged into develop. Closing this.

[2017-03-24 14:25] #4573 closed

[2017-03-24 16:52] adamralph commented on #4568
I'm leaning toward:

[2017-03-27 06:53] andreasohlund commented on #4567
Talking this through with @timbussmann we decided to not rush the fix for this into 6.2 since its to risky.

The user have a workaround for now and the bug would be found during development. Assigning this to 6.3 since we still believe this needs to be addressed

[2017-03-27 08:08] tmasternak commented on #4568
You are correct, my bad.

[2017-03-28 05:44] timbussmann opened #4580 "Make RootContext immutable"
As we have seen inhttps://github.com/Particular/NServiceBus/issues/4573, there is the possibility of some code accidentally (or intentionally) modifying/adding values to the root context. As the `RootContext` class is used as a base class for every incoming or outgoing pipeline context, this might have a huge impact on the whole endpoint.

For safety, we should prevent this risk by making the `Roo

[2017-03-29 08:57] Tsjunne opened #4585 "Saga's handling same timeoutmessage type both get invoked"
When requesting a timeout in a saga with a timeout state X, every saga that uses the same timeout state X gets invoked if they share the same SagaData type.

Despite the message headers containing the correct saga type in 'NServicebus.SagaType', timeouts requested in one saga type get processed in other types.

[2017-03-29 10:04] andreasohlund commented on #4585
What version of NServiceBus core is this? What saga persister + version are you using?

[2017-03-29 13:13] andreasohlund commented on #4585
How does you sagas look like, I was trying to repro this with this setup:

[code]

But that won't even run since the persister will try to create the same instance twice and hit a concurrency error?

[2017-03-29 13:29] andreasohlund commented on #3647
Just adding that we should at least add a backdoor to allow the upcoming development transport to specify a default error and audit queue, no need to burden the users with this. A wellknown settings key would be good enough

[2017-03-30 05:13] mikeminutillo opened #6492 "Getting Started with Request-Response requires too much messaging domain knowledge"
## Problem Definition (Required)

When customers are first getting started with NServiceBus we often try to replace calls to web services with specific integration endpoints. Frequently this involves creating a new endpoint that calls the web service, adding messages for each request/response interaction, and creating a client endpoint to send requests (and optionally, wait for results). This is a

[2017-03-30 07:49] andreasohlund commented on #4585
Does the start messages have the same correlation id?

Ie is this test reproducing your scenario? https://github.com/Particular/NServiceBus/blob/saga-data-reuse/src/NServiceBus.AcceptanceTests/Core/When_reusing_saga_data.cs

[2017-03-30 09:06] Tsjunne commented on #4585
Ah yes, that would have been the case.

[2017-03-30 09:52] andreasohlund commented on #4585
In that case the inmemory persister prevents me from repro it so I'll move this to the nhibernate repo

Reusing saga timeouts and sagastate us usually a very bad idea, can you share the business scenario you are targeting so that we can try to find  a better design for you?

[2017-03-30 11:48] Tsjunne commented on #4585
I figured as much :) It was one of our devs that stumbled upon the issue. It was just a case of code reusability for a bunch of saga's that did pretty much the same thing, but different contexts. But we solved it since, using a discriminator for the sagadata.
So if this scenario isn't anything that should be supported, feel free to close the issue.

[2017-03-30 15:32] timbussmann commented on #4580
good point brought up by @bording: we should probably also verify/test that we do not accidentally set/leak into parent context when creating new behavior contexts in the different pipeline stages.

[2017-04-03 03:51] mikeminutillo commented on #4580
Is this limited to RootContext? Would it make sense to allow any context to be frozen and cause any modification to it to throw? In #4573, it was possible for the parent context (a handler invoke) to have things incorrectly put into it.

As soon as something becomes a Parent context, it doesn't make sense to add anything to it. Any downstream dependencies are usually reading objects from the paren

[2017-04-03 07:35] timbussmann commented on #4580
this is not strictly limited to rootcontext but the other contexts cannot be completely frozen, e.g.:

StageContextA is parrent of StageContextB. During stage B, context A must not be modified, but in the behaviors in stage A, context A must be modifiable all the times. There is little/no risk in leaking settings/data between operations that's why it's probably not worth in going beyond testing th

[2017-04-03 08:58] timbussmann opened #4592 "Assert parameter order"
It seems that many tests and acceptance tests use the wrong parameter order on `Assert` statements.

[2017-04-04 14:14] andreasohlund commented on #4585
@Particular/nhibernate-persistence-maintainers can you eyeball this test

https://github.com/Particular/NServiceBus/blob/saga-data-reuse/src/NServiceBus.AcceptanceTests/Core/When_reusing_saga_data.cs

would NHibernate create a table per saga even though the saga entity type is shared?

[2017-04-04 15:38] indualagarsamy commented on #4525
Had a chat with @andreasohlund and our discussion is summarized as follows:

- The [queue creation code](https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.Core/Transports/Msmq/MsmqQueueCreator.cs) does not explicitly add "Everyone" group either for workgroup or domain. The everyone group having these quirks is a Windows/MSMQ thing and not necessarily by us.
- The documentation

[2017-04-04 15:41] indualagarsamy commented on #4526
Had a chat with @andreasohlund and agreed that we can make a change to make this code better.
As pointed out by @gbiellem a better solution would to be WARN if the "Everyone" group has any of the permissions in the "Allow" role than the "Deny" role. This should get rid of the false warnings.

[2017-04-04 16:06] indualagarsamy commented on #4516
Had a chat with @andreasohlund. Our discussion is summarized as follows:
- We agree that we need a API rather than pass these settings as we do in the connection string.
- We agree that the "UseTransactionalQueues=false" is a dangerous setting.
- Express messages are believed to be completely in-memory. However that is not true. Express messages are also persisted to disk. The only difference is t

[2017-04-04 16:24] andreasohlund commented on #4516
Just adding that the WARN would state that this "feature" will be removed in v7

[2017-04-05 07:32] MarcinHoppe commented on #4585
@andreasohlund One table will be created per saga data type. In this case, there will be only one table.

[2017-04-05 08:06] andreasohlund opened #4596 "Make the saga persister API force persisters to use saga type instead of entity type for tables/folders/collections etc"
As highlighted in [this issue](https://github.com/Particular/NServiceBus/issues/4585#issuecomment-291778504) its up to the persisters to make the call. Most of them use the saga entity type.

We should find a better api that pushes the persisters to use the saga type name of similar since that:

* Is more intuitive for the users
* Allows reuse of sagadata (not a big win but mentioning it anyway)

[2017-04-05 08:08] andreasohlund opened #4597 "Prevent saga entity type reuse"
Since it can cause incorrect behavior depending on what persister is used.

See https://github.com/Particular/NServiceBus/issues/4585#issuecomment-291778504

@Particular/nservicebus-maintainers this is a trivial change in the saga meta data collection. I propose we do this in 6.3

[2017-04-05 08:11] andreasohlund commented on #4585
@Tsjunne that seems to explain the vierd behavior. We'll do the following:

* Prevent saga entity reuse as of 6.3 https://github.com/Particular/NServiceBus/issues/4597
* Try to improve the persister API to use saga types when naming storage entities like tables/folders/collections etc
* Figure out why the invocation happened even though the header was present to indicate that the timeout was suppo

[2017-04-05 09:45] Tsjunne commented on #4585
#4596 Looks like a pretty big change, that would not necessarily feel more intuitive, since data and behavior are already split up in the model and data is the thing that gets persisted.
I guess #4597 could prevent this weird behavior from occuring.

The only thing that is truly wrong is the fact that a saga instance processes a timeout that was clearly created by another saga and labeled as such

[2017-04-05 09:48] andreasohlund commented on #4585
Ah gotcha, I though we had that code in 6.1 that's why I thought this was a new bug.

Would you have any chance to upgrade to 6.2 to confirm that this is fixed?

[2017-04-05 09:57] Tsjunne commented on #4585
Hmm, well we already created different sagadata types and made the old shared one abstract. This served as a workaround. But i checked the code that i pulled in a few weeks ago and I remarked that no check was done on the saga type and this would cause the behavior. The code that was missing is exactly what was added in 9352637.
So as far as i am concerned, this is fixed in 6.2, and there is no ne

[2017-04-05 10:02] andreasohlund commented on #4585
Awesome, still thing the saga name is a better and more intuitive name for tables etc. We'll discuss that internally and see what gives.

Thanks for all the help!

[2017-04-05 10:02] #4585 closed

[2017-04-05 12:50] janpieterz opened #4598 "ILMerged/Costura seems to prevent pipeline from building"
Though with the flag `scanner.ScanAppDomainAssemblies = true;` one would assume it scans the assemblies in the app domain, the pipeline itself won't be sufficiently build up when, for example, the final exe is merged and the redundant assemblies have been removed from the final directory.

The NServiceBus assemblies have been loaded (confirmed in Debug->Modules) at the time of the `endpoint.Start(

[2017-04-06 06:36] danielmarbach opened #4601 "Better tests for message deferral?"
From https://github.com/Particular/NServiceBus.AzureServiceBus/pull/519#discussion_r109590791

As @timbussmann rightfully pointed out this would have the drawback of potentially longer running tests for the "message not received" part

https://github.com/Particular/NServiceBus.AzureServiceBus/pull/519#discussion_r109942975

[2017-04-06 07:28] timbussmann commented on #4601
yeah we are struggling to have good tests around all sorts of delayed sends (including slr and saga timeouts). I think there are actually different things we would like to verify:

* is the message indeed configured to be delayed? This is hard to verify in the core as we can only check for certain configurations/settings as the rest is responsibility of the transport. From a core perspective it mi

[2017-04-06 07:58] andreasohlund commented on #4598
Can you see if there are [`stages`](https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.Core/Pipeline/PipelineModelBuilder.cs#L82)  available?

We've seen cases where type comparisons start to fail when Costura is involved. Would you be able to change https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.Core/Pipeline/PipelineModelBuilder.cs#L96 to compare on ty

[2017-04-06 08:02] janpieterz commented on #4598
Any idea how I can easily step into this?

It runs in NSB host, so might need to get that repo and run that? I'll see if I can make some time available.

[2017-04-06 08:33] andreasohlund commented on #4598
Don't worry @janpieterz I've been able to  run your repro, will report back my findings soon

[2017-04-06 09:04] andreasohlund commented on #4598
Found the issue, when Costura is used our scanner can no longer find any types so we can't find any features to activate and that causes the exception you're hitting.

Not sure we can support this at all, what's your use case for Costura?

[2017-04-06 09:11] janpieterz commented on #4598
Ease of deployment for certain endpoints that run on premise at customers
(aka deploying a whole load of dll's becomes more manual effort, while
deploying one .exe is very simple). Also for some internal tools we drop
them into single exes, but these could be expanded.

Things to note are that this endpoint used to work in V5 (encountered this
during upgrade) with Costura.

 Could I manually load

[2017-04-06 09:12] andreasohlund commented on #4598
Why not Ilmerge them?

[2017-04-06 12:35] janpieterz commented on #4598
Yeah, that would be the alternative, but would obviously cost some time to
implement over all the endpoints and the build processes.

Not something you guys will pick up as it's regressed from the scanning in
V5?

On Thu, 6 Apr 2017 at 11:12, Andreas Öhlund <notifications@github.com>
wrote:

--
Met vriendelijke groet,

Jan-Pieter Zoutewelle

[2017-04-06 12:36] andreasohlund commented on #4598
We have some ideas, stay tuned cc @timbussmann

[2017-04-06 14:00] dbelcham commented on #4592
@timbussmann should we make this part of the work in #4457? Maybe something we do as a final review?

[2017-04-07 06:45] timbussmann commented on #4592
I'm good with that 👍

[2017-04-07 06:46] timbussmann commented on #4592
it's listed as a task i https://github.com/Particular/NServiceBus/issues/4457 so I'm good to close this.

[2017-04-07 06:46] #4592 closed

[2017-04-07 07:05] andreasohlund commented on #4598
@janpieterz I didn't realized that we supported this in v5. We'll fix this, see https://github.com/Particular/NServiceBus/pull/4603

What's your timeline? (when would you need the fix)

[2017-04-07 09:59] janpieterz commented on #4598
No rush at all for this, for our internal tools we've disabled Costura, and for the on premise deployment it would be relevant in two months.

[2017-04-07 10:36] andreasohlund commented on #4598
Seems just about right since we should have a 6.3.0 ready in that timeframe

[2017-04-10 08:04] andreasohlund commented on #4598
@Particular/nservicebus-maintainers I've added this to the 6.3.0 milestone

[2017-04-10 18:42] dasjestyr opened #4608 "Constantly throwing transaction exceptions"
So I have a process that issues a few thousand commands to the bus and I'm not getting errors during that part. While I'm waiting for the handler for that command to pick up and hit a break point (which it never does), NSB is emitting and exception that indicates that a connection has not been disposed and/or it's causing some conflict with the transaction. A couple other things I noticed is that,

[2017-04-11 06:21] indualagarsamy opened #4610 "MSMQ: The TryGetPermissions function in MessageQueueExtensions does not take the ACEType into account"
Currently the TryGetPermissions method in the MessageQueueExtensions class determines what message queue access rights are present for a given user Sid. However, the method does not return if the user has Allow access or Deny access.

[2017-04-11 06:24] timbussmann commented on #4608
@dasjestyr as this seems to be an issue with sending messages, can you share that code (or a repro sample) with us? Also, did you make sure to `await` operations properly?

[2017-04-11 07:57] timbussmann opened #4611 "Change subscription storage seam to not receive the message hierarchy"
When querying for subscribers in https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.Core/Routing/MessageDrivenSubscriptions/ISubscriptionStorage.cs we pass the full message hierarchy as a parameter. In order to reduce/eliminate the need to know the message hierarchy at the core, I think we should change this API to just pass the the published message type. The message type shou

[2017-04-11 08:02] MarcinHoppe commented on #4611
What is not clear to me is why this change is beneficial and what problem does it solve.

[2017-04-11 09:09] timbussmann commented on #4611
@MarcinHoppe mostly to free the core from the responsibility to store "message metadata" which currently only contains the message hierarchy. It would allow us to simplify code and seam APIs.

[2017-04-11 11:41] timbussmann opened #4613 "MessageID is reused when reusing SendOptions"
When reusing `SendOptions` (or other option classes) for multiple sends, all outgoing messages have the same message id as the message id is generated when the options are instantiated. The following code causes all outgoing messages to use the same id:

[code]

## Who's affected

All outgoing operations reusing the same `SendOptions`, `PublishOptions`, `ReplyOptions`, `SubscribeOptions` and `Unsu

[2017-04-11 12:43] SzymonPobiega commented on #4611
🔥 the subscription store.

[2017-04-11 14:28] DavidBoike commented on #4611
This seems like a benefit to the Core, but it's offloading something complex onto the persisters instead. It seems like an academic exercise to just move the code around, and now multiple packages are going to have to do the exact same thing, in the exact same way, or we'll have an even bigger mess.

And it would take a whole lot of work to get there, across some packages that, quite frankly, work

[2017-04-12 11:15] #4526 closed

[2017-04-12 11:15] #4610 closed

[2017-04-12 16:28] dasjestyr commented on #4608
Here's how the commands are being issued:

[code]

[2017-04-12 20:21] #4613 closed

[2017-04-13 08:02] skhrenov opened #4620 "Issues found by PVS-Studio"
Hello,
I have found a few bugs using PVS-Studio analyzer. PVS-Studio is a static code analyzer for C, C++ and C#: [https://www.viva64.com/en/pvs-studio/](https://www.viva64.com/en/pvs-studio/)

Analyzer warnings:

- [V3027](https://www.viva64.com/en/w/V3027/) The variable 'text' was utilized in the logical expression before it was verified against null in the same logical expression. NServiceBus.C

[2017-04-13 08:41] timbussmann commented on #4608
@dasjestyr are you just invoking this method from a message handler or is more logic involved there? Are you using the same sql server for business data / queries?

[2017-04-13 11:22] andreasohlund commented on #2202
This turns out to be pretty straight forward, see https://github.com/Particular/NServiceBus/pull/4622

[2017-04-13 11:32] andreasohlund commented on #2202
Question is how dangerous this is since we only auto subscribe to events this means that users that skips the conventions won't have their subscriptions setup properly?

We could go back to "autosubscribe to everything we have a handler for" that we had in v4?

[2017-04-13 12:43] timbussmann commented on #2202
probably no big deal for MSMQ, especially when no publishers have been registered, but not sure how this would impact rabbit and other transports? @bording

[2017-04-13 13:02] timbussmann commented on #4620
Hi @skhrenov,

Thanks for raising this issue and pointing out your findings 👍

I raised #4623 to address the first point, although I think the InnerText property can't return null in the first place but the if statement reads better regardless.

I don't think we need to address point 2, as the XContainerJsonConverter is a converter especially registered for XContainer objects (see https://github.c

[2017-04-13 16:36] dasjestyr commented on #4608
This is being invoked from a handler that is handling a different command. Basically CommandA is issued by a scheduler to start spawning these other commands. CommandB is the one pasted above which spawns about 7000 more commands. The sql server is the same server that we're using for business operations, just a separate physical database (nsb_dev.dbo.*). The server isn't under any noteworthy load

[2017-04-13 16:53] bording commented on #2202
The main thing that would happen in Rabbit is that you'd end up creating type exchanges and bindings that would end up never being used, if the type was actually only even sent and not published. It wouldn't be a problem, aside from creating infrastructure in the broker that never gets used.

[2017-04-15 10:10] andreasohlund commented on #3945
Should we consider to start logging a WARN in 6.3 to prepare users for v7? (since msmq will go out of the core)

[2017-04-15 10:13] andreasohlund commented on #3345
Do we keep this open until v7 or close now as done?

[2017-04-15 10:14] andreasohlund commented on #2779
@bording is this something that you might have fixed/can fix as part of https://github.com/Particular/NServiceBus/pull/4588 ?

[2017-04-15 10:22] SimonCropp commented on #3345
@andreasohlund obsoleteex will stop us from forgetting. So i think close this and raise a new placeholder issue to show up in the release notes. So assign the new issue to the v7 milestone and close it

[2017-04-15 15:24] bording commented on #2779
@andreasohlund I'll have to verify to make sure I'm understanding the scenario correctly, but I think this would already be fixed by #4588.

[2017-04-17 11:33] dbelcham commented on #3945
Sounds like a good idea to me.

[2017-04-17 12:32] danielmarbach commented on #3945
Good idea. I wonder if it would be so bad to make it mandatory immediately. I know "breaking chance" but is it worth being religious here?

[2017-04-17 13:30] DavidBoike commented on #3945
Because all the routing API is accessed via UseTransport, and we're also warning if you're using MessageEndpointMappings, I think it's sufficient to warn in 6.x.

[2017-04-18 07:11] andreasohlund commented on #3345
Why not just assign this to the v7 milestone and perhaps re-title this one?

[2017-04-18 07:12] SimonCropp commented on #3345
happy either way

[2017-04-18 09:14] andreasohlund commented on #3345
@Particular/nservicebus-maintainers thoughts on the process here, should I just assign to v7 and keep it open or do we close right away? (the code isn't technically gone yet)

[2017-04-18 09:16] andreasohlund commented on #3345
We should also raise a similar issue to track https://github.com/Particular/PlatformInstaller/issues/207#issuecomment-294729271

[2017-04-18 09:32] timbussmann commented on #4608
@dasjestyr are you opening a new sql server connection and/or transaction somewhere within that handler logic (e.g. in `HasBeenRecentlyUpdated`)?

This sounds like the message handling code takes longer than the default message lock (which sounds reasonable when sending 7000 messages).

[2017-04-18 10:41] timbussmann commented on #4620
closing this as #4623 has been merged. Thanks again!

(what email address were sending the emails to?)

[2017-04-18 10:41] #4620 closed

[2017-04-18 10:45] andreasohlund commented on #4278
Assigned to the 6.3 milestone

[2017-04-18 10:46] timbussmann commented on #3945
not really sure about the value this would yield? In the best case, you configure the transport on version before it's mandatory, what would this really change?

I think we should rather spend some thoughts about the transport configuration API. The current API is not well suited for a mandatory option.

[2017-04-18 10:48] andreasohlund commented on #3445
A filebased saga persister will be added in v6.3.0

The value of the others storage types is diminishing fast as most transports are moving towards native pubsub and timeouts. The only transport that might benefit from this in the long run would be MSMQ that could use a filebase dev persister for timeouts. For subscriptions its better go with the current MSMQ persister since that is a sensible def

[2017-04-18 10:49] timbussmann commented on #3345
I think we should close immediately as the move already happened and v7 only removes the core API.

[2017-04-18 10:53] andreasohlund commented on #3345
Yea, since ObsoleteEx will force us to do it I'm good with closing.

I've updated the title to

and assigned this to `7.0.0`

[2017-04-18 10:53] #3345 closed

[2017-04-20 03:40] indualagarsamy opened #4630 "MSMQ: When the queue name is too long, although there is a warning, an unusable queue is still created."
**Steps to reproduce:**

1. Setup a queue name to be more than the accepted length of characters.
I used: `NServiceBus.Core.Tests.MsmqQueueCreatorTests.ReceivingBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB`
2. When the `CreateQueueIfNecessary` in `MsmqQueueCreator.cs` is invoked, while it checks if the queue exists, and if its remote, if not, it

[2017-04-20 03:41] indualagarsamy commented on #4630
@Particular/msmq-transport-maintainers - If you agree with the proposed fix, post a comment here. I am working on a PR. I discovered this when I was working on the PR for unit test cleanup.

[2017-04-20 04:45] andreasohlund commented on #4630
@ramonsmits @timbussmann I have a distinct memory of us leaving this as is for some backwards compatibility reason but I can't remeber the exact details?

[2017-04-20 04:55] indualagarsamy commented on #4630
@andreasohlund @ramonsmits @timbussmann - I don't think it's a good idea to land the user in a potentially unusable situation when creating new endpoints. The change I am talking about is when we create queues. I assume this gets called when a new endpoint is being setup?
Already existing queues should not matter.
Code in question is:
https://github.com/Particular/NServiceBus/blob/develop/src/NSer

[2017-04-20 05:20] indualagarsamy commented on #4630
Updated the issue description with instructions on manually deleting the weird queue.

[2017-04-20 07:15] indualagarsamy commented on #4630
I think we can still do this in a backwards compatible way:

- Always log a warning if the queue length is suspect. See my previous link on the length based on John Breakwell's blog.
- Not throw (if its a valid queue length) but less than the number where SetPermissions blows up.
- Throw if its not a valid queue length(Format name > 124) . The chances of such queues in Prod are less, super edge ca

[2017-04-20 07:35] andreasohlund commented on #4630
@indualagarsamy I raised a similar issue recently (that we closed as won't fix), can you eyeball it and see how it aligns with this?

https://github.com/Particular/NServiceBus/issues/4324

[2017-04-20 15:50] SeanFeldman opened #4632 "Create/update subscriptions in bulk"
Current Subscription API caters for individual subscriptions (create/delete).

During startup, this information could be passed in as a collection to allow transport to optimize the startup time by leveraging smaller number of management operations.

Original (user) request: https://github.com/Particular/NServiceBus.AzureServiceBus/issues/522

[2017-04-20 17:46] indualagarsamy commented on #4630
@andreasohlund - Thanks for the history on #4324. Essentially, it is the same issue, however,  I think the symptoms are more severe than what was listed in that issue, i.e.

Its, not just the warnings about queue permissions, but potentially creating an unusable queue, which may not be displayed properly in both Computer Management tool and also cause problems for other tools like Queue Explorer a

[2017-04-21 06:24] cremor opened #4633 "Assembly scanning exclusion does not work with 'exe' file extension"
The [Assembly scanning](https://docs.particular.net/nservicebus/hosting/assembly-scanning) documentation page doesn't explicitly say this, but from the sample code it looks like it expects file names including the extension in the call to `assemblyScanner.ExcludeAssemblies()`.

My testing with version 6.2.1 shows that for .dll files it doesn't matter if you specify the file extension or not. But e

[2017-04-21 06:52] timbussmann commented on #4632
so essentially a `messageSession.Subscribe(eventType1, eventType2, eventType3, ...)` is what would improve your situation?

But it seems that it would be a cleaner approach to follow up on the "batchable sends" ideas for the message session in general, as this the above api would allow batching for subscriptions but not for sends.

(would a `messageSession.Send(message1, message2, message3)` be th

[2017-04-21 07:05] timbussmann commented on #4633
looking at the following code in the `AssemblyScanner`, I think you're right:

        static string DistillLowerAssemblyName(string assemblyOrFileName)
        {
            var lowerAssemblyName = assemblyOrFileName.ToLowerInvariant();
            if (lowerAssemblyName.EndsWith(".dll"))
            {
                lowerAssemblyName = lowerAssemblyName.Substring(0, lowerAssemblyName.Length - 4)

[2017-04-21 08:55] #4129 closed

[2017-04-21 08:55] #4452 closed

[2017-04-21 08:55] #4567 closed

[2017-04-21 09:00] andreasohlund commented on #4129
Duplicate of https://github.com/Particular/NServiceBus/issues/4567

[2017-04-21 09:00] andreasohlund commented on #4452
Duplicate of https://github.com/Particular/NServiceBus/issues/4567

[2017-04-21 11:22] andreasohlund opened #4634 "Not all message types detected during scanning if message assembly doesn't reference NServiceBus"
Since the scanner currently doesn't look at assemblies that doesn't reference NServiceBus.Core.dll messages in such assemblies won't be found unless there is a handler for it.

Starting with 6.3 this is a non issue since both the message mapper and message registry is able to load those types as the messages arrive to the endpoint. In prior versions this would cause the message to go the error que

[2017-04-21 12:17] dbelcham commented on #4633
I agree that we should strip `.exe`. There's nothing saying that messages can't be in that type of file.

[2017-04-21 14:20] SeanFeldman commented on #4632
Not quite.
What it would mean is to have an addition to `IManageSubscriptions` that has a `Subscribe(List<Type> events,  ContextBag context)` that is invoked when endpoint is bootstrapped and events are scanned. Doing it at the time of when messages are send (i.e. `messageSession.Send(message1, message2, message3)`) is too late.

[2017-04-21 16:09] andreasohlund commented on #4632
We have talked about passing the list of subscribers to the transport at
.Init time. That would be better imo since allows the transport to abort
startup should something go wrong when the subscriptions are setup?
On Fri, 21 Apr 2017 at 16:20, Sean Feldman <notifications@github.com> wrote:

[2017-04-21 16:36] timbussmann commented on #4632
so the core currently only subscribes via the `AutoSubscribe` startup task which is done when the endpoint is essentially started but before it starts consuming messages. Passing subscribers earlier would probably be quite a change and only works with native pub/sub transports and not with message driven pub/sub (as it requires a started transport by it's nature) so that sounds like a much larger

[2017-04-21 16:39] SeanFeldman commented on #4632
Due to the nature of those events (auto-subscribed upon endpoint startup), possible candidates:
- `SubscribeAutomatically`
- `SubscribeOnStartup`
- `SubscribeToKnownEvents`

[2017-04-21 16:40] andreasohlund commented on #4632
I was talking about the endgame, sorry should have been more clear. In a
world where transports fully manage the pubsub part I don't see how the
transport not being started would be an issue.

Not against considering the bulk subscribe idea in the interim
On Fri, 21 Apr 2017 at 18:36, Tim Bussmann <notifications@github.com> wrote:

[2017-04-22 07:32] andreasohlund commented on #4597
Starting to doubt my self here, not sure if this is worth it. I wonder if we instead should consider making the "SagaTypeId" and explicit thing in the seam and pass it where appropriate to avoid the persisters having to assume that they should use the type of the entity.

If that was the case we would perhaps instead take that "id" from the saga class it self and not the entity and that would make

[2017-04-24 05:53] timbussmann commented on #4598
@janpieterz with the 6.3 release, using `ScanAppDomainAssemblies` should now also work with assemblies inlined via costura. If you're interested in verifying this, we're happy to help you testing this with an unstable build.

I'm closing this issue for now., but if you're encountering any issues, please let us know. Thanks a lot for raising this!

[2017-04-24 05:53] #4598 closed

[2017-04-24 06:12] timbussmann commented on #4597
not sure I have enough context to make a call on this. But it doesn't sound like a trivial change if this has a chance to influence persistence behavior

[2017-04-24 06:21] timbussmann commented on #4632
@andreasohlund yeah, long term I agree with you, but that seems something for v8?

@SeanFeldman sorry for being unclear, I meant how would you call this method from code without a matching API in the message session? :)

[2017-04-24 15:08] bording commented on #4597
@andreasohlund I'm with @timbussmann on this one, I don't have enough context around the problem and proposed changes. Maybe we can talk about it during a sync meeting?

[2017-04-24 15:23] SeanFeldman commented on #4632
@timbussmann there's some sort of confusion. What I'm referring to is not related to the message session, but is more aligned with a long term (what @andreasohlund is talking about). This would not be a user triggered operation.

[2017-04-24 16:11] bording commented on #4632
@SeanFeldman Take a look at how AutoSubscribe is implemented: https://github.com/Particular/NServiceBus/blob/127b10eb48efcc90eb4d5de7d9645535445d8aeb/src/NServiceBus.Core/Routing/AutomaticSubscriptions/AutoSubscribe.cs#L71

It only has access to an `IMessageSession`, so it just sends multiple `Subscribe` messages. The outgoing subscription pipeline is invoked for each subscription. The terminator

[2017-04-24 16:48] timbussmann commented on #4632
exactly what @bording said. And if we talk about future major API changes I think there are two different things mentioned here:
* Generally rework the subscription mechanism towards an option which works nicer with native mechanisms (e.g. somehow on transport initialization as mentioned by @andreasohlund )
* Generally rework the message session API to allow batched operations. This is a topic alr

[2017-04-24 16:49] dasjestyr commented on #4608
Nope. SQL is only being use for the bus and nothing else. The lock errors are curious because the lock life is like a minute and a half. And I get those errors within the first few seconds.

[2017-04-24 16:51] SeanFeldman commented on #4632
First, thank you @bording for visualizing the discussion. It helps.

Second, for the ASB there's a workaround for now (more management operations on the publisher side of things, but that should suffice), until Core API can be updated in the future.

[2017-04-24 16:54] timbussmann commented on #4608
@Particular/sqlserver-transport-maintainers can you help us out here?

[2017-04-24 18:21] danielmarbach commented on #4632
@timbussmann I'm not yet convinced that a Send with params is a good simple step towards batching. In the UoW proposal I've outlined a good and solid API with examples for various frameworks which would be a step towards batch and easily allows to hook those batched sessions on things like MVC controllers. Batching itself as I've proved with a few spikes is not that complex to achieve even if core

[2017-04-24 19:46] MarcinHoppe commented on #4608
@timbussmann See https://github.com/Particular/NServiceBus.SqlServer/issues/359#issuecomment-296741735.

[2017-04-25 08:36] andreasohlund commented on #3647
After recent discussion we've decided to go ahead and make the core default to `error` but have MSMQ require an explicit value to be set,

This means that all other transport will no longer need the error queue to be configured.

See https://github.com/Particular/NServiceBus/pull/4636/files for more details

Is anyone opposed to this move please chime in

[2017-04-25 08:36] andreasohlund commented on #3647
Assigned to `6.3.0`

[2017-04-25 11:20] timbussmann commented on #4608
I guess it makes sense to not have the same issue in two repos. As this seems to belong to sql transport, are you good with me closing this issue in favor of https://github.com/Particular/NServiceBus.SqlServer/issues/359 (and reopen this in case some further steps are required) @dasjestyr @Particular/sqlserver-transport-maintainers ?

[2017-04-25 15:36] SeanFeldman commented on #3647
So as of `6.3.0` samples should stop using `endpointConfiguration.SendFailedMessagesTo(errorQueueName);`

[2017-04-25 15:50] timbussmann commented on #3647
only if they are not running with MSMQ. But I wonder whether we want to remove them explicitly from the samples, the argument was that we still want to raise a much awareness of the error queue as possible and as the user can't forget to add it, it's fine to keep them on the existing samples I think. But no strong opinion.

[2017-04-25 17:38] andreasohlund commented on #3647
My plan was to remove them, for all transports other than msmq the config
is just noise?

Less code in samples that at not relevant to the sample it self == good
thing IMO

On Tue, Apr 25, 2017 at 5:50 PM Tim Bussmann <notifications@github.com>
wrote:

[2017-04-25 23:10] indualagarsamy commented on #4630
The MMC Snap In has a maximum limit for the queue name to be 115 characters. However, a 115 character queue name when converted to the format name, which includes additional format characters, including the machine name can easily top the buffer size which is 124, hardcoded in the messaging .NET library.

 In Version 5.x, when the format name exceeds 123 characters there will be an exception. This

[2017-04-26 06:02] andreasohlund commented on #4597
Covered by https://github.com/Particular/NServiceBus/issues/4596 , closing

[2017-04-26 06:02] #4597 closed

[2017-04-26 19:47] mluttrell commented on #4567
@andreasohlund any idea when we can expect this?  We're in the process of upgrading to NSB6 and running into this in a number of places.

[2017-04-26 19:58] andreasohlund commented on #4567
My best guestimate is that 6.3.0 will be release end of next week. Does that align with your deadline?

[2017-04-26 20:06] mluttrell commented on #4567
That general timeframe should be fine for us.  Thank you!

[2017-04-26 21:29] #4633 closed

[2017-04-27 21:26] #3647 closed

[2017-05-03 09:06] cremor opened #4657 "Summary documentation on FeatureStartupTask.OnStop wrong"
The summary documentation on `FeatureStartupTask.OnStop` is the same as on `OnStart`: https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.Core/Features/FeatureStartupTask.cs#L18

Also, you might want to update the param documentation since there is no "bus" any more in v6.

[2017-05-03 10:32] timbussmann commented on #4657
Good catch, raised a PR here: https://github.com/Particular/NServiceBus/pull/4658

[2017-05-03 11:58] timbussmann commented on #4508
@Particular/nservicebus-maintainers any reason not to extend the scope of this issue to all configuration section warnings (see also https://github.com/Particular/NServiceBus/pull/4644#issuecomment-298369537)?

[2017-05-03 12:07] #4657 closed

[2017-05-03 16:24] timbussmann commented on #4657
thanks again for raising this @cremor , the summary will be fixed with the 6.3 release 👍

[2017-05-03 16:33] indualagarsamy opened #4660 "MSMQ: Should throw an exception if the machine name exceeds NETBIOS limitation instead of just warn"
Currently we do check for the NetBios limitation here:
https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.Core/Transports/Msmq/CheckMachineNameForComplianceWithDtcLimitation.cs#L29

However, having an non-compliant machine name could result in problems with messages being sent and has resulted in support cases where the NETBios name was the problem.

Instead of just logging a w

[2017-05-03 16:34] indualagarsamy commented on #4660
cc / @Particular/msmq-transport-maintainers

[2017-05-03 18:38] dvdstelt commented on #4660
As I stated in Slack, a customer says it can reproduce a situation where NServiceBus crashes and then the queue gets corrupt!
Not sure if we can reproduce this, but if customer can and there's just the slightest chance of queues getting corrupt, I agree with @indualagarsamy and think we should throw.

[2017-05-04 05:24] timbussmann commented on #4608
closing this then. Please feel free to comment on https://github.com/Particular/NServiceBus.SqlServer/issues/359 to further discuss this issue. I'll leave it to @Particular/sqlserver-transport-maintainers whether they want to investigate this further or not.

[2017-05-04 05:24] #4608 closed

[2017-05-04 06:51] andreasohlund opened #4664 "Limit message size on the learning transport to Min(SupportedTransports)"
At the time of writing this would be 64kb (ASQ).

We would throw telling users that some transports won't handle this and suggest the Databus/Claim check pattern.

We would also provide a config option to up the limit if needed.

cc @Particular/azure-maintainers

@Particular/rabbitmq-transport-maintainers what's the limit on rabbit?

[2017-05-04 08:23] timbussmann opened #4665 "Support dedicated Outbox database"
Currently the Outbox requires business data to be stored on the same database as the Outbox data in order to provide the stated guarantees.

There seems to be a use case where you want to separate these databases (even using different databases) and use DTC to synchronize those two databases. This setup can make sense when using a non-DTC transport but using DTC in general is not an issue. See thi

[2017-05-04 08:37] Scooletz commented on #4664
👍

[2017-05-04 08:41] danielmarbach commented on #4664
Like it

[2017-05-04 11:36] yvesgoeleven commented on #4665
Given that the outbox feature has been created to be able to move away from DTC and that we heavily rely on this fact for environments where DTC cannot be used (e.g. azure). We must make sure that adding this feature does not prevent endpoints from running in these environments.

Furthermore it should be tested with all technology that actively prevents resources from enlisting in transactions (li

[2017-05-04 11:50] andreasohlund commented on #4665
One potential solution is to add the needed extensibility (new pipeline stage) to the core but have relevant persisters provide this mode (Sql, NH, Raven)

[2017-05-04 12:24] yvesgoeleven commented on #4665
Also, make it opt-in. Relying on DTC is never a good idea as it reaches it's limits quite quickly. 2PC the protocol behind DTC is an expontential communication protocol. Each resource manager involved in the transaction has to communicate succesfully with all other resources managers twice. So that means that 1 transaction, spanning 2 db servers and a queue, will cause 8 communication messages beh

[2017-05-04 15:26] bording commented on #4664
RabbitMQ does not have a maximum message size that is enforced, but a really large message would certainly slow things down inside the broker.

OK, technically there is a max length, because the total payload size is included in the AMQP message header frame as an unsigned 64-bit value! 😄

[2017-05-04 15:31] SeanFeldman commented on #4664
Just the fact that out of the box transport will raise the awareness about transports potentially having a message size limit is a move in the right direction. 💯%

[2017-05-04 15:49] yvesgoeleven commented on #4664
👍

[2017-05-04 16:21] timbussmann commented on #4508
closing this as #4644 has been merged and will be included in 6.3

[2017-05-04 16:21] #4508 closed

[2017-05-05 13:23] andreasohlund opened #4675 "How to make sure we start clean when using [TestCase]"
As this [commit shows](https://github.com/Particular/NServiceBus/pull/4668/commits/4ea362eb071304a43f0fe7efc3fcf7b78a527f0c) we might run into trouble when running multiple [TestCase] tests. This is because NUnit will reuse the test instance and in this case the message pump was left partly initialized causing object disposed issues.

Ideas on how to better handle this since this will hit us again

[2017-05-08 04:44] SzymonPobiega commented on #4665
Generally I am 👎 for the separation. The only argument for having separation is to not store excessive amounts of data in the business database (outbox can grow quite big in a high-volume endpoint).

This problem can be addressed by using Outbox-Inbox combo which I have proposed some time ago for SQL persistence: https://github.com/Particular/NServiceBus.Persistence.Sql/pull/58. TL;DR the deduplic

[2017-05-08 13:10] timbussmann commented on #4525
@indualagarsamy what's the state on this issue?

[2017-05-08 13:10] timbussmann commented on #4516
@indualagarsamy what's the state on this issue?

[2017-05-08 13:13] timbussmann commented on #4566
as we haven't received any updates from you @allex32, I'm going to close this issue for now. Please feel free to reopen.

[2017-05-08 13:13] #4566 closed

[2017-05-09 15:50] timbussmann opened #4683 "Provide API to configure custom Conversation IDs"
By default, conversation ids are generated by NSB internally but there are some use cases where users want to manually specify a conversation id in order to "attach"/"link" a new message sent from a `IMessageSession` to an existing conversation.

The current approach to do this is by manually setting the proper Header value. This only works when sending messages from a `IMessageSession` as NSB wil

[2017-05-10 05:52] #4664 closed

[2017-05-10 10:25] johnfake opened #4686 "ASP.NET Core 2.0 support?"
Hi,

could somone comment https://github.com/aspnet/Home/issues/2022 this please?

It seems that ASP.NET Core 2.0 can't reference the full framework anymore.
Because of that, we can't use NSB?!

Any comments or ideas appreciated!
Regards

[2017-05-10 10:32] johnfake commented on #4179
Hi @janovesk ,

currently your statement ist true and works fine:

However, ASP.NET Core 2.0 (release in a few months) cannot target the full framework anymore. I would be nice if you can comment this breaking issue. See https://github.com/Particular/NServiceBus/issues/4686

Best Regards
Alexander

[2017-05-10 15:13] timbussmann commented on #4686
Hi @johnfake

we're currently working towards supporting .net core 2.0 but there is no official commitment to .net core support yet. We expect that we can give some more details about NServiceBus and .net core within the next couple of weeks.

Does that answer your question/concerns?

[2017-05-11 07:08] MarcinHoppe commented on #4686
As a side note, it seems that Microsoft has changed their mind with regards to running ASP.NET Core on the full .NET Framework, which should make NServiceBus usable again in ASP.NET Core applications.

[2017-05-11 07:11] johnfake commented on #4686
@timbussmann Thanks for you comment.

@MarcinHoppe where do you have that information? Build 2017?

[2017-05-11 07:14] MarcinHoppe commented on #4686
The [official announcement](https://blogs.msdn.microsoft.com/webdev/2017/05/10/aspnet-2-preview-1/) posted yesterdays list lack of .NET Framework support as a "Preview1 issue":

At least this is how I and some other community members read this announcement.

[2017-05-11 07:20] johnfake commented on #4686
Hmm.. I think it's a good idea to provide native support for .net core or at least netstandard 2.x. I want to send a message from an API to my backend infrastructure with SqlServer-Transport - that's it.

Let's wait for .NET Core 2.0 RTM :)

[2017-05-11 07:22] MarcinHoppe commented on #4686
As @timbussmann said, we're working on .NET Core support. Stay tuned.

[2017-05-11 07:23] #4686 closed

[2017-05-11 15:27] timbussmann commented on #4632
discussed this on the @Particular/nservicebus-maintainers sync and decided to add it to the future milestone as it's a valid request but would require a major version as some kind of breaking changes would be involved. It seems there are multiple potential approaches which would include this feature, e.g.
* Change subscription mechanisms to be more transport specific and not use the pipeline in th

[2017-05-12 10:41] cremor opened #4698 "Add limited support for TimeToBeReceived in MSMQ transactions"
I'd really like to use the `TimeToBeReceived` attribute in the solution I'm developing right now, but I can't since I also have to use MSMQ in Transaction Scope mode.

According to the [documentation](https://docs.particular.net/nservicebus/messaging/discard-old-messages#caveats-msmq-transport) the problem is that all messages in the same transaction share a TTBR. But wouldn't this also mean that

[2017-05-12 11:09] andreasohlund commented on #4698
Not a 100% true, audits are included but if you turn audit off then yes that would be true.

[2017-05-12 12:58] andreasohlund opened #4701 "License verifier throws unnecessarily on startup"
With the latest license changes in 6.3 we throw one ex

https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.Core/App_Packages/Particular.Licensing/LicenseVerifier.cs#L31

for each license location that we check.

I propose that we fix this as part of 6.3 to avoid noise for when debugging with "break on unhandled exceptions"

@bording this is was introduced when you cleaned up th

[2017-05-12 13:03] cremor commented on #4698
Oh, that's a good point. I use audit in my project, so that would be a show stopper for this improvement for me.

I've done some more research and found a mention of a soft TTBR [here](https://github.com/Particular/NServiceBus/issues/4185#issuecomment-251307921) which links [here](https://github.com/Particular/NServiceBus/issues/3562#issuecomment-250727384). So maybe that would be more suitable fo

[2017-05-12 13:08] andreasohlund commented on #4698
@cremor I've opened up one in our new MSMQ repo (since MSMQ is about to be pulled out of the core )

https://github.com/Particular/NServiceBus.Transport.Msmq/issues/1

Closing this

[2017-05-12 13:08] #4698 closed

[2017-05-12 13:08] andreasohlund commented on #4698
cc @Particular/msmq-transport-maintainers

[2017-05-12 13:37] dbelcham opened #4703 "Do we need to continue to support DoNotAutoSubscribeSagas"
Found this code while doing test reviews. It appears that it exists for backwards compatibility to v4. Should we obsolete in 6.3 with the view of removing in 7?

https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.Core/Routing/AutomaticSubscriptions/AutoSubscribeSettings.cs

[2017-05-12 13:47] timbussmann commented on #4701
btw. this is mostly coming from checking all the registry sources where we "validate" the values even when we see that no registry key is around.

[2017-05-12 13:49] timbussmann commented on #4703
I wasn't even aware of the `AutoSubscribe()` api before that. I think we should also get rid of the "Auto subscribe to plain messages" API.

[2017-05-13 03:19] AnatoliiAPFM opened #4705 "how to disable server certificate validation in RabbitMQ Client?"
Sorry about posting this question in issues, is there a way to disable server certificate validation?

I am getting this exception when trying to connect to a TLS-enabled RabbitMQ

{"The remote certificate is invalid according to the validation procedure."}

 at RabbitMQ.Client.EndpointResolverExtensions.SelectOne[T](IEndpointResolver resolver, Func`2 selector)
   at RabbitMQ.Client.Framing.Impl.A

[2017-05-15 06:29] SimonCropp opened #4706 "Exception incorrectly guides people to use MessageEndpointMappings"
we tell people to use MessageEndpointMappings  [here](https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.Core/Routing/Routers/UnicastSendRouterConnector.cs#L27) and [here](https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.Core/Routing/Routers/UnicastPublishRouterConnector.cs#L37)

 * but [UnicastBusConfig](https://github.com/Particular/NServiceBus/blob/deve

[2017-05-15 06:51] timbussmann commented on #4706
I think we should include this in 6.3 as it seems to be a trivial change aligning the messages better with the upcoming breaking changes.

[2017-05-15 06:51] SimonCropp commented on #4706
@timbussmann i agree since in 6.3 at startup, if people are using MessageEndpointMappings, we now log an error

[2017-05-15 06:53] timbussmann commented on #4705
@AnatoliiAPFM are you using self-signed certificates on the broker?

[2017-05-15 07:22] AnatoliiAPFM commented on #4705
yep using self-signed certificate with a local CA on RabbitMQ,
(set it up according to instructions here: https://www.rabbitmq.com/ssl.html)

[2017-05-15 09:35] timbussmann commented on #4705
in case you configured your broker to use a certificate, why do you want to disable the certificate validation (It's generally speaking highly unrecommended to do so)?

The exception you're seeing is quite common when using self-signed certificates, you might want to look at those links might help you resolve your issues by installing your certificate to the trusted root certification authorities:

[2017-05-15 11:40] #4706 closed

[2017-05-15 11:55] cremor opened #4708 "XML documentation issue on TimeToWaitBeforeTriggeringCriticalErrorOnTimeoutOutages"
Minor issue: The XML documentation on `endpointConfiguration.TimeToWaitBeforeTriggeringCriticalErrorOnTimeoutOutages()` says "By default we wait for 2 seconds for the storage to come back." but the actual default value is 2 **minutes**. This should either be fixed or not mentioned at all (it's already documented at [Handling of persistence errors](https://docs.particular.net/nservicebus/messaging/

[2017-05-15 16:26] AnatoliiAPFM commented on #4705
Other than also validating the server and/or client's certificates there is a lot of value in TLS in encrypting the content over the wire. I would like to take advantage of the encryption, but not so interested in validating the server, especially in dev environment when experimenting with the setup, playing with routing, etc.

Since self-signed certificates can't be validated other than by manual

[2017-05-15 16:50] bording commented on #4705
@AnatoliiAPFM For the RabbitMQ transport, the underlying security settings are handled by the RabbitMQ.Client library we use to connect to the broker. We don't currently expose a way for you to change the validation settings, but I've opened https://github.com/Particular/NServiceBus.RabbitMQ/issues/380 to consider adding this capability.

[2017-05-15 20:15] bording commented on #4701
The `LicenseVerifier` code didn't change as part of the source package update, so as @timbussmann said, this code path is being called more often now that we're checking all possible license locations on startup instead of stopping after the first one found.

Looking what the code is doing, I don't really see how we can change it since parsing the license might need to throw.

[2017-05-15 20:35] AnatoliiAPFM commented on #4705
thanks, guys, would be great if the option became available, for now I disabled certificate name comparison in my custom build of `NServiceBus.Transports.RabbitMQ.dll` by adding the following line:

in file `ConnectionFactory.cs`
after line 43: `connectionFactory.Ssl.Enabled = connectionConfiguration.UseTls;`
inserted line: `connectionFactory.Ssl.AcceptablePolicyErrors |= System.Net.Security.SslPo

[2017-05-15 21:32] DavidBoike opened #4709 "Control messages get stuck with transport-native message ids"
I discovered that while `ControlMessage.Create()` takes a message id, that id is only stored in a property and never makes its way into the message header collection. As a result, when it is received and a header cannot be found, the native message id is inserted back into the message header collection as well.

Noticed this bug while tinkering with RavenDB + MSMQ, because a native MSMQ id contain

[2017-05-15 21:36] DavidBoike opened #4710 "Audit control messages going through Outbox"
I discovered that Subscribe/Unsubscribe messages currently go through the Outbox, which would seem (at least at my first glance) to be unnecessary. Subscribe and Unsubscribe are idempotent operations that do not generate additional outgoing messages.

This is a bit problematic for persisters as Outbox implementations are generally expecting an NServiceBus-generated CombGuid but due to another bug,

[2017-05-16 07:43] andreasohlund opened #4711 "Should we limit the LearningTransport concurrency to 1 by default?"
This would make demoing/learning easier but would hurt the learning of concurrency awareness.

I personally vote for limiting since concurrency can be learnt later when user move to a real tranport

[2017-05-16 08:14] SimonCropp commented on #4711
@andreasohlund can u elaborate on

[2017-05-16 08:20] andreasohlund commented on #4711
You would not have handlers being invoked concurrently, when switching to a prod transport you would so being exposed to it would be delayed to that point in time. I believe this is fine in this case

[2017-05-16 08:20] andreasohlund commented on #4711
As for it making demos easier , Console.WriteLines in handlers wouldn't "come in order" etc

[2017-05-16 08:37] janovesk commented on #4711
Limiting the default concurrency to make them focus on the framework and messaging patterns is a good tradeoff IMHO.

The transition to a production transport is such a huge step anyway, requiring a well thought out plan not to cut yourself.

[2017-05-16 08:42] weralabaj commented on #4711
I also think that limiting concurrency makes things easier, but we should explicitly point that out in the learning samples/tutorials :)

[2017-05-16 08:47] andreasohlund commented on #4278
This is now done

[2017-05-16 08:47] #4278 closed

[2017-05-16 08:49] andreasohlund commented on #4701
But we shouldn't even check if the string is null or empty?

[2017-05-16 08:57] timbussmann commented on #4705
thanks for raising the issue in the rabbitmq repo @bording. With that issue raised, are you ok if I close this issue @AnatoliiAPFM ?

[2017-05-16 08:58] timbussmann commented on #4701
we should check if there is a key in the registry with an empty value, but we should not check if the key doesn't even exists which is what we currently do.

[2017-05-16 09:18] andreasohlund commented on #4711
PR raised https://github.com/Particular/NServiceBus/pull/4712

If no one objects by the end of today we'll merge and proceed with the release of core 6.3.0

[2017-05-16 09:31] SimonCropp commented on #4711
@andreasohlund don't some samples require concurrency?

[2017-05-16 09:38] SimonCropp commented on #4711
Eg https://docs.particular.net/samples/throttling/

[2017-05-16 09:40] andreasohlund commented on #4711
We would just configure those samples explicitly to a higher value?
On Tue, 16 May 2017 at 11:38, Simon Cropp <notifications@github.com> wrote:

[2017-05-16 09:41] SimonCropp commented on #4711
Ok. Then i have no objections

[2017-05-16 11:01] timbussmann commented on #4711
as from the discussion with @andreasohlund and @danielmarbach I think there are two "contradicting" arguments:
* Limiting concurrency removes some complexity, makes the code more predictable and would (imho) be valuable for complete beginners (enough other concepts and APIs to grasp) and for demoing purposes (more predicable, e.g. nicer console outputs or breakpoint hits)
* Limiting concurrency mo

[2017-05-16 13:39] timbussmann commented on #4710
I don't think that timeout messages (processed by the satellite queues) are going through the outbox?

I'm not sure there is value in adding the complexity to differentiate between control/non-control messages on a outbox level since they should be idempotent as you already said?

[2017-05-16 13:40] timbussmann commented on #4709
so MSMQ + RavenDB Outbox doesn't work?

[2017-05-16 13:47] timbussmann commented on #4708
good catch, thanks for raising this @cremor

[2017-05-16 14:13] DavidBoike commented on #4711
:+1: for 1 by default.

[2017-05-16 14:23] DavidBoike commented on #4709
MSMQ + Raven + Outbox + PubSub = #fail

[2017-05-16 14:29] andreasohlund commented on #4709
That sounds like a patch to me?

[2017-05-16 14:30] DavidBoike commented on #4709
@timbussmann https://github.com/Particular/NServiceBus.RavenDB/issues/313

[2017-05-16 15:32] bording commented on #4710
That was my thought as well.

[2017-05-16 17:22] SeanFeldman commented on #4711
👍 to keep it 1 by default.

Let learning and F(airy)5 experience gradually build up confidence in the basics of NSB and then the real transport will add enough challenge later.

[2017-05-16 18:39] AnatoliiAPFM commented on #4705
@timbussmann  - yes definitely, thanks again!

[2017-05-16 18:40] mauroservienti commented on #4711
Starting with 1 as default and making it tweakable to whatever makes all learning scenarios possible and makes also for a good learning curve.

:+1:

[2017-05-16 18:51] #4711 closed

[2017-05-16 19:01] #4708 closed

[2017-05-16 19:45] #4705 closed

[2017-05-17 07:56] timbussmann commented on #4291
also, to align better with potential .net standard 2.0 support, we should upgrade to 4.6.1 anyway.

[2017-05-17 12:21] SzymonPobiega opened #4715 "XML serializer can't handle recursive enumeration types"
Types that implement `IEnumerable` of themselves cause XML serializer to boom with `StackOverflowException`. An example is `JToken`:

[code]

The problematic line is 54 in `XmlSerializerCache`.

[2017-05-17 14:58] timbussmann commented on #4291
decided with @Particular/nservicebus-maintainers to RFC this as for .net core support we don't need to bump the major version and we could keep the amount of breaking changes for existing users lower.

[2017-05-18 07:35] timbussmann commented on #4291
just realized that this issue is actually only about the testing project. I think at the current point there is not much value in targeting different frameworks in core and testing. An RFC to update core to target 4.6.2 has been raised. Closing this issue as the outcome of the RFC will also impact the target framework of the testing projects.

[2017-05-18 07:35] #4291 closed

[2017-05-18 20:17] indualagarsamy commented on #4171
@andreasohlund - updates on this?

[2017-05-19 06:02] andreasohlund commented on #4171
Since we do support setting the conversation id via headers this doesn't seem urgent? (still a valid feature though)

[2017-05-19 08:00] andreasohlund opened #4720 "Learning transport can deadlock under load"
Sometimes the receiver might get

[code]

when trying to process the file due to the sender still being writing to it. This causes the BeginTransaction to throw and since we run with concurrency 1 this locks the receiver.

[2017-05-19 12:16] andreasohlund opened #4724 "Learning transport dispatch can fail to dispatch multiple messages"
If this happens a restart is needed to recover the incoming message.

The reason is that the list of enlisted operations isn't thread safe but is called concurrently by the dispatcher.

[2017-05-19 16:08] bording commented on #4720
Fixed in the 6.3.1 release.

[2017-05-19 16:08] #4720 closed

[2017-05-19 16:08] bording commented on #4724
Fixed in the 6.3.1 release.

[2017-05-19 16:08] #4724 closed

[2017-05-22 05:59] ahofman opened #4727 "Can't run Acceptance Tests in parallel, ContextAppenderFactory assumes sequential test runs"
`ContextAppenderFactory` manages a single static instance of `ScenarioContext` - see [ContextAppenderFactory.cs.](https://github.com/Particular/NServiceBus/blob/d462080b0efa6609f0f92d4e192d760142ac47c2/src/NServiceBus.AcceptanceTesting/ContextAppenderFactory.cs) This prevents us from being able to run Acceptance Tests in parallel reliably.

It looks like it's done this way because `ILog`s are usua

[2017-05-22 06:34] danielmarbach commented on #4727
@ahofman Correct. Unfortunately, we haven't come up yet with a good and reliable way to initialize the static loggers so that the tests can be run in parallel. TBH we didn't invest a lot so far.

[2017-05-22 06:52] ahofman commented on #4727
If we could take a dependency on NUnit, we could potentially use its static TestContext (https://github.com/nunit/docs/wiki/TestContext) i.e., maintain a static map of TestContext Ids to ScenarioContexts. The obviois downside here is the additional dependency on NUnit.

[2017-05-22 20:07] bording commented on #4511
With the merging of #4716, this has been completed. All the ConfigurationSections have obsoletes that will be removed in v8.

[2017-05-22 20:07] #4511 closed

[2017-05-22 20:24] bording commented on #2779
With the changes introduced in 6.3.0, this should be resolved. All possible license locations are searched for licenses, and the "best" license is chosen as the active license, with "best" meaning the license with the expiration that is the farthest in the future.

[2017-05-22 20:24] #2779 closed

[2017-05-23 08:50] danielmarbach opened #4733 "SendOnlyBus doesn't set CurrentPrincipal"
Originally raised https://groups.google.com/forum/#!topic/particularsoftware/kS762_9n9no

There is a behaviour difference between v5 and v6 when it comes to setting the Thread.CurrentPrincipal

## v5

Setting the principal is done in `UnicastBus.Start` with  `AppDomain.CurrentDomain.SetPrincipalPolicy(PrincipalPolicy.WindowsPrincipal)` the implications are the following

### Bus

In a started bus

[2017-05-23 08:50] danielmarbach commented on #4733
@Particular/nservicebus-maintainers thoughts?

[2017-05-23 11:14] SimonCropp commented on #4733
some more context

 * https://docs.particular.net/nservicebus/upgrades/5to6/messaging#remove-winidname-header
 * https://docs.particular.net/samples/username-header/

[2017-05-23 11:30] agross opened #4735 "MSMQ queue permissions created by NSB Host installer cause warning when running the Host"
Hi,

I upgraded from NSB5/Host 6 to NSB6/Host 7 this week. After the upgrade the host issued a warning that the MSMQ queue permissions are not ideal for production.

I tried deleting the queues on a test system so that the installer would recreate them, but the error persists.

Versions of NSB used (`paket.lock` file):

    NServiceBus (6.3)
    NServiceBus.Host (7.0.1)
      NServiceBus (>= 6.0 <

[2017-05-23 11:32] agross commented on #4735
FYI, this is a Windows Server 2008 R2 Web instance (no domain membership).

[2017-05-23 12:02] ramonsmits commented on #4735
@agross The default permissions applied can be seen as rather 'open'. In environments that are very strict on security, the defaults might not be applicable.

The default permissions allow any user to send a message to a queue which is a potential risk as a rogue user could write garbage to a queue or fill a queue so that storage quota will be reached potentially crippling the system.

We log a wa

[2017-05-23 12:04] timbussmann commented on #4733
the described behavior rather sounds like a bug in v5 when using send-only endpoints? Why would you expect send-only endpoints show a different behavior than regular endpoints regarding `CurrentPrincipal`?

[2017-05-23 12:09] agross commented on #4735
@ramonsmits Thank you for the explanation.

I see this a bit differently. First off, I expect NSB to be secure by default and by logging a warning you inform your users/admins that it's not.

What is a rather strange decision is that the Host itself installs queues with permissions it will later bark about. That's not very consistent from my point of view.

People with more "open" requirements w.r

[2017-05-23 12:23] ramonsmits commented on #4735
@agross Regarding *the defaults NSB installs should be safe*. These are the permissions applied by MSMQ itself when creating a queue which you can try out by manually creating a queue. We previously choose to not conflict with the default MSMQ permission as that means that after creating a queue we would need to remove permissions which might not be expected behavior for our customers thus us rais

[2017-05-23 12:25] andreasohlund commented on #4733
What's @timbussmann said. I'd say we just doco this (if needed) since the v6 behavior seems to be the correct one?

[2017-05-23 12:50] andreasohlund commented on #3445
Duplicate of https://github.com/Particular/NServiceBus/issues/4278

[2017-05-23 12:52] andreasohlund commented on #3445
Its unlikely that we'll create filebased persisters for subscriptions and timeouts
as explained in https://github.com/Particular/NServiceBus/issues/3445#issuecomment-294779108

Closing this

[2017-05-23 12:52] #3445 closed

[2017-05-23 13:27] danielmarbach commented on #4733
I agree with both of you

[2017-05-23 14:19] timbussmann commented on #4727
thanks for your suggestions @ahofman, it might be worth to look a bit closer on how to solve this, but I think there is a very high chance that this isn't the only blocker to run acceptance tests in parallel, although this heavily depends on the selected transport & persistence configuration. But e.g. some transport options currently don't provide fine grained "test scoped" cleanup mechanisms, mak

[2017-05-23 18:20] timbussmann commented on #4733
@andreasohlund I'm having trouble to find an appropriate place for that doc? (also I think we rarely document bugs?)

[2017-05-23 18:46] andreasohlund commented on #4733
I was thinking upgrade guide?  But if we see this as a bug perhaps raise a bug that we close as fixed in v5?

[2017-05-24 05:38] SimonCropp opened #4738 "Prevent internal container registrations for message mutators"
Since we now have explicit api's for registration

Obsolete this
[code]
since we now have this
[code]

[2017-05-24 06:27] andreasohlund commented on #4738
Are you saying to obsolete the entire `ConfigureComponent` ? (or is it possible to only obsolete for  `ConfigureComponent<IMessgeMutator>` ? )

[2017-05-24 06:31] SimonCropp commented on #4738
i was thinking log an error or warning when we detect someone registering with `ConfigureComponent<IMessgeMutator`

[2017-05-24 06:36] andreasohlund commented on #4738
👍 then we should do the same for IUnitsOfWork

or even better deprecate IUnitsOfWork in favor of https://github.com/Particular/NServiceBus/issues/4493

[2017-05-24 06:37] andreasohlund commented on #4738
I think we should throw btw

[2017-05-24 06:39] SimonCropp commented on #4738
happy with a throw

[2017-05-24 06:44] andreasohlund commented on #4738
@SimonCropp changed the title of the issue

[2017-05-24 07:04] andreasohlund opened #4739 "Move InMemory persistence to a separate package"
Since it's dangerous to use and we now have the learning transport and saga persister in the core to help users getting started.
There are a few cases in which InMemory might be a good fit, but to avoid any confusion, moving it to a dedicated package is the best way to go.
We've decided to rename the InMemory persistence to Non-Durable to better convey its intent.
Doco available [here](https://doc

[2017-05-24 07:16] andreasohlund commented on #2444
@Particular/nservicebus-maintainers I think this is a low hanging fruit that would unlock the persisters to completely control the saga id. Current persisters can just parse the string back to guid and throw if not possible?

I propose we include this in v7

[2017-05-24 07:36] andreasohlund commented on #4634
Closing this as Won't fix since we've never made any promises to provide all message type in the "scanned types" collection.

https://github.com/Particular/NServiceBus/pull/4648 highlights this even further

[2017-05-24 07:36] #4634 closed

[2017-05-24 07:42] andreasohlund opened #4740 "Obsolete PurgeOnStartup"
Since it is very likely to lead to message loss we should not provide api's like this out of the box.

Instead we should guide our users to our scripting page and instruct them to perform the purging explicitly as necessary. This means we need to add a "Purge" section to pages like https://docs.particular.net/nservicebus/msmq/operations-scripting#create-queues

[2017-05-24 07:42] andreasohlund commented on #3897
Seems like we have consensus that PurgeOnStartup should go. Raised a separate issue to track that https://github.com/Particular/NServiceBus/issues/4740

Replaced by https://github.com/Particular/NServiceBus/issues/4740

[2017-05-24 07:42] #3897 closed

[2017-05-24 07:45] andreasohlund commented on #2318
Since we want to get the Subscribe/Unsubscribe methods out of the face of the users how about we do:

[code]

that prevents users mixing auto and explicit subscriptions?

[2017-05-24 07:48] andreasohlund commented on #2486
Given the learning transport I'd say we should focus to kill the entire installation support instead?

[2017-05-24 07:50] andreasohlund commented on #3079
@timbussmann is this worth migrating to the external repo / metrics repo? (or just close)

[2017-05-24 07:52] andreasohlund commented on #3437
@SzymonPobiega agreed, lets close for now

[2017-05-24 07:52] #3437 closed

[2017-05-24 07:53] andreasohlund commented on #3600
Proposed API to fix this https://github.com/Particular/NServiceBus/issues/2318#issuecomment-303645101

[2017-05-24 07:54] andreasohlund commented on #3759
ServiceFabric support is released, closing this

[2017-05-24 07:54] #3759 closed

[2017-05-24 07:55] andreasohlund commented on #3758
@Particular/metrics-maintainers given the new metric support can this be closed?

[2017-05-24 07:55] andreasohlund commented on #3790
Low hanging fruit, assigning to v7

[2017-05-24 07:56] andreasohlund commented on #3844
@SzymonPobiega how relevant is this for v7?

[2017-05-24 07:58] andreasohlund commented on #4036
Closing this as fixed in v7 since we no longer have any counters in the core

[2017-05-24 07:58] #4036 closed

[2017-05-24 07:59] andreasohlund commented on #3945
We need to do this since MSMQ is being moved out, assigning this to the v7 milestone

[2017-05-24 08:00] andreasohlund commented on #4087
@bording you've done this already right?

[2017-05-24 08:08] andreasohlund commented on #4247
What actions do we take here? to fix this we would have to push the `.Transactions()` method down to the transport?

I propose we close this as covered by https://github.com/Particular/NServiceBus/issues/4277 with a comment about the timeout settings

[2017-05-24 08:09] andreasohlund commented on #4292
@timbussmann how much of the repeat stuff is left?

[2017-05-24 08:11] andreasohlund commented on #4536
Do we have any idea on how this might impact the downstreams? (are they injecting the settings?)

I remember going though raven and nh and removing runtime use of the settings a while back

[2017-05-24 08:46] SzymonPobiega commented on #3844
@andreasohlund hmm I am not sure. I don't have the V7 context.

[2017-05-24 08:49] SzymonPobiega commented on #2318
How about `EnsureSubscribed`? I guess we should send a reply to each `Subscribe` message to let the subscriber know it has been successfully subscribed and can run happily.

[2017-05-24 09:05] agross commented on #4735
I went and followed the warning instructions and removed `Everyone`s ACEs from the ACL for one of the queues that warnings where issued for.

Now the Host cannot start:
[code]

What is the recommended ACL for queues that only need to be accessed by a single Host with other Hosts possibly sending messages to it?

[2017-05-24 09:43] timbussmann commented on #2318
I like @andreasohlund suggestion, seems like a nice move forward to remove subscribe operations from the session.

[2017-05-24 09:44] timbussmann commented on #2318
@SzymonPobiega what problem would this solve? Sounds like a dedicated issue to me?

[2017-05-24 09:48] timbussmann commented on #4536
@andreasohlund just did a quick search, looks like nh is still injecting the settings into installers: https://github.com/Particular/NServiceBus.NHibernate/blob/develop/src/NServiceBus.NHibernate/Deduplication/Installer/Installer.cs or did I miss something?

[2017-05-24 09:50] timbussmann commented on #4292
none :) forgot about this issue. Closing this.

[2017-05-24 09:50] #4292 closed

[2017-05-24 09:54] timbussmann commented on #4247
I'd think we should keep this open (and move to the MSMQ repo)?

[2017-05-24 10:04] timbussmann commented on #3600
I like the approach proposed in #2318, thoughts @WojcikMike ?

[2017-05-24 10:07] timbussmann commented on #3079
@andreasohlund I think at least uniquely addressable queues should also be included (not sure whether this is happening or not). Who's maintaining this repo, metrics maintainers?

[2017-05-24 10:29] SzymonPobiega commented on #2318
@timbussmann currently when you call `Subscribe` or rely on autosubscribe, the subscriptions on broker transport the subscriptions are ensured to be created. If there is a problem creating them, the endpoint will not start (autosubscribe) or the call to `Subscribe` will throw. This is not the case when using MDPS.

Now if we are moving towards a better, config time API, it makes sense to align the

[2017-05-24 10:38] danielmarbach commented on #3079
I think uniquely addressable queues are normal pumps and therefore have counters?

[2017-05-24 11:56] timbussmann commented on #4733
I think the @Particular/nservicebus-maintainers concluded on yesterday's sync that the v5 send-only endpoint's behavior is a bug, so I'd say let's close?

[2017-05-24 12:00] timbussmann commented on #2318
@SzymonPobiega that's definitely an interesting idea, but this seems to go somehow against the concept of messaging? This approach would couple endpoint startup time to the subscription-response and requires the publisher to be up and running, causing quite some coupling? How about raising this as a new issue to think it through?

[2017-05-24 12:01] timbussmann commented on #3079
yeah I thought this would be the case too, but I'm not 100% sure. If this is the current behavior im +1 to close.

[2017-05-24 12:11] andreasohlund commented on #4536
Ugh, so I remembered it correctly but inversed 😃
On Wed, 24 May 2017 at 11:48, Tim Bussmann <notifications@github.com> wrote:

[2017-05-24 12:19] danielmarbach commented on #3079
I think the problem is that there is no differentiatior between the main
pipeline and the individual queue pipeline since the pipelibe id is not
available on the pipeline completed event

Tim Bussmann <notifications@github.com> schrieb am Mi. 24. Mai 2017 um
14:01:

[2017-05-24 12:23] andreasohlund commented on #3079
Correct, and since there is no differentiator all metrics for the both
pipelines is treated as a single entity.

How about we raise a different issue for that and close this one?

On Wed, May 24, 2017 at 2:19 PM Daniel Marbach <notifications@github.com>
wrote:

[2017-05-24 13:46] WilliamBZA opened #4744 "Current UoW of IBuilder is not floated when configuring funcs"
The [CommonObjectBuilder.ConfigureComponent](https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.Core/ObjectBuilder/Common/CommonObjectBuilder.cs#L74) method that accepts a `Func<IBuilder, T>` always uses the same `IBuilder` instance as the parameter to the func. This effectively means that if a container represents unit of work scopes by the reference to which container instanc

[2017-05-24 13:48] WilliamBZA commented on #4744
If I fake the correct scoping by storing a reference to the latest childScope created within the CommonObjectBuilder class, making sure that scope is never disposed, and changing the repro to send messages far enough apart that the scopes aren't overwritten, then the repro acceptance test passes.

[2017-05-24 15:37] bording commented on #4087
Not yet, since it didn't already have an obsolete attribute. I'll submit a PR for it.

[2017-05-24 15:51] bording commented on #3790
So, RabbitMQ is actually taking advantage of Remove now:

https://github.com/Particular/NServiceBus.RabbitMQ/blob/1708fc2d015798d2dfee39905f327108ce894da5/src/NServiceBus.RabbitMQ/DelayedDelivery/PreventRoutingMessagesToTimeoutManager.cs#L20

I suppose swapping in a dummy implementation would work too, but I wanted to point out that I do have a use case for it.

[2017-05-24 15:55] bording commented on #4739
At this point what are the use cases for InMemory persistence? Would it make more sense to get rid of it instead?

[2017-05-24 15:58] bording commented on #2486
@andreasohlund What do you mean by "kill the entire installation support" ?

[2017-05-24 17:48] dbelcham commented on #4739
That's a good question. In the past we've said that it is not a production ready persistence, and it isn't since it lacks a number of important features. If it's not "production ready" then in my eyes it's a testing/development persistence. If that's the case, where does it fit in that world considering the Learning persistence?

[2017-05-24 18:40] andreasohlund commented on #2486
I mean't to obsolete IWantToInstallSomething and guide users to use scripts
to setup infrastructure assets needed by the endpoint (tables, queues, etc)
On Wed, 24 May 2017 at 17:58, Brandon Ording <notifications@github.com>
wrote:

[2017-05-27 08:08] cremor commented on #4739
I'd like to present a case where I use InMemory persistence in production:

I use it exactly as [documented](https://docs.particular.net/nservicebus/persistence/in-memory): In a "lightweight client not interested in durability across restarts". To be exact, I have it enabled only for two storage types: Timeouts and subscriptions.

Regarding timeouts: The endpoint where I use InMemory persistence o

[2017-05-27 12:42] agross opened #4750 "MessageMapper does not call default constructor"
I have several commands (classes) that initialize properties using the default ctor (without args). Since upgrading to NSB6, these ctors are no longer called and lead to `NullReferenceException`s downstream when a handler receives the message.

Example command:
[code]

Failing test (NServiceBus.Core.Tests/MessageMapper/MessageMapperTests.cs):

[code]

[2017-05-27 13:07] agross commented on #4750
I see that the test succeeds when I initialize the mapper with `typeof(SomeMessage)`. For some reason, my NSB service does not do this, i.e. `MessageMapper.typeToConstructor` does not include `SendEmail`. I checked my `DefiningCommandsAs` conventions and the `SendEmail` type is included.

The debug log shows this:
[code]

[2017-05-29 06:21] andreasohlund commented on #3844
@danielmarbach thoughts on this one?

[2017-05-29 06:44] danielmarbach commented on #3844
I think we can postpone the decision on this one until we know more about the roadmap to removing the container.

[2017-05-29 07:40] agross commented on #4750
I added some logging to the message conventions evaluation and it seems that the type scanner runs twice.

[code]

The `Found command` parts are from my code.

The handler that uses `SendeEmail` looks like this:
[code]

I set a breakpoint on the `m.Empfänger` line, `m` is an uninitialized object at this point in time. I travelled up the call stack into `NServiceBus.Core.dll!NServiceBus.MessageInte

[2017-05-29 08:48] timbussmann commented on #4750
Hey @agross

Thanks a lot for provided details. It definitely looks like a bug which might be caused by a combination of unobtrusive messages and the "missing" reference to the Contracts assembly which causes the message to not be initialized correctly. I need to look a bit closer at this though.

As a workaround, can you new up the message yourself instead of using the mapper to create the instan

[2017-05-29 09:06] agross commented on #4750
Hi @timbussmann,

Thanks for the workaround! It would work for the egress `SendeEmail` (it's a class). Only "ingress" messages are interfaces (these are the first three that are logged) and they won't be affected because interfaces don't have ctors.

Let me know if you need more info, or even access to the git repo.

[2017-05-29 09:11] agross commented on #4750
I'd appreciate if you could fix this debug log entry:

[code]

It looks like it just logs `NServiceBus.Unicast.Messages.MessageMetadata.ToString()`.

[2017-05-29 09:21] timbussmann commented on #4750
@agross thanks for the hint, will look at the log output.

Just to verify: I assume you configured the conventions to recognize `SendEmail` as a message type?

Also, you mentioned:

Is this just the reference hierarchy or is there some special logic which indeed means that `Angebot.dll` is not in bin folder when starting the endpoint?

[2017-05-29 09:30] agross commented on #4750
As a command type:

[code]

Just references. The bin folder is completely assembled before the host is started.

[2017-05-29 09:36] agross commented on #4750
To be more specific about the references:

The Host assembly (defining conventions) only hosts the Angebot assembly (handlers), which in turn uses Ops to send emails (IT/Ops as per Udi's course). So the host only references Angebot. I just checked it, not even this is technically required to be the case (compiles without the reference). As far as I understood NSB uses assembly scanning internally

[2017-05-29 10:19] timbussmann commented on #4750
@agross thanks again for the information 👍

so there is a bug in the `CreateInstance` I can confirm which causes message to not be instantiated via ctor in case they are not initialized. Most code paths of the message mapper are able to initialize types on-demand, but `CreateInstance` is not, which I think we should fix. I want to add a note that we usually recommend to use the "workaround" when w

[2017-05-29 11:08] timbussmann commented on #4750
@agross regarding the `Found command: Ops.Contracts.Commands.SendeEmail` log entry, could you disable auto-subscribe `endpointConfiguration.DisableFeature<AutoSubscribe>();` and check whether that log entry still appears?

[2017-05-29 11:16] agross commented on #4750
@timbussmann `AutoSubscribe` is already disabled.

[2017-05-29 12:07] timbussmann commented on #4750
@agross ah, good to know, thanks. I double checked the assembly scanner and the scanner will indeed not scan your message contract assembly (which should be no issue). The log output from the commands-convention can come from various sources during initialization.
I have a fix available in #4751 and we will discuss whether this will be backported later today. From your perspective, how much pain d

[2017-05-29 12:16] agross commented on #4750
I upgraded from 5 to 6, only then did I notice the issue. So I'm not sure if any of you yourself previous supported versions are affected.

Given my codebase is rather small it's not a big issued for me to use the workaround, but I can imagine it would be for bigger projects.

Thank you for providing a fix quickly, looking forward to test the next release!

[2017-05-29 12:35] dvdstelt commented on #4660
Moved to https://github.com/Particular/NServiceBus.Transport.Msmq/issues/4.

[2017-05-29 12:35] #4660 closed

[2017-05-29 12:36] dvdstelt commented on #4630
Moved to https://github.com/Particular/NServiceBus.Transport.Msmq/issues/5.

[2017-05-29 12:36] #4630 closed

[2017-05-29 12:36] dvdstelt commented on #4525
Moved to https://github.com/Particular/NServiceBus.Transport.Msmq/issues/6.

[2017-05-29 12:36] #4525 closed

[2017-05-29 12:39] dvdstelt commented on #4516
Moved to https://github.com/Particular/NServiceBus.Transport.Msmq/issues/7.

[2017-05-29 12:39] #4516 closed

[2017-05-29 12:40] dvdstelt commented on #4443
Moved to https://github.com/Particular/NServiceBus.Transport.Msmq/issues/8.

[2017-05-29 12:40] #4443 closed

[2017-05-29 12:40] dvdstelt commented on #4247
Moved to https://github.com/Particular/NServiceBus.Transport.Msmq/issues/9.

[2017-05-29 12:40] #4247 closed

[2017-05-29 12:42] dvdstelt commented on #4148
Moved to https://github.com/Particular/NServiceBus.Transport.Msmq/issues/10.

[2017-05-29 12:42] #4148 closed

[2017-05-29 12:43] dvdstelt commented on #4145
Moved to https://github.com/Particular/NServiceBus.Transport.Msmq/issues/11.

[2017-05-29 12:43] #4145 closed

[2017-05-29 12:43] dvdstelt commented on #2547
Moved to https://github.com/Particular/NServiceBus.Transport.Msmq/issues/12.

[2017-05-29 12:43] #2547 closed

[2017-05-29 12:44] dvdstelt commented on #2510
Moved to https://github.com/Particular/NServiceBus.Transport.Msmq/issues/13.

[2017-05-29 12:44] #2510 closed

[2017-05-29 12:44] dvdstelt commented on #2132
Moved to https://github.com/Particular/NServiceBus.Transport.Msmq/issues/14.

[2017-05-29 12:44] #2132 closed

[2017-05-29 12:46] dvdstelt commented on #2085
Moved to https://github.com/Particular/NServiceBus.Transport.Msmq/issues/15.

[2017-05-29 12:46] #2085 closed

[2017-05-29 12:46] #4087 closed

[2017-05-29 14:56] timbussmann commented on #3945
implemented by https://github.com/Particular/NServiceBus/pull/4742 🎉

[2017-05-29 14:56] #3945 closed

[2017-05-29 22:42] SimonCropp commented on #1542
reopening since Particular/Platform is being archived

[2017-05-30 06:10] timbussmann commented on #2372
Moved to https://github.com/Particular/NServiceBus.Transport.Msmq/issues/16.

[2017-05-30 06:10] #2372 closed

[2017-05-30 06:10] timbussmann commented on #2699
Moved to https://github.com/Particular/NServiceBus.Transport.Msmq/issues/17.

[2017-05-30 06:10] #2699 closed

[2017-05-30 06:10] timbussmann commented on #4153
Moved to https://github.com/Particular/NServiceBus.Transport.Msmq/issues/18.

[2017-05-30 06:10] #4153 closed

[2017-05-30 06:10] timbussmann commented on #4154
Moved to https://github.com/Particular/NServiceBus.Transport.Msmq/issues/19.

[2017-05-30 06:10] #4154 closed

[2017-05-30 06:10] timbussmann commented on #4450
Moved to https://github.com/Particular/NServiceBus.Transport.Msmq/issues/20.

[2017-05-30 06:10] #4450 closed

[2017-05-30 06:10] timbussmann commented on #4735
Moved to https://github.com/Particular/NServiceBus.Transport.Msmq/issues/21.

[2017-05-30 06:10] #4735 closed

[2017-05-30 18:14] timbussmann commented on #4750
Closing this issue as the bug is fixed in 6.3.2, 6.2.2, 6.1.6 and 6.0.9.

@agross thanks a lot for raising this issue an providing so much valuable details to help us track that bug down 👍

[2017-05-30 18:14] #4750 closed

[2017-05-31 00:40] SimonCropp opened #4762 "exclude All_saga_entities_in_acceptance_tests_should_have_virtual_properties from acceptance tests"
it is only verifying that the other tests are written correctly and make no sense to exist in the actual package

[2017-05-31 00:40] SimonCropp commented on #4762
same with All_sagas_and_entities_should_have_unique_names

[2017-05-31 01:52] bording commented on #4762
What about for tests written by in the downstream repos? Wouldn't we want to enforce these rules on those tests as well?

[2017-05-31 07:10] timbussmann commented on #4686
@johnfake we have released an announcement regarding .net core 2.0 support on our blog post: https://particular.net/blog/nservicebus-on-net-core-its-time

[2017-05-31 09:53] SimonCropp commented on #4762
but tests written by downstreams do not necessarily have those constraints. eg the only downstream that cares about virtual is nhibernate.

[2017-05-31 14:56] timbussmann commented on #4268
we should also check whether we can make it internal in the first place.

[2017-05-31 14:57] timbussmann commented on #4225
code changes have been made, but this needs to be added to the upgrade guide.

[2017-05-31 22:29] boblangley opened #4769 "MSMQ requires error queue configuration for send-only endpoints"
## Who's affected
Anyone using the MSMQ transport with send-only endpoints on NServiceBus 6.3.

## Symptoms
After upgrading to 6.3,  users need to configure a error queue unnecessarily.

## Original bug report
This is a change in behavior and has broken the Azure dynamic host, which launches the endpoint as a sendonly endpoint.

[2017-05-31 22:30] boblangley commented on #4769
This line should include a check to see if the endpoint is not configured as a SendOnly endpoint: https://github.com/Particular/NServiceBus/blob/master/src/NServiceBus.Core/Transports/Msmq/MsmqTransport.cs#L35

[2017-05-31 23:08] SeanFeldman commented on #4769
I've raised a PR again MSMQ transport: https://github.com/Particular/NServiceBus.Transport.Msmq/pull/25

[2017-06-01 04:53] andreasohlund commented on #4769
Would we classify this as a patch?

[2017-06-01 04:55] SeanFeldman commented on #4769
I'd say so. Qualifies at least a [Minor Patch criteria](https://github.com/Particular/PlatformDevelopment/blob/master/guidelines/triage.md#patch-criteria) as azure multi host would require to take the host offline, add an error queue configuration and redeploy. That's quite a workaround 😃

[2017-06-01 06:56] andreasohlund commented on #4769
How can the azure multi host be affected by a msmq bug?

[2017-06-01 07:27] andreasohlund opened #4771 "Circular references causes the assembly scanner to crash"
### Symptoms

When there are two assemblies that reference each other, assembly scanning crashes with a [System.StackOverflowException](https://msdn.microsoft.com/en-us/library/system.stackoverflowexception).

### Who's affected

All v6 users that have assemblies with circular references in their bin folders

### Backported to

6.2.3 TODO link
6.1.7 TODO link

### Original bug report

While this i

[2017-06-01 09:28] yvesgoeleven commented on #4769
@andreasohlund as discussed on slack, it's probably because msmq is on by default as the host doesn't have a need for a transport

[2017-06-01 11:13] andreasohlund commented on #4771
I've confirmed that 6.0 doesn't have this issue since we do a similar check here https://github.com/Particular/NServiceBus/blob/support-6.0/src/NServiceBus.Core/Hosting/Helpers/AssemblyScanner.cs#L363

[2017-06-01 12:37] #4771 closed

[2017-06-01 17:12] bording commented on #4769
Reopening since we still need to consider a 6.3.x patch.

[2017-06-04 11:24] Dafnafrank commented on #4169
Hi,
I am getting this same exception when I am trying to send a message to a topic from a azure function.
The topic is alive (but is very loaded).
Any idea why I am getting this exception and how I can fix this?
Here is the entire exception:

General exception in MainHandler on file 1bc8d5ec-c48d-454c-a03e-9325a72f9254/826_log.txt
System.OperationCanceledException: The operation cannot be performe

[2017-06-04 12:26] danielmarbach commented on #4169
We've seen this happening in ASQ lately as well. We will try to see if the
things we found ou there might be worth looking into for ASB as well.
Thanks for reporting!

Dafnafrank <notifications@github.com> schrieb am So. 4. Juni 2017 um 13:24:

--

Have you tried NServiceBus V6 <https://particular.net/nservicebus-v6> yet?

Learn how to scale applications with microservices and NServiceBus 6
<https

[2017-06-04 18:41] SeanFeldman commented on #4169
@Dafnafrank with the tracking ID provided in the exception (`2e8e4762-4567-4265-b5b8-eda18770c812`), you should be able to open a support case with MSFT to have them investigate what was it on the server side that failed ("Internal Server Error: The server did not provide a meaningful reply; this might be caused by a premature session shutdown.").

The topic is alive (but is very loaded).

Were yo

[2017-06-05 07:50] Dafnafrank commented on #4169
I will open a support case.
I have a service bus (topic) and an Azure function that sends messages to this topic.
Not sure what NSB or ASB means....

[2017-06-05 11:32] danielmarbach commented on #4169
Sorry my fault

NSB = NServiceBus
ASB = Azure Service Bus
ASQ = Azure Storage Queues

Dafnafrank <notifications@github.com> schrieb am Mo. 5. Juni 2017 um 09:50:

--

Have you tried NServiceBus V6 <https://particular.net/nservicebus-v6> yet?

Learn how to scale applications with microservices and NServiceBus 6
<https://www.pluralsight.com/courses/microservices-nservicebus6-scaling-applications>
.

[2017-06-05 11:52] Dafnafrank commented on #4169
I use Azure service bus. I have several topics in the same service bus.

From: Daniel Marbach [mailto:notifications@github.com]
Sent: Monday, June 5, 2017 2:32 PM
To: Particular/NServiceBus <NServiceBus@noreply.github.com>
Cc: Dafnafrank <dafna.frank@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [Particular/NServiceBus] RecoverabilityExecutor seems to be invoked after shutdown is i

[2017-06-05 15:18] SeanFeldman commented on #4169
@Dafnafrank the exception that you got is on the Azure Service Bus broker side. If your Functions code is not using NServiceBus, this repository is probably not the right place.
With the tracking ID that you've received, and opening a support case with Microsoft, you could at least get some details on what was the exception. Azure Functions when triggered by [`ServiceBusTrigger`](https://docs.micr

[2017-06-06 14:09] timbussmann commented on #4762
makes sense to me. As it's more effort to exclude tests with the new content packages, should we add this to the v7 milestone? (seems to be a trivial change anyway)

[2017-06-07 00:44] SimonCropp commented on #4769
wouldnt this always fail at startup? in which case it could never get to production? and if so not a back port

[2017-06-07 01:04] bording commented on #4769
@SimonCropp It's not a backport. It's a fix to a regression introduced in 6.3.0

[2017-06-07 01:06] SimonCropp commented on #4769
@bording ok thanks for the clarification

[2017-06-07 06:56] timbussmann commented on #4454
all tasks done. Closing this.

[2017-06-07 06:56] #4454 closed

[2017-06-07 08:49] ramonsmits opened #4792 "Poison message in MSMQ fails to be sent to remote error queue and is retried indefinitely"
When a message has corrupt headers and a remote error queue has been configured, the `MovePoisonMessageToErrorQueue` fails, which results in the whole operation being rolled back. **The message is retried indefinitely.**

## Who's affected
Anyone using the MSMQ transport with a remote error queue configured.

## Symptoms
- You see repeated log entries for the same message indicating that it has co

[2017-06-07 20:38] bording commented on #4792
Fixed by #4791

[2017-06-07 20:38] #4792 closed

[2017-06-07 20:38] bording commented on #4769
Fixed by #4784

[2017-06-07 20:38] #4769 closed

[2017-06-08 05:57] timbussmann commented on #4225
Docs PR raised here: https://github.com/Particular/docs.particular.net/pull/2823
Closing this issue.

[2017-06-08 05:57] #4225 closed

[2017-06-08 06:26] SzymonPobiega opened #4794 "EnclosedMessageTypes header might contain types in wrong order"
`XmlDeserialization.FindRootTypes` expects the types in the `EnclosedMessageTypes` to be in a particular order: types that are part of same hierarchy of inheritance should be ordered from the most concrete to the most abstract.

`SerializeMessageConnector.SerializeEnclosedMessageTypes` takes the (ordered) type hierarchy and runs through deduplication using a `HashSet` which potentially disturbs th

[2017-06-08 11:26] SzymonPobiega commented on #4794
Looking at the [reference source](http://referencesource.microsoft.com/#System.Core/System/Collections/Generic/HashSet.cs,188b8f94f8fc999b,references) and having done some tests, it does look like HashSet indeed preserves the order assuming nothing is removed from the set. In this case each added item gets a new slot and the list of free slots is kept empty. This is preserved even is the set is fo

[2017-06-08 11:43] andreasohlund commented on #4794
So this is a non issue then?

[2017-06-08 12:04] timbussmann commented on #4179
@bottomup just a quit follow up: we announced the upcoming support of .NET Core 2.0 on our blog: https://particular.net/blog/nservicebus-on-net-core-its-time. This will allow you to run NServiceBus v7 on the .NET Core platform.

[2017-06-08 12:13] bottomup commented on #4179
@timbussmann thanks for the heads up!

[2017-06-08 12:16] SzymonPobiega commented on #4794
@andreasohlund well, we're still depending on the implementation details of HashSet right now so I'd say we should fix it but it does not have a high priority.

[2017-06-08 12:17] andreasohlund commented on #4794
Agreed, flagged this as a bug.

@Particular/nservicebus-maintainers thoughts on prio? (v7?)

[2017-06-19 07:03] andreasohlund commented on #4744
@timbussmann I know you've done some research , should the breaking changes proposed be considered for v7?

[2017-06-20 04:58] indualagarsamy opened #4801 "NSB 7 Alpha: When license has expired, reports a unfriendly fatal error."
**Steps to Repro**
- Create a simple sample which uses the following packages:
[code]
- Make sure you're working with an expired license.
- Create a sample that sends a message to itself and processes it.
- Make sure you're working with an expired license.
- When the endpoint starts, the following exception is thrown:

[code]

[2017-06-20 07:18] andreasohlund commented on #4801
@bording can you take a look at this?

[2017-06-20 18:13] bording commented on #4801
Since the new project format does't actually understand winforms, it's embedding the form's resource file in the assembly under a different name than what the form is expecting. The name of the resource is `NServiceBus.Licensing.LicenseExpiredForm.resources`, but the form is looking for `NServiceBus.LicenseExpiredForm.resources`. I'm not sure if there is a way to control what name is used when the

[2017-06-21 06:29] SzymonPobiega opened #4804 "How do I (de)register behaviors in a transport?"
When we were working on V6, we decided to not allow the transports register behaviors. We considered this a violation of the transport seam, based on the assumption that the transport should only receive messages.

The reality verified this assumption. It seems like for various reasons it makes sense to access the pipeline in a transport. Most of these cases are related to different release cycles

[2017-06-21 11:37] SimonCropp opened #4805 "DataBusProperty not supported by some serializers"
since it doesnt have a default constructor.

eg Jil

[2017-06-21 14:46] andreasohlund commented on #4805
How urgent would we say this is? Perhaps we should try to get the data bus out of the core/killed instead?

[2017-06-22 00:45] SimonCropp commented on #4805
@andreasohlund either way it will still be broken when moved out. so fix it now of fix it when it is moved out, is there any difference?

[2017-06-22 03:15] SeanFeldman opened #4806 "Invalid tests"
When tried to [upgrade ASB](https://github.com/Particular/NServiceBus.AzureServiceBus/pull/574) to the latest Core and NUnit, specific tests started failing with consistent repetition.

After investigation with @bording we've concluded that this was specific to ASB and NUnit. NUnit has changed their implementation between version 3.6.1 and 3.7.0 which exhibited that behavior.

I've raised an [issu

[2017-06-22 04:07] bording opened #4807 "TTBR Diagnostics header being used improperly"
While investigating the recent failures of the `When_message_with_TimeToBeReceived_fails.Should_not_honor_TimeToBeReceived_for_error_message` test, with the learning transport, I've come to the conclusion that we've got a problem in how TTBR is being handled in V6.

The way V6 is intending to inform the transports that a message needs to be sent with TTBR is through adding the `DiscardIfNotReceive

[2017-06-22 05:32] andreasohlund commented on #4805
I was thinking of completely killing it but that's to agressive I guess
On Thu, 22 Jun 2017 at 02:45, Simon Cropp <notifications@github.com> wrote:

[2017-06-22 07:20] SimonCropp commented on #4805
More than happy with that as an outcome. but we have a tendency to take many years to kill things. if that is the case here we either need to document that the databus does not support all serializers or fix it

[2017-06-22 08:13] andreasohlund commented on #4807
Slightly related: we have plans to deprecate `HandleCurrentMessageLater` https://github.com/Particular/NServiceBus/issues/4110

Would it help in anyway to go ahead in v7?

[2017-06-22 10:18] adamralph commented on #4807
👍 from me for the problem analysis and proposed solutions. If the header is indeed being used for diagnostics, then I favour the method of changing it to be explicitly named as a diagnostic header. However, could that change introduce wire incompatibility somehow?

[2017-06-22 12:43] bording commented on #4807
@adamralph As far as I can tell, there should be no wire compat issues here. The header didn't exist until V6, and the transports (aside from the learning transport) are only looking for it at sending time, not receiving, so it being on the message or not shouldn't make a difference.

[2017-06-22 13:42] bording commented on #4807
@andreasohlund Removing `HandleCurrentMessageLater` in V7 doesn't really change anything about the current state of this bug. The transports looking at the header need to be updated.

[2017-06-22 14:27] danielmarbach commented on #4806
Sent in https://github.com/Particular/NServiceBus/pull/4809

Was not able to find `When_subscribing_to_base_and_derived_polymorphic_events_with_forwarding_topology` and assumed that one comes from ASB ;)

[2017-06-22 15:10] SeanFeldman commented on #4807
ASB v7 (Core v6) is indeed using the header to determine TTBR rather than use `DiscardIfNotReceivedBefore` delivery constraint. Based on priority of this fix, we'll fix it.
(ASB specific issue https://github.com/Particular/NServiceBus.AzureServiceBus/issues/577 was raised)

[2017-06-22 15:56] adamralph commented on #4807
@bording thanks for clarification. So all in all, LGTM.

[2017-06-22 16:04] #4801 closed

[2017-06-22 16:29] dbelcham commented on #4457
A couple of tests to address when we work our way down to 'S'
`/SelfVerification/*.*` and `/ConventionEnforcementTests.cs`

The question for these tests is if they add value to the downstreams, not just for the ATT test suite, but also any non-ATT tests that the downstreams may have in their own test suites.

[2017-06-22 21:22] TheRealKevykev commented on #4285
This is totally random and a shot in the dark, but does anyone on this thread have an idea about how to automatically read an MSMQ receiving (InQueue) queue automatically with a WCF Service application hosted in IIS 7 or 8?

[2017-06-23 06:43] tmasternak commented on #4807
@bording Your description is accurate in regards to [SqlServer](https://github.com/Particular/NServiceBus.SqlServer/blob/develop/src/NServiceBus.SqlServer/Queuing/MessageRow.cs#L30)

[2017-06-23 10:21] SzymonPobiega opened #4811 "Ensure saga data is not shared between sagas"
Context: https://github.com/Particular/ServiceControl/issues/977#issuecomment-310358526

The current saga validation does not check if saga data is shared between saga classes that inherit from a single base class. If this happens, the effects are following:
 * Both saga instances share the data.
 * Both saga instances are invoked so the downstreams see messages coming from two sagas, but these me

[2017-06-23 14:17] dbelcham commented on #4285
@TheRealKevykev The closest thing we have for that is this: https://docs.particular.net/nservicebus/msmq/operations-scripting

Since the question you're asking isn't related to NServiceBus any followup questions you have should be directed at StackOverflow.

[2017-06-23 15:07] bording commented on #4811
@SzymonPobiega I believe this would be covered by #4596?

[2017-06-23 15:09] bording commented on #4806
Fixed in #4809

[2017-06-23 15:09] #4806 closed

[2017-06-23 15:10] bording commented on #4762
This will be addressed as part of #4457.

[2017-06-23 15:10] SzymonPobiega commented on #4811
@bording true, but #4596 has much broader scope. We already do some crazy checks on sagas (e.g. must have at lest one IAmStartedBy) so adding one more would not cost us much while it would save customers nasty data corruption bugs.

[2017-06-23 15:11] #4762 closed

[2017-06-23 15:13] bording commented on #4727
Fixed by #4780.

[2017-06-23 15:13] #4727 closed

[2017-06-23 15:15] SzymonPobiega commented on #4811
Now when I think about it, it might even qualify as a `critical`. If you write code as in the lined issue in ServiceControl repo you'll be corrupting your data without knowing about it. NServiceBus will run fine using a single saga data entity for two logically distinct sagas.

[2017-06-23 15:22] bording commented on #4804
@SzymonPobiega I'm still not sure I see an actual problem here. If you have more than one endpoint in the same process, and they are using the same transport, then you want the behavior modification applied to each endpoint.

If you're instead using different transports in the same process, then you should configure assembly scanning to exclude the transport assembly that isn't relevant for that e

[2017-06-23 15:24] SzymonPobiega commented on #4804
@bording excluding the transport assembly sounds like a good compromise for me! ❤️

[2017-06-23 15:24] #4804 closed

[2017-06-23 15:36] dbelcham commented on #4811
@SzymonPobiega is there any influence on this by how different persisters implement their saga stuff?

[2017-06-25 03:35] ahofman opened #4812 "AcceptanceTest specifies queue name with inconsistent case"
The acceptance test `When_publishing_from_sendonly.Should_be_delivered_to_all_subscribers` fails using the SQS transport because the queue names in SQS are treated as case sensitive.
The test contains the desired queue name specified in camelCase ("publishingFromSendonly.subscriber") whereas the queue is created with UpperCamelCase ("PublishingFromSendonly.Subscriber").

Suggest changing the queue

[2017-06-26 06:53] timbussmann commented on #4744
@andreasohlund I think this is something which needs to be fixed (maybe even needs to be considered as backport).

@WilliamBZA any updates on this? based on your comment on the repo:

[2017-06-26 07:15] WilliamBZA commented on #4744
Not yet @timbussmann, it is currently number 2 on my todolist to kick off again once I have capacity again. I am fairly confident your proposed API is the correct move, it's only that autofac ugliness that I want to try work around, but if needs be that can also be a minor or patch release in the future.

[2017-06-26 07:20] timbussmann commented on #4744
thanks for the info @WilliamBZA. I'll assign the issue to you for now as you stated your intentions to address this. Please let us know if you need some help.

[2017-06-26 12:07] #4812 closed

[2017-06-27 05:52] SimonCropp commented on #4811
@SzymonPobiega so if this was in core then we could get rid of this in the sql persistence https://github.com/Particular/NServiceBus.Persistence.Sql/blob/develop/src/SqlPersistence/Saga/SagaInfoCache.cs#L54  ?

[2017-06-27 05:54] SimonCropp commented on #4805
@Particular/nservicebus-maintainers is there any harm adding a default constructor to DataBusProperty for v7?

[2017-06-27 06:28] SzymonPobiega commented on #4811
Yeah. In my opinion it makes sense.

@dbelcham It might be but I haven't checked. For sure `InMemoryPersistence` is not affected because it fails on some internal concurrency checks.

[2017-06-27 09:28] Scooletz commented on #4811
Azure maintainer hat on. @SzymonPobiega
If you base security on

then Azure Storage Persistence is safe as well, because it uses ETags and optimistic concurrency.

[2017-06-27 09:49] SzymonPobiega commented on #4811
@Scooletz nah. Let me correct myself

Means it throws exception where it could actually continue because it is based on the assumption that you can ever touch one saga data once during a single request processing. Azure Storage persistence does not have this limitation. It will happily create and then load & updated the same saga entity during one request. But it is not Azure Storage bug, it is a

[2017-06-27 19:27] bording commented on #4805
Seems like a reasonable way to deal with this until we decide what do with the data bus in general.

[2017-07-04 11:13] ramonsmits opened #4824 "Host identifier information either too specific or too global"
The host identifier is currently made of:

- endpoint name
- host path
- machine

If you have multiple instances running due to recycling then these individual processes are not identified so it is not possible to correlate issues to a specific instance thus the host identifier is too generic. On the other hand, we do include path info which for a lot of customers pollutes the ServicePulse inactiv

[2017-07-05 09:29] timbussmann commented on #4824
Are these headers used in SC?

would that change anything regarding the recycling scenario?

aren't we doing that already? https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.Core/Hosting/HostInformationFeature.cs#L26

endpoint name is a mandatory config options, I assume this isn't what you meant?

[2017-07-05 18:07] WilliamBZA commented on #4744
The `container-madness` branch has a valid fix. I'll neaten it up and submit a PR.

[2017-07-10 00:26] SimonCropp opened #4830 "Cant mix storages"
This repro uses in memory for sagas and nhibernate for everything else

https://github.com/SimonCropp/scratch/tree/master/MixedPeristence

[code]

When run it blows up with
[code]

But the same will happen (with a diff type cast combination) when mixing other persistence.

Seems that the synchronized storage session is designed to only support on instance in the container. so i dont understand how

[2017-07-10 00:27] SimonCropp commented on #4830
cc @danielmarbach after some research into your mixing of servicefabric and sql persistences

[2017-07-10 00:37] SimonCropp commented on #4830
some more context: should review/smoke test these combos based on the outcome of this issue https://docs.particular.net/persistence/order

[2017-07-10 00:38] SimonCropp commented on #4830
ping @SzymonPobiega since i seem to remember you having a fairly good contextual knowledge of this scenario

[2017-07-10 05:55] SzymonPobiega commented on #4830
This failure should probably be prevented by the core checking if sagas and outbox are assigned different persistences. I think that `StorageType.Sagas` and `StorageType.Outbox` are separate because some storages support one but not the other (e.g. Azure).

The problem is not only with mixing persistence of different types. It would also be a problem if one had a different config than the other (e

[2017-07-10 07:57] timbussmann commented on #4744
Verified using the test from #4827 that LightInject is not affected by this. According to @WilliamBZA no other supported container besides autofac is. To fix autofac, we need a breaking API change, there doesn't seem to be a way around that. The alternative is to not fix it and document this and recommend users to use autofacs native API instead (that should work fine, I assume @WilliamBZA ?).

[2017-07-10 08:47] timbussmann commented on #4744
Although the acceptance test provided by @WilliamBZA passes with lightinject, I had a feeling that something is off regardless and it's not related to autofac itself, so I wrote this test which fails on the commented assertions. I think this is a repro of the scenario you're describing @WilliamBZA ?

        [Test]
        public void Configure_with_builder_factory()
        {
            var buil

[2017-07-10 13:40] ramonsmits opened #4833 "Timeout manager TimeToWaitBeforeTriggeringCriticalErrorOnTimeoutOutages and MaxNextRetrievalDelay behavior improvement"
`TimeToWaitBeforeTriggeringCriticalErrorOnTimeoutOutages` can be called to adjust the circuit breaker duration. The issue is that if timeout storage is not available that by default it can take up to 3 minutes before the circuit breaker trips (1 minute between polls + 2 minutes for the circuit breaker duration).

- https://github.com/Particular/NServiceBus/blob/6.3.4/src/NServiceBus.Core/DelayedDe

[2017-07-11 10:39] WilliamBZA commented on #4744
@timbussmann that test seems better, but assumes that the test project has access to the `CommonObjectBuilder` et al, which only the NServiceBus.Core project will have. None of the other container solutions will be able to run that test 😢

[2017-07-11 11:00] timbussmann commented on #4744
@WilliamBZA yeah I know but I think I'll be able to somehow reproduce the captured root context issue on a shareable test, will investigate once we're clear how to proceed on core.

also something which would be fixed with my spike #4832 💃

[2017-07-11 14:20] timbussmann opened #4837 "Injected IBuilder is always root container"
When injecting `IBuilder` to resolve dependencies manually, the `IBuilder` is always the root builder. Depending on the container, this can cause the builder to not resolve dependencies in UnitOfWork scope correctly.

This is a repro test:

        [Test]
        public void When_using_injected_builder_to_resolve_uow_dependencies()
        {
            var builder = new CommonObjectBuilder(new Li

[2017-07-11 14:35] WilliamBZA commented on #4837
Duplicate of https://github.com/Particular/NServiceBus/issues/4744?

[2017-07-11 14:39] timbussmann commented on #4837
@WilliamBZA not exactly. They are very similar but #4744 relates to the Func<IBuilder, T> factory while this bug is about injecting `IBuilder` directly.

[2017-07-11 15:31] timbussmann opened #4838 "LightInject disposes components multiple times"
It seems like with the current way of registering interfaces of a concrete type, it can cause the concrete type to be disposed multiple times. Given:

    interface ISomeService
    {

    }

    class TransientServiceWithInterface : IDisposable, ISomeService
    {
        public TransientServiceWithInterface()
        {
            Interlocked.Increment(ref instanceCounter);
        }

        pu

[2017-07-11 15:45] timbussmann commented on #4838
@Particular/container-maintainers do other containers show this behavior as well?

[2017-07-11 15:48] mauroservienti commented on #4838
I don't have an answer for you @timbussmann, even if I'm a maintainer. What I can say is that the `Dispose` implementation should be designed so that multiple calls are not a problem, at least that's what I remember when I saw the dispose pattern the first time.

[2017-07-11 16:09] seesharper commented on #4838
We could change this change this behavior in LightInject without breaking anything even though Dispose implementations should be idempotent. We currently keep a list of tracked instances using an IList&lt;T&gt;. We could change this to use a HashSet&lt;T&gt; with a reference equality comparer.  We are changing behavior, but the chance of someone relying on the dispose method to be called multiple

[2017-07-11 16:42] bording commented on #4838
@seesharper I agree, it doesn't make sense to track the same instance multiple times. If you'd be able to make the change to the HashSet for tracking, I think that would be the ideal solution.

[2017-07-11 16:49] bording commented on #4833
@ramonsmits I'm not sure see the problem yet. If the storage database goes down and comes back up all between a poll interval, from the standpoint of the poller, it never went down, so why should the state of the storage database matter until a poll fails?

If anything I could see adding something to docs to clarify that the circuitbreaker is armed only after a failed polling attempt.

[2017-07-12 05:40] timbussmann commented on #4838
I like @seesharper solution as well. While in general it shouldn't be an issue if implemented "correctly", there is still a good chance that this can surprise someone registering their disposable service with NSB. I guess we need to make sure that we pull over the changes made in seesharper/LightInject#368 into our sources before closing this issue.

[2017-07-12 05:41] mikeminutillo opened #4841 "CorrelationId leaks outside of Request-Response"
The CorrelationId header is intended to correlate request and response messages. At the moment, every message that NServiceBus produces includes a CorrelationId.

If a message is sent outside of a handler, then it's CorrelationId is set to its MessageId. If a message is sent inside a handler, it's CorrelationId is set based on the CorrelationId of the incoming message being handled (or MessageId i

[2017-07-12 05:42] mikeminutillo commented on #4841
To fix this, we'd need to move the Correlation Id code into the ReplyContext so it only gets added for replies.

[2017-07-12 15:08] timbussmann commented on #4841
@mikeminutillo do you have any idea whether that behavior was newly introduced to v5?

besides the potential confusion and similarity to the conversation id, there doesn't seem to be a bigger issue with the behavior (trying to understand the criticality)?

[2017-07-12 15:16] timbussmann commented on #4841
I think there were some weird edge cases using ReplyToOriginator and some transitive message paths (e.g. send message from A to B to C and then use replies), but I don't remember them right now. Might be worth to quickly verify that there is no edge case scenario which would break because of that change.

[2017-07-12 15:19] timbussmann commented on #4833
Also, is there a real need from a production perspective to shut down the endpoint faster in case connection to the timeout manager is lost? From a messaging perspective, this doesn't seem to cause problems?

[2017-07-12 15:26] timbussmann commented on #4830
given this seems to be a larger effort with many edge cases to be considered. Should this be raised in pdev?

[2017-07-12 15:27] timbussmann commented on #4824
ping @ramonsmits

[2017-07-12 15:33] #4733 closed

[2017-07-14 06:17] mikeminutillo commented on #4841
I think it's mainly the confusion it causes. There's always a chance that a customer could be relying on CorrelationId when they should be using another header. I don't think it's possible for NServiceBus to behave incorrectly as a result of this bug.

[2017-07-15 07:27] SimonCropp opened #4853 "Does the double opt in test make sense in the core?"
https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.AcceptanceTests/Core/Outbox/When_outbox_double_optin_found.cs

Seems it is verifying behaviour that no longer exists in the core? and perhaps should be moved out?

[2017-07-17 15:39] timbussmann commented on #4853
yeah that should be removed. Both tests in this folder don't seem to run as the core doesn't match the tests requirements anyway.

[2017-07-17 16:01] ramonsmits commented on #4824
@timbussmann You are right that including assembly version info does not cover recyling detecting. It is more in regards in currently being either to specific or too global. If we include the path, then why not assembly information?

I didn't know we the process id was contained in the message but I don't think it is part of the host identifier when I look at that code. I think only the host ID is

[2017-07-17 16:05] ramonsmits commented on #4833
@bording The API allows smaller periods to be configured. As a use I would expect that if the database is down for longer than the configured period (as I tried to configure 15 seconds) that the endpoint would fail but that didn't happen. I purposely wanted it to fail faster than the default of 2 minutes.

@timbussmann I don't know if this can cause problems besides the behavior that I describe in

[2017-07-17 20:05] #4853 closed

[2017-07-18 07:48] timbussmann commented on #4833
should we document that minimum value is one minute instead?

[2017-07-18 08:04] timbussmann commented on #4824
just looked a bit closer, we're setting the processid on the `HostInformation` class, but it seems like those information are never put on any message. Might be worth to add those additional information somehow.

@ramonsmits making the host-id configurable seems like something which could highly confuse users in the first place. Why would you have to configure a host id along with configuring endp

[2017-07-18 14:28] #4838 closed

[2017-07-18 15:24] ramonsmits commented on #4833
Behavior is going to be documented, closing this.

[2017-07-18 15:24] #4833 closed

[2017-07-18 15:30] ramonsmits commented on #4824
@timbussmann The issue is that ServiceControl is dependent on the correct info for the host identifier.

What about not setting the host identifier at all? Make ServicePulse show a message that in order for host information grouping and/or heartbeats to work correctly that the host identifier needs to be set to an appropriate value.

[2017-07-18 18:14] indualagarsamy opened #4860 "Unobtrusive conventions don't respect the IsInterface check"
This was reported by a customer.

Steps to reproduce:
- Run the version 5 of the unobtrusive sample after modifying this line:
https://github.com/Particular/docs.particular.net/blob/master/samples/unobtrusive/Core_5/Shared/ConventionExtensions.cs#L21
to also include && type.IsInterface and type E in the Server application and the event is published.

- Make the same changes to the Version 6 Sample

[2017-07-19 06:19] timbussmann commented on #4824
I would assume that the exact value doesn't matter as long as it can match the identifiers?

I think this causes too much effort on too many users to resolve this single scenario you described.

[2017-07-19 15:13] ramonsmits commented on #4824
Not sure what you mean by that @timbussmann , it is used by SC/SP for presenting the status, it can lead to 'dead' instances without nothing what instances because it is only presenting the endpoint name and not the host id value or any of the source values to generate it

The thing is that the current way of reporting is not clear to our users. They don't know anything about host id but do see st

[2017-07-19 16:04] dbelcham commented on #4860
@indualagarsamy I updated your issue to add in the missing pieces to successfully repro this. I have verified that V6 does do what you said while V5 doesn't.

[2017-07-20 06:11] timbussmann commented on #4824
@ramonsmits I'm a bit confused, in the initial description you stated

so, it seems to me that

is an entirely different scenario, would that fit better in a dedicated issue?

[2017-07-20 13:17] danielmarbach commented on #4493
@timbussmann tricked me into tackling this. After diving into this I stopped working on it because I think there are a few things that need to be discussed first before we continue on this. The current work can be found https://github.com/Particular/NServiceBus/tree/uow-stage

Unfortunately it is not as simple as just introducing an UoW stage. The terminology Unit of Work is already used and defin

[2017-07-25 20:00] indualagarsamy commented on #4860
Thanks @dbelcham.

[2017-07-26 15:11] timbussmann commented on #4860
targeting a fix for v7 for now. After we know more about the issue and the required fix we can decide whether we should backport this to v6 as well.

[2017-07-26 17:41] dbelcham commented on #4860
I can't seem to replicate this with v7 running against Framework 4.5.2 using 7.0.0-alpharelease0009 and VS 15.3 Preview
![image](https://user-images.githubusercontent.com/1378057/28635272-566f2b1c-7210-11e7-833c-4a799fc76947.png)

[2017-07-26 17:54] bording commented on #4860
@dbelcham Can you also try the latest alpha package to make sure it's still OK there?

I have to say I wasn't expecting it to work in v7, since we haven't changed anything that I would expect to be relevant. What version of V6 did you repro it with?

[2017-07-26 18:24] dbelcham commented on #4860
Ah..didn't see the newer alpha out there. Same successful results with 7.0.0-alpharelease0026.

V6 failures were repro'd on 6.3.4.

[2017-07-27 13:04] ramonsmits opened #4873 "EndpointConfiguration should throw InvalidOperationException if modified after endpoint create/start"
I tried to extend the pipeline but my behavior was not invoked and I didn't understand why it wasn't invoked. The issue was that I registered the behavior  **after** the endpoint was already created. I think **any** modification to an `EndpointConfiguration` that has already passed to `Endpoint.Create` or `Endpoint.Start` should result in an `InvalidOperationException`.

[code]

[2017-07-27 13:36] ramonsmits opened #4874 "Extend ITransportReceiveContext with transport meta data about logical/physical queues"
I had the need to create a behavior to snoop info about the message being fetched/processed. I wanted to use this to send meta data about the message to be used for telemetry.

I wanted to know transport meta data:

- from which logical queue the message was fetched
  - `myendpointqueue`
  - `myendpointqueue-discriminator`
- from which physical queue the message was fetched
  - `myendpointqueue@zo

[2017-07-27 15:44] seantarogers opened #4875 "Extend Your Trial - warning appearing in v6.30"
Hello,

I am not sure if this is a issue or just down to our license.  From what I understand our company has a perpetual license with an expiry in 9999-12-31.
Anyway, we recently upgraded our .Net Framework 4.6.2 windows services' NServiceBus versions from 6.1.2 to 6.3.4.  Now when we start the Endpoints, the "It's time to extend your trial" warning box appears.  It seems that between v6.2.4 and

[2017-07-27 17:42] bording commented on #4875
@seantarogers Please send an email to contact@particular.net, and we should be able to help you get this fixed.

[2017-07-27 22:09] seantarogers commented on #4875
Thanks

[2017-07-28 10:54] #4875 closed

[2017-07-28 12:32] dmytro-gokun opened #4878 "Message delivered twice if the handler is long-running"
[NServiceBusBug.zip](https://github.com/Particular/NServiceBus/files/1183020/NServiceBusBug.zip)

Hi,

we are using NServiceBus over MSMQ. One of our command handlers is compute-bound and long running. What happens is that after ~1 minute of the handler processing a message, it gets called again with the same message. Please check the attached solution for the distilled code.

Either we're doing s

[2017-07-28 14:24] bording commented on #4878
Hi @dmytro-gokun,

It's always nice to get sample code demonstrating the problem being reported, so thanks for that!

The issue you're seeing is expected behavior. By default, the transaction timeout value is going to be 1 minute, so that lines up perfectly with what you are seeing. The message takes too long to process, causing the transaction to roll back, which returns the message to the queue.

[2017-07-28 14:32] dmytro-gokun commented on #4878
Hi @bording ,

thank you for the quick reply. The thing that confused me was that NServiceBus did not produce any logs about the fact that transaction timed out. Also, I did not find this information in the documentation.

The thing is that the compute task is really heavy and may take several hours to complete ...
Is this okay to have transactions lasting for several hours?
Is this behavior MSMQ-

[2017-07-28 16:59] bording commented on #4878
I suspect the reason you didn't see any log information is that from the standpoint of NServiceBus, it hasn't observed that the transaction can't be committed because it is still in the middle of processing your message.

However, from the point of view of MSMQ itself, it sees that the transaction has been rolled back, so the message is released from the queue. Since NServiceBus 6 has concurrency

[2017-07-28 18:21] dmytro-gokun commented on #4878
@bording Thank you for the answer. It's more clear to me now.

[2017-07-28 18:21] #4878 closed

[2017-07-29 11:45] mauroservienti commented on #4878
@dmytro-gokun I wrote a blog post about handling long running processes when messaging and transactions are involved. The approach it's very similar to what @bording suggested with the Azure sample, but it's not based on Azure.

http://milestone.topics.it/2016/12/20/the-case-of-nservicebus-long-running-handlers-ocr-processing.html

[2017-08-01 16:38] dbelcham commented on #4874
The @Particular/nservicebus-maintainers talked about this briefly and we had a couple of questions to help us narrow down how we might implement this and if that will require a breaking change or not.

- when, in the life of the pipeline, would you want to be able to access this metadata?
- what is the desired use of this data? (ie. perf counters)

[2017-08-01 21:58] ramonsmits commented on #4874
@dbelcham The data would indeed be used for metric collection and will be aggregated after the event took place. Properties can be added to a metric or event value to provide context.

As some data is static I would imagine that for a single receiver the global static value would be read once and then cached but that is an optimization.

[2017-08-02 14:01] timbussmann commented on #4873
I kinda like this idea. Although this might become quite noisy to implement considering all the extension methods based on `EndpointConfiguration` and it's sub-config classes. Also this would need to be respected from downstream config API.

[2017-08-02 19:27] dbelcham commented on #4860
Investigation has shown the following
### V6
- The `IOutgoingLogicalMessageContext.Message.MessageType` value changes from `IMyEvent` when entering the `EncryptBehavior.Invoke(...)` method to `IMyEvent__Impl` when leaving the `EncryptBehavior`.
- Because the `MessageType` value changes to a type (`IMyEvent__Impl`) that wasn't scanned and registered, serialization of the outgoing message fails.
- T

[2017-08-02 19:36] bording commented on #4860
@dbelcham Nice investigation! As we discussed, it would also be worth looking at the v5 implementation to see how it avoids this problem.

[2017-08-02 21:55] ramonsmits commented on #4873
Configuration settings are stored via the settings object right? By having a validation on that it would probably solve this for all variations.

[2017-08-03 12:18] timbussmann commented on #4860
feels like option 1 is a suitable approach for v6 (we can probably also put the mapper on the context to avoid DI) while option 2 would be the desired solution for v7?

[2017-08-03 12:22] timbussmann commented on #4860
I also wonder whether we should disallow changing the message type within the pipeline (verify that the new instance is assignable to the message type). I think that would break some samples we have, but it feels this is far too dangerous to be a valid supported scenario (and you can always fall back to use interface messages).

[2017-08-03 12:34] dbelcham commented on #4860
@timbussmann I might have been slightly wrong in option 1. I think the `MessageMapper` is going to need to be injected into the `OutgoingLogicalMessageContext.UpdateMessage` method. We know the proper type outside of that call, but inside that code all we have is the "new message" (which is the `__Impl`). The message type isn't visible for change outside of that method.

I'm also starting to think

[2017-08-03 12:43] dbelcham commented on #4860
@bording checked v5 and put notes above. Doesn't seem to be an issue, or possible, there.

[2017-08-03 13:51] egorpavlikhin commented on #4570
Why is it a bad practice to use generic messages? It's just a language feature to reduce code duplication. NServiceBus doesn't seem to support this, which is really unforunate, since the alternative is to write a bunch of T4 templates and I really don't like changing architecture because of one library's shortcomings.

[2017-08-03 15:14] timbussmann commented on #4715
@SzymonPobiega as you assigned this yourself, are you actively doing something related to this issue?

[2017-08-03 15:17] timbussmann commented on #4874
so are you currently using a workaround to access those information or is some feature potentially blocked by this?

[2017-08-03 15:21] timbussmann commented on #4830
@SimonCropp could you raise an issue in pdev for this?

[2017-08-03 15:28] timbussmann commented on #4675
Closing this as we feel like there doesn't seem to be enough interest or pressure to address this and this issue would probably just stay around for a long time. I think this question has to be answered next time we're running into this problem directly instead.

[2017-08-03 15:28] #4675 closed

[2017-08-03 15:32] timbussmann commented on #4570
@egorpavlikhin In general, NServiceBus is mostly intended for "business messages", messages which express some kind of business related commands or events and so far we haven't seen generic business events.

But since you mentioned that your architecture is using generic messages, we would be very interested in learning more about your usage of generic messages. Would you be able to share some exa

[2017-08-03 17:56] dbelcham commented on #4860
@timbussmann after some playing around I don't think we can use the idea we talked about that did:
[code]
The problem is that the `newInstance` is a reference copy of the original `Message.Instance` so any modification of property values on the `newInstance` (which is what the `EncryptionBehavior` and possibly mutators will be doing) is going to be reflected in the `Message.Instance` as well. That

[2017-08-04 06:30] timbussmann commented on #4860
@dbelcham

I fail to the see the problem with that, that would be intentional?
* If only properties are modified, there is no need to assign a new `OutgoingLogicalMessage`, as the current one already has a reference to the same type instance and the type of the instance didn't change either, so nothing needs to be changed.
* Only if somebody replaces the instance with a completely different type i

[2017-08-04 09:55] ramonsmits commented on #4874
@timbussmann I did not try to do more plumbing besides creating this issue. If it would have been present the NServiceBus.Metrics could be made much more interesting. If the meta data would have been available the monitoring samples currently made in docs for Azure Application Insights, Prometheus en maybe in the future for AWS Cloudfront could show much more meaningful data.

[2017-08-07 05:45] SzymonPobiega commented on #4715
@timbussmann Nope. I've assigned it to not lose it. Feel free to un-assign me.

[2017-08-07 11:55] danielmarbach opened #4888 "CustomFinder that starts a saga throws exception"
## Who's affected

* users trying to use a custom finder for a message that starts a saga

## Symptoms

When a custom finder is used for a message that starts a saga, an exception is thrown indicating that a correlated property must have a non default value assigned when a new saga instance is created, even though the saga data property value is assigned in the handle method.

[code]

## Steps to

[2017-08-07 11:59] danielmarbach commented on #4888
Of course the above described hack might have side effects as well. Another option would be no no longer validate whether the correlation property has a non default value. One could argue the check is not really useful anyway because:

When the property finder is executed the correlation property will always have the right value. When uses would reset the correlation on the saga instance the activ

[2017-08-07 12:34] marktaling commented on #4888
I can confirm this behavior works fine with NServiceBus 4, as it is our current production scenario. Of course, this particular issue cannot arise in NServiceBus 4, as the correlation property did not yet exist in that version.

[2017-08-09 13:33] danielmarbach opened #4893 "Installers cannot be disabled completely which can cause endpoints to fail to start"
## Who's affected

* Customers using transport connection strings without manage rights with the debugger attached

## Symptoms

When using Azure Service Bus connection string without manage rights an endpoint can operate but should assume that the required topology is fully created. As such an endpoint using a connection string without manage rights cannot use `EnableInstallers`. Unfortunately wh

[2017-08-09 13:36] danielmarbach commented on #4893
Relates to https://github.com/Particular/NServiceBus.AzureServiceBus/issues/592

[2017-08-09 13:36] danielmarbach commented on #4893
I would classify this as a bug with requires patching

[2017-08-10 10:00] danielmarbach opened #4897 "AutoSubscribe is slow due to non-concurrent subscription"
Detected while investigating into https://github.com/Particular/NServiceBus.AzureServiceBus/issues/592

AutoSubscribe happens in a FeatureStartupTask in a serial fashion like the following

[code]

With Azure Service Bus a subscription can have multiple rules for routing. We have a subscription per endpoint which contains all the routing rules. Unfortunately creating subscriptions takes time due t

[2017-08-10 12:29] timbussmann commented on #4897
the proposed change sounds reasonable to me. I think this would be a good fit for 6.4 along with https://github.com/Particular/NServiceBus/issues/4893

[2017-08-10 12:40] danielmarbach commented on #4897
What is the time frame of 6.4? Is the plan that 6.4 only contains the disable installer API as well as this fix and get out? If the timeframe is reasonable I have no objections to wait until 6.4. If I would have to prioritize I'd say the concurrency issue here is more important to be fixed. We encouraged the user to try to run without manage rights that's why we stumbled upon #4893 but since runni

[2017-08-10 12:43] timbussmann commented on #4897
the current plan is to get the two pending patches out and then prepare & release 6.4, so I'd say ~1 week. While I agree that we should unstuck this user asap, it's also hard to consider the current behavior as a bug fix. Would you consider a custom build as a temporary workaround until 6.4 is released?

[2017-08-10 12:46] danielmarbach commented on #4897
We don't have to consider it a bugfix. I'm talking about a normal patch. A path version doesn't always have to be a bugfix. I think we are mixing up things here. If we are lining up a couple of patches as you stated in https://github.com/Particular/NServiceBus/pull/4898 why not include this?

[2017-08-10 19:21] dasjestyr commented on #4701
So I'm getting this right now on startup even though I'm providing a license file path in the endpoint config. Not sure if this is related but it's preventing the host from starting.

[2017-08-10 19:31] bording commented on #4701
@dasjestyr License related problems shouldn't prevent an endpoint from starting. Can you provide more details as to what problem you're having?

[2017-08-10 20:34] dasjestyr commented on #4701
On startup, NServiceBus.Core.dll throws an exception "Empty license string" but I'm providing it to the configuration like this: `endpointConfiguration.LicensePath(licensePath);` It used to work fine but started with this issue recently. The file is present at the path and it is not empty.

[2017-08-10 20:59] bording commented on #4701
@dasjestyr Are you saying that your endpoint is crashing with an unhandled exception because of this? Or are you debugging and pausing on first-chance exceptions?

The place where that exception could be thrown is inside a try-catch statement which writes a "Failed to initialize the license" log entry. It shouldn't be unhandled.

What changed between when it was working and now? Did you update any

[2017-08-10 21:22] dasjestyr commented on #4701
I'm looking down the stream of exceptions that occur on startup and I'm feeling like this might be a deeper issue. I'm going to open a different issue as not to pollute this thread.

[2017-08-10 21:49] dasjestyr opened #4902 "A series of exceptions is preventing NSB from starting"
So I've been using the same configuration for some time but all stopped working recently after having updated some NSB packages. I'm not sure how to ask this question at this point because it's starting to appear as a cascading failure. I can provide any information that you need and/or grant read access to my repo. I'm at the end of my rope at this point. At any rate, the exceptions being thrown

[2017-08-10 21:59] bording commented on #4902
Can you provide the full list of packages you're using that have these problems? Can you also provide the last known list of "good" packages where you didn't have these problems?

Do have a way to provide a log file that shows these exceptions?

[2017-08-10 22:09] dasjestyr commented on #4902
I'll update this when I can locate a last known good config, but here are the current packages. The only logs of the exceptions are appearing in the Events tab of diagnostic tools. The output window only shows that exceptions are being thrown but without any details. Not sure what to do about that:
[code]

[2017-08-10 22:41] dasjestyr commented on #4902
It seems to be starting now (despite the load of exceptions that are thrown at startup. But when I try to send something on the bus, I'm getting the same error that I posted on the other thread:

[2017-08-10 22:54] dasjestyr commented on #4902
I removed NServiceBus.Serilog.Tracing and the problem seems to have stopped

[2017-08-10 23:16] bording commented on #4902
You're running this endpoint from inside Visual Studio, starting it with the debugger attached?

If so, then the exceptions you're seeing in the output window are nothing to be concerned about. They are the expected first-chance exceptions that are being handled by our code correctly. They aren't the source of your issue.

Looking at the stack trace, it definitely appears to be something related t

[2017-08-10 23:30] dasjestyr commented on #4902
Good, I'm not crazy. Always a plus. I'll close this issue thanks

[2017-08-10 23:30] #4902 closed

[2017-08-11 02:43] SimonCropp commented on #4902
@dasjestyr as an aside. i note u r using loggly. can u share some screen captures of how NSB information looks in loggly? possibly email me at simon.cropp@particular.net if you dont want to share publically

[2017-08-11 04:27] dasjestyr commented on #4902
Yep!

![image](https://user-images.githubusercontent.com/3200529/29201389-b595492e-7e12-11e7-9c3f-973f7aefaab7.png)

[2017-08-11 10:53] dbelcham opened #4903 "MessageType of interface events is incorrectly changed during outgoing processing"
Connects to #4860

[2017-08-11 10:54] dbelcham opened #4904 "MessageType of interface events is incorrectly changed during outgoing processing"
Connects to #4860

[2017-08-11 11:39] dbelcham commented on #4903
Close, not needed

[2017-08-11 11:39] #4903 closed

[2017-08-11 11:39] dbelcham commented on #4904
Closed not needed

[2017-08-11 11:39] #4904 closed

[2017-08-11 14:01] dbelcham commented on #4888
Fixed in 6.3.6

[2017-08-11 14:01] #4888 closed

[2017-08-14 11:11] andreasohlund commented on #4493
I'm starting to think that we should name the stage differently instead.

Looking at [what the code does](https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.Core/Pipeline/Incoming/TransportReceiveToPhysicalMessageProcessingConnector.cs#L27) could we call it `StorageStage` or `DeduplicationStage` etc?

You would then insert your own "BlaBlaBlaUnitOfWork" into that stage?

[2017-08-15 14:30] gkorobkov commented on #1834
I use NServiceBus 4.6.3 and I still have this issue:
2017-08-15 16:38:02,664 [35] WARN  NServiceBus.Unicast.DefaultDispatcherFactory [(null)] <(null)> - Message header 'NameSpace.Type' was mapped to type 'NameSpace.Type' but that type was not found in the message registry, please make sure the same message registration conventions are used in all endpoints, specially if you are using unobtrusive m

[2017-08-15 17:21] boblangley opened #4916 "TimeoutPersisterReceiver may not increment re-poll interval when timeouts are pushed"
After a timeout is pushed, the polling loop in `TimeoutPersisterReceiver` only updates the next retrieval time if the next expired timeout from the persister is less than the pushed timeout value. In those cases, this will cause the loop to re-run immediately, which can generate duplicate timeout messages.

## Who's affected

* All NServiceBus 5 users using the timeout manager for delayed delivery

[2017-08-15 19:01] bording commented on #4916
Fixed by #4899

[2017-08-15 19:01] #4916 closed

[2017-08-16 14:30] timbussmann commented on #4897
will be part of 6.4, closing this therefore. Thanks for raising this and providing a PR 🥇

[2017-08-16 14:30] #4897 closed

[2017-08-17 07:46] danielmarbach commented on #4888
Thanks. Notified Mark and closed the case

[2017-08-17 07:57] andreasohlund commented on #1834
Responded on the Google Group https://groups.google.com/d/msg/particularsoftware/3aqjDnrN6tM/LQ-TRA_XAwAJ

[2017-08-17 11:23] timbussmann commented on #4893
this is implemented in NServiceBus 6.4. Closing this issue.

[2017-08-17 11:23] #4893 closed

[2017-08-18 14:29] timbussmann opened #4922 "Running tests in VSTests throws UnauthorizedAccessException"
Some tests write files, e.g. in `When_file_content_larger_than_buffer_size`:

            const string filePath = "test.txt";

            try
            {
                await AsyncFile.WriteText(filePath, originalContent);

                var content = await AsyncFile.ReadText(filePath);

                Assert.AreEqual(originalContent, content);
            }
            finally

[2017-08-21 07:15] andreasohlund opened #4924 "Do we still need to set ClsCompliant(true) and ComVisible(false)?"
https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.Core/Properties/AssemblyInfo.cs

[2017-08-21 08:44] andreasohlund opened #4925 "Include endpoint name and time in accpt test logging"
To make things easier to debug on the buildserver we should find a way to include

* Endpoint name
* Time of logging

On each line in the logs created by the testrun

[2017-08-21 12:41] timbussmann commented on #4924
I guess the possibility of supporting F# at some point would be interesting, but it would be easy enough to add that back if that ever gets addressed.

[2017-08-21 15:05] dbelcham commented on #4924
I think the `ClsCompliant` attribute is required for our users to be able to use VB as their language of choice

[2017-08-21 15:11] timbussmann commented on #4710
@DavidBoike given @bording and my thoughts, do you think we need to further discuss this or can we close it?

[2017-08-21 15:13] timbussmann commented on #4709
@DavidBoike is there anything we need to follow up on this in core?

[2017-08-23 14:10] ramonsmits opened #4928 "NServiceBus 4 embedded RavenDB might not have all patches as present in NServiceBus.RavenDB 1.0.7"
NServiceBus.RavenDB 1.0.7 is released on Jun 6, 2016 and contains https://github.com/Particular/NServiceBus.RavenDB/pull/239 but this is not backported to NServiceBus 4.7 as the last release is 4.7.12 from Jan 28, 2016.

This means that https://github.com/Particular/NServiceBus.RavenDB/pull/239 is not included in core and potentially other patches too.

When the distributor got forked since 4.3, t

[2017-08-23 14:18] andreasohlund commented on #4928
@Particular/ravendb-persistence-maintainers looking at https://github.com/Particular/NServiceBus.RavenDB/pull/239 its not clear if this fit the critical patch criteria? (can you confirm that it does)

@ramonsmits is there a customer affected by this?

[2017-08-23 14:46] andreasohlund commented on #4924
We concluded that we need both to keep supporting VB and also not expose types to COM

Closing

[2017-08-23 14:46] #4924 closed

[2017-08-24 06:23] timbussmann commented on #4665
We decided to move this into the platform dev repository as this feature affects more than just core. I'm closing this issue as prioritization will be handled by platform development. For discussions and thoughts please feel free to continue commenting on this issue as pdev is currently not publicly available.

[2017-08-24 14:11] dbelcham opened #4931 "Remove obsolete with error in TransportExtensions"
`TransportExtensions` has two "obsolete with error in v7" in `NETSTANDARD2_0` if-defs that need to be removed when we move to v8.

[2017-08-25 14:16] manishkumar1689 commented on #2053
Check your connectionstring for database connection

[2017-08-25 18:13] #4710 closed

[2017-08-25 18:31] DavidBoike commented on #4709
I still think that in some version this should be patched so that the CombGuid generated by ControlMessageFactory actually goes somewhere. Satisfy Postel's Law, principle of least surprise, etc.

I don't think it has to be backported or anything. I'd be perfectly happy if it was rolled in as an improvement footnote in any major/minor release.

[2017-08-31 15:15] timbussmann commented on #4824
@ramonsmits there are still many open questions about this issue. Do you want to follow up or close this issue instead?

[2017-08-31 15:17] timbussmann commented on #4830
I'm going to close this issue as nobody followed up on this. I'll not raise the in pdev myself as I don't feel like I have enough context for an appropriate issue description. So please re-raise this issue in pdev if you think something should be done about this.

[2017-08-31 15:48] timbussmann commented on #4874
slightly adjusted the title to not limit any added metadata to a specific stage.

[2017-08-31 15:49] timbussmann commented on #3079
I believe https://github.com/Particular/NServiceBus/issues/4874 covers everything necessary to provide the required metadata as suggested by @danielmarbach , closing this therefore.

[2017-08-31 15:49] #3079 closed

[2017-09-01 06:36] timbussmann commented on #4830
After talking to @andreasohlund we decided to reopen and @andreasohlund will investigate a bit further on the details of the described bug.

[2017-09-01 06:39] SzymonPobiega commented on #4830
I see more as a design problem, not a 🐛 . FYI it is not fixed in SQL persistence: we'll check if the outbox or sagas are enabled and make sure that both use SQL persistence. Other persistence concerns are independent.

[2017-09-01 06:39] andreasohlund commented on #4830
Looking at our doco this should be supported

https://docs.particular.net/persistence/order#example-3

my hunch is that this isn't a core bug but instead related to the fact that currently outbox + sagas must use the same storage.

@Particular/sqlpersistence-maintainers I have a faint memory that you now check this?

@Particular/nhibernate-persistence-maintainers @Particular/azure-maintainers (ASP

[2017-09-01 06:44] andreasohlund commented on #4830
Looking at our doco we do imply that

https://docs.particular.net/nservicebus/outbox/

So how about we add a better exception in the core?

`if SagaStorageType != OutboxStorageType throw "You can mix storages for bla bla bla"`

[2017-09-01 06:47] SzymonPobiega commented on #4830
@andreasohlund yeah, that check in the core would be sufficient in my opinion. Until we decouple these two this is a must.

[2017-09-01 07:01] andreasohlund commented on #4830
@Particular/nservicebus-maintainers is this important enough for us to ship in v7?

[2017-09-01 07:44] timbussmann commented on #4830
@andreasohlund doesn't seem like it would require a breaking change? So I'd say this would be good enough for a minor?

[2017-09-01 09:56] ramonsmits commented on #4928
@andreasohlund it is just an observation. What needs to happen is to check if this is correct. It is not based on a customer issue although I noticed this while traversing the releases and seeing that RavenDB was embedded in core.

[2017-09-01 11:37] timbussmann commented on #4925
done with #4938

[2017-09-01 11:37] #4925 closed

[2017-09-02 16:58] SeanFeldman opened #4943 "Saga can be completed prematurely and skip recoverability"
Original issue raised with ASB as a [question from a customer](https://github.com/Particular/NServiceBus.AzureServiceBus/issues/596#issuecomment-326756003).
TL&DR: Saga completed, outgoing messages fail, saga is not retried and the incoming message is not found in the error queue.

The issue is with transports/persistences that are cannot share a transaction. To make things a bit more difficult, s

[2017-09-05 14:04] andreasohlund commented on #4943
Not sure I follow, before marking a message as ready for dispatch in the outbox all handlers and storage would be completed. If saga completion can't enlist in the same storage tx as flagging the message as ready for dispatching we can't do much from a core perspective?

[2017-09-05 19:06] andreasohlund commented on #4943
Talking to @SeanFeldman we decided to start with adding doco to point out this behavior. Stay tuned

[2017-09-06 12:18] masterpoi commented on #1711
Ran into the same issue today. Both inmemory and learningpersistence should allow to customize the JsonSerializerSettings

[2017-09-06 13:49] ramonsmits commented on #4824
@timbussmann As in the original description I'm making the case that the current host identifier is either to specific or too generic. We more or less have choosen a default that does not play nice with our platform.

At the end I'm proposing that is we cannot make this decision to make the host ID an explicit choice.

[2017-09-06 14:08] andreasohlund commented on #4824
Since the HostId is only used by SC I wonder if we can make it a mandatory setting for the plugins and obsolete the core api?

cc @Particular/servicecontrol-maintainers

[2017-09-06 14:33] WilliamBZA commented on #4824
Which plug ins @andreasohlund? Are you referring to hearbeats/audits/metrics?

Those aren't the only places where messages wind up in SC, what about messages that end up in the error queue? That comes directly from core and needs to have the host ID

[2017-09-06 20:26] bording commented on #1711
@masterpoi If you need to customize the JsonSerializerSettings, you can use the NServiceBus.Newtonsoft.Json serializer instead: https://docs.particular.net/nservicebus/serialization/newtonsoft

[2017-09-07 05:06] SzymonPobiega commented on #4824
Host Id is also used in the queue length calculation if I remember correctly (cc @tmasternak @Scooletz )

[2017-09-07 07:18] andreasohlund commented on #4824
Didn't think about the error and audit queue (although host id could be optional), I retract my idea to pull this out into the SC plugins.

[2017-09-07 07:29] WilliamBZA commented on #4824
As an aside: yet another ID has been [introduced in the metrics plugin](https://github.com/Particular/NServiceBus.Metrics/blob/develop/src/NServiceBus.Metrics/MetricsFeature.cs#L359)

[2017-09-07 07:35] andreasohlund commented on #4824
@WilliamBZA what's the semantics of that new id?

[2017-09-07 07:36] tmasternak commented on #4824
Almost correct. See below.

[2017-09-07 07:40] tmasternak commented on #4824
@andreasohlund  This was driven by the fact that in the monitoring capability we needed two things:
 * Unique Id for an instance
 * Meaningful instance name

We could use `HostId` and `HostDisplayName` in most of the cases except for `Azure`. For `Azure` the `HostId` is set to `RoleId` (e.g. `1`) and `HostDisplayName` is set to `RoleName` (`Finance`). In order to prevent custom logic on the proces

[2017-09-07 07:43] andreasohlund commented on #4824
Just noting that the endpoint doesn't actually have to be aware of the hostid since we have extension points that would allow the host to hook into the error and audit pipeline and enrich those messages with host id etc.

Would we consider the metrics and SC plugins to "attach to" the endpoint instance or the host?

Ie in a world where the host is explicit would we have:

[code]
OR

[code]

My hun

[2017-09-07 07:58] tmasternak commented on #4824
👍

[2017-09-08 02:05] mikeminutillo commented on #4824
Do we envisage a scenario where the host contains 2 endpoints and only one of them sends data to the monitoring instance? Or a case where the host contains 2 endpoints and they send data to different monitoring instances?

If not, then this belongs to the host.

Do we see a scenario where we host two instances of the _same_ endpoint in a single host? If so, that's what an `InstanceId` is and how i

[2017-09-08 05:19] andreasohlund commented on #4824
Sounds like edge cases, and we could solve that on the host level with some kind of: `host.Register(endpoint).DisableMonitoring();` api?

This seems like a possibility to me to support zero downtime deployments where `Sales-v1.0.0` and `Sales-v1.0.1` runs in parallel inside the same host for some period of time until `v1.0.1` is deamed stable. This seems to suggest that we need to take "endpoint v

[2017-09-08 05:30] andreasohlund commented on #4943
Doco is now updated https://github.com/Particular/docs.particular.net/pull/3177

Should we close this?

[2017-09-08 06:13] SeanFeldman commented on #4943
Closed via https://github.com/Particular/docs.particular.net/commit/3593f10f0d40249d5ea0403f52139957ce2fd5c1

[2017-09-08 06:13] #4943 closed

[2017-09-11 07:13] andreasohlund commented on #4830
Fair enough, I've added this to the Future milestone

[2017-09-11 07:51] danielmarbach opened #4948 "Consistent translation of queues?"
It seems we are applying different standards when it comes to queue translation. For example the [shared queue](https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.Core/Transports/Receiving.cs#L24) and the [instance specific queue](https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.Core/Transports/Receiving.cs#L29) are translated by calling `ToTransportAddres

[2017-09-11 14:33] SzymonPobiega commented on #4948
The reason for the lack of consistency is the fact that some things like input queue, error queue or the destination set via `SendOptions` are transport-level addresses provided by the users while others (input queues) are machine-generated based on the endpoint name via `ToTransportAddress`.

There are multiple valid forms of transport addresses provided by the users e.g. for SQL Server transport

[2017-09-11 14:38] bording commented on #4948
Does anything need to be changed here at all? The idea is that everything being passed into `QueueBindings` are in fact fully translated addresses. Some of those are logical endpoint names that were turned into addresses via `ToTransportAddress`, but others are provided directly by the user, as @SzymonPobiega has mentioned. Users are supposed to provide valid addresses, so changing those further o

[2017-09-11 21:33] kbaley commented on #4295
Is this still an issue with the encryption moved out to a separate package?

[2017-09-12 04:37] SzymonPobiega commented on #4948
@bording the idea was to pass them to `MakeCanonicalForm` for validation. This way we would also centralize the place where we parse (possibly multiple forms of) addresses and only deal with valid, parsed ones in dispatcher, pump and queue creator.

That said, I don't think we *need* to do this. I think we should consider it next time we open the transport seam for changes.

[2017-09-12 06:12] danielmarbach commented on #4948
@bording I don't think we necessarily need to change anything. I brought this up to have a discussion. For example I did not remember that we want to force people into giving valid queue names for the error queue and audit queue. For example if queue name shortening is applied in a transport the input queue is automatically shorted but if the error queue is too long or does not follow the conventi

[2017-09-12 12:13] andreasohlund commented on #4295
Correct, closing

@Particular/encryption-maintainers fyi

[2017-09-12 12:13] #4295 closed

[2017-09-12 14:55] DavidBoike commented on #4928
I don't see anything in the 1.0.x releases that needs to be migrated to (unsupported) NServiceBus 4.x.

[2017-09-12 14:55] #4928 closed

[2017-09-14 11:05] danielmarbach opened #4951 "Remove compatibility layer in DistributionStrategy"
In 6.2 we introduced the distribution context and a compatibility layer to make it a non-breaking change.

https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.Core/Routing/DistributionStrategy.cs#L24

This compatibility layer should be removed. So in other words switch from

[code]

to

[code]

[2017-09-14 11:06] danielmarbach commented on #4951
@Particular/nservicebus-maintainers I think this should be done before RC but it is not a tragedy if not.

[2017-09-14 22:51] SimonCropp commented on #2966
no longer relevant

[2017-09-14 22:51] #2966 closed

[2017-09-15 10:49] andreasohlund opened #4955 "Lambda constructors added in version 5.2.23 breaks StructureMap support"
Reported by a user via Gitter - https://gitter.im/Particular/NServiceBus?at=59bbaa71c101bc4e3acd1912
Relevant code change: https://github.com/Particular/NServiceBus/pull/4899/files#r139117439

@Particular/nservicebus-maintainers since this blocks StructureMap users I propose we treat this as a patch?

[2017-09-15 12:54] andreasohlund commented on #4955
Probably breaks other containers as well, wonder if making the ctor internal is enough?

[2017-09-15 13:06] andreasohlund commented on #4955
I've confirmed the issue with a minimal repro

[code]

This prevents the endpoint from running since the timeout poller trips the circuit breaker with

[code]

[2017-09-15 13:43] andreasohlund commented on #4955
I've confirmed that removing the lambda ctors fixes the issue, will open a PR

[2017-09-15 13:48] andreasohlund commented on #4955
https://github.com/Particular/NServiceBus/pull/4958

[2017-09-15 14:13] andreasohlund commented on #4955
Verified that v6.X isn't effected since we register the affected types using lambda instead of letting the container satisfy the deps

[2017-09-15 16:52] ramonsmits commented on #4824
@WilliamBZA but that new header has a prefix identifying that it is owned by the metrics package. @SzymonPobiega If host ID is required by the queue length calculation wouldn't it be better if it would use its own header for that?

That is certainly possible when it is hosted within IIS as recycle operations are always overlapping.

[2017-09-15 19:29] bording commented on #4955
Fixed by #4958

[2017-09-15 19:29] #4955 closed

[2017-09-16 07:49] andreasohlund opened #4961 "v7 Beta 3 doesn't pass connection string to transport where a conn string isn't mandatory"
https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.Core/InitializableEndpoint.cs#L52

This was introduced in https://github.com/Particular/NServiceBus/pull/4949

We need to always pass the connectionstring if there is one even if not mandatory for the transport (like MSMQ and SQL)

cc @SimonCropp @Particular/sqlpersistence-maintainers