[2016-03-01 12:56] mauroservienti commented on #3472
After a discussion with @timbussmann, @andreasohlund and @ramonsmits I'm closing this one in favor of this effort https://github.com/Particular/NServiceBus/issues/3532.
The idea is that we can fix this at the persistence level without affecting core, especially in light of the fact that we have the goal to completely re-design timeouts management.

[2016-03-01 12:56] #3472 closed

[2016-03-01 12:57] mauroservienti commented on #3532
Event if I was not there I'd like to be involved in this, at least at the architectural level.

[2016-03-01 13:16] timbussmann commented on #3534
:+1:

[2016-03-01 14:31] indualagarsamy commented on #3505
@andreasohlund @danielmarbach - I verified the new overload. Closing this issue.

[2016-03-01 14:31] #3505 closed

[2016-03-01 17:45] adamralph commented on #3443
@andreasohlund :+1: fixed in v6, no backport.

[2016-03-02 00:35] indualagarsamy commented on #1465
@Particular/nservicebus-maintainers - I am good with @timbussmann's suggestion.
If you have doco issues/PRs/doco already published for the code level API changes, can you please link those to this issue.
In that case, I am good with closing this issue.

[2016-03-02 00:50] indualagarsamy commented on #3370
Update: I am working on trying to convert over the IAdvancedSatellite. Based on that, I'll close this issue if I don't run into any issues.

[2016-03-02 07:21] SzymonPobiega commented on #3439
@timbussmann @andreasohlund I don't think eventual consistency is good enough. Given that the subscription messages leave very little trace when they fail it is hard to detect a failure of subscribe (for whatever reason). The subscribing endpoint has no way to check if it's subscribe request has succeeded and can continue to operate assuming it is subscribed. I am thinking about making the `Subscr

[2016-03-02 07:34] SeanFeldman commented on #3354
@tmasternak

Both ServiceBus  and Storage Queues can provide number of deliveries that took place. SLR is NSB`s concept. So technically max delivery count would be equal to total number of attempts to deliver.

@timbussmann

Not quite. With some transports if you dequeue multiple times, it is not going to remove the message from the queue. With ASB if you surpass `DeliveryCount`, the message is mo

[2016-03-02 07:38] danielmarbach commented on #3439
I'm all for removing Message-Driven pub sub. It provides little value and the autonomy we get through message driven pub-sub is a fallacy.

[2016-03-02 07:43] tmasternak commented on #3354
@SeanFeldman that's good news. One additional thing that I realized is that both SLR or Errors work in such a way that they first return message to the queue and will fire on the next receive (this is done to make sure we do not commit receive transaction scope). This causes a small problem (I think) because if we want to have SLR + native FLR the message needs to be delivered native_FLR_max_retri

[2016-03-02 07:51] SzymonPobiega commented on #3304
In the current version the `settings.LocalAddress()` returns that shared queue to be used when subscribing so I consider this done. Do you agree @johnsimons ?

[2016-03-02 07:56] SeanFeldman commented on #3354
@tmasternak for ASQ not an issue, it has no DLQ (as of today :grinning:). For ASB set delivery count to whatever the "FLR x SLR" value is.

[2016-03-02 07:57] johnsimons commented on #3304
no idea, is the contract updated?

[2016-03-02 07:59] tmasternak commented on #3354
@SeanFeldman :+1:

[2016-03-02 08:00] andreasohlund commented on #3304
I can confirm that this works since I used it in the devtranport

https://github.com/Particular/NServiceBus/pull/2950/files#diff-84dfb9e90332fd3003920ba1eacca45cR40

[2016-03-02 08:16] andreasohlund commented on #3439
That highlights my point. Any app that absolutely requires to be subscribed at a given point needs to make sure that the subscription is present "out of band" , usually by adding it straight to the "storage".

If you don't care I see no value in this over logging, errorq etc?

Also if we move to a model where pubsub is handled by each transport then this becomes a implementation detail of each tra

[2016-03-02 09:03] SzymonPobiega commented on #3439
I guess this issue confirms that we should move pubsub to the transports.

My point was slightly different. If you use `session.Send()` the message will eventually arrive at the destination because it has been sent. If you use `session.Publish()` the message might not be sent or might not be routed to any queue and dropped by the broker which is a message loss case from system point of view. It is

[2016-03-02 09:32] SzymonPobiega commented on #3304
The contract is not updated but the behavior of core has changed. Previously when you provided the instance ID/discriminator, the `LocalAddress` would point to the queue with the ID/discriminator which was wrong from pub/sub point of view. Now it points to the shared queue so no additional parameter is needed.

[2016-03-02 09:39] timbussmann commented on #1465
@indualagarsamy there is https://github.com/Particular/NServiceBus/issues/3424 which is already linked.

Closing this then.

[2016-03-02 09:39] #1465 closed

[2016-03-02 09:45] timbussmann commented on #3354
that sounds like it's a different behavior than expected? If retries are exceeded, the message should be moved to the errorqueue?

sorry, I can't follow. Can you elaborate?

[2016-03-02 10:48] danielmarbach opened #3539 "`PendingTransportOperations` should be thread-safe"
`PendingTransportOperations` get added by the transport receive behavior and pending transport operations are enqueued when no immediate dispatch is used. Since a user could potentially write inside the handler

[code]

adding pending transport operations should be safe even under concurrent access.

Since `PendingTransportOperations` is using a list internally and the `Add` operation is not safe

[2016-03-02 11:01] danielmarbach commented on #3535
@Particular/platform-dev-squad I would like to flag this V6

[2016-03-02 11:01] danielmarbach commented on #3534
@Particular/platform-dev-squad I would like to flag this V6

[2016-03-02 11:16] SzymonPobiega commented on #3300
I've created a PR #3540 that attempts to address this. Closing this issue.

[2016-03-02 11:16] #3300 closed

[2016-03-02 12:28] andreasohlund commented on #3539
:+1 to fix

[2016-03-02 13:58] ramonsmits opened #3542 "V5: StackoverflowException when using DefineCriticalErrorAction"
Setting a custom critical error handler will result in a `StackoverflowException` when the circuitbreaker trips.

http://docs.particular.net/nservicebus/hosting/critical-errors#a-possible-custom-implementation

    BusConfiguration busConfiguration = new BusConfiguration();
    busConfiguration.DefineCriticalErrorAction(OnCriticalError);

## Expected behavior

The callback should result in the abi

[2016-03-02 15:34] danielmarbach commented on #3533
@boblangley will be working on this. I'm a member of this TF as well.

[2016-03-02 15:35] danielmarbach commented on #3539
@boblangley will be working on this. I'm a member of this TF as well.

[2016-03-02 17:20] timbussmann commented on #3542
was unable to reproduce the StackoverflowException by the steps you provided. CPU usage went quite high (due to insane polling by MSMQ I suspect?) but no SOE. How long did it take for the Exception to occur?

I don't think CriticalErrorAction is intended for such use cases. I think it is mainly a hook to provide your own notifications and cleanup rather than keeping the bus alive. A critical error

[2016-03-02 17:41] ramonsmits commented on #3542
After I saw a 5 exceptions of the MSMQ transport if took max. 3 seconds to get the SOE. I'll re-run it and make sure.

Restarting the bus is exactly what I mean with recovering. Disposing all resources and creating a whole new bus instance with `Bus.Create(BusConfiguration)`.

[2016-03-02 18:18] danielmarbach commented on #3542
Are you reusing the same bus configuration?

On Wednesday, March 2, 2016, Ramon Smits <notifications@github.com> wrote:

--
*Don't miss the Async/Await Webinar Series*
*• Learn more <http://go.particular.net/l/27442/2016-02-15/681bjl> →*

[2016-03-02 18:56] ramonsmits commented on #3542
@danielmarbach I'm not re-using anything I can't build any logic for recovery as just adding an empty callback results in a SOE :-). To still answer that, no, as the bus configuration is not reusable too.

[2016-03-02 20:06] SeanFeldman commented on #3354
It depends. When you have a competing consumer and your custom code has an in-memory counter per consumer, that might not happen. Exactly what @yvesgoeleven was trying to say in his https://github.com/Particular/NServiceBus/issues/3354#issuecomment-190108001 .

The 2nd item, @timbussmann sorry, poor way to put it. What will happen is the message is moved to a DLQ associated with the processing que

[2016-03-02 23:52] bording commented on #3304
I had actually moved to using `settings.EndpointName()` to get the shared queue name, which seemed to be working.

Since it looks like using `settings.LocalAddress()` is more correct, I'll update it to use that instead.

So yes, this should be considered done!

[2016-03-03 07:24] timbussmann commented on #3354
@SeanFeldman agreed, can you schedule a meeting?

[2016-03-03 07:42] danielmarbach commented on #3354
In my humble opinion we should not spend time on this for this release. If
you really feel this has to be done, flesh out an issue and description and
ping the platform dev squad for a request to prioritize.

[2016-03-03 07:44] #3304 closed

[2016-03-03 10:39] andreasohlund commented on #3542
Empty critical error action seem like an invalid use case to me since that would keep the transport spinning (churning CPU like @timbussmann said).

Arguably we could flip the transports into some kind of "fault" mode that are less aggressive in the future?

This has been discussed here: https://github.com/Particular/PlatformDevelopment/issues/267

[2016-03-03 12:55] weralabaj opened #3544 "Why `PauseAfterReceiveFailure(Timespan)` is obsoleted?"
In V5 we had PauseAfterReceiveFailure(Timespan) parameter for CircuitBreaker. CircuitBreaker was public and used e.g. in SQL Server transport.

In V6 CircuitBreaker was made internal and the parameter was removed. Why?

TODO: Document answer in upgrade guides ("Main" upgrade guide and SQL Server transport one).

[2016-03-03 12:57] andreasohlund commented on #3544
That parameter is not used in the core. If sql wants it we should copy paste the v5 impl over to the sqltransport

[2016-03-03 12:58] danielmarbach commented on #3544
We made a conscious decision that core should not be a utility library.

@andreasohlund we need to write this down in the PD guidelines

[2016-03-03 12:58] danielmarbach commented on #3544
@andreasohlund she would need to copy paste the v6 async version and reintroduce that parameter

[2016-03-03 12:59] andreasohlund commented on #3544
Agreed, are U doing it? :)

[2016-03-03 13:00] danielmarbach commented on #3544
@andreasohlund your wish is my command!

[2016-03-03 13:02] weralabaj commented on #3544
Agreed, but I know why it was removed in SQL transport - because it was removed from Core and we copied it. But I don't know why it was removed in core? How is that different then from SQL Circuit Breaker?

[2016-03-03 13:04] andreasohlund commented on #3544
We didn't seem to need to adjust is and hardcoded it to 1s https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.Core/CircuitBreakers/RepeatedFailuresOverTimeCircuitBreaker.cs#L43

I guess we called YAGNI on it?

[2016-03-03 13:09] weralabaj commented on #3544
Fair enough, thanks.

[2016-03-03 13:16] andreasohlund commented on #2926
Fixed in https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.Core/CircuitBreakers/RepeatedFailuresOverTimeCircuitBreaker.cs#L43

[2016-03-03 13:16] #2926 closed

[2016-03-03 13:17] andreasohlund commented on #2869
Since v6 have this fixed I'm closing this as done. Please reopen if you want to propose a backport

[2016-03-03 13:18] #2869 closed

[2016-03-03 13:21] danielmarbach commented on #3544
Close it?

[2016-03-03 13:22] #3544 closed

[2016-03-03 13:23] andreasohlund commented on #2706
@danielmarbach what do you propose we should do? (open a new issue for the fix?)

[2016-03-03 13:25] danielmarbach commented on #2706
This is now done as part of https://github.com/Particular/NServiceBus/issues/3305

[2016-03-03 13:25] #2706 closed

[2016-03-03 14:08] timbussmann commented on #2869
I tend to agree with @DavidBoike. I vote for reopening.

[2016-03-03 14:49] andreasohlund commented on #2869
Not pretty but there is a workaround:

`timer.Start(_=>bus.Send("servicecontrol",JSonConvert.Serialize(new EndpointHeartbeat())))`

where EndpointHeartbeat =>
https://github.com/Particular/ServiceControl.Plugin.Nsb5.Heartbeat/blob/develop/src/ServiceControl.Plugin.Nsb5.Heartbeat/Messages/EndpointHeartbeat.cs

would that be enough?

[2016-03-03 18:42] ramonsmits commented on #3476
@timbussmann Not being dependent on timeouts. This method retries as fast as possible. It will not be send to a retries queue first, then scheduled, dehydrated and put on a queue again.

Second is that the number of retry attempts are fixed and also works in competing consumer environments.

[2016-03-03 18:46] ramonsmits commented on #3365
@MarcinHoppe @andreasohlund This should not be happening on develop anymore. I'll verify develop and report back.

[2016-03-03 18:47] SeanFeldman commented on #3304
@andreasohlund it was closed prematurely. The change was not communicated to the downstream projects :disappointed:

I caught this accidentally on a slack, rather than through a PR to a downstream project. Sent a [PR](https://github.com/Particular/PlatformDevelopment/pull/662/files) to ensure it's a part of the [nservicebus-maintainers.md](https://github.com/Particular/PlatformDevelopment/blob/8d2

[2016-03-03 18:47] danielmarbach commented on #3476
Since we are moving towards a lingo where we only talk about retries I have a hunch this will be built-in

[2016-03-03 19:00] ramonsmits commented on #846
There are more improvements regarding the databus: https://github.com/Particular/PlatformDevelopment/issues/539

Just purging blobs is not really a good idea from an endpoint perspective. Please read the ideas about a purging policy that can make decisions based on information from audit and error messages.

[2016-03-03 20:28] andreasohlund commented on #3365
Not seen it in a while now

[2016-03-03 20:29] andreasohlund commented on #3304
Good catch @SeanFeldman !

[2016-03-03 21:51] colin-higgins opened #3545 "Make ExpiredTimeoutsPoller intelligently select NextTimeToQuery"
In each of the downstream repositories we are duplicating logic to intelligently choose the next time to query if there are timeouts within the next polling window.

If core pulled in a small window of future timeouts, we could eliminate the duplication and choose when to query next in a consistent manner.

https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.Core/DelayedDelivery

[2016-03-03 21:57] danielmarbach commented on #3545
Can you elaborate more your idea?

[2016-03-03 23:12] boblangley commented on #3533
@danielmarbach @andreasohlund

I looked through the public interfaces and came up with this other list. Here are ones I can recommend to include right away:

- IMutateIncomingMessages
- IMutateOutgoingMessages
- IMutateIncomingTransportMessages
- IMutateOutgoingTransportMessages
- IManageUnitsOfWork

What about these ones advanced users or downstream packages may implement?:

- ICriticalErrorConte

[2016-03-04 04:08] SimonCropp opened #3547 "review obsoletes for usages of "Bus""

[2016-03-04 04:10] SimonCropp opened #3548 "remove incorrect mentions of add-NServiceBusAuditConfig"
eg https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.Core/Audit/AuditConfigReader.cs#L73

[2016-03-04 04:21] SimonCropp opened #3549 "Incorrect "DefineEndpointName" and "EndpointVersion" in exception message?"
https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.Core/EndpointHelper.cs#L38
https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.Core/EndpointHelper.cs#L58

[2016-03-04 07:11] danielmarbach commented on #3533
I see value in

- IHandleMessages
- IHandleTimeouts
- All overridable saga members
- Sagas
- IWantToRunWhenTheBusStartsAndStops

Optionally (but let's the above do first)

- IMutateIncomingMessages
- IMutateOutgoingMessages
- IMutateIncomingTransportMessages
- IMutateOutgoingTransportMessages
- IManageUnitsOfWork

all other are really internal advanced extension points. I don't see the value there

[2016-03-04 07:20] SzymonPobiega commented on #3304
@SeanFeldman terribly sorry I for that. When I was doing #3374 I forgot to include the ASB transport in the TODOs :-(

[2016-03-04 07:27] andreasohlund commented on #3545
@SzymonPobiega @tmasternak did you raise an issue for the "future of the TM"?

Pretty sure this makes this one moot?

[2016-03-04 07:30] SeanFeldman commented on #3304
No worries @SzymonPobiega. The good thing is that w/o forgetting about ASB we'd never know that nservicebus-maintainers.md needs to be updated.

Are you going to open a PR or should I?

[2016-03-04 07:34] tmasternak commented on #3545
@andreasohlund https://github.com/Particular/NServiceBus/issues/3532

[2016-03-04 07:44] andreasohlund commented on #3533
:+1:

[2016-03-04 07:46] SzymonPobiega commented on #3304
@SeanFeldman I'll do it.

[2016-03-04 08:29] timbussmann commented on #3476
I don't see enough value over just using SLR. Yeah it's faster but I don't really see a urgent need to make error cases be more performant.

Again, like on other issues, I'm strongly against solving the "fixing retry attempts" for special edge case scenarios only. I think it's best to keep the behavior consistent and find a solution which works for every approach.

[2016-03-04 09:19] andreasohlund commented on #3054
@tmasternak  Can we close this one as a duplicate of https://github.com/Particular/NServiceBus/issues/3065 ?

cc @MarcinHoppe

[2016-03-04 09:22] tmasternak commented on #3054
I think that this one is about behavior and #3065 is about naming.

[2016-03-04 09:32] andreasohlund commented on #3341
Given that the [multi deserializer sample ](http://docs.particular.net/samples/pipeline/multi-serializer) now works can we close this one?

Yes the user can't get access to what was configured in their replaced behavior but they kind of know that anyway since they are the ones configuring serializers on the endpoint config that anyway?

[2016-03-04 09:35] andreasohlund commented on #3317
Talking to @danielmarbach and while we think the idea is valid we don't see it as a must have for v6.

Removing the label

[2016-03-04 09:37] andreasohlund commented on #3315
@ramonsmits is this done?

Removing the core v6 label.

[2016-03-04 09:40] andreasohlund commented on #3314
Is this one done?

Removing the core v6 label

[2016-03-04 09:41] andreasohlund commented on #3342
@indualagarsamy do you want to drive this one? (I can help out)

[2016-03-04 09:47] andreasohlund commented on #3412
Me and @danielmarbach strongly believe we should do [the scope session](https://github.com/Particular/PlatformDevelopment/issues/591) and we will champion it for inclusion in v6.

Closing this one as replaced by https://github.com/Particular/PlatformDevelopment/issues/591

[2016-03-04 09:47] danielmarbach commented on #3476
I agree with @timbussmann

@Particular/nservicebus-maintainers I vote for closing this but consider it when we address recoverability in the next release

[2016-03-04 09:47] #3412 closed

[2016-03-04 09:49] andreasohlund commented on #3316
Since we're moving away from xml config I'm removing the v6 core tag

[2016-03-04 09:54] andreasohlund commented on #3429
Keeping the core v6 label on since this is a left over from the removal of the masternode concept. @SzymonPobiega @janovesk would any of you like to drive this?

[2016-03-04 09:56] andreasohlund commented on #3426
@SzymonPobiega has this been decided on?

@mat-mcloughlin do you plan to work on this?

[2016-03-04 09:58] andreasohlund commented on #3395
@SzymonPobiega is this still needed for core v6 given #3485 ?

perhaps we can even close this one?

[2016-03-04 10:01] SzymonPobiega commented on #3437
@SimonCropp ping.

[2016-03-04 10:02] andreasohlund commented on #3345
Even though we all want this it I can wait until next major. Me and @danielmarbach don't see this as core v6 :(

Removing label

[2016-03-04 10:03] SzymonPobiega commented on #3426
@andreasohlund not sure. @SimonCropp challenged me to prepare a draft of an announcement telling the customers that there will be no V6 version of distributor and that they need to switch to a stand-alone distributor scenario if they used distributor in-process. Here's the draft: https://github.com/Particular/NServiceBus/issues/3437

[2016-03-04 10:03] SzymonPobiega commented on #3395
@andreasohlund yes, not a blocker for V6.

[2016-03-04 10:03] SzymonPobiega commented on #3395
Closing for now.

[2016-03-04 10:03] #3395 closed

[2016-03-04 10:06] andreasohlund commented on #3437
@SzymonPobiega can you add the customer communication to the upgrade guide/open issue in docs and close this one?

[2016-03-04 10:07] andreasohlund commented on #3425
Let's go ahead with the rename. @timbussmann will you handle this?

[2016-03-04 10:08] SzymonPobiega commented on #3437
Let's wait till @SimonCropp and @DavidBoike agree that this is the way to go and no code needs to be written.

[2016-03-04 10:11] andreasohlund commented on #3406
@Particular/platform-dev-squad this is another indication that we should consider Particular/PlatformDevelopment#621 since it will make this "just work". @mikeminutillo was there a call with @udidahan setup to make the decision?

[2016-03-04 10:12] andreasohlund commented on #3125
Closing this @Particular/transport-maintainers please schedule a retrospect

[2016-03-04 10:12] #3125 closed

[2016-03-04 10:17] andreasohlund commented on #3323
This can be added in a minor release, removing the v6 label

[2016-03-04 10:18] andreasohlund commented on #2750
Are you working on this one @indualagarsamy ?

[2016-03-04 10:21] andreasohlund commented on #3388
@mikeminutillo since #3517 is merge can you verify and close this if you are happy with the fix?

:cop:  @SzymonPobiega when you're pulls get merged please make sure to close related issues

[2016-03-04 10:22] andreasohlund commented on #3499
@tmasternak @weralabaj can you verify and close this one?

[2016-03-04 10:24] SzymonPobiega commented on #3388
@andreasohlund there is no doco issue raised yet so I need to leave this one open. #3517 only fixes the exception @mikeminutillo raised. The remaining issue is if you deploy a V6 cluster on MSMQ and forget to put a distributor in front of it, each endpoint will subscribe by itself causing events to be delivered to each instance.

[2016-03-04 10:31] mikeminutillo commented on #3406
@andreasohlund given that Udi is travelling and delivering ADSD next week I have sent him an email asking what we should do about it.

[2016-03-04 10:36] danielmarbach commented on #3388
@SzymonPobiega sounds like you need a TF to work on

right? Can you kick it off?

[2016-03-04 10:43] andreasohlund commented on #3079
Talking this through with @timbussmann and @danielmarbach we decided that even though its a breaking change this is the right thing to do. Mixing satellites and the main queue is confusing for end users. Yes satellites should expose relevant ops data and they can decide to do it via perf counters. We can add this in a minor version so marking this as a feature and removing the core v6 label.

I wi

[2016-03-04 10:45] mat-mcloughlin commented on #3426
@andreasohlund My PR for obsoleting this properly was pulled in a while back now and I opened up a doco PR for it. I think @mikeminutillo is going to take it off my hands now as it required a bit more knowledge of the distributor than I have at the moment

Doco PR https://github.com/Particular/docs.particular.net/pull/1197

[2016-03-04 10:55] SzymonPobiega commented on #3388
I think it belongs to the 133 TF (myself and @janovesk ).

[2016-03-04 11:25] SzymonPobiega commented on #3304
@SeanFeldman I've reviewed the code in `StandardTopologySectionManager` and it seems like it correctly uses `EndpointName` as a basis for naming the subscription. The `LocalAddress` is the transport-specific name of the incoming queue that is deterministically generated from `EndpointName`.

[2016-03-04 11:32] danielmarbach commented on #3426
@mat-mcloughlin Ok I assigned @mikeminutillo

[2016-03-04 11:45] andreasohlund commented on #3545
@colin-higgins please review #3532 and reopen this one if needed

[2016-03-04 11:48] andreasohlund commented on #3054
Should we bundle this with https://github.com/Particular/NServiceBus/issues/3424 ?

[2016-03-04 11:50] MarcinHoppe commented on #3054
Or #3466 maybe?

[2016-03-04 11:53] tmasternak commented on #3054
:+1: #3466

[2016-03-04 12:06] andreasohlund commented on #3388
Can you add this as a check list in the description?

[2016-03-04 12:11] andreasohlund commented on #3054
Merged into https://github.com/Particular/NServiceBus/issues/3466

[2016-03-04 12:11] #3054 closed

[2016-03-04 12:37] danielmarbach opened #3558 "Consider getting rid of IReadOnlyCollection, IList, IReadOnlyDictionary on the message paths"
While doing other things I let two benchmarks run on my machine to compare performance and garbage collection behavior with IReadOnlyDictionary and IReadOnlyList. Looking at the result below, should we consider getting rid of these interfaces in the message handling paths?

[code]
                         Method |         Median |        StdDev | InitialSize | Gen 0 | Gen 1 | Gen 2 | Bytes Allocat

[2016-03-04 12:44] andreasohlund commented on #2783
Since replacing and removing is somewhat of an edge case, 99% of the users will add behaviors I propose we

1. Remove the WellKnownStepIds
2. Make sure to not change step ids in patches and minors by dumping them into https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.Core.Tests/API/APIApprovals.ApproveNServiceBus.approved.txt so that out api approvals will catch any changes

S

[2016-03-04 12:44] timbussmann commented on #3425
@andreasohlund seems like this is an easy task which can be handled by everyone looking for work?

[2016-03-04 12:51] andreasohlund commented on #3425
:+1:

[2016-03-04 13:01] andreasohlund commented on #3126
@Particular/tf-async-persistence I can't find anything in the description that is left todo in this repo. Are all outstanding issues tracked by the linked issues in the description? if yes please make sure they are tagged as core v6 and close this one

[2016-03-04 13:04] andreasohlund commented on #3065
Will be covered by https://github.com/Particular/NServiceBus/issues/3466

[2016-03-04 13:04] #3065 closed

[2016-03-04 16:31] DavidBoike commented on #3126
Remaining tasks from each repo that are tagged CoreV6:

* [Raven](https://waffle.io/Particular/PlatformDevelopment?label=Tag:%20Core%20v6&source=Particular%2FNServiceBus.RavenDB) - good to go
* [NHibernate](https://waffle.io/Particular/PlatformDevelopment?label=Tag:%20Core%20v6&source=Particular%2FNServiceBus.NHibernate) - not sure
* [ASP](https://waffle.io/Particular/PlatformDevelopment?label=Tag

[2016-03-04 18:28] boblangley commented on #3539
Rebased with some utilization changes.

[2016-03-04 21:09] bording commented on #2783
Even if you're just adding a new behavior, you often need to know the id of a behavior for ordering purposes, for example when calling `InsertAfter` or `InsertBefore`.

Without having some helper class like `WellKnownStep` you have no way of knowing what the ids are.

I like the idea of documenting the ids, but I don't like that being the only way to know what they are, without having to dig throu

[2016-03-04 22:17] SeanFeldman commented on #2783
:+1: to what @bording said. Not in favour of raw strings.

[2016-03-05 08:52] andreasohlund commented on #2783
Insert/After is IMO always a smell ( @SzymonPobiega @danielmarbach please chime in) so this is not a good argument. We should get rid of insert after/before since stages has kind of made them moot.

I've thought about this as well but called YAGNI on it since the users can use the pipeline stages to find the slot where they should inject their behavior. If they have to think about going before/aft

[2016-03-05 18:00] abombss commented on #3494
I would disagree around taking auditing out of the pipeline.  Its critical that we can receive an accurate and consistent ACK when a message is processed.

I would propose taking the time to split the concerns in two since the work is being deferred to vNext.
* Archiving of a message with its payload
* Acknowledgement of successfully handling a message

On the send side we do archiving.  Everythin

[2016-03-05 18:38] abombss commented on #3495
@mikeminutillo makes the most sense.  Talk about it in terms of logical and physical endpoints.  Just require an address mapping for each.  Subscriptions always use the logical address mapping and callbacks always use the physical address mapping.

## Competing + Addressable
Logical: sales.orderservice => sales/orderservice
Physical: sales/orderservice.[instanceid]

## Competing + Distributed
Logi

[2016-03-05 19:49] #3539 closed

[2016-03-05 20:40] andreasohlund commented on #3494
Just to clarify, we're still sending the audit message as a part of the processing pipeline. We're just saying to send the "extra audit stuff" out of band.

Ie: Audit message is still sent just like today(ie the process message will be immutable), but all audit stuff like causation header, processing stats etc will be sent out of band.

This avoids:

1. The audit message being bigger than the queu

[2016-03-05 20:54] danielmarbach commented on #2783
Totally agree with @andreasohlund, `InsertAfter` and `InsertBefore` should no longer be used since we have stages. Most of the time it is an indicator that you are doing something wrong. So by removing the WellKnownStepIds we make it harder to use InsertAfter and Before (In fact we might even debate if we should kill those methods entirely).

Have an automated thing in place which dumps out the id

[2016-03-05 21:17] abombss commented on #3494
Yes that makes sense, but that doesn't solve the message size problem for errors.  The deep stacktraces with the new pipeline add far more payload than two timestamps.

Introducing a concept of archiving that is responsible for the payload and new diagnostic messages for ACK and ERROR that are just references would solve both problems.

It would also add the capability to save all messages regardl

[2016-03-06 23:28] petersgiles commented on #3549
What should they read?

[2016-03-06 23:30] petersgiles commented on #3548
What should it be?

[2016-03-07 00:40] SimonCropp commented on #3437
@SzymonPobiega so what is the "Cost of upgrading the distributor package to V6"?

[2016-03-07 00:54] petersgiles commented on #2750
I'd like to help out with this @indualagarsamy if you see me online please walk me through what you want to do

[2016-03-07 04:07] SeanFeldman commented on #3354
Thanks @danielmarbach
Agreed. Let's park this until core v6 is out.

[2016-03-07 07:26] andreasohlund commented on #3548
@petersgiles I think this is a great opportunity to validate our doco, go through http://docs.particular.net/nservicebus/operations/auditing etc and propose a new wording based on what you can find there?

[2016-03-07 07:27] andreasohlund commented on #3549
Didn't we remove `EndpointVersion` in v6?

[2016-03-07 07:46] petersgiles commented on #3549
@andreasohlund I think that's part of the problem. There should be something in the upgrade doco about that (written by the designers of the change) and then we can go through and make the relevant changes to advise people what to do here

[2016-03-07 08:02] andreasohlund commented on #3549
Seems like the core is only adding "EndpointVersion" to the settings dictionary but is not using it.

RavenDB seems to be using it though - https://github.com/search?l=&q=user%3Aparticular+%22EndpointVersion%22&ref=advsearch&type=Code&utf8=%E2%9C%93

@petersgiles I think you need to do some digging here

@johnsimons I have a faint memory that you and me talked about this?

[2016-03-07 08:18] andreasohlund commented on #3494
Agreed, we are talking about doing the same for errors. https://github.com/Particular/NServiceBus/issues/2368

Correct, this is not happening in this major release, we'll give you plenty of heads up if/when this happens

[2016-03-07 08:37] SimonCropp commented on #3548
and perhaps verify that the mention of it in the upgrade guide is consistent with the new guidance/exception message  http://docs.particular.net/search?q=add-NServiceBusAuditConfig

[2016-03-07 08:58] timbussmann commented on #2783
I disagree. From some samples we saw this it's quite common to configure order within the stage. This was often related to retries but also on other behaviors & stages.

I'm all :+1: to replace `WellKnownSteps` since they are quite misleading with the current stages, since they don't state anything about which stage a step is registered at. So it's possible to register a behavior to come before an

[2016-03-07 09:13] timbussmann commented on #3558
Interesting data :+1:

I'm ok with replacing on internal structures but I think they still make sense on public APIs. It's probably still better to use the slightly slower (we're talking ns here) read only collections/interfaces than using more memory to clone collections when we really want to avoid accidental mutation?

[2016-03-07 09:48] andreasohlund commented on #2783
Can you give some examples? (I'm not convinced that this is true any more)

[2016-03-07 10:03] johnsimons commented on #3549
not me @andreasohlund

[2016-03-07 10:30] timbussmann commented on #2783
Just checked and it indeed seems like we're using it only in one sample here (+ one in a snippet): https://github.com/Particular/docs.particular.net/blob/master/samples/pipeline/stream-properties/Version_6/Shared/StreamConfig.cs#L36

Thought there were more. From that perspective I see the point in removing the steps. It still feels kinda wrong since we're using that internally because we easily k

[2016-03-07 11:27] andreasohlund commented on #2783
I challenge you to come up with an example in the core where we are using the ID's in a valid way? (last I went through the usages they where all hacks/design smell/workarounds for missing stages)

[2016-03-07 12:46] SimonCropp commented on #3548
@indualagarsamy also might have an idea of better wording

[2016-03-07 13:09] SzymonPobiega commented on #3437
@SimonCropp Hard to tell for sure but I am sure it would not be trivial.

[2016-03-07 13:12] SzymonPobiega commented on #3126
@DavidBoike these are two PRs we need to get in and we'll be ready to go:
 * https://github.com/Particular/NServiceBus.NHibernate/pull/176
 * https://github.com/Particular/NServiceBus.NHibernate/pull/175

[2016-03-07 14:03] andreasohlund opened #3562 "Msmq should not enlist outgoing ops in receive transaction when `TransportTransactionMode.ReceiveOnly ` is specified"
Right now we ignore it and enlist as long as None isn't used. This is only a v6 problem since v5 didn't have this receive only mode

## Who's affected

MSMQ users on V6 requesting the receive only mode.

## Symptoms

1. When you issue a bus.Send inside a handler the operation will not be immediately dispatched but batched and then dispatched later.
2. Since there is a bug in MSMQ that which will n

[2016-03-07 17:43] abombss commented on #3494
Thanks

On Mon, Mar 7, 2016, 3:18 AM Andreas Öhlund <notifications@github.com>
wrote:

[2016-03-07 19:28] DavidBoike commented on #3126
Reviewed both of those PRs. Marked both as `Tag: Core v6` and am closing this issue.

[2016-03-07 19:28] #3126 closed

[2016-03-07 19:32] SeanFeldman commented on #3304
@SzymonPobiega what about queue per instance scenario? In that case subscriptions should be created using `LocalAddress` rather than `EndpointName`.

[2016-03-07 20:40] DavidBoike commented on #3437
I think we owe it to ourselves to do the due diligence of at least estimating the effort. If not astronomical, we can provide a proper treatment of deprecated for one major, then unsupported in the next. Especially if we find that the new sender-side distribution pattern has some weaknesses that can't be quickly addressed.

[2016-03-07 20:50] SimonCropp commented on #3437
My main reason for pushing back on this is that we usually try to have a period of transition befor edeprecating something. Ie a period of time where it is full supported but we have communicated the fact that it will be removed some time in the future. The usual reason we dont do this is when it is simply not possible, which i dont think is the reasoning here.

I am not stopping the train on this

[2016-03-07 21:33] petersgiles commented on #3437
Based on this discussion @DavidBoike has invited me to upgrade the current NServiceBus.Distributor.Msmq to v6.

Should I create a new issue for the work? Does who has been involved in this discussion anyone want to join the task-force with me?

[2016-03-07 21:40] DavidBoike commented on #3545
I'm going to reopen this. #3532 is very fluffy and really doesn't say much aside from we should be able to change the implementation (really focused on the nuts and bolts like features and satellites) after V6.

This issue is about the query mechanism specifically.

In V5 there's a difference between WHEN we query and WHAT we query.

For query parameters (WHAT we query, the date ranges passed to p

[2016-03-07 21:46] DavidBoike commented on #3437
LOL, way to throw me under the bus! I think we need to have a better understanding of how much work would be involved to fully complete the upgrade and support the distributor package before we dismiss updating it out of hand. So call this a spike for now?

[2016-03-07 21:47] petersgiles commented on #3437
A spike it is :)

[2016-03-07 22:15] petersgiles commented on #3437
After upgrading nuget packages to v6 I get 206 errors mostly around obsoleting of the API

Here's a summary list (there's a lot more)

- 'Address' is obsolete:
- 'BusConfiguration' is obsolete:
- 'ControlMessage' is obsolete:
- 'ISendMessages' is obsolete:
- 'IWantQueueCreated' is obsolete
- 'OutgoingContext' is obsolete:
- 'SendOptions' is obsolete:
- 'StartedMessageProcessingEventArgs' is obsole

[2016-03-07 23:06] SeanFeldman commented on #2602
@SzymonPobiega I was wrong, no lost timeouts, but duplicates indeed.
Lease based solution was in place in the past @Scooletz if not mistaken.
/cc @yvesgoeleven

[2016-03-08 00:08] indualagarsamy opened #3563 "Version 6 - Fix the IManageMessageFailures Obsolete message"
The `IManageMessageFailures` extension is now obsolete for Version 6.

The obsolete message says:
IManageMessageFailures is no longer an extension point. If full control over what happens when a message fails (including retries) is required then override the MoveFaultsToErrorQueue behavior. To get notified when messages are being moved use BusNotifications.Errors.MessageSentToErrorQueue.Subscribe(

[2016-03-08 00:18] indualagarsamy commented on #2783
on the topic of WellKnownStepIds, etc and what's listed on the GH issue description, take this example.
I was trying to replace behavior for IManageMessageFailures. This now has to be done as part of the pipeline. Our version 5 users are not used to doing this in the pipeline for this. They implement a [class that implements IManageMessageFailures](https://github.com/indualagarsamy/CustomFaultMana

[2016-03-08 00:22] indualagarsamy commented on #3563
Also for the [serialization failed scenario](https://github.com/indualagarsamy/CustomFaultManagerMigration/blob/master/Version_5/CustomFaultManager.cs#L7-L10), in v6 simply check the exception type?

[2016-03-08 00:36] bording commented on #2783
If we do want to remove the `WellKnownSteps` (and the arguments for doing so seem to be winning) then I'd say we should pair that removal with removing the the `InsertAfter` and `InsertBefore` methods. Keeping those around while removing the `WellKnownSteps` seems to be pointing people in the wrong direction since sounds like we don't need them anymore.

[2016-03-08 02:54] chrisbednarski opened #3564 "Memory leak in InMemoryGatewayDeduplication results in OutOfMemoryException"
[`InMemoryGatewayDeduplication`](https://github.com/Particular/NServiceBus/blob/master/src/NServiceBus.Core/Persistence/InMemory/Gateway/InMemoryGatewayDeduplication.cs) is an internal class, which makes [`DeleteDeliveredMessages`](https://github.com/Particular/NServiceBus/blob/master/src/NServiceBus.Core/Persistence/InMemory/Gateway/InMemoryGatewayDeduplication.cs#L36) inaccessible

`DeleteDelive

[2016-03-08 03:00] mikeminutillo commented on #3426
I also have little context about the distributor and had just intended to update the doco PR. If someone can provide me with the context I need and review the changes I make, I'm happy to take a look.

It sounds like obsoleting the two config properties has already been done and that we want to drive users towards the code-first configuration API. This is in line with the doco PR. Is that the end

[2016-03-08 05:35] indualagarsamy commented on #2750
@andreasohlund - I am planning to look at it tomorrow. I was trying to wrap up changes to doco  on IAdvancedSatellites and IManageMessageFailures. I can work with @petersgiles .

[2016-03-08 05:44] SzymonPobiega commented on #2602
@SeanFeldman OK. Aren't users already prepared for duplicates when running on azure where there is no transactions?

[2016-03-08 06:03] SzymonPobiega commented on #3304
@SeanFeldman You're right. Or it should be endpoint instance name. Maybe it really is a good idea to pass something to `GetSubscriptionManager`... But I am not sure if I would prefer endpoint instance name or local transport address. The transport address is probably not ideal for naming purposes because it might contain some "junk".

[2016-03-08 06:11] petersgiles commented on #3437
`UnicastBus` had a property `Transport` that the distributor used

Now that `UnicastBus` is obsolete how do I access the myriad functionality that it provided

//cc @Particular/nservicebus-maintainers

[2016-03-08 06:32] petersgiles commented on #3437
@DavidBoike having looked at this and the list of obsoleted things that this code depends on I would say that this is at least a medium sized task, maybe even a large one depending on the amount of documentation required. The task-force would definitely need someone on it who is familiar with where functionality went when it was obsoleted.

A side effect of looking at this is that we can improve t

[2016-03-08 06:34] danielmarbach commented on #2783
I agree @bording

On Tuesday, March 8, 2016, Brandon Ording <notifications@github.com> wrote:

--
*Don't miss the Async/Await Webinar Series*
*• Learn more <http://go.particular.net/l/27442/2016-02-15/681bjl> →*

[2016-03-08 07:26] indualagarsamy commented on #3342
@andreasohlund - I'll have a look and ping you if I have any questions.

[2016-03-08 07:32] andreasohlund commented on #2783
I thought the replacement (at least in 95% of the cases) is hooking up to the error notifications http://docs.particular.net/nservicebus/errors/subscribing-to-error-notifications. What is the use case for replacing the steps?

[2016-03-08 07:38] indualagarsamy commented on #2783
@andreasohlund - The intent is not to subscribe for error notifications, but to actually have a custom error handling policy. Which is what the IManageMessageFailures used to provide. We do that in SC as well when dealing with IAdvancedSatellite.

[2016-03-08 07:41] andreasohlund commented on #2783
Given that you can have a custom retry policy what's left to "customize"?

[2016-03-08 07:45] indualagarsamy commented on #2783
You might not want to send the message to the error queue. You might route the message elsewhere.
Asking the user to subscribe to notifications assumes that the message will end up in the error queue always. The user had control of that in v5.

[2016-03-08 07:51] indualagarsamy commented on #2783
@andreasohlund - I think we are discussing things specific to https://github.com/Particular/NServiceBus/issues/3563  here.

Back to this issue, when replacing steps or using the pipeline, it makes sense to document what the well known customizable stages are and to provide adequate scenarios in the pipeline documentation.

@danielmarbach - the links in the issue description don't work.

[2016-03-08 08:03] andreasohlund commented on #3563
How about adding a behavior to the physical incoming pipeline that does a try catch + what ever the user want to do with the message?

[2016-03-08 08:03] timbussmann commented on #3563
First, you're using the wrong id to replace the behavior, it should be `"MoveFaultsToErrorQueue"`

The bigger problem though is the fact, that you can't replace a behavior which is registered in a `Feature` from `INeedInitialization` because initialization is executed before the features, therefore your custom registration is overwritten again.

The even bigger problem is, even with a Feature ther

[2016-03-08 08:20] indualagarsamy commented on #3563
@timbussmann - I used it because I saw this code:
https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.Core/Recoverability/Faults/MoveFaultsToErrorQueueBehavior.cs#L9

I used the type name of the behavior. This goes to the confusion of well known Ids.

[2016-03-08 08:23] timbussmann commented on #2783
Replacing the MoveFaultsToErrorQueueBehavior is quite a drastic change to NServiceBus. I think replacing steps is always for very special use cases and for advanced users not a common usage scenario. From that perspective It doesn't seem to bad to use magic strings (or move them to the behavior e.g. `MoveFaultsToErrorQueueBehavior.StepId`).

In the end you end up with a much better solution to add

[2016-03-08 08:33] timbussmann commented on #3545
Not sure what your goal is with reopening this issue @DavidBoike? We decided that it is way too much effort to find a "common abstraction" over all timeout persistence options within v6. To not block potential optimization completely we want to ensure that it is possible to fully replace the implementation with something more optimized (e.g. Azure Table Storage). This also allows us to release bet

[2016-03-08 08:47] MarcinHoppe commented on #2750
@indualagarsamy @andreasohlund @petersgiles There are several items tagged Core v6 in the area of FLR/SLR/Faults. I'd love to pick your brains if you think it would make sense to form a larger TF to tackle these?

[2016-03-08 09:11] andreasohlund opened #3565 "Processing ended captured before outgoing operations have completed"
Since v6 now batches outgoing message we capture the processing ended in the wrong place in the pipeline. This means:

1. Time spent sending messages out will not be included (this can be substantial if you are sending many messages)
2. Failures when sending will still cause the "critical time" perfcounter to report a value even though the message was never processed causing incorrect metrics

##

[2016-03-08 09:12] andreasohlund commented on #3565
Forked off https://github.com/Particular/NServiceBus/issues/3494. Labeled as core v6

[2016-03-08 09:48] andreasohlund commented on #3535
I think the change is good but since this touch the API only exposed to advanced users I propose we focus on

https://github.com/Particular/NServiceBus/pull/3355

and

https://github.com/Particular/PlatformDevelopment/issues/621

and look at this one once we have a decision on the above? (since they improve the API exposed to all users and therefor have much bigger impact)

[2016-03-08 09:49] andreasohlund commented on #3534
I think the change is good but since this touch the API only exposed to advanced users I propose we focus on

https://github.com/Particular/NServiceBus/pull/3355

and

https://github.com/Particular/PlatformDevelopment/issues/621

and look at this one once we have a decision on the above? (since they improve the API exposed to all users and therefor have much bigger impact)

[2016-03-08 13:56] PialiRoy opened #3569 "Check System Failover and do not pick any messages"
Is there any way that if the system is in failover mode the handler should not pick any of the messages from the queue,
and when it goes to normal mode it should pick and process.

[2016-03-08 14:13] danielmarbach commented on #3535
:+1:

On Tuesday, March 8, 2016, Andreas Öhlund <notifications@github.com> wrote:

--
*Don't miss the Async/Await Webinar Series*
*• Learn more <http://go.particular.net/l/27442/2016-02-15/681bjl> →*

[2016-03-08 14:21] danielmarbach commented on #3534
:+1:

On Tuesday, March 8, 2016, Andreas Öhlund <notifications@github.com> wrote:

--
*Don't miss the Async/Await Webinar Series*
*• Learn more <http://go.particular.net/l/27442/2016-02-15/681bjl> →*

[2016-03-08 16:10] SeanFeldman commented on #3304
Have to admit I'm somewhat confused by permutations of endpoint name/address that we have :) Would be nice to have a chart with an example.

@SzymonPobiega right now the scenario I've mentioned in https://github.com/Particular/NServiceBus/issues/3304#issuecomment-193413394 is not working at all.

[2016-03-08 18:59] boblangley commented on #3533
Added doco [pull request](https://github.com/Particular/docs.particular.net/pull/1288) as well.

[2016-03-08 19:10] indualagarsamy commented on #3563
@timbussmann - Regarding your comment here:
https://github.com/Particular/NServiceBus/issues/2783#issuecomment-193658606

However, that's what we suggest in our obsolete message for IManageMessageFailures. Again, see previous usage for IManageMessageFailures, it wasn't exactly a complicated thing to do. It was easy and yet it gave people the customization they wanted.

[2016-03-08 19:25] andreasohlund commented on #3563
@indualagarsamy did you try my idea to just add a behavior to the physical incoming pipeline?

[2016-03-08 19:30] indualagarsamy commented on #3563
@andreasohlund - no. I'll try that and see how that goes. My goal is to be able to check for both the SerializationFailure and all the other failures like what the previous interface provided. What you suggested might be an easier and better approach. I'll let you know if i run into any snags.

[2016-03-08 19:58] andreasohlund commented on #3563
You should be able to catch serialization failed since (deserialization) happens later in the pipeline.

[2016-03-09 03:27] petersgiles commented on #3548
I'm thinking that wording should be along these lines

'Endpoint auditing is configured using the registry on this machine, see Particular Documentation for details on how to address this with your version of NServiceBus http://docs.particular.net/.'

Or is this too generic?

[2016-03-09 03:29] SimonCropp commented on #3548
i would drop the link

[2016-03-09 04:01] indualagarsamy commented on #3548
@petersgiles - what's the goal here? What do we want to tell the user?
That the current way of configuring is wrong? And we want to point them to the proper way?

[2016-03-09 04:04] indualagarsamy commented on #3548
If that's the case, how about something like:

Auditing on this endpoint is currently configured via the machine's Registry. The registry approach is no longer a recommended option. For more details, please refer to the Version 5 to 6 upgrade guide.

[2016-03-09 04:10] SeanFeldman commented on #2602
Duplicate messages yes. Don't think they are expecting duplicate timeouts. Also, I'm oblivious to why this was removed in the past.

[2016-03-09 04:28] petersgiles commented on #3548
The upgrade doco doesn't tell them that its not recommended http://docs.particular.net/nservicebus/operations/auditing#machine-level-configuration

I made a change to the message based on removing `add-NServiceBusAuditConfig` now I'm confused, because I can totally see @indualagarsamy's point, the code says it's not recommended but the doco doesn't really state that its not...I don't have any cont

[2016-03-09 04:34] indualagarsamy commented on #3548
@petersgiles - see http://docs.particular.net/nservicebus/upgrades/5to6#visual-studio-powershell-helpers-removed

[2016-03-09 04:39] petersgiles commented on #3548
Yeah that's about the powershell helpers and the 5 to 6 doco is pretty clear about the decision about dropping the powershell config builder (it sounds like @SimonCropp's voice when I read it).

What the code is talking about is machine level registry setting which it says is 'verboten' now

[2016-03-09 05:30] indualagarsamy commented on #3563
@andreasohlund - @petersgiles had a go at this. Here's the code:
https://github.com/indualagarsamy/CustomFaultManagerMigration/blob/master/Version_6/CustomErrorHandlingBehaviour.cs
However, need to tweak this so that FLRs happen, but not SLRs (to mimic the same behavior of IManageMessageFailures in Version 5) - ideas?

Also what about the issues that @timbussmann mentioned earlier? regarding repla

[2016-03-09 07:19] SzymonPobiega commented on #2602
@SeanFeldman but duplicate timeouts can happen for any non-DTC transport even without scaling out (`TryRemove` might fail for some reason and the dispatch message is going to be retried which will result in a duplicate).

With regards to removing it, that must have happened before I joined. Do you know where I could fine the version of TM that still had master election? BTW, I believe some form of

[2016-03-09 07:25] andreasohlund commented on #3563
I'd say we could decide on changing the behavior to what makes sense if we just document it properly in the upgrade guide.

Just rethrow to have the FLR kick in?

Add a custom retry policy to turn off the retries for the given ex?

[2016-03-09 07:32] andreasohlund commented on #3079
It turns out that https://github.com/Particular/NServiceBus/pull/3568 will actually enable us to provide perf counters (the msg pulled from queue, msg failed and msg processed counters) for satellites. Perhaps we should go with that to not rock the boat?

[2016-03-09 11:31] SzymonPobiega opened #3571 "Event duplication when subscribing for messages published by pre-6 endpoint"
There is an issue which causes events to be delivered to each instance (rather than to single instance) in following conditions:
 * MSMQ transport
 * Scaled-out endpoint with multiple instances deployed to different machines

The problem becomes a bit more important with the advent of V6 which makes it reasonable to deploy such configurations without the distributor (because of V6 sender-side dist

[2016-03-09 11:31] SzymonPobiega commented on #3571
@janovesk what do you think?

[2016-03-09 12:46] andreasohlund commented on #3425
@petersgiles can you wait with this one, https://github.com/Particular/NServiceBus/pull/3568 will kind of deal with this. Lets sync up?

[2016-03-09 17:22] SeanFeldman commented on #2602
@SzymonPobiega pre-dates me as well. @yvesgoeleven do you recall when was it used?

[2016-03-09 20:32] petersgiles commented on #3425
@andreasohlund yep no problem

[2016-03-09 23:13] petersgiles commented on #3548
@SimonCropp should we put a warning about not using the registry on this page http://docs.particular.net/nservicebus/operations/auditing#turning-off-auditing given the code warns people that its a bad idea

[2016-03-09 23:24] SimonCropp commented on #3548
i fixed my dodgy language int he upgrade guide

[2016-03-09 23:25] SimonCropp commented on #3548
@petersgiles that sounds reasonable

[2016-03-09 23:25] petersgiles commented on #3548
So given that the log message has changed can we close this one then?

[2016-03-09 23:27] SimonCropp commented on #3548
@petersgiles can u link to the commit that changed the message?

[2016-03-09 23:28] petersgiles commented on #3548
https://github.com/Particular/NServiceBus/commit/3ddf2b2b062b383e3e6ea02d18fcf82afc1f3df0

[2016-03-09 23:34] SimonCropp commented on #3548
@petersgiles thanks

[2016-03-09 23:34] #3548 closed

[2016-03-10 00:01] petersgiles commented on #3549
@andreasohlund summarizing what @johnsimons told me.

The way DTC works needs to have a resourceManagerId you need to have an identifier to survive a transaction failure.

We want ensure that the correct version of the endpoint is involved in a transaction. The example would be that if you were to upgrade an endpoint (side by side) the DTC would know which is the correct version and be able to rec

[2016-03-10 05:42] johnsimons opened #3572 "Found the empty `SendOptions` quite confusing"
**DOESN"T NEED TO BE DONE NOW**

A bit of feedback regarding the new v6 API.
I actually found the empty `SendOptions` quite confusing.
I was trying to send a message to a specific destination so my first instinct was:
[code]
So I scratch my head for a while, till I remember the love affair v6 has with extension methods, so I ended with:
[code]

So it seems that the only way to send a message to a

[2016-03-10 06:34] distantcam commented on #3547
@SimonCropp Please provide more context.

Is this for adding obsoletes of old bus methods?
What should we do when we find a usage of "bus"?

[2016-03-10 06:38] SimonCropp commented on #3547
search for bus in obsolete messages

[2016-03-10 07:53] danielmarbach commented on #3547
@SimonCropp I agree with @distantcam at least a sentence in the description of this issue would be nice ;)

[2016-03-10 07:57] #3547 closed

[2016-03-10 08:04] timbussmann commented on #3571
Just to verify based on your description:
Only when sending events to v5 msmq scaled-out endpoints without using the distributor?

In that case I'd challenge the v6 label.

[2016-03-10 08:08] SzymonPobiega commented on #3571
@timbussmann the problem is both in 5 and 6 but in V6 it will be easier to make a mistake since such a scaled-out distributor-less deployment will actually be usable. I think it requires an action as part of V6 release. The action can be as small as adding a huge `WARNING` in the doco.

[2016-03-10 08:13] johnsimons opened #3573 "Wire compat tests failing for v6"
I have updated the wire compat tests to include v6.

It seems v6 is not processing messages from previous versions.

It is possible a bug on my side, but just in case, would someone please get the https://github.com/Particular/EndToEnd and check it out.

[2016-03-10 10:06] johnsimons commented on #3571
:+1: to add huge warning to doco

[2016-03-10 10:15] adamralph commented on #3534
I'm not convinced the squad is in the best position to make the decision as to whether this needs to be part of the V6 launch project. I propose that the maintainer group together with the task force for https://github.com/Particular/PlatformDevelopment/issues/655 should be allowed to make this call.

BTW - an issue should only have one `Type: xxx` label and, if API changes are being proposed, the

[2016-03-10 10:16] adamralph commented on #3535
I'm not convinced the squad is in the best position to make the decision as to whether this needs to be part of the V6 launch project. I propose that the maintainer group together with the task force for https://github.com/Particular/PlatformDevelopment/issues/655 should be allowed to make this call.

BTW - an issue should only have one `Type: xxx` label and, if API changes are being proposed, the

[2016-03-10 10:52] danielmarbach commented on #3534
@adamralph can you make these comments elsewhere where we talk about process improvements and potentially also additional labels?

[2016-03-10 10:53] danielmarbach commented on #3535
Again, [this comment](https://github.com/Particular/NServiceBus/issues/3535#issuecomment-194774818) is about overall process improvement.

[2016-03-10 11:01] timbussmann commented on #3535
if the functionality stays the same, why can't it be refactoring? Is that label and it's meaning documented somewhere?

[2016-03-10 11:32] timbussmann commented on #3572
While it's trivial to add extension methods which wrap
[code]

This sucks from a testing perspective, because we don't want to have dedicated `ExpectXyzOption` expectations. This assumes users know that we internally just use the extension method on SendOption when they want to verify that option was used. That's why I'm suggesting the approach in #3559 which in the end requires much less extensio

[2016-03-10 11:40] adamralph commented on #3535
@timbussmann the label is defined at https://github.com/Particular/PlatformDevelopment/blob/master/IssueLabels.md#type-refactoring

An API change is something users will see so I would say it has to be relevant to them, and would have to form part of the release notes.

[2016-03-10 12:05] timbussmann commented on #3535
@adamralph thanks for the link :+1: Since the whole pipeline changed drastically from v5, there isn't really an "API" change which would affect users other than it already did before. But since those label don't really imply anything right now, I don't really mind.

[2016-03-10 12:43] danielmarbach commented on #2783
So here is a proposal to proceed:

* Make sure we are nowhere using the type name or fully qualified type name as a step id, if any replace those with strings instead of the type name
* Let's get rid of `WellKnownStepIds` constants
* Add an approval test which outputs all step ids and freeze them in the core
* Use the approval test to generate/update the documentation with the ids
* Leave `InsertA

[2016-03-10 13:04] timbussmann commented on #2783
:+1: sounds good to me

[2016-03-10 13:14] timbussmann commented on #3076
Closing this as all tasks seem to be done

[2016-03-10 13:14] #3076 closed

[2016-03-10 13:16] timbussmann commented on #3184
let's track all progress on the https://github.com/Particular/NServiceBus.Testing/issues/29 issue

[2016-03-10 13:16] #3184 closed

[2016-03-10 14:06] danielmarbach commented on #3564
@chrisbednarski Unfortunately this seems to be a leftover from a redesign which hasn't been cleaned up. Since we do not recommend to use the `InMemory*` (Persistence, Gateway...) in production can you explain why you'd require this functionality?

[2016-03-10 22:58] indualagarsamy opened #3574 "Unable to replace registered behaviors"
Based on @timbussmann's comment in https://github.com/Particular/NServiceBus/issues/3563:

Related Issue: https://github.com/Particular/NServiceBus/issues/3563

[2016-03-10 22:59] indualagarsamy commented on #3574
@johnsimons @SimonCropp @boblangley @petersgiles - based on our discussion in Engg, I've raised this as a separate issue.

[2016-03-10 23:02] indualagarsamy commented on #3574
@timbussmann - If the replacing behavior is a problem only for the `MoveFaultsToErrorQueue` behavior, please close this issue.

[2016-03-10 23:51] petersgiles commented on #3563
@indualagarsamy and I worked through this using @timbussmann's fork as an example.
The result is this behavior.

The user can control SLR behavior by disabling SLR in the endpointconfig...a good thing :)

https://github.com/indualagarsamy/CustomFaultManagerMigration/blob/master/Version_6/CustomErrorHandlingBehaviour.cs

You can see the deserialization being caught in the example

- [ ] We are plan

[2016-03-11 00:01] indualagarsamy commented on #3563
@andreasohlund - Can I change this issue to replacing the obsolete message for the IManageMessageFailure? And thanks for your suggestion. I like this solution better than replacing the existing behavior. As a user they can still get better control of if they want to execute this custom behavior after SLR or no SLR at all.

[2016-03-11 04:06] johnsimons commented on #3573
So it seems that after updating to the lates unstable version of v, messages are now processed but....

A message for v3.3 fails:
[code]

I have attached the mq file for repro purposes.
[error_message.zip](https://github.com/Particular/NServiceBus/files/168435/error_message.zip)

[2016-03-11 04:38] johnsimons commented on #3573
Here is the error when using xml serializer:
[code]

[2016-03-11 06:19] andreasohlund commented on #3549
We actually have to stop using the `EndpointVersion` in ravendb to avoid data loss on upgrades

https://github.com/Particular/NServiceBus.RavenDB/issues/178 (cc @DavidBoike )

So I'm :+1: for removing the endpointversion "left overs" in the core

[2016-03-11 06:46] andreasohlund commented on #3563
I see that you already did :)

Issues are cheap so my default move would be to not reuse issues but instead close and link to new one. In this case perhaps just a pull with the next text + close this one?

[2016-03-11 07:22] indualagarsamy commented on #3563
@andreasohlund - There's an associated pull with the new obsolete text and tests are good.
I have a doco PR that's almost good enough in progress. Can you please close this issue once that PR is merged?

[2016-03-11 09:01] timbussmann commented on #3574
replacing behaviors doesn't work for all behaviors which are registered within an **internal** Feature because there is currently no way to ensure that the behavior to be replaced is registered before the behavior which should replace it.

This seems to be a bug the pipeline configuration since the class seems to be designed to track replacements to not rely on order of registration/replacements.

[2016-03-11 09:04] mikeminutillo commented on #3565
This issue has no task force and no plan of attack. Is there anything more to do here other than wait for the associated PRs to be reviewed and merged by the appropriate maintainers?

[2016-03-11 09:07] mikeminutillo commented on #3533
Other than the optional items mentioned by @danielmarbach above, is there any more to do here beyond waiting for the associated PRs to be reviewed and merged by the respective maintainers groups? Everything in the Plan of Attack is checked off.

[2016-03-11 09:10] mikeminutillo commented on #3437
Now that the spike has been done, what is needed to close this issue? Just set up a meeting to make the final decision? Who needs to be at that meeting? If the decision is made not to update the distributor, is there an announcement to make? Any doco to be updated?

[2016-03-11 09:12] danielmarbach commented on #3533
@mikeminutillo the work is done on the PR. There is a last decision we need to take which is discussed on the PR. We close this issue when the PRs are merged

[2016-03-11 09:35] danielmarbach commented on #3569
@PialiRoy

Can you explain what you consider failover mode and how you'd detect that an endpoint is in such a failover mode?

[2016-03-11 09:36] timbussmann commented on #3574
Confirmed this bug with @danielmarbach. This is acutally not an issue with the order or replacements as I initially assumed, but it's a bug with the replacement of steps where the behavior factory isn't correctly overwritten.

on the PipelineModelBuilder we do only replace the `BehaviorType` of a registered step (https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.Core/Pipeline/

[2016-03-11 09:40] danielmarbach commented on #3545
I agree with @timbussmann Let's close this!

[2016-03-11 09:41] timbussmann commented on #3563
@indualagarsamy @petersgiles would it make sense to have a dedicated page about "handling failing messages" which describes the different approaches and options (before/after slr/flr, rollback, swallow exception, rethrow exception)?

[2016-03-11 09:50] WojcikMike opened #3577 "Log outgoing message in v5 logs empty headers"
While running a test on v5 I noticed that for every send message log.debug record that message headers are empty. When I run acceptance tests and debuged the code it seems that `OutgoingLogicalMessage.Headers` is empty but `OutgoingMessage.Headers` contains a list of headers.
I am not sure why this is the case, but either in the LogOutgoingMessageBehavior we should use OutgoingMessage rather than

[2016-03-11 09:52] danielmarbach commented on #3466
@MarcinHoppe Forgive my question. Are you driving this forward?

[2016-03-11 09:53] MarcinHoppe commented on #3466
@danielmarbach It's next on my TODO list but I'd love to brind a larger group together to work on this.

[2016-03-11 12:36] SzymonPobiega commented on #3437
Would a reference to [this sample](http://docs.particular.net/samples/scaleout/distributor-upgrade/) (in the upgrade guide) be enough?

[2016-03-11 12:38] SzymonPobiega commented on #3304
I think it all really dependes on the outcome of https://github.com/Particular/NServiceBus/issues/3495.

[2016-03-11 12:41] SzymonPobiega commented on #3495
OK. I think we agree that we need something like this. Now the question is:
 * Should we have three modes of operation (Sharing, Competing, Independent)
 * Should we have two modes of operation (Competing, Indepdent) where in Competing mode you additionally have a bool flag that says if individual addressing is enabled

I am still a fan of the first approach although I don't necessarily love the n

[2016-03-11 12:45] mauroservienti commented on #3495
I don't :smile: , but seems to be the minority.

[2016-03-11 12:46] danielmarbach commented on #2762
Duplicate of https://github.com/Particular/NServiceBus/issues/3542

[2016-03-11 12:46] #2762 closed

[2016-03-11 12:48] SzymonPobiega commented on #3495
@mauroservienti In the long run, I agree we might use something like the backbone. What I am saying is that in the V6 time frame, in order to support data distribution behaviors built into Azure transport, we need something like this.

[2016-03-11 12:48] danielmarbach commented on #3542
@ramonsmits can you verify if the same problem exists in v6?

[2016-03-11 12:50] danielmarbach commented on #3542
Closing this as 'Won't fix' since I agree with @timbussmann and @andreasohlund

[2016-03-11 12:50] #3542 closed

[2016-03-11 12:52] #2766 closed

[2016-03-11 12:52] danielmarbach commented on #2766
@yvesgoeleven move the issue to ASB repo

[2016-03-11 12:54] danielmarbach commented on #2777
We have now dedicated pipelines for subscribe and unsubscribe as well as plans to revamp the subscriptions entirely such as native subscribe and unsubscribe or even get rid of message based subscription. Closing

[2016-03-11 12:54] #2777 closed

[2016-03-11 13:00] danielmarbach commented on #2779
According to our documentation

http://docs.particular.net/nservicebus/licensing/license-management#where-does-nservicebus-look-for-a-license

This works as defined in the documentation. Since we have a workaround described here I'm closing this. Since this might affect all our products not only NSB we should then probably reopen this issue in PlatformDev if we really think we need a different beh

[2016-03-11 13:04] danielmarbach commented on #2767
@Particular/nservicebus-maintainers Should we discuss this? Since this hinders adoption for FSharp users. The drawback of the proposed solution is that it references FSharp.Core which has major implications on all our users.

[2016-03-11 13:07] danielmarbach commented on #2797
@andreasohlund @weralabaj Added feature label. Can you discuss this and see if there is a way forward, including potential consequences for ServiceControl.

[2016-03-11 13:12] danielmarbach commented on #2808
Point 2 is fixed with https://github.com/Particular/NServiceBus/pull/3337

Will edit the description

[2016-03-11 13:14] danielmarbach commented on #2808
This could be fixed as part of https://github.com/Particular/NServiceBus/issues/3032

[2016-03-11 13:16] danielmarbach commented on #2808
Flagged as V6.

[2016-03-11 13:16] danielmarbach commented on #2813
Fixed as part of https://github.com/Particular/NServiceBus/pull/3337

[2016-03-11 13:16] #2813 closed

[2016-03-11 13:18] yvesgoeleven commented on #3406
What's the verdict on this one?

[2016-03-11 13:18] danielmarbach commented on #2817
Assigned to @timbussmann this can be done in a non-breaking way, takes only a few minutes and better conveys the intent of the package.

[2016-03-11 13:21] danielmarbach commented on #2815
@udidahan @Particular/platform-dev-squad can you reach conclusion on this since we know that supporting a transport is much more involved than just writing the code. The impact of this issue huge on the whole company.

Assigned to @udidahan

[2016-03-11 13:22] yvesgoeleven commented on #2766
@danielmarbach pbot didn't move it over completly, only a few of the comments.

[2016-03-11 13:22] yvesgoeleven commented on #2766
@danielHalan have you seen this issue again, since that last comment?

[2016-03-11 13:24] danielmarbach commented on #2829
@SimonCropp @hmemcpy can you reach a conclusion how to move this forward? Based on

it sounds like a bug unless you are only referring to the inclusion of the queue name/path in the exception details. Not really sure based on the description in this issue.

[2016-03-11 13:24] danielmarbach commented on #2829
Assigned @hmemcpy

[2016-03-11 13:26] danielmarbach commented on #2783
See also https://github.com/Particular/NServiceBus/issues/2838

[2016-03-11 13:28] danielmarbach commented on #2838
The key itself and not even the string `"DispatchMessageToTransport"` is used in the core. Closing.

[2016-03-11 13:28] #2838 closed

[2016-03-11 13:32] danielmarbach commented on #2766
@yvesgoeleven I know :( That is by design

[2016-03-11 13:43] adamralph commented on #3349
Is there any external net effect of the change? E.g. is something more secure as a result?

[2016-03-11 13:43] timbussmann commented on #2767
I'm :+1: for F# support  but not if it requires us to reference FSharp.Core, then it needs to be handled in a dedicated package. Given the support of multi-deserializers in v6, it doesn't seem too dramatic to use the json.net serializer as a "workaround". I don't think this has a priority which would make that package happen anytime soon, so I'd leave that to the community for now. (+1 on closing

[2016-03-11 13:44] danielmarbach commented on #3349
@adamralph see PROs in the description

[2016-03-11 13:47] danielmarbach commented on #2842
@SimonCropp See https://github.com/Particular/NServiceBus/blob/71e6c04ae13089d5952342a1b0775c359c682285/src/NServiceBus.Core/obsoletes.cs#L1172

Closing. Feel free to reopen if necessary.

[2016-03-11 13:47] #2842 closed

[2016-03-11 13:49] yvesgoeleven commented on #3495
I'm with @SzymonPobiega, it's clear and intent revealing model (not keen on the names either)

[2016-03-11 13:50] danielmarbach commented on #2845
We revamped the API entirely. I'd argue this has been solved with the stages that we introduced. Closing.

Feel free to reopen if you disagree.

[2016-03-11 13:50] #2845 closed

[2016-03-11 13:51] danielmarbach commented on #2843
Closing in favour of https://github.com/Particular/NServiceBus/issues/2783

[2016-03-11 13:51] #2843 closed

[2016-03-11 13:52] yvesgoeleven commented on #2766
@danielmarbach strange design

[2016-03-11 13:52] danielmarbach commented on #2783
More evidence

https://github.com/Particular/NServiceBus/issues/2843
https://github.com/Particular/NServiceBus/issues/2841

[2016-03-11 13:53] timbussmann commented on #3577
@WojcikMike does the same issue exist in v6? (+1 on not fixing this in v5)

[2016-03-11 13:57] danielmarbach commented on #2783
Fleshed out the description to reflect arguments for removing the step ids and the latest PoA idea

[2016-03-11 13:58] danielmarbach commented on #2841
@SimonCropp I linked this to #2783 Should we close this one?

[2016-03-11 13:59] danielmarbach commented on #2879
@SimonCropp this would mean we need to update to 4.6 on the ATT proj. I propose we do this for the next major release as a whole. Thoughts?

[2016-03-11 14:00] adamralph commented on #3349
The only "pro" I don't understand is:

* FIPS validation will not trigger an error on this (which is OK, because we don't use MD5 for security here)

For context, I'm trying to answer @timbussmann's question:

But I probably don't need to be doing so, it's just because he pinged the squad about something else in the same comment. :smile:

[2016-03-11 14:00] #2841 closed

[2016-03-11 14:02] SimonCropp commented on #2879
@danielmarbach yep. I forgot the 4.6 bit

[2016-03-11 14:06] danielmarbach commented on #2914
@marinkobabic We considerably revamped the APIs. Currently the mutator context passed into the mutator doesn't allow you to stop the message handling pipeline. In theory you should be able to achieve this by adding a behavior the `IIncomingLogicalMessageContext` stage of the pipeline. For me it smells to allow such advanced behavior inside a mutator. That is not the intention of the design of muta

[2016-03-11 14:07] danielmarbach commented on #2879
Keep it as a reminder or close?

[2016-03-11 14:11] danielmarbach commented on #2951
@Particular/transport-maintainers Any ideas how to proceed with this? Any chance we can solve this in rabbit directly?

[2016-03-11 14:12] danielmarbach commented on #3028
@forki Thanks again for the proof of concept. Although we are really suffering from time to time with larger nuget issues we are currently not considering to move to paket. We might revamp the decision in the future and keep you posted.

Closing.

[2016-03-11 14:12] #3028 closed

[2016-03-11 14:19] danielmarbach commented on #3183
`EndpointName` is still public https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.Core/Routing/EndpointName.cs#L6

We still pass it to the `Subscriber` class.

https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.Core/Routing/MessageDrivenSubscriptions/Subscriber.cs#L29

Directly storing core types is a huge smell and has bitten us in the past.

See for exampl

[2016-03-11 14:20] danielmarbach commented on #3223
@DavidBoike This is fixed right? Can you reference the PR and close this issue?

[2016-03-11 14:23] danielmarbach commented on #3050
@timbussmann How do we proceed with this? What are the backward compatibility implications of this?

[2016-03-11 14:26] WojcikMike commented on #3577
@timbussmann in v6 it works well, it uses Operation:
https://github.com/Particular/NServiceBus/blob/151f61bf30f8748fa1df8a29f1f6de1d7e7bde54/src/NServiceBus.Core/Pipeline/Outgoing/RoutingToDispatchConnector.cs#L41

So this bug is only related to v5. However the question still stands, how to fix it? Or to be more precised should OutgoingLogicalMessage.Headers have different values than OutgoingMess

[2016-03-11 14:28] danielmarbach commented on #3577
@WojcikMike

I think we need to first do the triage before we talk about how to fix it.

[2016-03-11 14:54] boblangley commented on #3533
I updated the description with status:

Particular/NServiceBus pull request has revisions requested
Particular/docs.particular.net pull request is still WIP and has not been updated since it was created. Some review has been done but has not been incorporated.

[2016-03-11 14:56] mauroservienti commented on #2951
IMO my proposal is a viable option, solves the issue at the transport package level.

[2016-03-11 15:04] marinkobabic commented on #2914
@danielmarbach The idea was inside of the mutator to validate the logical message. If the message is not valid to stop the pipe. Have solved it now by doing it in the first handler. The problem is that it used to work and then in the following version not. Please add some documentation what the purpose of this method is and when it should be used and where it's not supposed to be used.

[2016-03-11 15:54] timbussmann commented on #3183
I think we should make the `EndpointName` internal then, but we could raise a dedicated issue for that?

[2016-03-11 15:57] timbussmann commented on #3577
As long as it's only logging which is wrong, it don't see this causing any damage we need to fix urgently. If however this difference in headers between the properties causes any other issues, this would be a different story. Feel free to investigate whether there are other bugs related to this @WojcikMike  but I think we should close this one.

[2016-03-11 16:16] ramonsmits commented on #3542
This is strange @danielmarbach, so what should a end user do to prevent the SOE? Doing anything in it still results in a SOE?

I mention *empty* to identify that the critical handler is not mistakenly invoking itself that would result in a SOE.

[2016-03-11 16:31] timbussmann commented on #3050
this should have no impact on backward compatibility because
* for incoming messages we need to be able to handle content with or without BOM since we can't control it. I think that should already be fine.
* for outgoing messages it's basically the same: no receiver should every rely on a BOM being present. If consumers want to avoid potential issues with BOM (as we have in ServiceControl, see lin

[2016-03-11 16:38] bording commented on #3183
The original problem that caused me to open this issue was resolved by not using the `EndpointName` directly in the RavenDB document, as @SimonCropp pointed out.

Marking this serializeable is definitely not needed!

[2016-03-11 16:46] bording commented on #2783
If we are going to do this, why not remove the ability to register a step with a type name altogether? What's the benefit of keeping it?

[2016-03-11 17:06] bording commented on #2767
I took a quick look at how Json.NET added support for discriminated unions, since it doesn't have a reference to FSharp.Core.

The general approach appears to be that it has some special code to figure out if the type being serialized/deserialized is a discriminated union, and if it is, it assumes that FSharp.Core has been referenced by the calling code. It then goes and loads the assembly via ref

[2016-03-11 17:59] andreasohlund commented on #3183
Agreed! (esp since I'm the one making most of those mistakes in the past  :) )

[2016-03-11 17:59] #3183 closed

[2016-03-11 18:12] indualagarsamy commented on #2783
Going back to the original issue, I think this assumption is somewhat incorrect.

What is this assumption based on? How do we know that only a small portion of our users need this?
Here's an example.  IManageMessageFailures was a fairly very easy thing to do in v5. To do this in V6, we need to add a behavior, register it using  StepIds and Insert Before and Insert After.
https://github.com/induala

[2016-03-11 18:29] petersgiles commented on #3437
@mikeminutillo +1

@SzymonPobiega I have no idea who makes all the calls on what is in or out or done or good enough. See @mikeminutillo 's comment

[2016-03-11 18:33] DavidBoike commented on #3437
@petersgiles is your spike pushed on a branch to peek at?

[2016-03-11 19:27] #2879 closed

[2016-03-11 19:31] danielmarbach commented on #2783
@indualagarsamy I agree that some part of it doesn't have to be done for v6. Fact is as `WellKnownStepIds` currently stand they are incomplete, not properly obsoleted and therefore wrong. I'd be OK to backtrack on this proposal and then raise another issue to properly add WellKnownStepIds for every behavior we have internally.

Regarding the question about the assumption. This comes up every time

[2016-03-11 19:34] indualagarsamy opened #3581 "Should a value specified in the TransportInfrastructure.TransactionMode imply that all lower modes are also supported?"
Based on a discussion with @bording, @yvesgoeleven, @timbussmann on Slack and further discussion with @bording, here are details:

Currently, the core defines the following as transport transaction modes
https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.Core/Transports/TransportTransactionMode.cs

- None (0)
- ReceiveOnly (1)
- SendsAtomicWithReceive (2)
- TransactionScope (3)

[2016-03-11 19:35] danielmarbach commented on #2767
If we can do this in a performant and backwards compatible way I'll be the last stopping the line on this one. So then :+1: on bringing this in by community PR.

[2016-03-11 19:40] indualagarsamy commented on #3581
@yvesgoeleven - Please make sure that I've captured everything we discussed if not, feel free to update the issue.

@Particular/nservicebus-maintainers @Particular/transport-maintainers - please chime in. I marked this for CoreV6 because it could affect how we are doing things.

[2016-03-11 19:50] andreasohlund commented on #3581
Yes the assumption was that the transport provides the "highest" supported mode and that all lower modes are supported. User can then request a mode `<= max(SupportedByTransport)`

Think we're good regarding SqlServer and Rabbit. I tried to look at https://github.com/Particular/NServiceBus.AzureServiceBus/issues/101 but couldn't figure out which combinations that wasn't supported?

@Particular/azu

[2016-03-11 19:51] yvesgoeleven commented on #3581
@indualagarsamy small nuance for ASB, it's not that we can't but at the time that the transport receives the required transaction mode, it isn't able to change it's settings anymore in order to lower the perceived transactional behavior as the settings are locked at that time. If we had this info earlier, we would still be able to do it.

[2016-03-11 19:56] andreasohlund commented on #3581
Should we pass it to https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.Core/Transports/TransportInfrastructure.cs#L35 ?

[2016-03-11 19:56] yvesgoeleven commented on #3581
@andreasohlund as you know there is no such thing as a transaction in azure, there is just a bunch of settings that make asb behave in a way that looks like one. If the user requires a different (lower) level then how asb transport is configured, we should lower it by overriding some of those settings, but we can't anymore as the settingsholder is locked at the point where we get the required mode

[2016-03-11 19:57] yvesgoeleven commented on #3581
@andreasohlund ideally in initialize as that is the last stage where we can change settings (is it in settings already perhaps, can I pull it out of there?)

[2016-03-11 19:57] andreasohlund commented on #3581
Its already in settings: https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.Core/Unicast/Transport/Config/TransportExtensions.cs#L110

[2016-03-11 19:58] yvesgoeleven commented on #3581
ok, if that is the same as RequiredTransactionMode (and not our SupportedTransactionMode), then I'll pull it out and adjust accordingly

[2016-03-11 20:03] boblangley commented on #3533
I pushed the commit up pulling out the strings / reflection. I will squash if we decide this is good enough. If not the `Func<string>` change is quick.

This does the bare minimum, it gives an exception message that can quickly identify the problem with some log diving. This will most commonly be a develop time problem in any case.

Personally I think this combined with some [doco](https://github.

[2016-03-11 20:13] bording commented on #3581
Based on not being able to use the auto-acknowledgement "feature" of RabbitMQ for [reasons](https://github.com/Particular/NServiceBus.RabbitMQ/issues/122), it's actually somewhat tricky to support `None` in the Rabbit transport. The manual acknowledgements also tie into the server -> client flow control mechanism, so adjusting when an ack is sent can have a larger impact.

If a transport could spe

[2016-03-11 20:21] indualagarsamy commented on #2783
@danielmarbach - This sounds good.
Then we can clean up the pipeline as a well concerted but separate effort.

[2016-03-11 20:26] yvesgoeleven commented on #3581
None is plain dangerous, I wouldn't mind being able to exclude that one as well.

[2016-03-11 20:27] indualagarsamy commented on #3581
I think a list of supported options by the transport and the core checking that is much better than a `>` check based on a enum value. I think the assumption that the core is making is incorrect.

[2016-03-11 20:34] andreasohlund commented on #3581
One use case for None that I've seen is to avoid the receive transaction timing out. What's the max peek look you can do on ASB/ASQ?

@bording is there some timeout in rabbit where unacked messages are redelivered?

[2016-03-11 20:45] bording commented on #3581
AFAIK there isn't a timeout. It waits until the channel is closed, and any unacked messages at that point are then re-queued.

[2016-03-11 20:47] indualagarsamy commented on #3581
@andreasohlund - I think from a code perspective, if the transaction times out, the user explicitly setting a larger timeout is a much better to understand than trying to figure out what None means.

[2016-03-11 20:49] #3533 closed

[2016-03-11 20:50] andreasohlund opened #3582 "Remove InsertAfter and InsertBefore"
All usages we've seen so far has turned out to be code smells/bad ideas.

Did some research:

InsertBeforeIfExists: only used by recoverability (we're about to merge those soon)
InsertBefore: used by Encryption and DataBus to go before incoming mutators. We can move mutators to the connector instead

InsertAfterIfExists: SubscriptionReceiverBehavior to go after UOW (no idea why this is, think we c

[2016-03-11 20:54] yvesgoeleven commented on #3581
@andreasohlund 30 seconds

[2016-03-11 20:55] andreasohlund commented on #3581
Not sure that's always possible/feasible? (mucking around with maxtransactions and stuff in machine.config, also not sure if how much you can dial up eg. msmq native transactions)
Also what about users wanting "at most once" ?
What about performance and resource usage? (no tx receives is more performant and resource effective on most transports, @yvesgoeleven not familiar with ASB/ASQ how much do

[2016-03-11 20:55] SeanFeldman commented on #3581
@andreasohlund  ASQ: up to 7 days

[2016-03-11 20:56] yvesgoeleven commented on #3581
@andreasohlund there is no such thing as a transaction in ASB/ASQ, so it makes no difference

[2016-03-11 20:56] andreasohlund commented on #3581
Ok so you always have to peaklock + receive? There is no plain receive in a single roundtrip?

[2016-03-11 20:57] SeanFeldman commented on #3581
@andreasohlund there's a `peak-lock` and `receive`. But it's not about resources and cost.

[2016-03-11 20:58] yvesgoeleven commented on #3581
there is receive, lock, process, delete (commonly named peek-lock), and there is receive, delete, process

[2016-03-11 20:58] yvesgoeleven commented on #3581
lock means message turns invisible

[2016-03-11 20:58] andreasohlund commented on #3581
So you would never use the "receive" mode? https://msdn.microsoft.com/library/azure/microsoft.servicebus.messaging.receivemode.aspx

[2016-03-11 20:59] yvesgoeleven commented on #3581
I wouldn't no, I see no reason why to put yourself at risk losing the message

[2016-03-11 21:00] andreasohlund commented on #3581
But that's kind of what `TransactionMode.None` means? "Just give me the message as efficient as possible, I can afford to loose it so just give it your best shot"

[2016-03-11 21:01] andreasohlund commented on #3581
Would you save money using ReceiveAndDelete? (assuming its one less storage op)

[2016-03-11 21:01] yvesgoeleven commented on #3581
A tiny amount on storage, for ASB it doesn't matter there you pay per message now

[2016-03-11 21:02] andreasohlund commented on #3581
What about latency? (saving one round trip) Any perf numbers comparing receives with ReceiveAndDelete vs PeekLock?)

[2016-03-11 21:04] andreasohlund commented on #3581
Not against allowing transports to not support it but I definitely see use cases for most transports we have  so I don't see us dropping it as a possible option since it makes a lot of sense on MSMQ and SQL

[2016-03-11 21:04] yvesgoeleven commented on #3581
it would save a roundtrip yes, so it would shave off 50+ ms for each message

[2016-03-11 21:05] andreasohlund commented on #3581
So why shouldn't we do this if the users ask for `None`?

[2016-03-11 21:05] yvesgoeleven commented on #3581
We can support it, we did in the past, I just consider it a dangerous thing to do...

[2016-03-11 21:06] andreasohlund commented on #3581
Well, its dangerous on all transports but there are valid use cases

[2016-03-11 21:07] andreasohlund commented on #3581
@bording any perf numbers on rabbit comparing None vs ReceiveOnly? (Does AutoACK save one roundtrip there as well?)

[2016-03-11 21:18] bording commented on #3581
Auto-ack mode would save on not needing to send back an ack message to the server, but auto-ack mode is basically not a usable option at all. If auto-ack is turned on, we have no way to prevent the server from blasting us with messages, potentially causing an OOM exception if the incoming rate is too fast for us to process them.

I'm also currently relying on the manual-ack flow control (`BasicQos

[2016-03-11 22:19] indualagarsamy commented on #3581
@andreasohlund - I think it makes sense to have a call with the @Particular/training-maintainers and especially with @yvesgoeleven and @bording about this.

My concern is this.
For some transports, i.e. RabbitMQ and Azure, None makes no sense
For some transports, i.e. MSMQ and SQL, it makes sense.
But we're enforcing this at a core level?

Circling back to the original question:

Can we have a mor

[2016-03-11 22:20] bording commented on #2951
Looks like the quick fix would be to add `RabbitMQ.Client` to [this array](https://github.com/Particular/NServiceBus/blob/5d8c6c03b6ae8815a800d1c560440e82004a484b/src/NServiceBus.Core/Hosting/Helpers/AssemblyScanner.cs#L436).

I'm not sure there is anything that could be done solely at the transport level. I didn't see anything that would indicate that the transport assemblies are themselves exclu

[2016-03-11 23:48] SimonCropp commented on #3183
Still think endpoint name should not be exposed publically

[2016-03-12 07:51] andreasohlund commented on #3581
Don't agree, like @yvesgoeleven just mentioned above `None` makes sense to switch to `ReceiveAndDelete` which ensures "at most once" and also shaves off 50ms per message.

Yes for rabbit we can't use autoack (as it seems) since the server can overload the client with messages. But we are acking them manually before processing the message to give users "at most once" since they won't reappear if pr

[2016-03-12 07:53] andreasohlund commented on #3581
Not true, since we ack the message before processing, the server will be able to remove those messages sooner and use less resources?

[2016-03-13 20:07] petersgiles commented on #3563
@timbussmann :+1:

[2016-03-14 01:42] johnsimons opened #3583 "Missing Version and TimeSent headers breaks wire compatibility with v6 for subscription messages"
Here are the current headers being set:
[code]

[2016-03-14 03:23] johnsimons commented on #3583
Not having a version header breaks v.3.3 compatibility, see https://github.com/Particular/NServiceBus/blob/02a7fdff135ced08b2263498244132d9c2f5dad2/src/unicast/NServiceBus.Unicast.BackwardCompatibility/IncomingSubscriptionMessageMutator.cs#L17-L26

[2016-03-14 07:27] danielmarbach commented on #3582
I'm game!

[2016-03-14 07:52] danielmarbach commented on #3183
@SimonCropp do you want to drive this, including downstream implications and doco update?

[2016-03-14 07:54] SimonCropp commented on #3183
whats to drive? this is closed

[2016-03-14 07:55] danielmarbach commented on #3183
This issue talks about serializable. Making endpoint name internal would be another thing you raised

[2016-03-14 07:56] SimonCropp commented on #3183
i raised it and the decision was made to leave it public. no need to have the discussion again

[2016-03-14 08:41] andreasohlund commented on #3581
@indualagarsamy ok to remove the v6 launch label since the current API seems to be close enough? (and raise  a new issue to make it a "list" of supported modes)

[2016-03-14 09:14] timbussmann commented on #3582
I think we currently still need them, e.g. for emulating the custom FaultManager abilities in v5.

[2016-03-14 09:20] andreasohlund commented on #3583
@WojcikMike pretty sure this happens since we now set those in the dispatch pipeline and subscriptions bypass that. We should make sure to use the dispatch pipeline in the subscription manager?

@johnsimons me an @WojcikMike can look at this

[2016-03-14 09:24] johnsimons commented on #3583
For subscriptions this is being addressed as part of #3576.
But I looked around and there seems other places that skip these headers.

[2016-03-14 09:43] andreasohlund commented on #3583
So there should be no direct usages of `IDispatchMessages` other than the dispatch terminator?

[2016-03-14 09:51] andreasohlund commented on #3582
Hmm, I thought just inserting into the physical receive stage was good enough?

[2016-03-14 10:33] timbussmann commented on #3582
nope, it needs to be before the MoveFaultToErrorQueueBehavior and dependent of usage scenario between FLR & SLR or after SLR.

[2016-03-14 10:50] weralabaj commented on #2797
I'm in favour of the approach Andreas proposed above. Seems simple and addresses the issue. @mikeminutillo @johnsimons  can you think of any downsides from SC/SP/SI perspective?

[2016-03-14 11:04] MarcinHoppe commented on #3349
@adamralph We use MD5 in the core to create a fingerprint of some data. We could use any hash function here for this, the calculation does not require a crypto hash function with all its properties like pre-image and collision resistance.

The problem is that when we run NSB on Windows with FIPS mode on then the framework throws an exception when `MD5CryptoServiceProvider` is used, because MD5 is

[2016-03-14 11:14] andreasohlund commented on #3563
@indualagarsamy  https://github.com/Particular/NServiceBus/pull/3575 is merged so I'm closing this

[2016-03-14 11:14] #3563 closed

[2016-03-14 11:28] johnsimons commented on #2797
I am confused, @andreasohlund is talking about ConversationId but the issue refers to CorrelationId, which one is it ?

[2016-03-14 11:29] johnsimons commented on #3583
I have no idea

[2016-03-14 11:37] andreasohlund commented on #3583
My bad :)

Meant to say: There should be no direct usages of IDispatchMessages other than the dispatch terminator

[2016-03-14 11:39] andreasohlund commented on #2797
@weralabaj I assumed that you talked about the "conversation id" since that's the things that generates the "message flow" in SI, can you confirm and update the title?

[2016-03-14 11:43] andreasohlund commented on #3582
Hmm, is the code somewhere? (don't get why it needs to go before move faults to error?)

[2016-03-14 12:07] timbussmann commented on #3582
@andreasohlund https://github.com/Particular/docs.particular.net/pull/1300/files#diff-fb55e3b39288b3167efeeb42f6f9e58fR40

[2016-03-14 14:16] DavidBoike commented on #3223
Having trouble finding it specifically in a PR, but the code is here:

* [Outgoing mutator and incoming behavior pair](https://github.com/Particular/NServiceBus.AzureServiceBus/blob/develop/src/AcceptanceTests/Infrastructure/TestIndependenceBehavior.cs)
* [Configuration of mutator and behavior](https://github.com/Particular/NServiceBus.AzureServiceBus/blob/develop/src/AcceptanceTests/ConfigureEndp

[2016-03-14 14:16] #3223 closed

[2016-03-14 16:44] adamralph commented on #3349
@MarcinHoppe thanks for the explanation. Yes, that does make sense.

So, effectively, we have a bug? Since users running Windows with FIPS mode get an exception thrown for no good reason?

[2016-03-14 16:47] timbussmann commented on #3349
@adamralph we do not support FIPS mode (see https://github.com/Particular/NServiceBus/issues/1217#issuecomment-141098744)

[2016-03-14 16:49] danielmarbach commented on #3349
This would be a feature. Not a bug. I think we need to mark it as such.

[2016-03-14 16:51] adamralph commented on #3349
@timbussmann ah, I see.

@danielmarbach agreed. New feature: Support FIPS

[2016-03-14 16:54] danielmarbach commented on #3349
@adamralph Expect that we would never call it Support FIPS. We do not want to officially state that. If it happens to be FIPS compliant than OK. But we'd never publicly announce that we do.

[2016-03-14 16:57] adamralph commented on #3349
@danielmarbach I must admit I don't even know what it is. :stuck_out_tongue_closed_eyes:

Anyway, I'll leave it to the core team to decide what to call the feature :wink:

[2016-03-14 18:11] RobertoDelloglio opened #3587 "Current Time Provider for Timeout Manager"
It would be useful to be able to customize the "currentTimeProvider" used by Timeout feature instead of relying on hard coded DateTime.UtcNow.
In this way it would be possible to have full control about the "now" of the system.
This feature could be used for integration test purpose (where we want to test time dependent rules) or to relying on a different time provider other than the local machine

[2016-03-14 19:59] MarcinHoppe commented on #3349
@adamralph @timbussmann @danielmarbach I think there is a consensus that we don't ever want to state we support FIPS. What we want to achieve here is to remove NSB as a blocker towards FIPS compliance. Currently it will prevent running in FIPS mode even if users provide their own `IEncryptionService` that is FIPS compliant.

With regards to classification, I'd err on the side of this being a new f

[2016-03-14 22:05] chrisbednarski commented on #3564
We're using it in production. The process that self-hosts NSB and the gateway
- is never scaled out (so the dedup storage doesn't need to be shared between processes)
- uses a custom gateway channel, a polling channel, where the roles are reversed, (ie. the logical sender is polled for messages by the receiver - pull instead of push)
- needs to manage memory well, memory footprint is important
- n

[2016-03-14 22:30] indualagarsamy opened #3588 "When configured to use MSMQ as the persistence, endpoint throws an unfriendly exception"
## Who's affected

Version 6 users using MsmqPersistence without any other persistence configured.

## Symptoms

The endpoint throws the following exception:

*An exception of type 'Autofac.Core.Registration.ComponentNotRegisteredException' occurred in NServiceBus.Core.dll but was not handled in user code*

*Additional information: The requested service 'NServiceBus.Timeout.Core.IQueryTimeouts' ha

[2016-03-14 23:02] indualagarsamy commented on #3581
@andreasohlund  - We need a call.
Because there's differing points of view which I don't believe we can address in an async way. I believe a call with the right people will clear the confusion and based on that, I am ok with either closing this issue and opening a different one.
The people on the call need to be @bording @yvesgoeleven and you.

[2016-03-14 23:44] indualagarsamy opened #3589 "Even though Sagas are disabled, the endpoint expects Saga persistence to be configured"
NServiceBus Version: `6.0.0-unstable1663`

**Steps to Reproduce**
Configure an endpoint with just Subscription and timeout storage configured and explicitly disable the Sagas feature and start the endpoint, an exception regarding ISynchronizedStorage is thrown.

If you add the `StorageType.Sagas`, then the endpoint starts successfully.

[code]

**Exception details:**
*'Autofac.Core.Registration.Co

[2016-03-15 00:40] bording commented on #3581
I know that I at least wouldn't mind a call to sort out what is and isn't possible regarding guarantees around at-most-once delivery in the different versions of the rabbit transport.

[2016-03-15 01:13] johnsimons commented on #3583
ReadyMessageSender also uses IDispatchMessages directly

[2016-03-15 03:56] mikeminutillo opened #3590 "`Defer` always routes message to local endpoint"
Let's say we have two endpoints A and B. Message M is configured to be routed to B.

If A does `bus.Send(new M());` then the message will be delivered to `IHandleMessages<M>` inside of endpoint B.

If A does `bus.Defer(TimeSpan.FromSeconds(30), new M());` then in 30 seconds the message will be delivered to `IHandleMessages<M>` inside of **A**. I would expect it to go to B (as with a Send).

The fi

[2016-03-15 07:20] danielmarbach commented on #3583
I highlighted this in several discussions with @andreasohlund that I'm not
happy about our raw dispatch usages in the core. Unfortunately we failed to
come up with a good solution since then

[2016-03-15 07:31] SzymonPobiega commented on #3589
The reason it fails is because in V6 the synchronized storage is initialized for each message being processed. I think this should be fixed by adding an entry in the upgrade guide.

[2016-03-15 07:35] johnsimons commented on #3583
I am pretty sure you guys can fix that later, after v6.0 has gone out :wink:

[2016-03-15 07:43] danielmarbach commented on #3590
In my mind `Defer` was always a local operation but now that I read this I don't even know why. @andreasohlund any insights?

[2016-03-15 07:44] andreasohlund commented on #3583
Agreed, do we need to double check that the ready messages from v6 workers works with the v5 distributor? (we have no v6 distributor)

[2016-03-15 07:48] andreasohlund commented on #3590
I remember that we changed that behavior in v6 to

defer= defer to local endpoint

send +  delay => defer sending to target endpoint.

[2016-03-15 07:48] danielmarbach commented on #3588
That is an interesting one, since

        internal MsmqPersistence()
        {
            Supports<StorageType.Subscriptions>(s => s.EnableFeatureByDefault<MsmqSubscriptionPersistence>());
        }

The persistence feature explicitly says that it only supports subscriptions. So the core should at least check if you require additional persistence and give a meaningful exception message.

[2016-03-15 08:02] andreasohlund commented on #3588
Since MsmqPersistence isn't widely used and this will hit during development and doesn't affect the production stability of v6 I don't see this as a must have for v6, removing the v6 label and flagging this as a low impact bug. Fixing this will not be a breaking change.

[2016-03-15 08:04] danielmarbach commented on #3588
@andreasohlund I agree that we can fix this without a breaking change. But the bug has wider implications. You'd see the exact same exception when you'd enable another feature like sagas and you don't provide saga persistence. So any partially implemented persistence will result in an exception

[2016-03-15 08:22] weralabaj commented on #2797
It's been months since I raised it, so it's hard for me to say without digging again into SI code and repeating tests.

Either way the problem was that if the message was sent directly and one of those headers wasn't explicitly added when creating the message, then that message wasn't displayed in SI as part of the flow/conversation it started. It was treated as a separate conversation, but all su

[2016-03-15 08:32] mikeminutillo commented on #2797
This is possibly doable using a Map-Reduce index in SC. For each document, this index will add the current message Id and the contents of the RelatedTo header if found. Then we just group the results and make them unique. This is a very common operation in SI so it would make sense to have an index for it instead of relying on the one giant index that we use for everything.

[2016-03-15 08:40] johnsimons commented on #2797
IMO, NSB should enrich the audit message with that data

[2016-03-15 08:42] weralabaj commented on #2797
I think this is not a very common scenario, since it wasn't raised by the customer. So I'm with John that fixing it in NSB should be sufficient.

[2016-03-15 08:51] danielmarbach commented on #3562
Based on the triaged together with @andreasohlund @tmasternak @timbussmann we came to the conclusion that this low impact and doesn't have to be done as part of project V6.

[2016-03-15 08:54] andreasohlund commented on #3581
I've talked to @yvesgoeleven and we're aligned on `None` making sense for ASB and ASQ. I'll get on a call with @bording and align on rabbit. I'll put the v6 label back if needed

[2016-03-15 09:02] andreasohlund commented on #3466
Not a must have for v6, removing the label

[2016-03-15 09:09] andreasohlund commented on #3406
Since https://github.com/Particular/PlatformDevelopment/issues/621 most likely won't go into v6 we need to add a temporary api to require endpoint instance id if callbacks/features needing it is enabled.

In short:

1. Features can do a "GetEndpointInstanceId" if they need
2. If not provided by the user that will throw an ex guiding the users to set it

Do we already have a api or should we add a

[2016-03-15 09:16] SzymonPobiega commented on #3406
We currently have `endpointConfig.ScaleOut().InstanceDiscriminator(string instanceId)` and I really really don't like it. I prefer
[code]
or
[code]

The latter suggest you should never ever hardcode that value but rather provide a function that retrieves it from some place (most likely configuration). We also need to support providing that ID from the host perspective.

@yvesgoeleven I know we agr

[2016-03-15 09:16] #3583 closed

[2016-03-15 09:18] danielmarbach commented on #3573
Since https://github.com/Particular/NServiceBus/pull/3576 is merged. Can we close this?

[2016-03-15 09:19] danielmarbach commented on #3583
Merged https://github.com/Particular/NServiceBus/pull/3576

[2016-03-15 09:32] #2817 closed

[2016-03-15 09:42] danielmarbach commented on #3588
@indualagarsamy While I was doing the triage for this one I realized when can easily improve the situation. See the linked PR.

[2016-03-15 10:37] tmasternak commented on #3406
I like `config.EndpointInstanceId(Func<string> idGetter);`. It expresses the intention better.

[2016-03-15 10:41] MarcinHoppe commented on #3466
@andreasohlund This being a breaking API change effectively means we're postponing this until v7? I'll flesh out my thinking on this API change so that it is a starting point for discussion when the time comes.

[2016-03-15 10:52] SimonCropp commented on #3406
Sorry but the function in no way implies that it shouldnt be hard coded.  To me a function inplies that it will be called multiple times during endpoint execution and i am free to return a different value each time. That is how all our other func apis work

[2016-03-15 10:53] WojcikMike commented on #3590
@mikeminutillo when  i checked the commit that you presented I don't see it changing the behavior.
The line that was removed in this checking was:
`var options = new SendOptions(Configure.LocalAddress)`
and it was changed to:
`if (Settings.GetOrDefault<bool>("Worker.Enabled"))  {
                 options = new SendOptions(Settings.Get<Address>("MasterNode.Address"));
             }
             el

[2016-03-15 11:07] andreasohlund commented on #3466
Yes

:+1:

[2016-03-15 11:09] andreasohlund commented on #3406
Agree with @SimonCropp I think a string better conveys the intent since the value is "static" once configuration is done. A func seems to imply that it can be changed.

[2016-03-15 11:34] andreasohlund commented on #2477
I did a quick spike on this (did some research for https://github.com/Particular/PlatformDevelopment/issues/621)

https://github.com/Particular/NServiceBus/commit/fa172a9aef0010de239abfe28ff90fdf108d5a61 (needs some obsoletes to be put back in)

it was pretty easy and talking about it with @SimonCropp we concluded that it was 2-3 hours of doco work to complete including the upgrade guide.

Would w

[2016-03-15 12:00] weralabaj commented on #3499
Fix verified in https://github.com/Particular/docs.particular.net/pull/1312. I'm closing this issue.

[2016-03-15 12:00] #3499 closed

[2016-03-15 12:20] hmemcpy commented on #2829
Thanks, I completely missed this one... I will extract the logic from queue creation to account for the remote queue as well...

[2016-03-15 12:37] timbussmann commented on #2808
with the changes made by https://github.com/Particular/NServiceBus/pull/3568 we no longer raise the FLR attempt failed on the attempt which leads to the SLR attempt. We should align the FLR event with the SLR and ErrorQ event which indicates that a message has failed processing and will be retried by FLR or SLR / moved to error queue.

[2016-03-15 12:47] andreasohlund commented on #3565
After triage today we decided to remove the v6 launch label since this is not a must fix for release. Description updated

[2016-03-15 12:57] danielmarbach commented on #2477
I'm fully game for that change. It also allows us to remove any magic associated to endpoint name determination. It is a good change and forces users to give meaningful endpoint names

[2016-03-15 13:00] SzymonPobiega commented on #2477
I am :+1:

[2016-03-15 13:00] danielmarbach commented on #3590
@Particular/nservicebus-maintainers I think we should close this with 'invalid' label. works as designed

[2016-03-15 13:02] danielmarbach commented on #3406
What @SimonCropp said

[2016-03-15 13:07] SzymonPobiega commented on #3406
OK, I feel convinced by @SimonCropp .

[2016-03-15 13:25] timbussmann commented on #3590
docs state:

so that seems to work as intended

also there is no more `Defer` in v6 afaik?

[2016-03-15 13:29] timbussmann opened #3592 "Do not deploy unsupported packages to NuGet"
We should not deploy unsupported (e.g. source only) packages to NuGet. They are still available on the particular MyGet feed.

* NServiceBus.AcceptanceTests.Sources
* NServiceBus.ContainerTests.Sources
* NServiceBus.AcceptanceTesting

~~Should we also remove the acceptance testing framework (NServiceBus.AcceptanceTesting) from NuGet since it's also unsupported? There seem to be users using it in t

[2016-03-15 13:32] WojcikMike commented on #3590
@timbussmann the referenced doco is something that I wrote and was merged yesterday as the documentation was so general that it was not clear how it works. So at the moment doco is in sync with implementation.

But I can't say if current behavior was always like this and if it is intended or not.

[2016-03-15 13:53] MarcinHoppe commented on #3466
@andreasohlund Do we need to re-open #3054 and #3065? They were supposed to be covered by this issue. Now that it is closed, I think we might need to bring these two back from the dead.

/cc @tmasternak

[2016-03-15 14:22] andreasohlund commented on #3466
Since this one is still open can't we just let this one cover both just we planned?

[2016-03-15 14:31] danielmarbach commented on #3592
We never officially supported it. Those who decided to use it are on their
own. We can always point them to the myget feed.

[2016-03-15 14:32] MarcinHoppe commented on #3466
We can re-purpose this issue but I'm afraid this will drop the API redefinition issue into the abyss.

[2016-03-15 14:37] andreasohlund commented on #3466
Isn't this issue already re-purposed to cover the mentioned issues?

Side note: If we just add new apis this don't have to be a breaking change and can be done in a 6.X?

[2016-03-15 14:39] timbussmann commented on #3592
@danielmarbach good with that. Adjusted title and description :+1:

[2016-03-15 14:39] MarcinHoppe commented on #3466
At the cost of maintaining two sets of APIs to manage the same thing. I will re-purpose this issue to cover the two mentioned items and create a new issue with an API extension proposal.

[2016-03-15 14:40] MarcinHoppe opened #3593 "Improved retry configuration API"
This issue description is a brain dump of thinking behind unification of retry configuration API.

### Background

Currently recoverability mechanisms (FLR/SLR and moving to error queue) are all configured using independent APIs. We need a single API to define all recoverability concerns.

### Use cases

Here's a (possibly not complete) list of use cases covered by existing API that we must at min

[2016-03-15 14:41] MarcinHoppe commented on #3466
Done: #3593.

[2016-03-15 14:44] timbussmann commented on #3590
well that should be pretty easy to find out?

Here is the code from v4.7:

[code]

[2016-03-15 14:47] timbussmann commented on #3590
v5:

[code]

closing this as suggested by @danielmarbach

@WojcikMike I like the updated doco :+1:

[2016-03-15 14:47] #3590 closed

[2016-03-15 15:59] andreasohlund commented on #3032
On a call with @timbussmann and @indualagarsamy we talked about merging the behaviors and also merging the retry policies. The new "retry policy" would look something like this

[code]

Note how we maintain and pass the state to the method since keeping that is non trivial and we keep that state for our own usage anyway.

cc @MarcinHoppe

[2016-03-15 16:47] SzymonPobiega opened #3596 "Autosubscribe for unicast should require explicit mappings"
In V5 we used to require routing information to be present when autosubscribing on unicast transports. It has changed since then. I did some archaeology and found [this](https://github.com/Particular/NServiceBus/commit/290f24c49042e73ae8fd7d3243aee2ccd028b03d) commit by @andreasohlund and [that](https://github.com/Particular/NServiceBus/commit/66d91e7a6a439717b1ae7856f81594704616dc6f) one by mysel

[2016-03-15 16:48] SzymonPobiega commented on #3596
Marking it as V6 because it might be an accidental change we don't want to ship in V6.

[2016-03-15 17:08] timbussmann commented on #2477
:+1:

also, passing it in as a parameter to `EndpointConfiguration` seems to be a way better approach than throwing at startup like missing persistence.

[2016-03-15 18:34] andreasohlund commented on #3596
Here's how I believe it should work:

For events where there is a message handler:

Unicast: If there is a configured address => subscribe
Multicast: Always subscribe

Thoughts?

[2016-03-15 18:44] SzymonPobiega commented on #3596
@andreasohlund If we take V5 behavior out of the equations I would prefer to throw when there is a handler but no routing configured because the code expects the message but configuration is wrong. But given that in V5 the behavior was to silently ignore messages which have handlers but no corresponding routing, I am a bit on the fence.

[2016-03-15 20:27] danielmarbach commented on #3564
@chrisbednarski @janovesk will look into this.

[2016-03-15 20:28] andreasohlund commented on #3565
Reopening, I had put "fix #thisissue" in the pull request text by misstake

[2016-03-15 20:28] andreasohlund commented on #3079
Reopening, I had put "fix #thisissue" in the pull request text by misstake

[2016-03-15 21:17] bording commented on #3581
After talking with @andreasohlund, it looks like we've decided that  `TransportTransactionMode.None` doesn't have to mean a 100% strict at-most-once guarantee, so that makes it ok to claim that the RabbitMQ transport supports it.

Instead, we'll try to do whatever performance optimizations at the expense of reliability that are possible.

I still think that an explicit list of supported transactio

[2016-03-15 21:19] indualagarsamy commented on #3581
Closing this issue based on comments from @bording and @andreasohlund.
I'll open a more specific issue that targets having an explicit list of supported transaction modes for better overall API design.

[2016-03-15 21:19] #3581 closed

[2016-03-15 21:26] indualagarsamy opened #3598 "Have the ability for transports to provide a supported list of transaction modes."
Based on the discussion in related Issue: https://github.com/Particular/NServiceBus/issues/3581

Currently, the core defines the following as [transport transaction modes](https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.Core/Transports/TransportTransactionMode.cs)

None (0)
ReceiveOnly (1)
SendsAtomicWithReceive (2)
TransactionScope (3)

An exception will be thrown if the us

[2016-03-15 21:26] indualagarsamy commented on #3598
@andreasohlund @bording @yvesgoeleven - I've raised this issue to have the transport provide a list of supported transaction modes. Please review this issue. I understand that it won't make it for v6.

[2016-03-15 23:40] petersgiles commented on #3549
@andreasohlund I don't know how to proceed here. It looks like you and @DavidBoike have a deeper understanding of the problem and what these exception messages should say. Feel free to take this and run with it

[2016-03-16 01:01] #3573 closed

[2016-03-16 02:02] mikeminutillo commented on #2477
I am :+1:
I think this helps to make the Endpoint concept explicit rather than a rename of BusConfig. That is, it will drive users to think about Endpoints.

[2016-03-16 07:22] andreasohlund commented on #2808
I don't see this as a must have, removing the v6 label

[2016-03-16 07:34] andreasohlund commented on #3549
This one will be handled if we do https://github.com/Particular/NServiceBus/issues/3549 since then the endpointhelper class is gone

[2016-03-16 08:21] timbussmann commented on #2808
@andreasohlund in that case I think we should tag it as bug then since the naming clearly doesn't match with how it behaves. I'd rather see it as a v6 change, since it's a small fix which finally improves that api (long overdue).

[2016-03-16 08:46] timbussmann commented on #3598
can you add samples of our supported transports which do not support a "lower than supported" transaction mode to the description?

[2016-03-16 08:57] #3574 closed

[2016-03-16 08:58] andreasohlund commented on #2808
Flagged as bug

[2016-03-16 09:04] ramonsmits commented on #3542
@andreasohlund @timbussmann So how to fix this SOE?

[2016-03-16 09:06] andreasohlund commented on #3598
Based on my discussions with @bording and  @yvesgoeleven all current transports supports all lower modes

[2016-03-16 09:10] timbussmann commented on #3542
@ramonsmits stopping the bus or implementing a custom circuit breaker mechanism.

[2016-03-16 09:10] andreasohlund commented on #3542
We agreed that an empty critical error action is not a valid use case. If user do that they will get 100% cpu on MSMQ (not sure how other transports behave). @ramonsmits you got a SOE ex which arguably might be better since that kills the endpoint. I don't see how we can detect the users doing a no-op in there so I don't think we can do more?

I'd say this is not important enough to fix, let's not

[2016-03-16 09:13] danielmarbach commented on #3587
@RobertoDelloglio we have plans for the next release after V6 to revamp the timeout infrastructure. We will be considering your simulation needs when we address the timeout manager redesign. Thanks for your input.

[2016-03-16 09:15] danielmarbach commented on #2848
@SimonCropp we got rid of those extensions as well as the `TransportMessage`. I'm closing this one.

[2016-03-16 09:15] #2848 closed

[2016-03-16 09:19] andreasohlund commented on #2840
Fixed in https://github.com/Particular/NServiceBus/commit/a4b87bae340db7b4ff4ff480431b617e823474f1

[2016-03-16 09:19] #2840 closed

[2016-03-16 09:23] danielmarbach commented on #2853
@carl-berg Sorry we dropped the ball on that one! The only way to do it is to implement a [custom fault manager](https://github.com/Particular/docs.particular.net/issues/1281), the problem is that you loose second level retries and you have to deal with with sending messages to the error queue yourself. The better approach is to use [custom notifications with ServiceControl](http://docs.particular

[2016-03-16 09:23] #2853 closed

[2016-03-16 09:24] danielmarbach commented on #2855
@SimonCropp is this still an issue with the new way how we cleanup the ATT runs?

[2016-03-16 09:29] danielmarbach commented on #2935
@SzymonPobiega @udidahan we had various discussions in the past that the timeout storage should be part of the transport infrastructure and not a core concern. A generic timeout manager doesn't fit anymore our multi-transport landscape.

If you feel we should address this, can you flesh out the description and ping the `Particular/tf-v6-launch`

@SzymonPobiega @tmasternak can you link to the relev

[2016-03-16 09:30] danielmarbach commented on #2936
Closing this. Cross-reference it in the new notifications proposal.

https://github.com/Particular/PlatformDevelopment/issues/605

[2016-03-16 09:31] #2936 closed

[2016-03-16 09:34] danielmarbach commented on #3057
@cpx We are unlikely to pull this in for V5 and we removed it entirely in V6. I'm closing this one since there is a workaround provided.

Please reopen if you still feel strongly for this.

[2016-03-16 09:34] #3057 closed

[2016-03-16 09:35] danielmarbach commented on #2977
I think we should address this in a future release when we start moving towards streaming.

[2016-03-16 09:37] danielmarbach commented on #3100
@rlaveycal There are [various ways ](http://docs.particular.net/nservicebus/licensing/license-management)which allow you to fully customize the license retrieval path. I'm closing this issue.

If you have more questions don't hesitate to reopen.

[2016-03-16 09:37] #3100 closed

[2016-03-16 09:38] tmasternak commented on #2935
#3532 is the result of discussion about `TimeoutManager`. The idea is to make sure we can exchange the generic implementation with a different one (potentially native for given transport) is minor releases of V6.

[2016-03-16 09:41] danielmarbach commented on #3161
@acgentry What you describe is by design. The two endpoints sharing the database become competing consumer since the represent the same logical endpoint. You'd need two distinct saga persistence databases to not see this effect.

I'm closing this one.

[2016-03-16 09:41] #3161 closed

[2016-03-16 09:43] danielmarbach commented on #3169
Like @SimonCropp mentioned in the google group there are only these three outlined solutions.

I'm closing this issue.

[2016-03-16 09:43] #3169 closed

[2016-03-16 09:47] adamralph commented on #3349
For me, refactoring is part of nearly every single feature (and many bug fixes) so I don't think there's any need to call this out with a label.

[2016-03-16 09:48] danielmarbach commented on #3530
@mojamcpds Is this still an issue?

Based on the code you provided in the Global.asax it seems that you are creating two bus instances (one sendonly and one non-sendonly) with the same endpoint name. That will not work. Can you provide more details what you are looking for?

[2016-03-16 09:48] adamralph commented on #3349
I only use the "Type: Refactoring" label for something which is *purely* a refactoring, with no other purpose.

[2016-03-16 09:51] andreasohlund commented on #3596
Lets align the current behavior to be backwards compat and raise a new issue to discuss throwing for eventhandlers with no config?

[2016-03-16 09:52] danielmarbach commented on #3274
@SzymonPobiega @WojcikMike @weralabaj Is this fixed? Can you raise a new issue for the check and close this one?

[2016-03-16 10:00] andreasohlund commented on #3596
@SzymonPobiega what happens on startup when the mappings are missing? exception?

[2016-03-16 10:05] andreasohlund commented on #3571
That seems to be the way to go, can you raise a docs pull/issue and close this one @SzymonPobiega ?

[2016-03-16 10:10] timbussmann commented on #3349
@adamralph Then I don't see any value in that label. There is no reason for an issue about a refactoring if there is no impact at all. In that case a simple PR will suffice, no label required.

Let's not derail this issue. If you disagree with the way we currently use the existing labels, feel free to raise a discussion somewhere.

[2016-03-16 10:12] andreasohlund commented on #3532
Since we know, [AzureServiceBus proves this](https://github.com/Particular/NServiceBus.AzureServiceBus/blob/develop/src/Transport/Config/AzureServiceBusTransportInfrastructure.cs#L53), that the tranport can take full control over deferred messaging I'm going to close this one since we can always release a transport that provides a full customized timeoutmanager as a non breaking change.

[2016-03-16 10:12] #3532 closed

[2016-03-16 10:15] andreasohlund commented on #3437
@SzymonPobiega @DavidBoike @petersgiles can you guys make a call on this one?

[2016-03-16 10:22] jjanuszkiewicz commented on #3468
Guys, any update on this? And I can see that this is the single item in scope of 5.2.15, so will this actually get released?

[2016-03-16 10:54] danielmarbach commented on #3349
https://github.com/Particular/PlatformDevelopment/blob/master/IssueLabels.md#type-refactoring

So the real question is: Should this go into the release announcement if we build it. If the answer is YES, it has to be labeled as a feature. if the answer is NO it has to be labeled as a refactoring.

Any discussions which are generic about the meaning of a label should happen as issues or proposal PRs

[2016-03-16 11:00] danielmarbach commented on #3468
@jjanuszkiewicz Thanks for the ping. Please see the following statement from @timbussmann

https://github.com/Particular/NServiceBus/pull/3518#issuecomment-192254707

[2016-03-16 11:03] andreasohlund commented on #3429
@WojcikMike sync with @timbussmann since he's added some code to warn about obsoleted config that you can add to

[2016-03-16 11:22] WojcikMike opened #3600 "Throwing exception when user is mixing autosubscribe with explicit subscription"
Currently it is perfectly fine to have Autosubscribe feature enabled and calling `Subscribe<Event>()`
in the same endpoint. NSB in such case detects duplicate subscription and make sure that subscriber will get event only one time. As a result of discussion with @weralabaj and @SzymonPobiega  #3274 it might be a good idea to detect such situation and throw an exception suggesting user to disable A

[2016-03-16 11:23] WojcikMike commented on #3274
I created an issue #3600 to capture the feature aspect of this request.

[2016-03-16 11:23] #3274 closed

[2016-03-16 11:30] SzymonPobiega commented on #3600
So you are saying that currently when you have autosubscribe enabled and you subscribe, we'll detect that duplicate behind the scenes and the manual subscribe will be essentionally a `NOOP`?

And the proposal here is to throw in `Subscribe` when autosubscribe is enabled?

[2016-03-16 11:44] WojcikMike commented on #3600
Yes

[2016-03-16 11:47] #3571 closed

[2016-03-16 11:49] SzymonPobiega commented on #3495
@andreasohlund @mauroservienti what should we do for the V6 release?

[2016-03-16 11:49] SzymonPobiega commented on #3596
Yes, exception. I'll work on a PR to fix it.

[2016-03-16 11:52] andreasohlund commented on #3600
I like @johnsimons proposal (can't find the link) to have the subscribe api be wrapped by the autosubscribe

Ie:

`config.DisableAutoSubscribe(s=>s.Subscribe<MyEvent>())`

we can then take this further and make unsubscribe be based in the return value:

[code]

@Particular/nservicebus-maintainers thoughts?

[2016-03-16 11:53] SzymonPobiega commented on #3532
@andreasohlund this was not the point of this issue. The point was to prove that we can build an alternative to the built-in timeout manager *outside of the transport*. The problem is, we can provide a built-in defer capability for SQL Server transport but not for RabbitMQ and MSMQ. If we want to fix it in the minor release by having an external package (say NServiceBus.TimeoutManager) then we can

[2016-03-16 11:53] andreasohlund commented on #3600
This would solve https://github.com/Particular/PlatformDevelopment/issues/281

[2016-03-16 11:58] andreasohlund commented on #3532
Yes it would mean that we would need to release a minor of the transport to allow for it to be plugged in. I'd say that's something we can live with?

`install-package NServiceBus.NewPerformantTM`

`update-package NServiceBus.RabbitMQ`

`.UseTransport<RabbitMQ>().WithExternalMessageDeferal<PerformantTM>()`

where

`PerformantTM: IDeferMessages` ?

[2016-03-16 12:00] danielmarbach opened #3601 "Align DateTime usage & switch to DateTimeOffset where necessary"
Background

http://stackoverflow.com/questions/4331189/datetime-vs-datetimeoffset

Two problems:

* We still have a few `DateTime.Now` calls
* We use `DateTime` and `DateTimeOffset` inconsistently

we currently have 92 usages of `DateTime` in the core. For the `DoNotDeliverBefore` extension method on `SendOptions` we already switched to `DateTimeOffset` but the `DoNotDeliverBefore` constraint does

[2016-03-16 12:11] SzymonPobiega commented on #3600
When would`subscriptions.Unsubscribe()` be allowed? During whole endpoint lifetime or only during the startup phase? What does it add in terms of safety of unsubscribing?

I wonder if we are not mixing two different concepts in out handling of pub/sub. One is a persistent subscriptions that always exists and can never be removed. Making sure that subscription is in place is a deployment concern. T

[2016-03-16 12:12] SzymonPobiega commented on #3532
:+1:

[2016-03-16 12:13] SzymonPobiega commented on #2935
Since #3532 is done, this one can now be happily parked and revisited after the V6 release.

[2016-03-16 12:29] SzymonPobiega commented on #3406
How about we combine it with #3495 for the V6 release and use following API

[code]

cc @mauroservienti @yvesgoeleven @andreasohlund

[2016-03-16 13:02] SzymonPobiega commented on #3596
#3603 attempts to fix it.

[2016-03-16 13:08] timbussmann commented on #3426
closing this one as code changes were merged and doc PR exists.

[2016-03-16 13:08] #3426 closed

[2016-03-16 13:11] timbussmann commented on #3425
@andreasohlund since #3568 is merged and it's still `BusNotifications` I think @petersgiles could pick that up?

[2016-03-16 13:14] timbussmann commented on #3342
@indualagarsamy since there wasn't any update on this for a while, would it make sense to create a taskforce to move this issue forward?

[2016-03-16 13:19] timbussmann commented on #3388
@SzymonPobiega @mikeminutillo does this doco PR https://github.com/Particular/docs.particular.net/pull/1315 "fix" the remaining task in the description?

[2016-03-16 13:24] timbussmann commented on #3370
@indualagarsamy there weren't any updates on this for a while, so can we close this issue?

[2016-03-16 13:26] timbussmann commented on #3341
closing this since there weren't any comments since the last ping from @andreasohlund. Feel free to reopen.

[2016-03-16 13:26] #3341 closed

[2016-03-16 13:27] DavidBoike commented on #3549
@andreasohlund This issue **is** 3549. What case did you mean to link to?

[2016-03-16 13:27] andreasohlund commented on #3425
Yea, lets go ahead

[2016-03-16 13:36] danielmarbach commented on #3476
Deleted my comment. See follow up from @timbussmann

[2016-03-16 13:39] timbussmann commented on #3476
after discussing this quickly with @danielmarbach I need to revert my opinion on this issue. Since we have to use transactions for SLR to work properly (currently we're not using transactions and this is a known bug which will be fixed before v6 release). This means there is no way to use SLR behavior on non-transactional endpoints. I agree with @ramonsmits that it can make sense to allow certain

[2016-03-16 13:42] timbussmann commented on #2750
since ramon raised #3476, can we close this one?

[2016-03-16 14:02] andreasohlund commented on #3600
Persistent - the subscription is created during the deployment time and cannot be removed. When the bus starts, the subscriber can validate if proper configuration is in place. Otherwise it refuses to run.

I like it, but where do autosubscribe fit in? (since that's not happening at deployment time)

[2016-03-16 14:15] SathishN commented on #3169
@danielmarbach thanks for looking into this issue.

I just want to reiterate the problem, I'm in the process of moving away from strong named message assemblies. I still have few clients in prod using older strong named assemblies.

I'm looking for options at my handler side, handling both strong named message(previous version)
and newer message assembly which isn't strong named.

Assembly binding

[2016-03-16 14:40] andreasohlund commented on #3549
Duh, I mean't https://github.com/Particular/NServiceBus/pull/3597

[2016-03-16 14:42] andreasohlund commented on #3476
No, `transactions.Disable` in v5 meant no FLR, no SLR and no MoveToError

[2016-03-16 15:14] WojcikMike commented on #3600
It seems that autosubscribe in such scenario would be doing Transient subscriptions. So it's actually autosubscribe/autounsubscribe stuff for you.

I am still trying to think if there are scenarios to subscribe to an event only when certain criterias are met. But than it can be achieved by Sagas. I will keep thinking about it.

[2016-03-16 16:10] WojcikMike commented on #3429
Should we add this change to doco? Potentially to upgrade guide?

[2016-03-16 16:22] bording commented on #3077
@danielmarbach and I took a look at the doco PR. Where should this 24H limit apply? Both the config and code-based configuration? What about custom retry policies?

Can you fill out the description a bit more to provide enough context for anyone to be able to work on this?

Or is the doco enough and we can go ahead and close this?

[2016-03-16 16:29] bording commented on #3128
It looks like there is a community serializer for that already:

https://github.com/fhalim/NServiceBus.Serializers.SystemXml

Perhaps keeping support for it at the community level is the best approach. Or we could move it into being an officially supported option.

[2016-03-16 16:35] bording commented on #3176
Given that we are considering removing message-based subscriptions altogether, it seems like this isn't something we'd want to spend time doing.

Closing in favor of [Enforce support of pub sub in all transport](https://github.com/Particular/PlatformDevelopment/issues/664)

[2016-03-16 16:35] #3176 closed

[2016-03-16 16:39] bording commented on #3179
This doesn't appear to meet the criteria for [backporting ](https://github.com/Particular/PlatformDevelopment/blob/master/Guidelines/Patching.md#bugs-that-fit-the-following-criteria-should-be-patched)a fix.

Closing.

[2016-03-16 16:39] #3179 closed

[2016-03-16 17:56] indualagarsamy commented on #3342
@timbussmann - I've discussed this issue with @kbaley and will help him get this done done.
We discussed the list of things to be done and that checklist will be updated in the issue description.

[2016-03-16 19:05] danielmarbach commented on #3342
Cool! When we did the grooming today we concluded that this has higher prio
than advanced satellite. The impact here is larger

On Wednesday, March 16, 2016, Indu Alagarsamy <notifications@github.com>
wrote:

[2016-03-16 19:09] indualagarsamy commented on #3342
@danielmarbach - makes sense. Are you referring to #3370 ?

[2016-03-16 19:13] danielmarbach commented on #3342
Yep. Sorry stupid email doesn't allow proper linking

On Wednesday, March 16, 2016, Indu Alagarsamy <notifications@github.com>
wrote:

[2016-03-16 19:14] danielmarbach commented on #3406
Like that

On Wednesday, March 16, 2016, Szymon Pobiega <notifications@github.com>
wrote:

[2016-03-16 19:15] indualagarsamy commented on #3370
@timbussmann - I haven't abandoned this effort yet. I've been working on related things that's possible to do with the IAdvancedSatellite, such as changing managing custom failures, worked through the bugs of not being able to change the satellite queue address. I'll post updates here.

[2016-03-16 19:16] andreasohlund commented on #3406
I like it as well. I propose we go ahead with this and remove https://github.com/Particular/PlatformDevelopment/issues/621 from v6

[2016-03-16 19:31] colin-higgins commented on #3342
Don't a lot of the acceptance tests rely on `Start` and `Stop` as spies?

[2016-03-16 19:40] indualagarsamy commented on #3342
@colin-higgins - We'll add that to our checklist.

[2016-03-16 19:40] kbaley commented on #3342
Just confirming the work that needs to be done. I'll include this as a checklist in the issue description once it's confirmed:

- Obsolete `IWantToRunWhenBusStartsAndStops`
- Update upgrade guide, [specifically this](http://docs.particular.net/nservicebus/upgrades/5to6#iwanttorunwhenbusstartsandstops-execution)
- Update samples (e.g. http://docs.particular.net/samples/hosting/)
- Move interface to

[2016-03-16 19:45] indualagarsamy commented on #3342
@kbaley - looks good.

[2016-03-16 19:46] indualagarsamy commented on #3342
@kbaley - I'd add relevant issues in the NServiceBus.Host & the NServiceBus.Host.AzureCloudService as well and link it to this one. cc / @SeanFeldman @yvesgoeleven

[2016-03-16 19:57] MarcinHoppe commented on #3476
I think we should document it on this page: http://docs.particular.net/nservicebus/errors/automatic-retries.

When I read it as an NSB newbie, it would not occur to me that retries are off when transactions are disabled (although it might seem obvious after giving it a little bit of thought).

Agree?

[2016-03-16 20:50] danielmarbach commented on #3342
@indualagarsamy @kbaley Also don't forget that we talked about renaming the interface and obsoleting the old one. Since this would make it more visible that now blocking operations can occur in there.

[2016-03-16 21:12] kbaley commented on #3342
@danielmarbach Right. Forgot about that. I'll update the checklist.

[2016-03-16 22:04] SimonCropp commented on #3128
given that project only supports up to version 4 of NSB i think we would need to either send some PRs or take ownership

[2016-03-16 22:10] andreasohlund commented on #3342
@kbaley fyi https://github.com/Particular/NServiceBus.Host.AzureCloudService/pull/22, you will need to go on top of that one

[2016-03-16 22:58] petersgiles commented on #3128
@SimonCropp +1 PRs

[2016-03-16 23:12] petersgiles commented on #3437
The spike was simply an exercise in looking at much stuff would need to be fixed, there is no product.

The original question was "should we upgrade the distributor package?".

- We should give users time to move to the new API

Not sure how this prevents migration given there's another way to do it now

Our opinion from what I can gather from our replacement solution is that this is a bad thing a

[2016-03-17 03:09] mikeminutillo commented on #3406
I still think that Independent Instance should require Uniquely Addressable, not an Id. These are orthogonal concerns. Uniquely Addressable adds a new address (queue). Independent Instance requires the unique address, and then turns off the shared address.

[2016-03-17 03:36] gbiellem commented on #3429
Default answer to whether something needs doco....  Public api = yes

[2016-03-17 03:57] bording commented on #3406
The way I see it, the three modes are:

- Shared queue
- Shared queue + per-instance queue
- per-instance queue

I'd like to see the naming of the modes make it obvious from just the name that the middle mode has both queues.

Or, since there are two queues involved, maybe that's the way the API should be organized?

[code]

And then we can throw for invalid combos, such as disabling the shared qu

[2016-03-17 04:40] SzymonPobiega commented on #3388
@timbussmann yes. @mikeminutillo do you think it is enough?

[2016-03-17 04:49] mikeminutillo commented on #3406
@bording I disagree for the reason I am against the v5 `UniqueQueuePerEndpoingInstance()` and `UseSingleBrokerQueue()`. For me this puts emphasis on which queues we are binding the endpoint to. That is our concern, not our customers. The fact that there are queues at all is an implementation detail. What is the business problem that the user is trying to solve by using this API?

[2016-03-17 04:52] SzymonPobiega commented on #3406
:+1: for not talking about queues. So @mikeminutillo are you suggesting something like:

[code]

[2016-03-17 05:01] mikeminutillo commented on #3406
@SzymonPobiega :+1: I'm still not sure what the use case for Independent Instance is but I am happier with that design. Is it still possible to send a command to the logical `MyEndpoint` Endpoint? If so then could this be:

[code]

Is that closer to a requirements level description of what is going on?

[2016-03-17 05:25] mikeminutillo commented on #3388
I *think* this is OK. This will only happen when someone adds a new v6 endpoint to an existing v5 solution and then tries to scale it out. It seems likely that the customer would check the docs before doing that.

[2016-03-17 05:25] #3388 closed

[2016-03-17 05:46] bording commented on #3406
I'm all for hiding implementation details when it makes sense, but I'm not sure I consider the name and number of queues created to be an implementation detail our users don't have to be concerned with.

Considering that they have to set up, maintain, and monitor their chosen transport infrastructure, this seems like an odd thing to be obscuring to me.

[2016-03-17 05:53] mauroservienti commented on #3495
I go on thinking that this should not be supported and encouraged in any way by NServiceBus, uniquely addressable instances are a solution in search of a problem, IMO. We couldn't come up with valid business cases, the only one is a generic data distribution scenario that:

* We said in Bangkok we don't want to support via NServiceBus
* Has a well known architectural solution called backplane, tha

[2016-03-17 06:03] bording commented on #3495
@mauroservienti Uniquely addressable instances (or per-instance queues) are needed for callbacks, but that is already working in the current callbacks implementation, where a shared queue and a per-instance queue are used at the same time.The new aspect being talking about in this issue is adding the "independent" mode where the subscriptions are routed to the per-instance queue instead of the sha

[2016-03-17 06:09] johnsimons commented on #3495
So does this problem affect v6 release? And if so, is it a show stopper for the release ? If yes to all then add the label to it

[2016-03-17 06:10] mauroservienti commented on #3495
@bording yeah, the background is clear. Still there is no business requirement. Basically my fear is that we end up introducing something now to support something we did wrong previously and we'll end up deprecating it in the next major. We have a similar issue with the SQL Transport multi-instance feature.

[2016-03-17 06:11] ramonsmits commented on #3468
From: https://github.com/Particular/NServiceBus/pull/3518#issuecomment-191852473

## Side-effects of AssertConfigurationIsValid

It seems that calling `container.AssertConfigurationIsValid()` has the side-effect of actually creating the types as commenting this statement started the bus as expected.

Inspecting the code doco:

## Working solution / Workaround

The *only* working solution is:

Enab

[2016-03-17 06:12] mauroservienti commented on #3495
[Again](https://github.com/Particular/NServiceBus/issues/3495#issuecomment-195351500), I strongly disagree with this one, but seems to be the only one, so even if I think it is completely wrong if the majority thinks we should do it, let's do it.

[2016-03-17 06:18] boblangley commented on #3495
I do not think this should be a core behavior. We should be pointing those
customers to a better way to handle distributed caching.

Forgive my ignorance, but if we decide we have to support this, is there a
way to do so outside of the core and make it an ASB specific feature?

On Wed, Mar 16, 2016, 11:10 PM Mauro Servienti <notifications@github.com>
wrote:

[2016-03-17 06:19] mikeminutillo commented on #3495
@mauroservienti I think I stand in your minority as well. I wonder if we can do this as an external plugin and not support it out of the box as a part of Core V6.

Jinx @boblangley

[2016-03-17 06:22] mauroservienti commented on #3495
Agree, we should introduce this, along with [backplane support](https://github.com/Particular/PlatformDevelopment/issues/263), as a separate feature.

[2016-03-17 06:43] SzymonPobiega commented on #3495
The only hack I can think of is to expose, from the core perspective, both listen addresses (shared and per-instance) to the transport. Transport then decides if it is going to bind the subscriptions to the shared one or to the individual one.

We can then have something like:
[code]

and if there is no instance ID provided, that call would blow up.

[2016-03-17 06:48] ramonsmits commented on #3316
@andreasohlund This NEEDS configuration. Operations needs to update this information. If not on a schedule then because keys need to be revoked due to a security incident. We cannot drop configuration here.

[2016-03-17 06:51] boblangley commented on #3495
Could we just have them start up a second endpoint for the data distribution scenario, overwriting the endpoint name with an instance identifier? Is the cost too high for doing this?

This would encourage them to separate this concern from the normal messaging.

[2016-03-17 06:55] SzymonPobiega commented on #3495
@boblangley that would be a bigger hack since in that scenario each instance of such *data distribution endpoint* would have to have a unique *endpoint name* so you would have to do something like this:

[code]

we thought about similar approach to callbacks (just spin another instance) but we abandoned the idea in favor of continuing to support callbacks as first-class citizens. On the other hand

[2016-03-17 06:56] SzymonPobiega commented on #3406
Let's pause here until https://github.com/Particular/NServiceBus/issues/3495 is decided.

[2016-03-17 06:57] SzymonPobiega commented on #3495
Marking it as V6 because this is a showstopper and we *need* to make a decision here.

[2016-03-17 06:58] johnsimons commented on #3495
I still think for us to be production safe we need to randomize the instanceid on every run

[2016-03-17 07:37] andreasohlund commented on #3495
That's going to create an ever increasing amount of orphan queues? That would cause the OPS people to come after us with pitch forks?

[2016-03-17 07:38] boblangley commented on #3495
@SzymonPobiega  Yes, that is exactly what I am suggesting. Essentially once you move to this queue per instance, at least for these subscribed events, they are each acting as discrete logical endpoints. This idea that they are both a participating as physical endpoints in a single logical endpoint AND acting as discrete logical endpoints is what makes it contentious.

As such I wouldn't consider t

[2016-03-17 07:40] timbussmann commented on #3476
@MarcinHoppe :+1: raised a doco issue here: https://github.com/Particular/docs.particular.net/issues/1320

[2016-03-17 07:47] andreasohlund commented on #3495
@SzymonPobiega how about we schedule a call early next week including @udidahan and make a call on this one since it relates to the discussion with him we had in Bangkok?

[2016-03-17 07:53] SzymonPobiega commented on #3495
@andreasohlund I am not a big fan of calls since they require to agree on same time slot. If we can make a decision in the async way it will always be more inclusive and we will always have more opinions present.

[2016-03-17 07:55] andreasohlund commented on #3495
Agreed but we seems to be going in circles and this is a key decision for v6 ?

[2016-03-17 07:58] SzymonPobiega commented on #3495
Currently I believe the best option is the one proposed by @boblangley . It seems to be acceptable by @mauroservienti and @WilliamBZA (no new data distribution APIs) and by myself. Let's see if @yvesgoeleven considers it good-enough given his insight into Azure customers' needs. If we can't proceed with that proposal, let's schedule a call and make an arbitrary decision on that call.

[2016-03-17 08:02] andreasohlund commented on #3495
Wouldn't that result in callbacks no longer working when scaled out? (something that @udidahan said should work in Bangkok)

Not against it either just making sure that we are aware

[2016-03-17 08:12] SzymonPobiega commented on #3495
we are talking here about a very specific Azure case where you want events to be delivered to every NSB instance. Here's what you do:
 * You use a regular instance for processing commands

[code]

* If you also need callbacks, you enable unique addressing for that instance

[code]

 * If you also need to get events delivered to all NSB instances of your regular endpoint, you also spin up a "subsid

[2016-03-17 08:22] udidahan commented on #3495
Just to clarify this point:

Our mission is to make developers better - so both are on-mission. When it comes to vision, though, callback are part of the short-term vision - data distribution is not.

[2016-03-17 08:22] MarcinHoppe commented on #3316
@ramonsmits @andreasohlund Alternative could be to do #3317 so that users can implement it themselves.

[2016-03-17 08:23] MarcinHoppe commented on #3476
Thanks @timbussmann. I'm on it.

[2016-03-17 10:12] andreasohlund commented on #3429
Agreed! In this case those changes should already have been documented by the task for that did the initial change (should have mentioned that in my comment)

[2016-03-17 10:39] SimonCropp commented on #3429
nope acording to this masternodeconfig is still alive and kicking
http://docs.particular.net/search?q=masternodeconfig

[2016-03-17 10:43] johnsimons commented on #3495
@andreasohlund if we don't do it, then it is not safe.

Why is not safe:

1. Users will hardcode the instanceid, I can nearly guarantee it;
1. On IIS AppPool recycles start AppPool side by side, so we have competing consumers on the same instanceid queue, and the inmemory dictionary won't pick it up;

I wish there was a different solution, but I cannot see how to avoid it without randomized queues

[2016-03-17 10:51] SimonCropp commented on #3495
pity cecil isnt a viable option since u could detect if a hard coded string is being passed in

[2016-03-17 10:57] johnsimons commented on #3495
IMO, to move this forward, I would code exactly the same solution we currently have for callbacks and would put data distribution in the back burner.

[2016-03-17 11:00] SzymonPobiega commented on #3495
We're not talking here how this instance ID is going to be generated. That's probably going to be covered by guidance. We're trying to decide if current data distribution feature of ASB can be achieved by adding another endpoint which names contains a unique component (e.g. role ID).

[2016-03-17 12:13] WojcikMike commented on #3429
ok I am on it. Will create PR in doco.

[2016-03-17 12:21] andreasohlund commented on #3429
Let me know when the PR is up so I can merge this

[2016-03-17 13:34] timbussmann commented on #2783
What are the implications if we don't consider this for the initial v6 release?

[2016-03-17 13:58] timbussmann commented on #3476
quick thoughts on this issue: it seems that a "Error Queue Behavior" would also be a desirable feature besides retry mechanisms. But it seems that all of them would be in a best-effort manor, still not providing any guarantees.

[2016-03-17 14:06] tmasternak commented on #3370
@indualagarsamy Do you think it could be possible to break-down the work needed here so that we can get idea of the amount work needed?

What is the definition of done here?

[2016-03-17 14:22] WojcikMike commented on #3429
@andreasohlund here PR create: https://github.com/Particular/docs.particular.net/pull/1326

[2016-03-17 14:25] andreasohlund commented on #3429
nice, ok to close this one?

[2016-03-17 14:29] WojcikMike commented on #3429
I will close it when the PR is merged, as otherwise this issue is not done by my standards.

[2016-03-17 14:45] DavidBoike commented on #3437
I don't think we should *never* deliver it, but as long as we're reasonably confident we could deliver it after the release of V6 (without requiring any changes to the core) I would be more than happy to "wait and see."

Do we have a label for "Right After V6"?

[2016-03-17 15:20] #3545 closed

[2016-03-17 18:55] timbussmann commented on #3429
@WojcikMike we consider the issue as done from the NSB repo when the WIP doc PR exists. I assigned you to the doc PR.

[2016-03-17 18:55] #3429 closed

[2016-03-17 18:57] timbussmann commented on #3437
nope. But let's add the Feature tag then?

[2016-03-17 20:33] DavidBoike commented on #3437
Added Feature tag, removed V6 Launch, and backlogged for now.

@SzymonPobiega if you think this needs to be done to ensure it is workable with V6 Core, feel free to override me.

[2016-03-17 22:21] ramonsmits opened #3612 "Circuit breaker and critical errors are broken OOTB"
Ever since the 'circuit breaker' pattern is introduced it has been a serious pain for our customers that usually get into trouble when they are in production. Behavior and configuration is hidden and unstable by default.

Some observations:

* Circuit breakers by default set the bus instance in an unworkable state without our customers knowing.
* Circuit breaker values are hard if not impossible t

[2016-03-18 05:00] #2477 closed

[2016-03-18 05:00] #3549 closed

[2016-03-18 05:31] SzymonPobiega commented on #3437
@DavidBoike I fully agree this can wait.

[2016-03-18 09:02] SzymonPobiega commented on #3429
@andreasohlund @timbussmann I think this was closed prematurely as @WojcikMike wanted it to be longer. I am not aware of the process that enforces closing issues as soon as there is a doco PR and I even remember a case where I was asked to not close my issue until the corresponding doco PR is actually merged.

[2016-03-18 09:21] timbussmann commented on #3316
I think there could be several ways to fetch these keys without recompiling. Xml config seems to be only a single solution. With the code first api, it's completely up to the user to use the configuration option he'd like to use? (app config, dedicated config file, centralized storage, ...)? Like the other config options, we could still consider providing app.config file sections in a dedicated pa

[2016-03-18 09:32] timbussmann commented on #2935
We always force users to define a persistence mechanism and strongly discourage from using InMemoryPersistence in production since it not only causes data loss for scheduled messages. So what do we need to change especially about SLR which does not affect other persistence storages?

[2016-03-18 09:41] timbussmann commented on #3601
The change to DateTimeOffset here was mainly to make sure users to not provide a time with Kind.Unknown which wouldn't allow us to determine whether it's already utc or not. Since we're always working with UTC internally I'm not really sure what the benefit over using DateTimeOffset is.

Can you give some examples where damage could be caused because of using DateTime? I'm not really sure we need

[2016-03-18 09:46] timbussmann commented on #2977
Is there any conflict with the "multi-deserializer" support we have in v6 e.g. endpoints which can handle XML as well as binary message bodies?

[2016-03-18 09:50] timbussmann commented on #3429
@SzymonPobiega what's the value to keep this open?

The [documented rules](https://github.com/Particular/PlatformDevelopment/blob/master/Maintainers/nservicebus-maintainers.md) state that a WIP doc PR suffices.

[2016-03-18 10:05] SzymonPobiega commented on #3429
I meant the value/no value call should be up to the assignee and the rules do not state *you must closed an issue as soon as there is a doco PR*. I use a filtered waffle board to keep track of my stuff and I usually prefer to close an issue if the doco PR is created but other people might use different work management approaches.

[2016-03-18 10:18] timbussmann opened #3613 "Kill SendOptions"
This is the outcome of a [spike](https://github.com/Particular/NServiceBus/pull/3559) I worked on recently.

Based on our experiences while updating the testing framework to v6 and generally using the `Send`(&co) APIs I wasn't too happy with the current `SendOptions` API for sending messages. Current "pain points" with `SendOptions`:
- It forces us to use extension methods instead of properties (e

[2016-03-18 10:24] timbussmann commented on #3429
@SzymonPobiega there is no must. I closed this because I assumed this issue no longer contains any work left to do in the NServiceBus repository. It's our gromming process to try to close issues so we don't have to check them over and over again. Feel free to raise a discussion about this.
@WojcikMike In case there is still work left to do in the core, please feel free to reopen.

[2016-03-18 12:22] ramonsmits commented on #3316
Lets focus on this issue here as this is about changing the current configuration structure to reflect the current code api. The existing XML configuration schema is *very* confusing for using key identifiers as that was a hack to keep the configuration schema semver compatible for the hotfix in existing released versions.

[2016-03-18 16:03] timbussmann commented on #3216
`MessageProcessingAbortedException` has been removed and we use cancellation tokens now: https://github.com/Particular/NServiceBus/pull/3254. I think we can close this one.

[2016-03-18 16:03] #3216 closed

[2016-03-18 16:08] timbussmann commented on #3230
@mauroservienti @danielmarbach what should we do with this one? It seems to be wrong to pass an `EndpointConfiguration` at that stage of the endpoint startup?

[2016-03-18 16:21] timbussmann commented on #3232
so it currently seems this will only be possible by using the container directly in case the container supports runtime bindings at all. Closing this for now.

[2016-03-18 16:21] #3232 closed

[2016-03-18 16:23] timbussmann commented on #3258
@yvesgoeleven since https://github.com/Particular/NServiceBus/pull/3259 has been merged, can this one be closed?

[2016-03-18 16:26] timbussmann commented on #3256
Can we add something like "please consult the upgrade guide for further information" as we seem to do on other obsoletes?

[2016-03-18 16:30] timbussmann commented on #3217
@johnsimons can we close this?

[2016-03-18 16:34] timbussmann commented on #3225
@johnsimons this seems to be outdated, can you check whether we can close this or update the description?

[2016-03-18 16:39] timbussmann commented on #3228
@johnsimons is this still an issue or can we close it?

[2016-03-18 16:41] timbussmann commented on #3229
@johnsimons can we close this?

[2016-03-18 16:51] timbussmann commented on #3003
@janovesk you seem to be assigned to this. Is this fixed meanwhile?

[2016-03-18 16:54] timbussmann commented on #3205
since TTBR doesn't work well with MSMQ, this doesn't seem to be a valid option? Should we close this issue and discuss possible solutions in the pdev issue you raised @ramonsmits ?

[2016-03-21 09:57] andreasohlund commented on #3230
This is tricky, the name implies that it can be used to modify config since we call it "before config is finalized". I'm pretty sure that we assume that no more config calls can be done so passing the EC would be misleading.

Thinking that the whole thing should be killed in the long run and it's currenly only used by the persistence startup (which is a smell). We could hard code the persistence s

[2016-03-21 10:32] andreasohlund commented on #3613
I'm :+1: , given that this only affects the more advanced parts of the API it seems resonable to leave as if for v6 from a end user perspective?

@timbussmann would you say that the drawbacks you listed are enough for us to consider this v6?

[2016-03-21 10:35] yvesgoeleven commented on #3436
Azure transports were defaulting to Json in the past, as the maximum message size is rather small (64K for ASQ & 256K for ASB), you hit that quickly with xml

I agree with @timbussmann that defaulting in general is wrong, we shouldn't hide this aspect from the user. Can we still include this in v6?

[2016-03-21 10:38] andreasohlund commented on #3436
So we need to decide on:

1. Make serializer selection mandatory

OR

2. Hack ASB and ASQ to flip the default to JSON just like v5

Is it even possible to do the no.2 hack?

How much effort does each option take?

[2016-03-21 10:52] timbussmann commented on #3613
I think it would add value to the v6 release, but it's certainly not critical.

[2016-03-21 10:53] SzymonPobiega opened #3616 "No access to CriticalError from in dispatcher and subscription manager"
The `CriticalError` component cannot be accessed by transport components (apart from the message pump) because it can only be obtained from the builder.

The factories that are part of the transport should provide the `CriticalError` as an input argument for both `IDispatchMessages` as well as `IManageSubscriptions`.

[2016-03-21 10:56] SzymonPobiega commented on #3616
@Particular/nservicebus-maintainers please review this one. For me it is a blocker for properly implementing EventStore transport where subscription manager is an active component that becomes useless when it is unable to reconnect to the EventStore. It should be able to initiate the endpoint shutdown when unable to reconnect.

[2016-03-21 10:57] timbussmann commented on #3436
what about just throwing an exception when a different than JSON serializer is defined (without some explicit confirmation) when using Azure? This will force Azure users to define the serializer ("mandatory selection") while not changing the behavior for others?

every mandatory selection hurts the first time experience that's why I dislike the "mandatory serializer selection by default".

[2016-03-21 11:19] timbussmann commented on #3230
:+1:  "BeforeConfigurationIsFinalized" is a really weird extension point.

[2016-03-21 12:06] yvesgoeleven commented on #3436
@timbussmann json is not mandatory, it's just the most logical choice. So throwing is not an option.

[2016-03-21 14:00] andreasohlund commented on #3436
Talking to @timbussmann (and partly with @yvesgoeleven ) we agreed that while mandatory serializer selection is a good idea we need to improve our story for bootstrapping new users before adding more mandatory configuration options.

Also the ideas around a [Container/Compartment/Endpoint](https://github.com/Particular/PlatformDevelopment/issues/621) model will probably affect the way we force the

[2016-03-21 14:49] andreasohlund commented on #3616
The dispatcher and subscription manager is always called with a `Context`, I know its a bit of a hack but would doing `context.Builder.Build<CriticalError>()` get you unstuck?

[2016-03-21 14:51] #3596 closed

[2016-03-21 15:25] Scooletz commented on #3436
If we make the default serializer changeable from the transport level, we'll need to remove the code related to the handling of serialization in the ASQ and just use this option: https://github.com/Particular/NServiceBus.AzureStorageQueues/blob/develop/src/Transport/MessageWrapperSerializer.cs

[2016-03-21 15:59] SeanFeldman commented on #3436
:+1: for this change. I'd rather default to JSON than have a default that makes no sense (XML) if there's no option to enforce selection of serializer.

[2016-03-21 16:26] mauroservienti opened #3618 "CircuitBreaker and Critical Error handling misbehaviors"
I was in the process of addressing a customer question when I came up with the following issue when using the `DefineCriticalErrorAction` on the `BusConfiguration` object.
The observed endpoint behavior changes when using different transports, I actually tested `MSMQ` and `SQL`, and it gets worse if there is a persistence, other than `InMemory`, or heartbeats in the mix.
I'm using the latest V5 fo

[2016-03-21 17:52] timbussmann commented on #3618
as discussed here: https://github.com/Particular/NServiceBus/issues/354, a CriticalErrorAction should not be empty. Also by providing a custom CriticalErrorAction you're overriding the existing one. The default action does stop the bus. If you don't stop the bus yourself in the CriticalErrorAction nothing else does.

Which circuitbreaker are you referring to? Msmq has at least two circuit breakers

[2016-03-21 19:13] mauroservienti commented on #3618
Is documented somewhere? It's not obvious and I cannot find any mention of it (on the phone right now)

Shouldn't the behavior be consistent across transports?

[2016-03-22 02:39] indualagarsamy commented on #3589
@SzymonPobiega - Can you clarify what needs to be done in the upgrade guide?

[2016-03-22 03:47] SimonCropp commented on #2783
@andreasohlund

I dont think that is a "complete" way of documenting it. since step ids can exist in many downstream repos. u would need a sample for every downstream to capture them. also at runtime it is not possible to determine which steps are injected via conditional logic.

I had a look into deriving this stuff from static analysis using mono.cecil. but it is not possible to do in a complete

[2016-03-22 05:10] mauroservienti commented on #3618
BTW in https://github.com/Particular/NServiceBus/issues/354 there is nothing related to the CB.

How? is there a way for the user to gracefully stop the bus in V5? And in V6?

I don't know :smile: I simply observe 2 different behaviors, well 4 different behaviors.

Questions:

* what was the original `CriticalErrorAction` use case?
* Should I check the same behavior in V6?
* Shouldn't the behavior

[2016-03-22 05:24] mauroservienti commented on #3526
Can this in any way affect external users? Most of them simply don't know that a namespace is an optional and not mandatory thing

[2016-03-22 05:31] mikeminutillo commented on #3582
Is there a deterministic order for behaviors within a stage? i.e. Will the pipeline always end up in the same order? If not, we run the risk that it works 100% of the time on our machines and on our build server and slightly re-orders the behaviors in a prod environment giving us weird results.

[2016-03-22 07:29] johnsimons commented on #3217
Aren't callbacks now part of the core ?
So I guess we don't need to do this anymore ?
The best person to answer this is @bording

[2016-03-22 07:47] danielmarbach commented on #3230
As it currently stands it is right to pass in the `SettingsHolder`.

About obsoleting it. How about we do a more thorough investigation first like looking through ggroups and docs page and google for what purpose other people are using it before we go ahead with a decision? We have been burned before by just looking out our ecosystem...

[2016-03-22 08:06] timbussmann commented on #3618
I think mainly to do custom logging/cleanup before bus shutdown. /cc @andreasohlund

it works the same as in v5, but it provides an input parameter which allows to stop the bus (which indeed is more complex in v5).

copy&paste from the default v5 implementation (yes, extremely ugly imho):

            var components = configure.Builder.Build<IConfigureComponents>();
            if (!components.Has

[2016-03-22 08:10] danielmarbach commented on #3217
Ok, @bording please close this if no longer necessary.

[2016-03-22 08:16] danielmarbach commented on #3618
So does that mean our current approach with critical errors is wrong? Should a definition of a critical error action NOT override the shutdown behavior then? I'm starting to feel so but would need to investigate more. But since this is an API which is rarely used I'd say we should backlog it.

[2016-03-22 08:19] danielmarbach commented on #3616
We only pass in the `ContextBag`. This would require some evil castings.

[2016-03-22 08:21] SzymonPobiega commented on #3616
For the dispatcher it might be enough but for the `IManageSubscriptions` which has an active thread refreshing the internal cache -- not. I currently have a hack in which I drive all my starts and stops from `IPushMessages` but it has some disadvantages (as there might be two instances of message pumps).

[2016-03-22 09:04] danielmarbach commented on #3601
I have no real strong arguments. I'm all for consistency.

From a framework perspective I have the feeling using a nonlocalized date time format is clearer. Users can always translate from their local time to the universal time.

[2016-03-22 09:32] danielmarbach commented on #2951
Yes it would be a quick fix. But I'm sure we should make a proper fix. In the interesting of improving the current situation I'm OK to add the client to the scanner default includes though.

[2016-03-22 10:17] timbussmann commented on #3618
I think so since quite a while. It just seems to be too dangerous to skip shutdown, but then again that's probably the only reason besides custom logging to provide a ciriticalErrorAction.

[2016-03-22 10:21] danielmarbach commented on #2779
I'll reopen.

[2016-03-22 10:23] danielmarbach commented on #2779
@mauroservienti I linked https://github.com/Particular/Operations.Licensing/issues/14

Would it be possible for you to drive the triage process?

// cc @ramonsmits

[2016-03-22 10:30] mauroservienti commented on #2779
@danielmarbach it really depends on the priority of this one. I can schedule this in say 10 days or so, before it's hard.

[2016-03-22 10:30] andreasohlund commented on #3616
Talking to @danielmarbach we propose to not include this in v6 since there is a workaround (yes a nasty hack) and none of out currently supported transports needs it.

Handling this in vNext also means that we will have time to evaluate a better implementation for critical error potentially using the new event aggregator.

@SzymonPobiega are you ok with this plan?

[2016-03-22 10:35] andreasohlund opened #3619 "Deprecate IWantToRunBeforeConfigurationIsFinalized"
It's only used only by the persistence startup. We could hard code the persistence startup (just like we do with the transport startup)

Only downstream that is using this is the azure multihost and [this pull ](https://github.com/Particular/NServiceBus.Host.AzureCloudService/pull/22) removes that usage.

[2016-03-22 10:39] andreasohlund commented on #3230
I agree with @danielmarbach passing settingsholder is close enough for v6. I've raised a new issue to [deprecate IWantToRunBeforeConfigurationIsFinalized](https://github.com/Particular/NServiceBus/issues/3619)

@mauroservienti I'm closing this issue, please reopen if feel otherwise

[2016-03-22 10:39] #3230 closed

[2016-03-22 10:47] SzymonPobiega commented on #3616
:+1:

[2016-03-22 10:50] danielmarbach commented on #3616
Ok removed the label then

[2016-03-22 10:58] mauroservienti commented on #3618
Well, when self-hosting I want to be responsible to shut down or not, I don't want my process to blow up because something in the bus failed. What I'd like to have is a clean and simple way to achieve 2 goals:

* Understand that the bus is facing a critical failure
* Gracefully shut down the bus, not necessarily my process

Unreliable connectivity to a very large SQL infrastructure, it may happen

[2016-03-22 11:01] timbussmann commented on #3582
I think the idea is to design behaviors in a way that the order within a specific stage doesn't matter.

we don't provide any guarantees. So it would be wrong to assume a certain place.

[2016-03-22 11:26] timbussmann commented on #2779
context?

[2016-03-22 11:44] timbussmann commented on #3425
picking this up.

[2016-03-22 13:26] mikeminutillo opened #3621 "Minor V6 Naming Inconsistencies in the Pipeline"
Most Connectors have names that end with `Connector` but `MulitcastPublishRouteBehavior` does not.

Most Terminators have names that end with `Terminator` but `DispatchTimeoutBehavor` and `StoreTimeoutBehavior` do not.

[2016-03-22 13:50] timbussmann commented on #3621
Should we also adjust `DeserializeLogicalMessagesConnector` and `LoadHandlersConnector` to the "naming convention"?

[2016-03-22 14:50] danielmarbach commented on #3471
Talked to @andreasohlund @timbussmann and we came to the conclusion this is mostly about adding new syntactic sugar and helpers. We don't need to do this as part of the v6 launch

[2016-03-22 14:59] danielmarbach commented on #3535
Talked to @timbussmann and @andreasohlund today and we came to the conclusion that we cannot justify the value of this change since it really only affects a very small portion of users. We will live with this inconsistency and deal with it in a future release.

[2016-03-22 14:59] danielmarbach commented on #3534
Talked to @timbussmann and @andreasohlund today and we came to the conclusion that we cannot justify the value of this change since it really only affects a very small portion of users. We will live with this inconsistency and deal with it in a future release.

[2016-03-22 15:53] timbussmann commented on #3256
@HEskandari can you give some background about the code which used the PipelineExecutor? Where and why?

[2016-03-22 17:53] bording commented on #3217
@johnsimons Is correct. Callbacks are in core, so it's not needed now.

[2016-03-22 17:53] #3217 closed

[2016-03-22 18:28] #3425 closed

[2016-03-22 18:46] bording commented on #3621
Looking at this pipeline visualization that @mikeminutillo created:

![pipeline](https://cloud.githubusercontent.com/assets/753669/13963476/e5c9a90c-f03b-11e5-9f21-b1d7071b3feb.png)

It looks like there are several other places that we might want to consider renaming. A lot of the connectors follow an **A***To***B***Connector* pattern showing the name of the stages, but not all of them.

It also l

[2016-03-22 20:48] SimonCropp commented on #3436
My vote is to force selection of serializer are config time.

[2016-03-22 20:57] indualagarsamy commented on #3436
Making the user select the serializer at configuration time removes all ambiguity from having to choose different sensible defaults for different transports and maintaining what that list is. Simplifies the code. For MSMQ customers, this would be adding an extra line to add the XmlSerializer and they'd be running as before.

[2016-03-22 23:07] bording commented on #3582
I had been wondering the same thing as @mikeminutillo. While we assume that behaviors are being written to be order-agnostic, do we have a way to actually verify that we haven't accidentally introduced an implicit order dependency?

From what I've seen of the pipeline implementation, while we may not guarantee any ordering, in practice you're likely to see the same order, so you might not even be

[2016-03-22 23:45] HEskandari commented on #3256
@timbussmann I was in a process of updating a sample, I believe. The shown error didn't make it quite clear how should I fix the compilation error. After spending some time, I do believe that the upgrade doc should be able to do the trick. So :+1: on your suggestion.

[2016-03-23 00:51] mikeminutillo commented on #3621
If I understand correctly, the Fork Connectors are actually Behaviors. They just have the opportunity to initiate another stage (either before, after, or instead of the main flow).

I don't know. I like that they tell me what they do. The one that surprised me was `TransportReceiveToPhysicalMessageProcessingConnector`. There is a lot of Outbox related behavior in there but it's not clear from the

[2016-03-23 07:23] timbussmann commented on #3582
not within the same stage. How could we do that?

[2016-03-23 07:25] timbussmann commented on #3256
@HEskandari :+1: I'll assign you to this issue then

[2016-03-23 08:11] SzymonPobiega commented on #3495
@yvesgoeleven @SeanFeldman please check if the double instance approach @boblangley proposed would solve the problem of data distribution.

[2016-03-23 08:17] andreasohlund commented on #3342
FYI since this touch a fairly public api we decided that this is a blocker for a beta release so this one have high prio

[2016-03-23 08:26] andreasohlund commented on #3436
I'm on the fence, me and @timbussmann came to the conclusion that we want to make out first time user story better (bootstrap packages, devtransport, devpersistence, launchpad website) before we make it mandatory. The api for specifying the serializer will most likely change when we do https://github.com/Particular/PlatformDevelopment/issues/621

Based on this we decided to hold of with this until

[2016-03-23 12:28] andreasohlund commented on #3256
@HEskandari can you also update the title to something more expressive?

[2016-03-23 12:42] andreasohlund commented on #2783
I think we can obsolete all the wellknown steps and just go with strings since:

* Pipeline extension is an advanced use case
* Out of those that do insertbefore/after/replace is extremely rare so using the correct stage should be enough
* We don't guarantee that we don't change the order of our internal behaviors so users can't relying on it
* To do a replace you need to look at the existing code

[2016-03-23 12:44] andreasohlund commented on #2750
@ramonsmits closing, please reopen if you feel that #3476 doesn't cover this

[2016-03-23 13:05] timbussmann commented on #1942
@andreasohlund and I agree that this is a bug.

Possible fixes:
* Throw on "suspicious" mappings (mapping and handler mismatch): While this works for the sample given by simon, it doesn't work when there are three events deriving from the same interface and you you're only subscribing to the first two events. Then it's a perfectly valid use case to have a `IHandleMessages<IMyEvent>()`.
* Subscribe

[2016-03-23 13:15] danielmarbach commented on #3582
Well if we have, we'll sooner or later find out with our test suite. As far
as we can say we haven't detected an issue and therefore the problem
doesn't exist ;)

On Wed, Mar 23, 2016 at 8:23 AM, Tim Bussmann <notifications@github.com>
wrote:

[2016-03-23 13:23] timbussmann commented on #2783
:+1: let's just call it the "javascript experience" or something like that. No honestly, I agree with your arguments. Using the WellKnownSteps doesn't guarantee anything. We should clearly communicate that inserting before/after or replacing behaviors may even brake between patch releases. It's no braking change to move a behavior to a different stage which has zero impact on the public API).

[2016-03-23 13:56] danielmarbach commented on #3436
I'd rather go with the more explicit option, which means the user has to select the serializer. Clearer, less surprises and unwanted behavior when you change the transport. It only makes it slightly worse. When we move to https://github.com/Particular/PlatformDevelopment/issues/621 we need to come up with an API anyway which will have mandatory (but hopefully strongly typed) settings that need to

[2016-03-23 14:18] SzymonPobiega commented on #3589
I suppose this fix by @WilliamBZA should fix this https://github.com/Particular/NServiceBus/pull/3594.

[2016-03-23 14:23] SzymonPobiega opened #3625 "Consider more fluent style routing configuration"
Based on the saga mapping API, consider suplementing
[code]
with something like
[code]

This idea came up when reviewing the new V6 routing APIs.

### Pros

 * It is similar to saga mapping APIs
 * It reads well
 * It requires less typing

### Cons

 * It can't be used when the list of routes comes from outside so it is only a syntactic sugar on top of the "normal" API call
 * It is not prone to e

[2016-03-23 14:52] andreasohlund commented on #3589
@indualagarsamy can you verify?

[2016-03-23 16:26] danielmarbach commented on #3625
If I understand correctly this is the outcome from the routing TF discussion. Since this is changing the API of routing yet again would it make sense to flesh out the description about the why and then ping the v6 launch TF?

[2016-03-23 16:35] bording commented on #3582
The only thing that comes to mind would be to somehow put the pipeline creation into a special test mode that would actually randomize the order it adds behaviors to a given stage, guaranteeing that they're in a different order all the time.

Looking at `PipelineModelBuilder` it seems like something like that could be possible, though needing to preserve some order around the `Befores` and `Afters

[2016-03-23 16:39] danielmarbach commented on #3582
Aren't we overthinking this?

[2016-03-24 04:48] SeanFeldman commented on #3495
@SzymonPobiega this would achieve the goal. I don't know if there are drawbacks for the existing customers that are already using data distribution. @yvesgoeleven thoughts on this?

[2016-03-24 06:45] SzymonPobiega commented on #3625
@danielmarbach this was just an idea. I'll add more description today. This is a syntactic sugar and can be added in 6.X

[2016-03-24 07:13] ramonsmits commented on #3618
@mauroservienti Do you have a desk case link? Could you add it to #3612?

[2016-03-24 07:33] HEskandari commented on #3256
The sample I was working to update was the multi-tenant sample that makes use of PiplelineExecutor. As a part of updating the upgrade guide, I did the upgrade on the sample first (can be found [here](https://github.com/Particular/docs.particular.net/pull/1352))

I don't see what's the replacement of PipelineExecutor, but it looks like the components are mostly internalized and customer shouldn't b

[2016-03-24 08:30] danielmarbach commented on #3625
Sorry then my context was wrong. I saw this mentioned as an outcome of the TF meeting so I figured you'd like to do it now

[2016-03-24 08:34] SzymonPobiega commented on #3625
@danielmarbach this was a suggestion. Weather we should do it now or not, I don't know. Given the fact that we have a lot of stuff that *needs* to be done, I didn't yet feel the need to ping the v6 launch TF. I wanted to document it somewhere and let people chime in.

[2016-03-24 09:41] yvesgoeleven commented on #3436
I was also in favor of just making the choice mandatory. I'm not so concerned about the impact on first time experience in a sense that it won't make the experience crappier than it already is for azure users as they already have to switch transport, persistence, configure error queue etc... The config is visible in your intellisense when you choose persistence and transport, so it's not that hard

[2016-03-24 10:14] danielmarbach commented on #3103
@Particular/transport-maintainers Is this still relevant? Given the discussions around independent instances and ids as well as the work we poured into the transport seam.

[2016-03-24 10:16] danielmarbach commented on #2966
I removed the milestone from this issue.

[2016-03-24 10:19] danielmarbach commented on #3292
We improved the situation a lot with introducing https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.AcceptanceTesting/Support/IConfigureSupportedScenariosForTestExecution.cs. Closing this one

[2016-03-24 10:19] #3292 closed

[2016-03-24 10:20] danielmarbach commented on #3290
Improved as part of https://github.com/Particular/NServiceBus/commit/f25bc7e800bc468507350c8238a769ddc3aa83ef. Closing

[2016-03-24 10:20] #3290 closed

[2016-03-24 10:21] danielmarbach commented on #3289
Situation improved with https://github.com/Particular/NServiceBus/commit/f25bc7e800bc468507350c8238a769ddc3aa83ef. Closing this

[2016-03-24 10:21] #3289 closed

[2016-03-24 10:21] danielmarbach commented on #3269
@Particular/transport-maintainers Any thoughts on this?

[2016-03-24 10:23] danielmarbach commented on #3229
We have #3406 and related work. Closing this one

[2016-03-24 10:23] #3229 closed

[2016-03-24 10:24] danielmarbach commented on #3226
I removed the milestone for v6. If you feel strongly about it mark it as Consider for v6.

[2016-03-24 10:38] andreasohlund commented on #3342
The NHibernate performance tests are using this feature

https://github.com/Particular/NServiceBus.NHibernate/blob/develop/src/NServiceBus.NHibernate.PerformanceTests/Program.cs#L79

I propose we just remove the perf tests from NH since it will be covered by https://github.com/Particular/EndToEnd/issues/3

[2016-03-24 10:53] #3588 closed

[2016-03-24 11:11] PialiRoy commented on #3569
We have a service which checks the system is in failover mode,so the handler is aware that the system is in failover but still the messages are getting picked up , so can you suggest how to stop messages in Nservicebus to be picked up, if system is in failover mode.

[2016-03-24 11:25] yvesgoeleven commented on #3269
@danielmarbach we have implemented something in the transport, afaik this issue can be closed

[2016-03-24 11:27] yvesgoeleven commented on #3103
@danielmarbach this is in essence the same discussion as the instance id one, feel free to close and mark as duplicate

[2016-03-24 11:56] #3269 closed

[2016-03-24 11:56] #3103 closed

[2016-03-24 12:23] yvesgoeleven commented on #3495
This could work as we can host multiple endpoints in one process now, right? Are these appdomain isolated? Would any of their settings potentially conflict running 2 endpoints in different modes in the same process?

[2016-03-24 12:43] SzymonPobiega commented on #3495
@yvesgoeleven there is no strict need for appdomain isolation (at least in the core there is no static stuff apart from the logging config) so it should be possible to just create two `IEndpointInstance` objects side-by-side.

The NServiceBus.Host does not support having more than one instance though.

[2016-03-24 12:47] yvesgoeleven commented on #3495
@SzymonPobiega don't think that is a problem, it usually involves web front ends anyway, they are selfhosted

[2016-03-24 12:48] andreasohlund commented on #3358
@SzymonPobiega @yvesgoeleven is this one still a must have for v6?

[2016-03-24 12:50] yvesgoeleven commented on #3358
@andreasohlund @SzymonPobiega I assume no, as these would be moved into an msmq specific namespace there should be no more confusion

[2016-03-24 12:51] andreasohlund commented on #3237
We now have agreement, https://github.com/Particular/NServiceBus/pull/3218, lets move this to `NServiceBus.Transport` ?

[2016-03-24 12:53] andreasohlund commented on #3236
This means that we don't support non durable messages. Flagging this as core v6.

We need to

1. Add the contraint to the transport infrastructure
2. Add a msmq acpt test to repro this

[2016-03-24 12:54] andreasohlund commented on #3227
@SzymonPobiega since the PR is merged can we close this?

[2016-03-24 12:55] andreasohlund commented on #3163
Not a must for v6, flagging as breaking change and removing milestonr

[2016-03-24 13:12] tmasternak commented on #3495
@yvesgoeleven @SzymonPobiega Can we go with the second endpoint approach than? Or do we want to validate any of this with PoC?

[2016-03-24 13:53] andreasohlund commented on #2412
Duplicate of #3495

[2016-03-24 13:53] #2412 closed

[2016-03-24 13:54] andreasohlund commented on #2368
Not going to make it into v6, milestone removed

[2016-03-24 13:56] andreasohlund commented on #2169
Not going to make it into v6, milestone removed

[2016-03-24 13:57] andreasohlund commented on #2714
@Particular/nservicebus-maintainers pretty sure the handler context/mutator context have fixed this? close?

[2016-03-24 13:58] andreasohlund commented on #2725
Doco is complete, closing this

[2016-03-24 13:58] #2725 closed

[2016-03-24 14:02] yvesgoeleven commented on #3495
@tmasternak I want to do PoC as I'm not yet convinced that configuration settings and assembly scanning will not get into the way if there are no appdomains isolating the endpoints

[2016-03-24 14:03] SeanFeldman commented on #3495
@yvesgoeleven assembly scanning will need to take place to separate between endpoints. That's a known "issue" with multi-hosting in the same appdomain.

[2016-03-24 14:04] andreasohlund commented on #3070
@bmihart I don't see us adding back the "re-emitting" of already dispatched messages since the problem you describes seems to be better solved at the infra level

I'm closing this since the re-dispatch bug mentioned has been fixed in the persisters. Please reopen if feel otherwise

[2016-03-24 14:04] #3070 closed

[2016-03-24 14:06] andreasohlund commented on #3228
Transports are no longer using behaviors (cc @Particular/transport-maintainers ), closing this one

[2016-03-24 14:06] #3228 closed

[2016-03-24 14:11] danielmarbach commented on #2714
Haven't seen this for a while

On Thursday, March 24, 2016, Andreas Öhlund <notifications@github.com>
wrote:

[2016-03-24 14:23] tmasternak commented on #3495
@yvesgoeleven @SeanFeldman so assuming that we can achieve proper separation only with spearate AppDomains is it still a valid approach?

[2016-03-24 14:26] tmasternak commented on #3228
@andreasohlund As a note SqlServer uses one for callback backwards compatibility.

[2016-03-24 14:30] bording commented on #3228
RabbitMQ does also.

[2016-03-24 15:55] andreasohlund commented on #3228
Got it, I assume it works?

[2016-03-24 16:03] yvesgoeleven commented on #3495
@tmasternak I'll tell you after the poc :p

[2016-03-24 17:35] indualagarsamy commented on #3370
@tmasternak @andreasohlund - I've updated the issue description.

The main thing is the questions on the `GetReceiverCustomization` ability of the `IAdvancedSatellite`.
I need to know what can be done and what can't be done.
If we want to document that certain things aren't possible anymore, I am fine with that, in which case we can close the issue. I am working on a doco PR for the satellite chan

[2016-03-24 19:56] indualagarsamy commented on #3436
+1 to what @yvesgoeleven.
We are already forcing the user to pick the persistence, which is mandatory. So, it won't be a surprise to add serialization to that list. How about we make the transport choice mandatory too? So for MSMQ users, they'd have to add two additional lines to configuration, i.e. on transport and serialization.
This will also facilitate removing MSMQ into its own separate trans

[2016-03-24 22:05] ramonsmits commented on #2750
@andreasohlund @timbussmann

This is not related to #3476, that is about an alternative for FLR.

if I'm not mistaking, *this* issue is about implicit/explicit enabling of features and preventing conflicting configuration settings and validation.

[2016-03-25 00:46] indualagarsamy commented on #3370
Talking to @bording, it is currently not possible to switch transports in the `GetReceiverCustomization`
@andreasohlund - I am going to mark this as not possible in V6 in the Upgrade Guide.
The other aspects of GetReceiverCustomization are possible, namely the ability to get hold of a CriticalError, or manage message failures, etc.

[2016-03-25 00:46] #3370 closed

[2016-03-25 00:54] boblangley commented on #3436
:+1: Mandatory all the things

On Thu, Mar 24, 2016, 12:57 PM Indu Alagarsamy <notifications@github.com>
wrote:

[2016-03-25 10:27] ramonsmits opened #3634 "Load EndpointInstanceMapping from app.config like log4net"
With log4net you have the following configuration options:

[code]

Having such a similar API to load message mappings would add value IMHO.
## Examples

[code]

[2016-03-25 12:31] weralabaj opened #3635 "Core requires providing default connection string (V6)"
In SQL Server transport V3 we can provide custom connection factories `UseCustomSqlConnectionFactory` or `EnableLagacyMultiInstanceMode`.
If we don't also include some dumb entry in app.config then the application throws exception saying "Additional information: Transport connection string has not been explicitly configured via ConnectionString method and no default connection has been was found i

[2016-03-26 21:45] jjanuszkiewicz commented on #3468
@ramonsmits Thanks for the detailed follow-up.

While I understand the technical difficulties with this issue and I agree this is not critical (it only affects component "self-test" in our case), I'll really appreciate it if a fix is released in 5.3 (as I understand 5.2.x is not an option, right?)

We've just updated from 4.6 to 5.2 and given that 6 is still a work in progress, and already has a t

[2016-03-28 10:10] #3635 closed

[2016-03-29 06:49] andreasohlund commented on #3342
Who's working on this taskforce? (@kbaley and @colin-higgins I know that you are working on this can you update the description)

Can we add more people to get this one completed faster?

Who's working on the azure host?

[2016-03-29 07:03] timbussmann commented on #3256
from the sample it looks like it wants access to the message context though the PipelineExecutor. Looks like that stuff should be replaced by a behavior.

confirmed

[2016-03-29 07:05] weralabaj commented on #3635
@mauroservienti I'm not sure it's the right solution. In the situation I faced we still require providing some connection string just using factory.

[2016-03-29 07:12] tmasternak commented on #3635
@weralabaj Maybe we should change that only for `MulitInstanceLegacyMode`?

[2016-03-29 07:30] weralabaj commented on #3635
@tmasternak if possible, that would make more sense IMO.

[2016-03-29 07:57] #3227 closed

[2016-03-29 08:08] SzymonPobiega commented on #3437
@Particular/nservicebus-maintainers  How about closing it and re-opening if we discover it is necessary?

[2016-03-29 08:24] SzymonPobiega commented on #2318
Un-assigning myself from this as I don't know what should be the next steps.

[2016-03-29 08:31] andreasohlund commented on #2829
Moving this one into backlog until we decide its a prio and can get a taskforce on it

[2016-03-29 08:34] hmemcpy commented on #2829
@andreasohlund there's a PR waiting to fix this.

[2016-03-29 08:35] andreasohlund commented on #3495
@tmasternak can you update the issue with the taskforce and put the POC into the POA?

[2016-03-29 08:53] tmasternak commented on #3495
@yvesgoeleven I think it makes sense for you to be part of TF as well. At least until the PoC is done.

Additionally do we want to track progress on PoC here or as a separate issue?

[2016-03-29 08:58] timbussmann commented on #3468
Hi @jjanuszkiewicz

We guarantee backward compatibility between minor versions. Changing the way we register behaviors would introduce a breaking change. This means we can only solve this as a new feature which allows to change the binding mechanics. While I won't say this won't happen in v5, our backlog is already quite full. There is no risk of data or message loss. It's not even affecting runti

[2016-03-29 09:50] andreasohlund commented on #2750
@ramonsmits you're right, reopening

[2016-03-29 09:50] andreasohlund commented on #2750
@MarcinHoppe @weralabaj @tmasternak this was the issue I mentioned on the SLR call today.

[2016-03-29 09:55] timbussmann commented on #3436
I'm still :-1: for making serializer selection mandatory.

I think this is a very important part of the first time experience (which we want to improve). So making that experience even worse "because it's already bad" is not an argument I agree with. Especially with the current API which basically throws at startup. That's so bad that I think we need to prevent this under any circumstance. I think

[2016-03-29 10:11] timbussmann commented on #3237
:+1:

[2016-03-29 13:14] SzymonPobiega opened #3638 "POC data distribution via pair of endpoint instances"
POC required for https://github.com/Particular/NServiceBus/issues/3495

[2016-03-29 13:15] SzymonPobiega commented on #3638
@yvesgoeleven I can start working on that tomorrow, probably on MSMQ in the beginning and then, with your help, port to Azure.

[2016-03-29 13:15] SzymonPobiega commented on #3495
POC issue here: https://github.com/Particular/NServiceBus/issues/3638

[2016-03-29 13:16] #3495 closed

[2016-03-29 14:26] colin-higgins commented on #3342
The azure host pull request is up and is a copy paste of the windows host changes: https://github.com/Particular/NServiceBus.Host.AzureCloudService/pull/27

[2016-03-29 16:51] SeanFeldman commented on #3638
@yvesgoeleven is away this week @SzymonPobiega.
I can help if needed.

[2016-03-29 20:08] SzymonPobiega opened #3642 "Replacing connectors"
A while ago we had a discussion about ability to replace **any** behavior in the pipeline, including the connectors. As far as I remember the outcome was to continue supporting replacing of anything. While porting one of the samples I discovered that at least following behaviors:
- TransportReceiveToPhysicalMessageProcessingConnector
- RoutingToDispatchConnector
  are not replaceable due to the fa

[2016-03-29 20:27] andreasohlund commented on #3642
In general I would suggest that we do not support replacing anything and only allow users to add new behaviors (ie remove `Replace`, `InsertAfter`, `InsertBefore`)

I'd say we don't have to target v6 with this since we can make the internal things public if needed. Do we have any knowledge of a use case that would require replacing a connector?

[2016-03-29 21:05] SzymonPobiega commented on #3642
@andreasohlund I just want to make sure we are aligned. I know we explicitly did some effort to allow deserializing connector to be replaceable.

[2016-03-29 21:13] andreasohlund commented on #3642
yes, I now think we should have added a explicit ext. point to plug in new "deserializers" instead

cc @SimonCropp