[2016-03-30 06:32] andreasohlund commented on #3342
@SimonCropp since you got forces to fix the doco for this one due to the premature merge is there anything items on the POA that are completed?

[2016-03-30 06:38] mikeminutillo commented on #3342
Can the taskforce please link the relevant sub-items from the issue description:

- https://github.com/Particular/NServiceBus.Host/issues/60
- https://github.com/Particular/NServiceBus.Host.AzureCloudService/issues/24

[2016-03-30 06:41] mikeminutillo commented on #3032
Please update the Plan of Attack on this issue and link to relevant sub-issues in other repos.

@tmasternak @weralabaj @MarcinHoppe

[2016-03-30 07:01] MarcinHoppe commented on #3032
@mikeminutillo Done. :point_up:

[2016-03-30 07:12] timbussmann commented on #3642
I think even internal behaviors are replaceable if you know its "key".

[2016-03-30 07:34] SzymonPobiega commented on #3642
@timbussmann the problem is not the behavior being internal but a type which it uses and which is also used by other behaviors.

[2016-03-30 08:41] timbussmann commented on #3642
`PendingTransportOperations` should probably be public. Is that enough to replace the behaviors?

[2016-03-30 08:45] SzymonPobiega commented on #3642
@timbussmann I think so but I haven't check in-depth because
 * First I wanted to be sure that replacability is our goal
 * I chose a different (I hope better than replacing connectors) way of implementing what I wanted to achieve

[2016-03-30 09:54] SimonCropp opened #3645 "move fakes code to App_Packages"
this is  the convention for source only nugets

https://nikcodes.com/2013/10/23/packaging-source-code-with-nuget/

Connects to https://github.com/Particular/NServiceBus.Testing/issues/29

[2016-03-30 10:03] timbussmann commented on #3593
regarding custom retry policy, this is a very good proposal from @mikeminutillo about the discussion around returning `TimeSpan.MinValue`:

[2016-03-30 12:55] andreasohlund commented on #3406
Removing the v6 label, if https://github.com/Particular/NServiceBus/issues/3638 show that we need to do this please put it back

[2016-03-30 12:57] andreasohlund commented on #3256
Pull is merged, closing this one

[2016-03-30 12:57] #3256 closed

[2016-03-30 12:58] SzymonPobiega commented on #3406
@andreasohlund I believe the smallest thing we should do for V6 is change the
[code]

to

[code]

[2016-03-30 13:01] mauroservienti commented on #3406
Yeah, scale out has no meaning any more in this context

[2016-03-30 13:36] andreasohlund commented on #3406
I like it, raise a new issue for this?

[2016-03-30 14:41] timbussmann opened #3647 "Configure a default Error Queue"
Currently, users have to configure an error queue in order for an endpoint to startup correctly. If no error queue is configured, NServiceBus throws an exception on start.

This has a huge impact on the first time experience since they will almost certainly run into this exception as there is currently no way to ensure the existence of that configuration value at compile time. Also, for most first

[2016-03-30 17:21] ramonsmits commented on #3050
@timbussmann @danielmarbach The BOM makes sense when there is no `Content-Type` header. If we add that header then there is no reason to add the BOM. the StreamWriter should be configured not to add the BOM in that case.

I think what is more important is that the user is able to set the encoding of choice when they choose a text based serialization format.

[2016-03-30 18:13] particularbot opened #3648 "NServiceBus does not respect MaximumConcurrencyLevel"
**Issue by [RipalV](https://github.com/RipalV)** _3/30/2016 4:17:10 PM +00:00_ _Originally opened as https://github.com/Particular/NServiceBus.Azure/issues/278_

----

NServiceBus is processing messages single threaded when using Azure ServiceBus with BatchSize and MaximumConcurrencyLevel set to a value more than 1.
We are using NServiceBus 5.2.9 and NServiceBus.Azure.Transports.WindowsAzureServic

[2016-03-30 18:19] indualagarsamy commented on #3589
@andreasohlund - will do. I'll update the issue or close it accordingly.

[2016-03-30 18:23] indualagarsamy commented on #3589
Tested with `6.0.0-unstable1776` and the endpoint starts up successfully without any exceptions.

[2016-03-30 18:23] #3589 closed

[2016-03-30 18:33] indualagarsamy commented on #3342
@mikeminutillo - i've updated the issue description with the above 2 links in the checklist (item 4)

[2016-03-30 18:54] SeanFeldman commented on #3648
This is an issue with the transport (it uses `IProvideConfiguration<TransportConfig>`).

[2016-03-30 18:54] #3648 closed

[2016-03-30 19:07] SeanFeldman opened #3649 "Multiple instances of IProvideConfiguration for the same configuration section"
Core: v5

The issue https://github.com/Particular/NServiceBus.Azure/issues/278 has surfaced another issue in the core. When multiple instances of `IProvideConfiguration` for the same configuration section are found, only the first one is taken into consideration and others are ignored.

Should there be a different behaviour to let users know that there might be a potential issue ([example](https:/

[2016-03-30 19:08] SeanFeldman commented on #3648
Replace with https://github.com/Particular/NServiceBus/issues/3649 (Multiple instances of IProvideConfiguration for the same configuration section).

[2016-03-30 19:08] SeanFeldman commented on #3649
@Particular/nservicebus-maintainers thoughts?

[2016-03-30 19:55] SimonCropp commented on #3647
-1  defaulting queue names means people are not made aware of a decision they should make very early on

[2016-03-30 20:27] DavidBoike commented on #3342
This issue has been identified as a blocker for a limited beta (including only MSMQ/NH) as it affects a very public API. Could someone from the TF please give a status that includes which items in the PoA must be completed before we could send the first email to a potential beta customer?

[2016-03-30 20:28] DavidBoike commented on #3032
This issue has been identified as a blocker for a limited beta (including only MSMQ/NH). Could someone from the TF please give a status that includes which items in the PoA must be completed before we could send the first email to a potential beta customer?

[2016-03-30 20:37] colin-higgins commented on #3342
This pull request is outstanding for Windows Host, and then needs to be copied to Azure Host:
https://github.com/Particular/NServiceBus.Host/pull/72

Documentation and samples need to be updated and I am unsure of the magnitude.
Anyone with availability to take that on would be welcome.

cc / @kbaley

[2016-03-30 20:49] tmasternak commented on #3032
@DavidBoike All code items from PoA are done as a single PR for this one. So we need the PR to be merged. Internal TF review will be finished tomorrow and after that it will go through maintainers review. I think there is a good chance we will finish the whole issue at the beginning of the next week.

That being said if we don't want to deliver beta package sooner or run some tests that depend on

[2016-03-30 21:04] andreasohlund commented on #3032
:+1:

[2016-03-30 21:12] andreasohlund commented on #3647
We can have the Development transport default it to "error" as a middle ground?

[2016-03-30 21:12] SimonCropp commented on #3647
ahh the mythical  "Development transport"

[2016-03-30 21:14] andreasohlund commented on #3647
it's just one failing test away from me removing the [WIP] :)

[2016-03-31 02:30] mikeminutillo opened #3650 "`ArgumentNullException` when sending struct"
Found In Version 5

If I have a message type that is a `struct`, the call to `Bus.Send()` results in an `ArgumentNullException` with this stack trace

[code]

`LogicalMessageFactory` checks to ensure that the message type is not `null` and then runs the type through `IMessageMapper` before trying to get the message metadata. `IMessageMapper` is converting the message type to null.

If struct messa

[2016-03-31 06:51] SzymonPobiega commented on #3589
:tada: kudos to @WilliamBZA

[2016-03-31 07:05] ramonsmits opened #3651 "Log audit queue setting with INFO level"
I expected to see that NServiceBus would mention at start that it will be using the audit queue that is configured in the registry but I don't see this.

Having an INFO entry with the destination would be nice.

[2016-03-31 07:24] ramonsmits commented on #2750
@tmasternak mentioned here https://github.com/Particular/docs.particular.net/pull/1365#issuecomment-203608730 that in V6 FLR is still auto disabled when disabling transactions.

I really hoped this would have been addressed.

Conflicting features/configuration should prevent the endpoint from starting. We should never automatically disable/enable features and especially not disabling reliability f

[2016-03-31 07:33] SzymonPobiega opened #3652 "Simplify API for providing endpoint instance ID"
This issue is a replacement for #3406 . For now we agreed to provide simple API like

[code]
- [ ] Core change
- [ ] Doco update
- [ ] Compatibility tests update

[2016-03-31 07:33] SzymonPobiega commented on #3406
Raised https://github.com/Particular/NServiceBus/issues/3652. Closing.

[2016-03-31 07:33] #3406 closed

[2016-03-31 07:34] SzymonPobiega commented on #3652
@Particular/tf-v6-launch-plat-dev please mark it as 'V6' since we can't ship it with the old `config.ScaleOut().InstanceDiscriminator()` API.

[2016-03-31 07:44] timbussmann commented on #3649
@SeanFeldman Since we're aiming to obsolete the config sections, I think this will also remove `IProvideConfiguration` if I see that correctly. Given the usage of Code First Configuration APIs, would the issue still be relevant (e.g. calling the same configuration multiple times)?

[2016-03-31 08:00] timbussmann commented on #3647
@SimonCropp According to our vision/strategy, First Time Experience is one of the most important aspects. I'm not sure if I agree that users should mind about the location of their error queue very early on? It's a configuration value, means you can basically change it any time, why is it required early on?

[2016-03-31 08:01] andreasohlund commented on #3647
The development storage could default to "error" making it just work for first time users.

We could also let each transport default since for all transports other than MSMQ "error" is just fine

[2016-03-31 08:09] andreasohlund commented on #3652
Flagged as `Consider for v6`

[2016-03-31 08:11] andreasohlund commented on #2750
added `consider for v6` label

[2016-03-31 08:13] SzymonPobiega opened #3653 "Redesign logging APIs"
The `LogManager` is the last place in NServiceBus which uses static fields which:
- Makes it hard to tests the log output
- Prevents usage of different logging configurations for endpoint instances that live in the same appdomain

[2016-03-31 09:12] tmasternak commented on #3342
Can we make sure TF lead is assigned to the issue?

[2016-03-31 09:25] tmasternak commented on #2750
@andreasohlund I we want to have `throw if FLR is not explicitly disabled` I would extend the scope of https://github.com/Particular/NServiceBus/issues/3032. It's going to be 1h task.

[2016-03-31 12:14] tmasternak commented on #3032
I'm changing my role to `Chicken`. Do we think we can include someone to fill my place? Maybe @bording since he is different time-zone?

[2016-03-31 16:20] bording commented on #3652
FYI, #3654 has introduced another place in the code where the old API has been referenced in an exception message.

[2016-03-31 16:30] SeanFeldman commented on #3652
@SzymonPobiega added compatibility tests to the check-list

[2016-03-31 18:00] ramonsmits opened #3656 "Provide users access to license information at runtime"
Customer requests access to license information at runtime.

In the customers case it seems they embed NServiceBus and want to present the license data in their UI.

We could expose an actual object representing the license but we could also expose the license blob of the loaded license.

The customer currently is using reflection to access the license info.

https://nservicebus.desk.com/agent/cas

[2016-03-31 18:04] bording commented on #3342
FYI, there is a potential bug described in https://github.com/Particular/NServiceBus.Host/issues/73 that should be considered regarding this.

[2016-03-31 18:09] andreasohlund commented on #2750
Sounds pragmatic enough to me, :+1:

[2016-03-31 19:44] ramonsmits commented on #3495
@SzymonPobiega @tmasternak @andreasohlund Does the issue description still reflect the discussion here? Its almost impossible to read.

It also misses why the issue is closed.

Can the description contain a TL;DR?

[2016-03-31 20:11] SzymonPobiega commented on #3652
Thanks @bording  & @SeanFeldman  :)

[2016-03-31 20:17] #3645 closed

[2016-03-31 20:19] andreasohlund commented on #3495
Agreed, can you update @SzymonPobiega ?

[2016-03-31 20:25] SzymonPobiega commented on #3495
@andreasohlund @ramonsmits updated the description.

[2016-03-31 20:49] ramonsmits commented on #3468
@jjanuszkiewicz You are not using this in production right? As mentioned, the side effects is that it actually creates all registrations meaning it will also start timers etc. and run tasks. You really don't want to just do that when an endpoint starts in production.

[2016-03-31 21:47] ramonsmits commented on #3205
@timbussmann The reasoning that because MSMQ has unexpected TTBR behavior is more of a concern to MSMQ.

The reason for this issue is the abilty to to controlled purged of databus blobs. I do think now that explicitly setting the TTBR value suggestion is not a good solution for that and that it should be solved in another way and that concern is addresses in the platform dev issue so I'm fine with

[2016-03-31 22:11] SeanFeldman commented on #3649
This was more of a concern for core v5/NSB.ASB v6. In the next version of the transport `IProvideConfiguration` is not used. Since there is a workaround, we can mark this (and [associated transport GH issue](https://github.com/Particular/NServiceBus.AzureServiceBus/issues/166)) as `Won't fix`.

[2016-03-31 22:24] ramonsmits commented on #3354
Seems that this user got bitten by this behavior: http://stackoverflow.com/questions/36303008/nservicebus-messageforwardingincaseoffaultconfig-not-working-as-expected%3E also mentioned this in https://github.com/Particular/NServiceBus.AzureServiceBus/issues/82

[2016-04-01 05:38] jjanuszkiewicz commented on #3468
Yes, I realize that, thanks. We run it rutinely as part of integration tests (so not on prod env), but also have a possibility to trigger it on demand on a running component on any env, including production - although this is not done automatically.

I'm wondering if we could maybe change the approach a bit, as the actual reason why we run `AssertConfigurationIsValid()` is to verify correct regist

[2016-04-01 08:12] SzymonPobiega opened #3657 "Remove the "hack" from RouteDeferredMessageToTimeoutManagerBehavior"
https://github.com/Particular/PlatformDevelopment/issues/133 introduced a hack in this behavior and has been closed prematurely without removing the hack. This issue is about removing that technical debt.

[2016-04-01 11:26] timbussmann commented on #3205
:+1: closing this then

[2016-04-01 11:26] #3205 closed

[2016-04-01 11:28] timbussmann commented on #3649
@SeanFeldman is this something we should add to the docs before closing this issue?

[2016-04-01 11:33] timbussmann commented on #3468
you could probably have a dedicated test which just creates your container and calls `AssertConfigurationIsValid` on it without including NServiceBus at all. In that case you only need to provide a fake binding for `IBus` before you validate the bindings. Would that work?

[2016-04-01 11:41] jjanuszkiewicz commented on #3468
That might work, yes. Thanks for the tip, I'll see what works best for our case.

[2016-04-03 18:35] SeanFeldman commented on #3649
Good idea @timbussmann
I can add a note to the [doco here](http://docs.particular.net/nservicebus/hosting/custom-configuration-providers#overriding-app-config-section) if there are no other suggestions.

[2016-04-04 00:13] indualagarsamy commented on #3342
@kbaley @colin-higgins - Can we check this item off from the list?
`Move interface to NServiceBus.Host and NServiceBus.Host.AzureCloudService` since we have couple of PRs that were merged?

[2016-04-04 04:15] distantcam commented on #3342
I'd like to join this TF to get it done.

[2016-04-04 04:21] distantcam commented on #3342
@bording Is Particular/NServiceBus.Host#73 a blocker for this? Should this taskforce be focused on that issue before this one?

[2016-04-04 07:20] danielmarbach commented on #3642
Based on the controversial conversations we had in the past we agreed that we publicly made the announcement that every behavior on the pipeline is replaceable and we agreed to stick to that. So if `PendingTransportOperations ` is a blocker it needs to be public

[2016-04-04 08:19] #2829 closed

[2016-04-04 08:19] andreasohlund commented on #3436
I'm still with @timbussmann , I don't see this as a must have for v6. I'd rather make the transport mandatory instead to pave the way for msmq out of the core to get us dotnetcore ready

[2016-04-04 08:28] danielmarbach commented on #3569
@PialiRoy Based on what criteria do you know you have to "pause" and what would be the trigger to restart again?

In the meantime when the endpoint is paused would other systems still be sending messages to the input queue of that endpoint? If the answer is yes how would you deal with SLA? Since the sending endpoint has no knowledge that the endpoint is paused this could eventually lead to huge am

[2016-04-04 09:14] mikeminutillo commented on #3032
@tmasternak I will join if there is anything left to do. This puts me on 3 PlatDev task forces but allows us to close off https://github.com/Particular/PlatformDevelopment/issues/701 which is one of them.

[2016-04-04 09:18] timbussmann commented on #3642
@Particular/platform-dev-squad this seems to be a blocker for v6 since it's required to be able to replace behaviors.

[2016-04-04 09:26] andreasohlund commented on #3642
Have we ruled out the option to backtrack and only allow behaviors to be replaced?

@SimonCropp remind me of the usecase to replace the deserialize connector?

[2016-04-04 10:03] danielmarbach commented on #3642
@andreasohlund http://docs.particular.net/samples/pipeline/multi-serializer/

[2016-04-04 10:11] andreasohlund commented on #3642
The amount of code the user have to understand (read copy & paste) is quite large.

http://docs.particular.net/samples/pipeline/multi-serializer/#code-walk-through-behaviors-serialization-behavior

I think we and the users would be better off adding a explicit api to allow users to register multiple serializers instead.

Are there other known connectors that we have replacement scenarios for?

[2016-04-04 11:55] adamralph commented on #3642
@Particular/tf-v6-launch-plat-dev can make the V6/non-V6 call.

[2016-04-04 12:29] andreasohlund commented on #2750
After talking to @Particular/tf-v6-launch-plat-dev we decided to not include this in the scope for v6 since it's the current behavior and it can wait for the next major

[2016-04-04 12:37] tmasternak commented on #3652
It looks that this can be address as a minor release. In addition this seems to be advanced api so users should be able to cope with what we have right now.

/cc: @danielmarbach @boblangley

[2016-04-04 12:43] tmasternak commented on #3647
First time users experience is not a main goal of the V6 release. This can be tackled as part of that initiative when we start it.

/cc: @boblangley @danielmarbach

[2016-04-04 13:02] timbussmann commented on #2750
I think I already saw certain saw some implementation in @MarcinHoppe PR. Are we going to remove that again then? /cc @tmasternak

[2016-04-04 13:03] tmasternak commented on #3565
@andreasohlund can we implement that as a minor release. Is it really `Impact: M`

[2016-04-04 13:07] andreasohlund commented on #3565
Yes we can do it in a minor (the pull needs to be reverted back to have the perfcounters on by default)

But this means that we go live with no reliable way of monitor processing and critical time. Are we happy with that?

[2016-04-04 13:21] MarcinHoppe commented on #2750
@timbussmann I think you saw this for SLR?

[2016-04-04 13:27] danielmarbach commented on #3642
@adamralph No need to ping us. We are on this.

[2016-04-04 13:30] timbussmann commented on #2750
@MarcinHoppe nope: https://github.com/Particular/NServiceBus/pull/3614/files#diff-82996bc5de87e133c5ebde7be54a4ea7R29

[2016-04-04 13:31] adamralph commented on #3642
@danielmarbach it was in response to https://github.com/Particular/NServiceBus/issues/3642#issuecomment-205207524

[2016-04-04 13:32] MarcinHoppe commented on #2750
@timbussmann The code above is SLR. @tmasternak wanted to do it for FLR.

Am I misunderstanding something?

[2016-04-04 13:41] danielmarbach commented on #3642
When we announced the pipeline at NSBCon we made a promise to our users that all behaviors are replaceable in the pipeline. In V6 we introduced additional strongly typed stages into the pipelines which are by themselfes also Behaviors. Replacing behaviors is non trivial. Replacing stage connectors is even more complex as [stated in the documentation](http://docs.particular.net/nservicebus/pipeline

[2016-04-04 13:44] danielmarbach opened #3659 "Publicize types used by connectors so that connectors can be replaced"
[Originally raised by @SzymonPobiega]( https://github.com/Particular/NServiceBus/issues/3642)

A while ago we had a discussion about ability to replace **any** behavior in the pipeline, including the connectors. As far as I remember the outcome was to continue supporting replacing of anything. While porting one of the samples I discovered that at least following behaviors:

 * TransportReceiveToPh

[2016-04-04 13:44] danielmarbach commented on #3642
Issue raised here https://github.com/Particular/NServiceBus/issues/3659

[2016-04-04 14:15] timbussmann commented on #2750
@MarcinHoppe Shouldn't SLR and FLR behave the same way regarding this issue?

[2016-04-04 16:10] bording commented on #3652
@tmasternak I wouldn't really consider this an advanced API. You have to use it to enable Callbacks, for example.

The current `config.ScaleOut().InstanceDiscriminator()` API makes this a very bizarre API that you'd need to call just get to get Callbacks working.

[2016-04-04 17:59] jeremy001181 commented on #3569
Hi Daniel

Yes, the other systems will still be sending message to the queue and the queue will get filled up if no listener picking up

Maybe that the word "pause" isn't quite right. Following is a background of our listener.

Our listener calls a third party api as part of process after receiving a message from queue. The third party api can be down and not available for certain period e.g 15 mi

[2016-04-04 18:34] indualagarsamy commented on #3342
@distantcam - The issue you mentioned is an existing problem with the host. While we should fix that, it shouldn't be a blocker for this particular issue. This issue was more focused on, getting these interfaces out of the core and moving it to the hosts. At the moment, all that remains is a WIP PR for doco on these changes. Lets discuss on https://github.com/Particular/NServiceBus.Host/issues/73

[2016-04-04 20:50] SeanFeldman commented on #3354
Another case where non-native FLR makes troubleshooting difficult: [SO question](http://stackoverflow.com/questions/36305761/nservicebus-exceptions-logged-as-info-messages). This time the reason for a failure is not capture on a DLQed.

On a positive side, in core V6 INFO and WARN messages for FLR will have message Id to correlate with. In core v5 correlation was not possible due to message Id not

[2016-04-04 20:57] MarcinHoppe commented on #2750
@timbussmann Yes, but... https://github.com/Particular/NServiceBus/issues/2750#issuecomment-205274512.

[2016-04-04 21:22] kbaley commented on #3342
@distantcam The remaining [WIP] PR to work on is: https://github.com/Particular/docs.particular.net/pull/1381. It has the three documents still left to update with a rough outline of what needs to change.

[2016-04-04 22:57] SeanFeldman commented on #3649
doco PR https://github.com/Particular/docs.particular.net/pull/1383 created.
Closing this issue.

[2016-04-05 00:45] indualagarsamy opened #3660 "When the user has multiple implementations of IProvideConfiguration, only one of them is used."
When multiple instances of IProvideConfiguration for the same configuration section are found, only the first one is taken into consideration and others are ignored.

Related to: https://github.com/Particular/NServiceBus/issues/3649

[2016-04-05 01:19] boblangley commented on #3657
We would prefer to get this done before V6 launch since it is messing with the pipeline, which by nature are high risk.

/cc: @Particular/tf-v6-launch-plat-dev

[2016-04-05 01:29] boblangley commented on #3565
@Particular/tf-v6-launch-plat-dev: @mikeminutillo and I talked, can we consider not including these counters in v6 and adding them in a minor release or even a separate package?

[2016-04-05 02:05] SeanFeldman commented on #3649
Documentation change rejected, re-opening this issue.

[2016-04-05 02:06] SeanFeldman commented on #3660
Closing in favour of #3649 with more details.

[2016-04-05 02:06] #3660 closed

[2016-04-05 06:03] SzymonPobiega commented on #3652
@tmasternak I don't think we can address it in minor because this is a braking change to the public API.

[2016-04-05 06:24] johnsimons commented on #3652
@SzymonPobiega looking at this, I agree with @tmasternak, it seems all you need to do is introduce the new API in a minor release and deprecate the old one, this is how we usually manage this kind of api changes.
Yes I agree that the current API is not very intuitive, so is `config.InstanceId(string id);` better ? I am not sure!

[2016-04-05 06:39] adamralph commented on #3660
Marking as duplicate.

[2016-04-05 06:42] SzymonPobiega commented on #3652
@johnsimons ok, I am ok with this approach.

[2016-04-05 07:47] danielmarbach commented on #3657
[PR ](https://github.com/Particular/NServiceBus/issues/3655) is merged. Closing

[2016-04-05 07:47] #3657 closed

[2016-04-05 07:48] danielmarbach commented on #3659
As part of https://github.com/Particular/NServiceBus/issues/3655 `PendingTransportOperations` are public.

[2016-04-05 08:27] tmasternak commented on #3652
@SzymonPobiega that was the intention. Keep the current API but in minor add a more convenient one.

[2016-04-05 08:48] timbussmann commented on #2750
@MarcinHoppe that means to me we shouldn't throw exceptions, therefore that change should be removed from the SLR fix PR? Ping me and let's hop on a call if you don't agree, this discussion over comments is not moving forward.

[2016-04-05 09:04] tmasternak commented on #3652
@SzymonPobiega that was the intention. Keep the current API but in minor add a more convenient one.

[2016-04-05 09:24] timbussmann commented on #3649
@indualagarsamy @SimonCropp since you were against documenting this behavior because "it's a bug", why do you consider this as a bug? What would the expected behavior be when using multiple instances for the same configuration? I'd say everything that does into the direction of "merging configuration settings" is a feature and not a bug.

[2016-04-05 09:28] SimonCropp commented on #3649
It should throw an exception

[2016-04-05 10:38] andreasohlund commented on #3565
Are you saying to ship v6 without the CriticalTime and SLA counters?

[2016-04-05 11:21] tmasternak commented on #3032
Status update: As a result of maintainers review we are discussing the potential to change integration testing into component testing. The decision will be made today and reflected in the work on the PR.

[2016-04-05 12:41] danielmarbach commented on #3565
How about shipping with not so accurate counters?

[2016-04-05 13:22] andreasohlund commented on #3565
That is a possibility, the snag (I guess we could potentially live with it) is that the accuracy of the perfcounters was an argument to live with the inaccurate values we stamp on the audit messages

https://github.com/Particular/NServiceBus/issues/3494#issuecomment-187632515 (see bullet point 2)

so in essense we no longer have any accurate counters for critical time in v6. Are we ok with this?

[2016-04-05 14:10] MarcinHoppe commented on #2750
We discussed this today with @timbussmann and @tmasternak and we really think we should release v6 with FLR and SLR being consistent when transactions are disabled. We have 2 options here:

 - Both are silently disabled
 - Both throw

We need to make a decision which direction we follow for v6.

/cc @Particular/nservicebus-maintainers @Particular/platform-dev-squad

[2016-04-05 14:13] MarcinHoppe commented on #3032
PoA updated after second meeting today.

[2016-04-05 15:58] danielmarbach commented on #3565
I know critical time and SLA are part of the ADSD course. But do we know how many are actually using this value to do any meaningful with it?

[2016-04-05 16:03] danielmarbach commented on #3569
@jeremy001181 We usually recommend for such integration scenarios to have a dedicated endpoint which calls such a third party API. So for example if you know that your API is sometimes down for roughly 15 min like you said you can tweak the [First Level Retries ](http://docs.particular.net/nservicebus/errors/automatic-retries#first-level-retries) and [Second Level Retries](http://docs.particular.n

[2016-04-05 18:04] jeremy001181 commented on #3569
Thanks for reply

1. For dedicated endpoint approach, if I understand correctly, do you mean following?

My listener -> a dedicated endpoint -> 3rd party Api, if so, lets say the endpoint returns a custom error code 503 when api is down, how my listener should handle it? Mark it completed? Or throw an exception? Retry?

2. Retry approach, 15mins is a guess value, what if the api is down for 16mins

[2016-04-05 18:17] indualagarsamy commented on #3660
Thanks @SeanFeldman - My bad for opening this one.

[2016-04-05 22:26] boblangley commented on #3565
Yes. This is exactly what we were asking / suggesting. If they are not accurate, are they even useful? I was hoping you would tell me why not including them is a bad idea. :smile:

[2016-04-05 23:03] indualagarsamy commented on #3565
@danielmarbach @boblangley - I've dealt with a lot of desk / support cases, and when dealing with issues regarding performance, I always ask the customers to check these values. Comes in handy for troubleshooting.

[2016-04-06 04:28] mikeminutillo commented on #3565
How inaccurate are they? Is it better to tell a lie that's close to the truth or to remain silent in this case? Is it worth getting interested parties together for a triage call to decide what to do about this one?

[2016-04-06 05:08] #3342 closed

[2016-04-06 06:30] indualagarsamy commented on #3565
@mikeminutillo - regarding your question, currently this is what we have in our doco here:
http://docs.particular.net/nservicebus/operations/performance-counters#nservicebus-performance-counters-critical-time

Versions 6 and above: The value recorded in the TimeSent header is the time when the call to send the message is executed, not the actual time when the message was dispatched to the transpor

[2016-04-06 08:52] tmasternak commented on #3298
Removing `Tag: Consider for Short Term Focus`. Please add `Consider for Promotion` if it's still relevant.

[2016-04-06 08:52] tmasternak commented on #3192
Removing `Tag: Consider for Short Term Focus`. Please add `Consider for Promotion` if it's still relevant.

[2016-04-06 11:20] adamralph commented on #2750
/cc @Particular/tf-v6-launch-plat-dev

[2016-04-06 11:46] noctovis commented on #3354
Without Sean's help it may have taken me a whole while longer to figure out what was wrong. So in my case (the SO question posted above), it would have been easier to figure out with an FLR-counter. +1 for this feature!

[2016-04-06 12:17] timbussmann commented on #3354
I wonder whether the transport could just provide a custom FLR behavior and disable the default behavior provided by the core?

[2016-04-06 12:31] timbussmann commented on #3653
given the tendency to move away from DI, any suggestions?

An attempt to improve the situation is this PR: https://github.com/Particular/NServiceBus/pull/3661
which makes it easier to test log output (with some limitations)

[2016-04-06 13:57] danielmarbach commented on #3653
Let's backlog this. Since we have right now a half-baked way we can look into this again at a later stage.

[2016-04-07 05:14] SeanFeldman commented on #3354
@tmasternak I'm all ears :smiley:

[2016-04-07 07:44] tmasternak commented on #3354
@SeanFeldman currently it should be possible to substitute the FLR behavior with custom one. There would be however a `not ideal` relation between `MaxDeliveryCount` and `MaxFLRRetries`. We would have `MaxFLRRetries = MaxDeliveryCount-2` but could prevent the problem of messages being silently moved to DLQ.

[2016-04-07 12:26] andreasohlund commented on #3565
Talked to @danielmarbach and @boblangley and we decided to not include this in v6 since:

* The inaccuracy is only really significant for broker transports where latency is an issue (asb and asq)
* On azure we don't have a good way to install the counters anyway
* We can fix this in a minor

I will raise a docs pull to clarify this inaccuracy (TBD - link)

Removing the consider for v6 label

[2016-04-07 12:27] danielmarbach commented on #2750
@MarcinHoppe @timbussmann @tmasternak Can you update the description to reflect what you actually want to do here, plan of attack and more? With the current state of this issue it is hard to judge what the scope is and why we need to fix it for v6 launch.

[2016-04-07 16:36] MarcinHoppe commented on #3032
Testing PR still in flight

[2016-04-07 16:40] tmasternak commented on #3032
@MarcinHoppe should be moved  in progress as well

[2016-04-07 16:45] MarcinHoppe commented on #3032
@tmasternak thanks. Hard to do on a phone :).

[2016-04-08 14:17] tmasternak commented on #3032
We have merged the main PR. Currently the test PR is under review.

[2016-04-08 14:31] MarcinHoppe commented on #3032
I updated the PoA to reflect this.

[2016-04-08 16:39] indualagarsamy commented on #3649
@timbussmann - I was thinking the exact same thing what @SimonCropp suggested.
For example, if we have 2 classes that implement, `IConfigureThisEndpoint` in the host, there will be an exception.

[2016-04-11 08:35] danielmarbach commented on #3569
@jeremy001181

![untitled diagram 2](https://cloud.githubusercontent.com/assets/174258/14421274/fcf10dba-ffd0-11e5-8189-f53899eb49e5.png)

When the API is down the 3rd integration handler throws. Retry kicks in.

If your API is down longer than your average it will retry until the number of retries is exceeded. When the number of retries is exceeded the message will be moved into the error queue a

[2016-04-11 09:38] danielmarbach commented on #2914
I opened up a documentation issue. Closing this one

[2016-04-11 09:38] #2914 closed

[2016-04-11 13:25] boblangley commented on #2750
@MarcinHoppe @timbussmann From my understanding it looks like v6 already has some changes in the behavior incorporated, so we cannot "keep the existing v5 behavior" as the @Particular/tf-v6-launch-plat-dev suggested. Am I correct?

[2016-04-11 16:30] timbussmann commented on #2750
Nope, the v6 behaviors should also "silently disable" when not using transactions.

[2016-04-11 16:33] indualagarsamy commented on #2750
@MarcinHoppe @timbussmann @tmasternak - How is what is currently proposed different from what was once discussed and agreed here? https://github.com/Particular/NServiceBus/issues/2750#issuecomment-185112074
I am trying to understand.

[2016-04-11 17:45] tmasternak commented on #2750
@indualagarsamy I think that there is no change to what you have mentioned.

For additional context: Currently v6 (on develop) has the same behavior as v5. We were discussing incorporating changes you have mentioned in the other task dealing with fixing SLR/Error bug but decided it was out of scope and should be addressed by this issue.

[2016-04-11 17:58] SzymonPobiega opened #3670 "Events are routed to non-subscribers when MessageEndpointMapping is with multiple unrelated events in a single assembly/namespace"
### Symptoms

Events are routed to endpoints that do not subscribe them

### Who's affected

Affected are endpoints which are both publishers and subscribers and a single assembly/namespace contains event types both subscribed and published. Let's say `MyEndpoint` publishes `Events.SomeEvent` and subscribes to `Events.OtherEvent` published by `OtherEndpoint`. Then if mappings are defined on assemb

[2016-04-11 17:58] SzymonPobiega commented on #3670
@timbussmann I've raised the routing issue.

[2016-04-11 20:28] ramonsmits commented on #3495
Seems that this desk case also needs this model:

- https://nservicebus.desk.com/agent/case/17882

[2016-04-11 20:52] SzymonPobiega commented on #3495
@ramonsmits you mean, if for endpoint X you want to have instance-per-tenant then these instances would be *independent*? I am not sure if that would solve their problem. Because if there is another endpoint Y which also needs to be instance-per-tenant then with independent instance model if Y publishes an event, it will be routed to all instances of X (instead of being routed to a single instance

[2016-04-12 04:11] SeanFeldman commented on #3354
I've noticed that core v6 is logging each message processing attempt with message ID. At least this will allow to correlate between DLQed message and log files.
Saying that, I'd love to sync to understand the implication on FLR. When your time permits.

[2016-04-12 07:29] MarcinHoppe commented on #2750
I agree there is some confusion caused by the fact that we tried to piggyback some of this work on another PR. We shouldn't have done that.

Changes described here should still be implemented.

[2016-04-12 08:29] SzymonPobiega commented on #3670
@Particular/platform-dev-squad what are the next steps on a bug? I've went through https://github.com/Particular/PlatformDevelopment/blob/master/Guidelines/triage.md but I am not sure at which point a TF should form and how to make it as considered from promotion. My opinion is that it has to be fixed before V6 launch.

[2016-04-12 08:41] andreasohlund commented on #3670
I've put the v6 launch label on, so not needed for a RC?

[2016-04-12 08:44] SzymonPobiega commented on #3670
I'd say it is needed for RC. If you are affected (and e.g. our Video Store example is affected), you'll get error messages in places you don't expect them. I'd say considerable number of our customers have all their messages grouped in a single assembly/namespace which combined with a per-namespace or per-assembly mapping results in additional messages being sent to non-subscribers.

[2016-04-12 08:45] andreasohlund commented on #3670
Makes sense, lets make this a prio after all the betas are up

[2016-04-12 09:13] timbussmann commented on #3670
@SzymonPobiega thanks for raising the issue! :+1: /cc @sfarmar @mat-mcloughlin

I agree this should be treated like a critical. So I think it also needs an impact label @andreasohlund ?

Add the static route based on MessageEndpointMappings only for non-events.

I came to the same solution yesterday. Since there doesn't seem to be a way to configure "static subscribers", that should be fine?

[2016-04-12 10:22] timbussmann opened #3671 "Deserializing unobtrusive message fails when no handler exists."
When an endpoint which uses unobtrusive messages receives a message it has no handler for, instead of the typical "No handler found" exception it throws the following exception:

   at NServiceBus.XmlDeserialization.InferNodeType(XmlNode node, Object parent) in C:\Projects\NServiceBus\src\NServiceBus.Core\Serializers\XML\XmlDeserialization.cs:line 288
   at NServiceBus.XmlDeserialization.Process(X

[2016-04-12 10:22] timbussmann commented on #3671
/cc @sfarmar @mat-mcloughlin

[2016-04-12 17:44] ramonsmits commented on #3612
And another one: https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/particularsoftware/6dsZcWCxaiM/TMPV9UqGBAAJ

[2016-04-13 04:41] mikeminutillo commented on #3032
I'm not sure which Rabbit ATT errors are being referred to in the PoA. Is `develop` up to date for Rabbit? If so, [those tests are passing fine now](https://builds.particular.net/viewLog.html?buildId=157867&tab=buildResultsDiv&buildTypeId=NServiceBusRabbitMQ_2RunAcceptanceTests). What else is there to do here?

[2016-04-13 06:32] #3032 closed

[2016-04-13 06:32] tmasternak commented on #3032
@mikeminutillo those were random failures but @bording confirmed we are good.

[2016-04-13 07:02] MarcinHoppe commented on #3032
Finally closed. :dancer:

[2016-04-13 09:50] danielmarbach commented on #3671
Have you considered native integration scenarios and unobtrusive mode as well in your thought process?

[2016-04-13 16:35] timbussmann commented on #3671
good point. If we don't want to use the message header, then we need to apply message conventions at assembly scanning time? Since we're detecting unregistered types, we could probably also adjust the code to do a runtime registration of the type?

[2016-04-14 13:13] tmasternak commented on #2750
@MarcinHoppe @ramonsmits @MarcinHoppe

I've updated the description with the behavior that we have in [V6](https://github.com/Particular/NServiceBus/issues/2750#issue-87684321). It looks that we already are in a better situation than we were with `V5` because we are logging warnings. In addition those would be advanced users that would decide to run without transactions and we have a clear stateme

[2016-04-15 07:56] danielmarbach opened #3677 "DispatchConsistency is non-intuitive and being abused by the outbox"
I was reviewing the Sql Server Transport dispatcher and realized that the `DispatchConsistency` is non-intuitive and being abused by the outbox.

The core uses the `DispatchConsistency` in two places.
-  For immediate dispatch in the [ `RoutingToDispatchConnector`](https://github.com/Particular/NServiceBus/blob/7df2cc7f289629072b1a13c8adead40efe0eb180/src/NServiceBus.Core/Pipeline/Outgoing/Routing

[2016-04-15 08:27] ramonsmits opened #3678 "File based routing schema improvements"
After reading [Scaling out NServiceBus endpoints](http://docs.particular.net/nservicebus/scalability-and-ha/scale-out#versions-6-and-above-msmq) I was very confused. Machine was not mentioned in the schema on http://docs.particular.net/nservicebus/messaging/file-based-routing#the-file

After a discussion with @timbussmann and @SzymonPobiega it seems that _Machine_ is an extension specific to MSMQ.

[2016-04-15 08:58] ramonsmits opened #3679 "Routing API improvements"
After trying to understand the routing API I have some suggestions for improvement

This issue describes the following improvements
- Use of IEnumerable instead or EndpointInstance[] array
- EndpointName as string
- Improve discovery of AtMachine
- RouteToEndpoint duplication
## Use of IEnumerable instead or EndpointInstance[] array

Change this to allow passing of `IEnumerable<EndpointInstance>`

[2016-04-15 09:09] danielmarbach commented on #3671
Since this is a different exception which hides the original problem it is inconvenient but not urgent. We can fix this in a minor release

[2016-04-15 09:10] danielmarbach commented on #3650
Let's update the doco to say we do not support sending of structs. Since @mikeminutillo made a comment on https://github.com/Particular/docs.particular.net/issues/517#issuecomment-204216086 let's close this one

[2016-04-15 09:11] #3650 closed

[2016-04-15 09:17] danielmarbach commented on #3618
@Particular/nservicebus-maintainers Decided to raise an issue to completely revamp/rethink the our approaches to critical error handling based on the existing issues.

https://github.com/Particular/PlatformDevelopment/issues/746

Closing this one

[2016-04-15 09:17] #3618 closed

[2016-04-15 09:18] danielmarbach commented on #3612
@Particular/nservicebus-maintainers Decided to raise an issue to completely revamp/rethink the our approaches to critical error handling based on the existing issues.

https://github.com/Particular/PlatformDevelopment/issues/746

Closing this one

[2016-04-15 09:18] #3612 closed

[2016-04-15 09:21] danielmarbach commented on #3593
@MarcinHoppe can you roll up all retry-related issues in a Platform Dev issue? ping me if you want to get on a call and do it together.

[2016-04-15 09:23] danielmarbach commented on #3592
@SzymonPobiega can you help out here? Could we fix that in the creation of the deployment package, i.ex. have a exclude filter or something smarter?

[2016-04-15 09:25] danielmarbach commented on #3572
We backtracked on doing https://github.com/Particular/NServiceBus/pull/3559 so I suggest we close this one as well.

[2016-04-15 09:27] danielmarbach commented on #3485
Closing this. Not enough value right now.

[2016-04-15 09:27] #3485 closed

[2016-04-15 09:30] danielmarbach commented on #3519
@fafachd We are closing down the features for version 6. We decided to not include this in v6.

[2016-04-15 09:51] andreasohlund commented on #3386
Replaced and tracked by https://github.com/Particular/PlatformDevelopment/issues/747

[2016-04-15 09:51] #3386 closed

[2016-04-15 09:56] SzymonPobiega commented on #3592
This step would have to be modified http://deploy.particular.net/app#/library/steps/ActionTemplates-37. I think the easiest way is to allow per-project-per-environment filter which would be applied in line 24. Then, for the `Production` environment of `NServiceBus` project we would filter out unwanted source packages.

[2016-04-15 11:03] andreasohlund commented on #2505
Done in v6

[2016-04-15 11:03] #2505 closed

[2016-04-15 11:06] andreasohlund commented on #3248
As mentioned in my last [comment ](https://github.com/Particular/NServiceBus/issues/3248#issuecomment-165796034)I propose we close this one

[2016-04-15 11:07] andreasohlund commented on #1738
@SzymonPobiega is this still relevant?

[2016-04-15 11:18] andreasohlund commented on #3592
What are the cons with publishing to NuGet?

I actually like us publishing our acceptance tests so that we can say we follow semver from a api perspective but we also publicize our acceptance tests to prove that we don't break behavior as well.

Also 3:d party transports and persistence's should use the test suit, eg the SQS transport passes all our tests last time I checked.

[2016-04-15 12:15] SzymonPobiega commented on #1738
I think that V6 solves that problem. Transports get the instance of `EndpointInstanceName` and translate it however they want, e.g. putting qualifier (satellite name) in front.

[2016-04-15 12:15] #1738 closed

[2016-04-16 12:38] SimonCropp opened #3686 "SagaType obsolete points to internal property"
[code]

[2016-04-18 06:32] tmasternak commented on #3485
Just adding my 2cc for future reference:
 * I think we should identify all scenarios in which `TransportTransaction` sharing between **different** packages can happen. I know that currently it's `NServiceBus.SqlServer` and `NServiceBus.NHibernate`. What are other examples? It would be good to identify them to make sure we have a proper use cases to support the code changes
 * I would like to have

[2016-04-18 07:01] Jpattom commented on #3686
Beware vs vs vs  by.chm
sfdsdffgfhy😄😚😖😉😉😚😚😉😵😖😉😎😎😎😉😎😋😫😥😫😳😙💝💝💏💝🐷🐷🐖🐕🐽🐷🐖🐈🐽🐖🐽🐖🐯🐻🐗🐷💎🎓💍💎🚒🚆🚒🚛🚛🚒🚚🚑✅➗✔➗✔✖➗✔✅❗✅✔⭐💯✔💯✔✳⭐➗⭐(´･_･`)ヽ(｀Д´)ﾉ(´･_･`)ヽ(｀Д´)ﾉ(´･_･`)ヽ(｀Д´,)ﾉ(´･_･`)ヽ(｀Д´)ﾉ✳🚚🚚🐯🚒🐯🚒🐯🚒🚒🐯

On Sat, Apr 16, 2016, 6:08 PM Simon Cropp <notifications@github.com> wrote:

[2016-04-18 09:15] SzymonPobiega opened #3687 "Autosubscribe invokes Subscribe for each handler, not each message subscribed"
### Symptoms

In Version 5 the Autosubscribe feature invokes `Bus.Subscribe` for each handler that handles an event. If there is more than one handler for a given event, the subscribe is invoked multiple times. When these subscribe messages are processed concurrently by the publisher, one some of them are going to fail with concurrency exception and will be retried. Although it should be not visib

[2016-04-18 12:06] SzymonPobiega opened #3689 "In Version 5 messages sent out by handlers for message for which a saga is invoked carry the `OriginatingSagaId` header"
### Symptoms

If there is both a handler and a saga defined for a given messages type, messages sent out (e.g. via `Bus.Reply`) by the handler contain `OriginatingSagaId` header which make them look like they were sent by a saga but in fact they are sent by the normal stateless message handler that happened to coexist with the sagas in the same message processing pipeline.

### Who's affected

Use

[2016-04-18 12:13] SzymonPobiega opened #3690 "Changing RoutingStrategies in the RoutingContext is dangerous"
`RoutingContext` allows to set the `RoutingStrategies` when a message should be redirected to other destination. This is dangerous because the routing stage is used not only be the main sending pipe but also by some other features, including (but not limited to):
 * Audit
 * Forwarding
 * Failure handling

[This](https://github.com/Particular/NServiceBus.SqlServer/issues/202) is an example of a bu

[2016-04-18 12:14] SzymonPobiega commented on #3690
Although this does not have to technically go to V6, I would strongly suggest it does, @Particular/tf-v6-launch-plat-dev @Particular/nservicebus-maintainers

[2016-04-18 12:22] timbussmann commented on #3677
so `isolated` means just not participating in existing transactions, not isolated against all other outgoing transport operations.

If I understand correctly, this could be optimized completely by the transports without changing the API since they could just group isolated operations if this yields benefits (e.g. sharing a connection)?

[2016-04-18 12:32] timbussmann commented on #3690
hm, isn't the routing stage exactly made for this? `RouteDeferredMessageToTimeoutManagerBehavior` relies on the ability to change the routing. But this seems to be the only modifying behavior in he core, not sure about downstreams.

whether we continue to allow it or not, this doesn't seem to be a bug but a refactoring @SzymonPobiega ?

[2016-04-18 12:34] timbussmann commented on #3689
what's the effect on receivers of these messages containing the incorrect header?

[2016-04-18 12:36] timbussmann commented on #3687
seems to be unnecessary indeed, but is there any damage caused by this? The only thing I could imagine would be a subscription message in the error queue in case retries are disabled?

[2016-04-18 12:46] andreasohlund commented on #3677
Correct, it means to not participate in the existing **receive transaction**. When the dispatch call returns the messages should all be acked by the transport.

[2016-04-18 12:52] timbussmann commented on #3679
Hm I think I prefer the `params` API for `Add` better.

:+1: to the improvements around `EndpointName`

[2016-04-18 13:01] SzymonPobiega commented on #3689
I think they never notice that. The only different would be, if you `Reply` to such a message, the reply would be auto-routed to an existing saga rather than starting a new one. But that would be a very very specific case. Given messages like:
 * StartSaga -> StartsASaga
 * Reply

In a conversation like this:
[code]

A might expect to start a new saga but in fact it's message would be routed to an

[2016-04-18 13:02] SzymonPobiega commented on #3687
@timbussmann yes. Plus an `error` in the log file. Not a critical for sure.

[2016-04-18 13:23] andreasohlund commented on #3679
@SzymonPobiega @indualagarsamy @janovesk since you all where part of the routing TF it would be great if you can chime in?

[2016-04-18 13:28] andreasohlund commented on #3678
@Particular/transport-maintainers what other transports would need custom extensions like mentioned above? ( schema in sqltransport?)

[2016-04-18 13:33] SzymonPobiega commented on #3690
I marked it as a bug because it is to me a design flow that invites bugs. Whoever changes the `RoutingStrategies` in a behavior in the routing stages, does it also for the audit and error messages. And there is no good way to detect, inside the routing stage, if you are dealing with a normal message or an audit/error/forward message.

[2016-04-18 20:00] pablocastilla opened #3691 "Kafka transport"
Hi!

How about a Kafka transport? I see it has got a lot of momentum in the big data world and if you use it in the project it could be interesting to use it as a transport and not having several transport technologies.

[2016-04-18 20:51] johnsimons commented on #3687
I am pretty sure this only affect users that are on RavenDB persistence?

[2016-04-19 02:11] SimonCropp opened #3692 "Add explicit API for writing exception headers and log entries"
I think this is a legitimate use case
http://docs.particular.net/samples/logging/stack-trace-cleaning/#manipulate-error-queue-header

It would be nice to not have to leverage the pipeline and 3rd party logging APIs to achieve this

[2016-04-19 06:25] SzymonPobiega commented on #3687
@johnsimons why? NHibernate subscription storage does first check if the entry exists but when both messages are handled in the same time, one of them fails. I've verified this on NHibernate. To make it 100% bullet-proof we would have to use upgrade locks I think.

[2016-04-19 06:34] danielmarbach commented on #3692
Nice!

[2016-04-19 06:45] SzymonPobiega commented on #3678
SQL Server transport might need `schema` and `catalog` /cc @tmasternak @weralabaj @mauroservienti

[2016-04-19 06:53] SzymonPobiega commented on #3679
My thoughts

### Use of IEnumerable instead or EndpointInstance[] array

:+1: :-1: I think both make sense although I don't have a strong opinion here.

### EndpointName as string

:+1: Remove it from all the user-facing API calls.

No need to pass `EndpointName` when passing a collection of instance names

:+1: Each `EndpointInstance` carries information about the endpoint name so passing it in t

[2016-04-19 07:21] danielmarbach commented on #3691
@pablocastilla thanks for reaching out. We had a conversation running internally started by @synhershko. We decided to not do it for v6 because there is simply not enough demand for such a transport and we wanted to focus on the async changes first.  Here are a few snippets:

@synhershko commented on Sep 8, 2014

@dannycohen commented on Sep 9, 2014

* AFAIK, Kafka is overwhelmingly a non-Windows

[2016-04-19 13:51] mauroservienti commented on #3678
reading the documentation it is not clear to me where the file should be, at all the endpoints? at senders? at recipients?

If I read the following:

[code]

and that must be at the sender then it scares me a lot, does it mean that senders must be aware of the topology of the destinations?
If it is only for the `client distributor` then I still don't like it but I can understand why.

The second s

[2016-04-19 19:40] pablocastilla commented on #3691
Hi!

Thanks for sharing that info.

I understand you must be very very busy with the v6. But if you realize the arguments has gained more weight in these two years. I definitely see that transport in the roadmap.

[2016-04-20 07:52] andreasohlund commented on #3690
Talking to @timbussmann and @SzymonPobiega we concluded that nothing needs to done for v6.

@SzymonPobiega will raise a new issue to outline the routing changes we want to do in vNext and close this one

[2016-04-20 08:03] timbussmann commented on #3689
@SzymonPobiega does v6 have the same bug?

[2016-04-20 08:06] timbussmann commented on #3687
@SzymonPobiega is this already fixed in v6?

[2016-04-20 11:51] timbussmann commented on #3692
like the idea :+1: Do you have any thoughts on the API?

[2016-04-20 12:12] SzymonPobiega commented on #3687
@timbussmann yes.

[2016-04-20 12:12] SzymonPobiega commented on #3689
@timbussmann no, I could not repro it on V6.

[2016-04-20 12:24] SzymonPobiega commented on #3678
@mauroservienti the first sample you quoted is the MSMQ config file. It must be present at the sender so that the sender knows which machines host the MSMQ instance the receiver uses. It is the necessary evil of MSMQ. Each endpoint can have a copy of the file or it can be shared on a network share, whatever works with the organization/project.

The second example shows the sender-side distribution

[2016-04-20 12:30] mauroservienti commented on #3678
cool, thanks @SzymonPobiega. Much clearer now.

[2016-04-20 12:48] SzymonPobiega opened #3695 "Skip the routing stage for "built-in" messages"
In V6 the built-in messages e.g. audits, errors go through the routing stage. The reason for that is we want to take advantage of `RoutingToDispatchConnector` which handles the batching. In order to avoid problems caused by behaviors in the routing stage changing the destination of messages we should skip the routing stage when sending these mentioned built-in messages. Here's the possible solutio

[2016-04-20 12:48] SzymonPobiega commented on #3690
Replaced with https://github.com/Particular/NServiceBus/issues/3695. Closing.

[2016-04-20 12:48] #3690 closed

[2016-04-20 13:10] timbussmann commented on #3687
Since the impact is very low and it's fixed in v6, this sounds like a `Won't fix` to me? @Particular/nservicebus-maintainers

[2016-04-20 13:23] danielmarbach commented on #3687
I don't see this as a big deal. I rather get rid of message driven pub sub in the next release than fixing this.

[2016-04-20 14:57] andreasohlund commented on #3687
I'm good with "won't fix", ok to close @szymonpobiega ?

[2016-04-20 17:34] #3687 closed

[2016-04-20 18:43] SeanFeldman commented on #1217
Added summary of comments.

[2016-04-20 20:59] SimonCropp commented on #3678
@szymonpobiega while I think the routing doco is good. In light of this conversation do u feel it need any adjustments?

[2016-04-21 06:22] SimonCropp commented on #3692
add two delegate methods. one to `EndpointConfiguration` for the error queue. and the other to the looging `DefaultFactory`.

Both delegates would take in an `Exception` and return a string.

[2016-04-21 06:25] SimonCropp commented on #3647
i would prefer @colin-higgins endpoint generation site to be the thing that removes the friction of the first time user experience. that and the bootstrapping nuget. not compromising API (used in the long term) on the alter of initial user experience (only valuable in the short term)

[2016-04-21 08:31] sebastianslutzky opened #3698 "Microsoft.Net.Compilers missing from Core project"
Hi,

I've just cloned the repository and tried to compile it.
It failed with the following message
`...Could not load file or assembly 'Microsoft.CodeAnalysis'...`

The compilation succeeded after I've added the missing package from the nuget.org feed
`Install-Package` Microsoft.Net.Compilers`

Regards,
Sebastian

[2016-04-21 09:16] distantcam commented on #3698
@sebastianslutzky Which version of Visual Studio were you using?

[2016-04-21 09:21] sebastianslutzky commented on #3698
@distantcam:
 Microsoft Visual Studio Professional 2015
Version 14.0.23107.0 D14REL
Microsoft .NET Framework
Version 4.6.00081

Installed Version: Professional

[2016-04-21 09:26] distantcam commented on #3698
@sebastianslutzky Visual Studio 2015 Update 1 will also fix the problem.

[2016-04-21 09:29] sebastianslutzky commented on #3698
I see. thanks for clarifying, I'll close it as a non issue then

[2016-04-21 09:29] #3698 closed

[2016-04-21 11:40] MarcinHoppe commented on #3593
@danielmarbach I created a Platform Dev issue. Can you have a look and chime in?

[2016-04-21 12:20] andreasohlund commented on #3679
I'm happy with [doing the proposal](https://github.com/Particular/NServiceBus/issues/3679#issuecomment-211760117) from @SzymonPobiega within the v6 scope. @ramonsmits ok?

[2016-04-22 00:53] SimonCropp opened #3699 "DateTime.UtcNow for time measurement is flawed"
in `ProcessingStatisticsBehavior` we do this

            state.ProcessingStarted = DateTime.UtcNow;
            context.Extensions.Set(state);
            try
            {
                await next().ConfigureAwait(false);
            }
            finally
            {
                state.ProcessingEnded = DateTime.UtcNow;
            }

But if the system clock adjusts during message process

[2016-04-22 06:41] danielmarbach commented on #3699
@SimonCropp can you send in a fix against release branch?

[2016-04-22 06:48] andreasohlund commented on #3699
This effects v5 as well right?

Is it a must have for v6?

[2016-04-22 06:49] SimonCropp commented on #3699
@danielmarbach it is not that easy. looking into it further it requires a change in SC and most likely SI.

also we do the calculation twice. while we can use a stopwatch in ProcessingStatisticsBehavior that will not work in

    class AuditProcessingStatisticsBehavior : Behavior<IAuditContext>
    {
        public override Task Invoke(IAuditContext context, Func<Task> next)
        {

[2016-04-22 06:54] mikeminutillo commented on #3699
Can we just record the start date using `DateTime.UtcNow`, start a stopwatch and then fake the end date using `start + stopwatch`?

That way nothing else needs to change.

[2016-04-22 06:55] SimonCropp commented on #3699
@mikeminutillo is correct

[2016-04-22 07:18] mikeminutillo commented on #3699
This works

[code]

... but ...

These values are not used to populate the headers. They are only used to calculate values for SLA and Critical Time perf counters :(

[2016-04-22 07:54] andreasohlund commented on #3699
Yes, this is the same tire fire me and @danielmarbach hit when we found

https://github.com/Particular/NServiceBus/issues/3565

and

https://github.com/Particular/NServiceBus/issues/3494

:(

[2016-04-25 07:43] andreasohlund opened #3702 "Make features use the full type name"
To avoid name clashes

### POA

- [x] [Update core](https://github.com/Particular/NServiceBus/issues/3701)
- [x] Update docs
- [x] Update RavenDB to properly depend on the outbox
- [x] Update NHibernate to properly depend on the outbox

[2016-04-25 07:43] andreasohlund commented on #3702
@Particular/tf-v6-launch-plat-dev based on discussion in #3701 I've included this in v6 scope.

[2016-04-25 08:36] WojcikMike opened #3703 "TimeoutManager vulnerable to server time changes"
We got information from a customer that due to time change on a server (current time was moved back by about 1 min) a timeout was created effectively in the past. In the current codebase we are calling number of times `DateTime.UtcNow` which make our dates vulnerable to Time change. In our repositories we have number of issues that are touching on that issue like:
* https://github.com/Particular/N

[2016-04-25 08:57] timbussmann commented on #3703
I don't really see how a time provide would eliminate this issue since they are usually designed for testing purposes and not for gracefully handling system time changes?

If I remember correctly we had multiple discussions around the timeouts design, especially about better native integration. In that case, we could probably eliminate most usages of the current timeout manager implementation anyw

[2016-04-25 13:02] tmasternak commented on #3678
Does it make sense to remove file-based-routing from Core and provide a sample that the users can tweak to whatever level they need?

[2016-04-25 14:26] ramonsmits commented on #3612
And another one: https://nservicebus.desk.com/agent/case/18026

[2016-04-25 16:57] dsaf opened #3704 "Automatic sanity-checking of ConfigureHowToFindSaga - IHandleMessages consistency"
It would be nice to have something like AutoMapper's `Mapper.AssertConfigurationIsValid()`.
It's so easy to forget about configuration after implementing an `IHandleMessages` interface.

Understandably there is a limitation to what it can do, but simple presence check is already valuable.
I am probably going to implement this myself, but it will force me to introduce a custom base class deriving f

[2016-04-26 09:10] WojcikMike commented on #3703
@timbussmann were those discussions documented in any place so that I can refer to from the issue?

[2016-04-26 09:23] Scooletz commented on #3703
Using another approach for moving the `slice` could help. If we queried for everything older than, that would address any time related issues. This is the Raven's approach, mentioned by @WojcikMike above.
If we could go "native" that would solve this problem for any that has a native support for timeouts. Some components might not have it though.

[2016-04-26 11:58] andreasohlund commented on #3702
Backlogging this for now after talking to @SimonCropp , we need to fix this for RC, no need to rock the beta boat for now

[2016-04-27 07:57] timbussmann commented on #3704
@dsaf thanks for the suggestion, I like that that idea :+1:

I could see multiple approaches to improve the current situation:
* Roslyn Analyzer
* Provide something like `AssertSagaMessagesAreMapped` in the `NServiceBus.Testing` package
* Provide something like `AssertSagaMessagesAreMapped` in the `NServiceBus` core package

Personally I'd prefer the first two approaches.

[2016-04-27 08:04] timbussmann commented on #3703
@WojcikMike I tried to search for it but wasn't able to find it. Maybe @mauroservienti remembers?

Supporting native implementations should improve the situation already. That seems to be the way to go anyway and I'm not sure how much should "redesign" the existing solution until then.

[2016-04-27 14:11] Scooletz opened #3708 "AcceptanceTests Done & Should clauses"
This issue sums up the discussion I had with @timbussmann about responsibilities of `Done` and `Should` clauses in acceptance tests. The main question is if `Should` clause should contain assertions for `Done` conditions. We expressed different points of view:

- **Yes** because it's `Should` responsibilities to gather all the assertions and provide the conditions for successful test execution.
-

[2016-04-27 14:15] timbussmann commented on #3708
My standpoint:
* `Done` and `Should` are different responsibilities. Just because something is a condition for the test to finish, doesn't say much about actual assertions we want to make about the executed scenario.
* It's perfectly valid to change the parameters/values in `Done` and `Should` independently
* It's easier to see all assertions in one place
* We use the choosen assertion "framework"

[2016-04-28 05:48] mauroservienti commented on #3703
I don't know what are we talking about here :smile: What should I remember?

[2016-04-28 06:40] SimonCropp opened #3711 "race condition in When_auto_correlated_property_is_changed"
There is a race condition  in When_auto_correlated_property_is_changed

the test does

            var exception = Assert.Throws<AggregateException>(async () =>
                await Scenario.Define<Context>()
                    .WithEndpoint<Endpoint>(
                        b => b.When(session => session.SendLocal(new StartSaga
                        {
                            DataId = Gui

[2016-04-28 06:41] SimonCropp commented on #3711
manifests here https://builds.particular.net/viewLog.html?buildId=161667&tab=buildResultsDiv&buildTypeId=NServiceBusAzure_NServiceBusAzureServiceBus_2RunAcceptenceTests

[2016-04-28 06:45] SimonCropp commented on #3711
@timbussmann any ideas on where to put the `ModifiedCorrelationProperty` to prevent the race condition?

[2016-04-28 07:20] timbussmann commented on #3711
@SimonCropp hm this is strange. As soon as the done condition is met, the endpoint should stop but wait until all inflight messages are processed, so the exception should be catched, or am I missing something?

I know this is wild speculation, but seeing this code in ASB:

                var processTask = ProcessMessageAsync(message);
                pipelineInvocationTasks.TryAdd(processTask, pr

[2016-04-28 07:32] Scooletz commented on #3703
@timbussmann I'd say that the problem of time sync can reoccur anytime. There are people not running `NTP`, just syncing clocks from time to time and this may hit us again. Again, even if we want to go the native path, we need to ensure that every component can support it.

[2016-04-28 07:35] timbussmann commented on #3711
sidenote: seems like the same test is failing for rabbitMQ (https://github.com/Particular/NServiceBus.RabbitMQ/pull/136)

[2016-04-28 07:56] timbussmann commented on #3711
I have a hunch that this is related to the changed behavior of the `MoveToErrorQueueBehavior`. Before the fix, we immediately sent the message to the errorqueue (while processing the message), the new behavior is to mark the message and roll it back and dispatch it only on the next receive. So by ending the endpoint there's a good chance of not receiving the message the second time, therefore neve

[2016-04-28 08:46] andreasohlund commented on #3711
Seems very likely to me

[2016-04-28 08:55] timbussmann commented on #3711
temporary fix here: https://github.com/Particular/NServiceBus/pull/3712 please try that @SimonCropp

I think we need to change the "error queue message detection" mechanism. While the workaround used in #3712 itself works, there is a risk of not failing the test when messages are sent to the errorqueue

[2016-04-28 09:30] johnsimons opened #3713 "Flaky AT When_updating_existing_correlation_property.Should_blow_up()"
In Rabbit we occasionally have this test failing with:
[code]

It seems the done flag is set before the exception bubbles up:
[code]
And it seems sometimes the endpoint terminates before the exception is raised.

To repro this issue run the test using https://github.com/Particular/NServiceBus.RabbitMQ/pull/136
You need to run the test as a group (individually I can't make it fail!):
![image](https

[2016-04-28 10:14] andreasohlund commented on #3708
what @timbussmann said

[2016-04-28 10:19] timbussmann commented on #3713
should be fixed with https://github.com/Particular/NServiceBus/pull/3712

[2016-04-28 10:41] timbussmann opened #3714 "Detecting failed messages in ATT"
Acceptance tests should fail when a message fails to process. We detected this by listening to the "message moved to error queue" notification.

The mechanism moving messages to the errorq now requires the message to be rolled back and retried because of transactions (no issue when disabling transport transactions). If the done condition is met before the failed message is read again from the queu

[2016-04-28 11:44] MarcinHoppe commented on #3714
Just for the sake of completeness: some test also use the `ErrorSpy` approach.

[2016-04-28 12:07] timbussmann commented on #3714
Especially for satellite pipelines which aren't tracked by the existing infrastructure

[2016-04-28 12:37] boblangley commented on #2750
@indualagarsamy / @ramonsmits

Are we in agreement that the existing logged warnings and documentation is enough for v6 and that we can track improvements for the next Major/Minor in https://github.com/Particular/PlatformDevelopment/issues/756?

[2016-04-28 13:39] dsaf opened #3715 "Documentation lacking explicit ConfigureHowToFindSaga vs IAmStartedByMessages explanation"
Reading this page http://docs.particular.net/nservicebus/sagas it is not entirely clear to me whether it is mandatory or completely optional to provide a mapping for the message declared via the ```IAmStartedByMessages``` interface(s). It is possible to arrive at an own understanding, but being more explicit here would save time and inspire additional confidence.

Possible scenarios:

[code]

[cod

[2016-04-28 13:39] dsaf commented on #3704
I managed to implement something using reflection. This is when I realised that I don't know the precise rules: #3715.

[2016-04-29 00:28] johnsimons opened #3717 "IRoutingContext is missing some kind of intent"
As part of addressing https://github.com/Particular/NServiceBus.SqlServer/issues/202 we found that we may need some kind of "intent" property in `IRoutingContext` to tell us what is the reason for this routing.

An [attempt](https://github.com/Particular/NServiceBus.SqlServer/pull/220) by @SimonCropp at fixing this issue  has highlighted this need.

So should we have a `IRoutingContext.RoutingInte

[2016-04-29 01:32] johnsimons opened #3718 "Hotpath UnicastRoutingTable.GetDestinationsFor should avoid linq expression to save on heap allocations"
https://github.com/Particular/NServiceBus/blob/4d9c771e57810d28e4bcdf0209a0d2b0d776c89d/src/NServiceBus.Core/Routing/UnicastRoutingTable.cs#L14-L34

You could probably cache the staticroutes in a dictionary to avoid `staticRule.Invoke(type, contextBag)`, this call should always return the same addresses right ?

[2016-04-29 07:09] johnsimons opened #3719 "MessageDrivenSubscriptionsConfigExtensions.SubscriptionAuthorizer is exposed to brokers that support native subscription"
In rabbit a user can do the following:

[code]

This actually does not stop subscriptions

[2016-04-29 07:10] johnsimons opened #3720 "MessageDrivenSubscriptionsConfigExtensions.SubscriptionAuthorizer lambda exposes IIncomingPhysicalMessageContext"
The problem with this is that a user has access to a lot of things that I don't think make sense, eg:
[code]

[2016-04-29 07:11] johnsimons opened #3721 "Fluent api for routing allows weird combos"
Eg.
[code]

[2016-04-29 07:19] SimonCropp commented on #3721
General rule for fluent apis: if a method returns the same type it extends then the fluent api is broken

[2016-04-29 07:32] andreasohlund commented on #3720
Since the subscriptions are control messages should we only give them a readonly dictionary?

[2016-04-29 07:34] andreasohlund commented on #3719
Yea, only message driven pub sub transports should expose that option :(

[2016-04-29 07:42] andreasohlund commented on #3717
I like it!

[2016-04-29 08:10] andreasohlund commented on #3715
v6 will enforce that all messages starting a saga has a mapping (throw an exception if no mapping is found)

we have this note in the doco

But I agree that it isn't that clear.  I tried to reword it here:

https://github.com/Particular/docs.particular.net/pull/1463

For messages that doesn't start the saga mappings are optional since they might come in as a result of a bus.Reply to a message that

[2016-04-29 08:10] #3715 closed

[2016-04-29 08:45] timbussmann commented on #3703
Would a solution similar to the nhibernate fix work but instead of just using "DateTime.Min till now" as the "query range" use a "DateTime.Min  till Now.Subtract(TimeSpan.FromMinutes(5/10/...)"? this would further reduce the risk of duplicates and find all leftover messages?

[2016-05-02 10:04] timbussmann opened #3723 "NUnit 2.6 ignores Task returning tests"
NUnit v2 ignores tests which return tasks instead of awaiting them. e.g. this test is green when run explicitly and ignored when running the whole suite:

        [Test]
        public Task ShouldFail()
        {
            return Task.Run(() => { throw new Exception("pewpew"); });
        }

We merged this PR last week: https://github.com/Particular/NServiceBus/pull/3705 which causes over 60 tes

[2016-05-02 10:26] WojcikMike commented on #3723
:+1: for nUnit v3

[2016-05-02 19:35] bkhanal commented on #1394
Did this feature make it in V5? We have a nuget repo that builds the assembly version and the subscriber version gets out of date with the publisher dll's. (Publisher is referenced internally in the project) and nuget package is build through TC. Ideally, we can move contracts to its own repo and make it work, but if its possible with some configuration I would like to swtich this feature off.

An

[2016-05-02 22:12] indualagarsamy opened #3725 "SetMessageHeader Obsolete message is not very clear on what needs to be done."
The current obsolete message is here:
https://github.com/Particular/NServiceBus/blob/7df2cc7f289629072b1a13c8adead40efe0eb180/src/NServiceBus.Core/obsoletes.cs#L689

The upgrade guide section documents this behavior:
http://docs.particular.net/nservicebus/upgrades/5to6#header-management-setting-headers-on-outgoing-messages
Talks about adding header to all outgoing messages, but doesn't highlight h

[2016-05-02 22:58] indualagarsamy opened #3726 "V6 API Feedback / Question"
Even though Version 6 is completely rebuilt for Async the method names don't follow the standard async naming conventions, namely prefixing the methods with Async. Why?

There is a subset of NServiceBus customers that get value out of using the Async suffix, as a consistent pattern across other libraries/frameworks.

See:
- Google user post here:
https://groups.google.com/forum/#!searchin/particul

[2016-05-03 06:04] andreasohlund commented on #3725
How about we switch to

?

[2016-05-03 07:35] andreasohlund commented on #1394
@bkhanal sorry, this feature didn't make it into v6, what subscription storage are you using? (perhaps we can find a workaround for you)

[2016-05-03 12:53] danielmarbach commented on #3717
Having an intent is good. The question is whether using an enumeration could be too restrictive. I know magic strings have their problems too. But maybe using strings for the routing intent would be more flexible or types would work as well

[2016-05-03 14:02] timbussmann commented on #3726
I think @danielmarbach answered that question in the linked user group question? Here is a lot of background on that decision: https://github.com/Particular/NServiceBus/pull/3083

In case we're assuming this questions gets asked a lot with the v6 release, do we need some kind of FAQ?

[2016-05-03 16:06] bkhanal commented on #1394
@andreasohlund, we will probably put nugget to sync with major version to get this working for now. We are using SQL subscription storage.

[2016-05-03 17:30] ramonsmits commented on #2773
Added some doco to hopefull get better discovery of this issue: https://github.com/Particular/docs.particular.net/pull/1476

It can happen for various reasons.

[2016-05-04 11:41] ramonsmits opened #3729 "Validate if the scanned types/assemblies contain the selected persistence or transport"
When using custom assembly scanning you should get an error when the configuration refers to a transport or persistence that is not in the configured set of types or assemblies.

Such a configuration would be conflicting as a type is used in the configuration from an assembly that is not in the assemblies supplied to scan.

This prevents issues at runtime like :

at NServiceBus.Timeout.Hosting.Win

[2016-05-04 11:45] Scooletz commented on #3729
@ramonsmits Would it be the reason for the error reported in here: https://groups.google.com/forum/#!topic/particularsoftware/NYcRK5R1dZQ ?

[2016-05-04 11:52] ramonsmits commented on #3729
@Scooletz I would say yes, I had another customer that added a custom EntityFramework based persistence (https://github.com/benjaminramey/GoodlyFere.NServiceBus.EntityFramework) and did not include that assembly in the assembly whitelist.

[2016-05-04 17:00] indualagarsamy commented on #3726
@timbussmann - I agree. However we need this to be captured in our upgrade guide or a separate page that the upgrade guide points to. Yes, I think when we go against the norm, there will be questions and we need to document this properly. I opened an issue in the core, but this is legit feedback from our users using the API.

[2016-05-04 17:07] indualagarsamy commented on #3725
`Use the appropriate overload for the `Send`, `Publish` or `Reply` that accepts an options parameter. Call options.SetHeader("MyHeader","MyValue") instead.`

[2016-05-04 20:15] seantarogers opened #3730 "Auditing creating recursive subscriptions"
Hi,

I think this is an issue.  I have been trying to enable auditing in across our NServiceBus endpoints.  We have an Audit endpoint which takes a copy of all messages processed and adds them to a SQL database.

When auditing is enabled for any endpoint that publishes events we have noticed that an additional recursive subscription is written to our subscription db table.  It seems the publisher

[2016-05-04 20:42] SeanFeldman commented on #3729
@Scooletz The issue in the GG post was not related to the assembly scanning. Assembly was picked up ok. It was a binding redirect that was failing and swallowed by the host.

@ramonsmits with core v6 whitelisting is not an option. So unless assemblies are explicitly excluded, this won't happen.

[2016-05-06 07:38] timbussmann commented on #3726
I think the upgrade guide is the wrong place for this? This question can also come from someone new to NSB.

[2016-05-06 08:50] timbussmann commented on #3729
Can you elaborate the reason why the transport/persistence needs to be included in the assembly scanning? (since @SeanFeldman stated that the described exception isn't really related?)

[2016-05-06 09:05] timbussmann commented on #3730
Hi @seantarogers , thanks for raising the issue and providing a sample to reproduce your issue :+1: We will have a closer look at this.

[2016-05-06 09:31] timbussmann commented on #3730
@seantarogers this is how my subscriptions table looks like when running your sample:
![image](https://cloud.githubusercontent.com/assets/3524870/15069448/dfeb4b66-137d-11e6-9bd2-b5c8eab0e979.png)
so I'm not getting that subscription you mentioned. Did you try to drop your subscriptions table and check whether running your sample still produces the unwanted subscription?

[2016-05-07 06:35] seantarogers commented on #3730
Hi @timbussmann thanks for looking into it.  I just deleted the subscription table plus all of the queues and re-ran the solution. I still get:

![subscriptionissue](https://cloud.githubusercontent.com/assets/8544425/15090609/3d17a8d2-1425-11e6-9259-7d25d4a7a8fa.png)

I notice your subscription has the logicalEndpoint column, I dont have this.  We are not using different NSB versions somehow?

[2016-05-07 16:41] seantarogers commented on #3730
Hi, @timbussmann this was not a nsb bug, @sfarmar has kindly corrected my code.  See SO for details: http://stackoverflow.com/questions/36668142/nservicebus-saga-auditing-no-handlers-found-exception.   Thanks for your time spent on this.

[2016-05-07 16:41] #3730 closed

[2016-05-07 18:50] konstantint commented on #1357
This issue seems to come up in Google for a relevant query, hence let me add note here as well.

We have a project, which makes use of about 20 or so endpoints. This is rather inconvenient in development for obvious reasons. In addition, we are using NSB v4, hence "multi-hosting" is impossible, even though a single appdomain would not be a problem. Finally, the mapping between messages and endpoin

[2016-05-09 01:08] SimonCropp opened #3731 "NServiceBus.Transports => NServiceBus.Transport"
So based on this we should fix the `NServiceBus.Transports` to be  `NServiceBus.Transport`

https://github.com/Particular/PlatformDevelopment/blob/master/designprinciples/nservicebus/namespaces.md

[2016-05-09 06:02] andreasohlund commented on #3731
I'd say not worth the hazzle right now, we know that we have to make changes to the transport seam in vNext so it would be a low hanging fruit then?

[2016-05-09 06:19] danielmarbach commented on #3695
Wouldn't that mean we need some base behavior? The implications would be that we have to duplicate that logic into various connectors. Not saying that it is per definition a bad thing, but I tend to lean towards

But I have troubles to come up with a good name for that stage.

[2016-05-09 06:22] danielmarbach commented on #3692
I know that we don't want to rethrow the exception inside the delegate. Nonetheless, I would lean towards using an [`ExceptionDispatchInfo`](https://msdn.microsoft.com/en-us/library/system.runtime.exceptionservices.exceptiondispatchinfo(v=vs.110).aspx) as the container to pass the exception to the delegate.

[2016-05-09 06:49] SimonCropp opened #3732 "DataBus directory convention is broken"
Repo's in v5 and v6

So `FileShareDataBusImplementation.MaxMessageTimeToLive` is never used
https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.Core/DataBus/FileShareDataBusImplementation.cs#L16

So MaxMessageTimeToLive will always be Zero

So apply this to the key generation

[code]

And the result will always be `DateTime.Now`.

So a bit of history. The key is used to generate

[2016-05-09 11:27] andreasohlund opened #3733 "DataBusExtentions misspelled"
Should be `DataBusExtensions`. This is a breaking change, should we fix for v6?

Since its extmethods we probably only have to change here

http://docs.particular.net/nservicebus/messaging/databus#configuring-azuredatabus

[2016-05-09 11:29] SimonCropp commented on #3733
yep

[2016-05-09 11:37] andreasohlund commented on #3733
@Particular/tf-v6-launch-plat-dev I propose we roll this into the RC task since its a very small change

[2016-05-10 10:01] ramonsmits commented on #3729
@timbussmann The comment of @SeanFeldman was based on the comment of @Scooletz and me. Not on the issue description.

Please read the issue description and what is unclear about it.

[2016-05-10 11:41] dvdstelt commented on #2477
How would I now name my endpoint in an NSBHost hosted scenario?

[code]

This should be validated upon starting the endpoint, not make it mandatory in the ctor.

[2016-05-10 11:54] andreasohlund commented on #2477
One of the following:

1. Change the namespace surrounding the endpoint config to your liking.
2. Use the `EndpointName("MyEndpoint")` attribute
3. Specify it on the commandline, `NServiceBus.Host.exe /endpointName:MyEndpoint`

Would any of the above work?

[2016-05-10 11:55] andreasohlund commented on #2477
And if not: Switch to self hosting  - http://docs.particular.net/nservicebus/hosting/windows-service#bootstrapping-nuget

[2016-05-10 12:01] dvdstelt commented on #2477
I understand the alternatives. My point is that we moved the name to ctor to make it more clear to people, whereas I think it has improved only a single scenario. There are other scenarios where this issue still exists.

[2016-05-10 12:01] dvdstelt commented on #2477
"explicit" should've been used in my last comment, instead of "clear"

[2016-05-10 12:06] andreasohlund commented on #2477
Since we're on the path of deprecating the NServiceBus.Host I'd say that's something we can live with?

[2016-05-10 12:06] #3708 closed

[2016-05-10 13:20] DavidBoike commented on #2477
I would like to point out that 2 of the methods (namespace and attribute) are static, and the only one that is even a little dynamic is the command line, which means any sort of multi-tenant situation now must be handled by DevOps, and cannot be handled in code. There's no possible way to pull that value from a config file, for example.

[2016-05-10 13:36] andreasohlund commented on #2477
Agreed, that said this is an advance usage IMO so switching to self hosting seems reasonable?

[2016-05-12 12:38] andreasohlund opened #3734 "PersistenceExtensions is misspelled"
[code]

Affects Core and every persistence library.

[2016-05-12 12:41] andreasohlund commented on #3733
Bundle into the RC release

[2016-05-12 12:51] tmasternak commented on #3679
ping @ramonsmits

[2016-05-12 12:52] tmasternak commented on #3678
ping @ramonsmits

[2016-05-12 18:43] DavidBoike commented on #3726
Raised a doco issue https://github.com/Particular/docs.particular.net/issues/1523 to cover generating this content and added it to the CoreV6 milestone.

[2016-05-12 18:43] #3726 closed

[2016-05-16 05:58] SzymonPobiega opened #3737 "DistributionStrategy lifecycle is wrong"
This causes round-robin distribution to not work when there is more than a single downstream endpoint. Unfortunately our tests did only cover a single downstream scenario.

[2016-05-16 05:58] SzymonPobiega commented on #3737
I am sure this is must-have for RC.

[2016-05-16 05:59] SzymonPobiega commented on #3737
I think it should be tackled together with #3670 because they are closely related.

[2016-05-16 06:26] andreasohlund commented on #3737
Makes sense, flagged as v6

[2016-05-16 06:31] andreasohlund commented on #3737
Let's deal with https://github.com/Particular/NServiceBus/issues/3679 and https://github.com/Particular/NServiceBus/issues/3678 since they are all about routing?

cc @Particular/tf-v6-launch-plat-dev

[2016-05-16 09:37] andreasohlund commented on #3678
Talking to @SzymonPobiega we decided to keep the file for now since its only targeted to MSMQ (yes there is a backdoor so it can be be used for sql) and it will be removed from the core when we pull msmq out in the future.

[2016-05-16 13:07] aaronpalmer opened #3738 "Need for a multi-transport feature"
My company is moving to a new architectural pattern of CQRS with Event Sourcing using a service bus to manage our business sagas.  We have multiple systems and currently have a significant investment using MSMQ with BizTalk.  We have been considering using Greg Young's Event Store along with NServiceBus as our service bus.  The difficulty we are having is creating a saga with a single endpoint tha

[2016-05-17 06:22] janpieterz opened #3739 "If PurgeOldFiles throws an exception the application will never start"
I'm running an ASP.NET Core (RC1) app that suddenly went into a shutdown yesterday. Fix was to manually remove the log files it was trying to purge. For some reason it encountered an UnauthorizedAccessException and it was unable to just pass on (no try-catch).

Seems to me that, since it is more of a cleanup-oriented task, it shouldn't be in the critical application path and prevent a successful s

[2016-05-17 06:38] timbussmann commented on #3729
what I meant is: From an user perspective it's weird that you have to include the transport/persistence assemblies in the assembly scanning. Since you're declaring the transport on the code config, you need to have a reference at build time already, so there is no reason for this assembly not to be loaded?

[2016-05-17 06:47] SimonCropp commented on #3739
@janovesk good point. we will add a fix for this

[2016-05-17 07:02] SimonCropp commented on #3739
it does raise the question of what we do in the catch. the only thing to do is log an error. so if that fails it will still crash

[2016-05-17 07:07] janpieterz commented on #3739
Yeah, looked at the code and thought about that as well, otherwise I'd have done a simple pull request.

What if the try-catch would be only around the PurgeOldFiles? The SyncFileSystem call will then always pass even if that fails, and the write about it will succeed (unless of course the writing itself (AppendLine) also fails, which wasn't the case in our environment yesterday)

[2016-05-17 07:10] SimonCropp commented on #3739
@janpieterz i will put together a PR and we can start discussing it there

[2016-05-17 07:30] timbussmann commented on #3713
closing this, since #3712 has been merged. Please reopen if the test continue to fail.

[2016-05-17 07:30] #3713 closed

[2016-05-17 09:15] danielmarbach commented on #2751
Closing this [we log with error](https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.Core/Recoverability/Faults/MoveFaultsToErrorQueueBehavior.cs#L58) in V6

[2016-05-17 09:16] danielmarbach commented on #2751
Fixed as part of https://github.com/Particular/NServiceBus/commit/72c470ba3215bf4cfd58f691624494ee788a7925

[2016-05-17 09:16] #2751 closed

[2016-05-17 09:18] danielmarbach commented on #3003
Unassigned @janovesk

[2016-05-17 09:19] danielmarbach commented on #3003
The test has [been moved to MSMQ specific tests ](https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.Msmq.AcceptanceTests/When_distributing_a_command.cs)and it seems it is fixed. We can reopen or fix is as part of https://github.com/Particular/PlatformDevelopment/issues/814 if the problem occurs again.

[2016-05-17 09:19] #3003 closed

[2016-05-17 09:48] danielmarbach commented on #3738
Thanks @aaronpalmer for bringing this up. I see that @SzymonPobiega already provided an answer on StackOverflow which was accepted as the answer. We also have a few samples around multi transport integration. For example

* [MsmqToSql Relay](http://docs.particular.net/samples/msmqtosqlrelay/)
* [Sql Bridge](http://docs.particular.net/samples/sql-bridge/) which has been superseeded by the MsmqToSql

[2016-05-17 09:50] danielmarbach commented on #3725
labelled this issue so that it doesn't show up in the unlabelled issue list.

[2016-05-17 09:52] danielmarbach commented on #3391
@timbussmann @janovesk @Particular/nservicebus-maintainers what do we do with this one? I haven't seen this for a while.

[2016-05-17 09:56] danielmarbach commented on #3679
@SzymonPobiega would it make sense to incorporate suggestions into https://github.com/Particular/PlatformDevelopment/issues/814 and close this one?

[2016-05-17 09:57] danielmarbach commented on #3526
@Particular/nservicebus-maintainers We haven't addressed this in the guidelines yet. I propose we close this issue since we have no good guidance for namespaces and the test namespaces will reflect these guidances as well.

[2016-05-17 09:59] danielmarbach commented on #3193
@Particular/azure-service-bus-maintainers what is the state on this? I removed @SeanFeldman from being assigned since we are currently working on other things. Should we close this?

[2016-05-17 10:02] danielmarbach commented on #3430
Removed @ramonsmits from being assigned to this.

[2016-05-17 10:02] danielmarbach commented on #3430
@Particular/nservicebus-maintainers Like @timbussmann already proposed I think we should close this as won't fix.

[2016-05-17 10:04] SzymonPobiega commented on #3679
This issue is linked to 814. When we start working on it tomorrow I plan to actually extract all the info from the linked issues as this one and copy over to 814 and close the original issues.

[2016-05-17 10:04] danielmarbach commented on #3348
@Particular/platform-dev-squad Is this something we should take into account for our next initiative since it also impacts new users.

[2016-05-17 10:04] andreasohlund commented on #3430
:+1:

[2016-05-17 10:05] #3430 closed

[2016-05-17 10:07] andreasohlund commented on #3526
Well we have some guidance now? https://github.com/Particular/PlatformDevelopment/blob/master/designprinciples/nservicebus/namespaces.md

We could add a section for tests?

[2016-05-17 10:11] danielmarbach commented on #3526
Sorry typo! I wanted to write

[2016-05-17 11:29] andreasohlund commented on #3699
Had a false start with the stop watch in #3735 but we concluded that it would work. Will revisit this in a separate pull in the future

[2016-05-17 11:46] SimonCropp commented on #3739
first cut of a PR https://github.com/Particular/NServiceBus/pull/3741

[2016-05-17 12:05] timbussmann commented on #3348
@danielmarbach suggestion to open a HTML page seems to be a simple solution :+1:

[2016-05-17 12:09] timbussmann commented on #3391
should we link this to the nunit 3 upgrade issue and then verify whether this is still an issue after the upgrade?

[2016-05-17 12:13] danielmarbach commented on #3391
yeah better than assuming. Can we label this one somehow?

[2016-05-17 15:57] bording commented on #3348
How would this work on non-Windows platforms? If we're running .NET Core, we could be on a linux box that doesn't even have a gui, so there isn't going to be a way to launch a web browser to display a page.

[2016-05-17 16:02] bording commented on #3526
If anything, we could add something that makes it clear that test projects should follow the same rules.

Looking at the document, I would think they would need to follow the downstream section.

[2016-05-17 18:17] SeanFeldman commented on #3193
It's being resolved. ATTs run one topology at a time, so we can close it @danielmarbach.

[2016-05-17 18:18] boblangley commented on #3348
Tackle it when we support .net core?

On Tue, May 17, 2016, 8:57 AM Brandon Ording <notifications@github.com>
wrote:

[2016-05-17 18:22] danielmarbach commented on #3348
Great that the neurons are triggering, my only intention though was to
bring this to the awareness of the squad for the next initiative ;)

[2016-05-17 18:22] #3193 closed

[2016-05-17 21:57] johnsimons commented on #3348
IMHO this is a change to the platform, something that needs to be addressed across all our products to reflect consistency in the UX, hence I would propose moving this to plat dev

[2016-05-18 04:12] mikeminutillo opened #3743 "Holding on to MessageContext"
What happens if I hold on to a message context beyond the life of the handler and try to use it.

i.e.

[code]

Should we Dispose the message context when the user code should stop using it and throw if attempting to use it when disposed?

[2016-05-18 05:57] danielmarbach commented on #3743
On the fence. This pretty much violates all design principles out there. Since we are passing in the context as a method parameter and the handler is a short lived object for the scope of the request it is a terrible idea to start a timer and send a message later.

[2016-05-18 06:00] #3348 closed

[2016-05-18 06:00] danielmarbach commented on #3348
@johnsimons moved

[2016-05-18 07:36] ramonsmits commented on #3679
Reason for the `IEnumerable` is that you can pass it a lot of collection types. Not only just an array or making use of the params approach.

[2016-05-18 07:40] SimonCropp commented on #3679
This makes more sense when the instacne of EndpointInstance will be known at compile time. ie they are passing in a set known number of EndpointInstance using compile code

    public void Add(EndpointName endpoint, params EndpointInstance[] instances);

This makes more sens if they will be querying some external source to get a runtime list of EndpointInstances

    public void Add(EndpointName e

[2016-05-18 07:41] ramonsmits commented on #3679
@SzymonPobiega Does it matter if Machine is very specific or not? I don't even understand what you mean by that.

For me its about that it was not easy to spot / configure. Not being self explanatory when using MSMQ. I needed two calls of which the second was with the person that made it :-). Otherwise, it is too complex and this is about removing complexity, making it more discoverable for the en

[2016-05-18 07:44] ramonsmits commented on #3679
@SimonCropp Which is pretty likely when doing your own custom routing from within code.

[2016-05-18 10:49] SzymonPobiega commented on #3679
@ramonsmits I don't see how `MsmqEndpointInstance` is more discoverable than `.AtMachine`. The signature says `EndpointInstance`. I don't think a standard user would think that there might be a subclass specific for MSMQ he needs to use.

Using `EndpointInstance` without `.AtMachine` will result in using a queue on the local machine. I think this is a reasonable default equivalent to using a queue

[2016-05-18 11:43] ramonsmits commented on #3678
@mauroservienti There will always need to be a logical to physical translation. In V6 that would be this when having multiple physical destinations.

[2016-05-18 11:55] ramonsmits commented on #3678
@andreasohlund @tmasternak We cannot really remove the file based routing as it is documented as being the replacement for MessageEndpointMappings. New V6 users would be advised to use the file based mapping for physical information.

That is my interpretation after reading:

and

[2016-05-18 12:01] ramonsmits commented on #3679
@SzymonPobiega The endpoint instance would be either an interface or base class with a protected constructor.

[2016-05-18 13:35] timbussmann commented on #3743
I proposed MessageHandlerContext to be disposable already in bangkok but it wasn't received to well :D I still think it could make sense to throw an ObjectDisposedException in case someone stores the object for later use.

but when users would code like the snippet you used, I wouldn't be surprised if they would also dispose a context manually because it implements IDisposable.

Maybe we should ad

[2016-05-18 14:13] danielmarbach commented on #3743
Let's add this as a discussion point to https://github.com/Particular/PlatformDevelopment/issues/819 and close this one, ok?

[2016-05-18 14:50] danielmarbach commented on #3190
@mauroservienti since audit and error involves SC like you mentioned would it make sense to move this issue to platform development and flesh it out there?

[2016-05-18 14:53] danielmarbach commented on #3208
@ramonsmits You opened up a series of data bus improvement proposals. Would it make sense to collect those in one single platform dev issue and raise it to the awareness of the squad?

[2016-05-18 14:53] danielmarbach commented on #3209
@ramonsmits You opened up a series of data bus improvement proposals. Would it make sense to collect those in one single platform dev issue and raise it to the awareness of the squad?

[2016-05-18 14:53] danielmarbach commented on #3210
@ramonsmits You opened up a series of data bus improvement proposals. Would it make sense to collect those in one single platform dev issue and raise it to the awareness of the squad?

[2016-05-18 14:54] danielmarbach commented on #3231
@ramonsmits You opened up a series of data bus improvement proposals. Would it make sense to collect those in one single platform dev issue and raise it to the awareness of the squad?

[2016-05-18 14:56] danielmarbach commented on #3265
@andreasohlund let's handle the remaining work as part of https://github.com/Particular/PlatformDevelopment/issues/734

[2016-05-18 14:56] #3265 closed

[2016-05-18 14:56] danielmarbach commented on #3343
@ramonsmits You opened up a series of data bus improvement proposals. Would it make sense to collect those in one single platform dev issue and raise it to the awareness of the squad?

[2016-05-18 14:59] danielmarbach commented on #3347
@SzymonPobiega since we have https://github.com/Particular/PlatformDevelopment/issues/554 in platform development would it make sense to move this one into PD as well?

Btw. also removed yourself from being assigned to it

[2016-05-18 15:02] danielmarbach commented on #3360
This seems to be a big gun. @SzymonPobiega came up with a [simple solution which allows you to enable logging per ATT](https://github.com/Particular/NServiceBus/pull/3745). We favour that PR over this one. Closing

[2016-05-18 15:02] #3360 closed

[2016-05-18 15:08] danielmarbach commented on #3362
@Particular/azure-storage-persistence-maintainers @Particular/ravendb-persistence-maintainers @Particular/nhibernate-persistence-maintainers since you guys have been going through the pain of implementing a specific persister it might make sense to address this issue as part of the overall persistence maintainers budget but consulting with the @Particular/nservicebus-maintainers. Thoughts?

[2016-05-18 15:11] danielmarbach commented on #3365
We haven't seen it for a while. I'll close this issue, we can reopen any time.

[2016-05-18 15:14] danielmarbach commented on #3373
@MarcinHoppe would you be willing to invest into this? It is still failing from time to time. We would like to give you a slot from our maintainer budget.

[2016-05-18 15:19] danielmarbach commented on #3417
Superseded ​by hthttps://github.com/Particular/PlatformDevelopment/issues/819

[2016-05-18 15:19] #3417 closed

[2016-05-18 15:23] danielmarbach commented on #3445
@Particular/platform-dev-squad I think we should consider this as part of the first time user experience initiative and make a decision as part of that initiative whether file based persistence and transport in the core is the way to go or we want the users to always select a specific transport

[2016-05-18 17:17] dvdstelt opened #3748 "Non descriptive error message when setting up SendOnly endpoint without persistence."
The following error occurs when I set up a SendOnly endpoint without persistence.

[code]

Commenting out the persistence line fixes it.

[code]

From a user perspective I would say it should not look for storage, but the error message could also be more descriptive.

[2016-05-18 17:30] indualagarsamy opened #3749 "V6 - Prevent users from injecting IEndpointInstance and using it inside of Message handlers to send / publish messages"
Relates to:
https://github.com/Particular/V6Launch/issues/27
https://github.com/Particular/PlatformDevelopment/issues/819

### Problem

Often times customers have old / common libraries where a IBus was injected into the library. And the IBus was used to send messages / publish events from a self host or a NServiceBus.Host either in bootstrap scenarios or in message handlers.

However, `IEndpointI

[2016-05-18 17:55] MarcinHoppe commented on #3373
@danielmarbach I'm on it.

[2016-05-18 18:07] bording commented on #3748
This is an interesting problem. The `KeyNotFoundException` is thrown because each feature that requires some sort of persistenece storage now checks to see if the configured persistenece supports that storage type. A SendOnly endpoint can be allowed to not have a persistence at all, so the `MessageDrivenSubscriptions` feature is checking for subscription storage support, and then hitting the missi

[2016-05-18 19:17] SzymonPobiega commented on #3679
Then each transport would have to have its own (identical) implementation. Sounds like an overkill.

[2016-05-18 19:22] SzymonPobiega commented on #3678
@ramonsmits this doco needs to be probably updated. The truth is somewhere in the middle. For all transports other than MSMQ it is enough to specify the logical routing in code via new APIs. No physical mapping needed. For MSMQ it is advised in V6 to use the file-based routing as a complement to the code-based logical routing. I would not recommend using MEMs in the green field V6 endpoint.

[2016-05-18 19:25] ramonsmits commented on #3679
@SzymonPobiega Maybe, I'm not familiar enough. I just mentioned it as a possible option to make machine name more discoverable or enforce it.

[2016-05-18 22:13] SeanFeldman opened #3750 "NServiceBus.ObjectBuilder.Common.IContainer build is throwing exception when it shouldn't"
Original issue: GG [question 1](https://groups.google.com/forum/#!topic/particularsoftware/rXb2ofpyRhc) and [question 2](https://groups.google.com/forum/#!topic/particularsoftware/WfaboS_Qu8Y)

## Who's affected

* Any user using transport with native support for timeouts (ASB)

## Symptoms

"NServiceBus.Timeout.Core.IPersistTimeouts is not registered in the container when starting bus" exception

[2016-05-19 06:43] timbussmann commented on #3750
Currently I don't see a way around that exceptions since we need to check for it's existence and the `IBuilder` interface doesn't have an `HasComponent` method. Since that exception is handled in the core, I wouldn't consider this as a bug. Users can safely ignore this exception.

We had other scenarios on exceptions when breaking on all exceptions in vs, and while I agree that we should avoid usi

[2016-05-19 06:50] dvdstelt commented on #3748
So what you're saying is, it should be renamed to `SendOnlyUnlessTheTransportSupportsNativePubSubThenEndpointAlsoSupportsPublish` :smile:

But kidding aside, in my opinion the `SendOnly` endpoints do exactly what they're called, they only send. So even having `SendLocal` on that interface/api seems illogical, let alone `Publish`. The main reason I would use a SendOnly endpoint is because I'm using

[2016-05-19 06:57] danielmarbach commented on #2477
@andreasohlund @dvdstelt [This](https://github.com/Particular/NServiceBus.Host/pull/87) would solve it

[2016-05-19 07:03] SeanFeldman commented on #3750
If addressed in v6, closing is ok. We just need to avoid communicating things internally via exceptions :)

[2016-05-19 07:06] johnsimons commented on #3749
Isn't this just a case of stopping adding  `IEndpointInstance` to the container ?

[2016-05-19 07:15] timbussmann commented on #3750
this was related to a critical bug fix and to make sure users use valid combinations of core + persitence packages. A necessary evil. Closing this then :+1:

[2016-05-19 07:15] #3750 closed

[2016-05-19 07:15] danielmarbach commented on #3750
I agree with @timbussmann even adding something like a `TryBuild` would be overkill and not worth the effort. Let's close this

[2016-05-19 07:19] #3739 closed

[2016-05-19 08:46] timbussmann opened #3751 "AcceptanceTesting cannot handle multiple scaled-out endpoints failing"
When an acceptance tests uses multiple instances of the same endpoint using scale-out config to run tests, the test fails with a `System.InvalidOperationException : Sequence contains more than one matching element` exception when more than one of the endpoints fails. The InvalidOperationException hides the actual exceptions.

It fails because of the following code:

         var unexpectedFailedMe

[2016-05-19 09:33] danielmarbach commented on #3749
@johnsimons I setup a meeting for monday. Will add the necessary context after that meeting to this issue.

[2016-05-19 10:50] ramonsmits commented on #3678
@SzymonPobiega I don't agree. I would not even put 'static' routes in code. We always say that where handlers are located is a deployment concern. I would always advise to put routes in config. Just hosting a handler in a different or new endpoint would require a recompile if that route would be put in code.

[2016-05-19 11:00] SzymonPobiega commented on #3678
@ramonsmits we had that discussion initially in the routing TF and we decided that code-based logical routing is the way to go. The logical name of the endpoint that processes the message is the developer's concern, not the infra concern (at least that was the outcome of that discussion).

That said, If you feel strongly that that outcome was wrong, please raise a new PlatDev issue and we can disc

[2016-05-19 11:32] andreasohlund commented on #3750
In NH we use `builder.BuildAll<SchemaUpdater>().FirstOrDefault()`

https://github.com/Particular/NServiceBus.NHibernate/blob/develop/src/NServiceBus.NHibernate/Subscriptions/Installer/Installer.cs#L15

[2016-05-19 11:43] danielmarbach commented on #3750
Let me change it for you but it will still work

On Thursday, May 19, 2016, Andreas Öhlund <notifications@github.com> wrote:

[2016-05-19 12:12] danielmarbach commented on #3749
Tagged the platform development issue as Consider for Promotion

[2016-05-19 12:18] timbussmann commented on #3750
@andreasohlund do you think this is worth a patch release for the core?

[2016-05-19 12:19] andreasohlund commented on #3750
No

[2016-05-19 12:20] SimonCropp commented on #3750
if it is fixed in 6 i dont think it is worth patching

[2016-05-19 12:24] danielmarbach commented on #3748
Bundled it with https://github.com/Particular/PlatformDevelopment/issues/734

[2016-05-19 12:32] andreasohlund commented on #3373
PR merged, closing

[2016-05-19 12:32] #3373 closed

[2016-05-19 12:32] danielmarbach commented on #3678
It seems there isn't yet a consensus between the original task force and @ramonsmits who raised this issue. I'm removing the Consider for flag. Like @SzymonPobiega said if the original task force should reconsider the initial decisions please organize a meeting with the orignal task force members and update the issue description according or raise new issues.

[2016-05-19 12:39] timbussmann commented on #3365
just saw it today on the buildserver: https://builds.particular.net/viewLog.html?buildId=165633&buildTypeId=NServiceBus_2RunAcceptanceTestsForMsmq

reopening this.

[2016-05-19 12:55] SzymonPobiega commented on #3678
@danielmarbach this issue in following scope:

has been included in the https://github.com/Particular/PlatformDevelopment/issues/814 (make routing RC-ready) issue. I don't think the discussion about weather logical routing should be in code or config affects these action items so we are not changing the scope of 814. The discussion should happen outside of scope of 814. Should we decide that logic

[2016-05-19 13:19] dvdstelt commented on #3748
And removed it again!? :)

[2016-05-19 13:22] ramonsmits commented on #3678
@danielmarbach I've created a doco issue for updating the doco about message mapping and routing. That discussion from @tmasternak @andreasohlund @SzymonPobiega and me is off-topic.

[2016-05-19 15:26] bording commented on #3748
Personally, I wouldn't want to interpret the name so literally! While the scenarios for publishing from a web frontend might not be as abundant as sending from one, I think I'd prefer to not completely rule out the possibility, especially since there are transports that support it perfectly fine.

[2016-05-19 17:01] DavidBoike opened #3755 "Saga does not throw when no mappings exist"
For V6 we're promising that we will throw if you forget to map an IAmStartedBy message. This is true if we map one message and not another (due to the check for a non-default correlation id value) but does not hold up if you forget to map any messages at all.

[2016-05-19 17:52] DavidBoike opened #3757 "Fail to prepare saga transaction results in circuit-breaker-arming MSMQ receive failure"
### Steps to reproduce:

* Simple saga started by SomeMessage
* Default message processing concurrency
* MSMQ transport, InMemory persistence
* At endpoint startup, do SendLocal of 10-50 SomeMessage

### Exception

Really should fail message processing and invoke retries / error queue, but instead, the MSMQ Receive circuit breaker becomes armed.

[code]

### Cause

* [TransactionScope of `ReceiveW

[2016-05-19 21:03] ppittle opened #3758 "Log to ETW"
Is their support for logging to Etw?

I'm running NServiceBus on Azure Service Fabric, and ASF's preferred logging is Etw.  Is there a LogFactory for Etw?

I was able to hack something together by creating a custom log4net appender and then using the NServiceBus.Log4Net factory, but this was less than ideal.

[2016-05-19 21:41] ppittle opened #3759 "Azure Service Fabric host"
Can you add support for running NServiceBus on Azure Service Fabric (inside Azure Service Fabric Services)?

I've done some research into running NSB on ASF and it's possible, but requires writing some plumbing code:
- I was able to create an ASF `ICommunicationListener` that created an `EndpointInstance` and tied the endpoint lifecycle to the communication listener (via it's Open, Close, Abort me

[2016-05-20 00:55] SimonCropp commented on #3758
@ppittle there are two options

### 1. write your own logger

This is fairly simple to do. There is a sample here http://docs.particular.net/samples/logging/custom-factory/ . or you can look at any of the full implementations https://github.com/Particular/NServiceBus.Log4Net  https://github.com/Particular/NServiceBus.NLog   https://github.com/Particular/NServiceBus.CommonLogging

### 2. Go through

[2016-05-20 01:13] ppittle commented on #3758
@SimonCropp - I can keep the custom log4net appender I wrote and be alright.  I just wanted to get this in front of your team as a feature request/recommendation.  (Is there a better avenue than Issues to do this?)

[2016-05-20 01:20] SimonCropp commented on #3758
Nah an issue is fine for now.

Currently we have no plans to support it from a particular company perspective. We try to have support for the most commonly use libs. hence log4net and nlog. It is difficult to get full coverage over all possible scenarios. the same goes for transports and persistences. Generally we support the community in building their own custom integrations. Foe example i reall

[2016-05-20 03:39] distantcam commented on #3679
Re: IEnumerable vs params EndpointInstance[] - Why can't we have both?

[2016-05-20 04:46] distantcam commented on #3679
Regarding AtMachine

What happens if the endpoint is not a MSMQ specific endpoint? Should AtMachine still work or throw an exception? Can we even tell if an EndpointInstance is MSMQ specific? Do we care?

Either we don't care that specific transport info (like AtMachine) are applied to non-msmq endpoints, or we should have specific endpoint type subclasses (like MSMQEndpointInstance).

If Endpoint

[2016-05-20 06:37] andreasohlund commented on #3759
Sounds interesting, can you share the code?

[2016-05-20 06:39] danielmarbach commented on #3759
@ppittle Would that help?

https://github.com/ParticularLabs/NServiceBus.ServiceFabric

It is in labs and not officially supported yet.

[2016-05-20 06:44] timbussmann commented on #3679
Not sure, but wouldn't that result in some pains because of ambiguous parameters?

I don't think we should throw an exception. Other transports should just ignore that information. That would be solved anyway when we move MSMQ out of the core?

[2016-05-20 06:56] danielmarbach commented on #3757
@DavidBoike

https://msdn.microsoft.com/en-us/library/system.transactions.transactionscope.dispose(v=vs.110).aspx

I know how to repro it in a unit test. Assigned to me

[2016-05-20 07:08] yvesgoeleven commented on #3759
I got a similar question via twitter https://twitter.com/VeljkoKokanovic/status/730757448055857152

[2016-05-20 07:28] SzymonPobiega commented on #3679
The main problem with an abstract class I see is that all the other transports would have to have an empty implementation of their endpoint instance. That's why we used an extension method originally.

Regarding `AtMachine` and throwing exceptions in other transports, each `TransportDefinition` has to provide a method for translating `EndpointInstance` (or its closely related `LogicalAddress`) to

[2016-05-20 08:22] dvdstelt commented on #3748
We made large API changes, like changing from BusConfiguration to EndpointConfiguration, just for the sake of the name. So not taking SendOnly literally seems off.

We abstract away the native pub/sub possibilities (including storing subscriptions) with NServiceBus. It doesn't seem right to enable this on special occasions just because the transport makes it possible. In other words, we don't supp

[2016-05-20 09:11] distantcam commented on #3679
I don't believe so. I've implemented both and the tests are fine.

[2016-05-20 09:17] timbussmann commented on #3679
if you tested it and it doesn't show up as an issue, then I'm :+1: on providing both.

[2016-05-20 09:28] danielmarbach commented on #3679
A discussion from the past

https://github.com/Particular/NServiceBus/pull/2280#issuecomment-122260403

Might help to make up your minds

[2016-05-20 10:28] danielmarbach commented on #3757
@DavidBoike Thanks for this good repro. Due to the InMemorySagaPersister simulating DTC like behavior and your investigation we found a deal breaker in Core. Like I've shown above `TransactionScope.Dispose` can throw a `TransactionAbortedException`. Unfortunately, we cannot try catch this exception in the receiver and just blindly ignore it because for NonTransient failures this would lead to infi

[2016-05-20 10:28] distantcam commented on #3679
@danielmarbach Hmmm, ignoring a false positive in R# analyzer (that I don't have installed anyway) vs calling `ToArray` which does a bunch of memory allocs. I know which one I prefer. ;)

[2016-05-20 11:51] danielmarbach commented on #3757
@DavidBoike @timbussmann and I have been able to write an acceptance test which fails. He will push it soonish. The trick is simple; we wrote an enlistment which does a `ForceRollback` in the prepare phase and hooks that enlistment into the current transaction as a volatile enlistment.

[2016-05-20 12:56] timbussmann commented on #3757
@danielmarbach @DavidBoike repro PR: #3761

[2016-05-20 15:38] timbussmann commented on #3365
@MarcinHoppe are you also interested in investigating this? Giving this maintainer budget.

[2016-05-20 16:31] bording commented on #3748
While I'm guessing the name "SendOnly" is in the "sending vs. receiving" sense, since we also have a "sending vs. publishing" distinction, perhaps renaming would be a good idea. Not sure that would be in scope for V6 at this point, though.

I wasn't aware of that documentation, but given that we do talk about being able to publish there, and how to work around publishing from a SendOnly endpoint w

[2016-05-20 17:55] MarcinHoppe commented on #3365
@timbussmann Sure, I'll give it a shot.

[2016-05-20 18:34] andreasohlund commented on #3365
:+1: this one has been haunting us for a while!

[2016-05-20 20:01] ppittle commented on #3572
+1 SendOptions are confusing at first glance

[2016-05-20 20:15] ppittle opened #3763 "Make SendOptions Set methods Fluent"
Currently the `SendOptions` set methods (at least the ones in `RoutingOptionExtension`) return void.  It would be easier to work with `SendOptions` if the set methods were fluent (ie returned `SendOptions`).

Example (current):

    IEndpointInstance endpoint;

    var options = new SendOptions();
    options.SetDestination("example-queue");
    await endpoint.Send(new Message(), options);

Exampl

[2016-05-20 20:22] ppittle opened #3764 "Enhance SendOptions documentation"
New to NServiceBus 6, I saw the `SendOptions` class as a parameter in several `IEndpointInstance` communication methods (ie `Send`).  Wanting to know more about it, I used Go To Definition in VS and what I found wasn't very helpful:

[code]

When I was working with this class for the first time, I was in the context of a unit test and had the Should library loaded, meaning I had loads of extension

[2016-05-20 22:13] ppittle opened #3765 "Async methods should take a CancellationToken"
**Proposal:**

[code]

Async methods should generally be cancel-able via the standard `CancellationToken` method parameter convention.  Specifically, `IMessageSession` methods (`Send`, `Publish`, etc) should all have optional `CancellationToken` method parameters.

After some digging I found that there is some support for this, but it's a bit convoluted by registering the token:

[code]

While thi

[2016-05-21 04:53] johnsimons commented on #3763
This is a duplicate of #3572

[2016-05-21 04:54] johnsimons commented on #3764
This is a duplicate of #3572

[2016-05-21 19:51] SeanFeldman commented on #3765
Related to https://github.com/Particular/NServiceBus/issues/3726

[2016-05-21 19:52] SeanFeldman commented on #3726
Beta customer feedback: https://github.com/Particular/NServiceBus/issues/3765

[2016-05-23 08:51] andreasohlund commented on #3755
Flagged as maintainer prio after talking to @timbussmann.

 @bording @danielmarbach ok?

[2016-05-23 09:19] timbussmann commented on #3755
:+1:

[2016-05-23 09:38] danielmarbach commented on #3755
Good

On Monday, May 23, 2016, Tim Bussmann <notifications@github.com> wrote:

[2016-05-23 11:28] timbussmann commented on #3764
Hey @ppittle ,

Thanks a lot for providing us with your v6 upgrade experience! I like your proposal to add some basic documentation and simple example on how `SendOptions` are used. We tried to document the `SendOptions` usage in the official documentation as close as possible to the related use cases. Was there something specific you wanted to achieve with the options in the tests?

@johnsimons t

[2016-05-23 11:35] timbussmann commented on #3763
hey @ppittle,

Thanks for your feedback regarding the `SendOptions`! We are currently thinking about different options to improve the `SendOptions` API in the future and a fluent API is something to consider (although we're trying to provide less fluent APIs in general). I'd be very interested in your opinion on this suggestion here: https://github.com/Particular/NServiceBus/pull/3559

[2016-05-23 12:52] danielmarbach commented on #3765
@ppittle Thank you very much for taking the time to send in your feedback.

## NServiceBus.Callbacks
Since we moved callbacks out into a dedicated package and we are providing an extension method to start a Request to the receiver side I think we should take your concerns into consideration. We could provide a more "follows the established standards" approach by removing the RegisterCancellationTo

[2016-05-23 16:32] bording commented on #3755
:+1:

[2016-05-23 18:31] yvesgoeleven commented on #3759
Got a subtle hint on the Labs repo as well https://github.com/ParticularLabs/NServiceBus.ServiceFabric/issues/1#issuecomment-221038137

[2016-05-23 19:35] danielmarbach commented on #3757
Recording: https://drive.google.com/open?id=0Bxf5pxyNKtQVSDE2MVdpVk5Kd1U

## Summary

@SzymonPobiega will talk to @udidahan first and then we'll update the issue with the outcome

[2016-05-23 21:53] ppittle commented on #3764
+1 for @timbussmann "not duplicate" comment.   Regardless of how the design is locked down, it would be nice to have some more documentation around `SendOption`

@timbussmann - By "as close as possible to the related use cases" I am thinking you're referring to the top pages that come back from a [Search for SendOptions](http://docs.particular.net/search?q=SendOptions) on the Particular Documentat

[2016-05-23 21:57] ppittle opened #3770 "NSB 6 Behavior exception Registration 'InvokeHandlers' specified in the insertbefore of the 'MyBehavior' step does not exist"
Looks like there is a bug in Behavior registration in [NSB 6 Beta 2](https://www.nuget.org/packages/NServiceBus/6.0.0-beta0002).

I upgrade my NSB 5 Behavior:

    /// <summary>
    /// Logs each incoming message that comes into a <see cref="IHandleMessages{T}"/>
    /// </summary>
    public class LogIncomingMessageBehavior : Behavior<IInvokeHandlerContext>
    {
        /// <summary>
        ///

[2016-05-23 22:35] johnsimons commented on #3764
I do still think the reason we are discussing this is because the API does not help the user to success, it is not discoverable as @ppittle found out.
The fact that a user had to look for intellisense doco to figure out how to use it is a fail IMHO.

[2016-05-24 08:00] andreasohlund commented on #3770
InvokeHandlers is now what we call a "pipeline terminator" so you will always be running before it. You can safely remove the call to `InsertBefore`.

With the new stages in v6 there shouldn't really be a need for any InsertBefore/After, do you have other examples?

We're in the processes of cleaning up the WellKnownSteps so please accept my apologies for the confusion.

https://github.com/Particu

[2016-05-24 08:00] andreasohlund commented on #3770
Some doco on this topic http://docs.particular.net/nservicebus/pipeline/customizing-v6

[2016-05-24 08:02] danielmarbach commented on #3770
@andreasohlund That being said the topological sort could actually try to identify this case and throw a meaningful exception. Thoughts?

[2016-05-24 08:03] andreasohlund commented on #3770
Good point, we could detect that if the Before/After is a terminator (or a stage connector) and throw a better ex

[2016-05-24 08:41] ppittle commented on #3770
A better exception would certainly be helpful.

[2016-05-24 08:42] andreasohlund commented on #3770
@ppittle can you confirm that removing the InsertBefore works? (I will raise a new issue for the improved ex)

[2016-05-24 09:02] yvesgoeleven opened #3771 "Endpoint hosting a saga with abstract base class fails to start"
One of our customers is upgrading from v4 to v5 (5.2.14) and notices that an endpoint containing a saga which inherits from an abstract base class fails to start, as it tries to instantiate the abstract base class.

Here is the stack trace

[code]

@ramonsmits traced down the root cause of the problem, being: TypeBasedSagaMetaModel does not excluded abstract classes from the saga type meta model.

[2016-05-24 09:03] ppittle commented on #3770
Confirmed.  Changed my `Registration` class as below and *no* longer get an exception:

    internal class Registration : RegisterStep
    {
        public Registration() :
            base(nameof(LogIncomingMessageBehavior),
                      typeof(LogIncomingMessageBehavior),
                      "Log Incoming Messages")
        {
        }
    }

[2016-05-24 09:03] yvesgoeleven commented on #3771
@Particular/nservicebus-maintainers

[2016-05-24 09:15] danielmarbach commented on #3771
Btw. v6 is potentially also affected

https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.Core/Sagas/SagaMetadata.cs#L108

[2016-05-24 09:28] andreasohlund opened #3772 "Throw a meaningful exception when InsertBefore|After targets a terminator"
Instead of throwing:

`Registration 'InvokeHandlers' specified in the insertbefore of the 'LogIncomingMessageBehavior' step does not exist.`

we should say:

[2016-05-24 09:29] andreasohlund commented on #3770
New issue raised to track the better ex

https://github.com/Particular/NServiceBus/issues/3772

closing this one. Thanks @ppittle for finding this!

[2016-05-24 09:29] #3770 closed

[2016-05-24 12:22] timbussmann commented on #3670
closing this since #3744 fixes the issue and is included in the current v6 release branch

[2016-05-24 12:22] #3670 closed

[2016-05-24 12:23] timbussmann commented on #3737
This is fixed by https://github.com/Particular/NServiceBus/pull/3752 which is included in the current v6 release

[2016-05-24 12:23] #3737 closed

[2016-05-24 13:03] SzymonPobiega commented on #3757
Talked with @udidahan about this over lunch today:
 * Not doing anything does not sound like a good plan
 * It should probably be possible to somehow invoke the recoverability behaviors from the receiver via an additional callback (e.g. apart from `onMessage`, the message pump would also get `onerror` callbacks). Such thing should probably be doable as part of "make core RC-ready" initiative
 * It

[2016-05-24 14:05] andreasohlund commented on #3757
I suggest we get on a call with @udidahan when he's back from Sydney.

[2016-05-24 19:14] DavidBoike commented on #3445
@danielmarbach Are you talking about making a decision? Or potentially building the feature as well.

[2016-05-24 19:19] DavidBoike commented on #3362
Note that the first version of these was [built for Azure Storage Persistence](https://github.com/Particular/NServiceBus.Persistence.AzureStorage/tree/develop/src/NServiceBus.Persistence.AzureStorage.ComponentTests).

Raised https://github.com/Particular/NServiceBus.RavenDB/issues/242 to cover integrating those tests within Raven, and to see what works and what doesn't, to help arrive at a final c

[2016-05-25 06:55] johnsimons commented on #3678
Are we really adding a xml schema to config files ?
So in this issue we are proposing to host this schemas in our servers, and keep those schemas up to date every time we change them, this means we need to version them.
Are we really sure we want to do this, I see this as a major burden on releases, as well, I can nearly guarantee that we will forget to update these schemas.

Remember we have neve

[2016-05-25 07:42] danielmarbach commented on #3445
@DavidBoike first of all I would like to have a decision. There seems to be some slight push from @andreasohlund into the direction of a file-based transport. I think we should lay out the pros and cons a bit better, as well as the alternatives and then come to a conclusion how to proceed (and potentially turn the spike into a feature)

[2016-05-25 07:48] dvdstelt opened #3776 "RowVersionAttribute can't be used when deriving from ContainSagaData"
When using the `RowVersion` attribute in a saga data class, NServiceBus checks if it's on the aggregate root. Because subclasses should never have this attribute.

However when the new `ContainSagaData` class is used, NServiceBus thinks the root class is `ContainSagaData` and doesn't allow your (root) saga data class to contain the attribute. It should be checked if `ContainSagaData` is the immedi

[2016-05-25 07:54] danielmarbach commented on #3776
I think I submitted this base class in the past as an external contributor to the core. Reflecting about it again I think it is pretty useless to have a base class for an interface with three properties. I would be Ok to deprecate it.

[2016-05-25 15:21] timbussmann opened #3778 "Remove Saga.RequestTimeout HandlerContext parameter"
V6 currently requires users to provide a `IMessageHandlerContext` parameter to `Saga.RequestTimeout` and `Saga.ReplyToOriginator`. This was introduced because all send operations need to use `IMessageHandlerContext` which is provided as a parameter on the `Handle` method which needs to be passed down to `RequestTimeout` or `ReplyToOriginator`.

Should we explore other approaches to see whether we

[2016-05-25 15:42] timbussmann commented on #3778
some obvious approaches:
* Introducing `ISagaContext`: Probably quite a big effort, but fits best with the "context" vision
* make the current context somehow available on the saga class (without using DI)
* extension method on `IHandlerMessageHandlerContext`: Doesn't work well since it cannot be scoped to be only available on sagas.

[2016-05-25 15:47] danielmarbach commented on #3778
Why? Do we have any feedback that the API is not clear?

I think it makes it clear that you can only use `RequestTimeout` or `ReplyToOriginator` as part of a `Handle` method and aligns well with the floating context design paradigm we want users to use.

[2016-05-26 06:51] ramonsmits commented on #3678
@johnsimons What is the alternative that you suggest?

We don't have to host the schema, it can also just be part of the package and yes, schemas should be versioned.

By the way, a lot of ops moved on. They also use editors like Atom or alternatives to modify files. You can always modify such files with notepad if you really need to.

We have not decided anything. This is my proposal.

It is *ver

[2016-05-26 07:00] johnsimons commented on #3678
None

[2016-05-26 08:07] andreasohlund commented on #3757
Call will be schedule with Udi early next week to agree on the POA

[2016-05-26 08:18] dvdstelt commented on #3678
The schema was already there, but it was hardcoded in code and therefore invisible and not properly versioned.

Did we verify this, or is this an assumption? When I first started development with NServiceBus, this was one of my main concerns; understanding config. I meet quite a few developers who have a hard time understanding v5 configuration.

Although I'm not too sure on the benefits and wheth

[2016-05-26 09:25] johnsimons commented on #3678
Having schema in an xml file in VS does not make the intellisense just work, the schema actually needs to be configured in VS, so this would require some kind of installation.

[2016-05-26 09:27] johnsimons commented on #3678
BTW, this has been previously discussed see #935

[2016-05-26 09:30] SimonCropp commented on #3678
yeah i once went to the effort of getting a schema working in VS. never bothered again

[2016-05-26 09:53] andreasohlund opened #3779 "Add startup check to detect handlers using IEndpointInstance and IMessageSession"
To prevent users from wrongly using IEndpointInstance and IMessageSession on their handlers we should check on startup and throw an exception if any handler has a ctor/property dependency in said types. The exception should tell them to use the handler context instead.

[2016-05-26 12:47] boblangley commented on #3779
@Particular/tf-v6-launch-plat-dev The task force met and agreed this is important for V6 launch.

[2016-05-26 12:53] boblangley commented on #3772
@Particular/tf-v6-launch-plat-dev We decided this does not have to make it into V6 launch and can be done in a minor, but if we can slip it in before launch we will. So we will defer the decision to just in time so we can include it if possible.

[2016-05-26 13:38] andreasohlund commented on #3757
Spike showing a potentially better api that we want to move towards.

https://github.com/Particular/NServiceBus/pull/3780

[2016-05-26 18:03] indualagarsamy commented on #3779
@andreasohlund - how is this issue different from the one I raised?
https://github.com/Particular/NServiceBus/issues/3749

[2016-05-26 18:33] andreasohlund commented on #3779
That felt more like a discussion and I see this as one of the potential actions?

[2016-05-26 18:42] indualagarsamy commented on #3779
@andreasohlund - The original issue has more context. You can add this as the Proposed Solution to that issue. Without that, there is no proper context.

[2016-05-26 18:45] andreasohlund commented on #3779
Good point, I've added a link in the description of #3749

[2016-05-26 19:06] indualagarsamy commented on #3779
@andreasohlund - why not add this issue description as the proposed solution in #3749? Do you see other potential solutions to #3749 besides this one, where you could in the future close this one as not feasible? Not sure why we need this issue, if we think that this is the way to go in order to solve #3749. This issue seems like a duplicate.

[2016-05-26 22:26] bording commented on #3678
I decided to test the behavior of VS 2015 in how it handles XML schemas, and it seems like it's actually pretty simple to get working.

If the xsd file is added directly to the project (for example via a nuget package) then as soon as you add the matching namespace to your XML element via the `xmlns` attribute, then the schema file will be used to provide validation.

On the other hand, if we don'

[2016-05-26 22:28] SeanFeldman commented on #3678
Don't shoot me yet... a sample that has it all set up?

[2016-05-26 22:56] bording commented on #3678
Yeah, an actual doco sample might be an even better idea, since then they could actually download a working file and not need to just copy and paste from the website.

[2016-05-26 23:04] ppittle commented on #3759
@danielmarbach - The NServiceBus.ServiceFabric project looks like a good start, but it doesn't have a "host". Should I re-post my comment on that repo?

[2016-05-26 23:14] ppittle commented on #3779
@andreasohlund, throwing a run-time exception might not be the optimal solution in this case.  Checking at run-time will incur a (albeit small) performance penalty.  But more importantly it defers providing uses with feed-back until run-time.

For cases like this, it would be nice to give a compilation error.  With [Roslyn Code Analyzers](https://msdn.microsoft.com/magazine/dn879356) you should be

[2016-05-27 00:16] ppittle commented on #3765
@danielmarbach, thanks for the clarification; didn't realize that `RegisterCancellationToken` was exclusive to `NServiceBus.Callbacks`.

Re:  NServiceBus, please post the decision; it's great getting such a perspective into the process at Particular.  And just wanted to throw this out there: I'd rather you add CancellationTokens parameters (even optional) in v6 that were *not* fully plumbed than w

[2016-05-27 07:09] timbussmann commented on #3779
@ppittle we also discussed Roslyn Analyzers and we think they would be a great tool to avoid Runtime exceptions. It's all about effort/value and this issue aims at "finding most mistakes with the least possible effort" while a Roslyn Anaylzer will mostly add more "comfort" by providing compile time errors. A Roslyn Analyzer should be able to find more "invalid" usages of `IMessageSession` but it a

[2016-05-27 07:13] andreasohlund commented on #3779
Agreed, but this will only happen once at startup so I think this is something that would be insignificant since we already to a fair amount of reflection already.

[2016-05-27 07:16] andreasohlund commented on #3779
@indualagarsamy I created this since this is the actionable item that was decided on the call on Wednesday. I'd say we keep the other as the parent issue until we agreed on the full plan of attack (async local, roslyn analyzer, guidance etc).

This way we can get this into the next beta.

Does this make any sense?

[2016-05-27 07:24] timbussmann commented on #3678
what about showing the schema on the docs page as here: http://docs.particular.net/nservicebus/messaging/file-based-routing#the-file (and one for MSMQ on the MSMQ specific config page) and embedding it in the dll. So we can verify the schema when loading the config and if users really want to use verify themselves they can take these schemas and host them wherever they want (we should have a sampl

[2016-05-27 07:53] danielmarbach commented on #3759
@ppittle No it is OK to leave it here. we'll keep track of it for you

[2016-05-27 08:07] yvesgoeleven commented on #3759
@ppittle What would you expect the host to do?

[2016-05-27 14:05] danielmarbach commented on #3771
@yvesgoeleven I pushed a fix for v6 at least

[2016-05-27 19:26] bording commented on #3748
So, if the `KeyNotFoundException` was prevented and instead in this scenario, you saw the following error message:

"The selected persistence doesn't have support for subscription storage. Select another persistence or disable the message-driven subscriptions feature using endpointConfiguration.DisableFeature<MessageDrivenSubscriptions>()"

Would that be enough, or would that still be confusing si

[2016-05-27 19:44] dvdstelt commented on #3748
No, I actually love this.

If people see "selected persistence" and start wondering why it says "selected", when they didn't select a persistence, they'll figure out on their own that there's a default persister used. So it is still a selection, but they didn't know they selected. But then they'll start wondering what else is a default setting and hopefully spend some time on how NServiceBus actua

[2016-05-27 19:54] ppittle commented on #3759
Here's most of the plumbing I needed to wire up to get NSB running on ASF:

https://gist.github.com/ppittle/37c5a37429a802f90e2b5fd5bca93410

So this Starts/Stops an Endpoint when ASF Starts/Stops the service.

[2016-05-30 09:26] mikeminutillo commented on #3748
Alternatively, the transport could be responsible for enabling by default the `Message Driven Subscription` feature which could depend on a `Persistence` feature and a `Receive` feature. If you don't have both then it doesn't get switched on. If you do have both then we can ask the Persistence feature at startup if it supports subscription storage and blow up if not.

Our feature landscape is rema

[2016-05-30 11:15] SimonCropp commented on #3723
done

[2016-05-30 11:15] #3723 closed

[2016-05-30 11:50] andreasohlund commented on #3755
PR is merged, closing

[2016-05-30 11:50] #3755 closed

[2016-05-30 11:50] andreasohlund commented on #3702
Given the latest round of releases isn't this one done?

[2016-05-30 11:52] SimonCropp commented on #3702
@andreasohlund well there is no doco. but there was no doco for the old behavior. so not sure how to proceed?

[2016-05-30 11:54] andreasohlund commented on #3702
Perhaps a note on http://docs.particular.net/nservicebus/pipeline/features#dependencies ? and a section in the upgrade guide?

[2016-05-30 12:03] SimonCropp commented on #3702
ok. will do it tomorrow

[2016-05-30 14:30] timbussmann commented on #3733
#3781 is merged, closing this

[2016-05-30 14:30] #3733 closed

[2016-05-30 14:34] timbussmann commented on #3734
fixed with #3781, closing this

[2016-05-30 14:34] #3734 closed

[2016-05-30 16:06] danielmarbach opened #3785 "CancellationToken support for EndpointInstance, MessageSession and/or handler context"
Relates to https://github.com/Particular/NServiceBus/issues/3765

As it stands right now the high-level APIs like endpoint instance, message session and handler context do not provide cancellation support via `CancellationToken`. We have been discussing it in the past but implicitly decided not to do it for v6 and add cancellation support as a feature for minor versions. While this is an acceptabl

[2016-05-30 16:07] danielmarbach commented on #3785
@Particular/nservicebus-maintainers Thoughts? Let's align and make the decision whether we need this for v6 or not.

[2016-05-30 20:42] #3365 closed

[2016-05-30 20:42] MarcinHoppe commented on #3365
Closing.

[2016-05-30 20:57] SeanFeldman opened #3787 "Cannot set error queue on a remote server for MSMQ"
Raised in GG: [here](https://groups.google.com/forum/#!topic/particularsoftware/tn6ihLnjjK0)

The issue appears to be when the message pump for MSMQ transport is validating input queue to be a local one. Rather than performing the test on the input queue, it [tests the error queue instead](https://github.com/Particular/NServiceBus/blob/896c5dfa8efe3f2e92491643ae0e436022a1db28/src/NServiceBus.Core/

[2016-05-31 03:10] #3702 closed

[2016-05-31 07:29] danielmarbach commented on #3765
@ppittle I raised another issue to track the outcome

https://github.com/Particular/NServiceBus/issues/3785

[2016-05-31 08:33] danielmarbach opened #3789 "Split Acceptance Test into relevant for downstream and core only"
Split Acceptance Test into relevant for downstream and core only

[2016-05-31 08:33] danielmarbach commented on #3789
@Particular/nservicebus-maintainers place holder

// cc @SimonCropp

[2016-05-31 09:04] timbussmann opened #3790 "Deprecate Remove from PipelineSettings-API"
After a discussion with @andreasohlund and @SimonCropp we couldn't come up with a scenario where removing a behavior would make sense. In the worst case you could still replace a behavior with an empty dummy.

[2016-05-31 09:34] timbussmann commented on #3787
why does that have a 7.0.0 milestone?

[2016-05-31 15:43] timbussmann commented on #3785
I don't see as cancellation support bringing such a huge value to the table that it needs to be included in the 6.0 release. Not a big fan of adding the parameters without actually using them.

[2016-05-31 16:13] danielmarbach commented on #3785
It could mean we'll have to wait for next major then. And like I said, fan
or not, the concept cooperative cancellation would allow us to build the
functionality step by step

[2016-05-31 16:43] SeanFeldman commented on #3785
If releasing another major will happen fast, perhaps not an issue. But history tells us it's not the case, so what @danielmarbach is suggesting sounds right.

[2016-05-31 17:58] SeanFeldman commented on #3787
@timbussmann to draw your attention. Target achieved, check.
Probably my world is mostly v7 (Azure). :)

[2016-05-31 19:53] bording commented on #3785
What are the scenarios around cancellation that make sense for us? Is this just about allowing a way to use a cancellation token to shut down an endpoint? Is trying to cancel an individual message send even something we'd want to try and support?

I'm all for supporting cancellation where it makes sense, but I don't yet see the benefit in trying to say we support cancellation everywhere, even for

[2016-05-31 22:08] bording commented on #3748
I spent some time looking at this, and while it's a change that could be made, I'm not sure I see the benefit of inverting the dependency at this point.

Currently, all of the persistence subscription storage features depend on `MessageDrivenSubscriptions`, so disabling that ends up disabling the entire subscription storage registration, which then causes the endpoint to blow up with an `'Autofac.

[2016-06-01 07:49] timbussmann commented on #3785
I'm good with that.

I was thinking about this too. From our perspective it's mostly shutting down the bus I think. From a user perspective there may be send scenarios where you want to cancel after a certain time (e.g. when the broker is unavailable and the default timeout is not good enough?) [completely made that up, not sure whether that really is a scenario]. How many of the used transport/pe

[2016-06-01 09:19] distantcam commented on #3785
Could we add the cancel versions as overloads? That way we wouldn't need to wait for the next major.

I'd rather wait and do it right than rush this now.

[2016-06-01 10:08] danielmarbach commented on #3785
@distantcam I specifically would like to just add the overloads in this version but not implement it and then gradually implement the mechanics underneath in coming minors.

[2016-06-01 10:09] distantcam commented on #3785
Not implement it? I don't like that idea.

[2016-06-01 10:18] danielmarbach commented on #3785
Let me rephrase:

Implement as much as we think it makes sense for this release.

Most pragmatic simple one would be to not invoke the underlying operation if the token is cancelled (early exit). Depending on how much we want to invest we can implement more or leave out the work for future minors.

[2016-06-01 10:56] MarcinHoppe opened #3794 "Allow using a fixed IV in encryption tests"
This is a new attempt to solve #3365. The original attempt fixed random failures but made the test cover code paths that were already tested.

A new approach allows the test to eliminate the randomness that comes from allowing the `RijndaelManaged` class to generate a random IV by overriding the IV generation.

[2016-06-01 11:31] timbussmann commented on #3725
fixed with #3784

[2016-06-01 11:31] #3725 closed

[2016-06-01 16:06] timbussmann commented on #3790
@Particular/nservicebus-maintainers any objections?

[2016-06-01 16:12] timbussmann commented on #3776
This is only an issue when using NHibernate, right? Would implementing `IContainSagaData` instead allow to use the RowVersion attribute be an usable workaround?

I think the `ContainSagaData` class should remain, it removes noise for most users.

[2016-06-01 16:14] dvdstelt commented on #3776
Should we have rowversion automatically added as well, but just in NH persister? That would definitely add something, I think. Not sure on solution to choose though.

[2016-06-01 16:14] timbussmann commented on #3776
do all nhibernate users want/need to use that attribute?

[2016-06-01 16:35] danielmarbach commented on #3790
No objections. Making it harder by forcing to replace existing ones seems to be a good move

[2016-06-01 16:37] timbussmann commented on #3729
@ramonsmits is this only an issue on v5 or also on v6? Can describe how to reproduce the issue (or provide a simple repro?). In case of a runtime exception I'd say this would classify as a bug.

[2016-06-01 16:58] danielmarbach commented on #3776
I originally proposed this base class. In the meantime I think it is gold
plating of DRY. A bade class for 3 properties? Really?

On Wednesday, June 1, 2016, Dennis van der Stelt <notifications@github.com>
wrote:

[2016-06-01 19:23] indualagarsamy commented on #3779
Discussed this with @SimonCropp and @SeanFeldman who also think that this issue is a duplicate of https://github.com/Particular/NServiceBus/issues/3749. Closing this issue and will move the relevant comments over to https://github.com/Particular/NServiceBus/issues/3749

[2016-06-01 19:23] #3779 closed

[2016-06-01 19:24] indualagarsamy commented on #3749
Comments from @ppittle

For cases like this, it would be nice to give a compilation error. With Roslyn Code Analyzers you should be able to write a rule that captures this scenario and provides users faster feedback.
Might not work in all scenarios (ie old versions of VS / .net framework), but thought I'd throw it out there.

[2016-06-01 19:24] indualagarsamy commented on #3749
Comments from @timbussmann

[2016-06-01 19:25] indualagarsamy commented on #3749
Comments from @andreasohlund

Agreed, but this will only happen once at startup so I think this is something that would be insignificant since we already to a fair amount of reflection already.

[2016-06-02 03:44] SimonCropp opened #3798 "`WindowsIdentity.GetCurrent()` can return null"
http://referencesource.microsoft.com/#mscorlib/system/security/principal/windowsidentity.cs,804

but we have some with no null check

[2016-06-02 04:48] johnsimons opened #3799 "System.ArgumentException was unhandled - Address contains multiple @ characters"
This was reported in https://groups.google.com/d/msg/particularsoftware/3m2OF4qH1LQ/qhqnV-cgKAAJ

To reproduce:
Download https://github.com/Particular/docs.particular.net/tree/master/samples/pubsub/Core_6
and modify https://github.com/Particular/docs.particular.net/blob/master/samples/pubsub/Core_6/Subscriber1/App.config
to something like:
[code]

Exception:
[code]

[2016-06-02 06:29] SzymonPobiega commented on #3678
Did we arrive to a conclusion here?

[2016-06-02 06:29] #3743 closed

[2016-06-02 06:46] timbussmann commented on #3776
three properties regular users probably don't care about. So adding them for every saga data seems to be unnecessary noise? I don't we should remove if it's only for nhibernate users (even all of them?) in case we have a relative simple workaround?

[2016-06-02 06:51] andreasohlund commented on #3776
The saga master class people seems to like it since they wouldn't have the "infastructure stuff" that we need right in their face all the time.

Side note: This becomes a non issue when we move to the new saga model - https://github.com/Particular/PlatformDevelopment/issues/546 since that would move all that cruft out of the users way.

I think it does add value so I'm :+1:  to keep it

[2016-06-02 06:55] andreasohlund commented on #3798
@timbussmann I have a faint memory your removed one because R# complained, could that be a R# bug?

[2016-06-02 07:35] timbussmann commented on #3678
@SzymonPobiega no

open questions are still:
* should we provide a schema at all. If yes, how?
* should we validate the received config against that schema?

[2016-06-02 07:38] timbussmann commented on #3798
no resharper bug, the call we used internally always sets the `bool threadOnly` to false and therefore it can never be null.

[2016-06-02 07:52] SimonCropp commented on #3798
Ok

[2016-06-02 07:52] #3798 closed

[2016-06-02 10:01] SzymonPobiega commented on #3678
:-1: for schema validation. *Be conservative in what you do, be liberal in what you accept from others*. I think selecting the nodes via LinqToXml can do the job quite nicely

My initial idea is to use the schema more as a documentation thing, taking advantage of the fact that XML documents can be described unambiguously via XSD. I still believe there is value in such usage of schema.

[2016-06-02 10:54] SzymonPobiega commented on #3799
Fixing this as part of making routing RC ready: https://github.com/Particular/NServiceBus/pull/3801

[2016-06-03 02:19] SimonCropp commented on #3799
@SzymonPobiega shouldnt this be closed now?

[2016-06-03 07:33] SzymonPobiega commented on #3799
@SimonCropp I wanted to wait until the PR is merged. No closing.

[2016-06-03 07:33] #3799 closed

[2016-06-03 15:49] timbussmann commented on #3794
closing this since #3795 has been merged :+1:

[2016-06-03 15:49] #3794 closed

[2016-06-03 15:53] timbussmann commented on #3638
@SzymonPobiega I think we can close this, any objections?

[2016-06-03 15:55] ramonsmits commented on #3729
@timbussmann This is V5, don't know if V6 has a similar issue.

How to reproduce

- create project
- select persistence in the API
- exclude that assembly from the scanned assemblies

You should now get this error.

[2016-06-03 15:58] timbussmann commented on #3526
@Particular/nservicebus-maintainers I'm leaning toward keeping the tests & namespaces as is for now. I don't see much value gained by changing the namespace rules and we haven't even come up with some better rules (I don't think we should remove the namespaces). Should we close this?

[2016-06-03 16:17] timbussmann commented on #3347
@SzymonPobiega would you be able to raise this issue in PDev (+ including the outcome of the discussions so far)?

[2016-06-03 16:19] SzymonPobiega commented on #3347
Yeah i will. I have it in my inbox do feel free to close this one. I need
to reword my proposal slightly.

On Friday, 3 June 2016, Tim Bussmann <notifications@github.com> wrote:

[2016-06-03 16:27] #3347 closed

[2016-06-03 18:56] SzymonPobiega commented on #3638
No objections.

On Friday, 3 June 2016, Tim Bussmann <notifications@github.com> wrote:

[2016-06-03 19:03] #3638 closed

[2016-06-03 19:15] SeanFeldman commented on #3787
fixed via https://github.com/Particular/NServiceBus/commit/2245dc55cebb21137f8caf106b04be8d46f9b584

[2016-06-03 19:15] #3787 closed

[2016-06-05 09:06] #3526 closed

[2016-06-06 18:34] DavidBoike opened #3807 "Installers cannot be invoked by NServiceBus.Host"
Replaces https://github.com/Particular/NServiceBus.NHibernate/issues/197, originally raised by @janpieterz.

When the Host is installed, in order to invoke installers, it [creates an IStartableEndpoint but does not ever call `Start()`](https://github.com/Particular/NServiceBus.Host/blob/release-7.0.0/src/NServiceBus.Hosting.Windows/GenericHost.cs#L66-L94).

In V5 this worked because the installers

[2016-06-06 19:39] bording commented on #3807
Taking a quick look at this, it seems like it would be pretty straightforward to move the `RunInstallers()` code from `StartableEndpoint` to `InitializableEndpoint` so that the installers would run when `Create()` was called instead of `Start()`. If we did this, we could also look at not needing to register the installers in the container, though I suppose there could be installers that are depend

[2016-06-06 19:47] tekmaven opened #3808 "v6 IConfigureThisEndpoint Move Complicates Multi-Hosted Endpoint"
We primarily use `NServiceBus.Hosting.Azure` to host our endpoint in a Cloud Service.  In the development environment, we use `NServiceBus.Host` to host the endpoint locally.  In NSB v5, `IConfigureThisEndpoint` was defined in `NServiceBus.dll`, and each hosting endpoint automatically found and executed this.

In v6, this was moved to the host assemblies at the same exact namespace - `NServiceBus.

[2016-06-06 20:02] yvesgoeleven commented on #3808
@tekmaven try to run your on https://www.nuget.org/packages/NServiceBus.Hosting.Azure.HostProcess/7.0.0-beta0001 in your dev env instead of NServiceBus.Host

[2016-06-07 02:45] mikeminutillo opened #3811 "Make `ErrorQueueSettings` and `AuditConfigReader` public"
Currently in V6 there is no way outside of the core to discover the location of error/audit queues. This functionality is provided by `ErrorQueueSettings` and `AuditConfigReader`. If we expose these two classes then other plugins will be able to make use of this information.

This is currently required by the [ServiceControl V6 plugins](https://github.com/Particular/ServiceControl/issues/742).

[2016-06-07 07:34] andreasohlund commented on #3811
I rather have a custom extension method on `ReadonlySettings` or similar instead ?

Eg:

FeatureX.Setup(context)
  `var error = context.Settings.GetErrorQueue()`

[2016-06-07 08:23] timbussmann commented on #3807
sounds good to me at first glance

[2016-06-07 09:37] timbussmann commented on #3729
tested it v6 and the endpoint starts to fail if you use a persistence and manually exclude that dll like here: `busConfig.ExcludeAssemblies("NServiceBus.RavenDB");`. Not sure whether we need to change something here. It's not that surprising that this doesn't work out well, especially with the exclude approach in v6 (and it's not critical enough to change the v5 behavior). I would consider this a

[2016-06-07 16:40] SeanFeldman commented on #3808
@tekmaven does that work for you?

[2016-06-07 16:50] SeanFeldman commented on #3808
@tekmaven I've raised an [issue](https://github.com/Particular/docs.particular.net/issues/1583) to document this option.

[2016-06-07 17:15] bording commented on #3729
I think this reinforces why the move to an exclude-only approach in v6 is a good idea.

While this is less ideal with the v5 whitelisting of assemblies, I agree with @timbussmann that this doesn't feel critical enough to be worth going back and making a change at this point.

[2016-06-07 17:23] SeanFeldman commented on #3721
2nd that. `ExposeSettings` has `.UnicastRouting()` that makes it very strange.

`endpointConfiguration.UseTransport<AzureServiceBusTransport>().UnicastRouting()`

Which is polluting the API.

[2016-06-08 03:21] mikeminutillo commented on #3811
@andreasohlund like [this](https://github.com/Particular/NServiceBus/pull/3812)?

[2016-06-08 03:23] mikeminutillo commented on #3811
I've put this into In Progress under the maintainer budget because I'm doing it in order to fix the SC plugins. In essence this is happening under the SC maintainer budget.

[2016-06-08 14:07] timbussmann commented on #2783
closing this as this is done with #3791

[2016-06-08 14:07] #2783 closed

[2016-06-08 19:27] ramonsmits commented on #3729
@timbussmann Start to fail is better then the NRE while the instance is running. If you bump your head against this you really don't have any idea what the cause is.

As @SimonCropp mentioned somewhere, we should never throw a NRE.

[2016-06-08 22:12] SimonCropp commented on #3729
@ramonsmits can u reproduce this in v6?

[2016-06-09 12:13] tmasternak commented on #3772
@Particular/nservicebus-maintainers I've removed the `Consider for: Project V6 launch` label. If you think that should be done before RC and is small enough please add the `Project: V6 launch` label yourself.

[2016-06-09 13:34] timbussmann commented on #3659
closing this as #3655 solved the issue with `PendingTransportOperations` and it seems that the other connectors are replaceable.

[2016-06-09 13:34] #3659 closed

[2016-06-09 13:35] timbussmann commented on #3748
I think we can close this issue @bording ?

[2016-06-09 13:49] timbussmann commented on #3236
sidenote: this property is only used in features for prerequiste checks. non durable messages should still work.

[2016-06-09 14:11] bording commented on #3748
Yes, fixed by #3793.

[2016-06-09 14:11] #3748 closed

[2016-06-10 11:59] timbussmann opened #3820 "Failed messages are not raised when acceptance test times out"
When an acceptance test reaches it's timeout it throws an exception and ends the test. In this case, all messages sent to the error queue aren't raised as exceptions as they would otherwise. Since failed messages are the most common scenario of tests timing out, this effectively hides the root cause of failing tests.

[2016-06-10 12:00] timbussmann commented on #3820
https://github.com/Particular/NServiceBus/pull/3819 solves this issue by checking for failed messages when the timeout is reached and throwing the failed messages instead of the timeout exceptions.

[2016-06-10 14:33] timbussmann commented on #3729
@SimonCropp as described above, I could reproduce an exception when excluding a persistence assembly. The excption occured at startup and was not a NRE (I think some binding issues), but as mentioned above, for v6 I wonder whether we really need to handle this scenario where users explicitly exclude an assembly which they obviously(?) need.

as for v5, I think this is not critical. I vote to close

[2016-06-10 14:36] timbussmann commented on #3807
this should be fixed with brandon's PR, should we keep that open until beta5 is out to verify it works on the host?

[2016-06-10 14:42] timbussmann commented on #3771
closing this as this should be fixed by #3782. Feel free to reopen.

[2016-06-10 14:42] #3771 closed

[2016-06-10 14:50] timbussmann commented on #3732
@SimonCropp so while I agree this should be treated as bug, the only impact currently is a wrong directory name, right?

[2016-06-10 14:53] timbussmann commented on #3714
fixed by #3716

[2016-06-10 14:53] #3714 closed

[2016-06-10 14:55] timbussmann commented on #3711
I think this should be fixed by this change: https://github.com/Particular/NServiceBus/pull/3716
Please feel free to reopen if the test is failing.

[2016-06-10 14:55] #3711 closed

[2016-06-10 14:59] timbussmann commented on #3689
I can see some potential impact by this issue, but the scenario which is hit by this bug seems to be quite unlikely/rare. Shall we close this? @Particular/nservicebus-maintainers

[2016-06-10 15:02] timbussmann commented on #3577
closing this as this is no issue in v6 and it's probably not worth to backport. Feel free to reopen/challenge that decision. /cc @WojcikMike

[2016-06-10 15:02] #3577 closed

[2016-06-10 15:04] timbussmann commented on #3443
closing this and assigning to v6 as suggested by @andreasohlund

[2016-06-10 15:04] #3443 closed

[2016-06-10 15:18] ramonsmits opened #3821 "Ability to hook into the outgoing message to set native message properties"
It is not possible to change native message properties. It would be nice if a customer would add or change native message properties / values. This would give a customer the ability to make use of native features which might not be supported by NServiceBus.

Each transport will have its own type of native message but maybe we can define a couple of common logical steps. Maybe this is upto each tra

[2016-06-11 09:25] SimonCropp commented on #3732
Correct. Very minor bug

[2016-06-12 16:51] valeriob opened #3822 "Assembly scanning makes startup very slow"
I'm tring to move from 5 to 6, and i disovered that configuration.AssembliesToScan has been removed, now just the act of scanning the bin directory takes 3s on every startup, and it's added on every dev cycle.

For example in my current project it takes 3.8s to run AssemblyScanner.GetScannableAssemblies the first time (a lot of those assembly will be loaded eventually anyway) and 1s the next times

[2016-06-13 08:38] seesharper opened #3824 "Open Source License"
I am the author of the LightInject DI framework and more and more people are asking for an integration for LightInject. The last time I attempted this I got in trouble with a missing NServiceBus license after a certain period of time. I think it was a month or so. I would very much like to make this integration happen, but that requires me to reliably being able to pull down the NServiceBus and NS

[2016-06-13 08:57] timbussmann commented on #3822
Hey @valeriob,

A reason for the current v6 API was to prevent configuration mistakes from happening. We made the experience that it's very easy to miss required assemblies when using `AssembliesToScan` (since NServiceBus also uses the assembly scanning to load "plugin" packages) which was one of the reasons to switch to an exclude-only approach.

3.8s is quite a while and that's seems to be somet

[2016-06-13 09:10] valeriob commented on #3822
Thanks @timbussmann i think the development experience is very important when using nsb and i really appreciated the speedup we got with version 5 and now 6.
What i would like to avoid is that the samples and small projects are very lean and fast, but when you use nsb in large projects it slows down the dev experience.
I think for the future would be good to have a powerfull fast advanced api (no

[2016-06-13 09:28] timbussmann commented on #3822
Fully agree with you :+1:

seems perfectly reasonable from a messages/handlers perspective. But there should be a solution which ensures that it's not possible to accidentally exclude NServiceBus assemblies from loading properly. While the new "exclude-only" approach reduces this risk a lot, it comes with the downsides experienced by you.

thanks again for sharing the upgrade experience from your

[2016-06-13 09:44] dadhi commented on #3824
+1, interested for potential [DryIoc](https://bitbucket.org/dadhi/dryioc) integration.

[2016-06-13 12:11] valeriob commented on #3822
After a quick test i can say that restoring the method AssembliesToScan reduces my startup cost by 1.5s

![image](https://cloud.githubusercontent.com/assets/1522516/16007051/96e6d9ba-3170-11e6-9d74-2a9190c23038.png)

[2016-06-13 21:07] Supercide opened #3829 "single saga timeout message being processed by multiple nodes"
Hi

We have noticed some strange behaviour where timeout messages are being processed by more then one node. AFAIA a single message should only be processed by one node.

The offending message has the same message id and identical header details apart from the processed by header. this seems to be happening intermittently and we are still looking into the steps to reproduce. We are currently using

[2016-06-14 07:12] timbussmann commented on #3829
Hey @Supercide,

Thanks for reporting this issue. Due to the nature of the the timeout management implementation, there is a low chance of dispatching a timeout multiple times. This is a trade-off we currently can't avoid on transports which don't support DTC to avoid message loss. Can you give us some insights on how often you are receiving duplicate messages (since this should be very rare)?

Ar

[2016-06-14 11:23] timbussmann opened #3831 "Make exception and retry counter available to custom SLR policy"
The current custom SLR policy is defined as `Func<IncomingMessage, TimeSpan>`. The documentation ( http://docs.particular.net/nservicebus/errors/automatic-retries#second-level-retries-custom-retry-policy ) shows how to extract the exception and retry counter from the message headers, but in v6 these headers aren't present on the incoming message ( https://groups.google.com/forum/?utm_medium=email&

[2016-06-14 11:47] timbussmann commented on #3831
(note that the acceptance tests verify the presence of the headers but they only succeed because the headers are present after the first SLR retry attempt)

[2016-06-14 15:43] #3729 closed

[2016-06-14 15:56] timbussmann commented on #3821
if it's a native feature which is supported by multiple transports, that would probably something which could be added to the `DeliveryConstraints` like non-durable messages. If it's only a single transport, I think that would be an issue for the transport to solve, making transport specific things available through abstract core APIs doesn't sound like a good approach?

[2016-06-14 21:50] bording opened #3833 "TimeoutPersisterReceiver in V5: New timeouts trigger querying the store two times"
The issue described in #3300 and fixed in #3540 for V6 is a problem for the V5 `TimeoutPersisterReceiver` as well.

@indualagarsamy and I have been working on a support case where this is the root cause of the problems being encountered.

Seeing how this needlessly creates duplicate messages, I propose we backport the fix to V5 and release a hotfix.

Any objections?

[2016-06-14 21:53] indualagarsamy commented on #3833
@Particular/nservicebus-maintainers - Please respond on if we can back port this fix. I agree with @bording, this needs to be back ported IMO.

[2016-06-14 22:06] bording commented on #3829
To follow up on @timbussmann's comment, when running multiple instances of a single endpoint, duplicate timeout messages are expected. Each instance is running its own timeout poller, and if they both happen to poll at the same time and there is an expired timeout, then they will both send a copy of the timeout message.

Because of this, we recommend that timeout handlers be idempotent, so that th

[2016-06-15 08:46] timbussmann commented on #3824
hey @seesharper and @dadhi ,

Great to hear that you are interested in support NServiceBus for your DI containers :+1: !

That sounds weird to me. Running the tests shouldn't be tied to a license in any way. Can you describe the problem you're running into?

As an open source project you are entitled for a NServiceBus license if you are following the requirements of the [RPL 1.5](https://opensourc

[2016-06-15 09:21] timbussmann commented on #3822
@valeriob what's the difference in startup time between release and debug mode on your project?

[2016-06-15 09:53] valeriob commented on #3822
i could check it out, but i'm trying to improve dev performances.

[2016-06-15 09:59] SimonCropp commented on #3822
@valeriob so it is not possible for you to speed up startup by using the exclude API?

[2016-06-15 10:07] timbussmann commented on #3833
quoting from the linked issue (#3300):

there was an nhibernate persistence issue which didn't  handle the `startSlice` value properly (it should exclude timeouts which are **equal** or earlier than `startslice`) if I remember correctly. Can you define the scenario where an immediate second query to the timeout would return the same timeout again?

[2016-06-15 12:57] bording commented on #3833
@timbussmann I think the issue you're referring to is https://github.com/Particular/NServiceBus.NHibernate/issues/145, but no change has actually been made related to that yet.

This is how it's currently defined in all of the persistences I've looked at while investigating this:

https://github.com/Particular/NServiceBus.NHibernate/blob/develop/src/NServiceBus.NHibernate/TimeoutPersisters/Timeout

[2016-06-15 20:07] bording commented on #3833
So, after talking with @timbussmann a bit about this, it looks like we've got two things working together to cause this issue.

First, as pointed out, we are triggering an immediate re-poll without a delay in some cases. On it's own, this isn't a problem, though I'm not clear on why this was considered desirable behavior (or is it a bug?)

The other part of this that caused the problem is how the

[2016-06-15 20:58] bording commented on #3721
This is fixed by #3816.

[2016-06-15 20:58] #3721 closed

[2016-06-15 22:48] SeanFeldman opened #3837 "Subscription Authorization in v6"
Looking at the difference between v5 and v6 for [subscription authorisation](http://docs.particular.net/nservicebus/msmq/subscription-authorisation), it looks like NSB is adding unnecessary complexity to get the data that could be passed into the func or, alternatively, be available off the `context`.

To perform authorisation, one has to get the message type, the client endpoint, and the intent.

[2016-06-16 07:23] timbussmann commented on #3833
as far as I know `Time > startSlice` is definitely the one we should use. Wondering why this was changed for raven 4.0 (seems to be a mistake, but not sure about the impact because of the removed immediate repoll).

Since there is no 100% way to avoid duplicates outside of DTC scenarios I'm a bit on the fence about the effort to go down the "remove the immediate repoll" rabbit hole seeing as we fi

[2016-06-16 08:39] dvdstelt opened #3839 "Validation error implies working behavior of IMessage for pub/sub"
When publishing a message marked with IMessage the following warning is displayed:

This implies that it works, but NServiceBus never sends subscription messages to the publisher. I think we should at the very least change the message. But perhaps when scanning for handlers & messages we should throw an exception saying that a subscription message is never sent?

It concerns this validation messag

[2016-06-16 14:19] timbussmann commented on #3236
fixed with with #3819

[2016-06-16 14:19] #3236 closed

[2016-06-16 15:44] timbussmann commented on #3839
you're talking about the autosubscribe feature here, right? Does bus.scrube work with an IMessage object?

[2016-06-16 15:52] timbussmann commented on #3837
preferring option2, as we used the same approach on the custom SLR policy.

[2016-06-17 07:15] danielmarbach commented on #3831
I agree this should be fixed. Since we demonstrate it users are going to assume it just works.

[2016-06-17 12:22] dvdstelt commented on #3839
Just verified and it does.

[code]

and then

[code]

will make sure the subscription does work. You think we should rather change it to something like this?

[2016-06-17 12:24] dvdstelt commented on #3839
Some background info from @DavidBoike on Slack. Isn't really necessary, but always good to read more context on the why and what.

[2016-06-20 09:20] Supercide commented on #3829
Hi @timbussmann and @bording  thanks for the speedy replies, apologies for my slow one.

We are indeed running multiple instances of the same endpoint. The frequency is quite often, we see at least 2-3 a day but these are only for the ones that throws an exception when processed more than once. we do however have a high volume of messages flowing through our system so 2-3 is not that big of a numb

[2016-06-20 09:20] #3829 closed

[2016-06-20 09:27] timbussmann commented on #3829
Thanks for the update @Supercide. Glad to hear that the amount of duplicates is a manageable amount. Please also not that there is a know issue with some of the persistence options, including MongoDB which have a minor bug which can cause more duplicates than necessary which most like is what you're experiencing. We are working on this issue and try to get that into the MongoDB persistence too, so

[2016-06-20 10:28] SzymonPobiega opened #3844 "Remove all behavior registration methods that take `Type`"
In V6 we changed the pipeline bootstrap behavior so that all the behavior instances are crated on start up rather than per-message.

Unfortunately we still have behavior registration methods such as:

[code]

which take a type (or are generic). The way they work is they resolve the instance from the container **only once** (on start up) so they effectively ignore any life cycle settings users defi

[2016-06-20 10:30] SzymonPobiega commented on #3844
@Particular/nservicebus-maintainers please take a look. It is related to [this doco pull](https://github.com/Particular/docs.particular.net/pull/1606) and the comments by @weralabaj . TL;DR there is no way to unambiguously document how this works now.

[2016-06-20 12:12] timbussmann commented on #3844
but the factory also is only invoked once per pipeline if I remember correctly, so that would actually match the behavior of the type based overload? The type based overload has a good chance to get removed anyway when we remove the internal container usage, so not generally against it, but I'm not sure whether the argumentation here is really valid (since the factory overload also could lead you

[2016-06-20 12:15] weralabaj commented on #3844
it's ok assuming that everybody will read the doco before just using that method. if not then you're up for a really nasty investigation.

when is that planned for?

[2016-06-20 12:16] SimonCropp opened #3845 "RuntimeEnvironment.MachineName should not be static"
- Makes it hard to test code that is based on it
- we support multiple endpoints per appdomain. so is there never a requirement to have different MachineName values per endpoint?

[2016-06-20 12:17] SimonCropp opened #3846 "RuntimeEnvironment.MachineName should not be a delegate"
since it is executed in the pipeline it means if people put expensive code in the delegate it could significantly slow down message processing

[2016-06-20 12:22] SzymonPobiega commented on #3844
@timbussmann the problem (which we have one documented occurrence on GG) is that if you just upgrade from V5 to V6, it continues to work but the behaviors are no longer per-call. No compile errors that would tell you to change code. That's why I strongly suggest removing the container-dependency type-based APIs. They simply don't work as they promise. I see no reason to keep them if we can't prope

[2016-06-20 12:31] yvesgoeleven opened #3847 "KeyNotFoundException when using UnitOfWork().WrapHandlersInATransactionScope()"
When using UnitOfWork().WrapHandlersInATransactionScope() the core throws a KeyNotFoundException with message 'The given key (NServiceBus.TransportTransactionMode) was not present in the dictionary'

setting transportConfiguration.Transactions(TransportTransactionMode.SendsAtomicWithReceive) solved the problem for me, but the exception message could be clearer

[2016-06-20 12:56] timbussmann commented on #3844
some future releases :laughing:

@SzymonPobiega let's play through the upgrade story if you had this code in v5 then:
[code]

if we remove this overload you would just change your code to

[code]

and you would still make the same assumptions.

I don't think this makes it much better. It removes one source of potential misunderstanding and just drives you to another API with the exact same issue?

[2016-06-20 13:07] SzymonPobiega commented on #3844
@timbussmann when you update package to V6 line

[code]

will show as error with a proper obsolete message to use the factory method. Assuming people read error messages (I know that can be successfully challenged ;-) one might expect that a proper factory method will be used. But nothing is bulletproof.

[2016-06-20 13:10] andreasohlund commented on #3811
@mikeminutillo given that https://github.com/Particular/NServiceBus/issues/3812 is merged can we close this one?

[2016-06-20 13:13] andreasohlund commented on #3807
Let's verify this locally on the host and close this?

@DavidBoike can you check if the fix is good?

[2016-06-20 16:16] timbussmann commented on #3845
not sure in what scenario you really want to have a different machine names when using multiple endpoints per appdomain but from a testing perspective it makes sense to avoid the statics.

[2016-06-20 16:41] yvesgoeleven commented on #3847
@andreasohlund V6

[2016-06-20 20:13] andreasohlund commented on #3847
Found the issue, fix proposed here https://github.com/Particular/NServiceBus/pull/3848

[2016-06-21 02:19] mikeminutillo commented on #3811
@andreasohlund yep. Still waiting on the release of beta5 so that I can update the downstreams properly but this issue is done.

[2016-06-21 02:19] #3811 closed

[2016-06-21 08:28] SzymonPobiega opened #3849 "Patch old versions of NSB to include logical endpoint information in the subscribe messages"
This will streamline integration with V6 in MSMQ scale-out scenarios. Currently when V5 subscribes to an event published by a V6 scaled-out endpoint, that endpoint needs to have distributor in front of it.

### Background

In V5 the only scale-out option for MSMQ is the distributor. In that mode workers, when subscribing, send `Subscribe` messages containing the type they want to subscribe and, in

[2016-06-21 08:30] timbussmann commented on #3849
@SzymonPobiega can you describe what exactly would be required for v5 endpoints to be able to properly subscribe to v6 endpoints?

[2016-06-21 14:13] timbussmann commented on #3831
will be fixed in v6 with #3832. Closing this.

[2016-06-21 14:13] #3831 closed

[2016-06-21 14:13] timbussmann commented on #3820
fixed with #3819

[2016-06-21 14:13] #3820 closed

[2016-06-21 14:20] timbussmann commented on #3689
I'm going to close this since there were no further arguments why we should backport a fix to v5. Feel free to reopen if you disagree.

[2016-06-21 14:20] #3689 closed

[2016-06-21 14:31] timbussmann commented on #3251
closing this as suggested

[2016-06-21 14:31] #3251 closed

[2016-06-21 14:31] mowensoft opened #3852 "XmlSerializer doesn't use custom Namespace"
The `XmlSerializer` continues to use the default namespace, `http://tempuri.net`, even when a custom namespace is specified.  I only notice this issue when actually sending messages from a running endpoint; cloning the repo and running the unit tests all pass as expected.  I tested this against version 6.0.0-beta0004 and 6.0.0-beta0002.

I'm not 100% sure how/when the configuration and `SettingsHo

[2016-06-21 14:34] timbussmann commented on #3082
@tmasternak is this a scenario where the test uses `Repeat` to run multiple configurations of the test? if so, would these changes actually solve the issue: https://github.com/Particular/NServiceBus/pull/3841/files#diff-4ca9b583e070df8435b9aea8f58708a4L44 ?

[2016-06-21 14:42] timbussmann commented on #3074
@andreasohlund that looks like something which should be fixed before the v6 release?
Would it be best to remove the obsolete on `Storage` and instead make sure that all API's accepting a `Storage` parameter are properly obsoleted (as `For` is)?

[2016-06-21 14:53] DavidBoike commented on #3807
Verified it works with NSB.NHibernate beta 4, Host beta 3, and Core #6.0.0-beta.5+2 build from TeamCity. :+1:

[2016-06-21 14:53] #3807 closed

[2016-06-21 15:53] stimms opened #3853 "Internal visibility for FeatureConfigurationContext makes testing awkward"
I'm trying to build a custom persister and I'm finding it difficult to properly test the feature creation. This is because the `Setup` method requires a `FeatureConfigurationContext` whose only constructor is internal. This, obviously, makes it painful to pass in my own implementations of Feature around this. I've pulled as much logic as I can out of that class into a testable one but it still lea

[2016-06-21 15:56] timbussmann commented on #3852
Hey @mowensoft,

You're right, it seems like the `Namespace` extension doesn't work at all in the v6 beta. That's definitely something which needs to be fixed before the release candidate.

Thanks a lot for reporting the issue and providing a test to reproduce the issue! :+1:

[2016-06-21 16:31] ramonsmits opened #3854 "When a subscription message cannot be delivered an unhandled exception exits the process"
When a subscription message is sent its seems to be done on a separate thread. If an exception occurs like the following the process just exists. [This is because its an unhandled exception on a threadpool thread](https://github.com/Particular/NServiceBus/blob/master/src/NServiceBus.Core/Unicast/Subscriptions/MessageDrivenSubscriptions/SubscriptionManager.cs#L29).

The offending line is:

* https:

[2016-06-21 17:11] bording commented on #3853
Hi @stimms,

Which version of NServiceBus are you currently targeting? We have improved the testing scenario for V6 by including testable versions of the various context classes we've introduced. However, it does appear that a `TestableFeatureConfigurationContext` is not currently included. We'll have to look into adding that one.

In general, the approach of keeping logic out of the actual Featur

[2016-06-21 17:23] andreasohlund commented on #3854
Yea :(

We only do this to get a better F5 experience for MSMQ (see #2950) . What version is this btw?

[2016-06-21 17:47] stimms commented on #3853
I'm working against V6. My implementation isn't fully fleshed out yet but if we take the NHibernate implementation as an example https://github.com/Particular/NServiceBus.NHibernate/blob/develop/src/NServiceBus.NHibernate/SagaPersisters/NHibernateSagaStorage.cs it performs model mapping.

[2016-06-21 22:38] johnsimons commented on #3854
@ramonsmits I am pretty sure UnhandledException would be logged in the eventviewer ?

[2016-06-21 23:18] SimonCropp opened #3855 "Obsolete Bus class"
When upgrading a saga the `Bus` property on the base class no resolves to the `Bus` class and we get a "cant find static method" error.

![image](https://cloud.githubusercontent.com/assets/122666/16248975/28a2f0c8-3856-11e6-8ae3-0d9bfb9ca2cb.png)

But since the Bus class itself is not obsolete it is hard to work out what is wrong

We should obsolete Bus and give a useful message

[2016-06-22 07:03] tmasternak commented on #3082
@timbussmann this one originated from two endpoints trying to create shared error/audit queues.

[2016-06-22 07:55] andreasohlund commented on #3749
@Particular/nservicebus-maintainers I propose that we do this as part of maintainer budgets, ok?

[2016-06-22 07:58] andreasohlund commented on #3731
Since we're about to change the seam to handle #3792 this is a lowhanging fruit, I've added it to the POA for https://github.com/Particular/V6Launch/issues/69

[2016-06-22 08:01] timbussmann commented on #3853
The simple fix would be to make that ctor just public but that will essentially just uncover the whole iceberg, since there required parameters are also a bit tricky and with internal ctors. I think even when all ctors are public it looks like we would need to provide a `TestableFeatureConfigurationContext` to make testing custom features more comfortable. In general I'm :+1: to make features more

[2016-06-22 08:10] mauroservienti opened #3858 "Manual subscriptions fail when migrating from V5 to V6-beta"
I have a very simple self-hosted V5 endpoint:

[code]

that disables `AutoSubscribe` and forces a subscription when the endpoint starts, it works as expected and the subscription is delivered according to the `MessageEndpointMappings` in the config file.

As I upgrade the endpoint to V6, latest on MyGet:

[code]

it fails at startup with the following exception:

Even if the `MessageEndpointMappin

[2016-06-22 09:52] ramonsmits commented on #3854
@andreasohlund This is V5, as you can see on the link (master branch). Not understanding your comment about the F5 experience though. You mean that the send subscription message task is put on the threadpool?

@johnsimons Maybe, but the framework should never result in unhandled exceptions on threadpool tasks.

[2016-06-22 10:30] andreasohlund commented on #3854
When you start a sample with multiple endpoints for the first time there is a race condition. If the subscribers start before the publisher the publisher queue won't be created. There for we added this "loop" to keep the subscribers retrying to allow the publisher to come up. In production scenarios this is not what we want since the queue not being there == something wrong. (also most likely the

[2016-06-22 10:32] andreasohlund commented on #3854
I think we're fine in v6 (can you double check @ramonsmits ) since we no longer uses the threadpool?

https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.Core/Routing/MessageDrivenSubscriptions/MessageDrivenSubscribeTerminator.cs#L58

[2016-06-22 10:45] andreasohlund commented on #3855
Is this the only place we would get this? (since the saga used to have a `.Bus` property)

How about "Sagas no longer provide access to bus operations via the .Bus property. Use the context parameter on the `Handle` method instead" ?

[2016-06-22 10:49] SimonCropp commented on #3855
instead is redundant. but i like the rest

[2016-06-22 10:49] andreasohlund commented on #3855
Also I can find any obsoletes for the  `Saga.Bus` property

https://github.com/Particular/NServiceBus/blob/master/src/NServiceBus.Core/Saga/Saga.cs#L28

should we add it? (would it help)

[2016-06-22 10:55] andreasohlund commented on #3074
@timbussmann yea, makes sense. Let's do it under maintainer prio

[2016-06-22 12:58] andreasohlund commented on #3847
Should be fixed on the release branch. Can you verify @yvesgoeleven ?

[2016-06-22 13:22] timbussmann commented on #3082
ah ok. Yeah I think endpoint startup is still concurrent.

[2016-06-22 18:41] ramonsmits commented on #3854
@andreasohlund Its not the loop that causes the issue and thanks for explaining the behavior. That makes a lot of sense indeed an environment where you debug two or more endpoints in a single solution where the queues still need to be created.

The V6 code seems to wait for all tasks to complete and that will probably result in an `AggregateException`. https://github.com/Particular/NServiceBus/blo

[2016-06-23 03:50] stimms commented on #3853
Making things testable by providing your own testable implementations seems silly to me (I stumbled on `TestableMessageHandlerContext` today). You're assuming that you know the test scenarios for all clients and that nobody will need to create their own custom implementations. In general my approach would be to provide interfaces people can mock themselves.

[2016-06-23 09:32] SzymonPobiega commented on #3858
@mauroservienti can you take a look at this gist: https://gist.github.com/SzymonPobiega/0c28b5bb44630968204397786df064e1. I've tried to repro it in an acceptance tests but it works just fine. Not sure if that gist is exactly equivalent to your scenario -- can you verify?

[2016-06-23 09:34] mauroservienti commented on #3858
it is exactly as my failing sample @SzymonPobiega, I'll polish it and push to my github account

[2016-06-23 12:28] tmasternak commented on #3844
@SzymonPobiega @timbussmann can you try to arrive at decision on this one? I think that core maintainers have the best context to decide if that should be part of V6 or that it can be postponed.

[2016-06-23 16:47] bording commented on #3846
I can't see a good reason for allowing the machine name to possibly change on every execution of the delegate.

It seems like dropping the delegate, and just having a settable string property would be enough here.

It also has the side benefit of allowing us to call `Environment.MachineName` and store the result in a way that doesn't require a closure allocation on each call.

[2016-06-23 18:57] SeanFeldman opened #3871 "IMessageSession and IEndpointInstance"
During beta call with a customer, ran into the question of "how to replace an injected `IBus`".
[Documentation](http://docs.particular.net/nservicebus/upgrades/5to6-moving-away-from-ibus#sending-messages-outside-message-handlers) for consistency shows the following way to obtain `IMessageSession`.

[code]

There is a challenge with this approach, it's not intuitive. Type casting is not what we do

[2016-06-23 19:07] indualagarsamy commented on #3871
I think that @andreasohlund wanted to add a .GetMessageSession() method to the IEndpointInstance class. @andreasohlund can you add more details?

[2016-06-23 20:18] bording commented on #3844
It's hard to capture a behavior change to an API when nothing about the API surface has changed. In this case, anything other than passing in an already created instance is going to be hard to reason about when and how often we're going to create an instance. This is true when accepting a type or a factory method.

Given that we have actually changed this behavior from V5 to V6, the only way I can

[2016-06-23 21:40] bording commented on #3871
If we want to present the `IMessageSession` as the thing users should care about, then we definitely need to expose a way to get one from the endpoint instance instead of having `IEndpointInstance` directly implement the interface.

[2016-06-23 22:05] indualagarsamy commented on #3871
@bording - If you're in a web/self hosting environment and you want to keep the IMessageSession around so you can use it in your UI to send messages, then that's a use case that's going to be needed IMO.

[2016-06-24 00:24] bording commented on #3871
@indualagarsamy I'm not sure there's anything in what I said that would disagree with your statement?

[2016-06-24 07:41] danielmarbach commented on #3845
I think it would make sense to make it non-static and always deal with it over the settings if we can

[2016-06-24 07:45] danielmarbach commented on #3849
Thought: In those kinds of scenarios a graphic illustrating the various moving parts might be helpful

[2016-06-24 08:06] danielmarbach commented on #3749
Let's get this done next week.

[2016-06-24 08:08] SzymonPobiega commented on #3849
@timbussmann added plan of attack that outlines the changes. As for the plan to validate if they work, I think a sample would be a better idea then the Scenario tests.

[2016-06-24 08:09] SzymonPobiega commented on #3849
@danielmarbach I'll try to explain it as a sequence of steps.

[2016-06-24 08:12] danielmarbach commented on #3871
So we are going full circle and go back to what we had a few months ago? I remember that we required to get the session explicitly from the endpoint instance (I even showed it in Dallas) and then there was a lot of pushback from @Particular/docs-maintainers that it is just noise. I don't want to imply we shouldn't do it. I also don't want to give the impression I'm passive aggressive or something.

[2016-06-24 08:16] SzymonPobiega commented on #3849
@timbussmann @danielmarbach updated the description with a detailed explanation.

[2016-06-24 10:51] WojcikMike opened #3872 "Message Headers for failed message should include processing endpoint"
For v6 when sending successful message there is a header called ProcessingEndpoint that holds information about the endpoint that processed the message. It is equal to EndpointName.

For failed messages there is no ProcessingEndpoint header the only information available is FailedQ which contains queue name rather than endpoint name. This cause our underlying products to show value from FailedQ as

[2016-06-24 11:26] tmasternak commented on #3872
@andreasohlund @timbussmann We should be able to solve that as part of https://github.com/Particular/V6Launch/issues/69

[2016-06-24 11:52] WojcikMike commented on #3872
Moved this issue to: https://github.com/Particular/PlatformDevelopment/issues/860

[2016-06-24 11:52] #3872 closed

[2016-06-24 12:55] danielmarbach commented on #3853
@stimms

Thanks for your feedback. We take an opinionated approach here. For most of our contexts (except for the FeatureConfigurationContext) we provide both. The testable implementation is looking at how the contexts are meant to be used by our customers and how they are used by our infrastructure (dogfooded). They provided a helpful implementation which should fit most of our users.

If for a s

[2016-06-24 13:08] danielmarbach commented on #3846
Agreed. Should we address it together with https://github.com/Particular/NServiceBus/issues/3845 as a maintainer prio?

[2016-06-24 13:17] danielmarbach commented on #3082
If I recall correctly it was parallel in older versions and I made it concurrent while implementing the ATT changes. The reasoning was to speed up the overall execution time of the tests.

[2016-06-24 15:39] danielmarbach opened #3875 "Should we seal `SecondLevelRetriesConfig` because of Virtual Member call in ctor?"
See https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.Core/Recoverability/SecondLevelRetries/Config/SecondLevelRetriesConfig.cs#L16-L18

## Readings
http://stackoverflow.com/questions/119506/virtual-member-call-in-a-constructor
https://msdn.microsoft.com/en-us/library/ms182331.aspx

[2016-06-24 16:35] indualagarsamy commented on #3871
@bording - I thought you were looking for a strong case. I wasn't disagreeing with you either. Hope my comment is more clear now.
When I discussed this originally with @SeanFeldman, personally I didn't see a problem with the cast. After all, IEndpointInstance implements IMessageSession and its basic OO,i.e. Liskov substitution principle, to be able to cast a derived interface to its base counterpa

[2016-06-24 18:45] danielmarbach opened #3877 "When_TimeToBeReceived_set_and_native_receivetransaction fails from time to time"
Haven't digged deeper so far

https://builds.particular.net/viewLog.html?buildId=172113&tab=buildResultsDiv&buildTypeId=NServiceBus_2RunAcceptanceTestsForMsmq

[2016-06-24 19:47] bording commented on #3849
Given that even if we do this, you'll still need the distributor if the endpoint sends commands, does it seem worth it to do this? Overall it complicates the story. Instead of just saying "you need the distributor when v5 -> scaled out v6", we would now have to explain all the caveats around when you might or might not have to have it.

[2016-06-24 21:33] bording commented on #3845
Are there any places where we need MachineName but don't have access to settings? If so, how would we deal with those?

[2016-06-24 21:50] bording commented on #3871
@indualagarsamy Let me try to clarify what I was trying to point out.

Right now our docs are recommending that we take the `IEndpointInstance` returned from `Endpoint.Start` and then cast that to `IMessageSession` before using it.

However, `IEndpointInstance` is an `IMessageSession`, so there is no reason to cast it. You can do everything directly from the returned type without the cast. The doc

[2016-06-24 21:52] SimonCropp commented on #3845
Fwiw i dont think this needs to happen for v6

[2016-06-27 08:10] timbussmann commented on #3871
I think `var messageSession = (IMessageSession)endpointInstance;` is an absolute no-go from an API perspective. Aside from my opinion on how the that code looks like, it's also very hard to version an something like this.

As far as I can remember, we didn't follow the `EndpointInstance.Session` path because of the potential changes introduced by the "batched send" API, which we decided a few week

[2016-06-27 10:35] andreasohlund commented on #3749
PR has been merged. @indualagarsamy there was some debate regarding the exception message.

https://github.com/Particular/NServiceBus/blob/release-6.0.0/src/NServiceBus.Core/Unicast/MessageHandlerRegistry.cs#L163

Please review and close if you're happy with the final incarnation.

[2016-06-27 11:35] danielmarbach commented on #3871
@timbussmann previously the API had `GetSession`. @SimonCropp stood up and argued that we should remove it because it is just noise.

[2016-06-27 14:46] timbussmann commented on #3871
I'm with @bording suggestions here. I think the casting needs to go, I don't mind whether we just change docs or add a property/method (I'd definitely prefer a `Session` property over a `GetSession` method). Personally, I'd prefer the second option.