[2014-10-22 08:06] #1887 closed, assigned to nobody

[2014-10-22 10:28] #2155 closed, assigned to nobody

[2014-10-22 13:25] #1798 closed, assigned to nobody

[2014-10-22 14:28] #2252 closed, assigned to andreasohlund

[2014-10-22 15:26] stefaanVanHoof opened #2517 "NServicebus and transient queues"
I whas wondering does NServicebus has support for RabbitMq transient queues / exchanges ?
I mean persistence is great and all but i also need a very fast in memory queue.

[2014-10-22 15:53] #2517 closed, assigned to nobody

[2014-10-22 20:53] JeffHenson opened #2518 "NSB 4.7.1 - Worker node not reporting in after message is sent to SLR"
NServiceBus 4.7.1
NServiceBus.Distributor.MSMQ 4.4.6

We had an issue this morning when one of our database servers took a dive and it caused some of our NSB worker nodes to stop processing messages. The server dying caused every message to exceed the FLRs and be sent off for the SLRs. The SLR message was sent and the message was ultimately processed but the worker node never checked in to the dis

[2014-10-22 22:18] #2047 closed, assigned to nobody

[2014-10-22 22:19] gbiellem opened #2519 "Error message point to PS cmdlet that is not present"
The core contain an error message that instruct the user to run a cmdlet that is not installed since it was moved out of the core.
[code]

[2014-10-22 22:26] #2515 closed, assigned to nobody

[2014-10-22 22:31] #2503 closed, assigned to nobody

[2014-10-23 04:21] #2507 closed, assigned to SeanFeldman

[2014-10-23 14:24] andreasohlund opened #2521 "Support receiving messages without a message id for integration scenarios"
At the moment we require the transports to make sure each received message has a message id. We've seen a few (rabbitmq) customers asking for this limit to be removed.

In order to support this we would need to generate a stable id , for FLR to work correctly.

My idea is to generate a deterministic guid based on the headers + body.

Other ideas?

[2014-10-24 01:26] #2031 closed, assigned to nobody

[2014-10-24 09:46] #2481 closed, assigned to nobody

[2014-10-24 09:52] andreasohlund opened #2524 "Dump logs when acceptance tests fail"
Right now we don't capture logs. We should buffer the logs and dump them if the test fails

[2014-10-24 10:25] SimonCropp opened #2525 "Reply from finder results in invalid OriginatingSagaId header"
Run `When_reply_from_a_finder` and set a break point here https://github.com/Particular/NServiceBus/blob/a8f9b0036eb2f66e4cd3bb224ee2c3b1ab170e1d/src/NServiceBus.Core/Sagas/PopulateAutoCorrelationHeadersForRepliesBehavior.cs#L23

You will notice `saga.NotFound` is false so we enter and set invalid header ie `OriginatingSagaId` will be null.

So to fix we should fix the double negation and rename `

[2014-10-24 14:02] SeanFeldman opened #2526 "Provide capability for Features to put values from configSection into settingsHolder"
Provide capability for Features to put values from configSection into settingsHolder before settingHolders becomes read-only, but after user is no longer capable of changing configSection settings.

/cc @yvesgoeleven

[2014-10-24 22:49] oshea00 opened #2527 "ServiceControl install and configuration for RabbitMQ incorrect - not working"
Documentation here doesn't work - likely because the RabbitMQ transport classnames changed:
http://docs.particular.net/servicecontrol/multi-transport-support

I did try to make the adjustment to the names in the command as follows:
servicecontrol.exe --install -serviceName="Particular.ServiceControl" -displayName="Particular ServiceControl" -d="ServiceControl/TransportType==NServiceBus.RabbitMQTra

[2014-10-24 22:59] oshea00 opened #2528 "NServiceBus platform tools not working with RabbitMQ"
None of the v5.0 tools appear to monitor, debug or control applications running over RabbitMQ transport.

The documentation available on the Particular.net website give incorrect classnames and instructions for re-configuring these tools.

[2014-10-26 15:17] #2527 closed, assigned to nobody

[2014-10-26 15:26] indualagarsamy opened #2530 "When transport is configured via INeedInitialization, it does not work, defaults to MSMQ."
This is an endpoint generated by ServiceMatrix.
It configures the transport in a class that implements `INeedInitialization`.

[code]

And here are the nuget packages being referenced:

[code]

However, the code doesn't fail, but simply defaults to MSMQ without a warning to the user.
When the user has explicitly configured the transport and the dependencies for the transport are not met, we need t

[2014-10-26 15:49] #1657 closed, assigned to nobody

[2014-10-26 18:40] #827 closed, assigned to nobody

[2014-10-27 01:45] #2530 closed, assigned to nobody

[2014-10-27 10:05] yvesgoeleven opened #2531 "Add logging to Assembly scanner when we swallow typeload exceptions"
Apparantly we don't log this condition, making it hard for users to figure out what is going on

https://groups.google.com/forum/#!topic/particularsoftware/zlIYAcfulwA

[2014-10-27 21:58] #2526 closed, assigned to nobody

[2014-10-28 00:21] #2528 closed, assigned to nobody

[2014-10-28 04:13] #2508 closed, assigned to nobody

[2014-10-28 23:04] indualagarsamy opened #2537 "SLR is not applied to messages that fail to be processed by the Satellites"
At the moment, when a satellite processes a message and it exceptions, then after FLR, the message is sent to the error queue, even if the Second Level Retries are configured.

There is no indication that the message is forwarded to the error queue.

**Steps to Repro**
1. Have RavenDB running and have a Saga endpoint start up
2. Stop RavenDB and then trigger a message that will request a timeout
3

[2014-10-28 23:07] #1689 closed, assigned to nobody

[2014-10-29 01:56] #2463 closed, assigned to nobody

[2014-10-29 02:22] SeanFeldman opened #2538 "Order of settings"
Values provided by users in ConfigSection should take precedence over values provided with Fluent API, while Fluent API overrides default values set by ConfigSeaction.

ConfigSection defaults --> Fluent API --> CofnigSection user values

[2014-10-29 06:59] SimonCropp opened #2539 "re-apply "Firing callback on replies only""
So this commit https://github.com/Particular/NServiceBus/commit/c0d0ce67ef350e650a75b2284814a7398af88116 had to be locked at version 5 as part oft his commit https://github.com/Particular/NServiceBus/commit/78f545b6aee433c878f3c246f35551c71d06ad8e

Since version 4 still has a Send intent for return messages, we need to re-evaluate how to identify return message in below v5

[2014-10-29 07:28] SimonCropp opened #2540 "Revisit "Delegates are not synchronized by ConcurrentDictionary""
So this https://github.com/Particular/NServiceBus/commit/cd1185bf0365a60f9355bac9461a41eb2e401f86 moved over to passing in an instance to the the dictionary instead of using a delegate. This has no effect on thread safety. Both the construction of the instance and the execution of the delegate occur outside the lock. However the instance based approach is a little slower since the construction alw

[2014-10-29 10:05] SimonCropp opened #2544 "When sending a message from a IFindSagas.FindBy should not attempt to set saga headers"
Since the saga instance does not exist at that point there is no point attempting to set the `OriginatingSagaId` and `OriginatingSagaType` headers
##

fixed by https://github.com/Particular/NServiceBus/commit/2971df48e7ffaffc41332835d1b9f33bba281df0

[2014-10-29 10:05] #2544 closed, assigned to nobody

[2014-10-29 23:49] johnsimons opened #2547 "Identifying remote queue using IP instead of machine names"
We currently compare machine names to identify if the queue about to be created is in a remote machine or not, see https://github.com/Particular/NServiceBus/blob/33947a34659fbad5e9636873aefe7ab2a6077533/src/NServiceBus.Core/Transports/Msmq/MsmqQueueCreator.cs#L35

Wouldn't it be better to identify if the machine is remote or not via:

[code]

[2014-10-29 23:51] johnsimons opened #2548 "HostInformation not using RuntimeEnvironment"
Shouldn't [HostInformation](https://github.com/Particular/NServiceBus/blob/33947a34659fbad5e9636873aefe7ab2a6077533/src/NServiceBus.Core/Hosting/HostInformation.cs) make use of `RuntimeEnvironment.MachineName` instead of Environment.MachineName ?

[2014-10-30 00:09] #898 closed, assigned to nobody

[2014-10-30 02:15] johnsimons opened #2549 "Include validation in our config sections"
The .Net CLR allows for ConfigurationProperties in custom config sections to include validation.

I have already modified [SecondLevelRetriesConfig](https://github.com/Particular/NServiceBus/blob/33947a34659fbad5e9636873aefe7ab2a6077533/src/NServiceBus.Core/SecondLevelRetries/Config/SecondLevelRetriesConfig.cs#L17-L19) to take advantage of it.

This is a good way to standardise the validation and

[2014-10-30 02:15] #2406 closed, assigned to nobody

[2014-10-30 12:57] SzymonPobiega opened #2550 "Common set of acceptance tests for saga persisters"
Extract the saga persister tests (mostly from RavenDB impl) to a common project just like container tests and use them for all saga persistence implementations.

A WIP pull is here https://github.com/Particular/NServiceBus/pull/2511

[2014-10-31 01:56] #1834 closed, assigned to nobody

[2014-10-31 08:29] yvesgoeleven opened #2551 "Acceptance tests specific to msmq"
These tests are specific to msmq and won't work for other transports https://github.com/Particular/NServiceBus/blob/develop/src and should be limited to msmq

[2014-10-31 08:33] yvesgoeleven opened #2552 "Make the value 5 configurable"
This test assumes that the default retry count is 5, https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.AcceptanceTests/Exceptions/When_handler_throws_serialization_exception.cs#L24, which is not the case for azure transports. We still have to default to 4 to stay backward compatible with retry values set into existing azure servicebus queues, please make this value configurabl

[2014-10-31 09:20] sveinfid opened #2553 "4.7.x NServiceBus.Core NuGet package does not contain Init.ps1 script"
NuGet Install-Package NServiceBus.Host fails for >=4.7.0 with the following error message:
"Add-NServiceBusMessageForwardingInCaseOfFaultConfig : The term 'Add-NServiceBusMessageForwardingInCaseOfFaultConfig' is not recognized as the name of a cmdlet, function, script file, or operable program. Check
the spelling of the name, or if a path was included, verify that the path is correct and try again

[2014-10-31 17:33] #2553 closed, assigned to SzymonPobiega

[2014-11-02 02:59] #1233 closed, assigned to nobody

[2014-11-02 11:45] #634 closed, assigned to nobody

[2014-11-02 23:04] #516 closed, assigned to nobody

[2014-11-02 23:30] SimonCropp opened #2554 "Add code API for error queue"
Proposed new public API:
[code]

[2014-11-03 17:30] outofcoolnames opened #2555 "MessageForwardingInCaseOfFaultConfig should not be required for sendonly"
##

When configuring an endpoint as a SendOnly endpoint, in version 5.0.x the user didn't have to define the `MessageForwardingInCaseOfFaultConfig` configuration. However in 5.1.0 this is now required and the endpoint fails to start unless  it is specified.

**Steps to repro**
- Create a console application and install-package NServiceBus (version 5.0.0)
- Add the following to configure it as send

[2014-11-04 03:24] #2555 closed, assigned to nobody

[2014-11-04 22:56] #749 closed, assigned to nobody

[2014-11-04 23:59] #2551 closed, assigned to nobody

[2014-11-05 00:44] #2552 closed, assigned to nobody

[2014-11-05 13:11] #2476 closed, assigned to nobody

[2014-11-05 23:34] #2537 closed, assigned to nobody

[2014-11-06 00:17] #2548 closed, assigned to nobody

[2014-11-06 08:02] #1621 closed, assigned to nobody

[2014-11-06 14:50] andreasohlund opened #2561 "External persistences are not configured correctly if excluded from assemblies to scan"
Blows up with

[code]

Originally raised on the group: https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/particularsoftware/hvE59bwTehQ/v8HvkIySFl4J
### Repro

[code]

[2014-11-09 01:03] marinkobabic opened #2563 "TimeoutPersisterReceiver line 88 TimeoutsPersister null"
My endpoint is configured as following:

[code]

and the project uses NServiceBus.Host.exe.

How can I specify the TimeoutsPersister?

[2014-11-10 06:03] #2563 closed, assigned to nobody

[2014-11-11 08:18] SimonCropp opened #2564 "Capture fatals in acceptance tests"
So here we only capture errors
https://github.com/Particular/NServiceBus/blob/4ee392ffeb52db2966e47fcb3ba6322382917f11/src/NServiceBus.AcceptanceTests/EndpointTemplates/ContextAppender.cs#L103

[2014-11-12 09:37] sveinfid opened #2566 "NSB 4 with Castle Windsor: Performance is slow while debugger is attached"
##

Could we please have a backport of #1989 to NSB 4? We are using NSB 4 and are also running into this issue. It causes performance to run at about 1% of normal speed when a debugger is attached

[2014-11-12 13:33] SzymonPobiega opened #2567 "Allow transports to get name of the configured error queue"
Since transports use error queue to send messages which have invalid headers, it is required to pass the error queue name to the transport either when configuring or via the Init method. This is a potential breaking change if we go with Init.

[2014-11-13 08:26] SzymonPobiega opened #2568 "Disable auto-wiring of properties when registering singletons via RegisterSingleton"
It is not used and causes problems when properties set on the instance of singleton are overridden when resolving.

[2014-11-13 08:28] #2456 closed, assigned to nobody

[2014-11-15 15:35] #2475 closed, assigned to nobody

[2014-11-18 12:45] SimonCropp opened #2570 "Better exception handling for users hosting in IIS without permissions to access ~/App_Data folder"
## Symptoms

`NServiceBus.Logging.DefaultFactory` calls `HttpContext.Current.Server.MapPath("~/App_Data/")` which can throw.
## Who's affected

Users that host NServiceBus in IIS and use the default logging and do not have rights to write to "~/App_Data/" folder.
## Fix
1. defer the call to `MapPath` so it is not called from the constructor. this will allow users to override the dir http://docs.pa

[2014-11-19 18:39] indualagarsamy opened #2572 "Should assembly scanning include other Particular dlls, when specifying a type list to include?"
In the following case:

[code]
where `GetAssembliesToIncludeInScan` returns an `IEnumerable<Assembly>`, we automatically include NServiceBus core, because it is needed without which the endpoint won't function.

However, does it make sense to also include other Particular assemblies, especially the ServiceControl plugin dlls. Not doing so, forces the user to include the Particular assemblies expli

[2014-11-19 23:46] #2561 closed, assigned to johnsimons

[2014-11-19 23:52] #2566 closed, assigned to nobody

[2014-11-19 23:54] SimonCropp opened #2573 "Throw from NServiceBus.MsmqUtilities.Convert will result in message loss"
Fixed so when `NServiceBus.MsmqUtilities.Convert` throws the message will be sent to the error queue
##

Clone of #2463

[2014-11-19 23:54] #2573 closed, assigned to nobody

[2014-11-20 02:45] johnsimons opened #2574 "Custom logging override still produces default log file"
When a user overrides logging to use a custom one, the host override is too late and the default log still executes creating a default log file with at least 2 INFO entries in it.

This occurs because INFO is the default level.

A solution is to ensure all logging entries before the user can override are below the default INFO level.

[2014-11-20 03:07] #2574 closed, assigned to nobody

[2014-11-21 01:30] SimonCropp opened #2575 "Castle reference doesnt match nuget minimum range"
So as part of the removal of ripple here https://github.com/Particular/NServiceBus/commit/4cca39f43079be11a11759126927f556f73df698

the dependency in ripple.config

    <Dependency Name="Castle.Core" Version="3.2.1.0" Mode="Fixed" />

was incorrectly transcribed to

    <package id="Castle.Core" version="3.3.1" targetFramework="net40" />

But the nuget still has a inferred dependency on 3.2.1 of `

[2014-11-21 10:25] distantcam opened #2577 "DiscardFailedMessagesInsteadOfSendingToErrorQueue still requires an error queue to be set"
The following code throws an exception on the `Bus.Create` line.

[code]

[2014-11-22 16:25] kiquenet opened #2578 "Samples. The best easy for newbies."
Any sample console applications (Client and Server) for testing issues about MSMQ private queues ?

Console application in Client to send message and read message from/to private queue in Server.

Console application in Server to send message and read message from/toprivate queue.

Client send Message A to private Queue in Server

Server read Message A from private queue

Server sendMessage B to p

[2014-11-24 02:10] #2578 closed, assigned to nobody

[2014-11-24 03:03] SimonCropp opened #2579 "Corrupted MSMQ Message Headers may result in message loss"
## Who’s affected:

Anyone using MSMQ Transport and is also doing one of the following:
- Manual editing of the headers of messages which may result in an invalid xml of the headers being sent to the endpoint.
- Anyone dealing with an integration scenario where native message are being sent for example from Java where the headers may not contain valid xml.
## Symptoms:

The message will be discard

[2014-11-24 03:04] SimonCropp opened #2580 "Corrupted MSMQ Message Headers may result in message loss"
## Who’s affected:

Anyone using MSMQ Transport and is also doing one of the following:
- Manual editing of the headers of messages which may result in an invalid xml of the headers being sent to the endpoint.
- Anyone dealing with an integration scenario where native message are being sent for example from Java where the headers may not contain valid xml.
## Symptoms:

The message will be discard

[2014-11-24 03:05] SimonCropp opened #2581 "Corrupted MSMQ Message Headers may result in message loss"
## Who’s affected:

Anyone using MSMQ Transport and is also doing one of the following:
- Manual editing of the headers of messages which may result in an invalid xml of the headers being sent to the endpoint.
- Anyone dealing with an integration scenario where native message are being sent for example from Java where the headers may not contain valid xml.
## Symptoms:

The message will be discard

[2014-11-24 23:39] SimonCropp opened #2582 "Corrupted MSMQ Message Headers may result in message loss"
## Who’s affected:

Anyone using MSMQ Transport and is also doing one of the following:
- Manual editing of the headers of messages which may result in an invalid xml of the headers being sent to the endpoint.
- Anyone dealing with an integration scenario where native message are being sent for example from Java where the headers may not contain valid xml.
## Symptoms:

The message will be discard

[2014-11-24 23:39] SimonCropp opened #2583 "Corrupted MSMQ Message Headers may result in message loss"
## Who’s affected:

Anyone using MSMQ Transport and is also doing one of the following:
- Manual editing of the headers of messages which may result in an invalid xml of the headers being sent to the endpoint.
- Anyone dealing with an integration scenario where native message are being sent for example from Java where the headers may not contain valid xml.
## Symptoms:

The message will be discard

[2014-11-24 23:39] SimonCropp opened #2584 "Corrupted MSMQ Message Headers may result in message loss"
## Who’s affected:
Anyone using MSMQ Transport and is also doing one of the following:
- Manual editing of the headers of messages which may result in an invalid xml of the headers being sent to the endpoint.
- Anyone dealing with an integration scenario where native message are being sent for example from Java where the headers may not contain valid xml.

## Symptoms:
The message will be discarde

[2014-11-24 23:40] SimonCropp opened #2585 "Throw from NServiceBus.MsmqUtilities.Convert will result in message loss"
## Who’s affected:
Anyone using MSMQ Transport and is also doing one of the following:
- Manual editing of the headers of messages which may result in an invalid xml of the headers being sent to the endpoint.
- Anyone dealing with an integration scenario where native message are being sent for example from Java where the headers may not contain valid xml.

## Symptoms:
The message will be discarde

[2014-11-24 23:40] SimonCropp opened #2586 "Throw from NServiceBus.MsmqUtilities.Convert will result in message loss"
Fixed so when `NServiceBus.MsmqUtilities.Convert` throws the message will be sent to the error queue

--

Clone of #2463

[2014-11-25 00:58] #2579 closed, assigned to nobody

[2014-11-25 02:32] #2580 closed, assigned to nobody

[2014-11-25 05:37] #2570 closed, assigned to nobody

[2014-11-25 09:56] #2581 closed, assigned to nobody

[2014-11-25 11:00] #2577 closed, assigned to nobody

[2014-11-25 12:27] #2582 closed, assigned to nobody

[2014-11-26 04:28] #2583 closed, assigned to nobody

[2014-11-26 12:56] brunobertechini opened #2588 "NSB.Testing a handler that sends/publishes several times only handle the first message"
Hello there, despite a fix on https://github.com/Particular/NServiceBus/issues/489, Im having similar behavior on 4.7.1 (but not using the obsolete batch api):

Im using 4.7.1 and have a handler that uses a for loop and do several Bus.SendLocal inside:

[Handler]
for(int i = 0; i < 5; i++)
{
    Bus.SendLocal(cmd => { cmd.Id = id++; });
}

But the ExpectSendLocal is invoked only once. If I explici

[2014-11-26 22:22] #1256 closed, assigned to nobody

[2014-11-26 22:30] #2201 closed, assigned to nobody

[2014-11-26 22:43] #2035 closed, assigned to nobody

[2014-11-26 22:45] #2454 closed, assigned to nobody

[2014-11-27 05:33] johnsimons opened #2589 "Obsolete BusConfiguration.EndpointVersion(string version)"
## Symptoms

API does not do anything, so there is no point in keeping it
## Who's affected

Anyone calling this API will be told that the api is going to be removed

[2014-11-27 23:11] #2518 closed, assigned to nobody

[2014-11-27 23:14] #2458 closed, assigned to nobody

[2014-11-28 02:30] #2306 closed, assigned to nobody

[2014-11-28 02:45] #2098 closed, assigned to nobody

[2014-11-28 02:53] #2062 closed, assigned to nobody

[2014-11-28 03:12] #1930 closed, assigned to nobody

[2014-11-28 03:15] #2026 closed, assigned to nobody

[2014-11-28 03:21] #1715 closed, assigned to nobody

[2014-11-28 03:25] #1711 closed, assigned to nobody

[2014-11-28 03:25] #1651 closed, assigned to nobody

[2014-11-28 03:34] #1565 closed, assigned to nobody

[2014-11-28 03:51] #526 closed, assigned to nobody

[2014-11-28 03:52] #794 closed, assigned to nobody

[2014-11-28 04:01] #2589 closed, assigned to johnsimons

[2014-11-30 04:56] danielHalan opened #2590 "Batch send of ordered messages to Azure ServiceBus"
Hi,

Since 4.0 sending multiple messages API has been deprecated, and will be completely removed in v5 according to https://github.com/Particular/NServiceBus/issues/1346

But using Azure Service Bus Transporter, which is a Remote Queue system (latency) and supports FIFO, provides a "SendBatch" API, which is great when sending a large batch of messages, where ordering is important, both for efficie

[2014-11-30 23:01] #2590 closed, assigned to nobody

[2014-11-30 23:42] #1370 closed, assigned to nobody

[2014-11-30 23:43] #1273 closed, assigned to nobody

[2014-12-01 00:19] #2588 closed, assigned to nobody

[2014-12-01 09:04] #2420 closed, assigned to nobody

[2014-12-08 04:54] pawelpabich opened #2592 "RegisterSingleton does not override built-in FaultManager"
Hi,

This works:

[code]

this doesn't:

[code]

[2014-12-08 11:56] #2592 closed, assigned to nobody

[2014-12-08 23:45] indualagarsamy opened #2593 "Should MasterNodeConfig be part of the core?"
At the moment, `MasterNodeConfig` is part of the core:
https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.Core/Distributor/MasterNode/MasterNodeConfig.cs

The configuration is defined part of the core as shown in
http://docs.particular.net/nservicebus/load-balancing-with-the-distributor#worker-configuration

as

[code]

Shouldn't this be part of the NServiceBus.Distributor.Msmq

[2014-12-09 00:14] pawelpabich opened #2594 "Working end to end sample of bus notifications"
Hi,

I'm trying to get Bus Notifications and I must be missing something simple. I followed the docs but still no luck. Would you be able to publish a working sample ? This is what I came up with so far: https://github.com/pawelpabich/BusNotifications

[2014-12-09 06:12] #2593 closed, assigned to nobody

[2014-12-09 12:47] seanfarmar opened #2595 "XMLSerialization does not deserialize messages with Uri containing '&' characters"
## Who's affected

Any NServiceBus system between v4.4.2 and v5.1.2 that receives messages that contain `Uri` properties and the url contains one or more `&` characters.
## Symptoms

Causes a message to fail to be deserialized.
The following error message is thrown:

[code]

[2014-12-09 19:58] andreasohlund opened #2596 "Detect if a callback has been set for bus.Send"
The current api, `IBus.Send().Register()` doesn't allow us to add headers/etc on the message to tell the server if there is a callback "waiting" for a potential reply since the `.Register` happens after the send has completed. This info will be needed in the future when we perform directory based routing using ServiceControl to make decisions like `

[code]

I propose that we move ahead with the n

[2014-12-09 23:43] #2595 closed, assigned to nobody

[2014-12-10 16:11] rebeccapowell opened #2597 "Suggestion: Add installer argument to set Windows Service start type"
Currently the full range of NServiceBus Host arguments are listed as:

[code]

Source: https://github.com/Particular/NServiceBus.Bootstrap.WindowsService

I notice that the NServiceBus is/was? built upon TopShelf. Is it possible to support the same install options as TopShelf, namely the ability to have a delayed start?

| Start Type | Description |
| --- | --- |
| --autostart | The service should

[2014-12-10 21:17] #2597 closed, assigned to nobody

[2014-12-10 21:34] #2594 closed, assigned to nobody

[2014-12-10 22:53] #2063 closed, assigned to nobody

[2014-12-10 23:00] #1867 closed, assigned to nobody

[2014-12-11 07:19] mauroservienti opened #2598 "When TransactionScope timeouts the real error is not available in the log"
If message handling fails due to TransactionScope timeout (default is 60 seconds) in the logs the logged error is the following:

System.Exception: Failed to send message to address: audit@BEAKER --->   System.Messaging.MessageQueueException: Cannot enlist the transaction.
   at System.Messaging.MessageQueue.SendInternal(Object obj, MessageQueueTransaction  internalTransaction, MessageQueueTransac

[2014-12-11 07:21] mauroservienti opened #2599 "Wrong log level in logs when TransactionScope timeouts"
When a Transaction timeouts the logged information is logged as INFO and not as ERROR, even if it will cause a retry:

System.Transactions.TransactionAbortedException: The transaction has aborted.
  at System.Transactions.TransactionStatePromotedAborted.BeginCommit(InternalTransaction tx, Boolean asyncCommit, AsyncCallback asyncCallback, Object asyncState)
  at System.Transactions.CommittableTrans

[2014-12-11 22:52] agross opened #2600 "Cannot set up property injection in NSB 5.0"
In the 4.x timeframe I used the following code to apply configuration settings to my handlers and sagas:

[code]

I am not able to find the replacement in 5.0. The `Obsolete` message from `Configure.Instance.Configurer` just informs me about `RegisterComponent`, but an e-mail address is not a component.

I tried this approach, but it doesn't work (`SmtpFromAddress` is null):

[code]

[2014-12-15 09:52] yvesgoeleven opened #2602 "Master election for timeoutmanager when scaled out"
When running multiple instances of an endpoint, multiple embedded timeout managers are running as well. This will cause timeouts to trigger on all of these at the same time, resulting in multiple messages being sent.

We should add a concept to the core that elects the master timeout manager and only send from that one, and probably add a specific implementation for certain environments (in azure

[2014-12-18 01:47] johnsimons opened #2604 "ForwardReceivedMessagesTo setting does not auto enable forwarding"
## Symptoms

When a user sets in config the `ForwardReceivedMessagesTo`  setting, messages are not getting forwarded.
## Who's affected

Anyone that adds `ForwardReceivedMessagesTo` config section but does not enable the `ForwardReceivedMessages` feature via code.
## Workaround

Enable the `ForwardReceivedMessages` feature
## Fix

The `ForwardReceivedMessages` feature needs to be enable by default

[2014-12-18 02:04] #2604 closed, assigned to nobody

[2014-12-19 10:26] minhhut opened #2605 "log4net error when shutdown service (NServiceBus Host)"
I don't use log4net but when i shutdown i got exception about it. See picture

![image](https://cloud.githubusercontent.com/assets/656141/5502988/5544ed9c-8769-11e4-80f8-4c800b0b61ae.png)

[2014-12-20 07:13] SzymonPobiega opened #2606 "When_customising_hostinfo.UsingNames uses internal class DeterministicGuid"
Because of that fact every project other than NServiceBus (which has `[InternalsVisibleTo]`) that references `AcceptanceTests.Sources` will not compile

[2014-12-29 23:01] SeanFeldman opened #2607 "Incorrect error message with DataBusFileBased DataBus"
When `DataBusFileBased` DataBus is used in the following way
[code]
exception is misleading
[code]

**Expected**: should let user know that .BasePath(basePath); is expected

[2014-12-29 23:02] indualagarsamy opened #2608 "Databus: What is this check used for?"
Looking at the code with @SeanFeldman, the check `!context.Settings.TryGet("dataBusDefinitionType", out dataBusDefinitionType)` did not make sense to us:
Where is the `dataBusDefinitionType` being set? What is it used for?
We could not reference for where this key is being set.

**Code:**
https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.Core/DataBus/DataBusFileBased.cs#L23

@

[2014-12-30 10:57] mauroservienti opened #2609 "The type of message is not included when logging a failure in processing a message"
Is it possible to include the full message type in the failed message logs?
##

**Related post in GoogleGroups:**
https://groups.google.com/forum/#!topic/particularsoftware/FiF1RH0QqF8

[2015-01-02 10:01] rosieks opened #2610 "Probable incorrect assignment in ReleaseDateAttribute"
Hi, I just wanted to run NSB 4.6.8 on license that is valid to 16 September and I received license error. After little investigation I just noticed that ReleaseDateAttribute can have wrong assignment to original date.

    public ReleaseDateAttribute(string originalDate, string date)
    {
        this.OriginalDate = date; // is this correct???
        this.Date = date;
    }

[2015-01-02 14:27] ThinkFr33ly commented on #2074
I think the error details should be logged as warnings during retries, and an error once it's moved to the error queue. This is especially important when a simple ToString() isn't good enough as far as capturing error details. See: http://stackoverflow.com/questions/27696539/configure-nservicebus-to-log-exceptions-that-are-causing-message-retries

[2015-01-02 14:51] SeanFeldman opened #2611 "Connection strings for persisters"
Currently core only supports connection string for transport. Persisters requires connection string as well. Would be good to be able to define all persisters connection strings within `connectionStrings` section

[code]

By having this, users would need to have less configuration work if they don't override defaults and minimize amount of XML typing/configuration.

For Azure transport, it would b

[2015-01-02 20:13] dtabuenc commented on #2367
With the new change I can no longer publish from Send-Only configured endpoints. We have many web-site endpoints that simply publish messages but never receive anything (subscriptions and all that are handled by a separate NSB host process). While it's nice to not require subscription persistence for send-only endpoints, it should not simply ignore the config if it is there, which is what this "fi

[2015-01-05 10:43] andreasohlund opened #2612 "Send only endpoints can't publish messages"
Caused in 5.1 by this change:

https://github.com/Particular/NServiceBus/commit/411d1b32cdf126e0ac61e783129085f783c9b3c7

we need to check and use persistence if it has been enabled even though the endpoint is send only.

[2015-01-05 10:43] andreasohlund commented on #2367
@dtabuenc you're correct. I've raised a bug to track this

https://github.com/Particular/NServiceBus/issues/2612

[2015-01-06 10:56] ianbattersby opened #2614 "Setting Timeout on mocked IBus causes "bus does not implement IManageMessageHeaders""
**NB: Working against 'develop' branch**

We are currently upgrading from v4 to v5 and have some unit tests that use Moq to pass in a `Mock<IBus>`. All tests pass *apart* from those setting timeouts where the exception "bus does not implement IManageMessageHeaders" is thrown:

![nservicebusmanagemessaheheaderserroronmock](https://cloud.githubusercontent.com/assets/185776/5627551/998b43c6-9591-11e4

[2015-01-06 13:55] ramonsmits commented on #2614
@ianbattersby What probably fixes this is to Moq multiple interfaces with .As<IManageMessageHeaders>

We also have a testing framework to test handlers and sagas. http://docs.particular.net/nservicebus/unit-testing

The second option requires all your current tests to be converted. It is probably best to test your handlers and sagas this way as it forces you to test in small units of execution so

[2015-01-06 14:38] ianbattersby commented on #2614
@ramonsmits Erm, thanks for the suggestion but I don't think `As<>()` is going to help in this scenario, you can only add interfaces with `As<>()` and not concrete types such as `UnicastBus` (which seems to have no unifying interface).

Testing the handler using this vanilla-style is the ultimate isolation IMHO - especially breaking down tests to cover deeper execution (e.g. verifying a factory me

[2015-01-06 15:14] ramonsmits commented on #2614
@ianbattersby Did you try the `.As<IManageMessageHeaders>` because the screenshot that you added clearly shows that an exception is raised because the given bus does not implement `IManageMessageHeaders`. Adding this interface should result in a fake `IManageMessageHeaders` and not throw the `InvalidOperationException`.

As you are unittesting you probably only want to use fakes on the your curren

[2015-01-06 15:51] ianbattersby commented on #2614
@ramonsmits After some experimenting seems my confusion stems from `var myMock = new Mock<IBus>().As<IManageMessageHeaders>();` resulting in a Type of `Mock<IManageMessageHeaders>` whereas doing `var myMock = new Mock<IBus>(); myMock.As<IManageMessageHeaders>()` keeps the Type intact as `IBus`. Huzzah!

So I now have this working using;
[code]

Noted your comment about faking out IBus opposed to m

[2015-01-06 15:51] #2614 closed

[2015-01-07 05:11] iskandersierra opened #2616 "Remove generic argument from ISendOnlyBus.Publish<T>(T message)"
There is no need for the T argument to be there. In fact the Send counterpart do not have it, as I believe it shouldn't. For compatibility reasons a new Publish(object message) should be added instead of modifying the current one.
Seems trivial but I got confused by the signature because I though the static type of the variable was used for something and because I'm using a polling mechanism for p

[2015-01-07 12:30] andreasohlund opened #2618 "Deprecate IManageUnitsOfWork"
And guide users to the pipeline instead since that is a better abstraction

[2015-01-07 12:31] andreasohlund opened #2619 "Deprecate message mutators"
And guide users to the pipeline instead since that is a better abstraction

[2015-01-07 15:03] andreasohlund opened #2620 "Obsolete the MasterNode concept and move it to the external distributor"
Since its a distributor only concept

https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.Core/Distributor/MasterNode/MasterNodeConfig.cs#L8

[2015-01-07 15:06] andreasohlund commented on #2596
Are we all good with splitting the callbacks out to a NServiceBus.Callbacks assembly and making it opt-in? (@udidahan?)

[2015-01-07 17:19] udidahan commented on #2596
@andreasohlund you mean in v6?

[2015-01-07 17:28] ianbattersby opened #2621 "ForwardReceivedMessagesToQueueCreator returned a null address"
**NB: Working off the develop branch**

When running `NServiceBus.Host.exe /install` from the command-line I receive the following error, but can't see that I'm missing anything in app.config related to `UnicastBus` configuration. Can you clarify if anything specific is required in moving from v4 to v5 in this regard?

[code]

Thanks in advance.

[2015-01-07 17:49] ianbattersby opened #2622 "Specific storage type logs incorrect 'not applied' messages"
**NB: Working on develop branch**

I notice that when using the following my log output is as expected;

[code]

.. however when using specifying specific storage types log messages confirm activation but later claim it was not applied, almost as though the second generic parameter for storage type isn't being applied.

[code]

[code]

It may be nothing but thought I'd mention it given the confusi

[2015-01-07 17:49] andreasohlund commented on #2596
Yes, v6

[2015-01-07 18:02] andreasohlund commented on #2621
I have a hunch this might be a bug. I'll try to repro is. For v5 we recommend using `AudiConfig` instead can you try that in the mean time? http://docs.particular.net/nservicebus/auditing-with-nservicebus

[2015-01-07 18:07] andreasohlund commented on #2621
I can't seem to repro this, new v5.1.2 endpoint with this in config installs ok:

[code]
Ideas?

[2015-01-07 18:08] udidahan commented on #2596
OK then.

[2015-01-08 00:05] johnsimons commented on #2596
@andreasohlund how will this affect transports with callback queues ?

[2015-01-08 00:08] johnsimons commented on #2622
@SeanFeldman do u want to look at this?

[2015-01-08 00:19] johnsimons commented on #2611
@SeanFeldman doesn't this change needs to be done in Azure? Not sure what to do in the core?

[2015-01-08 00:20] johnsimons commented on #2608
no idea, what is the bug?

[2015-01-08 00:23] SeanFeldman commented on #2608
`dataBusDefinitionType` setting is never set, but is used.

[2015-01-08 00:26] SeanFeldman commented on #2611
@johnsimons `NServiceBus/Transport` is not set by transport, so what's the rational for `NServiceBus/Persistence/*` to be set by transport? When persistence is required, it leads to each transport to set its own configs (example for Azure transport above).

[2015-01-08 00:28] johnsimons commented on #2608
Cool, can u fix it?

On Thursday, January 8, 2015, Sean Feldman <notifications@github.com> wrote:

[2015-01-08 01:04] johnsimons commented on #2610
@andreasohlund @SimonCropp how does this thing work?

[2015-01-08 01:07] johnsimons commented on #2611
sounds good @SeanFeldman, how do you propose to proceed?

I think raven and NH already do this kind of thing.

Will the interfaces have an explicit signature, eg:
[code]

[2015-01-08 01:49] SeanFeldman commented on #2622
@johnsimons, in scenario like this
[code]
Is it expected that **all** persisters but `Timeouts` be implemented by `InMemoryPersistence`?

[2015-01-08 01:58] johnsimons commented on #2622
yep
that is it @SeanFeldman

[2015-01-08 06:47] SeanFeldman commented on #2622
In addition to that, code should not allow the following scenarios:
[code]

[2015-01-08 07:43] andreasohlund commented on #2596
In a positive way IMO. Right now they have to have them on to be safe by default. Now they can check if the "callbacks" feature is enabled and only then create the callback queue and start the callback receiver

[2015-01-08 07:56] andreasohlund commented on #2618
At least for UOW I'd say the pipeline is better since it allows a more natural programming model with `using` etc. and we should push users this way. Just look at the UoW for NH back in NH 4.5

https://github.com/Particular/NServiceBus.NHibernate/blob/support-4.5/src/NServiceBus.NHibernate/UnitOfWorkManager.cs#L14

Thoughts?

[2015-01-08 08:10] SimonCropp commented on #2618
@andreasohlund well it depends if u see UOW as

 * a rarely used extensibility/infrastructure api; or
 * a regularly used business api

perhaps do a poll on the group?

[2015-01-08 08:41] johnsimons commented on #2618
@andreasohlund I would still have this interface

[2015-01-08 08:50] andreasohlund commented on #2618
So pushing the users down a tricky path in terms of coding is not an issue in your opinion?

I might be biased but getting the UoW setup correctly has always been black magic. Just look at this guy's blog post http://andreasohlund.net/2011/11/22/a-nservicebus-unit-of-work-implementation-for-ravendb/ :)

[2015-01-08 08:59] yvesgoeleven commented on #2611
We could obviously do this on a persister by persister basis, but the risk of getting misalignment over time is significant and confusing to the user imo. I would vote for consistent keys enforced by the feature in the core and then injected into the different implementations. I see no reason why the concept of a connectionstring for Sql would be different than for Raven or Azure storage

[2015-01-08 09:47] ianbattersby commented on #2621
I had tried the new `AuditConfig` as well but without any success. I'll try and debug it through and see what I can find.

[2015-01-08 09:50] andreasohlund commented on #2621
Ok, might be a bug on the dev branch then. Vierd since all acceptance tests for audit passes :(

[2015-01-08 10:48] ianbattersby commented on #2621
Problem seems to be that when `ForwardReceiveMessages.Setup()` is called (and the correct value retrieved from UnicastConfig) the subsequent call to `context.Container.ConfigureComponent<>()` gets returned from `StructureMapObjectBuilder` as there is already a configuredInstance for that type, so the value never gets set.

[code]

So I suppose the bigger question is how this configuredInstance alr

[2015-01-08 12:01] andreasohlund commented on #2621
Thanks @ianbattersby we'll dig into it!

[2015-01-08 12:42] andreasohlund commented on #2621
I've tried this:

[code]

With this config:

[code]

`NServiceBus.Host.exe /install` still work ok. What else do I need?

[2015-01-08 12:56] volak opened #2624 "Request: BusConfiguration.AddAssembly"
I am very particular about what assemblies I let NServicebus scan because I've run into conflicts before with 3rd party assemblies.  However I just came across an issue where I want a dependency of my project to be able to add itself into the scannedTypes list WITHOUT replacing whats already been scanned.

I am hesitant to implement IWantToRunWhenConfigurationIsComplete in my dependency because I

[2015-01-08 13:01] volak commented on #2624
Right after submitting that I had a thought, this kind of change would introduce an order of operations issue.  For instance this would work

[code]

Whereas this would not

[code]

A better solution would queue up a list of assemblies to scan and wait to populate scannedTypes until after IConfigureThisEndpoint is finished

[2015-01-08 13:28] andreasohlund commented on #2611
Sounds good to me

[2015-01-08 16:00] ianbattersby commented on #2621
Erm. I wonder if it's something to do with the container being passed into NSB already having a graph built or similar? This is what I'm doing;

[code]

I'll have another look later this evening but I might be tempted to try your example code but passing in a container that already been initialised via `AddRegistry`. I wonder if I should be using `IncludeRegistry` there?! Maybe one for @jeremydmil

[2015-01-08 19:52] ramonsmits commented on #2618
I have often used the UoW to create a DbContect and an ISession . Also used UoW in the past for logging different thread contexts and for creating session security tokens used to communicate with external systems. Just to apply DRY for a lot of infrastructural code.

I think people wouldn't mind migrating their code if it gets less error prone with less lines of code.

How would the pipeline work?

[2015-01-08 20:40] indualagarsamy commented on #2618
With the pipeline isn't this way better now, especially with the using block that the users can wrap?
Having the need for a Begin and End that the `IManageUnitsOfWork` interface imposes is counterproductive? @johnsimons - what uses do you see for keeping the IManageUnitsOfWork? Thoughts? My vote is for deprecating the IManageUnitsOfWork

[2015-01-09 00:23] johnsimons commented on #2612
@andreasohlund what do u mean by:

what are u proposing ?

[2015-01-09 08:40] andreasohlund commented on #2612
Just saying that we should allow storages to be configured for send only endpoints. This allows a user to configure a subscription storage so that bus.Publish can work.

Makes sense?

[2015-01-09 20:24] ramonsmits commented on #2612
So how should such a publisher receive registrations without an incoming queue? Is the thought that the 'senders' are part of some sort of service where another isolated process is responsible for processing subscriptions?

[2015-01-09 20:55] andreasohlund commented on #2612
Yes either that or read the subscribers from a central place. Also for brokers you don't need receive capabilities in order to publish since the broker handled the subscriptions

[2015-01-09 22:07] #2600 closed

[2015-01-13 17:30] agiudici opened #2627 "Auditing with Outbox enabled"
### Symptoms

The messages do not get audited.

### Who's affected

Anyone using the Outbox feature.

### Original issue

We are using RabbitMQ transport and the Outbox feature, but when outbox is enabled we stop receiving messages in the audit queue.

Our config is:
  configuration.UseTransport<RabbitMQTransport>();
  configuration.EnableOutbox();
  configuration.UsePersistence<NHibernatePersiste

[2015-01-14 12:12] Thorium commented on #2220
+1 for Async, for concurrency, to not block the thread.

[2015-01-14 17:16] SimonCropp commented on #2610
fixed by https://github.com/ParticularLabs/GitVersion/issues/347

[2015-01-17 08:37] johnsimons opened #2628 "Unhandled exception on shutdown related to BusNotifications"
### Symptoms

`NullReferenceException` thrown when shutting down the endpoint.

### Who's affected

Anyone using the notifications API (`BusNotifications`).

### Details

I'm using 5.1.2 and I'm registering handlers for BusNotifications so I can do custom logging when messages fail.
This seem to work perfectly when using nservicebus.host but when hosting an endpoint in an ASP.Net application I get

[2015-01-19 13:22] #2627 closed

[2015-01-19 13:22] #2628 closed

[2015-01-20 09:58] johnsimons commented on #2621
@ianbattersby any progress on this one?

[2015-01-20 10:00] johnsimons commented on #2624
@volak
So in summary, you would like the api to be additive, right ?

I'm :+1:

@Particular/nservicebus thoughts ?

[2015-01-20 10:02] johnsimons commented on #2616
:+1:

@Particular/nservicebus thoughts ?

[2015-01-20 10:10] johnsimons commented on #2610
@SimonCropp what version of gitversion has the fix?

[2015-01-20 10:14] SimonCropp commented on #2610
2.0.1. I am finalising the release now

[2015-01-20 10:14] johnsimons commented on #2610
cool, thanks

On 20 January 2015 at 20:14, Simon Cropp <notifications@github.com> wrote:

[2015-01-20 10:18] johnsimons commented on #2609
It looks like this issue is resolved:
"Azure stores the exception in a different column"

[2015-01-20 10:21] johnsimons commented on #2606
Fixed in https://github.com/Particular/NServiceBus/commit/0a346d58ea6852dfd0e16c7605cd409f96826b1c

[2015-01-20 10:21] #2606 closed

[2015-01-20 10:24] johnsimons commented on #2605
@minhhut any update on this, what version of NserviceBus are u running?

[2015-01-20 11:04] danielHalan commented on #2609
Actually the issue is about the log record,
 [Info] "Failed to process message"

To include message type in that text string, ie. (and maybe even include the exception type)
 [Info] Failed to process message 'Ns.Commands.DoSomething' (xxxxxxxException)

[2015-01-20 11:35] SimonCropp commented on #2616
@johnsimons looks reasonable. So assign to v6?

[2015-01-20 11:36] johnsimons commented on #2609
Ok @danielHalan

[2015-01-20 11:37] johnsimons commented on #2609
@Particular/nservicebus thoughts ?

[2015-01-20 11:40] johnsimons commented on #2599
@mauroservienti this issue has been raised a few times and since it is a breaking change, can you please raise this in the requirements.

[2015-01-20 11:40] #2599 closed

[2015-01-20 11:40] SeanFeldman commented on #2609
Agree with @danielHalan

Is better than just

[2015-01-20 11:42] johnsimons commented on #2598
Since it is impossible to know what the real error is, I'm closing this issue

[2015-01-20 11:42] #2598 closed

[2015-01-20 11:44] johnsimons commented on #2080
Sounds good @andreasohlund, can u raise it in the requirements?

[2015-01-20 11:50] johnsimons commented on #522
@andreasohlund please move this to requirements repo

[2015-01-20 11:50] #522 closed

[2015-01-20 12:13] johnsimons commented on #2028
Have just tried against json.net v6.0.8, still broken.
Do I rollback json.net to v4.5.11, the version that used to work on ?
@Particular/nservicebus thoughts?

[2015-01-20 12:15] SimonCropp commented on #2028
@johnsimons changing json.net backwards can only be done in a major release since technically we could be removing features

if they use this https://github.com/SimonCropp/NServiceBus.Newtonsoft.Json they can pick their json.net version. so possible workaround?

[2015-01-20 12:18] synhershko commented on #2028
@johnsimons there's no need to go backwards, the fix is rather simple, see https://github.com/Particular/NServiceBus/issues/2028#issuecomment-40098434. I can take send a PR if you want.

[2015-01-20 12:39] johnsimons commented on #2028
@synhershko according to your comment the fix is for the user to initialize the prop with a type that has a ctor, so not sure what PR you can send ?

[2015-01-20 12:40] johnsimons commented on #2028
@SimonCropp we can downgrade json lib in the v6 release ?

[2015-01-20 12:41] SimonCropp commented on #2028
@johnsimons yes but u would need to document all the things fixed and added between the two json .net versions as breaking changes. since in effect they are breaking changes from the perspective of people consuming NSB

[2015-01-20 12:42] synhershko commented on #2028
@johnsimons see my last comment there, namely http://stackoverflow.com/a/8372749/135701. We can have this config enabled by default - but this _may_ be a breaking change to some who rely on it so maybe require enabling it explicitly?

[2015-01-20 12:43] johnsimons commented on #2028
@SimonCropp yes, so do we go ahead and do that?

[2015-01-20 12:44] SimonCropp commented on #2028
@johnsimons i think @andreasohlund has plans to dump Json.net from the core. perhaps wait for him to weigh in??

[2015-01-20 12:45] johnsimons commented on #2028
@synhershko i guess the fact is that this used to work and no longer works now

[2015-01-20 12:45] SimonCropp commented on #2028
@johnsimons https://github.com/Particular/NServiceBus/issues/2460

[2015-01-20 12:47] johnsimons commented on #2028
@SimonCropp this issue has previously been closed because of that, and then reopened again see https://github.com/Particular/NServiceBus/issues/2028#issuecomment-66434623, so are we saying we should not fix this now?

[2015-01-20 12:48] johnsimons commented on #2460
@andreasohlund please move this to requirements repo

[2015-01-20 12:48] #2460 closed

[2015-01-20 12:49] SimonCropp commented on #2028
@johnsimons so the fix suggested by @synhershko works and wont break anything else (to the best of our knowledge)? if so then yes it should go in a patch

[2015-01-20 12:55] johnsimons commented on #2028
ok, I must be blind, but what is the fix suggested by @synhershko ?
Is it for the user to use `List` ?

[2015-01-20 13:01] synhershko commented on #2028
@johnsimons something like this: http://stackoverflow.com/a/17680641/135701

[2015-01-20 13:12] johnsimons commented on #2028
I think the best way forward is a PR to see if we can fix this without any user changes

[2015-01-20 13:13] synhershko commented on #2028
@johnsimons on it, will send something next week

[2015-01-20 13:44] nohros commented on #2080
The bug part(fire multiple times) will be fixed for v4.x?

[2015-01-20 15:10] johnsimons commented on #2080
@andreasohlund I think we should also fix `IHandleSagaNotFound` should only fire if no saga was invoked for the message, at the moment it fires if the first Saga is not found, even thought subsequent sagas could be found :(

[2015-01-20 18:04] volak commented on #2624
Yes - short and sweet :+1:

[2015-01-20 19:47] #2610 closed

[2015-01-21 15:29] davidsavagejr opened #2630 "Exception Data property is ignored when setting exception headers"
When setting the exception headers for a handled exception, the Data property is ignored.  Adding these to the headers allows for the attaching of useful data at the time the exception is thrown and saves time trying to track it down in a log file.

For example, in a Saga, I may have been sent something "bad" and I need to throw/abort the process - but I want to include data elements on the except

[2015-01-22 09:47] SimonCropp commented on #2478
moved to requirements

[2015-01-22 09:47] #2478 closed

[2015-01-22 12:47] SzymonPobiega opened #2632 "Assembly filtering is not consistent"
Framework assemblies (.NET, Enterprise Library) are [filtered out](https://github.com/Particular/NServiceBus/blob/83ddf0d9b2bb6ab791ec55b44b9759c603a355ad/src/NServiceBus.Core/Hosting/Helpers/AssemblyScanner.cs#L164) when scanning assembly directory but are not filtered out when scanning assemblies already loaded into the app domain.

[2015-01-26 12:02] yvesgoeleven opened #2633 "Acceptance tests fail to nuget restore because filename too long"
Nuget restore cannot restore the acceptence test sources for repository NServiceBus.AzureServiceBus, and acceptencetests source 5.2 beta1, because the resulting filenames are to long. The basepath on my machine is...

C:\github.org\nsb\NServiceBus.AzureServiceBus\src\packages\NServiceBus.AcceptanceTests.Sources.5.2.0-beta0001\content\App_Packages\NSB.AcceptanceTests.5.2.0-beta0001

I worked around

[2015-01-26 12:03] yvesgoeleven commented on #2633
PS: it's a nuget restore because I'm moving code from azure repo to azureservicebus repo, same issue would happen on install

[2015-01-26 20:54] #2630 closed

[2015-01-26 23:21] MarkHillIngram opened #2634 "NServiceBus Portal Page incorrectly opens"
I think this is related to the following issue https://github.com/Particular/NServiceBus/issues/1953

essentially in some unknown situation, the solution being opened prompts the behavior to show the portal page despite things already being installed.  It does not always do this but once it is doing it on a project it simply will not stop doing it on that project.

see: https://groups.google.com/f

[2015-01-26 23:26] johnsimons commented on #2634
Hi @MarkHillIngram

Yes, we have been chasing this issue for a while and most time we are not able to reproduce :disappointed:

Are you able to reproduce this issue consistently? Can you share a small repro ?

[2015-01-26 23:31] MarkHillIngram commented on #2634
unfortunately the one solution I notice it on consistently is large and this may be a factor?  When I create a new project it does not seem to occur, but at some point in the future it will start happening and then I cannot seem to fix it

[2015-01-26 23:32] johnsimons commented on #2634
Can you check if the solution contains multiple versions of NServiceBus
nugets ?
And what versions ?

On 27 January 2015 at 09:31, MarkHillIngram <notifications@github.com>
wrote:

[2015-01-26 23:38] MarkHillIngram commented on #2634
no they all have the same version (4.2)

[2015-01-27 00:35] johnsimons commented on #2632
Duplicate https://github.com/Particular/NServiceBus/issues/2572#issuecomment-63736350

[2015-01-27 00:35] #2632 closed

[2015-01-27 00:36] johnsimons commented on #2624
@Particular/nservicebus thoughts ?

[2015-01-27 00:42] johnsimons commented on #2609
Even thought it may make sense to include that extra info, I do not think it provides such added benefit.
In v5.1 we have added the capability of [subscribing to error notifications](http://docs.particular.net/nservicebus/subscribing-to-push-based-error-notifications), which IMO are a much better fit for this kind of diagnostics.
So based on that I am :-1: to do this change.

[2015-01-27 03:06] #2622 closed

[2015-01-27 04:42] SimonCropp commented on #2624
@volak is the only thing you want to pick up in the other assembly `IWantToRunWhenConfigurationIsComplete`?

[2015-01-27 04:50] volak commented on #2624
@SimonCropp No, actually I don't want to implement `IWantToRunWhenConfigurationIsComplete` because when setting up `AllAssemblies.Matching` it would be better to not have to include my assembly's name.
It would make more sense for my library to add itself into my client's assembly list for maximum compatibility.
Problem is by calling `Busconfiguration.AddTypes` the existing types are cleared

[2015-01-27 05:33] johnsimons commented on #2624
My proposal is to add the following api:
[code]
This would be all additive.

The question  then is, should the existing api be obsolete ?

[2015-01-27 06:52] danielHalan commented on #2609
The benefit is when browsing the info-logs, and one want to map the errors occurring there to other sources of Error lists. also its a time saver when monitoring the logs output, and not needing to go to other sources if the errors are of expected message type.

[2015-01-27 08:20] mauroservienti commented on #2609
I'm with @danielHalan, the need should be seen from the DevOps point of view, maybe in a production environment, I'm not expecting anyone writing code to determine which message type is failing, I simply expect to look in the logs, or much better in the Windows EventLogs where I configured to log engine to write things to.

[2015-01-27 08:31] indualagarsamy opened #2635 "Make the IncomingContext constructor public to help with unit testing behaviors"
At the moment, users who want to unit test their behavior code can't because the constructor of the IncomingContext is internal, whereas OutgoingContext is not.

https://github.com/Particular/NServiceBus/blob/master/src/NServiceBus.Core/Pipeline/Contexts/IncomingContext.cs#L12

[2015-01-27 08:40] indualagarsamy commented on #2609
+1 with @SeanFeldman - sometimes we need to troubleshoot looking at the logs and it can be useful.

[2015-01-27 09:57] indualagarsamy commented on #2635
@Particular/engineers - any objections on if I make the constructor public?

[2015-01-27 10:59] andreasohlund commented on #2635
No objections

On Tue, Jan 27, 2015 at 10:57 AM, Indu Alagarsamy <notifications@github.com>
wrote:

[2015-01-27 11:01] johnsimons commented on #2635
I think we have already done this in the PR we are working on

On 27 January 2015 at 20:59, Andreas Öhlund <notifications@github.com>
wrote:

[2015-01-27 11:16] indualagarsamy commented on #2635
@johnsimons - which PR? How long before it gets merged? Or can I just make this change in develop ?

[2015-01-27 11:45] #2080 closed

[2015-01-27 13:53] indualagarsamy commented on #313
@andreasohlund - can you update the issue description with what needs to be done, now that the saga meta model is available?

[2015-01-27 14:58] #2612 closed

[2015-01-27 16:41] indualagarsamy opened #2636 "Make AcceptanceTest framework easier to adopt in new solutions"
At the moment, even after we pull down the `NServiceBus.AcceptanceTesting` framework nuget, it still is some effort to try and define the contexts, the test setup harness, etc.
What can we do to try and minimize that?

cc / @andreasohlund

[2015-01-27 23:55] johnsimons commented on #2636
@indualagarsamy lots of things can be done to improve the situation.
We need to start prototype a new api and see how it goes, maybe start a slack channel where we can discuss options?

Also since the AT framework is plan for one day to be released to our users, maybe open a requirements issue instead?

[2015-01-28 00:02] #2635 closed

[2015-01-28 00:04] johnsimons commented on #2621
@ianbattersby please reopen if this is still an issue

[2015-01-28 00:05] johnsimons commented on #2605
@minhhut if you can please send us a repro of this issue, for now I am closing this as we do not have enough info to act on it.

[2015-01-28 00:05] #2605 closed

[2015-01-28 10:21] Porkstone commented on #904
I guess you have to pick your battles. I still feel addressing this would increase the pit of success a bit.

[2015-01-28 15:07] #2586 closed

[2015-01-29 02:37] johnsimons opened #2637 "Do we support non generic Sagas?"
As part of merging #2613, I have noticed that we do not support non generic sagas, or in other words, we do not support someone creating a saga that instead of deriving from `Saga<T>` they derive from just `Saga`.

The code that will cause an exception is [here](https://github.com/Particular/NServiceBus/blob/6f7a1ff5bc685159484c1f8837d1c400cc1266ae/src/NServiceBus.Core/Sagas/TypeBasedSagaMetaModel

[2015-01-29 07:05] particularbot opened #2638 "Incorrect NHibernate nuget package dependency"
### Symptoms

Assembly resolution errors occur when NServiceBus attempts to load NHIbernate

### Resolution

Correct the NServiceBus.NHibernate nuspec to point to `3.3.0.4000` of Nhibernate instead of `3.3.1.4000`

---

[code]
![image001](https://cloud.githubusercontent.com/assets/125256/5788707/11e0bdb8-9e4f-11e4-842b-9b575397d360.png)
![image004](https://cloud.githubusercontent.com/assets/125256

[2015-01-29 07:10] johnsimons commented on #2638
@andreasohlund this is a 3.3 bug but not critical, do we patch or not ?

[2015-01-29 14:40] SeanFeldman commented on #2637
What would be a scenario for using `Saga` w/o data? Usually Saga is introduced when you need a "memory effect" which would be `ContainSagaData`.

[2015-01-29 23:08] SimonCropp commented on #2637
i see no need for it

[2015-01-29 23:21] johnsimons commented on #2637
@SeanFeldman it is still fine to use just `Saga` and still save data, the only difference is that the "data" is not typed

[2015-01-29 23:35] johnsimons commented on #2637
@SimonCropp so should we handle this more gracefully? At the moment blows up :disappointed:

[2015-01-30 00:56] SeanFeldman opened #2639 "Scheduler with scale-out"
## Who's affected

- Anyone who's using Scheduler API and wants to scale-out

## Symptoms

- Scheduled tasks are not executed

## Steps to reproduce
When scheduler used to schedule a task in an endpoint that is scaled-out to several instances, tasks will not guaranteed to be executed due to Scheduler API in-memory implementation.

## Related
https://github.com/Particular/Requirements/issues/188

[2015-01-30 00:56] SeanFeldman commented on #2639
@Particular/engineers please provide feedback on how critical it is or not

[2015-01-30 00:59] johnsimons commented on #2639
IMO this is kind of a critical issue since we are consuming the message from the queue and not executing the handler, it feels like message loss to me.

@andreasohlund thoughts ?

[2015-01-30 04:58] johnsimons commented on #2636
@indualagarsamy this is a very generic issue, can we close this and raise it in requirements?

[2015-01-30 06:37] janovesk commented on #2609
This was a regular complaint from previous clients upgrading from earlier versions of Nservicebus which did include the messagetype. Ops guys lost the ability to quickly scan logs and access severity. I

[2015-01-30 06:41] andreasohlund commented on #2638
Is the fix easy? If yes we could include it the next time we have to patch 3.3?

[2015-01-30 06:50] andreasohlund commented on #2639
I'd say this is "message loss" since a task not executing might result in messages not beeing sent /business logic not executed. So +1 for critical.

[2015-01-30 07:20] andreasohlund commented on #2637
Throwing a better ex seems resonable.

Do we even need the non generic type?

[2015-01-30 07:46] johnsimons commented on #2637
Yes

agree, i'll look into it

[2015-01-30 07:58] andreasohlund commented on #2637
Ok, I would change the classification from `Bug` to `Improvement` though

On Fri, Jan 30, 2015 at 8:46 AM, John Simons <notifications@github.com>
wrote:

[2015-01-30 08:52] andreasohlund commented on #313
@indualagarsamy I've updated the description. Also updated the title since this can be applied to all messages that has some kind of correlation defined. Auto correlation is a different (valid) feature

[2015-01-30 08:54] mackie1001 commented on #1338
Is there a way of customising this in the latest version? I guess it would require something a bit lower level than IMutateOutgoingTransportMessages.

[2015-01-30 09:00] andreasohlund commented on #1338
I believe that its valid for us to provide details that makes debugging using the native tools for each transport easier. Eg we set channel and connection info in RabbitMQ to make it easier for admins to see what's going on. Since label is visible in both the native msmq mmc plugin and queue explore I believe this a valid request.

Reopening this one

[2015-01-30 09:21] mackie1001 commented on #1338
It could be as simple at just having an optional TransportMessage header ("Msmq.Label"?) that if set will becomes the MSMQ message label.

[2015-01-30 11:16] WilkoSki commented on #1338
As Andreas has inferred its a no-brainer.  Just default the message label to the message type but also provide an extension method for IBus to allow users to customise the message label if they wish.

If you were writing something using raw msmq you'd always label the message for traceability.

Having something in the message label would ease support tasks and fault finding no end.

[2015-01-30 22:15] SeanFeldman commented on #2639
Question from https://github.com/Particular/NServiceBus/commit/d08e6596ffa3606d4bbe0076ff01e9814d4b691b#commitcomment-9525024: is this a hotfix or a minor release?

[2015-02-01 23:53] SimonCropp commented on #2554
@andreasohlund why dont we default to "error" if it is not defined? the same way we do for audits

[2015-02-01 23:55] SimonCropp commented on #2539
@andreasohlund want to pair on this?

[2015-02-02 00:03] #2119 closed

[2015-02-02 00:12] #2540 closed

[2015-02-02 00:18] johnsimons commented on #2554
@SimonCropp looking for the audit code only api, and I can't find it, can u point me to it?

[2015-02-02 00:27] SimonCropp commented on #2554
@johnsimons my mistake i thought we did have one :(

But i think the issue still stands. I would like to have a sensible default and have it configurable via code

[2015-02-02 00:27] johnsimons commented on #2554
What would be the proposed api ?

[2015-02-02 00:28] johnsimons commented on #2554
Should this be raised in requirements?

[2015-02-02 00:33] SimonCropp commented on #2554
[code]

Dont see why something this trivial should go through requirements

[2015-02-02 00:33] johnsimons commented on #2539
@SimonCropp so does the current code break callbacks between v5 and v4 ?
Can you explain what the bug is?

[2015-02-02 00:34] johnsimons commented on #2554
Famous last words ;)

[2015-02-02 00:39] johnsimons commented on #2554
I would raise this in requirements and quite possible it will be fast tracked.
But it would be nice to let others know what the plan is, specially since we already have a code only solution that works using `IProvideConfiguration<MessageForwardingInCaseOfFaultConfig>`.
I know that `IProvideConfiguration<T>` is not the best api, hence it would be nice to explore in the requirements repo this new al

[2015-02-02 01:03] johnsimons commented on #2539
@andreasohlund can you help @SimonCropp and I understand if there is actually a bug here or not ?

[2015-02-02 01:06] johnsimons commented on #2638
@andreasohlund yes pretty sure is a trivial update, sounds like a good plan to patch it as part of next 3.3 release.

[2015-02-02 01:07] SimonCropp commented on #2554
@johnsimons there is already a requirements issue to track the larger change https://github.com/Particular/Requirements/issues/168

As for the error queue, and prob the audit queue as well, they are so commonly used they should be configurable by code no matter the outcome of that requirements issue.

[2015-02-02 01:13] johnsimons commented on #2554
@SimonCropp excellent, so it sounds like we can close this one and wait for the outcome of https://github.com/Particular/Requirements/issues/168, does that sound reasonable?

[2015-02-02 01:14] SimonCropp commented on #2554
@johnsimons no

[2015-02-02 07:05] andreasohlund commented on #2554
I'm +1 for adding `configuration.ErrorQueue("MyErrorQueue");` right away since it adds value for both us and our users.

[2015-02-02 07:08] SimonCropp commented on #2554
@andreasohlund what about a sensible default?

[2015-02-02 07:19] andreasohlund commented on #2554
I vote for `error`

On Mon, Feb 2, 2015 at 8:08 AM, Simon Cropp <notifications@github.com>
wrote:

[2015-02-02 07:23] johnsimons commented on #2637
A better exception has been added

[2015-02-02 07:23] #2637 closed

[2015-02-02 10:00] SimonCropp commented on #2554
closing so we can focus on the larger code configuration issue

[2015-02-02 10:00] #2554 closed

[2015-02-03 02:05] johnsimons commented on #2634
@MarkHillIngram what happens if you update to latest 4.x ?

[2015-02-04 02:17] gbiellem commented on #2519
I need to update the doco prior to releasing the new PS MSI download.  Once that's out how about we advise that they download it instead

[2015-02-04 02:18] SimonCropp commented on #1184
this is done

[2015-02-04 02:18] #1184 closed

[2015-02-04 03:08] SimonCropp commented on #2290
@andreasohlund the address ones

[2015-02-04 03:34] SimonCropp commented on #1626
@andreasohlund so is the plan in V6 to split XmlMessageSerializer out into its own repo? if so this is not worth fixing

[2015-02-04 04:03] johnsimons commented on #1626
I disagree @SimonCropp.
Regardless on which repo we address this, I think refactoring `XmlMessageSerializer` as the issue describes is a big win for code maintenance.

[2015-02-04 04:15] SimonCropp commented on #2145
this is done

[2015-02-04 04:15] #2145 closed

[2015-02-04 04:44] SimonCropp commented on #2342
@andreasohlund

re EndpointSLAAttribute

given the code api is the same amount of code for users, string typed, and and much less code for us do we just "mark as obsolete with warning" now and switch to error in v6

[2015-02-04 08:54] andreasohlund commented on #2340
What actions do we see here? close?

[2015-02-04 08:56] andreasohlund commented on #2290
Since we have plans to fix the address should we:

1. Close this one since it will be covered the address refactoring you
started @simoncropp
2. Open a new issue for the address fields
3. Leave this as is

Thoughts?

On Wed, Feb 4, 2015 at 4:08 AM, Simon Cropp <notifications@github.com>
wrote:

[2015-02-04 09:02] SimonCropp commented on #1394
@andreasohlund so i waded into this code and got sucked down the rabbit hole.  want to pair on this ?

[2015-02-04 09:07] SimonCropp commented on #2342
also the removal of IConfigureThisEndpoint from the core needs EndpointSLAAttribute to be removed first

[2015-02-04 09:12] johnsimons commented on #1394
Where u getting stuck @simoncropp ?

On Wednesday, February 4, 2015, Simon Cropp <notifications@github.com>
wrote:

[2015-02-04 09:17] andreasohlund commented on #1626
What benefits would splitting the xml serializer out give us?

Are you proposing that we ship wo serializer "in the box" and force users to always select one?

[2015-02-04 09:22] andreasohlund commented on #2342
Sounds good, is there doco that we need to remove/update?

On Wed, Feb 4, 2015 at 10:07 AM, Simon Cropp <notifications@github.com>
wrote:

[2015-02-04 11:54] SimonCropp commented on #2342
@andreasohlund  yeah there are two token mentions of `EndpointSLA` http://docs.particular.net/search?q=EndpointSLA   i would say just remove them and point to the code version

[2015-02-04 12:02] SimonCropp commented on #2479
@andreasohlund worth doing?

[2015-02-04 12:58] andreasohlund commented on #2342
Makes sense

[2015-02-04 12:59] andreasohlund commented on #2479
I'd say yes

On Wed, Feb 4, 2015 at 1:02 PM, Simon Cropp <notifications@github.com>
wrote:

[2015-02-04 21:07] SimonCropp commented on #2342
@indualagarsamy will this effect servicematrix?

[2015-02-04 22:53] ydchome opened #2643 "StorageDrivenPublisher: GetMessageMetadata fail to get a type"
In StorageDrivenPublisher, it gets the message metadata using the event type's FullName, instead of AssemblyQualifiedName. It causes internal implementation of GetMessageMetadata fail to get a type via using type name without assembly qualified. There is another overload method: MessageMetadata GetMessageMetadata(Type messageType) in MessageMetadataRegistry. The following code shows that it has al

[2015-02-04 22:58] johnsimons commented on #2643
@ydchome how do I reproduce this issue?

[2015-02-04 22:59] johnsimons commented on #2643
@ydchome What version of NServiceBus are you on?

[2015-02-04 23:08] johnsimons commented on #2479
Sounds like a good plan, but others also need to chime in to make sure there are no side effects.

@Particular/engineers anyone see issues with @SimonCropp proposal ?

@SimonCropp you say:

do u have any numbers?

[2015-02-04 23:10] #2340 closed

[2015-02-04 23:11] SimonCropp commented on #2479
@johnsimons

no

[2015-02-05 00:09] ydchome commented on #2643
The version of NServiceBus is 5.1.2. My application is WCF application and host on IIS, I test the change in test environment, it works as above described and can be reproduced.And I think it is hard to setup a external environment and reproduce it.

I check the doc of Type.GetType ( https://msdn.microsoft.com/en-us/library/w3f99sx1(v=vs.110).aspx ), it said "The assembly-qualified name of the typ

[2015-02-05 00:25] SimonCropp commented on #1626
@andreasohlund so we have a requirement to "be as easy to get started OOTB". So as part of that I think we need at least one serializer in the core. I dont think we need two.

[2015-02-05 00:38] johnsimons commented on #1626
Totally agree @SimonCropp, so which one are u proposing to leave in the core ?

[2015-02-05 00:42] SimonCropp commented on #1626
json was my thinking. although there is the additional complexity of we would be changing the default serializer. so obviously would be done in a major release with associated doco.

[2015-02-05 00:46] johnsimons commented on #1626
I think it would be safer and easier for our end users to just leave the xml in the core and move everything else out, that said, the Binary serializer is really not hurting us at all so I would leave that as well.

The json is a bit more interesting because Azure uses it as its default, so Azure users would have to reference a new package, but hopefully those users are not large numbers.

[2015-02-05 00:49] johnsimons commented on #2643
@ydchome having a hard time understanding all this moving parts.

So are you saying that when your endpoint receives a message, somewhere down in `MessageMetadataRegistry` an exception is thrown?

[2015-02-05 01:10] indualagarsamy commented on #2342
@SimonCropp - I am assuming that these will be available on the NServiceBus.Host nuget package.
At the moment, yes the EndpointSLA attribute is being generated and also the interfaces with `IConfigureThisEndpoint` - but these happen when creating a NSB host endpoint.

If you are obsoleting the interface and the attribute then I can make the appropriate fixes in SM to the new API changes / removing

[2015-02-05 04:02] SimonCropp commented on #2643
@ydchome specifically can you provide an exception stack trace

Also it would be much easier to look into this if you could provide a way to reproduce it. Perhaps modify one of the samples to match your scenario? eg this one http://docs.particular.net/samples/web/asp-mvc-application/

[2015-02-05 09:59] mauroservienti opened #2644 "When mixing multiple persistence types in endpoint configuration endpoint fails to startup"
## Who's affected

Any endpoint that needs to be configured using multiple persistence types

## Symptoms

When configuring an endpoint using a configuration such as the following:

    cfg.UsePersistence<MsmqPersistence, StorageType.Timeouts>();
    cfg.UsePersistence<InMemoryPersistence, StorageType.GatewayDeduplication>();
    cfg.UsePersistence<InMemoryPersistence, StorageType.Sagas>();
    cf

[2015-02-05 10:26] janovesk commented on #2644
So quick answer is that MSMQ for timeouts is no longer supported. Use either InMemory or one of the other persisted implementations.

Really bad error message though, I'll look into that.

[2015-02-05 10:55] mauroservienti commented on #2644
I'd say that this is an issue in for 2 reasons:

1. configuring the endpoint only with: `cfg.UsePersistence<MsmqPersistence>()` blows up with a NRE exception, that the user cannot understand in any way;
* storing in MSMQ is obviously a problem because it prevents to scale out, but if we allow the above config we should still support all the scenario as we always did, or at least provide a better e

[2015-02-05 11:06] SimonCropp commented on #2644
@mauroservienti

That is why I want to add a file based persistence for development purposes as a default option in the core

[2015-02-05 11:07] mauroservienti commented on #2644
purposes as a default option in the core

like it.

On Thu, Feb 5, 2015 at 12:06 PM, Simon Cropp <notifications@github.com>
wrote:

--
Mauro Servienti | Solution Architect | Particular Software

[2015-02-05 14:11] andreasohlund commented on #1626
I'd say json is definitely the way to go long term since its definitely the number one format these days, at least compared to XML. Using json would very likely make feature like https://github.com/Particular/Requirements/issues/151 since that payload obviously would be json

[2015-02-05 20:14] SeanFeldman commented on #2572
+1 for loading Particular assemblies by default unless user has explicitly configured not to.
Also, could we upon EP start-up show in diagnostics assemblies that were scanned, just like it's done for features?

[2015-02-05 20:24] ramonsmits commented on #2572
Yes, and mark which ones are not scanned (so indirectly excluded).

[2015-02-05 21:54] jeffchanwl commented on #2572
I also agree that Particular assemblies should be included by default unless explicitly excluded.

[2015-02-05 22:01] SimonCropp commented on #2572
so someone else writes an addin extension for SC and follows our model. we would then have an inconsistency in our API that would be very hard for the dev to work out.

The problem here is that "we should always scan Particular dlls" the problem is that we are overusing assembly scanning. It is a very fragile api to use, if we bypass it to "always scan our assemblies" we are effectively saying "ye

[2015-02-05 22:33] SeanFeldman opened #2645 "Split DataBus acceptance tests into nuget source package of its own"
Currently there is a default implentation for `DataBus` found in core - [`FileShareDataBusImplementation`](https://github.com/Particular/NServiceBus/blob/1a45e1b5f065ce5e9728f41c793daec78d860cb9/src/NServiceBus.Core/DataBus/FileShareDataBusImplementation.cs). It is tested with automated acceptance test [`When_sending_databus_properties`](https://github.com/Particular/NServiceBus/blob/1a45e1b5f065c

[2015-02-06 04:16] andreasohlund commented on #2645
Should it be a set of unit tests as well/instead? (since our acpt tests
arguably isnt checking all edge cases)

On Thu, Feb 5, 2015 at 11:33 PM, Sean Feldman <notifications@github.com>
wrote:

[2015-02-06 15:51] andreasohlund commented on #2521
We should require all transports to give us an id. Rabbit has already been modified to allow the id strategy to be pluggable. Closing this

[2015-02-06 15:51] #2521 closed

[2015-02-08 16:33] synhershko commented on #2633
You mean the entire path is too long? if so this is an issue to raise with nuget

[2015-02-08 21:52] #2636 closed

[2015-02-09 00:25] johnsimons commented on #2539
@andreasohlund ping, see previous comment

[2015-02-09 00:26] johnsimons commented on #2519
Sounds good @gbiellem, anything I can help with ?

[2015-02-09 00:27] johnsimons commented on #313
@andreasohlund @udidahan is it ok if this does not go out in 5.2?

[2015-02-09 00:47] #1764 closed

[2015-02-09 06:44] johnsimons commented on #53
We not doing this

[2015-02-09 06:44] #53 closed

[2015-02-09 06:46] johnsimons commented on #748
@SzymonPobiega with the changes you have done to the threading, what's your thoughts on this?

[2015-02-09 06:50] andreasohlund commented on #313
Yes, this should be rehashed in requirements

On Mon, Feb 9, 2015 at 1:27 AM, John Simons <notifications@github.com>
wrote:

[2015-02-09 10:10] SzymonPobiega commented on #748
Already implemented in [extending pipeline](https://github.com/Particular/NServiceBus/tree/extending_pipeline_to_transport) branch. Also, implemented (in a slightly different way) in upcoming NSB.SQL 2.1

[2015-02-09 17:32] SeanFeldman commented on #2080
@johnsimons could you please add `###Docs` or link doco PR to this? Thank you :)

[2015-02-09 17:41] andreasohlund commented on #2080
@SeanFeldman pretty sure this should be classified as a bug, not feature?

@johnsimons please confirm

[2015-02-09 17:57] indualagarsamy commented on #2080
@andreasohlund - either way, shouldn't our doco be updated / clarified on the ISagaNotFound section. At the moment, there is a code snippet, but i think it deserves its own section, see current doco here: http://docs.particular.net/nservicebus/sagas-in-nservicebus

[2015-02-09 18:00] fafachd commented on #736
I created a EsbMonitor endpoint that sends email commands to my email endpoint when a failed message comes in, or when and endpoint goes down or a custom check fails. However, SC publishes MessageFailed events using the JsonSerializer, and my email endpoint (and all my other endpoints) use the XmlSerializer. Is there any way to either:
1. Update my EsbMonitor endpoint to send using the XmlSerializ

[2015-02-09 18:13] andreasohlund commented on #2080
Thing is that this one just fixed the fact that we call the handlers multiple time. The new api hasn't been implemented yet?

[2015-02-09 21:56] johnsimons commented on #748
That is what I thought @SzymonPobiega.
Closing as already implemented

[2015-02-09 21:56] #748 closed

[2015-02-09 21:58] johnsimons commented on #736
@fafachd what NServiceBus version are you on?
It is possible to do what you want, see http://player.vimeo.com/video/99330466?autoplay=1

[2015-02-09 22:00] johnsimons commented on #2080
@SeanFeldman the doco is done as part of the PR #2629

[2015-02-09 22:17] johnsimons commented on #2519
@gbiellem it would be really nice to fix this for 5.2 release, what can we do?

[2015-02-09 22:37] gbiellem commented on #2519
@johnsimons

I think the ps module is ready but feel free to test it.

Outstanding:
- The installer doesn't currently have a theme consistent with the other products  (do we bother?)
- doco hasn't been updated.
- need to modify the downloads page on public website once it's release to provide a link
- Add it to the PI ?

Feel free to tackle any of these

[2015-02-09 22:53] fafachd commented on #736
Thanks, @johnsimons, that's just what I needed. That's what I get for skipping NSBCon!

In re-thinking the problem, I decided to take a slightly different approach. My EsbMonitor endpoint will be running on an audit server and will interact with ServiceControl. All of our other endpoints, including our email endpoint, are running on an app server. Since I want the EsbMonitor to be able to report o

[2015-02-10 01:55] johnsimons commented on #2519
Fixed in https://github.com/Particular/NServiceBus/commit/01985d895a66a923f397a9c15a954dad6fe73b1a

[2015-02-10 01:55] #2519 closed

[2015-02-10 04:42] johnsimons commented on #2634
@MarkHillIngram I'm closing this issue as I'm unable to replicate it.
If you able to send us a consistent reproduction, I'll reopen it.

[2015-02-10 04:42] #2634 closed

[2015-02-10 05:40] SeanFeldman commented on #2645
Unite tests are good for specific implementations. Acceptance test would verify that it works end to end.

[2015-02-10 09:29] andreasohlund commented on #2645
So 2 packages or just one?

On Tue, Feb 10, 2015 at 6:40 AM, Sean Feldman <notifications@github.com>
wrote:

[2015-02-10 15:53] SeanFeldman commented on #2645
One, which is Acceptance Test(s). Unit tests should be internal to implementation of `DataBus` variation, i.e. internal to each repo.
@Particular/engineers would you do it differently?

[2015-02-10 23:40] johnsimons opened #2649 "ASP.NET vNext folder security has changed"
Our assumptions where to save logging files may need to be re-evaluated if we are to support ASP.NET vNext.

### Current assumptions
We use `HttpContext.Current.Server.MapPath("~/App_Data/")` for websites

[2015-02-10 23:41] johnsimons commented on #2649
@SimonCropp do you mind documenting our current assumptions ?
@yvesgoeleven You have raised this concern in slack, do you mind expanding on this and explain what is going to break ?

[2015-02-10 23:44] SimonCropp commented on #2649
@johnsimons http://docs.particular.net/nservicebus/logging-in-nservicebus#rolling-file

[2015-02-11 11:08] SimonCropp opened #2651 "InMemorySagaPersister throws null reference for null property"
So if the property value returned by this https://github.com/Particular/NServiceBus/blob/01985d895a66a923f397a9c15a954dad6fe73b1a/src/NServiceBus.Core/Persistence/InMemory/SagaPersister/InMemorySagaPersister.cs#L44

[code]

is null the `Equals` will null reference exception

[code]

[2015-02-11 11:08] SimonCropp commented on #2651
will clean up the issue and fix tomorrow

[2015-02-11 12:51] andreasohlund opened #2652 "Create a unit test suite for our serializer api"
This suite would:

1. Help when building/maintaining serializers
2. Document the minimum set of features that we require a serializer to support (eg. `List<T>`)

This suite would be distributed as a source only package

[2015-02-11 19:16] SeanFeldman commented on #2630
Hi @davidsavagejr,
Could you please sign our [Contributor License Agreement (CLA)](http://www.particular.net/contributors-license-agreement-consent)?
Thank you.

[2015-02-11 19:19] davidsavagejr commented on #2630
@SeanFeldman I might be missing a step but I've signed it ~3 times now.  Did it register?

[2015-02-11 19:31] SeanFeldman commented on #2630
@davidsavagejr Thank you, it's registered now (can see it) and apology for inconvenience :)

[2015-02-12 14:12] danielmarbach opened #2654 "CustomHosting in V4 behaves differently to NServiceBus.Host v4 when CustomCheck creation fails"
CustomHosting in V4 behaves differently than NServiceBus.Host v4 and CustomHosting in V5 and NServiceBus.Host V5

Here the reproduction steps:

* Use the custom check from [this issue](https://github.com/Particular/ServiceControl.Plugins.v5/issues/8) make the monitor base class non-abstract
* Create console application which host NServiceBus 4.7.5

        Configure.Serialization.Json();
        v

[2015-02-12 14:32] danielmarbach commented on #2654
The issue is that the PeriodicCheckMonitorTask remains in Running state forever. Therefore blocking the shutdown of the bus inside Shutdown where we wait for `thingsToRunAtStartupTask` to complete.

[2015-02-12 14:45] danielmarbach commented on #2654
I think I got it. It seems that the commit a9c57eb6c0d64bd52aab539776fccba0da33ac34 hasn't been included in 4.7.5. See

![deadlockcriticalaction](https://cloud.githubusercontent.com/assets/174258/6169494/1a2e6716-b2ce-11e4-9ee6-9dfd407ebda4.jpg)

So in 4.7.5 we are essentially dead locking during shutdown.

[2015-02-12 15:24] danielmarbach commented on #2654
I cherry picked that commit to the hotfix-4.7.6 branch see 8aa5cd48fd8a459b03372b7a734426055e258dfb

[2015-02-12 15:34] danielmarbach commented on #2654
So this fixed the dead lock issue. But it doesn't fix the issue of the activation exception being swallowed

[2015-02-13 03:06] #2651 closed

[2015-02-13 13:36] udidahan commented on #1975
Sounds like a requirements issue should be opened for this as well.

[2015-02-15 23:51] johnsimons commented on #2643
@ydchome if you any extra info that helps us reproduce this issue let us know and we will reopen the issue

[2015-02-15 23:51] #2643 closed

[2015-02-15 23:53] johnsimons commented on #2539
@andreasohlund closing this one, feel free to reopen it if you think is important

[2015-02-15 23:53] #2539 closed

[2015-02-16 01:43] SimonCropp commented on #2028
@synhershko bump

[2015-02-16 08:52] yvesgoeleven commented on #2649
After thinking it a bit through, the issue I see is going to lead to a whole list of issues we will have to deal with if we want to support vnext, this is just one

PS: I'll note some of my thinking down here, but maybe the list needs to move somewhere else to keep up to date as we learn more about the consequences

What in fact happens in vnext is that the website application folder is split into

[2015-02-16 09:52] andreasohlund commented on #2028
We've decided to not fix this due to the risk of introducing further regressions.

This situation is due to the historical decision to ilmerge json.net in the core. Version 6 of the core will handle this by providing an external json.net serializer that puts the user in control of the exact version of json.net, or alternatively, change the behavior using the standard json.net api's.

An example on

[2015-02-16 09:52] #2028 closed

[2015-02-18 20:58] SeanFeldman opened #2657 "Misleading debug message logged for Unicast on endpoint shutdown"
When `UnicastBus` is shutting down and executing all `IWantToRunWhenBusStartsAndStops.Stop()` [logged messages](https://github.com/Particular/NServiceBus/blob/97e3fee9c71bdc5d788108a69a3f0f2888e9ed02/src/NServiceBus.Core/Unicast/UnicastBus.cs#L687,L689), say it's executing `IWantToRunWhenBusStartsAndStops.Start()`

[2015-02-19 02:46] johnsimons commented on #2654
@danielmarbach what version is this exception being swallowed ?

[2015-02-19 02:59] johnsimons commented on #2525
Fixed in https://github.com/Particular/NServiceBus/commit/da25fed083a5384415e3f4dc1f26c18f7ebe8e71

[2015-02-19 02:59] #2525 closed

[2015-02-19 03:02] johnsimons commented on #2657
Addressed in https://github.com/Particular/NServiceBus/commit/8900532dc4bc2e5a9cd40686c0a714e2dd5e480d

[2015-02-19 03:26] johnsimons commented on #2619
@andreasohlund happy to close this one ?

[2015-02-19 03:33] johnsimons commented on #2618
@andreasohlund I am :+1: to remove the current UoW interface as long as we replace it with a better abstraction that still allows a user to implement the UoW pattern in a single class.

At the moment pointing the users to just use the raw pipeline is IMO making the developers task a lot harder.

So can you propose a new API that  abstracts away the complexity of the pipeline and makes developers w

[2015-02-19 03:37] johnsimons commented on #2633
@yvesgoeleven I think this is mostly occurring because you are using the beta package.
We already follow a convention for source only packages.

[2015-02-19 03:37] #2633 closed

[2015-02-19 03:59] johnsimons commented on #2608
Code removed in https://github.com/Particular/NServiceBus/commit/b79d175bf59428db16bdfdcab769def57d6e329a

[2015-02-19 03:59] #2608 closed

[2015-02-19 04:08] #2607 closed

[2015-02-19 04:20] #2616 closed

[2015-02-19 04:24] johnsimons commented on #2567
This is related to #2463

@SimonCropp any ideas how we should make the contract more explicit ?

[2015-02-19 04:37] #2568 closed

[2015-02-19 04:43] johnsimons commented on #2477
Anyone gave any thoughts on how to enforce this?
Do we go with something like:
[code]

[2015-02-19 04:54] #1618 closed

[2015-02-19 07:27] #2619 closed

[2015-02-19 08:26] SzymonPobiega commented on #2567
in #2601 we discussion with @andreasohlund that instead of passing the queue name we should throw some specific exception in the transport receiver if we encountered a malformed message and the next behavior on the pipeline should take care of putting it in the error queue.

[2015-02-19 08:42] andreasohlund commented on #2477
Doesn't feel discoverable but I don't have a better idea.

Do we have other things that are mandatory?

If we had that, how would we design it?

On Thu, Feb 19, 2015 at 5:44 AM, John Simons <notifications@github.com>
wrote:

[2015-02-19 09:21] andreasohlund commented on #2567
Yes, so if we pull that off we don't need to make it available to the transports and they don't have to code for it which IMO greatly simplifies implementing a transport

[2015-02-19 15:49] SeanFeldman commented on #2657
Fixed in https://github.com/Particular/NServiceBus/commit/8900532dc4bc2e5a9cd40686c0a714e2dd5e480d

[2015-02-19 16:46] SeanFeldman commented on #2657
Reopening for PBot testing

[2015-02-19 17:19] janovesk opened #2658 "Test-pbot-issue"

[2015-02-19 20:42] #2658 closed

[2015-02-20 06:41] johnsimons commented on #2477
What do you mean, if we make it part of the ctor of `BusConfiguration`, isn't that really in their faces?

quite possible

Maybe something like:
[code]

[2015-02-20 06:43] johnsimons commented on #2649
From what I gather it seems there are quite a few little changes to make our code CoreCLR compliant.

I'll close this issue and open individual issues as we hit them.

[2015-02-20 06:43] #2649 closed

[2015-02-20 08:50] andreasohlund commented on #2477
isn't that really in their faces?

Yes, I was just referring to the "magical string"

`var c = new BusConfiguration("yxz");`

but yes it's pretty obvious when they ready the api docs that they should
pass in the endpoint name

Sounds reasonable

Since an error queue is required for non-sendonly endpoints should we
consider a Bus.Create(config,"error") ?

On Fri, Feb 20, 2015 at 7:41 AM, John Simon

[2015-02-20 08:55] yvesgoeleven commented on #2649
Makes sense, also learned yesterday that config sections no longer exist

[2015-02-20 11:03] synhershko opened #2659 "Split IOutboxStorage into 2 interfaces"
In https://github.com/Particular/NServiceBus.RavenDB/pull/43#issuecomment-69909498 we've stumbled upon a possible friction point with external storages, as one method (`Store`) requires a shared session (via session provider) and the rest create their own separate sessions.

This creates a friction point as the persister requires both a session provider and a DB connection (DocumentStore in RavenD

[2015-02-20 11:15] andreasohlund opened #2660 "Stop generating new message id's when doing storage driven publishing"
https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.Core/Unicast/Publishing/StorageDrivenPublisher.cs#L47

ServiceControl/Core code is already prepared for duplicate message ids since the brokers like Rabbit and ASB already generates duplicates for all subscribers.

To clean up the code I propose we skip updating the message id. This will make it easier to correlate events betwe

[2015-02-20 12:41] SzymonPobiega commented on #2659
:+1: I notices the same when working with NHibernate one

[2015-02-20 13:02] synhershko opened #2661 "Fix AcceptanceTests code inspection errors"
[code]

[2015-02-20 13:46] andreasohlund commented on #2661
I thought they where fixed in 5.2.0 of the acpt test source package?

[2015-02-20 13:47] synhershko commented on #2661
Might be, will check and close if thats the case

[2015-02-20 13:50] andreasohlund commented on #2661
Also do a sync to make sure you have the latest r# settings if you haven't  (pbot help sync)

[2015-02-22 21:56] johnsimons commented on #2661
There are no inspections failing in the core

[2015-02-22 21:56] #2661 closed

[2015-02-23 15:42] mauroservienti opened #2662 "Support for multiple [Unique] attributes on a single saga data instance"
Currently we enforce that a `ContainsSagaData` instance has only one property decorated with the `Unique` attribute.

--

moved from https://github.com/Particular/NServiceBus.RavenDB/issues/60

[2015-02-24 08:20] andreasohlund commented on #2662
Since v5 already makes correlated properties "auto unique" https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.Core/Sagas/TypeBasedSagaMetaModel.cs#L77 I'd say we should obsolete the `Unique` attribute and instead add either a new [NonUnique] attribute or even better a fluent option to make a correlated prop non unique.

This new proposed fluent api has already been discussed he

[2015-02-24 08:40] andreasohlund commented on #346
This is done from a core perspective. Only the InMemoryPersister is modified to honor this(by looking at the SagaMetaModel)

I'll raise separate issues to make sure it gets done for the other persisters.

I don't like the current api towards the persister since it's done by injecting the model:

https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.Core/Persistence/InMemory/SagaPe

[2015-02-24 08:42] mauroservienti commented on #2662
Are these correlated properties used by the NServiceBus.RavenDB package? because the concern is there, I opened the issue there but @synhershko sent me here.

[2015-02-24 08:43] andreasohlund commented on #2662
Not currently. I've raised an issue to track this https://github.com/Particular/NServiceBus.RavenDB/issues/64

[2015-02-24 08:52] danielmarbach commented on #346
@andreasohlund why don't you change the `ISagaPersister` interface including it in the Save and Update call?

[2015-02-24 08:56] andreasohlund commented on #346
That would be part of it. We also need this info during install time (to let eg NH setup indexes) but I guess that is something we can tackle together with the installer rewamp.

Don't we need it on the get call as well? (think raven would need it)

[2015-02-24 09:06] mauroservienti commented on #2662
ok, thanks. I'll close this one.

[2015-02-24 09:06] #2662 closed

[2015-02-26 03:06] johnsimons opened #2666 "Testing Mutators against v5"
Originally posted in https://groups.google.com/d/msg/particularsoftware/5xM8DzVxkC0/iTOmN2W9Il8J

The signature of IMutateOutgoingTransportMessages now takes a LogicalMessage as a parameter.  LogicalMessage has no public constructor, further it depends on MessageMetadata which again has no public constructors,  We were also using things like MessageMetadataRegistery to register types, etc.  Severa

[2015-03-02 00:13] johnsimons commented on #2421
@gbiellem any news on this one ?
This is an interesting bug that quite possible affects other products too, how should this be handled ?

[2015-03-02 00:19] johnsimons commented on #2368
Concern raised in https://github.com/Particular/Requirements/issues/219

[2015-03-02 00:23] johnsimons commented on #2336
This will be addressed in https://github.com/Particular/docs.particular.net/issues/579

[2015-03-02 00:23] #2336 closed

[2015-03-02 00:50] johnsimons commented on #2083
Addressed in https://github.com/Particular/NServiceBus/commit/fe402e7ea5196f34bf29883fa957ffdc68cdcbd0

[2015-03-02 00:50] #2083 closed

[2015-03-02 00:55] johnsimons commented on #1942
@SimonCropp can you please move this one to requirements and label it as a concern, it doesn't look like we reached an agreement so it makes sense to flush it out over there.

[2015-03-02 00:57] johnsimons commented on #1928
@andreasohlund will this be fixed in v6 ?
Do we still patch previous versions ?

[2015-03-02 00:57] #1482 closed

[2015-03-02 02:19] johnsimons commented on #2018
@andreasohlund any news on this? Do we want this done for v6 ?
Should this be moved to requirements ?

[2015-03-02 03:13] gbiellem commented on #2421
@johnsimons  Thanks for the reminder.

I just checked it out then and yes it's broken. The root cause  appears to be that the Thai locale's date format is based on the Buddhist calendar not the Gregorian calendar,  so the current year is 2558 not 2015.  Bug will be present across all the products using "Particular.Licensing".

[2015-03-02 03:18] johnsimons commented on #2421
@gbiellem can you raise a concern in requirements to handle this ? And close this one once done.

[2015-03-02 03:53] gbiellem commented on #2421
No problem - Raised in requirements https://github.com/Particular/Requirements/issues/220

[2015-03-02 03:53] #2421 closed

[2015-03-02 04:56] karenfruchtman commented on #2421
@gbiellem @johnsimons Thanks, guys!  I have updated the client who raised the issue.

[2015-03-02 05:10] johnsimons commented on #2666
@SimonCropp and I had a look at this issue and quickly realised that unfortunately the way `LogicalMessage` is designed makes it quite tricky to expose a public ctor so that a user can unit test the `MutateOutgoing` method.

The way around the lack of a public ctor for `LogicalMessage`, is to instead test a different method that instead just takes in the required info, eg:
[code]

[2015-03-02 05:10] #2666 closed

[2015-03-02 05:59] johnsimons opened #2668 "Change signature of IMutateOutgoingTransportMessages.MutateOutgoing"
Currently the signature is:

[code]

This currently allows for the user to do some really weird things:

[code]

As you can see it is possible to mutate the state of `logicalMessage`, even though it does not makes sense.

Also, it is not clear that `logicalMessage` refers to the incoming message and `transportMessage` is the message going out.

I would prefer to have something like (not c#):

[cod

[2015-03-02 06:01] johnsimons commented on #2668
@Particular/nservicebus thoughts ?

[2015-03-02 07:32] danielmarbach commented on #2668
Here is my current thought:

When we take handler context into consideration, some weirdness around mutators and the plans to change the transport seam we need to align where we want to be going. Let's setup a call

[2015-03-02 09:47] andreasohlund commented on #1928
Yes fixed in v6. Lets do a Impact Asseement to figure out if we should backport?

[2015-03-02 09:49] andreasohlund commented on #2018
No progress, adding metadata will be a tricky change. Lets raise a issue in req. to track this. I think this one should be kept open since its actually a real bug

[2015-03-02 12:39] DavidTuke commented on #2239
Any update progress on this issue
Necessary to secure an ESB setup to ensure no spoofing can occur inside an AD managed domain

[2015-03-03 00:54] johnsimons commented on #2239
@DavidTuke what version of NServiceBus do you need this fix for ?

[2015-03-03 01:26] johnsimons commented on #2018
Requirements issue raised https://github.com/Particular/Requirements/issues/224
I'll close this one for now till we flush out all the requirements

[2015-03-03 01:26] #2018 closed

[2015-03-03 01:30] johnsimons commented on #1928
@abombss what versions do you need this fixed for ?

[2015-03-03 01:57] DavidTuke commented on #2239
Hi John;

Can this be updated in V5;

Currently on V4.  We will move to V5 if this is present and operational;

Security of internal transport very important to get in place for our Customer;

External security is via AS4 Messaging Protocols – all good there.
External Security Consultants are recommending we move to “Authenticated Sender” in internal MSMQ messaging;
Hence we need to be able to set

[2015-03-03 03:05] johnsimons commented on #2239
@davidalpert thanks for the info, I'm raising this internally, hope to get an answer to you very soon,

[2015-03-03 07:41] johnsimons commented on #2654
ping @danielmarbach

[2015-03-03 07:46] johnsimons commented on #626
Since this is not a critical issue and there are workarounds, I'm closing it.
If you feel strong about it please reopen it.

[2015-03-03 07:46] #626 closed

[2015-03-03 13:25] danielmarbach commented on #2654
@johnsimons pong ;)

Here the repro. Install 4.7.5 and write the following program:

	class Program
    {
        static void Main(string[] args)
        {
            Configure.Serialization.Json();
            var configure = Configure.With();
            configure.DefineEndpointName("Samples.CustomChecks.Monitor3rdParty");
            configure.DefaultBuilder();
            configure.InMemorySa

[2015-03-03 14:32] danielmarbach commented on #2654
The exceptions are also swallowed in 4.7.4. and 4.7.3

[2015-03-03 14:50] danielmarbach commented on #2654
The issue is the following:

In contrast to `master` when a `IWantToRunWhenTheBusStartsAndStops` throws an exception the exception is catched inside the tasks and swallowed (from a task perspective). This means the task never goes to the faulted state. Therefore when we wait on those tasks the exception is never thrown to the caller. Is this expected? In V5 it is different. The exception is propag

[2015-03-03 15:43] MarkHillIngram commented on #2634
sorry I was out of the office....I don't think I can update that project to the latest right now but I will give that a try sometime this week or early next and see what happens

[2015-03-04 01:53] johnsimons commented on #2634
No worries @MarkHillIngram, thank you for giving it a go, really appreciate.

[2015-03-04 02:58] johnsimons commented on #2654
@danielmarbach I'm on the fence to fix this, what does the rest of @Particular/nservicebus  think ?

[2015-03-04 07:04] danielmarbach commented on #2654
@johnsimons I understand that. But I think it is misleading that when an important part of the infrastructure throws the custom hosting remains running.

[2015-03-04 08:27] andreasohlund opened #2672 "FeatureStartupTasks are not invoked for send only endpoint"
We should not drive them from `IWantToRunWhenTheBusStartsAndStops`

We should also support the startup tasks to implement `IDisposable`

[2015-03-04 13:12] Thorium opened #2674 "Wait()"
If you call .Wait() in NServiceBus event handler, there is a possibility to deadlock / timeout (forever-wait).

The reason is that if async-await-operation happen to change the thread (which happen often under heavy load), the new thread seem not to get the (DTC) transaction that NServiceBus is using. This is because NServiceBus transactions are not having TransactionScopeAsyncFlowOption.Enabled w

[2015-03-04 13:19] Thorium commented on #1102
Oh no, it seems that what happens while ,Wait() is not in the same transaction (managed by NServiceBus) which is a problem. See the issue #2674

[2015-03-04 23:36] #2672 closed

[2015-03-05 13:11] danielmarbach commented on #2477
I like the idea with `RequiredSettings` although this is not currently inline how other required things like for example the Persistence are chosen.

[2015-03-06 03:16] johnsimons commented on #2477
agree @danielmarbach

What are the options?

[2015-03-09 00:48] johnsimons commented on #2674
@Thorium thanks for bringing this issue to our attention.
We will consider upgrading to 4.5.1 as part of v6.

[2015-03-09 00:56] johnsimons commented on #2654
@danielmarbach it is my understanding that we are fixing this issue as part of v6?
Are you proposing we backport a fix?

[2015-03-09 03:28] #1975 closed

[2015-03-09 03:32] danielmarbach commented on #2654
Not sure if it is worth the effort of backporting. We are not losing any messages so I'd say we leave

[2015-03-09 06:52] johnsimons commented on #2654
So are you happy with closing this as won't fix ?

[2015-03-09 07:05] #2654 closed

[2015-03-09 21:59] #1350 closed

[2015-03-10 04:27] johnsimons commented on #463
This will be addressed as part of v6.
In v6 `IManageMessageFailures` is no longer an extension point. If you want full control over what happens when a message fails (including retries) please override the `MoveFaultsToErrorQueueBehavior`. If you just want to get notified when messages are being moved please use BusNotifications.Errors.MessageSentToErrorQueue.Subscribe(e=>{})

[2015-03-10 04:27] #463 closed

[2015-03-10 04:31] johnsimons commented on #1929
This will be possible in v6.
Not sure if override the `MoveFaultsToErrorQueueBehavior` is the best way to achieve this thought.
@andreasohlund thoughts ?

[2015-03-10 04:32] johnsimons commented on #1929
We will work on this in the Azure repo, closing this issue

[2015-03-10 04:32] #1929 closed

[2015-03-10 07:20] andreasohlund commented on #1929
I assume that if the transport supports FLR/SLR natively we could just expose a .UseNativeRetries() in the transport that just removes the FLR+SLR behaviors.

Does this make any sense?

Side note: We're contemplating merging the above into a single RetriesBehavior which would make this even easier

[2015-03-10 11:09] distantcam commented on #2596
After discussing it with @andreasohlund we came up with the following API

    var options = new SendOptions();

    var replyTask = options.GetReplyTask().ContinueWith(t =>
    {
        // Do something with the reply
    });

    await bus.SendAsync(new Message(), options);

This clearly shows that there's a separation between the send completing, and a reply coming back.

This also allows the u

[2015-03-10 11:52] johnsimons commented on #2596
What do u plan to expose on the t.result in continuewith ?

[2015-03-10 13:10] danielmarbach commented on #2596
From the code flow perspective it would be better to be able to do
something like that:

var options = new SendOptions();

var replyTask = options.GetReplyTask();

await bus.SendAsync(new Message(), options);

var response = await replyTask;

//continue here

@andreasohlund and I noted that somewhere in his sublime text two or three
weeks ago as a proposal. Thoughts?

*From:* Cameron MacFarland [m

[2015-03-10 16:58] danielmarbach opened #2680 "Message handlers are stateful"
Detected while working on Handler context

	public class Handler : IHandleMessages<MyMessage>, IHandleMessages<AnotherMessage>, IHandleMessages<IMessage>
	{
        public void Handle(MyMessage message)
        {
        }

        public void Handle(AnotherMessage message)
        {
        }

        public void Handle(IMessage message)
        {
        }
    }

When `MyMessage` arrives the cor

[2015-03-10 17:33] andreasohlund commented on #2680
+1 for fixing this as a bug in v6

It shouldn't affect sagas since they by definition store their state in the saga data

[2015-03-12 17:56] kevin-whalley-gc opened #2681 "Disposal Behavior for Dependency Injection Containers"
Hi,

We've noticed that when sharing an Autofac Container between NServiceBus and an ASP.NET MVC application that if NServiceBus encounters a critical error it will dispose of the container, causing an exception in the web application because controllers can no longer use the container for dependency resolution when instantiating.

I understand that NServiceBus attempts to dispose of all disposabl

[2015-03-13 15:15] mastrauckas opened #2682 "NServiceBus not picking up response message in MSMQ"
I’m having an issue with NServiceBus and MSMQ in my QA environment.    This same procedure works just fine on DEV boxes and Dev environment.    Explain exactly what it’s doing.

I have a webpage that is using SignalR and NServiceBus.
1.	A user clicks a button in the client web browser.
2.	Usng SignalR a message is sent from the client web browser to the web server.
3.	The SignalR Hub on the web se

[2015-03-13 18:13] indualagarsamy commented on #2682
For future reference, asking this question in the google groups is a better option. We scan the community forums and answer questions and if we find it to be a bug, we raise it here.

- Can you provide us more details on the NServiceBus versions, (i.e. from your packages.config) file?
- Can you verify that there is a queue called `MySystem.error` on your QA server `MyQAPresentationServer` ?
- Also

[2015-03-13 19:00] mastrauckas commented on #2682
Thanks for the quick response.  I'll post there next time.  Here is the answer to your questions
*  The NServiceBus version is 4.75.
* MySystem.presentation.error exist but not MySystem.error.  However I just added MySystem.error.
* Yes, Timeout Manager is being disabled as shown below.
* NServiceBus is being Host in MVC so there was no installation on this part.
*  Only [endpoint].retries exist.

[2015-03-13 19:04] mastrauckas commented on #2682
It appears after adding MySystem.error the problem is fixed.  Why would that stop it from working?

[2015-03-13 19:11] indualagarsamy commented on #2682
From your log, i saw the following:
[code]
It appears as if a message was attempted to be forwarded to the error queue. However, since the error queue wasn't present, it resulted in an error and the bus was shutdown. Because the bus was shutdown, it wasn't processing any messages. And restarting the app pool, restarts the bus, essentially making it work until there was another failure where a mess

[2015-03-13 19:11] #2682 closed

[2015-03-13 19:21] mastrauckas commented on #2682
Yes it make sense why it wasn't working.

What doesn't make sense is this same setup worked in DEV environment with the same name for the error queue and that error queue doesn't exist.

Doesn't really matter since it's working.

[2015-03-13 19:25] indualagarsamy commented on #2682
Perhaps we could do a better job in seeing if the configured error queue is present upfront and if not, try and not start the endpoint, as opposed to having the endpoint start and fail only when trying to forward the message to the error queue. I'll raise it with the team and if needed, I'll open another issue. Thank you reporting this.

[2015-03-13 19:48] mastrauckas commented on #2682
Ok, thanks for your time.

I also have another issue I'll post in the groups on Monday.

[2015-03-17 00:29] johnsimons commented on #2681
@kevin-whalley-gc unfortunately is a hard coded behavior that cannot easily be bypassed.
I do agree with you and I actually previously raised this concern with my colleagues, I do think that NServiceBus should not dispose of the container that users pass to us, that is wrong IMO.

I'll raise this again

[2015-03-17 00:42] johnsimons commented on #2596
@danielmarbach what would happened if user does something like:
[code]

What is  the result ? Would that even work ?

[2015-03-17 00:47] johnsimons commented on #2596
I think we need to lock down this API so users cannot stuff it up.
I would prefer to have something like:
[code]
I don't think we need a `PublishAsync` ?

[2015-03-17 01:03] johnsimons commented on #2681
@kevin-whalley-gc is the reason you are sharing a container between NServiceBus and MVC because you want to inject `IBus` in your controllers ?
If this is the reason, I recommend bypassing that complexity and accessing a static IBus in the global, would that work ?

[2015-03-17 01:05] kevin-whalley-gc commented on #2681
@johnsimons we shared the container because our message handlers and MVC share some of the injected dependencies, so it made sense to use one bus

[2015-03-17 01:07] johnsimons commented on #2681
@kevin-whalley-gc what version of NServiceBus are you on ?

[2015-03-17 01:14] johnsimons commented on #2681
@kevin-whalley-gc you should be able to override the default implementation by overriding the critical action see http://docs.particular.net/nservicebus/upgrades/4to5#moved-definecriticalerroraction-to-be-a-configurationbuilder-extension

[2015-03-17 01:48] kevin-whalley-gc commented on #2681
@johnsimons, Will we need to add any of the normal critical error process into our definition? E.g. if we override it, but don't add any of the normal resource cleanup will that have an adverse effect?

We are on NServiceBus 5.x

[2015-03-17 01:57] johnsimons commented on #2681
@kevin-whalley-gc well, when a critical error is raised, it means the bus is in a state that is better to shut it down then to keep it going.
By overriding that config option, you are taking full control of what to do next.
If you call `bus.Dispose()` that will cause the container to be disposed, which is not what u want.
Not really sure what advice to give here, @Particular/nservicebus thoughts ?

[2015-03-17 02:05] kevin-whalley-gc commented on #2681
@johnsimons My thinking is, I can use DefineCriticalError to create a new bus instance for my MVC app, and I'm curious if I do this once or twice without disposing of the previous bus like normal, would it affect performance / queue connectivity if there is a zombie bus out there that hasn't been fully shut down

[2015-03-17 02:47] johnsimons commented on #2681
@kevin-whalley-gc the question I have for you is why are you getting critical errors ?

[2015-03-17 07:29] andreasohlund commented on #2596
The only 2 must haves for the api is:

1. We need to be able to set a header on the outgoing message indicating that there is a callback set (to enable our routing to adjust for that scenario)
2. It needs to be extendable so that the callbacks can reside in a separate assembly

[2015-03-17 07:36] danielmarbach commented on #2596
@johnsimons this can be handled by making the SendOptions GetReplyTask
throwing when it is called multiple times or even make it reusable
depending where we want to take this.

Another thing which can be achieved (because my proposed solution is more
composable):

var options1 = new SendOptions();

var options2 = new SendOptions();

var options3 = new SendOptions();

var replyTask1 = options1.GetR

[2015-03-17 15:38] kevin-whalley-gc commented on #2681
@johnsimons We use RabbitMQ as our transport, so whenever it has connectivity issues the circuit breaker will arm and trigger a shutdown.

[2015-03-17 19:27] andreasohlund commented on #2681
As of v2.1 you can control how long we should keep on retrying before
shutting down

http://docs.particular.net/nservicebus/rabbitmq/configuration-api#controlling-behavior-when-broker-connection-is-lost

would that help?

On Tue, Mar 17, 2015 at 4:38 PM, kevin-whalley-gc <notifications@github.com>
wrote:

[2015-03-17 20:23] danielbanda opened #2683 "Bus does not implement IManageMessageHeaders"
When my Saga's unit tests require more complex assertions/expectations that the ones available though Test.Saga I usually set a Mock (moq) of IBus that allows me to more create complex callbacks an among others things

After I upgraded to NSB 5.0 some of my test are breaking because Saga.RequestTimeout internally expects the concrete instance of IBus to also implement IManageMessageHeaders.

I loo

[2015-03-17 21:36] kevin-whalley-gc commented on #2681
Thanks @andreasohlund for bringing that up. The team and I are going to discuss what we want to do here.

Approaches:

1. Extend out the retries for the RabbitMQ transport so it is more tolerant of the network, or doesn't go down at all
2. Setup two containers, one for MVC and one for NServiceBus so MVC is still functional if NServiceBus goes down
3. Define our own CriticalErrorAction to prevent t

[2015-03-18 05:16] andreasohlund commented on #2681
Another option is to do a Environment.FailFast in the on critical error and force a complete app pool restart?

[2015-03-18 16:40] mauroservienti opened #2685 "A not started bus instance can send messages"
With @SeanFeldman we discovered that a non started bus instance can send messages:

    var config = new BusConfiguration();
    config.EndpointName( "testit" );
    config.UsePersistence<InMemoryPersistence>();
    config.EnableInstallers();

    var bus = Bus.Create( config );
    var command = new TestIt { Text = "hello :-)" };
    bus.SendLocal( command );

the bus is created but not started,

[2015-03-18 16:45] SeanFeldman commented on #2685
I think we should throw. If command is sent and message makes it into a queue, but handler is not picking up, it's a very confusing state.

[2015-03-18 22:20] johnsimons commented on #2685
This is how SendOnly endpoints have been  working for a long time, what we
can do is maybe make the api more clear so users do not forget to call
start, something like CreateAndStart.
So -1 to fix anything here.

On Thursday, March 19, 2015, Sean Feldman <notifications@github.com> wrote:

[2015-03-18 22:22] SeanFeldman commented on #2685
@johnsimons just to note that this was not a SendOnly bus instance
[code]

[2015-03-18 22:43] johnsimons commented on #2685
It does not matter, what I'm saying is that it is the same concept.

On Thursday, March 19, 2015, Sean Feldman <notifications@github.com> wrote:

[2015-03-18 23:21] johnsimons commented on #2681
@andreasohlund I don't think that is what @kevin-whalley-gc is after, a temporary rabbitmq disconnection should not need a full app pool restart IMO

[2015-03-19 00:20] johnsimons commented on #2683
We are addressing this issue in the next upcoming major release (v6)

[2015-03-19 00:20] #2683 closed

[2015-03-19 02:16] johnsimons commented on #2596
At the moment all proposed api do not mention what the return value is, we currently support return an enum (int) and also a convoluted was to get to the messages array
I would like to propose as part of this change to remove the return enum and instead only support returning messages.
This would mean:
- Users get what they have always wanted in a more fluid api, RPC style calls;
- We can get rid

[2015-03-19 02:17] johnsimons commented on #2596
@andreasohlund is this another YAGNI ?

[2015-03-19 02:49] distantcam commented on #2596
Ok, what about this?

    var responseHandle = await bus.SendAsync(new Message()); // Returns immediately

    responseHandle.ReplyTask.ContinueWith(/* continuation */);

The reply task only completes when a reply is received. This solves the problem of multiple sends with the same option object and is a nicer API for the user.

Only downside is that there's a subtle implication that the send has

[2015-03-19 06:08] johnsimons commented on #2596
On a call with @distantcam we had another go at designing the api, here is what we came up with:
[code]

[2015-03-19 06:33] mauroservienti commented on #2685
It is a design issue, a bug in the design of the IStartableBus interface that has no reason to inherit from IBushttps://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.Core/IStartableBus.cs
And to me a send only bus and a non started bus are 2 completely different things. The create API should return something that can be started but that cannot send anything. Under the hood all the

[2015-03-19 06:36] danielmarbach commented on #2596
So SendAsync is gone?

Am Donnerstag, 19. März 2015 schrieb John Simons :

--

Daniel Marbach

Solution Architect, Particular Software

Email:  daniel.marbach@particular.net

Web:    www.particular.net
<http://t.signauxneuf.com/e1t/c/5/f18dQhb0S7lC8dDMPbW2n0x6l2B9nMJN7t5XX4RzDjlVS9QB88pTc_dW3Ljg7x56dWyBdgBXs402?t=http%3A%2F%2Fwww.particular.net%2F&si=4896787407044608&pi=33cc6202-1f31-4040-8d6c-e70

[2015-03-19 06:37] johnsimons commented on #2685
@mauroservienti you can always send messages out without starting the bus, the act of "start" really just means that it will receive messages as well.

What is the issue you see with it?

[2015-03-19 06:38] johnsimons commented on #2596
Yes @danielmarbach
We think using a name like `SendAsync` could give the wrong impression (the sending is being performed in an async way which is not true).

[2015-03-19 06:40] danielmarbach commented on #2596
Why don't we add different methods?

Like Task SendAsync and Task<TResponse> SendWithResponseAsync()

It would be cool to have a oneliner :)

Am Donnerstag, 19. März 2015 schrieb John Simons :

--

Daniel Marbach

Solution Architect, Particular Software

Email:  daniel.marbach@particular.net

Web:    www.particular.net
<http://t.signauxneuf.com/e1t/c/5/f18dQhb0S7lC8dDMPbW2n0x6l2B9nMJN7t5XX4RzDjlVS

[2015-03-19 06:41] danielmarbach commented on #2596
What about the future when we support async?

Am Donnerstag, 19. März 2015 schrieb Daniel Marbach :

--

Daniel Marbach

Solution Architect, Particular Software

Email:  daniel.marbach@particular.net

Web:    www.particular.net
<http://t.signauxneuf.com/e1t/c/5/f18dQhb0S7lC8dDMPbW2n0x6l2B9nMJN7t5XX4RzDjlVS9QB88pTc_dW3Ljg7x56dWyBdgBXs402?t=http%3A%2F%2Fwww.particular.net%2F&si=4896787407044608&pi=3

[2015-03-19 06:46] mauroservienti commented on #2685
* That is not documented anywhere * That Start means start and not StartReceive* That if you send to local it does not work because the bus is not started* that as far as I can see the pipeline is not started so outgoing messages have a different behavior if the same bus is started or not?

[2015-03-19 06:47] distantcam commented on #2596
@danielmarbach The `SendWithResponseAsync()`, what's being awaited here? Is it the send or the reply? If an error occurs was it caused by the send, or the reply?

Given there are 2 different concepts here an API that distinguishes between them is better than an API that shoves everything into a single line because that would be cooler.

[2015-03-19 06:56] mauroservienti commented on #2685
And the license is not checked, it is checked when started not when created

[2015-03-19 07:13] johnsimons commented on #2685
That can be fixed by documenting it right ?

Not sure I follow but I assume it can be addressed with doco as well.

Well, the sendlocal works fine, the message is queued up, so when the bus starts it will be dequeued, no message loss.

Can you explain this one a bit more, not following ?

[2015-03-19 07:15] johnsimons commented on #2685
Yes that is an issue that I believe has already been raised before

[2015-03-19 07:15] danielmarbach commented on #2596
Good point cameron! Because I'm not yet convinced about the proposals I'm
brainstorming

Am Donnerstag, 19. März 2015 schrieb Cameron MacFarland :

--

Daniel Marbach

Solution Architect, Particular Software

Email:  daniel.marbach@particular.net

Web:    www.particular.net
<http://t.signauxneuf.com/e1t/c/5/f18dQhb0S7lC8dDMPbW2n0x6l2B9nMJN7t5XX4RzDjlVS9QB88pTc_dW3Ljg7x56dWyBdgBXs402?t=http%3A%2F%2

[2015-03-19 09:35] danielmarbach commented on #2596
@distantcam I thought about it again. I changed my mind. We are a library/abstraction layer on top of the queues. Why do we need to bother users with Continuations in order to get the response. I think we can handle the continuation inside the library and give them back a task which can await the response. This reduces nesting of continuations and makes the code more readable which is a benefit:

[2015-03-19 09:52] andreasohlund commented on #2596
No, when me and @udidahan was going through how routing would work when there are callbacks set we came to the conclusion that the routing needs to know if there are callbacks to make sure responses are routed to the correct instance. Happy to talk that through on a call if needed!

[2015-03-19 17:07] oshea00 opened #2687 "RabbitMQ Transport Config Doesn't Support TLS / AMQPS Scheme"
Should be able to specify cert locations and "scheme=amqps" on the RabbitMQ connection string to the RabbitMQ transport.

[2015-03-19 17:57] andreasohlund commented on #2687
Duplicate of https://github.com/Particular/NServiceBus.RabbitMQ/issues/82

[2015-03-19 17:57] #2687 closed

[2015-03-19 18:28] samartzidis commented on #1956
I would like to support that request as well. In addition, I would like to suggest that it does not overwrite any existing EndpointConfig.cs file.

[2015-03-20 03:09] johnsimons commented on #2596
@danielmarbach I think we are pretty much aligned, the example you have provided is pretty much the same as what Cam and I came up with

[2015-03-20 03:09] johnsimons commented on #2596
@andreasohlund are you talking about the current routing implementation or a future version ?

[2015-03-20 03:38] distantcam commented on #2596
@johnsimons No the sample provided by @danielmarbach is not the same as mine.

Using @danielmarbach's example

    public class SomeController : ApiController
    {
        public Task<IActionResult> Get() {
            try {
                var response = await bus.SendAndAwaitResponseAsync(message, new SendContext());
                return Ok(response);
            } catch (Exception ex) {

[2015-03-20 04:30] distantcam commented on #2674
@Thorium Is it possible for you to not use tasks? That way you don't need to wait for anything.

[2015-03-20 05:30] andreasohlund commented on #2596
@johnsimons the one we're building right now

[2015-03-20 06:54] johnsimons commented on #2685
@Particular/nservicebus thoughts ?

[2015-03-20 07:00] johnsimons commented on #2680
@danielmarbach I agree with "message handler should be stateless", however I'm not too sure if users are actually taking advantage of this "feature" for some smart reasons that we haven't thought about yet.
Should we consider polling the forum and ask, before taking this away ?

[2015-03-20 08:44] andreasohlund commented on #2685
Me and @indualagarsamy had another case where the user could still send messages while the bus was stopped and disposed.

It definitely seems wrong to send when disposed. On the fence on the start.

Since we do have a sendonly mode it perhaps we should just remove the .Start() and rename Bus.Create to Bus.Start() ?

Or just make Create return a started bus?

Only use case I've seen for delayed sta

[2015-03-20 08:48] SzymonPobiega commented on #2685
I think we should change this API entirely. @johnsimons remember the conversation we had with @andreasohlund some time ago? I've just raised an issue for that https://github.com/Particular/Requirements/issues/246

[2015-03-20 08:59] danielmarbach commented on #2680
Handlercontext changes that behavior already. Based on what/how we educate
people I'd say handlers must be stateless

--

Daniel Marbach

Solution Architect, Particular Software

Email:  daniel.marbach@particular.net

Web:    www.particular.net
<http://t.signauxneuf.com/e1t/c/5/f18dQhb0S7lC8dDMPbW2n0x6l2B9nMJN7t5XX4RzDjlVS9QB88pTc_dW3Ljg7x56dWyBdgBXs402?t=http%3A%2F%2Fwww.particular.net%2F&si=4896

[2015-03-20 10:14] Thorium commented on #2674
The whole system is based on async operations (hundreds of methods) and now (afterwards) we have taken NServiceBus into use to get benefits of queue based systems: wrap some of the methods to NSB-handlers. So no, it is not a real possibility, would need major refactoring.

I don't quite like the implementation of async-await in C# (as e.g. reactive extensions and F# have better approaches), but it

[2015-03-22 19:31] pablocastilla opened #2688 "Create an option to throw an exception if there is no subscriber"
Hi!

In our current project we would prefer to have an option to throw an exception if there is no subscriber for an event. We only have events that have subscribers, sometimes we forgot to define an endpoint and for us it is an error, but for NSB is a normal behavior.

Maybe it is useful also for others.

[2015-03-22 23:38] SimonCropp commented on #2688
@pablocastilla so, just to be clear, when u call `Publish` on a given endpoint, if it doesnt find any subscribers you want to exception

[2015-03-22 23:45] johnsimons commented on #2688
Hi @pablocastilla

Yes, that would be useful for certain scenarios, however because the NServiceBus framework supports broker transports as well and those have pub/sub natively, it is not possible to include such a feature in a generic "frameworkish" way.

The good news is that if you are using a transport that does not include pub/sub natively, we can provide you with the means to achieve this in

[2015-03-22 23:45] #2688 closed

[2015-03-23 00:01] johnsimons commented on #2685
@SzymonPobiega completely agree.

And on that, closing this one as will be address by https://github.com/Particular/Requirements/issues/246

[2015-03-23 00:01] #2685 closed

[2015-03-23 00:19] johnsimons commented on #987
Question asked in the forum, https://groups.google.com/d/msg/particularsoftware/PSaHw0ROalQ/0CtpvEY_m1sJ

[2015-03-23 00:21] johnsimons commented on #1928
@abombss ping ?

[2015-03-23 00:24] johnsimons commented on #2239
@indualagarsamy can you get back to @DavidTuke on the scheduling for this issue?

[2015-03-23 07:45] pablocastilla commented on #2688
Ooooooooook, I understand the issue.

We are using MSMQ. We have already implemented our own ISubscriptionStorage to do so, but I thought it could be useful for others, but I didn't realize that we could have other transports.

[2015-03-23 07:47] johnsimons commented on #2688
@pablocastilla if you tell me your NServiceBus version we can help you achieve this ?

[2015-03-23 07:50] pablocastilla commented on #2688
Thanks so much, we are using 5.2 but we don't need it at this point. We have  implemented a ISubscriptionStorage for having the subscription in database without autosubscription and with scaleout. So we throw an exception if no subscription is found.

[2015-03-23 07:52] johnsimons commented on #2688
Cool @pablocastilla, no worries :smile:

[2015-03-23 15:39] seesharper opened #2690 "Support for the LightInject service container"
Hi. I am the author of the LightInject (http://www.lightinject.net) IoC framework and I have written an integration for NServiceBus. The question is where should this code live on GitHub? From what I can gather from the other integration's they seem to all belong to the Particular user. Is it possible for me to make a contribution somehow with a entirely new repo (NServiceBus.LightInject) so that

[2015-03-23 17:16] indualagarsamy commented on #2239
@DavidTuke - We are currently analyzing this issue. One of the main things that we have to consider is backwards compatibility and how turning on this authentication can impact existing customers. Especially if they have messages in the queue and they upgrade to use this new authentication setting, those messages could end up in DLQ, etc. This requires some analysis on our end to ensure that we ha

[2015-03-23 20:11] indualagarsamy commented on #2239
@DavidTuke - Are you using ActiveDirectory integration with MSMQ at the moment?

[2015-03-23 21:34] SimonCropp commented on #2690
Not exactly. there are many community run projects. You can see them here http://docs.particular.net/platform/extensions

I think it would be better for you to just create a new GitHub repository for it. You can then send us a pull request for this page https://github.com/Particular/docs.particular.net/blob/master/platform/extensions.md

[2015-03-23 23:02] johnsimons commented on #2690
Hi @seesharper that is awesome news.

As my colleague @SimonCropp mentions, we are more then happy to link to your project from within http://docs.particular.net/platform/extensions also I would recommend posting a quick email in our forum to promote it at groups.google.com/forum/#!forum/particularsoftware

Regarding where the source is kept, we at this stage are not looking at taking any more con

[2015-03-23 23:02] #2690 closed

[2015-03-24 01:09] johnsimons commented on #2674
@Thorium we are looking at fixing this issue as part of the next major release (v6)

[2015-03-24 01:17] abombss commented on #1928
Sorry for the late response we are on 4.6.6

[2015-03-24 01:24] johnsimons commented on #2681
@kevin-whalley-gc it seems to me with https://github.com/Particular/NServiceBus/issues/2681#issuecomment-82555063 and https://github.com/Particular/NServiceBus/issues/2681#issuecomment-82609226 this issue is now not a problem anymore ?
Is it ok for me to close it?

[2015-03-24 07:24] andreasohlund commented on #1928
@abombss we have a fix for this ready for the upcoming v6. How much issues is this causing you at the moment?

Are you able to wait until v6 is out and you can upgrade?

[2015-03-24 13:46] abombss commented on #1928
I think so, we have bigger issues than this and I think we might skip v5,
and focus on v6. is there a rough eta on v6, year / quarter it will be
available?

On Tue, Mar 24, 2015, 2:24 AM Andreas Öhlund <notifications@github.com>
wrote:

[2015-03-24 15:49] kevin-whalley-gc commented on #2681
@johnsimons Yes, we've decided to work on some re-initialization logic in the DefineCriticalAction.

[2015-03-24 18:04] DevinSRose commented on #1939
+1

[2015-03-24 22:15] #2681 closed

[2015-03-25 12:23] andreasohlund commented on #1928
We usually release a new major each year so early Q3 is my best guestimate
atm

On Tue, Mar 24, 2015 at 2:46 PM, Adam Tybor <notifications@github.com>
wrote:

[2015-03-26 05:25] johnsimons opened #2692 "ISubscriptionStorage.Init can suffer from race condition"
## Symptoms
The initialization of a subscription storage is usually performed in the `ISubscriptionStorage.Init` method.

Currently the framework calls the `Init` from within a `IWantToRunWhenBusStartsAndStops.Start`, because the `IWantToRunWhenBusStartsAndStops.Start` is executed after the main transport has started, there is a possibility of a race condition:

1. Bus starts receiving messages
1.

[2015-03-26 05:26] johnsimons commented on #2692
@Particular/nservicebus please review and assess criticality

[2015-03-26 05:43] danielmarbach commented on #2692
I'd say this is another one of these cases where we should use a FeatureStartupTask?

[2015-03-26 05:47] #2692 closed

[2015-03-26 05:55] johnsimons commented on #2692
@danielmarbach yes, I fixed develop but I don't think we can apply the same fix to previous versions

[2015-03-26 06:08] indualagarsamy commented on #2692
@johnsimons - do you have a repro or an acceptance test for this?

[2015-03-26 06:22] danielmarbach commented on #2692
Hack it into unicastbus?

Am Donnerstag, 26. März 2015 schrieb John Simons :

--

Daniel Marbach

Solution Architect, Particular Software

Email:  daniel.marbach@particular.net

Web:    www.particular.net
<http://t.signauxneuf.com/e1t/c/5/f18dQhb0S7lC8dDMPbW2n0x6l2B9nMJN7t5XX4RzDjlVS9QB88pTc_dW3Ljg7x56dWyBdgBXs402?t=http%3A%2F%2Fwww.particular.net%2F&si=4896787407044608&pi=33cc6202-1f31-4040-8d6c-

[2015-03-26 06:32] johnsimons commented on #2692
No, if anyone can think of a way to replicate the race condition in a test, go for it.

[2015-03-26 06:32] johnsimons commented on #2692
That is a possibility

[2015-03-26 06:33] johnsimons commented on #2692
Funny, no one has actually commented regarding the criticality of the issue ?

[2015-03-26 07:01] andreasohlund commented on #2692
Has this been an issue since the dawn of time?

[2015-03-26 07:05] johnsimons commented on #2692
Since v4.0 i think

[2015-03-26 07:11] danielmarbach commented on #2692
@johnsimons about the criticality of this issue: A lot needs to go wrong that it occurs and it can only occur during startup and shutdown. I'd say the criticality isn't that high but I agree we need to fix it

[2015-03-26 07:22] SzymonPobiega commented on #2692
This is technically a message loss scenario and our rules say we back port such bugs. Completely other thing is the time frame. I don't think we need to be in a hurry here since
 * a lot of things has to go wrong for this to occur
 * it was working like this for a long time
 * it only affects a subset of users

[2015-03-26 07:30] johnsimons commented on #2692
@danielmarbach, actually it can only occur at startup

[2015-03-26 07:31] johnsimons commented on #2692
I'm not clear on this statement, can someone expand ?

[2015-03-26 09:14] andreasohlund commented on #2692
Yes this seems like a hotfix (not urgent though).

[2015-03-26 09:24] danielmarbach commented on #2692
So a not so hot Hotfix ;)

[2015-03-26 09:50] SzymonPobiega commented on #2692
lukewarmfix?

[2015-03-26 10:22] SimonCropp commented on #2692
i prefer the terminology "patch" and "hotfix" where, as per semver, any "only bug fix release" is a "patch" and a "hotfix" is a "patch" with some level of urgency

[2015-03-26 16:03] chandmk commented on #2681
We have similar problem with MSMQ. V5.2

We are sharing autofac container between WCF and Bus.  We have shared dependencies that need to be injected into the MessageHandlers and WCF request processor types.

When ever a critical error occurrs, container is getting disposed.  Bus usage is about 20% of the overall usage of the WCF service.  If you take down the container, now this WCF service become

[2015-03-27 01:43] johnsimons commented on #2692
I've tried to replicate this issue but could not, that said i do still think we should patch it just to make sure it does not happen.

[2015-03-27 02:41] SeanFeldman opened #2694 "License reading is failing on machine with non-Gregorian calendar"
## Who's affected

- Anyone using NServiceBus version 4.3 on system with non-Gregorian calendar

## Symptoms

- NServiceBus license not parsed causing `System.FormatException` and endpoint failure

## Additional info

Related to https://github.com/Particular/NServiceBus/issues/2421

[2015-03-27 02:47] SeanFeldman opened #2695 "License reading is failing on machine with non-Gregorian calendar"
## Who's affected

- Anyone using NServiceBus version 4.3 on system with non-Gregorian calendar

## Symptoms

- NServiceBus license not parsed causing `System.FormatException` and endpoint failure

## Additional info

Related to https://github.com/Particular/NServiceBus/issues/2421

[2015-03-27 02:58] SeanFeldman opened #2696 "License reading is failing on machine with non-Gregorian calendar"
## Who's affected

- Anyone using NServiceBus version 4.3 on system with non-Gregorian calendar

## Symptoms

- NServiceBus license not parsed causing `System.FormatException` and endpoint failure

## Additional info

Related to https://github.com/Particular/NServiceBus/issues/2421

[2015-03-27 02:59] SeanFeldman opened #2697 "License reading is failing on machine with non-Gregorian calendar"
## Who's affected

- Anyone using NServiceBus version 4.3 on system with non-Gregorian calendar

## Symptoms

- NServiceBus license not parsed causing `System.FormatException` and endpoint failure

## Additional info

Related to https://github.com/Particular/NServiceBus/issues/2421

[2015-03-27 03:01] SeanFeldman commented on #2694
Fixed by https://github.com/Particular/NServiceBus/commit/ad3a7c35f8ca63bbd71d4d1ccc47ad2bd55fdbbd

[2015-03-27 03:35] johnsimons commented on #2674
@Thorium I'm trying to replicate this issue and having a bit of difficulty getting the the deadlock or timeout situation you mention, any hints how to reproduce it ?

Also, just to make sure, you have experienced this issue ?

[2015-03-27 05:07] johnsimons commented on #2681
@chandmk I wish I could give you advice on what to do in `DefineCriticalErrorAction` override, but that really depends on your requirements.

Unfortunately when `DefineCriticalErrorAction` is called it means that something is seriously wrong and usually is safer to shutdown the bus then to keep on going.
Obviously if you are co-hosting the bus with another public API or website, it does make sense

[2015-03-27 05:16] johnsimons commented on #2674
@Thorium I have uploaded my attempt at repro this issue to https://github.com/johnsimons/Issue_2674, let me know where I am going wrong :disappointed:

[2015-03-27 11:41] chandmk commented on #2681
As you are disposing the given container out of the box, now there are multiple failure points that can bring down the WCf service.  MSMQ, storage endpoints (Timeouts, Subscriptions, Retries), queue permissions, not sure what else is there..

In the logs I also noticed instances of container getting disposed without corresponding log entry from critical error handler.

When we override the DefineC

[2015-03-27 14:07] andreasohlund opened #2699 "Only set intent and replytoaddress headers from raw MSMQ message if not already set"
Right now we always set them but I believe to only set when the header isn't already there to avoid corrupting the original message

https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.Core/Transports/Msmq/MsmqUtilities.cs#L135

[2015-03-27 14:10] danielmarbach commented on #2681
@johnsimons I quickly discussed this today with @andreasohlund and @SimonCropp . We think we need to change the core to not dispose the `IContainer` implementation when it is passed in by outsid because in that case we don't own the disposable resource.

@chandmk as a workaround what about setting up two containers and forwarding calls from one to another for the shared dependencies?

[2015-03-27 16:52] chandmk commented on #2681
@danielmarbach, after a bit more digging there is a bigger problem here than simply creating multiple containers.

In the following scenario
a. RavenDB goes down.
b. A critical error is thrown
c. Bus is now disposed.  Application container is not disposed.
d. RavnDB comes backup online
e. Is it possible to bring the Bus up without restarting the app pool? If we were to restart the bus via code, ho

[2015-03-27 17:13] kevin-whalley-gc commented on #2681
@danielmarbach @chandmk

What I've tested in a development environment is yes, you can create a new bus, pass it back into the container, and we have our own circuit breaker so it doesn't endlessly retry, but share the same problems with determining whether the restart was successful - how can we tell the circuit breaker to reset its failure count if we don't know

[2015-03-27 21:52] indualagarsamy opened #2700 "Distributor stops handing out work to Workers after restart"
### Symptoms

Endless log entries of type ```Logs Session ids for Worker at '{0}' do not match, so popping next available worker``` until distributor for endpoint is restarted.

Orginally [reported](https://groups.google.com/forum/#!topic/particularsoftware/omUFBDlkX3I) on the google group.

### Root cause

Distributor tries to pop a worker, but the worker has session id not equal to the active se

[2015-03-27 21:53] indualagarsamy commented on #2700
Fixed by https://github.com/Particular/NServiceBus/commit/c5c0ac3190ea3b5e7317f1c327d43cf89470b523

[2015-03-27 21:53] #2700 closed

[2015-03-28 03:55] indualagarsamy commented on #2585
Closed by the commit above.

[2015-03-28 03:55] #2585 closed

[2015-03-28 04:08] indualagarsamy opened #2701 "Corrupted MSMQ Message Headers may result in message loss"
## Who’s affected:
Anyone using MSMQ Transport and is also doing one of the following:
- Manual editing of the headers of messages which may result in an invalid xml of the headers being sent to the endpoint.
- Anyone dealing with an integration scenario where native message are being sent for example from Java where the headers may not contain valid xml.

## Symptoms:
The message will be discarde

[2015-03-28 04:17] indualagarsamy opened #2702 "Messages do not get audited with outbox enabled"
### Symptoms

When the Outbox feature is enabled on the endpoint, successfully processed messages do not get forwarded to the audit queue.

### Who's affected

Anyone using the Outbox feature.

[2015-03-28 04:25] indualagarsamy commented on #2702
Fixed in:
https://github.com/Particular/NServiceBus/commit/785354578b3c760ed242c3a151e062b5de6e1cdf
https://github.com/Particular/NServiceBus/commit/26bfb69b6b0bd2628b8dca9b7a35f83b0c20d092

Clone of #2627

[2015-03-28 04:25] #2702 closed

[2015-03-28 04:25] indualagarsamy commented on #2701
Fixed in https://github.com/Particular/NServiceBus/commit/71502870f09e23e6bfba88d5e2efe64cfe8ff543

[2015-03-28 04:25] #2701 closed

[2015-03-28 04:35] indualagarsamy commented on #2584
Closing issue - fixed by the referenced commit.

[2015-03-28 04:35] #2584 closed

[2015-03-28 15:52] chandmk commented on #2681
@danielmarbach,

I ended up with the following for now...

a. Set Up two duplicate containers.  I don't like this. And I hope this is temporary arrangement.
b.  Save the created bus into static variable and register that as single instance into WCF container.
c. Override DefineCriticalErrorAction. (When a queue goes down this method is being called multiple times, may be we need to lock the method

[2015-03-29 22:29] johnsimons commented on #987
So it has been a week since I polled the forum and only Adam came back to me regarding this functionality, but even Adam says that they will keep on using their own external provisioning.

So @Particular/engineers are we all in agreement that we can obsolete `IAuthorizeSubscriptions` ?

[2015-03-29 22:29] johnsimons commented on #1928
It seems this is addressed in the next major

[2015-03-29 22:29] #1928 closed

[2015-03-29 23:49] SimonCropp commented on #987
I dont think we should remove it. Even if no one responded to the group, it meets a legitimate security requirement that should have a simple answer and an explicit API.

[2015-03-29 23:55] SimonCropp commented on #987
I would compare this to the encryption feature. even if everyone said "no we do encryption in a custom way or on the transport" I would still say we need this feature in the core.

[2015-03-30 11:21] memark commented on #2060
This will be a problem for anyone still on the 3.x version upgrading to VS 2015. See this bug on connect
https://connect.microsoft.com/VisualStudio/feedback/details/1196361

Is there any way a fixed version

[2015-03-30 11:35] SimonCropp commented on #2060
@memark here is 3.3.14 http://www.nuget.org/packages/NServiceBus/3.3.14

[2015-03-30 13:31] memark commented on #2060
@SimonCropp Yes. It is also missing the attribute. (Maybe I misunderstood what you meant by sending me this link?)

[2015-03-30 15:21] dario-l commented on #2037
Unfortunately, I have similar issue with version 3.1.4.143.

StackTrace:
[code]

[2015-03-30 22:50] SimonCropp commented on #2060
@memark Sorry I misunderstood. I thought you were having trouble building NSB.  Can you email me at simon.cropp@particular.net I have a few suspicions of how to fix this but I will need your help to test them

[2015-03-30 23:06] johnsimons opened #2703 "Msmq subscription storage defaults to wrong queue name"
The msmq subscription storage queue should default to `"{Name of your endpoint}.Subscriptions` but instead is defaulting to `NServiceBus.Subscriptions`.

This affects v5.0+

It also seems that in v4 the users used to be able to override the queue name for the subscription via the config file as well as via the api, in v5 the api method to override is missing!

[2015-03-30 23:13] johnsimons commented on #2703
@Particular/nservicebus do we backport this one ?

[2015-03-31 02:15] SeanFeldman commented on #2703
I had a few customers with this issue when they were migrating from v4 to v5.
My vote is yes (backport).

[2015-03-31 06:38] andreasohlund commented on #2703
Would you say people would notice this in development?

v5.
My vote is yes (backport).

If you're upgrading to v5 wouldn't you go to the latest v5? (so is this
really a reason to backport?)

On Tue, Mar 31, 2015 at 4:15 AM, Sean Feldman <notifications@github.com>
wrote:

[2015-03-31 11:02] sfarmar commented on #2703
:+1:  as @SeanFeldman said, customers are doing that

[2015-03-31 11:16] andreasohlund commented on #2703
So we should be fine with fixing the latest v5?

[2015-03-31 12:14] SeanFeldman commented on #2703
Probably yes.

[2015-03-31 12:31] johnsimons commented on #2703
IMO this could go unnoticed in dev, mostly because user test everything
using the same version but it could be a different story when they rolling
the updates to prod as a side by side deployment.

On Tuesday, March 31, 2015, Sean Feldman <notifications@github.com> wrote:

[2015-03-31 12:36] SeanFeldman commented on #2703
+1 for bringing side-by-side scenario

[2015-04-01 11:21] SimonCropp commented on #2060
@memark thanks for the email. I believe I have a fix for this. See the PR here https://github.com/Particular/NServiceBus/pull/2704

Unfortunately I am heading of on leave tomorrow. However I have given @andreasohlund a run down of the issue

[2015-04-02 08:23] andreasohlund commented on #2060
@memark I've prepared a beta for a 3.3.15 release. Would you have any chance to verify that it fixes your issue? http://builds.particular.net/viewLog.html?buildId=102294&buildTypeId=NServiceBusCore_Build&tab=artifacts   (just log in as guest)

[2015-04-02 08:51] memark commented on #2060
@andreasohlund Thank you, this fixes my issue. Referencing this version of NServiceBus.Core, my code compiles fine in VS 2015.

[2015-04-02 08:55] andreasohlund commented on #2060
Thanks, we'll proceed with release

[2015-04-02 23:14] SeanFeldman opened #2706 "XmlSerializer fails to deserialize array of nulluble ints"
## Who's affected

Anyone who's using XML serialization with message contract containing lists of nullables.

## Symptoms

All items in the list will deserialize to their `default` values regardless of what value they had when being serialized

## How to reproduce

Send a message with an array of nullable ints

[code]

**Originally reported in Desk**: https://nservicebus.desk.com/agent/case/10108

[2015-04-07 01:15] johnsimons commented on #2706
I'm on the fence about adding support for this.
It seems arrays of nullable value types has never been supported and this bug would quite possible have been picked up in lower environments.

Have they tried a List instead ?
Still very confused why you need this, I would expect unassigned values would just not be assigned, hence no need to assign nullables.

[2015-04-07 07:26] danielmarbach commented on #2080
What about this?

https://github.com/Particular/NServiceBus/issues/298

[2015-04-07 09:54] SzymonPobiega opened #2707 "TimeoutManagerDeferrer does not copy the EnlistInReceiveTransaction flag"
### Problem

`TimeoutManagerDeferrer` does not copy the `EnlistInReceiveTransaction` flag to the new send options which causes the timeout message send operation to be enlisted in the receive transaction even when using outbox. Should the receive commit fails, a message in the outbox store will be marked as dispatched while not being sent anywhere.

### Symptoms

None. Messages are delivered norma

[2015-04-07 10:13] #2707 closed

[2015-04-08 06:40] seesharper commented on #2690
Hi again.
Actually I do have a question regarding licencing.

The LightInject integration for NServiceBus relies on the NServiceBus Nuget package. After a while I got a popup stating that I need a license to continue using NSB. The thing is that I am not using NSB for anything else than writing this integration. If I am going to maintain this integration, I would need something more than a trial l

[2015-04-08 17:24] indualagarsamy commented on #2239
Hey @DavidTuke - Thanks for your patience.  I wanted to keep you posted on my findings:

After I started to dig into the details of this issue, I no longer believe that the `Authenticated` checkbox is valid option when AD integration is turned off.
- When sending messages using the `UseAuthentication` property set on the message, MSMQ uses the certificate in AD for that user account to be used to

[2015-04-08 18:17] SeanFeldman opened #2708 "Allow to specify assembly scanner not to scan nested folder"
**Breaking changes**

Changing default AssemblyScanner behavior not to scan nested folders.
Nested folders will be scanned only when requested so through code API.

------

Original request came from [google groups](https://groups.google.com/forum/#!msg/particularsoftware/7Me1KKAxmFU/LhiyavkjZb0J)

While we have an [option to scan a folder](http://docs.particular.net/nservicebus/hosting/assembly-s

[2015-04-08 18:39] indualagarsamy commented on #2708
Discussed this earlier with @SeanFeldman and I agree.
- When we explicitly have an option for scanning directories, it seems very restrictive to not give the user the option of controlling the directory scan. (It's like having a `dir` and a `dir /s` option)
- Unless there are pressing reasons for this argument to be internal, my vote is to make this parameter public. Default behavior can be as it

[2015-04-08 22:07] johnsimons commented on #2703
@andreasohlund I think this needs to be backported, to handle side by side upgrades

[2015-04-08 22:08] johnsimons commented on #987
@andreasohlund can you please make a decision on this one ?

[2015-04-09 13:42] janovesk commented on #2708
:+1:

I heard this requested by users several times, including today.

[2015-04-09 21:06] johnsimons commented on #2708
:+1: also we should allow specifying whether exes are scanned or not, see https://github.com/Particular/NServiceBus/blob/a69ab8bfd238a3b4dad916c93ba268451fdca531/src/NServiceBus.Core/Hosting/Helpers/AssemblyScanner.cs#L45

This actually used to work but for some reason it got removed :disappointed:

[2015-04-09 21:06] johnsimons commented on #2708
@SeanFeldman this is an easy one, should I assign it to u?

[2015-04-09 21:18] SeanFeldman commented on #2708
[`ScanAssembliesInDirectory()`](https://github.com/Particular/NServiceBus/blob/a083112affa6a4d4fd538c2fb62adf01041ddfcf/src/NServiceBus.Core/v6-obsoletes.cs#L42) is marked as obsoleted and replacement is to use `ExcludeAssemblies()`

So that would either require signature change on [`BusConfiguration.ExludeAssemblies()`](https://github.com/Particular/NServiceBus/blob/a083112affa6a4d4fd538c2fb62adf

[2015-04-10 01:40] SeanFeldman commented on #2708
Here's a summary of discussion with @johnsimons and PoA:

- In 4.7 there [was a way to achieve this](https://github.com/Particular/NServiceBus/blob/4.7.5/src/NServiceBus.Core/Hosting/Helpers/AssemblyScanner.cs#L38) that was "lost" in transition to V5
- Since `AssemblyScanner` is invoked twice (by NSB host and later by configuration), we can't rely on configuration
- Change default behavior to what

[2015-04-10 13:18] jdrat2000 opened #2710 "Bus.Defer sets the OriginatingEndpoint to the local endpoint so there is no ability to reply"
In a server handler of a full duplex implementation,  if Bus.Defer is used to delay processing on the server, Bus.Reply will no longer work because the OriginatingEndpoint header is being changed to the local endpoint name.   If you use Bus.Reply the message is dropped back into the local queue.   This causes an exception because there is no local handler for the reply message.

See support case 1

[2015-04-10 17:47] indualagarsamy commented on #2638
@johnsimons - any updates on this? Can you describe the root cause and add more details?

[2015-04-12 22:36] johnsimons commented on #2638
@indualagarsamy we just need to update the dependency in the nuget spec file, do you need me to do that ?

[2015-04-13 06:22] johnsimons commented on #2389
Is this something we want to introduce as part of the changes already happening in #2669 ?
Not talking about doing in the same PR but in the same release.
@danielmarbach thoughts ?

[2015-04-13 06:24] johnsimons commented on #2389
Also, I wonder if
[code]
is more explicit ?

Would we execute both in order, New followed by Handle ? or just New//Start ?

[2015-04-13 06:32] danielmarbach commented on #2389
@johnsimons Here my thought:

I think we agreed on the larger saga improvement story already. So the question is in the sense of making messages auto start the sagas by default and opt-out from it I'd say we don't new to adjust the interfaces I introduced in #2669 to New/Start or anything else because we'll remove them anyway... Right?

[2015-04-13 06:35] johnsimons commented on #2389
@danielmarbach regardless how we going to address that, we still have the issue that @SeanFeldman describes here

[2015-04-13 06:40] danielmarbach commented on #2389
@johnsimons well the depends on how you look at it. If the majority of the cases is in the future will be auto-starting and we remove the `IAmStarted...` interfaces I'd say the confusion is minimized or gone

[2015-04-13 07:33] andreasohlund commented on #987
Since we need to rethink this in the light of broker transports anyway I'd say we:

1. Obsolete the current feature since its misleading (doesn't work for all transports), guiding users to use a behavior/custom substorage implementation instead if they happen to be using it (there is always one user :)
2. Raise a requirement to come up with a "vNext" plan of attack for this

Thoughts?

[2015-04-13 07:35] johnsimons commented on #987
What timeline ? v6 ?

[2015-04-13 07:37] andreasohlund commented on #2703
I don't see how this would prevent side by side upgrades?

Wouldn't vN and vN+1 both be able read the `NServiceBus.Subscriptions` or what ever specific queue you configure it to use? (yes a v5 user would have to explicitly configure the name if not on the latest v5)

[2015-04-13 07:42] johnsimons commented on #2703
@andreasohlund the issue as I see it is the following.
- User is on v4, therefore using `{Name of your endpoint}.Subscriptions` queue name;
- User upgrades to v5 and because in dev / integration environments they do a full on upgrade, the change in queue names goes unnoticed;
- User starts slowly upgrading prod using side by side deployment, we now have 2 subscription queues!, and the new queue, h

[2015-04-13 09:20] andreasohlund commented on #346
Fixed in https://github.com/Particular/NServiceBus/pull/2693

[2015-04-13 09:20] #346 closed

[2015-04-14 14:24] andreasohlund commented on #2703
The steps makes sense but would a user really do a side by side upgrade in
production without testing it in a similar environment?

On Mon, Apr 13, 2015 at 9:42 AM, John Simons <notifications@github.com>
wrote:

[2015-04-14 15:29] andreasohlund commented on #987
I see no reason to wait. Let's do it in v6

[2015-04-14 15:30] andreasohlund commented on #2710
This seems like a bug to me?

[2015-04-14 16:29] andreasohlund commented on #2638
Should we go ahead and release this together with th vs2015 fix?

[2015-04-14 16:51] andreasohlund commented on #298
We've decided to not support this since we can't provide a solution that would work for all scenarios. The workaround is to create your own lookup table and dispatch a command to each saga instance individually

Closing this one as won't fix

[2015-04-14 16:52] #298 closed

[2015-04-14 18:11] indualagarsamy commented on #2638
@andreasohlund - yes. I think so.

[2015-04-14 19:42] Thorium commented on #2674
See the description johnsimons/Issue_2674#1

[2015-04-15 21:06] johnsimons commented on #2239
@indualagarsamy how do we proceed here? Can we close this one ?

[2015-04-15 21:08] johnsimons commented on #2706
@Particular/nservicebus does anyone else wants to chime in ?

[2015-04-15 21:12] SimonCropp commented on #2706
I think we need to support it

[2015-04-16 14:06] bbrandt commented on #1919
I'm unable to find ..\.\bin\release\Runner.exe that is required to run PubSub.ps1.

Didn't see any instructions for setup of the required SQLServer DB as well:
Sqlcmd: Error: Microsoft SQL Server Native Client 11.0 : SQL Server Network Interfaces: Error Locating Server/Instance S
pecified [xFFFFFFFF]. .
Sqlcmd: Error: Microsoft SQL Server Native Client 11.0 : Login timeout expired.
Sqlcmd: Error:

[2015-04-16 21:31] johnsimons commented on #1919
@bbrandt did u compile the project in Release mode ?

[2015-04-16 21:35] johnsimons commented on #2389
@Particular/engineers thoughts on this idea from @SeanFeldman  ?

Should we do it ? Vote

[2015-04-17 00:57] johnsimons opened #2713 "Essential headers missing when message is sent to error queue"
With the latest patches for #2463, we have forgotten to include essential headers:
- NServiceBus.FailedQ
- All of the exception ones see https://github.com/Particular/NServiceBus/blob/b47c3f12267790ef32c587c23d830dcf477ab95a/src/NServiceBus.Core/Utils/ExceptionHeaderHelper.cs#L19-L57
- Also Headers.HostId and Headers.HostDisplayName

We also seem to need to ensure we remove the Retries header, see

[2015-04-17 07:21] andreasohlund commented on #2389
I rather go in the direction of "all messages can always start the saga" which as @danielmarbach points out would make this a non issue.

I'm -1

[2015-04-17 07:26] andreasohlund commented on #2713
This is that this happens since the headers can even be corrupted so we can't add any headers at all. The plan is to make SC handle this gracefully (not assume anything about headers being present)

@indualagarsamy @gbiellem is working on that right now

Does this make sense?

[2015-04-17 09:43] johnsimons commented on #2713
So there is no way to retry such messages?

On Friday, April 17, 2015, Andreas Öhlund <notifications@github.com> wrote:

[2015-04-17 10:27] gbiellem commented on #2713
@johnsimons

The messages from the acceptance test had no processing endpoint info or failedQ etc
So you'd need to add a mechanism to  enrich it before sending it of for retry presumably by prompting the user for the destination.  Is that what you had in mind?

[2015-04-17 10:30] SimonCropp commented on #2713
since we cant use the headers the only way would wrap the binary content in a new message.

[2015-04-17 10:42] andreasohlund commented on #2713
Correct!

On Fri, Apr 17, 2015 at 11:43 AM, John Simons <notifications@github.com>
wrote:

[2015-04-17 12:55] indualagarsamy commented on #2389
From a high level design concept, a saga is something that deals with multiple messages. If we go with that, then the user should just have to indicate just what messages participate in a saga. I think its a safer default to have the first message involved to auto start the saga if its' not already started. This is something people forget to do in the current state. They have multiple messages, bu

[2015-04-17 17:33] bbrandt commented on #1919
I am now running in Release mode.  Running VS2013 as Administrator.

I'm trying to run NServiceBus.PerformanceTests.exe directly with these parameters:
PubSub numberofsubscribers=10 numberofmessages=10000 numberofthreads=10 storage=msmq

I get an ArgumentNullException from queue.SetPermissions() in [MsmqQueueCreator.cs](https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.Core/Tr

[2015-04-19 23:57] johnsimons commented on #2710
If we are to change this behavior, how do we handle backwards compatibility?

[2015-04-19 23:59] johnsimons commented on #2706
@andreasohlund you seem to be always against adding extra support to our custom serializer, what is your take here, do we fix it or document it ?

[2015-04-20 00:00] johnsimons commented on #2703
@andreasohlund IMO, I think it is a plausible scenario, but your call, please let me know so I can either fix it or close it ?

[2015-04-20 00:02] johnsimons commented on #2239
@indualagarsamy I'm closing this one as won't fix, because of the reasons you have provided, if you think it should be fixed, please reopen it.

[2015-04-20 00:02] #2239 closed

[2015-04-20 00:07] johnsimons commented on #2389
We are not going this way instead we are making all messages can start a saga.

[2015-04-20 00:07] #2389 closed

[2015-04-20 00:08] johnsimons commented on #2389
@danielmarbach @andreasohlund please add a reference to issue regarding "all messages can start a saga", I could not find it.

[2015-04-20 00:39] jdrat2000 commented on #2710
@johnsimons Good question.  Can you give me an example of how you've seen it used John where the current behavior is expected?   I can think of a scenario within a subscriber... something that wouldn't use the Reply.    I'm not sure in the current case why they would use reply and expect it to return right back to the current queue.

[2015-04-20 00:55] johnsimons commented on #2710
@jdrat2000 I don't have an example, but that is not to say that we do not currently have users that are using this current behavior.

[2015-04-20 08:01] SimonCropp commented on #2713
closing this since there is no possible fix we can do in the core

[2015-04-20 08:01] #2713 closed

[2015-04-20 08:16] andreasohlund commented on #2710
This is tricky but I say that since this is plain wrong we treat it as a bug and correct the wrong behavior?

[2015-04-20 08:17] indualagarsamy commented on #2239
@johnsimons - sounds good.

[2015-04-20 08:36] andreasohlund commented on #2703
I'm +1 for closing (ie not backporting)

@Particular/nservicebus please chime in if you think I'm off

[2015-04-20 08:36] #2703 closed

[2015-04-20 08:40] danielmarbach commented on #2659
Is this still on the radar?

[2015-04-20 08:41] andreasohlund commented on #2659
Think it's a good change, not sure about how urgent it is though

On Mon, Apr 20, 2015 at 10:40 AM, Daniel Marbach <notifications@github.com>
wrote:

[2015-04-20 09:04] mauroservienti commented on #2389
Is the above really what customers and we want? Does it mean that I will be able to send a `CancelOrderCommand` to a non existing saga and a new one will be fired up?

[2015-04-20 09:08] andreasohlund commented on #2389
What if the PlaceOrderCommand gets stuck in SLR/Error queue and the website allows the users to click cancel order?

In short: Should users really assume that cancel comes before PlaceOrder?

[2015-04-20 09:17] mauroservienti commented on #2389
That is the exact scenario, if `Cancel` comes before `Create` and with `Cancel` we create a new Saga by default we charge on the user code consistency checks that actually are done by the `IAmStartedBy` thing. I like the idea of having an explicit way, the interface, to express that something can start a saga and something cannot, we can also build visualizations around that.

[2015-04-20 09:22] danielmarbach commented on #2389
@mauroservienti the majority of cases order should not be assumed and therefore most of the `IHandleMessages` implementations on the sagas should actually be `IAmStartedBy`. Our idea is to change so that a message is assumed to start the saga and the user can opt out from that behavior by config.

[2015-04-20 09:30] mauroservienti commented on #2389
@danielmarbach maybe I am missing the big picture, so please correct me if I am wrong. I'm not assuming order at all, but in most scenarios, business scenarios, order is important, you cannot `ship` a non exiting `order`.

So imagine that the endpoint handling order is: `ShipOrder`, `CreateOrder`

With current NServiceBus version `ShipOrder` will be rejected, and queued again, because only `Create

[2015-04-20 09:36] indualagarsamy commented on #2389
@mauroservienti - In messaging systems, one should not /cannot assume the order of processing. So, you should assume that either of the messages i.e. ShipOrder or CreateOrder could be handled first. In situations where you are waiting that both messages occurred, it shouldn't be a problem and yes users should do that. Otherwise, they'd lose a message. i.e. ShipOrder came in first and there's no or

[2015-04-20 09:40] danielmarbach commented on #2389
You’re scenario can be achieved as well with the new API. They can opt-out
by saying ShipOrder should not start the saga. We are only inverting the
way we do it.

*From:* Mauro Servienti [mailto:notifications@github.com]
*Sent:* Montag, 20. April 2015 11:30
*To:* Particular/NServiceBus
*Cc:* Daniel Marbach
*Subject:* Re: [NServiceBus] Implement IAmStartedByMessages<T> as an
explicit handler separa

[2015-04-20 09:42] mauroservienti commented on #2389
by saying ShipOrder should not start the saga. We are only inverting the
way we do it.

So it is a huge breaking change, this is the only thing I am pointing at, I'm not assuming order at all. I would personally prefer the opposite, introduce the new behavior and let me opt-in, not force me to opt-out

[2015-04-20 11:08] SzymonPobiega commented on #2659
I like the change. It would even more important if we decide to go for explicit context sharing between handlers because that context would only need to access the store method.

[2015-04-20 11:24] andreasohlund commented on #2706
Since we support arrays and nullables (we need to double check that it actually works) it seems reasonable to support arrays of nullables. In this case we're corrupting data by setting it to 0 (when it was sent as null) so I'm +1 for fixing this as a bug

[2015-04-20 12:27] andreasohlund commented on #2659
I guess we would then pass a "context" to the `Store` to avoid needing DI.

I'm sold :)

On Mon, Apr 20, 2015 at 1:08 PM, Szymon Pobiega <notifications@github.com>
wrote:

[2015-04-20 17:12] indualagarsamy commented on #2389
@mauroservienti does raise a good point.
@danielmarbach @andreasohlund - what about this scenario. Say a message comes in for which a saga has been marked complete, currently we invoke SagaNotFound handlers. In the new model, it will always start a phantom saga. Users will now have to switch / set the configuration for this behavior. I can how that can be confusing as well. This setting, is that g

[2015-04-20 17:53] SeanFeldman commented on #2389
We're talking about being very explicit and clear about intentions with NSB. Example: rather than deriving endpoint name from a namespace, we ask user to set it explicitly through `BusConfiguration`. Yet with `Sagas` we're not enforcing a way to clearly indicate what starts a saga. I tend to gravitate toward a scenario where a business process starts with a clear message.

[2015-04-20 21:55] memark commented on #2060
The initial fix was impressively fast, but now it's been twelve days. Are there any plans to release this fix any time soon?

[2015-04-21 01:12] johnsimons commented on #2706
@andreasohlund what version do we add support for this in ?
Does it need to go via Requirements ?

[2015-04-21 04:01] #2060 closed

[2015-04-21 04:01] #2638 closed

[2015-04-21 05:37] johnsimons opened #2714 "Unable to cast object of type 'NServiceBus.Pipeline.Contexts.OutgoingContext' to type 'NServiceBus.Pipeline.Contexts.IncomingContext'. thrown"
Reproducible in v5.2.0

If a user calls either:

- Bus.DoNotContinueDispatchingCurrentMessageToHandlers();
- Bus.HandleCurrentMessageLater();

on a `IMutateOutgoingMessages` when we are not in the receiving context, the code blows up with:
[code]

## Code to repro

[code]

[2015-04-21 05:39] johnsimons commented on #2714
@Particular/nservicebus do we patch this ?

[2015-04-21 06:00] danielmarbach commented on #2714
@johnsimons this affects the sending side and the exception is thrown back to the caller. So no message is being lost. Annoying but not critical.

[2015-04-21 06:02] johnsimons commented on #2714
I didn't say it was critical :wink:, I think it would still be nice to put a patch out.

[2015-04-21 06:41] udidahan commented on #2714
Why would they validate on the sending side?

[2015-04-21 07:03] johnsimons commented on #2714
@udidahan I asked the same question to the user in the mailing list.
But regardless how we got here, an exception is still being thrown :disappointed:

[2015-04-21 07:12] andreasohlund commented on #2714
I don't see this as a patch.

User calls:

     Bus.DoNotContinueDispatchingCurrentMessageToHandlers();
        Bus.HandleCurrentMessageLater();

which isn't valid to call if there is no incoming message being processed. If they do we throw, yes it's not a good ex but we can fix that in the next minor/major.

This IMO is another reason why its's good that we move to a more "context" based approach

[2015-04-21 07:22] johnsimons commented on #2714
@andreasohlund for your info "patch" means whatever next version is, and I agree this is not a critical patch so it can be deployed in whatever the next version is.

So, are we patching v5 or we are only addressing this in vnext aka v6 ?

[2015-04-21 07:27] andreasohlund commented on #2706
Do U see any value in doing it?

[2015-04-21 07:28] SimonCropp commented on #2706
IMO it is a bug. let just fix it

[2015-04-21 07:30] johnsimons commented on #2706
@andreasohlund u said:

so your call on how serious this bug is and whether it needs a proper customer impact + customer communication

[2015-04-21 07:30] danielmarbach commented on #2706
+1

[2015-04-21 07:38] andreasohlund commented on #2714
Since there is no 5.3 on the radar yet I'd say v6 for now?

[2015-04-21 07:38] johnsimons commented on #2714
ok thanks @andreasohlund

[2015-04-21 07:51] andreasohlund commented on #2706
I think we have this one covered based on the discussion here so just go ahead and fix + release this one

[2015-04-21 07:52] johnsimons commented on #2706
ok @andreasohlund

So now the next question is, do we backport this one ?

[2015-04-21 07:53] johnsimons commented on #2706
And is this a hotfix or just a patch ?

[2015-04-21 08:04] andreasohlund commented on #2706
So if we agree that this is data corruption, how do we handle that usually?

[2015-04-21 14:30] andreasohlund commented on #395
Connecting this to https://github.com/Particular/Vision/issues/9

[2015-04-22 17:29] AndrewInScotland commented on #1217
I'm picking up on richardmatsu's work (same project).
We are still experiencing the same issue with FIPS compliance. The problem is in UnicastBus's constructor, where it calls GenerateDefaultHostId. This uses the DeterministicGuid class, which uses MD5. It looks like this is the only place that uses MD5.
Is there any update on this issue? We are still stuck on 4.3.8.

[2015-04-22 22:58] johnsimons commented on #1941
@SimonCropp I think we missed this one!
What should we do here ?

[2015-04-22 23:34] johnsimons commented on #1217
@AndrewInScotland what version do you want to upgrade to?
If you upgrade to v5.1.2 or above, you can override the HostId as explained in http://docs.particular.net/nservicebus/hosting/override-hostid#how-do-i-override-an-endpoint-host-identifier

Is this feasible for you ?

[2015-04-23 06:42] andreasohlund commented on #1217
Not sure that would work since I think FIPS just checks if there is code
that uses MD5 and doesn't care if it's not being called  :(

On Thu, Apr 23, 2015 at 1:34 AM, John Simons <notifications@github.com>
wrote:

[2015-04-23 06:44] SimonCropp commented on #1217
@andreasohlund i dont think so. look at the stack trace
[code]

only throws when that line is hit

[2015-04-23 08:37] andreasohlund commented on #1217
Got it, thanks!

[2015-04-23 08:40] andreasohlund commented on #1217
@AndrewInScotland @richardmatsu Have you guys seen this one:

http://blogs.technet.com/b/secguide/archive/2014/04/07/why-we-re-not-recommending-fips-mode-anymore.aspx

what's your take on this?

I'm not trolling here just want to get your view on this since it will help us alot to assess if we want to support FIPS or not.

[2015-04-23 11:05] pablocastilla opened #2716 "NHibernatePersistence: if a field is too long the saga data table is not created and there is no error message"
Today we have had a strange problem, we changed something in the SagaData and its table stopped of being created. The main problem is that it didn't show any error or warning in the console when debugging or when installing the service.

Here you can find a code to reproduce the problem. If you shorten the field in the saga data the table is created.
https://github.com/pablocastilla/SagaDataLongFi

[2015-04-23 11:07] #2716 closed

[2015-04-23 19:38] SeanFeldman opened #2717 "Interface inheritance breaks during serialization when same property name is found in more than one interface"
## Who's affected

- Anyone who's trying to create an interface based message that has interface inheritance with overloaded property

## Symptoms

- Exception TypeLoadException is thrown at runtime with a message similar to the following: `Method 'get_[overloaded_property]' in type '[type_name]__impl' from assembly '[assebly_name]' does not have an implementation.`

---

**Repro code**

[code]

D

[2015-04-24 00:07] johnsimons commented on #2710
@andreasohlund which version do we patch ? The next major ?

[2015-04-24 03:07] AndrewInScotland commented on #1217
It's a compelling argument. FIPS doesn't guarantee anything. The problem
is that some of our government and military customers may not see things
in the same light.

The fix looks fairly straightforward to me. Use SHA1 instead of MD5. We
could change the Create method in the DeterministicGuid class as follows:

        public static Guid Create(params object[] data)
        {
            // use SH

[2015-04-24 06:44] andreasohlund commented on #2710
Thinking next major since this one would be found in development?

On Fri, Apr 24, 2015 at 2:07 AM, John Simons <notifications@github.com>
wrote:

[2015-04-24 06:51] andreasohlund commented on #1217
Got it, thanks for keeping us in the loop!

On Fri, Apr 24, 2015 at 5:07 AM, Andrew W <notifications@github.com> wrote:

[2015-04-24 07:24] SimonCropp commented on #1217
@AndrewInScotland the main reason preventing us from doing that is that it is a significant breaking change

[2015-04-24 14:58] AndrewInScotland commented on #1217
Maybe we can find a way to make it optional, to support both?

In response to an earlier query: yes, it's the use of MD5 (not its
presence) that violates FIPS.

I have looked at the offered workaround, but it won't work for us.
See the constructor in NServiceBus.Features.UnicastBus. It calls
GenerateDefaultHostId when it sets up the Defaults, which in turn calls
DeterministicGuid. This default val

[2015-04-28 00:28] johnsimons commented on #2710
Thanks @andreasohlund

[2015-04-28 00:36] johnsimons commented on #2717
@SeanFeldman what is the criticality of this issue ?
Is this a hotfix, patch or next major ?

[2015-04-28 00:45] johnsimons commented on #2706
Sorry @andreasohlund just to clarify, are you saying that this is a hotfix and needs to be backported to all affected versions as per our backporting strategy ?

[2015-04-28 08:40] andreasohlund commented on #2706
Yes, that seems correct

[2015-04-28 08:53] mauroservienti commented on #1217
@johnsimons

that does not work, I tested it and we have a case regarding that (#10388), the fact is that the `UnicastBus` `Feature` class sets up defaults meaning that the default implementation, that utilizes `MD5`, is still called at start up regardless of the fact that you are overriding or not the endpoint host identifier.

[2015-04-28 12:56] SeanFeldman commented on #2717
@johnsimons patch I'd say. We have sent nuget package (generated by hotfix branch) to validate fix by @danielmarbach is working and it does.

[2015-04-28 21:56] johnsimons commented on #2706
@SeanFeldman do you know how far we need to hotfix ?

[2015-04-28 22:05] johnsimons commented on #1941
@andreasohlund this one seems to be critical, according to the report is message loss, is this your interpretation ?

[2015-04-28 22:23] johnsimons commented on #1217
@mauroservienti yeah that is disappointing, I guess we need to re-evaluate this in the next major release, I'll raise an issue about it.

[2015-04-28 22:26] johnsimons opened #2721 "Allow users to override the hostid before MD5 is used"
## Who's affected

* Users who want to override the hostid with a custom identifier

## Symptoms

When using

`busConfguration.UniquelyIdentifyRunningInstance().UsingCustomIdentifier(Guid.NewGuid())`

the custom assigned identifier was still hashed with MD5.

This change ensures that the custom assigned identifier is not hashed and retained as assigned by the user.

[2015-04-29 03:29] SeanFeldman commented on #2706
@Particular/nservicebus there's another issue with XML Serializer:

There's also an issue with serialization. When a single nullable property with no value assigned is serialized, XML will contain text `null` for the value. When an array of nullables is serialized, for no values an empty string is written. While @distantcam and myself can address it during serialization, should it be fixed (in bac

[2015-04-29 05:43] johnsimons commented on #2706
@SeanFeldman @distantcam can you show an example of the bug you guys found ?

[2015-04-29 06:01] distantcam commented on #2706
@johnsimons Nullable arrays are currently serialized like this.

    <?xml version="1.0" ?>
    <MessageWithNullableArray xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://tempuri.net/NServiceBus.Serializers.XML.Test">
    <SomeInts>
    <NullableOfInt32>
    </NullableOfInt32>
    </SomeInts>
    <NullInt>null</NullInt>
    </MessageW

[2015-04-29 06:12] andreasohlund commented on #1941
Yes this one seems to be a patch, lets get it out

[2015-04-29 06:13] johnsimons commented on #1941
yes, working on the hotfix for 4.2

[2015-04-29 07:07] andreasohlund commented on #2697
@SeanFeldman what's the status on this one?

[2015-04-29 07:51] johnsimons commented on #2697
This seem to be a critical error, hence needs to be hotfixed, correct ?

[2015-04-29 08:01] andreasohlund commented on #2697
We decided to not treat it as critical since it would show up in dev

[2015-04-29 08:02] johnsimons commented on #2697
ok good point

[2015-04-29 08:02] andreasohlund commented on #2697
Which IMO means not backporting, close this one?

[2015-04-29 08:19] johnsimons commented on #2697
It is possible that the dev machine you code in uses a different culture.

[2015-04-29 08:21] andreasohlund commented on #2697
Potentially yes, but there is no corruption or message loss. Yes it prevents the endpoint to run but there is a workaround that @danielmarbach came up with.

Close?

[2015-04-29 09:29] andreasohlund commented on #2706
After hashing out the symptoms with @distantcam and @SimonCropp  we realized that this will deserialize all values to "default" regardless of what they are set to. This lead us to conclude that this issue would be found in develop. Based on this we don't thing we need to back port this to all versions. Instead we'll go ahead and patch this in:

* develop (v6) - done
* 4.7.6
* 5.2.1

[2015-04-29 12:09] andreasohlund commented on #2639
@SeanFeldman since we've announced the limitations of the scheduler can we close this one?

[2015-04-29 18:20] SeanFeldman commented on #2697
Workaround would not on the latest as `LicenseManager` was needed for that to work and [no longer public](https://github.com/Particular/NServiceBus/blob/master/src/NServiceBus.Core/Licensing/LicenseManager.cs#L10).

[2015-04-29 18:26] #2639 closed

[2015-04-29 19:07] andreasohlund commented on #2697
Wasn't the idea to patch latest v4 and v5 ? (not 4.6 , 4.5 and so on)

[2015-04-29 22:05] SimonCropp opened #2722 "FileLoadException.FileName can be null"
So here  https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.Core/Hosting/Helpers/AssemblyScanner.cs#L302

We have
[code]

But as per the doco https://msdn.microsoft.com/en-us/library/system.io.fileloadexception.filename%28v=vs.100%29.aspx FileLoadException.FileName can be null

Hence the reason this user is not getting a useful error message https://groups.google.com/forum/#!to

[2015-04-29 22:25] johnsimons commented on #2722
@SimonCropp what version do you propose we fix this in ?

[2015-04-29 22:27] SimonCropp commented on #2722
6

[2015-04-30 01:46] particularbot opened #2723 "Subscription is overwritten and hence fails to receive messages"
### Who's affected

Version 4.0, 4.1 and 4.2 users that's subscribing to 2 different events sharing the same base class

### Symptoms

Message handlers for one of the events won't fire even though the event message is arriving at the endpoint

### Original report
Occurs in 4.2

Get this solution https://github.com/Particular/BugsRepro/tree/master/1941OverWrittenSubscription
Run it twice to ensure

[2015-04-30 01:47] particularbot opened #2724 "Subscription is overwritten and hence fails to receive messages"
### Who's affected

Version 4.0, 4.1 and 4.2 users that's subscribing to 2 different events sharing the same base class

### Symptoms

Message handlers for one of the events won't fire even though the event message is arriving at the endpoint

### Original report
Occurs in 4.2

Get this solution https://github.com/Particular/BugsRepro/tree/master/1941OverWrittenSubscription
Run it twice to ensure

[2015-04-30 04:38] SeanFeldman commented on #2697
Yes. It was matter of updating licensing source package to the latest whenever latest 4.x and 5.x are released.

[2015-04-30 06:57] andreasohlund commented on #2697
@SeanFeldman the we're aligned. Can you go through and close relevant copies of this bug? (I've seen a few)

[2015-05-01 04:05] johnsimons opened #2725 "Deprecate IAuthorizeSubscriptions"
### Reasons
Because brokers do not need to send a Subscribe/Unsubscribe message to the publisher, `IAuthorizeSubscriptions` is never invoked for these transports, making it misleading.

This feature also does not provide any meaningful incremental security for a solution.

### Way forward
Guiding users to use a behavior/custom substorage implementation instead if they happen to be using it.

[2015-05-01 04:06] johnsimons commented on #987
Another issue was raised based on the outcome, see #2725

[2015-05-01 04:06] #987 closed

[2015-05-01 04:08] johnsimons commented on #1815
This is now complete

[2015-05-01 04:08] #1815 closed

[2015-05-01 04:21] SimonCropp commented on #2725
@johnsimons so where is the guidance?

[2015-05-01 04:23] SimonCropp commented on #2725
Wouldnt it be better to rename it  IAuthorizeMsmqSubscriptions? And only enable for the transport?

[2015-05-01 04:33] johnsimons commented on #2725
@SimonCropp

Not done yet, want to do it ?

[2015-05-01 05:17] johnsimons commented on #2169
@andreasohlund do you see us pulling this off in the v6 timeline ?

[2015-05-01 05:18] johnsimons commented on #2200
@SimonCropp is this issue still valid or is there a different one tracking the progress ?

[2015-05-01 12:17] udidahan commented on #2725
If the guidance hasn't been done, should this issue really be closed?

[2015-05-01 18:48] SeanFeldman commented on #2717
@johnsimons we've discussed this to be a PR, but we don't have a release-5.3 branch. What should it be branched off - develop is already v6. Thanks

[2015-05-01 18:50] SeanFeldman commented on #2696
doesn't require patching

[2015-05-01 18:50] #2696 closed

[2015-05-01 18:50] SeanFeldman commented on #2695
doesn't require patching

[2015-05-01 18:50] #2695 closed

[2015-05-01 18:51] SeanFeldman commented on #2694
doesn't require patching

[2015-05-01 18:51] #2694 closed

[2015-05-01 18:51] SeanFeldman commented on #2697
Done. Should we close this one?

[2015-05-01 23:03] SimonCropp commented on #2717
I think in version 6 we should drop support for serializing interface properties

[2015-05-02 05:24] danielmarbach commented on #2717
Can you explain why?

Am Samstag, 2. Mai 2015 schrieb Simon Cropp :

--

Daniel Marbach

Solution Architect, Particular Software

Email:  daniel.marbach@particular.net

Web:    www.particular.net
<http://t.signauxneuf.com/e1t/c/5/f18dQhb0S7lC8dDMPbW2n0x6l2B9nMJN7t5XX4RzDjlVS9QB88pTc_dW3Ljg7x56dWyBdgBXs402?t=http%3A%2F%2Fwww.particular.net%2F&si=4896787407044608&pi=33cc6202-1f31-4040-8d6c-e70641f44

[2015-05-02 10:03] #2697 closed

[2015-05-02 10:06] andreasohlund commented on #2717
I can't come up with a single reason to support interface properties so +1
to what @simoncropp said

On Sat, May 2, 2015 at 7:24 AM, Daniel Marbach <notifications@github.com>
wrote:

[2015-05-02 10:55] SimonCropp commented on #2717
Yeah there are reasons for supporting interfaces at the root level. But interfaces at the property level is a recipe for pain

-----Original Message-----
From: "Andreas Öhlund" <notifications@github.com>
Sent: ‎2/‎05/‎2015 8:06 PM
To: "Particular/NServiceBus" <NServiceBus@noreply.github.com>
Cc: "Simon Cropp" <simon.cropp@gmail.com>
Subject: Re: [NServiceBus] Interface inheritance breaks during se

[2015-05-02 12:36] danielmarbach commented on #2717
Aaah! Now I got it! Your talking about

IBar Bar { get; set; }

Sorry you lost me for a second
+1 then

Am Samstag, 2. Mai 2015 schrieb Simon Cropp :

--

Daniel Marbach

Solution Architect, Particular Software

Email:  daniel.marbach@particular.net

Web:    www.particular.net
<http://t.signauxneuf.com/e1t/c/5/f18dQhb0S7lC8dDMPbW2n0x6l2B9nMJN7t5XX4RzDjlVS9QB88pTc_dW3Ljg7x56dWyBdgBXs402?t=http%3A%2

[2015-05-03 16:49] andreasohlund commented on #2660
Fixed in https://github.com/Particular/NServiceBus/commit/df904765b8786d63e4c72a6f9316f3bc57ab2637

[2015-05-03 16:49] #2660 closed

[2015-05-03 21:35] johnsimons commented on #2717
@SeanFeldman if i'm not mistaken, you need to create a support-5.3 branch and then merge a release-5.3 branch into it.

[2015-05-03 21:38] johnsimons commented on #2717
@SimonCropp can you raise a different issue

[2015-05-03 22:13] johnsimons commented on #2725
Issue raised in docs

[2015-05-03 22:55] SimonCropp commented on #2725
So as far as I can tell the main problem of this feature is that people are using in a context they should not. I think rather than removing the feature we could address those concerns in a different way. How about a combination of

 * Create a new `IAuthorizeMsmqSubscriptions` (or similar for other transports that support it)
 * Obsolete with warning `IAuthorizeSubscriptions` and point to the abo

[2015-05-04 05:46] johnsimons commented on #2364
Issue addressed as part of #2601

[2015-05-04 05:46] #2364 closed

[2015-05-04 05:47] johnsimons commented on #2390
Done as part of ##2689

[2015-05-04 05:47] #2390 closed

[2015-05-04 05:48] johnsimons commented on #2596
Done as part of ##2689

[2015-05-04 05:48] #2596 closed

[2015-05-04 05:51] johnsimons commented on #2412
@andreasohlund we have re-purpose these feature in v5.2, see https://github.com/Particular/NServiceBus/commit/14517c0dc6815cba2d53ee9bb517b09fe0eb3f0f

Are you sure you still want to deprecate `config.ScaleOut()` ?

[2015-05-04 05:52] johnsimons commented on #2444
@andreasohlund is this achievable in the v6 timeline or do we postpone ?

[2015-05-04 05:55] #2461 closed

[2015-05-04 05:57] johnsimons commented on #2538
Deprecated, code only wins

[2015-05-04 05:57] #2538 closed

[2015-05-04 05:59] johnsimons commented on #2567
@SzymonPobiega with all the refactoring u been doing has this been addressed ?

[2015-05-04 05:59] johnsimons commented on #2618
@andreasohlund what is the plan of attack for this ? Do we postpone ?

[2015-05-04 06:00] johnsimons commented on #2620
@SzymonPobiega are you addressing this in one of your PRs ?

[2015-05-04 06:02] johnsimons commented on #2674
@andreasohlund are we going to clr v4.5.1 in v6 timeline, or postpone ?

[2015-05-04 06:11] johnsimons commented on #2710
How do we fix this @andreasohlund  ?

[2015-05-04 09:29] andreasohlund commented on #2390
We need to make sure to create a new repo and move the projects over.
Should we do that now?

On Mon, May 4, 2015 at 7:47 AM, John Simons <notifications@github.com>
wrote:

[2015-05-04 09:33] andreasohlund commented on #2444
I'd say postpone until we redo the saga persister from the ground up

On Mon, May 4, 2015 at 7:52 AM, John Simons <notifications@github.com>
wrote:

[2015-05-04 09:34] andreasohlund commented on #2412
Agree to keep .ScaleOut() but we should remove .SingleBrokerQueue()?

[2015-05-04 09:35] andreasohlund commented on #2618
It's still on my radar, I'll try to get to it

On Mon, May 4, 2015 at 8:00 AM, John Simons <notifications@github.com>
wrote:

[2015-05-04 23:26] johnsimons commented on #2618
@andreasohlund can we postpone the fixing of `IManageUnitsOfWork` to v7 timeline ?

[2015-05-04 23:34] johnsimons commented on #2412
How about `UseUniqueBrokerQueuePerMachine` do we also remove it ?, BTW, just checked v6 and we are not using "ScaleOut.UseSingleBrokerQueue" setting so it is ok to remove, but what are the implications of this removal for the transports ?

[2015-05-05 00:23] SimonCropp commented on #2200
we are going to handle this in v6. but no longer sure that the outcome will "no ilmerging"

[2015-05-05 00:23] #2200 closed

[2015-05-05 06:34] andreasohlund commented on #2412
I've removed it from rabbit+sql and I've talked it through with @SeanFeldman and @yvesgoeleven so we're good in that regards

[2015-05-05 10:00] SzymonPobiega commented on #2620
@johnsimons I want to. I think this concept should be replaced by a concept of a physical public address.

[2015-05-05 13:22] SeanFeldman commented on #2412
@andreasohlund can we go over this again with @yvesgoeleven and myself?

[2015-05-05 17:40] andreasohlund commented on #2412
Yup, schedule a call?

On Tue, May 5, 2015 at 3:22 PM, Sean Feldman <notifications@github.com>
wrote:

[2015-05-06 06:57] SzymonPobiega commented on #2412
Include me in the call. Need to understand that better. To me the only sensible options are queue-per-endpoint or queue-per-instance with an exception that non-broker transports do not support queue-per-endpoint.

[2015-05-07 04:56] johnsimons opened #2731 "DeliveryTime and CriticalTime can be negative"
I've just imported a users SC database to diagnose an issue in SI and I saw:
![image](https://cloud.githubusercontent.com/assets/122651/7508730/cfe31c8c-f4c8-11e4-9d3c-a669e3fd2388.png)

It seems this user is running in Azure, and obviously hosts datetimes may not be exactly in sync.
So the calculation for DeliveryTime and CriticalTime because it relies on timestamps from multiple machines can get

[2015-05-07 04:58] johnsimons commented on #2731
@andreasohlund a good one for you to fix :astonished:

[2015-05-07 04:58] johnsimons commented on #2731
@SeanFeldman @yvesgoeleven is my diagnosis right ?

[2015-05-07 05:52] andreasohlund commented on #2731
What can we do here? Just show a `0` if the value is negative?

On Thu, May 7, 2015 at 6:58 AM, John Simons <notifications@github.com>
wrote:

[2015-05-07 05:55] johnsimons commented on #2731
This can also occur on site, machines clocks may not be in sync, @gbiellem do you know how often this happens ?

[2015-05-07 05:57] johnsimons commented on #2731
@andreasohlund the only solution I can think of if we really want to be accurate is to use a time server

[2015-05-07 06:05] gbiellem commented on #2731
@johnsimons  - Time syncing in Windows is configurable and optional so there is no good answer there.  Yes a time server will mitigate the issue but it's still no guarantee as machines do drift between syncs

[2015-05-07 12:23] andreasohlund commented on #2169
I'd say lets bump it

On Fri, May 1, 2015 at 7:17 AM, John Simons <notifications@github.com>
wrote:

[2015-05-07 12:50] danielmarbach commented on #2624
This is fixed for next release as part of https://github.com/Particular/NServiceBus/pull/2670

[2015-05-07 12:50] #2624 closed

[2015-05-07 12:52] danielmarbach commented on #2609
I'm with @johnsimons [comment](https://github.com/Particular/NServiceBus/issues/2609#issuecomment-71569273) we have the capability with the notifications.

Can we come up with a good ToString approach which provides small benefit?

@janovesk @mauroservienti @indualagarsamy anyone up for a PR?

[2015-05-07 12:53] danielmarbach commented on #2572
Assembly scanning is revamped as part of https://github.com/Particular/NServiceBus/pull/2670. Closing this one

[2015-05-07 12:53] #2572 closed

[2015-05-07 18:00] SeanFeldman commented on #2731
@johnsimons on Azure all machines use UTC and by default configured to use a time server that Microsoft defaults to.

[2015-05-07 22:05] SimonCropp commented on #2731
If we are sure this is a client with time sync problems i think we should document and leave as is. Any zeroing out would only hide the problem the from them

[2015-05-08 06:35] andreasohlund commented on #2731
Makes sense to me, +1

On Fri, May 8, 2015 at 12:05 AM, Simon Cropp <notifications@github.com>
wrote:

[2015-05-10 14:08] pashute commented on #307
OK, no need. So any class is OK for timeout state?

That is not clear in the Timeout section of the Saga page in the documentation.

In any case, ITimeoutState is not found in nsb.Saga anymore.

What is the state class used for if at all.
Could you please give an example perhaps add it to the page or open a "complex timeouts with state" page?

[2015-05-13 06:54] andreasohlund commented on #307
That's correct, any class will do

It's used to allow state to be passed to timeouts of the same "type" if you need to set multiple of them

I've just added a section to our documentation on this topic with a better explanation and a example

http://docs.particular.net/nservicebus/sagas/#timeout-state

Does this make sense?