[2016-11-07 15:17] andreasohlund commented on #4266
Go for it!

[2016-11-07 16:29] danielmarbach commented on #4276
How about moving it out of the core first?

[2016-11-07 16:31] danielmarbach commented on #4277
The extendable approach would be very useful from an ASB perspective. This would allow ASB to build a more expressive API where we could tie certain settings to the transaction mode. // cc @Particular/azure-service-bus-maintainers

[2016-11-08 03:25] gbiellem commented on #4235
@xmakina

Before you do the test @bording outlined can you also turn on PowerShell tracing.  This should give us an idea where it's hanging.   To turn on tracing in the  Package manager Console run the following:
`Set-PSDebug -Trace 2`

You can turn it off again using `Set-PSDebug -Trace 0` or just close Visual Studio as it's not a persistent setting

[2016-11-08 07:40] timbussmann commented on #4276
that also sounds like something we would do in a major version?

[2016-11-08 08:01] andreasohlund commented on #4276
Agreed, let's make it public now and raise an issue to move the scheduler out?

@mauroservienti I remember that you had some ideas for a external scheduler?

[2016-11-08 08:33] mauroservienti commented on #4276
yep: https://github.com/Particular/PlatformDevelopment/issues/940

[2016-11-08 09:03] andreasohlund opened #4281 "IManageUnitsOfWork can't access pipeline state"
Eg. multi tenancy would need access to headers to pick the correct connection string etc.

Since we plan to deprecate this API in v7 I propose the following:

- [ ] Change the upgrade guide for v6 to highlight this and guide users towards using a behavior if they need access to pipeline state
- [x]  [Create a sample that show how to mimic UOW using a behavior instead](https://github.com/Particular

[2016-11-08 09:42] MarcinHoppe commented on #4281
Is obsolete in a minor release advisable under SemVer?

[2016-11-08 09:45] andreasohlund commented on #4281
This is a bit of a grey zone but we've decided that obsolete with a WARN is ok since user can still use the type.

The caveat is that you would have to suppress the WARN if you have "fail build on warning" turned on.

[2016-11-08 09:47] MarcinHoppe commented on #4281
That can go into upgrade guide, right?

[2016-11-08 13:39] timbussmann commented on #3613
Spike currently in progress here: https://github.com/timbussmann/NServiceBus.FluentOptions

[2016-11-08 17:41] ramonsmits commented on #3612
And again... https://eu1.salesforce.com/500D000001J7RAa

[2016-11-09 07:53] #4276 closed

[2016-11-09 10:17] xmakina commented on #4235
@bording

I am using VS2015 Pro With Update 3 and NuGet 3.5.0.1996 (although it only shows 3.5.0 on the page)
![vs version](https://cloud.githubusercontent.com/assets/1357791/20135020/967e97aa-a665-11e6-8cec-5a0237c4f8dc.jpg)

When I ran into this problem it locks Visual Studio when loading the solution (see screen print below), note this is when opening the solution, I couldn’t get as far as comp

[2016-11-09 10:24] andreasohlund commented on #4235
Perhaps try to start with a blank init.ps1 and add the lines back one by one until it hangs?

[2016-11-09 15:24] boblangley opened #4285 "Confirm MSMQ transport works as expected in Windows 2016 Container deployments"
[Windows 2016 introduces containers](https://msdn.microsoft.com/en-us/virtualization/windowscontainers/about/about_overview?f=255&MSPPError=-2147217396):

We should confirm that MSMQ, as we have implemented it using the .NET framework, does not work in a containerized deployment.

[2016-11-10 07:35] andreasohlund commented on #4281
I'll start creating the new UOW sample

[2016-11-10 15:52] timbussmann commented on #4285
@boblangley that seems to contradict with the issue title?

[2016-11-10 16:03] timbussmann commented on #3493
@andreasohlund we are dispatching outbox messages in isolated mode, so that's even a bit different, isn't it?

@mauroservienti is there still something to answer/discuss here?

[2016-11-10 16:26] andreasohlund commented on #3493
Correct, all messages are dispatched with the isolated flag so the transport is free to optimize as it sees fit

[2016-11-10 16:28] timbussmann commented on #3973
@ramonsmits if you're still interested in this, can you schedule a call including @Particular/nservicebus-maintainers and @adamralph to discuss this and come to a conclusion?

[2016-11-11 09:33] timbussmann commented on #3493
I'll close this issue as of now. @mauroservienti feel free to reopen if your questions haven't been answered. In case you want to propose some behavior changes, I think it would make sense to open a new issue.

[2016-11-11 09:33] #3493 closed

[2016-11-11 16:02] timbussmann commented on #3564
@janovesk you seem to be assigned to this. How do we proceed with this? Are you planning on addressing this? I think we need to take into account that v4 is no longer supported? Is this also an issue in v5/v6?

[2016-11-11 17:00] timbussmann commented on #4210
having a quick look at the feature, I think it would be possible to just remove the dependsOn. This will result in `InMemoryTimeoutPersister` being registered in the container even when no `TimeoutManager` is used. Since we only register a factory, no instance is created and it shouldn't be used anywhere.

RavenDB seems to register a startup task and some other minor things which we probably don't

[2016-11-11 19:28] bording commented on #4210
Given that `InMemoryTimeoutPersister` has no point to exist except working with the TimeoutManager, why wouldn't we want it to depend on TimeoutManager?

[2016-11-12 23:36] brunobertechini commented on #4281
+1

[2016-11-14 07:05] timbussmann commented on #4210
I was asking myself too, what would be wrong with the DependsOn and besides the fact, that the dependency is inverse (timeoutmanager depends on a persistence mechanism, not the other way round), I don't see a good reason why we need remove it. Maybe @danielmarbach can provide more info?

[2016-11-14 07:31] timbussmann commented on #4281
@andreasohlund do we still want to obsolete the uow interface completely? It seems it would still work as previously as long as you're not accessing context/message specific data (e.g. managing a ravendb session across multiple handlers still works perfectly fine)

@brunobertechini seeing your +1, are you currently experiencing issues with the uow interface in v6? If yes, would you mind giving us

[2016-11-14 07:39] andreasohlund commented on #4281
Given that my statement

Is false, since we use child containers you can store state in the IoC just fine.

This means that IManageUnitsOfWork is fine as long as you don't need access to headers/message etc.

Description updated.

@SimonCropp are you happy with making the new UoW sample + updates to upgrade guide and doco the only action points here?

[2016-11-14 07:46] andreasohlund commented on #4210
I think the root cause here is that the persistence API is poorly designed. I'd say we should focus on how to improve that for vNext instead? (ie to have an api that doesn't rely on feature dependencies and uses factories instead like the transport seam)

[2016-11-14 10:01] #4230 closed

[2016-11-14 10:30] andreasohlund opened #4288 "Stop using the c.MessageDrivenPubSubRouting() api for the ATT's"
See if we can use the new metadata api instead or use unit tests instead

[2016-11-14 10:38] timbussmann commented on #4210
so it seems there is no immediate action we should take here and this would be addressed with a better design for feature/component dependencies instead?

[2016-11-14 10:39] andreasohlund commented on #4210
Yea, 👍 to close

[2016-11-14 13:31] timbussmann opened #4291 "Update testing projects to .NET Framework 4.6"
We should update the all testing projects in the core to 4.6. Since shipping this with a new minor version could cause downstream packages to break, it seems like we should plan this for the next major?

[2016-11-14 13:42] timbussmann opened #4292 "Remove Repeat from ATT Framework"
So far it seems that there are no direct objections on removing the `Repeat` functionality for acceptance tests as we don't want to run the same tests multiple times with different configurations in repeat but use different tests / test projects instead.

We currently use repeat mainly to ignore tests which aren't supported on the specific configuration (e.g. native pubsub, dtc support, ...).

Rem

[2016-11-14 14:27] macdonald-keith-vmware opened #4293 "Service crashes due to unhandled outbox/NHibernate exception"
I am using NSB 6.0, RabbitMQ, NHibernate persistence, SQL Server, and the Outbox feature.

We were performing server patches/updates this weekend. During that time period, the SQL Server database server used for NSB persistence was rebooted. My NSB service crashed due to an unhandled exception when NSB was attempting to remove old outbox entries.

call stack follows.
==============================

[2016-11-14 15:49] dbelcham commented on #4293
Based on what you wrote here it looks like the `OutboxCleaner.PerformCleanup` routine was trying to run when the SQL Server was offline. By default this routine runs every minute. This failure will not cause loss of messages and will attempt to run again when the next scheduled time occurs. If SQL Server is available when that subsequent run occurs no exception will be raised.

To avoid this in th

[2016-11-14 15:53] dbelcham commented on #4291
What problem does moving the tests to 4.6 solve?

[2016-11-14 16:29] macdonald-keith-vmware commented on #4293
Let me review the application logs again, because it appeared to me based on what I saw that this exception caused the application to terminate, which I would not expect. I would instead expect the behavior that you described, where it would just retry again in the next interval.

[2016-11-14 17:06] bording commented on #4292
I like the idea of moving the configuration support checks out into their own thing so that we don't have to write those kinds of tests differently.

I'm not convinced yet that switching to an opt-in approach is a good thing though. That seems to make it too easy for a downstream to miss tests that should be run.

[2016-11-14 17:13] timbussmann commented on #4291
there are no direct problems related to it, but since it's a breaking change I'd say we should make sure we update it before missing that opportunity with the next major.
Also, it makes it slightly more comfortable to write async code e.g. by using `Task.CompletedTask`.

[2016-11-15 05:24] SimonCropp commented on #4281
Sounds good

[2016-11-15 07:22] andreasohlund commented on #4281
Description updated, removed this from the 6.1 milestone since no changes to the core code is needed.

Will raise a docs issue instead

[2016-11-15 08:07] timbussmann opened #4295 "Should_throw_when_decrypting_with_wrong_key is flaky"
The acceptance test Should_throw_when_decrypting_with_wrong_key fails from time to time on the build server. I thought we already had a look at it, but it still seems to fail regularly.

e.g. https://builds.particular.net/viewLog.html?buildId=196924&tab=buildResultsDiv&buildTypeId=NServiceBusCore_Build

[2016-11-15 08:15] MeTitus opened #4296 "Add non async handlers"
No idea why sync handlers were removed altogether but we definitely need them back. There are instance where all and handler is doing is something dumb, with no messages being publish/sent. Without sync handler this is what we get to:

    public class PatientDischargedHandler : IHandleMessages<IPatientDischarged>
    {
        private readonly IPatientInfoRepository _patientInfoRepository;

[2016-11-15 09:49] timbussmann commented on #4296
Hi @MeTitus

As you correctly pointed out, sync handlers only make sense when you're not using the context and only invoke sync APIs. As this is not something we can assume to be the "default" case, we don't provide sync handlers (also because this easily introduces the risk of using blocking waits instead of the async handlers). The current recommendation is, as you already doing correctly, using

[2016-11-15 09:52] MeTitus commented on #4296
@timbussmann Yes I could do my own base handler but that's something I wanted to avoid.

[2016-11-15 09:55] ramonsmits commented on #4293
@macdonald-keith-vmware I want to advise to you to enable windows service recovery for all your nservicebus endpoints

- https://docs.particular.net/nservicebus/hosting/windows-service#installation-restart-recovery

This will make sure that at least your services will be restarted when this happens.

[2016-11-15 09:58] timbussmann commented on #4296
@MeTitus could you elaborate why you want to avoid this in the first place? To me this seems to be a fairly simple solution to your specific scenario. Would you say that it would be less of a pain if we shipped that base class as a part of NServiceBus?

[2016-11-15 10:37] timbussmann commented on #4293
I think a failure in `OutboxCleaner.PerformCleanup` should not immediately take down the endpoint and that behavior might be unintended. I'll raise an issue in the NHibernate repository for this.

But note that other components (and even the outbox) might shut down the endpoint if the fail to connect to the sql server after a certain period of time. E.g. the timeout manager will by default shut do

[2016-11-15 10:43] MeTitus commented on #4296
@timbussmann I just think it would me much nicer if you had followed MS nomenclature for the async methods and had implemented something like this:

    void Handle(T message, IMessageHandlerContext context)
    Task HandleAsync(T message, IMessageHandlerContext context, CancellationToken token)

and even if there is nothing to cancel now, which I find strange given then IO resources we might need

[2016-11-15 10:43] #4210 closed

[2016-11-15 11:05] timbussmann commented on #4296
That's a perfectly valid opinion, but we had long discussions about this topic internally and came to the conclusion, that we don't want to follow that recommendation. We tried to document our decision and the reasoning here: https://docs.particular.net/nservicebus/upgrades/5to6/async-suffix#other-libraries-with-no-async-suffix.
There is no black and white on topics like this and we carefully made

[2016-11-15 11:09] timbussmann commented on #4264
implemented by #4282
need to raise a doc PR before closing this

[2016-11-15 11:32] andreasohlund opened #4297 "Move the transport connection string api down to the individual transports"
As https://github.com/Particular/NServiceBus/pull/4274 highlights there is not enough value to have a core api for this. We can just let the transports that needs it expose a `.ConnectionString()` method.

Msmq wouldn't need this IMO since all the settings shouldn't change that often

https://docs.particular.net/nservicebus/msmq/connection-strings

[2016-11-15 12:23] andreasohlund opened #4298 "Improved unit of work API"
The current implementation has the following drawbacks:

* Can't access the pipeline state
* Requires users to register their implementation explicitly in DI

### New API proposal
 This proposal still allows DI to be used but removed the need users to explicitly register their UoW using our container abstraction/in their chosen container.

#### Registration

We can allow both a custom factory and

[2016-11-15 12:24] andreasohlund commented on #2618
Closing in favor of https://github.com/Particular/NServiceBus/issues/4298

[2016-11-15 12:24] #2618 closed

[2016-11-15 12:24] andreasohlund commented on #4281
Issue raised to improve the UOW api in the future https://github.com/Particular/NServiceBus/issues/4298

[2016-11-15 12:40] timbussmann commented on #4295
#4299 temporarily ignores the test so it doesn't break random builds from time to time.

[2016-11-16 00:05] pablocastilla opened #4301 "Apache Phoenix persistence"
Hi!

In my projects I would like to move all storage to a "apache environment" like cloudera or horton, but also keep using NSB. How do yo see the option of creating a persistence for phoenix? Join it with a kafka transport and you have NSB in the hadoop world.

Regards

[2016-11-16 10:41] ramonsmits opened #4302 "EnclosedMessageTypes header contains proxy types"
I noticed the following value for the header EnclosedMessageTypes:

    Store.Messages.Events.OrderAccepted__impl, NServiceBusMessageProxies, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null;Store.Messages.Events.OrderAccepted, Store.Messages, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null

This seems incorrect. I only expected the interface type(s) but not the dynamic proxy, so in thi

[2016-11-16 12:04] timbussmann commented on #4302
it seems those types are excluded by this code:
https://github.com/Particular/NServiceBus/blob/d462080b0efa6609f0f92d4e192d760142ac47c2/src/NServiceBus.Core/Pipeline/Incoming/DeserializeLogicalMessagesConnector.cs#L126

the naming confuses me, since this doesn't seem to be only related to v3?

while I'm not sure whether we need that value either, how do you conclude this is incorrect?

[2016-11-16 13:43] ramonsmits commented on #4302
@timbussmann The proxy isn't an actual contract type. The header should only contain contract types.

Based on the link you have shared this seems to be a regression as it implies that this was the behavior in V3 and is fixed in V4 or higher and the code seems to be ignoring proxy types (as it indeed should do).

[2016-11-16 15:38] dbelcham commented on #4298
Not going to label this as a Breaking Change since we have both the ability to do this without breaking (create new interface) or with a break.

[2016-11-16 16:25] dbelcham commented on #4302
We should verify what the v5 behavior is and whether we broke this in v6 or not. Purely from a v6 standpoint its probably that we can simply remove the extra proxy type definition since we are filtering it out when receiving incoming messages. The only risk could be backwards compatibility if this was removed.

[2016-11-17 08:04] timbussmann commented on #4302
sending an interface message from v5 yield the following header:

	<HeaderInfo>
		<Key>NServiceBus.EnclosedMessageTypes</Key>
		<Value>HeaderMessage, ConsoleHost4-6, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null</Value>
	</HeaderInfo>

[2016-11-17 08:06] andreasohlund commented on #4302
Since this is confirmed to be introduced in v6 we're flagging this as a bug. This doesn't seems to cause any issues so we can target this for a future release (no urgency to fix)

[2016-11-17 08:15] andreasohlund commented on #4285
@bording I know that you where interested in this. Assigned it to you (just unassigned if I misunderstood)

[2016-11-17 08:24] andreasohlund commented on #4266
@ramonsmits lets get this going I believe this warrants a patch

[2016-11-17 10:12] timbussmann commented on #4235
so we assume that this issue should be fixed by the changes proposed in https://github.com/Particular/NServiceBus/pull/4280. Is there a way we can verify this before upgrading to 6.1? As far as I understand, it should be possible to take the script from the the PR and replace the currently deployed one and then check whether that works? @gbiellem

[2016-11-17 10:20] timbussmann commented on #4301
Hey @pablocastilla

It's very unlikely that we would be able to provide an official persistence for the mentioned platform within the near future. Is your intention to run the persistence on cloud services or are you thinking about on-premise?

But there is always the option of providing your own subscription storage and we also have a documention on how to write one here: https://docs.particular.

[2016-11-17 10:43] gbiellem commented on #4235
@timbussmann we can't assume it's fixed by the script since we haven't been able to reproduce it - At best we've gone with a hunch here and pushed most of it into a background job.

👍 Yep the init script has nothing in it which is version specific

[2016-11-17 11:03] pablocastilla commented on #4301
Hi @timbussmann!

My current situation is the following:
We are in the IoT world and we are moving from relational databases to a big data persistence scenario in which we store and analyze trillions of readings/events. Nowadays the first idea is to keep a relational database (SQL Server or Oracle under NHibernate) for all the structural data and have a Horton or Cloudera cluster for the readings/

[2016-11-17 12:15] timbussmann commented on #4235
@gbiellem but maybe @xmakina would be able to pick up the file and see whether it solves the described problems?

[2016-11-17 12:53] mauroservienti commented on #4266
@Particular/nservicebus-maintainers please raise an issue in PlatDev so that a proper Task Force can be formed to handle this.

[2016-11-18 09:49] timbussmann commented on #4293
as https://github.com/Particular/NServiceBus.NHibernate/issues/241 has been confirmed by the nhibernate maintainers, I'm going to close this issue, as there are no direct changes required in the core.

@macdonald-keith-vmware thanks a lot for raising this issue. With https://github.com/Particular/NServiceBus.NHibernate/issues/241 the exception you received should be fixed. But please not, that as

[2016-11-18 09:49] #4293 closed

[2016-11-18 10:04] timbussmann commented on #4301
Thanks for the follow-up @pablocastilla

As far as I remember from the kafka transport discussion, one of the main pain-points which lead us to the decision to not consider this in the v6 timeframe, was the poor experience under windows. To me it sounds like an adaption of .net core would be quite a game changer in that regards, would you agree with that?

If you consider general usage numbers reg

[2016-11-18 11:40] pablocastilla commented on #4301
I agree. I feel MS is changing a lot and now they have left the "I will do my thing" policy to "I will take what the community offer". So in the near future you will have more mixed environments, not only .net+sql server. I hope we will see .net running on linux with kafka, hbase and so on. Today is possible.

Regarding .NET numbers, if you see nuget there are clients, even official from MS, for k

[2016-11-21 12:54] danielmarbach commented on #4296
More information about cancellation can be found [here ](https://github.com/Particular/NServiceBus/issues/3765)

Regarding sync vs. async. My coworkers have provided some insights. Another reason why we didn't provide sync overloads is that we need to be async all the way into the usercode. Synchronization is a responsibility of the user code since only the usercode knows where and when synchroniz

[2016-11-21 12:54] #4296 closed

[2016-11-21 16:19] timbussmann commented on #4301
From my perspective, this seems to be a very interesting story once we have .net core support covered. It looks like there is much more value in supporting kafka & co. once we are able to provide a proper Linux experience. I'm adding this to the feature backlog, thanks for raising this! 👍

[2016-11-21 23:21] MeTitus commented on #4296
@danielmarbach

"Another reason why we didn't provide sync overloads is that we need to be async all the way into the usercode." this is exactly the reason why this implementation is wrong. You say you need the code to be async but then again you don't even have an overload which accepts CancelationTokens. And look at what @timbussmann said before:

Also about this:

Do you really think that provi

[2016-11-22 08:34] timbussmann commented on #4235
as we can't reproduce the originally raised issue, we just have to assume that our changes made in #4280 will solve this problem. #4280 will be part of 6.1, if the problem continues to exist, please reopen the issue @xmakina . If you want to test ahead of the release, we provide 6.1 unstable packages on our myget feed here: https://www.myget.org/feed/particular/package/nuget/NServiceBus

Thanks fo

[2016-11-22 08:34] #4235 closed

[2016-11-22 14:52] timbussmann commented on #4264
closing this as docs PR has been raised.

[2016-11-22 14:52] #4264 closed

[2016-11-22 14:54] timbussmann commented on #4288
should be fixed. Closing this.

[2016-11-22 14:54] #4288 closed

[2016-11-22 21:42] SimonCropp commented on #4264
doco merged https://docs.particular.net/nservicebus/operations/tuning#configuration-timeoutmanager-satellite-queues

@tim thanks

[2016-11-23 00:00] bording commented on #4285
I've been playing around with windows containers a bit, and so far the answer to the question about will MSMQ work is: No.

The blocker so far is the with the current version of the Microsoft-provided base image, `microsoft/windowsservercore`, the commands to install MSMQ fail with an error. I've tried both `Install-WindowsFeature` from powershell and directly calling into DISM as mentioned in the

[2016-11-23 01:51] SimonCropp commented on #4281
sample merged and checkbox ticked off in description

[2016-11-23 07:15] MarcinHoppe commented on #4285
Is this something we can use Microsoft support or personal connections of our MVPs to check if this is by design or growing pains of Windows containers?

[2016-11-23 12:17] Scooletz opened #4318 "Consider providing a custom session-like object for InMemorySagaPersistence"
Currently, all the saga persisters provide custom extension methods to obtain a session in a saga finder that can be used to query the store:
1. RavenDB: `var session = storageSession.RavenSession();`
1. NHibernate: `var session = storageSession.Session(); `

Should we consider providing one for in-memory persistence to enable queries spanning across the whole store? This could  potentially impact

[2016-11-23 15:34] timbussmann opened #4319 "Setting logging context to null in ScenarioRunner causes NRE"
https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.AcceptanceTesting/Support/ScenarioRunner.cs#L31

This code seems to cause issues in ASB tests in case they try to log something after the context has been set to null.

[2016-11-23 16:46] bording commented on #4285
If we have some avenue to talk to Microsoft directly about it, I'd be happy to keep pushing this forward. I'm just not aware of what our options might be.

[2016-11-23 17:59] dbelcham commented on #4318
Those two examples show how easy it is to expose that kind of data access in the finders if the persister is a wrapper around a data access component. In the case of InMemory, there is no single data access component like that to be exposed. The equivalent of that component is the InMemorySagaPersister itself. So if we were to do this we would probably have to create a container object that housed

[2016-11-23 20:19] MarcinHoppe commented on #4285
I think each MSDN subscription has some number of support tickets we can use. Also a shout on the engineering Slack channel might help find somebody with a connection within MSFT we can potentially use.

[2016-11-23 21:12] bording commented on #4285
I'm in the process of activating my support options that come through the MSDN subscription, so lets see how that goes.

[2016-11-23 21:19] danielmarbach commented on #4319
@SeanFeldman and I were investigating a bit more today. We have a hunch something is off with the ASB shutdown sequence but we are not entirely sure yet. We are still fishing in the dark. Here are some of the investigation results:

## NServiceBus Acceptance Tests

Assumption: ASB has a proper shutdown sequence

As @timbussmann pointed out we are currently setting the logger to null after `Perform

[2016-11-23 21:22] danielmarbach commented on #4318
Why not just make the dictionaries internal and expose it to the session provider for InMemory and then mask it over a high level API?

[2016-11-24 00:45] SimonCropp opened #4320 "when_receiving_multiple_timeouts mapping to wrong property?"
so this
https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.AcceptanceTests/Sagas/when_receiving_multiple_timeouts.cs

has this

                protected override void ConfigureHowToFindSaga(SagaPropertyMapper<MultiTimeoutsSaga1Data> mapper)
                {
                    mapper.ConfigureMapping<StartSaga1>(m => m.ContextId)
                        .ToSaga(s => s.Id);

[2016-11-24 04:55] SimonCropp opened #4321 "wrong namespace in When_overriding_local_address.cs ?"
any reason why this has a different namespace to all other tests ?

https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.AcceptanceTests/Routing/When_overriding_local_address.cs

[2016-11-24 04:57] SimonCropp opened #4322 "make ActiveSagaInstance mock-able"
i was doing persister testing and needed to do a test where i needed an instance of `ActiveSagaInstance`. but the constructor is internal

[2016-11-24 06:49] andreasohlund commented on #4320
Yea looks wrong.

Wonder if there ever is a use case to map to the saga id?(perhaps we should validate and throw at startup?)

[2016-11-24 07:14] andreasohlund commented on #4322
It seems pretty harmless to just make the ctor public, all types passed to it is public anyway.

[2016-11-24 07:27] danielmarbach commented on #4320
@SimonCropp would you mind sending in a PR?

[2016-11-24 07:28] danielmarbach commented on #4322
@SimonCropp is the test somewhere so that we can have a look at it? We could pull the change into 6.1, how about sending in a PR and link to the test in the description?

[2016-11-24 07:43] andreasohlund opened #4323 "Failure to set MSMQ permissions is suppressed"
We currently only log a warning meaning that the queues we create won't have the appropriate permissions. Everyone/Anonymous have write access but unless you're and admin you won't be able to read from the queue.

https://github.com/Particular/NServiceBus/pull/4304 fixes this for 6.1

I don't see a reason to backport?

[2016-11-24 07:47] andreasohlund opened #4324 "Limit MSMQ format name to 102 characters?"
MSMQ can create and run with format names up to 159 characters but things like Queue.Exists and .SetPermissions can only handle 102.

### Symptoms

Users with a endpoint name resulting in a format name above 102 characters will see warnings in the log stating that the queues couldn't be checked and the queues won't have the requested permissions.

Should we consider only support max 102 character

[2016-11-24 07:48] andreasohlund commented on #4324
Discovered while doing https://github.com/Particular/NServiceBus/pull/4304 cc @ramonsmits

[2016-11-24 08:00] timbussmann commented on #4318
I'm a bit concerned that @danielmarbach suggestion will lead us to expose too much of the internals. Even if we wrap the implementation over another API, we need to make sure that we're still compatible with that for future changes. Personally, I don't really see the use case for custom finders in InMemoryPersistence at the moment.

[2016-11-24 08:09] Scooletz commented on #4318
If we expose dictionaries (probably exposing the primary index, by saga id, is just enough) it's highly likely that a potential finder would use `.Values` which would reintroduce locking of all the buckets. That was the cost we wanted to remove. Enabling finders in my opinion should not impact the performance of the current improved solution.

Now the engineering dream part ;-) Here it comes!
If w

[2016-11-24 08:51] danielmarbach commented on #4318
Well first of all I agree I don't see much value in a custom finder for InMemory persistence. But we also said it is a production ready persister which we support. So as it is consider a production ready persister when we don't provide custom saga finders it is essentially not fully feature compliant which arguably could be seen as a bug. Creating an API over the internal dictionaries would mean w

[2016-11-24 09:14] SzymonPobiega opened #4325 "Worker does not send a "ready" message processed message is retried or moved to the error queue"
## Who's affected

* Users using the NServiceBus Distributor with NServiceBus v6 when messages are going through Delayed Retries or are moved to the error queue

## Symptoms

The distributor node handles the capacity of all workers enlisted in the distributor. Everytime a worker becomes available for work it sends a ready message to the distributor indicating that the capacity is available again.

[2016-11-24 09:17] SzymonPobiega commented on #4325
PR with failing acceptance tests: https://github.com/Particular/NServiceBus/pull/4327

[2016-11-24 09:29] SzymonPobiega commented on #4325
Closed in favor of https://github.com/Particular/PlatformDevelopment/issues/1044

[2016-11-24 10:52] Scooletz commented on #4318
Or we could simply accept `Func<TSagaData, bool>` and disallow iterating on its own.

[2016-11-24 10:56] timbussmann commented on #4325
discussed a potential approach with @danielmarbach. One thing which I think might differ from v5 is that we wouldn't send ready messages for SLR messages, as this could also end in a constant increase of the workers capacity if not handled very very carefully. E.g. consider the scenario:
- message1 arrives, fails all immediate retries, no ready message
- message1 sent to local timeout manager via

[2016-11-24 11:28] andreasohlund commented on #4325
This sounds off, at least in v5, timeouts where routed via the distributor so it would be ok to send a ready message once the SLR is requested since the retry would be routed to one of the instances just like any other message?

Also imagine if you have a long SLR delay => the instance won't process any messages until that delay is over?

[2016-11-24 12:22] timbussmann commented on #4325
I can't see any logic around that in v6, so my assumption is that we use the local timeout manager.

[2016-11-24 12:39] SzymonPobiega commented on #4325
I confirmed this. It is a problem in V6 worker implementation. It should be deferring to the distributor but it is not.

[2016-11-24 12:39] SzymonPobiega commented on #4325
Should we manage this bug separately or include this in scope of this issue?

[2016-11-24 12:43] andreasohlund commented on #4325
It seems like the fix for this issue is connected to how the timeouts are manages? (so we have to bundle?)

If not we will starve workers requesting timeouts?

Lets say we have capacity == 10.

Now have a saga do: RequestTimeout<CalculateInsurancePolicy>(TimeSpan.FromYears(1))

This will cause the first 10 messages to be processed but then we have to wait a year for the other ones?

[2016-11-24 13:36] dbelcham commented on #3765
@ppittle With NServiceBus in its current state, adding a CancellationToken to the methods would be nothing more than making the surfice of the API adhere to a convention. Once we have support for cancellation within the processing pipeline then adding the CancellationToken will make sense. Until then we aren't going to be taking any action on this.

[2016-11-24 13:36] #3765 closed

[2016-11-24 14:01] SzymonPobiega commented on #4325
We discussed this in detail with @danielmarbach @timbussmann and @tmasternak  and we agreed that we have a technical solution for sending ready messages in a transactional way.

The other thing we discussed was weather we should send the SLR message to the distributor or to the worker queue. In V5 we always delayed to the distributor. The problem is we cannot find a good place to make a decision,

[2016-11-24 15:19] dbelcham commented on #3647
Talking to @timbussmann and we came up with the following thoughts/ideas:

The current experience for a new (or any) user when creating a new endpoint is one that sees them think that they have done what is necessary to create an operating endpoint only to have it error on them during the first run. There is no feedback prior to endpoint startup that outlines what may be missing. The API by itself

[2016-11-24 16:09] danielmarbach commented on #4318
We talked this through in today's maintainer sync and came to the following conclusions.

* Both spikes show that it is possible to create an API which allows to expose data saved in the InMemoryPersistence for usage in the custom saga finders and potentially even other places
* Currently we have no real demand from users to support custom saga finders with InMemoryPersistence
* Implementing it ri

[2016-11-24 16:09] #4318 closed

[2016-11-24 16:16] danielmarbach opened #4331 "Acceptance test is successful even when an endpoint cannot be stopped"
When an endpoint is stopped in the `ScenarioRunner` and it throws an exception while stopping the task catches the exception and wraps it into a[ `ScenarioException` while rethrowing](https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.AcceptanceTesting/Support/ScenarioRunner.cs#L327). The [`Task.WhenAll`](https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.Ac

[2016-11-24 16:23] danielmarbach opened #4332 "Endpoint stop can fail which leaves the running endpoint instance in an intermediate state"
For example if [stopping the receivers fails](https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.Core/Unicast/RunningEndpointInstance.cs#L45) the feature startup tasks won't be stopped and neither the transport infrastructure. Even more the builder will not be disposed and the running endpoint instance will never set the stopped flag. Any other thread trying to reenter stop wou

[2016-11-24 16:32] danielmarbach commented on #4319
Raised #4331 and #4332 as a consequence of the investigation.

[2016-11-24 16:34] danielmarbach commented on #4319
@SeanFeldman and I concluded that we still want the context appender to be set to null by core since it can highlight other issues. We investigated a lot and all paths we followed lead to discover other potential issues in core and ASB which turned out to be not related to this issue. I double checked it with @bording

We decided to not invest more time right now and wait for the NUnit runner upda

[2016-11-24 16:34] #4319 closed

[2016-11-24 16:58] #4321 closed

[2016-11-24 17:11] bording commented on #4319
What NUnit runner update are you referring to? I believe we're already running 3.5.0 on the build server, and I'm not aware of any other pending update.

[2016-11-24 17:48] SeanFeldman commented on #3647
A new developer is going through an exploratory development. If they learn early on that an error queue is required and the _reason_ why it's required, then we've accomplished 2 things
1. Taught developer about error queue API
1. Seeded the idea of failing messages and potential need to address those

Current exception message looks like the following (with a minor spelling issue, [PR created](htt

[2016-11-24 18:55] janovesk commented on #3564
Well.. since v4 is no longer supported and the edge case-iness :) of using in-memory deduplication I'm a bit hesitant to do much here.

@chrisbednarski, do you have a workaround that is acceptable until you upgrade to v5/v6?

[2016-11-24 21:02] chrisbednarski commented on #3564
yes, would like to remove the workarounds when we migrate to v5/v6

the in-memory implementations are serving us well for integration testing as well

[2016-11-25 06:03] SimonCropp opened #4336 "redundant async in PropertySagaFinder"
https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.Core/Sagas/PropertySagaFinder.cs#L18

[2016-11-25 06:04] SimonCropp commented on #4336
@danielmarbach ping

[2016-11-25 08:28] danielmarbach commented on #4336
Unfortunately, this is due to limited [co-variance.](https://social.msdn.microsoft.com/Forums/en-US/2a350bb3-b1cc-48a1-8684-8e67cf17bf55/lack-of-covariance-in-the-task-class?forum=async) `Task<TSagaData>` cannot be implicitly converted to `Task<IContainSagaData>`. Closing this.

[2016-11-25 08:28] #4336 closed

[2016-11-25 10:07] andreasohlund commented on #4281
docs PR raised https://github.com/Particular/docs.particular.net/pull/2274

 closing this

[2016-11-25 10:07] #4281 closed

[2016-11-25 10:15] andreasohlund commented on #4325
Updated title to `Worker does not send a "ready" message for delayed retries` , ok?

[2016-11-25 10:31] andreasohlund commented on #4325
Actually, the title is wrong, the same issue happens when a message is moved to error as well right? (I'll update)

[2016-11-25 10:38] danielmarbach commented on #4325
@andreasohlund correct

[2016-11-25 10:46] gkorobkov commented on #4325
Thank you. This is correct.
Originally I found this issue in case of exception is generated and message is moved to the error queue.

[2016-11-25 11:40] SzymonPobiega opened #4338 "When enlisted with distributor `SendLocal` sends a message back to the worker's queue"
### Who's affected

 * Users who upgraded their distributor workers to V6

### Symptoms

Several API calls that should result in routing a message back to the distributor do not work correctly (and route the message to the local worker queue):
 * `IMessageSession.SendLocal(new MyMessage())`
 * Sending a delayed message to the local endpoint:

[code]
 * Delaying a message that failed all FLR attemp

[2016-11-25 11:41] SzymonPobiega commented on #4325
https://github.com/Particular/NServiceBus/issues/4338 is related to this issue.

[2016-11-25 11:52] ramonsmits commented on #4324
Maybe make it a soft validation. Limit the length to 102 and have the ability to disable this validation is the user actually needs longer queue names?

[2016-11-25 15:01] valeriob opened #4340 "Msmq Subscription storage not working in NSB 6"
I was able to reproduce it on different win10 machines :
1) Download the sample at https://docs.particular.net/samples/pubsub/
2) Add the following line of code in MyPublisher\Program.cs line 21
 endpointConfiguration.UsePersistence<NServiceBus.Persistence.Legacy.MsmqPersistence, NServiceBus.Persistence.StorageType.Subscriptions>();
2) Run the sample
3) the queue nservicebus.subscriptions is empty

[2016-11-28 03:50] mikeminutillo commented on #4340
Thanks for raising this @valeriob

I was able to reproduce this.

It looks like it's related to the [transaction type here](https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.Core/Persistence/Msmq/SubscriptionStorage/MsmqSubscriptionStorageQueue.cs#L45). Changing this transaction type to `Automatic` makes the messages appear in the queue as expected. I don't know what other eff

[2016-11-28 07:34] andreasohlund commented on #4340
@Particular/nservicebus-maintainers I propose we treat this as a patch?

[2016-11-28 07:46] danielmarbach commented on #4340
@andreasohlund I agree. Who can lead it?

[2016-11-28 08:42] #4221 closed

[2016-11-28 08:57] timbussmann commented on #4320
I think for a real saga it can't be valid to specify the id as the correlation property for messages starting a new saga?

[2016-11-28 08:57] andreasohlund commented on #4340
I'll deal with this.

PR with repro here

https://github.com/Particular/NServiceBus/pull/4343

[2016-11-28 08:59] timbussmann commented on #4331
👍 to await the finished task to throw exceptions.

[2016-11-28 09:01] andreasohlund commented on #4320
Agreed, can you raise an issue?

[2016-11-28 09:02] andreasohlund commented on #4320
PR merged, closing this

[2016-11-28 09:02] #4320 closed

[2016-11-28 09:14] timbussmann commented on #4324
since the queue name heavily depends on the environment (e.g. machine name), is there a way to check that upfront without causing msmq exceptions to bubble up and stop the endpoint?

[2016-11-28 09:15] timbussmann commented on #4338
is there any potential damage in handling the message on the current instance? I don't think there is a real need to address this so far.

[2016-11-28 09:34] SzymonPobiega commented on #4338
@timbussmann there is no damage but this is a different behavior than in V5 and different that the intention was when building the legacy distributor support for V6.

[2016-11-28 09:34] SzymonPobiega commented on #4338
It also does not play that well with the load balancing aspect of the distributor.

[2016-11-28 09:40] timbussmann opened #4344 "Prevent using Saga ID as correlation property"
It is possible to specify the saga id as a correlation property, e.g:

            protected override void ConfigureHowToFindSaga(SagaPropertyMapper<MultiTimeoutsSaga1Data> mapper)
            {
                mapper.ConfigureMapping<StartSaga1>(m => m.ContextId)
                    .ToSaga(s => s.Id);
            }

at first glance, this might work for existing sagas where a message contains the

[2016-11-28 09:41] andreasohlund commented on #4344
Edge case but you can use a custom finder for the message starting the saga and "SagaId" mappings for the other messages. I can't come up with a valid use case for this though!

[2016-11-28 13:34] SzymonPobiega commented on #4338
This has been fixed in #4329

[2016-11-28 14:27] timbussmann commented on #4338
sidenote: this behavior only sends back the message to the distributor if `SendLocal` is called from a message handler handling a message dispatched from a distributor.

[2016-11-28 19:33] dbelcham commented on #4158
Fixed in #4300

[2016-11-28 19:33] #4158 closed

[2016-11-28 21:38] DavidBoike commented on #4344
What if you had nested sagas, and because in that situation auto-correlation won't work, you send the Outer saga id as part of the message to the Inner saga, and then the response message from the Inner saga includes the OuterSagaId as a property?

Is that a valid use case?

If so perhaps the rule should be relaxed to allow a single correlation property as well as mappings to the sagaId, which jus

[2016-11-29 07:18] andreasohlund commented on #4344
That might be a use case but I'm a bit on the fence still:

* The autocorrelation issue is IMO a bug on our end
* When I've had similar situations in the past I've always felt it more natural to pass the correlation id in the request so that the endpoint responding can put that on the reponse message. Using the saga id seems like a uneeded hack since you already have a better id to us?

[2016-11-29 08:37] weralabaj opened #4349 "Improve our Databus implementations"
Problems with current implementations:
- Performance:
    - GC inefficcient - allocates large byte arrays, rather than using stream API
- Fails in unexpected ways, depending on the used serializer implementation it might fail in different ways (serializer might take over the Databus responsibility without user realizing it which is even worse for performance):
    - doesn't work for deeply nested

[2016-11-29 08:37] weralabaj commented on #4349
@Particular/nservicebus-maintainers  any objections for doing spike/fix now? seems like it's a good, slow time ;)

[2016-11-29 12:19] #4338 closed

[2016-11-29 12:20] #4325 closed

[2016-11-29 13:02] andreasohlund commented on #4340
We've just release 6.0.2 with a patch for this https://github.com/Particular/NServiceBus/releases/tag/6.0.2

@valeriob would you be able to update and verify that it fixes the issues?

And huge thanks for taking the time to raise this! ❤️

[2016-11-29 13:02] #4340 closed

[2016-11-29 13:31] valeriob commented on #4340
It's working now :D
Thanks, that was fast !

[2016-11-29 16:45] Scooletz commented on #4158
I'm so 😄 seeing it closed 💃

[2016-11-29 16:51] Scooletz commented on #4349
`contents would be read explicitly only when they're actually required` - a new DelayedStream could be provided that would wrap an actual access to a stream for the read side, so you don't need to provide an explicit API.

[code]

[2016-11-29 17:09] timbussmann commented on #4323
I don't see a reason to backport either.

[2016-11-29 17:10] timbussmann commented on #4331
@danielmarbach do you want to drive this forward?

[2016-11-29 17:22] timbussmann opened #4353 "IConfigureEndpointTestExecution is not used in MSMQ acceptance tests"
Currently, the methods provided by `ConfigureEndpointMsmqTransport` (`Configure` and `Cleanup`) in the MSMQ(!) acceptance testing project are never executed. While the interface providing those methods is defined in the `AcceptanceTesting` framework, it's only used & called by the infrastructure in the shared `AcceptanceTests` project. Therefore we never apply the specified configuration (e.g. met

[2016-11-30 05:23] distantcam opened #4354 "Simple custom ForkConnector throws a NullReferenceException"
In V6, I was trying to create a simple ForkConnector, but even a very basic one throws a `NullReferenceException`.

[code]

Am I doing something wrong?

[2016-11-30 07:26] andreasohlund commented on #4349
Spikes is IMO always ok. Let's talk about potential actions based on the results of the spike?

[2016-11-30 07:31] timbussmann commented on #4349
there are quite a few issues around databus in this and the pdev repo. So far they haven't received much interest or priorities. The described issues also don't seem to be more critical than other issues around the databus and maybe we should split this issue into two?

[2016-11-30 07:35] weralabaj commented on #4349
Since I'm not on squad or core maintainer group, this is not something I can comment on. I'm simply raising an issue and noting we have some time before the wave starts, so this is a potential filler for the period before the first wave launches.

How? Why?

[2016-11-30 08:27] timbussmann commented on #4349
As andreas mentioned, nobody will stop you from doing some spikes if you care about these changes 👍

from your description I read at least two issues:
* databus is GC inefficient and should probably use streams
* it can show different behaviors or even failures depending on the selected serializers

these points don't really seem to be tightly coupled to each other?

[2016-11-30 08:45] danielHalan opened #4355 "DateTimeOffset timezone information incorrectly deserialized when using JsonSerializer resulting in corruption"
## Who's affected

* Everyone using `JsonSerializer` in combination with messages that contain `DateTimeOffset `properties.

## Symptoms

Noted that an object's DateTimeOffset property get converted to the running servers UTC timezone when sent. (Using "JsonSerializer", and ASB)

i.e. if Server is UTC+5, and DateTimeOffset is 12:00+1, it gets converted to 16:00, resulting in "2016-12-01T16:00:00+0

[2016-11-30 08:48] danielmarbach commented on #4349
Can we prioritize any work first where we talk about moving it out of the core?

[2016-11-30 08:58] danielmarbach commented on #4354
@distantcam unfortunately we do not support this right now. See

https://docs.particular.net/nservicebus/pipeline/steps-stages-connectors

![image](https://cloud.githubusercontent.com/assets/174258/20745825/53a4f166-b6e3-11e6-8c6c-7046322ecf68.png)

It is a bit quirky I agree because you can register the connector but you cannot register a custom pipeline. During runtime the pipeline cache tries t

[2016-11-30 09:50] distantcam commented on #4354
Ah! I was wondering what that line in the documentation meant.

So why can't we expose the https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.Core/Pipeline/ForkExtensions.cs instead?

[2016-11-30 09:50] timbussmann commented on #4349
👍 on @danielmarbach suggestion

[2016-11-30 12:05] danielmarbach commented on #4354
It would still not work since you can't register your own pipelines

[2016-11-30 13:33] danielmarbach commented on #4355
@danielHalan by NSB.JsonSerializer you mean our internal or our external serializer nuget package?

[2016-11-30 13:33] danielmarbach commented on #4355
@Particular/azure-maintainers can you chime in on this one to brainstorm whether this is ASB or Core related?

[2016-11-30 14:08] danielHalan commented on #4355
internal, NServiceBus.JsonSerializer, NServiceBus.Core

[2016-11-30 14:08] SzymonPobiega opened #4358 "Core routing model"
Here's my proposal for the logical model of the routing:

## Routing model

Like Orges and onions, routing has layers

## Layer 0 - core - "I want this to be routed"

The layer zero cares about adding 1 or more `RoutingStrategy` object to the context when passing a message to the logical send phase. It does not depends on the semantic meaning of `Send`, `Publish` or `Reply` which are higher-level

[2016-11-30 14:09] SzymonPobiega commented on #4358
@Particular/nservicebus-maintainers can we discuss it (in isolation from the current implementation concerns) and get aligned on the vision and the model? Implementation changes may (or may not :( ) follow

[2016-11-30 14:36] timbussmann commented on #4354
should we raise a new feature request to allow custom pipelines? @distantcam what did you want to do with a the custom pipeline?

[2016-11-30 14:53] timbussmann commented on #4355
I think this could be related: https://github.com/JamesNK/Newtonsoft.Json/issues/744

need to test this.

[2016-11-30 15:11] danielmarbach commented on #4319
Update, we found the root cause for this issue. https://github.com/Particular/NServiceBus.AzureServiceBus/issues/433

@tmasternak @Scooletz and I sent in a[ PR to address the issue](https://github.com/Particular/NServiceBus.AzureServiceBus/pull/434).

[2016-11-30 15:28] danielmarbach commented on #4355
We are investigating this @danielHalan We need to have a closer look especially for backwards compatibility on the wire.

Would it be possible for you in the meantime to switch to the external json serializer? There you can change the serializer settings

https://docs.particular.net/nservicebus/serialization/newtonsoft#usage-custom-settings

[2016-11-30 15:31] danielmarbach commented on #4354
@distantcam @dbelcham will address the issue for 6.1 by throwing an exception which expresses the fact that we don't support registering of custom pipelines. We will raise an issue to track that feature [as @timbussmann suggested](https://github.com/Particular/NServiceBus/issues/4354#issuecomment-263888513).

[2016-11-30 15:39] distantcam commented on #4354
I was looking into doing custom auditing without using a transport. Do I
need to use a pipeline for that?

On Wednesday, 30 November 2016, Daniel Marbach <notifications@github.com>
wrote:

[2016-11-30 15:51] danielmarbach commented on #4344
We will check whether we could implicitly implement the IContainsSagaData interface so that the Id is no longer visible in IntelliSense without casting.

[2016-11-30 15:55] danielmarbach commented on #4332
We optionally assigned to 6.1. If nobody picks this one up and we want to get 6.1 out of the door we will assign this to 6.2

[2016-11-30 16:19] andreasohlund commented on #4354
need to use a pipeline for that?

Is this for the "push audits straight to SI" idea you and me talked about in the past?

In that case perhaps just add a "audit writer behavior" in addition to the audit message going out via the transport?

Ie just add a behavior for [IAuditContext](https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.Core/Audit/IAuditContext.cs#L8)?

[2016-11-30 16:34] distantcam commented on #4354
@andreasohlund yes that's the idea.

So I think the doco is unclear on what exactly is a pipeline, stages, behaviors. It's unclear what I need to do to achieve what I want.

On top of that, why provide documentation on writing your own ForkConnector, StageConnector, etc, if they don't even work? Why not just remove those interfaces from the public api?

[2016-11-30 16:41] danielmarbach commented on #4344
It is not possible to do the trick outlined in the previous comment. The ContainsSagaData class cannot explicitly implement the interface since the properties need to be marked as virtual for NHibernate. I played around with the following:

[code]

this would remove the properties from IntelliSense for all those that inherit from ContainSagaData and don't expose the editor browsable stuff via resh

[2016-11-30 16:45] danielmarbach commented on #4354
@distantcam how about we look at your specific scenario a bit closer and see how we could improve the doco then? It is a bit difficult to understand what is missing for me at the moment.

We contemplated that. A few of the core maintainers at that time including me proposed that ForConnectors and StageConnectors are an internal thing and should never be exposed. @SimonCropp brought up good argumen

[2016-11-30 17:59] andreasohlund opened #4360 "MessageType not audited for native integration messages"
I've done some [native integration using ASQ](https://github.com/Particular/NServiceBus.AzureStorageQueues/pull/160) and noticed that when a native message is processed the audited message type will show up as `unknown` in SI.

This is because the `NServiceBus.EnclosedMessageTypes` header is missing on the incoming message. The workaround was to add a mutator that "propagates" the message type if

[2016-11-30 22:18] danielmarbach commented on #4331
This cannot be fixed before we fix #4332

It can be easily reproduced with `When_feature_startup_task_fails`:
1. Add the await statement as described above
1. Execute `When_feature_startup_task_fails`

outcome the stop endpoints will bomb with a `NullReferenceException`

[2016-11-30 22:25] danielmarbach opened #4361 "When_timeout_storage_is_unavailable_temporarily.Endpoint_should_not_shutdown takes at least 45 seconds to execute"
https://builds.particular.net/viewLog.html?currentGroup=test&scope=NServiceBus.AcceptanceTests.dll%23teamcity%23NServiceBus.AcceptanceTests.Timeouts%23teamcity%23When_timeout_storage_is_unavailable_temporarily&pager.currentPage=1&order=DURATION_DESC&recordsPerPage=20&filterText=&status=&buildTypeId=NServiceBusCore_Build&buildId=199762&tab=testsInfo

We should make the CB interval internally config

[2016-11-30 22:42] danielmarbach opened #4363 "Acceptance test framework Task.Delay are leaking"
We use `Task.Delay` to check whether the Start, Whens or the Stop is timing out. Each successful acceptance test is therefore leaking three Tasks which are leaking for multiple minutes as long as the AppDomain is not thrown way.

[2016-11-30 22:45] danielmarbach commented on #4363
This potentially also affects MSMQ Shutdown. But since the delay is only small it is not a big deal. I will send in a fix though to address it there as well.

[2016-12-01 01:13] bording commented on #4360
What serializer were you using when you ran into this problem? I know the XML serializer can infer the type without the header in some cases, but if you were using JSON, wouldn't you have a serialization error if the `NServiceBus.EnclosedMessageTypes` header doesn't have a value? Deserialization happens before the mutators run, so it seems like this would only be relevant for XML serialization.

D

[2016-12-01 02:16] danielHalan commented on #4355
Ok, will look into it, also we are using NServiceBus v5.2.19

[2016-12-01 04:57] SeanFeldman commented on #4355
@danielmarbach this is message serialization. Transport doesn't modify payloads.

[2016-12-01 05:28] distantcam commented on #4354
@danielmarbach That last bit makes sense. I guess then the message needs to be made clearer that ForkConenctors and StageConnectors are only for _replacing bits of the pipeline_, and not _extending_ it.

[2016-12-01 07:47] timbussmann commented on #4344
it won't address the issue, but I think it would be a good change to add the attributes mentioned by @danielmarbach 👍

[2016-12-01 09:46] SzymonPobiega opened #4365 "Proposal for evolution of routing"
Provides an idea for implementing a model outlined in https://github.com/Particular/NServiceBus/issues/4358

### Overall direction with regards to routing (manifest-style):
 * We value native configuration-less routing over unicast configuration-less routing
 * We value unicast configuration-less routing over centralized routing
 * We value centralized routing for events over MDPS

### Two easy st

[2016-12-01 09:47] SzymonPobiega commented on #4365
@Particular/nservicebus-maintainers please consider this idea for the 6.2 release. If you think it should be escalated to PlatDev, let me know. The code changes won't touch anything besides the core.

[2016-12-01 09:58] #4323 closed

[2016-12-01 09:58] andreasohlund commented on #4266
Fix for 6.1 is now in, will start with a backport to 6.0.3 now

[2016-12-01 10:43] timbussmann commented on #4354
I'm removing the 6.1 label here as it is present on the PR which has a more suitable title for release notes.

Do we need to update something on docs (or something else) to make the current behavior clearer before closing this issue?

[2016-12-01 10:58] andreasohlund commented on #4360
I use json.net and `$type` embedded in the payload

Given that both json and xml supports this I'd say it's worth it?

Since we do support the serializers to "figure out" the message type I'd say yes?

[2016-12-01 11:53] danielmarbach commented on #4355
@danielHalan @timbussmann already made some good progress. We are tracking it down to the IsoDateTimeConverter. The external json serializer also has the DateTime converter. You have to make sure that you specify the settings explicitly in order to avoid the code that adds it. We will work on a fix in the meantime.

[2016-12-01 13:02] timbussmann commented on #4355
https://github.com/Particular/NServiceBus/pull/4367 fixes this for v6.1.
I still need to verify the behavior of the NServiceBus.Newtonsoft.Json package.
As described by @danielHalan this also seems to be the behavior in v5, I need to see whether we can address it in the first place (e.g. maybe not possible due to to old json version) or what kind of workaround would be available.

[2016-12-01 13:29] danielmarbach commented on #4344
@Particular/nservicebus-maintainers thoughts on https://github.com/Particular/NServiceBus/issues/4344#issuecomment-264101496 ?

[2016-12-01 13:34] danielmarbach commented on #4353
We discussed this in the maintainer sync and came to the conclusion that the MSMQ Acceptance tests should be written like any downstream acceptance tests if possible in order to prepare us for the moving out of MSMQ.

[2016-12-01 15:26] timbussmann commented on #4355
@danielHalan as a workaround for both v5 and v6 right now, you would need to use the `NServiceBus.Newtonsoft.Json` package as it allows custom configuration of the serializer. In v5 the configuration would look like this:

            var serializer = configuration.UseSerialization<NewtonsoftSerializer>();
            serializer.Settings(new JsonSerializerSettings());

note that you need to set th

[2016-12-01 16:05] #4331 closed

[2016-12-01 16:05] #4363 closed

[2016-12-01 18:28] andreasohlund commented on #4355
Given that there is a workaround and that you would find this during development(?) I'd say no backport?

[2016-12-01 20:30] DavidBoike commented on #4344
Aside from the attribute, I think it comes down to two options:

1. Prevent mapping a saga id completely, throwing an exception if you try.
2. Allow mapping a saga id, don't throw during the check for a single correlation property (so single correlation property + sagaId), and make sure to use the correct method during lookup.

First option seems like painting ourselves in a corner which we might

[2016-12-02 06:46] andreasohlund commented on #4344
Most of the time mapping the ID is a misstake and you can workaround using a custom finder so I'm voting for the hard line (aka no.1)

[2016-12-02 07:34] andreasohlund commented on #4254
Given that #4289 is merged is there anything left todo here?

[2016-12-02 08:39] danielmarbach commented on #4344
Plus one for option 1

[2016-12-02 08:57] danielmarbach commented on #3531
Closed in favour of https://github.com/Particular/NServiceBus/issues/4361

[2016-12-02 08:57] #3531 closed

[2016-12-02 12:21] danielHalan commented on #4355
NServiceBus.Newtonsoft.Json 1.0 has dependency to NSB6, only v0.3.0 available for NSB5, is v0.3 production ready?

[2016-12-02 12:50] danielHalan commented on #4355
Checked using v0.3.0, but it didn't change the serialized DateTimeOffset, used following settings,

      var serializer = cfg.UseSerialization<NewtonsoftSerializer>();
      serializer.Settings(new JsonSerializerSettings() {
        DateFormatHandling = DateFormatHandling.IsoDateFormat,
        DateTimeZoneHandling = DateTimeZoneHandling.RoundtripKind
      });

also seems as the settings was not

[2016-12-02 12:53] andreasohlund commented on #4355
Even if it was we can't see usage of a non stable package as a viable workaround, so in that case need to backport? (cc @Particular/nservicebus-maintainers )

[2016-12-02 14:34] #4332 closed

[2016-12-02 15:13] andreasohlund commented on #4266
https://github.com/Particular/NServiceBus/releases/tag/5.2.20 and https://github.com/Particular/NServiceBus/releases/tag/6.0.3 has been released to fix this

[2016-12-02 15:13] #4266 closed

[2016-12-02 15:45] danielmarbach commented on #4254
The acceptance tests are around and merged. I'm closing this.

[2016-12-02 15:45] #4254 closed

[2016-12-02 20:09] SimonCropp commented on #4355
I don't think the 0.x version of the external nsb.json serializer should be considered production ready. The API in 0.x nugets should not be considered stable and we are unlikely to back port any fixes to it.

[2016-12-03 07:05] andreasohlund commented on #4355
Makes sense, so we need to backport the fix to the core 5.2.X given that this corrupts messages

[2016-12-05 07:13] andreasohlund commented on #4361
PR merged, closing

[2016-12-05 07:13] #4361 closed

[2016-12-05 07:50] danielmarbach commented on #4355
@Particular/nservicebus-maintainers I'm going to backport it

[2016-12-05 09:44] SzymonPobiega opened #4376 "Redesign CriticalError and make transport not aware of the actual type of implementation"
Instead of passing an instance of `CriticalError` to the transport, pass a callback that the transport can invoke whenever it feels bad things are happening. This will make the transports unaware of the critical error handling implementation in the core.

[2016-12-05 14:26] danielmarbach commented on #4355
Update the plan of attack. This probably needs more backporting. Waiting for https://github.com/Particular/NServiceBus.Serializers.CompatTests/pull/1 to reach to a conclusion

[2016-12-05 17:45] kevin-whalley-gc opened #4382 "Log4Net Format Error?"
Noticed this in my log file and having trouble distinguishing with the issue is from NServiceBus 6.x or bubbling up from my endpoint

[code]

Seems to come from https://github.com/Particular/NServiceBus/blob/d462080b0efa6609f0f92d4e192d760142ac47c2/src/NServiceBus.Core/Pipeline/Outgoing/SerializeMessageConnector.cs#L24

[2016-12-05 21:40] DavidBoike commented on #4344
So then the PoA is:

1. Add EditorBrowsable attributes on ContainSagaData
2. Throw if user attempts to map to the Id property, but allow from a custom finder.

Does point 2 constitute a breaking change?

[2016-12-05 22:32] danielmarbach commented on #4382
Difficult to say based on the output above. Do you have a custom `ToString` implementation on your message?

[2016-12-06 05:20] mikeminutillo commented on #4382
That would make sense looking at the log4net code. When there is an error rendering a log message you get:

[code]

The arg list is comma separated and surrounded by braces. In the example provided you can see the ares are `<TypeName>`, `f26b33c9-3adf-486c-8252-a6d3009d597d`, and the exception. The exception is being thrown from the call to `context.Message.Instance` which is just an `object`.

Th

[2016-12-06 08:21] andreasohlund commented on #4344
I'd say this is in the greyzone, not from a api perspective but definitely a change in behavior.

Is workaround with the custom finder is low friction enough to force the (very few I'd say) affected users to go down that path?

[2016-12-06 10:18] weralabaj commented on #4354
@timbussmann yes, could you remove that "There is currently no mechanism available to create custom pipelines and stages." note at the end and instead add a more precise info somewhere at the top of that article?

[2016-12-06 16:09] bording commented on #4355
@danielHalan This fix will be in the 6.1 release, and we have backported it to 6.0.4 and 5.2.21, which are available on NuGet now.

[2016-12-06 16:09] #4355 closed

[2016-12-06 21:23] indualagarsamy commented on #4272
@adamralph - OTE is a private repo. Can you expand on the what was actually said in the OTE issue comment in the issue description itself as NServiceBus is a public repo?

[2016-12-06 21:32] indualagarsamy commented on #4272
@Particular/nservicebus-maintainers - does this issue even belong in this repo? How is sending an email connected to this repo?

[2016-12-06 23:26] SimonCropp commented on #4382
@kevin-whalley-gc could you share you log4net config. or better yet upload a repro somewhere

[2016-12-07 07:21] danielmarbach commented on #4164
Also related https://github.com/Particular/NServiceBus/issues/2449

[2016-12-07 07:25] danielmarbach commented on #4292
I think having a require instead of a repeat would be more intention revealing. The benefit of hooking into ignore or any similar kind of infrastructure would be that you also see on the build server all the ignored tests. Tag as future?

[2016-12-07 07:26] danielmarbach commented on #3785
Currently tagged as future. We will revisit this when the dust around the new async API is settled

[2016-12-07 11:57] adamralph commented on #4272
@indualagarsamy I was asked to raise this here. In retrospect I agree that it doesn't make sense to have this as an issue in this repo. One way or another though, this needs to be done in coordination with the 6.1.0 release.

[2016-12-07 17:18] dbelcham commented on #4354
What about this at the top of the article: https://docs.particular.net/nservicebus/pipeline/steps-stages-connectors

[2016-12-08 07:20] timbussmann commented on #4344
you mean to apply the mentioned changes in a minor instead of a major version or anyway?

[2016-12-08 07:26] timbussmann commented on #4354
@dbelcham can you open a PR for that suggestion and then close this issue? 👍

[2016-12-08 07:48] andreasohlund commented on #4344
I was thinking if we can do this in a minor

[2016-12-08 07:53] timbussmann commented on #4344
I'm not sure there is enough value in addressing this in a minor? Let's schedule it for v7 and just go with the breaking change?

[2016-12-08 09:17] andreasohlund commented on #4344
Fair enough, I'll apply the label

[2016-12-08 12:41] andreasohlund commented on #4360
After talking to @timbussmann we concluded that this is a relevant enhancement but not urgent, assigning this to the future milestone

[2016-12-08 12:50] dbelcham commented on #4354
Doco PR created

[2016-12-08 12:50] #4354 closed

[2016-12-09 00:19] SimonCropp commented on #4354
i dont think doco is enough here. @distantcam was using a public API and got a null ref. that should never happen

[2016-12-09 00:26] SimonCropp commented on #4354
ignore that i see there is a custom exception

[2016-12-09 14:45] #4353 closed

[2016-12-10 19:02] danielHalan commented on #4355
Hi, can still reproduce the issue with NSB 5.2.21, I've created an test project available here, https://www.dropbox.com/s/fx7ek02ummekr83/NSB_JsonTest5.zip?dl=0

[2016-12-10 22:24] bording commented on #4355
@danielHalan Taking a quick look at your sample, I only see code that sends the message. It appears that the endpoint that receives the message wasn't included. Has the receiving endpoint been upgraded to 5.2.21 as well? If not, you won't see the behavior fix, because the problem isn't on the sending/serializing side, it's on the receiving/deserializing side.

[2016-12-11 08:44] udidahan opened #6494 "Users cannot easily refactor running sagas"
When developers apply refactoring techniques, as for example moving a saga class from a namespace to a different one, they're introducing a breaking change that is hard to deploy in production if they have running saga instances.

### Sample scenario

[Incoming stack overflow communication](http://stackoverflow.com/questions/41054048/nservicebus-alter-saga-messages-namespace):

### More info

 * [

[2016-12-12 01:22] mikeminutillo commented on #4382
@kevin-whalley-gc did you manage to get this resolved?

[2016-12-12 13:31] andreasohlund opened #4387 "Acpt test: When_pump_throws_on_stop is flaky"
It fails now and then on the build server (see details below)

https://builds.particular.net/viewLog.html?buildId=201639&tab=buildResultsDiv&buildTypeId=NServiceBusCore_Build

<details>
  Expected: String containing "Receiver Main listening to queue PumpThrowsOnStop.EndpointThatThrowsOnPumpStop threw an exception on stopping. System.InvalidOperationException: ExceptionInPumpStop"
  But was:  "Rece

[2016-12-12 16:11] kevin-whalley-gc commented on #4382
Thanks everyone, I sat down fresh this morning and found the issue in a custom ToString as @danielmarbach caught

[2016-12-12 16:11] #4382 closed

[2016-12-13 09:28] timbussmann commented on #4272
6.1 is now released. From the comments in the linked issue it's not immediately clear to me what steps are required to to, so can somebody from the original tf please chime in and do this together with us? As @DavidBoike seems to have gone through the required steps already, I'll assign him (+me) to this task now.

[2016-12-13 14:33] dbelcham opened #4389 "Determine how to manage dependencies within Core"
## Ideas
- what should features do and not do
  - should only be used for things that can be enabled and disabled without breaking Core execution
  - should not depend on each other. If they do it is an indicator that the feature should expose its own extensibility API
  - many Core capabilities currently are features but probably shouldn't be because they cannot be turned off without making Core

[2016-12-13 14:34] dbelcham commented on #4205
to be addressed in #4389

[2016-12-13 14:34] #4205 closed

[2016-12-13 14:34] dbelcham commented on #4203
to be addressed in #4389

[2016-12-13 14:34] #4203 closed

[2016-12-13 14:34] dbelcham commented on #4209
to be addressed in #4389

[2016-12-13 14:34] #4209 closed

[2016-12-13 14:49] dbelcham commented on #4074
@Particular/nservicebus-maintainers does anyone have an opinion on this?

[2016-12-13 14:54] dbelcham commented on #4236
@ramonsmits @bording @timbussmann @andreasohlund Was a final decision ever made on this?

[2016-12-13 15:31] timbussmann commented on #4236
I'm having difficulties to see exactly who would be responsible or capable of defining those ID generation strategies in the first place. There may be different interests from persistence, transport, outbox and potentially other features. I'd prefer an approach which enables to provide custom ids additionally to the message instead of replacing the message id generation strategy. I vote to close t

[2016-12-13 15:33] timbussmann commented on #4074
I'd say let's raise an issue to detect "resends" of incoming messages and throw an exception as there may be many unwanted side effects e.g. headers.

[2016-12-13 17:04] DavidBoike commented on #4272
Image updated in Pardot. Also added info to https://github.com/Particular/OptimizeTrialExtensions/issues/10#issuecomment-255846666 to describe where it's hosted and how to change it again in the future.

[2016-12-13 17:04] #4272 closed

[2016-12-13 19:48] SeanFeldman opened #4391 "InMemoryTimeoutPersister tests"
Is this test correct?
It's setting now to [`DateTime.UtcNow`](https://github.com/Particular/NServiceBus/blob/a8ce619c90b506aa757b122c8ef24f022d1db90c/src/NServiceBus.Core.Tests/Timeout/InMemoryTimeoutPersisterTests.cs#L25) time, but the actual timeouts to [`DateTime.Now`](https://github.com/Particular/NServiceBus/blob/a8ce619c90b506aa757b122c8ef24f022d1db90c/src/NServiceBus.Core.Tests/Timeout/InMe

[2016-12-13 19:51] SeanFeldman commented on #4391
@Particular/nservicebus-maintainers please confirm if this is right? This test was failing for me when executed locally (MST, UTC-7)

[2016-12-13 20:25] bording commented on #4391
@SeanFeldman Can you link to one of the tests in question?

[2016-12-13 21:17] bording commented on #4285
It took a while, but I finally got through the Microsoft support process, and the conclusion is that MSMQ is not currently supported inside a windows container. They've suggested posting to UserVoice requesting that it be considered.

Microsoft sent me this link, where  it looks like someone using NSB already has requested it: https://windowsserver.uservoice.com/forums/304624-containers/suggestion

[2016-12-13 21:42] SeanFeldman commented on #4285
Thinking out loud - MSFT strategy is to run on cloud ready server OS. Having container support for MSMQ doesn't seem to align with that strategy.

[2016-12-14 00:02] SeanFeldman commented on #4391
@bording the links in the general description are pointing to that test (`When_multiple_NextTimeToRunQuery_is_min_date`)

[2016-12-14 00:10] bording commented on #4391
Ah yes, for some reason I didn't see those, sorry!

[2016-12-14 00:12] bording commented on #4391
Looking at that, I'd say it's a mistake.

[2016-12-14 08:28] danielmarbach commented on #4074
Although I'm not a big fan of runtime exceptions I think this is a good middle ground approach proposed by @timbussmann

[2016-12-14 08:31] andreasohlund commented on #4074
I like this as a first step

[2016-12-14 08:31] danielmarbach commented on #4391
Definitely a mistake. Would you have time to send in a PR @SeanFeldman ?

[2016-12-14 08:41] danielmarbach commented on #4389
Not sure the Settings approach is so bad. I definitely think we should try to avoid it. But as a fallback I think it is a viable solution. As long as we make sure we follow the other practices outlined here we probably mostly don't need the settings.

[2016-12-14 11:05] danielHalan commented on #4355
Can confirm it worked with both ends updated.

First checked only if the message had correct TimeZone for the DateTime (T16:00:00+XX:00) when serialized and sent to the bus, but see that there is a solution changing the time of the message.

[2016-12-14 12:34] timbussmann commented on #4285
@bording thanks for fighting through the MS support process 👍 I think this should answer the questions raised in this issue. @boblangley are you able to feed back Brandon's results into the pdev issue and close this one?

[2016-12-14 12:45] timbussmann commented on #4074
(adjusted title slightly to match better with the raised questions and discussion)

[2016-12-14 12:54] timbussmann commented on #4389
managing dependencies from other issues or components via settings is currently quite risky as you need to ensure order of execution somehow. The only way to do that reliably is using `DependsOn`. Exposing APIs via settings also makes it very difficult to obsolete them.

[2016-12-14 13:09] timbussmann commented on #4223
ok as it seems that native delayed delivery mechanism is intended to be implemented on a maintainer budget I think we need to conclude:
* Do we wanna support native delayed delivery for MSMQ if possible?
* If yes: Do some spikes to find a valid approach
* If valid approach found: schedule implementation via milestone

Are there any reasons to not support a native mechanism in general? Can we go ah

[2016-12-14 13:15] SzymonPobiega commented on #4223
@timbussmann Here's a working version of delayed delivery (which is a simplification that assumes delay value is constant): https://github.com/SzymonPobiega/NServiceBus.Raw/tree/master/src/NServiceBus.Raw.DelayedRetries. It can be extended to have multiple queues, one per delay value as @bording proposed.

[2016-12-14 13:18] danielmarbach commented on #4223
Given that the majority of our users is using MSMQ but happy with the current approach and MSMQ itself is a technology which has outlived its peak as a transport technology I'm on the fence about investing time into this.

[2016-12-14 13:22] SzymonPobiega commented on #4223
Well, if we find somebody who is desperate for using MSMQ without _any_ DB, he can use my bolt-on delayed retries combined with MSMQ subscription store.

[2016-12-14 13:58] andreasohlund commented on #4223
With all the other transports moving to native defers perhaps we can just move the current TM + persister combo to be MSMQ only at some point in the future?

`.UseTransport<Msmq>().WithTimeoutPersister<NHibernate>()`

[2016-12-14 14:50] timbussmann opened #4392 "Write transport test to test isolated dispatches"
Based on #4270 we would like to have a new transport test similar to `When_failure_happens_after_send` but testing that when using Isolated dispatch mode, the message is immediately dispatched and will be received even when the handling fails after the "immediate" dispatch.

Note: Smoke test this change on downstreams (e.g. ASB, Rabbit, ...) before merging it.

[2016-12-14 14:52] timbussmann commented on #4270
Discussed this with @Particular/nservicebus-maintainers we concluded that it's up to the transport how to handle multiple transport operations with isolated consistency within the same dispatch operation. Note that ImmediateDispatch will always contain a single operation anyway. But we want to add a transport test to ensure that isolated dispatches are not included in transactions (see #4392)

[2016-12-14 14:52] #4270 closed

[2016-12-14 14:58] timbussmann commented on #4223
Discussed this with @Particular/nservicebus-maintainers and we agree with @danielmarbach comment that  at the current point there is not much value in pursuing a native delay mechanism for MSMQ at the moment.

[2016-12-14 20:38] bording commented on #4355
@danielHalan Glad to hear it's working for you!

[2016-12-14 23:25] bording opened #4393 "Problem with InMemory saga persister and mulitple handler invocation"
The `When_using_a_received_message_for_timeout.Timeout_should_be_received_after_expiration` test seems to be demonstrating this problem, though when run on MSMQ, the test is falsely passing.

Take a look at https://github.com/Particular/NServiceBus.RabbitMQ/pull/316#issuecomment-267187699 to see the results of my investigation so far.

I haven't tried it yet, but I assume the same problem could sh

[2016-12-14 23:28] bording commented on #4074
Seems like #4393 might have some relation to this, since the failing test requests a timeout with the incoming message.

[2016-12-15 07:37] andreasohlund commented on #4074
I don't think that's the issue. Reusing the incoming message for timeouts has always been supported (both me and Udi has demoed that in public, although I'm actually thinking that we should reevaluate that "feature").

@bording given that the incoming message is reused could this be some issues with rabbitmq and headers? (I have a faint memory that you add some rabbit specific header to keep track

[2016-12-15 07:40] andreasohlund commented on #4074
Found the issue. Since rabbit only runs with `ReceiveOnly` something in the inmemory persister blows up since it doesn't enlist in the tx.

I can repro this on MSMQ by adding:

`                config.UseTransport(rd.GetTransportType()).Transactions(TransportTransactionMode.ReceiveOnly);`

Will raise a PR with the repro

[2016-12-15 07:44] andreasohlund commented on #4393
I can now repro the issue, see
https://github.com/Particular/NServiceBus/pull/4394
https://github.com/Particular/NServiceBus/issues/4074#issuecomment-267259813

[2016-12-15 08:02] timbussmann commented on #4074
how much trouble/pita would it cause in case we remove that feature?

alternative idea: when sending out an incoming message, we detect this and create a clone of the message body, not of the headers though.

[2016-12-15 08:39] andreasohlund commented on #4074
👍 that was the thing I tried to propose in the second half of the description in this issue

[2016-12-15 08:41] danielmarbach commented on #4074
Another allocation just to prevent users from a case which should happen rarely? Can we really do it in a way that we only allocate when necessary?

[2016-12-15 09:37] timbussmann commented on #4074
I think we can do that in the early outgoing pipeline in case we detect the incoming and the outgoing message to be the same message?

[2016-12-15 10:08] timbussmann commented on #4387
I'll have a look into this

[2016-12-15 10:21] ramonsmits commented on #3612
Another victim https://eu1.salesforce.com/console#%2F500D000001Ke6od

[2016-12-15 10:28] andreasohlund opened #4397 "Reuse of incoming message as saga timeout message causes duplicate handler invocations"
## Who's affected

NServiceBus Version 6 users with sagas reusing one or more of the incoming messages as timeout messages.

## Symptoms

When the saga is processed both the message handler and the timeout handler is invoked for the incoming message.  Any logic in the timeout handler would be invoked immediately and not when the timeout is due.

Example of a problematic saga:
[code]

#### Using Ra

[2016-12-15 10:30] andreasohlund commented on #4393
Replaced by https://github.com/Particular/NServiceBus/issues/4397

[2016-12-15 10:30] #4393 closed

[2016-12-15 10:40] timbussmann commented on #4322
sounds like a reasonable small change to improve the situation 👍

ping @SimonCropp (see @danielmarbach comment)

[2016-12-15 10:45] SimonCropp commented on #4322
well the only reason i need this is because i want to get the current saga https://github.com/NServiceBusSqlPersistence/NServiceBus.SqlPersistence/blob/master/SqlPersistence/Saga/ContextBagExtentions.cs  so to test that i need to inject an instance of ActiveSagaInstance into the context

[2016-12-15 10:45] timbussmann commented on #4365
I'm not really sure how to move this forward. According to our call today, @SzymonPobiega mentioned this to be mainly a mental model. I think we came to the conclusion that for 6.2 we're not setting priorities towards changing routing code in a significant way. Is this something we can feed into docs for better understanding and documentation of our current (already existent) routing "layers", do

[2016-12-15 10:53] timbussmann commented on #3612
@ramonsmits I think it makes more sense to post these in the related pdev issue to help the issue get priority. It won't help anything in here?

[2016-12-15 13:50] #4387 closed

[2016-12-15 23:15] boblangley commented on #4285
Updated POA for the pdev issue based on these findings. Closing this issue. Thanks all!

[2016-12-15 23:15] #4285 closed

[2016-12-16 05:34] SeanFeldman commented on #4391
Will do

[2016-12-16 17:09] DavidBoike opened #4402 "No AcceptanceTest time limits when debugger attached"
When trying to debug an acceptance test, it's difficult to take your time, otherwise the test framework will throw that the Given/Whens took longer than 60 seconds.

It would be really nice to have this (and any similar real-time) check skipped if there's a debugger attached.

[2016-12-16 20:46] andreasohlund commented on #4397
6.0.5 and 6.1.1 released to address this issue

[2016-12-16 20:46] #4397 closed

[2016-12-16 21:23] #4391 closed

[2016-12-19 09:04] Scooletz commented on #4402
😍 This moment when you see a simple and elegant solution to the pain you've been experiencing a lot.

[2016-12-19 16:01] timbussmann opened #4407 "InMemoryPersistence TransactionScope enlistments cannot rollback"
InMemoryPersistence can enlist it's transactions on a `TransactionScope` with v6 but executes all it's actions in the transactions `Prepare` phase without any mechanism to compensate or rollback. This can cause data corruption in the following cases:
* Any other transaction participant throws in it's prepare phase (not sure whether it plays a role whether inmem ran before or after the failing part

[2016-12-19 17:08] timbussmann commented on #4322
will be included on the next minor.

[2016-12-19 17:08] #4322 closed

[2016-12-20 14:17] timbussmann commented on #4277
would that mean that we remove transactions completely from the core (into transport) or just the configuration?
In the first case, that would have quite an impact on transport tests and probably on acceptance tests too?

[2016-12-20 14:29] timbussmann commented on #3973
closing this as the discussion seems to have stalled and nobody is interested in driving this forward actively.

[2016-12-20 14:29] #3973 closed

[2016-12-20 15:24] andreasohlund commented on #4277
Good question, at least the config I'd say.

Do we have any features in the core that actually needs the txmode we're currently running in?

* WrapHandlersInScope
* Satellites?
* Recoverability?

[2016-12-21 09:28] ramonsmits commented on #3897
Since yesterdays critical case I'm completely confident that PurgeOnStartup should not be in core or transport package. I still see it as a transport concern but that should be done via powershell scripting or something else but not be part of the main packages and only in the perspective of operations/maintenance.

I propose to close this issue and create a new issue to drop PurgeOnStartup in the

[2016-12-21 09:33] ramonsmits opened #4410 "PurgeOnStartup does not write any log event that it is performing a purge operation"
When calling `.PurgeOnStartup(true)` no log entry is written that a purge operation will be performed. This is tested with V5 and MSMQ.

I propose to write a log entry with log level WARN to indicate this potentially destructive operation at the following location:

- https://github.com/Particular/NServiceBus/blob/master/src/NServiceBus.Core/StartableEndpoint.cs#L102

[2016-12-21 10:21] ramonsmits opened #4411 "NServiceBus should write a DEBUG log entry when receiving a message"
When setting the log level to DEBUG there is not a single log entry when a message is processed in both V5 and V6 when using MSMQ.

I expect that when log level is set to DEBUG that we log an entry similar to the following:

There are alternatives:

- Looking at the performance counters but that requires that these have been enabled
- Have auditing enabled but that requires ServiceControl to be st

[2016-12-22 13:22] danielmarbach commented on #4411
Not opposed to this idea as long as we can safely say it doesn't unnecessarily influence the performance in a bad way. Should we check that first?

[2016-12-22 13:24] danielmarbach commented on #4410
Assigned to @dbelcham since it is a good improvement

[2016-12-22 13:29] danielmarbach commented on #4407
@andreasohlund and I had a quick discussion today about how the core pipeline currently interacts with the adapted session that is passed into the persistence seam. Depending on the outcome of https://github.com/Particular/PlatformDevelopment/issues/1068 we might need to revisit how persisters interact with the adapted session. Backlogged for now.

[2016-12-22 13:30] danielmarbach commented on #4402
we think this provides good value for the little effort. Assigned to @dbelcham

[2016-12-22 13:32] danielmarbach commented on #4365
@SzymonPobiega what do you think about [@timbussmann comment](https://github.com/Particular/NServiceBus/issues/4365#issuecomment-267297339)?

[2016-12-22 13:37] danielmarbach commented on #4324
MSMQ is supported since the dawn of time. How many customers have actually run into this problem? I think we should not invest too much into MSMQ at the moment unless it provides huge value to our customers. Backlog or close?

[2016-12-22 13:46] danielmarbach commented on #4277
Another option would be to leave it in the core and do something like this

        public TransactionTransportExtensions<TMode> Transactions(TMode transportTransactionMode)
            where TMode : TransportTransactionMode
        {
            return new TransactionTransportExtension<TMode>(transportTransactionMode);
        }

with that transports could at least write settings extensions for a

[2016-12-22 13:51] danielmarbach commented on #4236
Having a hard time to actually follow what is proposed here. We all agreed that it is possible to set the message id on the send options. Is the problem that this is the only way to set the message id and it might make it a bit cumbersome? If the answer is yes then what would hinder a user or a plugin to hook into the outgoing logical part of the pipeline and have a strategy based on the message t

[2016-12-22 14:32] andreasohlund commented on #4324
I'd say backlog for now with the intent to close as won't fix?

[2016-12-22 19:27] danielmarbach commented on #4410
Addressed in https://github.com/Particular/NServiceBus/pull/4412. Closing

[2016-12-22 19:27] #4410 closed

[2016-12-28 11:40] ramonsmits commented on #4236
@danielmarbach AFAIK that isn't possible anymore in V6 as the ID is set immediately and cannot be changes later in the pipeline.

[2016-12-28 11:44] ramonsmits commented on #4411
@danielmarbach The log line can be JIT optimized like:

    static bool readonly IsDebugEnabled = Log.IsDebugEnabled:

    if(IsDebugEnabled) Log.DebugFormat("DEBUG Processing message with transport ID {0} and message ID {1}", transportId, headerId);

That should result in no performance impact if any log level is configured higher than DEBUG.

[2016-12-28 13:22] ottarhenanger opened #4413 "Cannot access a disposed object. Object name: 'CommonObjectBuilder'."
Exception raised when calling IEndpointInstance.Send() from ASP.Net MVC controller class.

IEndpointInstance is injected into contructor of ASP.Net MVC controller class.

[code]
[code]

[2016-12-28 14:29] WilliamBZA commented on #4413
Thanks @ottarhenanger

Which container are you using to reproduce this?

[2016-12-28 15:07] ottarhenanger commented on #4413
Is the problem that my IEndpointInstance has been disposed? Based on the error message I don't understand if it is my IEndpointInstance that has been disposed, or some internal resource in NServiceBus.

[2016-12-28 15:49] WilliamBZA commented on #4413
In your container configuration, are you passing your Autofac container into the NServiceBus configuration?

`IEndpointInstance` does not implement `IDisposable` in version 6, so it won't be that your `IEndpointInstance` instance has been disposed.

Is there a chance that you are using an instance of your container (a child lifetimescope perhaps?) that is being disposed?

[2016-12-29 02:17] mikeminutillo opened #4414 "`MessageDrivenSubscriptions` feature is enabled for `SendOnly` endpoints"
If I create a Send Only endpoint, the Message Driven Subscriptions feature gets activated even though it won't work without a receive pipeline. If there is no persistence specified, the feature will fail at startup. This requires that you manually disable the feature for a SendOnly endpoint.

[code]

[2016-12-29 09:22] ramonsmits commented on #4413
@ottarhenanger Is this a sendonly endpoint? Could you check the log files of the endpoint and check if any critical errors occurred?

When hosting an instance it is important to add a critical error callback:

- https://docs.particular.net/nservicebus/hosting/critical-errors#custom-handling

If this is not done and critical errors are occurring it stops itself and one of the things is that it disp

[2016-12-29 12:08] andreasohlund commented on #4414
This was done on purpose since we expose session.Publish and you can have other processes keep the subscription db updated? (So you don't actually have to have a receive pipeline)

[2016-12-29 12:48] dbelcham commented on #4392
Resolved by #4400

[2016-12-29 12:48] #4392 closed

[2016-12-30 06:18] SzymonPobiega commented on #4365
My initial intention was not to change the docs. Docs readers are usually not interested in models but APIs we expose. I expected some constructive discussion and challenging of both the assumptions I made and the proposed model.

[2016-12-31 00:26] CraigN opened #4415 "Possible dispose issue for ExpiredTimeoutsPoller"
I've been attempting to get our application to shutdown cleanly and dispose of all objects properly. In testing I've found a rather annoying issue where calling IEndpointInstance.Stop() appears to call ExpiredTimeoutsPoller.Dispose() however it never seems to call ExpiredTimeoutsPoller.Stop()and can result in a nasty exception as follows:

I think ExpiredTimeoutsPoller.Stop() should be called and

[2017-01-03 09:33] SzymonPobiega commented on #4415
@CraigN can you provide more logs? It seems like the root cause is somewhere else because in a "happy" path the `ExpiredTimeoutsPoller` is stopped by `TimeoutPollerRunner` which is a feature startup task that is stopped before the container is disposed (which disposes the poller).

[2017-01-03 15:54] dbelcham commented on #4414
Looking into the situation here I noticed that there's a distinct lack of documentation about SendOnly as a feature and the proper configuration of it (in this case with regards to persistence requirements). Is part of the underlying issue here that lack of documentation?

[2017-01-04 07:19] mikeminutillo commented on #4414
In that case wouldn't it make more sense to have customers explicitly enable `StorageBasedSubscriptions` or something? It feels off.

[2017-01-04 07:22] mikeminutillo commented on #4414
Probably. I think SendOnly endpoints was something added later to the framework.

A whole chunk of the framework treats it as a boolean (yes/no) that lots of features depend on. We also have `Receive` as a feature that those features could rely upon. We have a fair amount of infrastructure to ensure that features are enabled in the right order but in reality the structure at runtime for most endpo

[2017-01-04 10:14] ramonsmits commented on #4413
@ottarhenanger Did you resolve your issue?

[2017-01-04 14:00] andreasohlund commented on #4414
Yea, something is off here. So you are proposing that for storage driven transports like MSMQ, SQL, ASQ storage for send only mode would be optional?

So if a user would call `.Publish` we would throw an exception telling them that a storage for subscriptions is needed?

[2017-01-04 22:46] ottarhenanger commented on #4413
I was unable to find any information in my logs that could indicate why the default critical error handler was called and the endpoint stopped. 

However, I've added my own custom critical error handler with more logging so hopefully next time I will get enough details in Azure App Insight. I'm also running this on Azure Service Fabric cluster, so I need to implement my own process recycle to hand

[2017-01-05 03:43] mikeminutillo commented on #4414
Yes.

I think if a customer creates a SendOnly endpoint and is intending to manually manage their subscription storage, it makes sense for them to explicitly enable that storage.

If a customer creates a SendOnly endpoint is not intending to publish, it does not make sense that they need to explicitly turn off the storage.

If a customer creates a SendOnly endpoint and attempts a publish where the

[2017-01-05 10:07] ramonsmits commented on #4413
@ottarhenanger Thanks for the update. As I mentioned, please make sure that you flush your logs and make sure you actually terminate the process. If this is not done you might miss the actual error in the log file.

The following ensured this using a nested finally:

- https://github.com/Particular/EndToEnd/blob/master/src/PerformanceTests/Common/Scenarios/BaseRunner.cs#L280-L298

I'll close this

[2017-01-05 10:07] #4413 closed

[2017-01-05 14:06] andreasohlund opened #4419 "Immediate retries counter not incremented for exceptions during commit/dispose"
### Who's affected

All Version 6 MSMQ users running in transaction mode `ReceiveOnly` or higher that has recoverability policy that includes immediate retries.

### Symptoms

The `ImmediateProcessingFailures` counter on the error context is never incremented above 1 causing the endpoint to go into a infinite loop trying to reprocess the message. This only happens for exceptions thrown after the p

[2017-01-09 21:43] dasjestyr opened #4420 "No publisher address could be found for message type"
"No publisher address could be found for message type DAS.Infrastructure.Messaging.Event.Notifications.NotificationSentEvent. Ensure the configured publisher endpoint has at least one known instance."

This error is thrown on startup. In this case, the publisher is a SendOnly endpoint. If I add it to the UnicastBusConfig, then it fails because it can't find the queue. The SendOnly endpoint doesn't

[2017-01-09 22:13] danielmarbach commented on #4420
Hi

A send-only endpoint doesn't have a local queue. Since you have a SqlServer
transport you are using message driven pubsub. In message driven pubsub if
an endpoint has a handler for an event it sends a subscription message to
the publisher endpoint. Since your endpoint doesn't have a local queue
there is no way NServiceBus can send out a subscription message to the
publisher (store-and-forward)

[2017-01-09 22:32] dasjestyr commented on #4420
So I should just configure this endpoint as a regular endpoint then?

[2017-01-09 22:46] danielmarbach commented on #4420
Yeah that's what I'd do. If you don't have requirements which require
send-only I think it makes sense to switch to a regular endpoint

Jeremy Stafford <notifications@github.com> schrieb am Mo. 9. Jan. 2017 um
22:32:

[2017-01-09 23:01] dasjestyr commented on #4420
Swell. So no it's throwing that "Could not enumerate all types for..." exception. I guess this isn't related to this issue, but it has been suggested in the past that I exclude scanned types to get around this, but that is unacceptable since I'd have to exclude about 100 assemblies in this solution (legacy application) and AssembliesToScan() is being taken out. Is there another way to fix this?

[2017-01-09 23:55] MarcinHoppe commented on #4420
@dasjestyr @danielmarbach One other option to consider is to have a separate endpoint (a regular one) to manage subscription requests and have the send only endpoints use the same NHibernate-based persistent subscription storage as this regular endpoint.

Please take a look at this documentation section here that describes such a setup:

https://docs.particular.net/nservicebus/hosting/publishing-f

[2017-01-10 09:10] danielmarbach commented on #4420
@dasjestyr sorry to hear that is now throwing the "could not enumerate all types" exception. In Version 6 of NServiceBus we moved from the inclusion model to the exclusion model. The exception you got should show you the assemblies that cannot be scanned and you can exclude them from scanning like described on the following documentation page.

https://docs.particular.net/nservicebus/hosting/assem

[2017-01-10 11:48] danielmarbach commented on #4420
Can you also make sure that you have the publisher correctly registered either in the message endpoint mapping or by using the code first API as described here https://docs.particular.net/nservicebus/messaging/routing#event-routing-message-driven

[2017-01-10 12:03] danielmarbach commented on #4415
@CraigN It seems that the task owned by the `ExpiredTimeoutsPoller` is getting disposed before the task is completed. Could it be that you dispose the container before you stop the endpoint? Like @SzymonPobiega mentioned it would be helpful if you can provide some logs. If you don't want to add it to this issue feel free to send me an email to daniel dot marbach at particular dot net

[2017-01-10 12:08] danielmarbach commented on #4414
If we change this we are actually changing the behavior of a send-only endpoint in a breaking way. Assigned it to the future milestone and added the breaking change label

[2017-01-10 12:27] danielmarbach commented on #4389
As a first step we decided to implement https://github.com/Particular/NServiceBus/pull/4305 as an internal redesign which moves as one step closer to the DI-less vision. Closing this

[2017-01-10 12:27] #4389 closed

[2017-01-10 15:16] timbussmann commented on #4324
why not close it right away then?

[2017-01-10 15:18] timbussmann commented on #4407
@danielmarbach since #1068 has been closed, can you give an update regarding what we need to revisit?

[2017-01-10 16:49] dasjestyr commented on #4420
I had intended to pull the culprit assemblies out of the exception messages, but they're only displaying one at a time, so I have to keep restarting, failing, and grabbing the exception for every assembly that poses a problem. Luckily, it wasn't every assembly causing a problem, but I'd consider logging that as an issue/annoyance.

In the meanwhile, I got it running and receiving messages. Now I'm

[2017-01-10 18:45] andreasohlund commented on #4420
The `NServiceBus.EnclosedMessageTypes` header is the one that contains the message type of the incoming message. Looking at the exception it seems to be:

[code]

Can you confirm that the `AddonConfigurationSetEvent` message is include in your convention and that the assembly is correct? (you might need assembly redirects if the asm version differs)

That seems correct, looking at the headers the

[2017-01-11 04:06] dasjestyr commented on #4420
Yeah it's sqlserver transport. I checked everything and I don't see anything that would indicate 1. or 2.. I didn't move any messages to any queues. Very bizarre. I just licensed yesterday, so I haven't gotten set up with servicepulse yet. I'm not even sure where to grab it, but it was on the todo list.

[2017-01-11 07:56] andreasohlund commented on #4420
Is the problem consistent?

Does your endpoint process other messages as expected?

[2017-01-11 12:05] scrooby opened #4421 "Register IEndpointInstance with Autofac container following Autofac 4.2.1 release"
I'm looking for some guidance on the recommended way to register an IEndpointInstance with an Autofac container following the release of Autofac 4.2.1 where `ContainerBuilder.Update` has been marked as obsolete.

The reason I need to register `IEndpointInstance` is because I have a C# console application, using TopShelf, which needs to handle incoming messages, as well as sending messages outside

[2017-01-11 12:42] danielmarbach commented on #4421
Ping @particular/container-maintainers

[2017-01-12 02:18] dasjestyr commented on #4420
Consistent no. I see this one happen during development and the only way to correct it is usually to clear all of the queues and retry the request

[2017-01-12 07:46] andreasohlund commented on #4420
@Particular/sqlserver-transport-maintainers any ideas?

[2017-01-12 07:55] MarcinHoppe commented on #4420
I'm not sure this is transport specific. Does the issue go away when switching to a different transport, e.g. MSMQ?

[2017-01-12 07:57] SzymonPobiega commented on #4420
@dasjestyr can you post your endpoint setup code?

[2017-01-12 10:55] andreasohlund opened #4422 "Do not force persistence to be configured if not required"
For users on transport that have native pubsub and timeouts there is no persistence needed if no sagas are used. Still we prevent this by throwing [here](https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.Core/Persistence/PersistenceStartup.cs#L22).

I think we should let each feature that needs persistence to check when they initialize instead. This also aligns with a future p

[2017-01-12 12:27] WilliamBZA commented on #4421
Thanks @scrooby

We're aware of the obsoleted method and will be changing the NServiceBus container adapter so that it will no longer be an issue. For now though - and I fully realise it's painful - you can safely ignore the obsolete warning and carry on as usual.

Unfortunately we currently require the ability to update a container after it has been built. We know we can do better here and are mo

[2017-01-12 13:00] scrooby commented on #4421
Thanks for the info @WilliamBZA, it's good to know something's in the pipeline to accommodate the change.

For now we might just stick with the lamda work around, since it appears to be working (unless you saw any issues with that approach...), then update once your changes have been released.

Thanks!

[2017-01-12 13:44] SzymonPobiega commented on #4223
I'd like to question the outcome of this discussion in the light of the spikes I did recently. It turns out WCF has always had a way to specify a custom dead letter queue, per contract. It turned out (via dotPeek) that this is done on a per-message level in MSMQ, via property number 67/68:

[code]

We the message sent in the way above will come back to the dead letter queue in 1000 days (I verifie

[2017-01-12 13:44] SzymonPobiega commented on #4223
Ping @Particular/nservicebus-maintainers

[2017-01-12 14:03] timbussmann commented on #4223
very interesting. Let's reopen it and investigate a little bit more about this issue as the effort to use this API doesn't seem to be too large.

[2017-01-12 14:05] andreasohlund commented on #4223
Like it, just noting that to make msmq "storage" free we would need to make it use the msmq subscription storage by default

[2017-01-12 15:33] WilliamBZA commented on #4421
I've created a separate issue for this in the autofac adapter repository.

https://github.com/Particular/NServiceBus.Autofac/issues/36

I'll close this one and we can track the progress on the new issue.

[2017-01-12 15:33] #4421 closed

[2017-01-12 15:38] timbussmann commented on #4422
👍
how often do users run without any persistence requirements? Are you good with adding this to the future milestone?

[2017-01-12 15:40] timbussmann commented on #4422
just saw the linked issue. Seems this would have a higher priority for ASB transports?

[2017-01-12 22:44] dasjestyr commented on #4420
@MarcinHoppe I haven't tried MSMQ

@SzymonPobiega

[code]

[2017-01-12 23:21] SeanFeldman commented on #4422
@timbussmann azure transports, correct, but also any other transport that doesn't require those features.

[2017-01-13 06:47] andreasohlund commented on #4422
Given that there is native timeouts in the works for rabbit it would soon be added to the list as well

[2017-01-13 15:28] danielmarbach commented on #4411
@ramonsmits good suggestion.

[2017-01-16 06:16] timbussmann commented on #4422
sounds like something for the next minor then?

[2017-01-16 08:44] SzymonPobiega commented on #4420
@dasjestyr

The endpoint config you posted seems to not have to convention set up?

[2017-01-16 09:43] danielmarbach commented on #4420
@dasjestyr

you could also simplify it by removing

`config.AddDeserializer<NewtonsoftSerializer>();`

and replacing
[code]

with

`config.UsePersistence<NHibernatePersistence>();`

and as @SzymonPobiega pointed out if you are not using `IMessage`, `IEvent` and so on you need to setup the conventions properly.

[2017-01-16 18:01] dasjestyr commented on #4420
@SzymonPobiega @danielmarbach  They're set up in a different process. I have that stuff in a shared library to share between microservices. They just allow anything that ends in "Event" for events.

[2017-01-17 08:00] danielmarbach commented on #4420
@dasjestyr Could you send me a repro solution to daniel dot marbach at particular dot net. Maybe this is the fastest way to get you unstuck.

[2017-01-17 09:20] SzymonPobiega commented on #4223
Should I escalate it to PlatDev (like this one https://github.com/Particular/PlatformDevelopment/issues/1023) to be prioritized?

[2017-01-17 09:21] #3695 closed

[2017-01-17 09:23] SzymonPobiega commented on #3389
I implemented it myself. Closing.

[2017-01-17 09:23] #3389 closed

[2017-01-17 12:49] timbussmann commented on #4223
@SzymonPobiega the feedback I got the last time I asked about pdev was: this can be done via maintainer budget. I'll put this issue on the weekly sync meeting to discuss its priority again. Before the new idea proposed by you, the consensus was that we don't see a high priority in this as the future of msmq doesn't shine very bright at the moment. Let's see whether this is able to change opinions.

[2017-01-17 17:54] dasjestyr commented on #4420
@danielmarbach I'm actually not stuck at the moment. As I mentioned earlier, I just cleared all the tables/queues and it started working. I think since then, it's just been a commentary on how I tend to get into these unusable states. I'm trying to pay more attention to it so that I can capture the conditions if/when it happens again.

So to recap, from time to time, I get that deserialization err

[2017-01-17 18:30] bording commented on #4419
Fixed by #4417

[2017-01-17 18:30] #4419 closed

[2017-01-17 18:41] bording opened #4426 "Immediate retries counter not incremented for exceptions during commit/dispose"
See #4419 for more information.

[2017-01-17 18:42] bording commented on #4426
Fixed by #4424

[2017-01-17 18:42] #4426 closed

[2017-01-17 18:43] bording opened #4427 "Immediate retries counter not incremented for exceptions during commit/dispose"
See #4419 for more information.

[2017-01-17 18:43] bording commented on #4427
Fixed by #4425

[2017-01-17 18:43] #4427 closed

[2017-01-18 06:51] danielmarbach commented on #4420
That almost sounds like an assembly scanning issue. Does it happen on endpoint restarts or even when the endpoint is running for a longer period of time? The fact that you need to clear the queues is very bizare and shouldn't happen. After all we want to provide you a robust and reliable solution. Can you send me the full log files when it happens again?

[2017-01-18 08:57] #4415 closed

[2017-01-18 17:35] dasjestyr commented on #4420
I will. I usually run into it when I'm developing new messages for a new feature. I just finished this one up, so it could be a little bit before the next one. I'm sure my frustration will remind me to come back here to post. There was another potentially related issue where when my nuget package (containing the events and commands) would break everything because the assembly version didn't match.

[2017-01-19 03:50] mikeminutillo commented on #4420
I can confirm. There is a list of headers that get stripped out [here](https://github.com/Particular/ServiceControl/blob/master/src/ServiceControl/Recoverability/Retries/RetryProcessor.cs#L18) and `NServiceBus.FailedQ` is on the list. That list is used to construct the set of headers for retry [here](https://github.com/Particular/ServiceControl/blob/master/src/ServiceControl/Recoverability/Retries

[2017-01-19 10:59] janpieterz opened #4431 "ExpiredTimeoutsPoller exception rolls over into not executing task"
We've had an endpoint that was alive skip 1 of the scheduled tasks indefinitely (until restart) because (presumably) the below exception. This is the only exception in the logs, though given that it is a timeout exception it might have hit other parts of the endpoint too. Software version is NSB 6.0.0.

[code]

[2017-01-19 11:20] SzymonPobiega commented on #4431
Hi @janpieterz

Can you provide us with more logs round this place? Also, what kind of persistence do you use? Ideally can you provide the code that configures the `EncpointConfiguration`.

[2017-01-19 12:30] timbussmann commented on #4415
Hey @CraigN
As @danielmarbach described, we identified a potential cause for the exception you're seeing caused by an invalid disposal of a task. We eliminated this potential issue but haven't been able to reproduce the exception with a real endpoint so far. These changes will be rolled out as a part of 6.2. Since we haven't heard back from you for a while, we're closing the issue as we assume thi

[2017-01-19 13:35] janpieterz commented on #4431
Updated above post with some more logs (after this it just keeps repeating those Heartbeat lines).
The `RunSiteSynchronisation` task is the one that did not resume.
We're using the NHibernate persistence (version 7.0.0), the endpoint is a self hosted endpoint.
Endpoint config as below:

[code]

[2017-01-19 13:47] timbussmann commented on #3613
I think the spike is in a good enough shape to showcase the proposed idea. At that moment I'd prefer that approach but I'm not sure it provides such a huge benefit over the current approach besides a nicer (subjective) syntax. How do we proceed with that?

[2017-01-19 14:03] danielmarbach commented on #3613
TBH I don't think the value is high enough to proceed. Since you have an external package we could mention that in the community section of the docs page and see how many people download it and refer to it in the GG groups cases and defer the decision. Thoughts?

[2017-01-19 14:54] timbussmann commented on #3613
my spike is not published as a package. As I doubt that I can drive enough attention to this package, I'm only partially motivated to finish it.

[2017-01-19 14:54] #3613 closed

[2017-01-19 15:23] timbussmann commented on #4358
as we have concluded to stop further immediate actions on routing refactorings at the moment with a specific need/feature behind it, I'm not really sure what kind of actionable items we could get out of this.

I'm not really sure what benefits we would gain from layer 0 at the moment, assuming that layer 1 is already so extendable that it can support routing mechanisms or even native routing.

[2017-01-19 16:11] timbussmann commented on #4223
discussed this again with @Particular/nservicebus-maintainers and personally I feel that we should give at least spend some time for a PoC to check whether this really is a viable solution. It would definitely add value to the MSMQ transport. But from a core maintainer perspective, the msmq "feature" with the highest prio would be to move out msmq from the core, so I'd say let's add this to the fu

[2017-01-19 16:26] SzymonPobiega commented on #4223
I volunteer to PoC this. All I need is a green 🚦 from @Particular/nservicebus-maintainers

[2017-01-19 17:38] CraigN commented on #4415
Thanks Tim. Unfortunately I couldn't spend much more time trying to put a test case together that reproduced it. Any idea when 6.2 will be released?

[2017-01-20 06:38] andreasohlund commented on #4223
👍 for a POC

[2017-01-20 06:47] timbussmann commented on #4415
Unfortunately I can't tell you a targeted release date yet. However, I pushed an unstable version (current state of the develop branch which will become 6.2) to our myget feed, so if you're interested to test whether the issue remains or would be solved with 6.2, you can test it using this package: https://www.myget.org/F/particular/api/v2/package/NServiceBus/6.2.0-alpha0159. Please let us know if

[2017-01-20 06:50] timbussmann commented on #4223
@SzymonPobiega @andreasohlund we concluded on yesterdays sync that it this is definitely worth a PoC but from a priority perspective, we should sort out our strategy regarding the MSMQ transport first. E.g. is this valuable enough to do it now and include it in a core minor (is this even a potential breaking change?) or should we move out the transport first? So I'd say let's hold back even with t

[2017-01-20 08:17] andreasohlund commented on #4223
I'm with you @timbussmann there isn't enough business value here. Thanks for making me realize that I was just looking at the technical part.

Let's move open an issue for a POC and assign it to the future milestone?

[2017-01-20 08:18] SzymonPobiega commented on #4223
OK. I assume this is not a green 🚦 ;-)

[2017-01-20 08:19] andreasohlund commented on #4223
Its green to create the issue for the POC :)

[2017-01-20 08:21] SzymonPobiega commented on #4223
Naaah, issues are where ideas go to die. I bet if it becomes interesting to the core maintainers you'll find a way to implement this.

[2017-01-20 08:33] andreasohlund commented on #4223
Should we create a new `NServiceBus.Msmq` repo and add it there?

[2017-01-20 08:48] SzymonPobiega commented on #4431
@janpieterz the problem you experienced is due to a combination of a bug in the NServiceBus core (which I described in the issue itself) and a failure to forward-port an [issue](https://github.com/Particular/NServiceBus.NHibernate/issues/164) already found and fixed in NHibernate persistence 6.2.7.

We're working on [NHibernate 7.1.1](https://github.com/Particular/NServiceBus.NHibernate/pull/250)

[2017-01-20 08:54] SzymonPobiega commented on #4431
@Particular/nservicebus-maintainers I've updated the issue description. Please run it through your triage process.

[2017-01-20 09:48] timbussmann commented on #4223
@danielmarbach suggested that too yesterday. I'm not entirely convinced as it just moves issues from one repo to another. Not seeing a benefit until we have an actual NServiceBus.Msmq repo which is releasable.

[2017-01-23 06:45] janpieterz commented on #4431
@SzymonPobiega Am I correct in reading your edits that if I'd change to the Transaction Scope it would not occur? Would that mean both 'failures' that you describe?

I went for the Sends Atomic with Receive because of the prevention of the ghost messages, but depending on how I read the TransactionScope document, these would be prevented there too.

Thanks for your effort in helping to diagnose an

[2017-01-23 07:37] timbussmann commented on #4431
when using TransactionScope transaction mode, we ensure that there are no duplicate timeout messages. We can't guarantee the same when using lower modes (e.g. SendsAtomicWithReceive). The issue found by @SzymonPobiega related to the core is independent of the choosen transaction mode to my understanding (maybe Szymon can confirm this assumption).

[2017-01-23 07:58] danielmarbach commented on #4358
Discussed with @SzymonPobiega today. We are closing the discussion for now.

- We don't see any actionable points to discuss right now
- We should reconsider it if we tackle routing again in a next major release

[2017-01-23 07:58] #4358 closed

[2017-01-23 08:06] SzymonPobiega commented on #4431
@timbussmann yeah, you're right. The issue is not dependent on the transaction mode.

@janpieterz TransactionScope mode has stonger guarantees than SendsAtomocWithReceive. Not only it prevents ghost messages but also allows you to hook to the receive transaction and modify data (assuming data store supports ambient transactions via TransactionScope) in sync with receiving a message.

[2017-01-23 11:55] timbussmann opened #4436 "Timeouts are skipped on transport exceptions"
### Who's affected:

All endpoints using the `TimeoutManager`. The `TimeoutManager` is required for delayed sends, delayed retries and saga timeouts on transports without native delayed deliver mechanism.

### Symptoms

Timeouts may arrive later than they were scheduled after transport related exceptions.

### Cause

This has been identified by @SzymonPobiega. This is from the current `ExpiredTime

[2017-01-23 11:56] timbussmann commented on #4436
@Particular/nservicebus-maintainers Not sure whether we need to treat this as critical because of the raven and nh workarounds they already use, but aside from them, it seems to be something we should definitely address? thoughts?

[2017-01-23 12:01] timbussmann commented on #4431
@janpieterz for better clarity I raised a dedicated issue for the core related bug found by @SzymonPobiega instead of tracking it directly in this issue (so we don't have to modify your issue description).  There has also been an NHibernate hotfix which should ensure that no timeouts skipped for a longer period of time, so upgrading to the latest NH release should hopefully resolve your issue.

[2017-01-23 14:11] timbussmann commented on #4402
reopening this (see https://github.com/Particular/NServiceBus/pull/4435#issuecomment-274496446). @dbelcham please feel free to close again if I missed something.

[2017-01-23 14:56] dbelcham commented on #4402
@timbussmann looking at the code for `ExecutesWhen` I see that there are also timeouts on `StartEndpoints` and `StopEndpoints`. Should we implement this across all of those?

[2017-01-23 15:22] danielmarbach commented on #4402
@dbelcham you could directly code it into the timeout extension method and then it is addressed

[2017-01-23 15:25] danielmarbach commented on #4402
@dbelcham ping me for a further discussion on this. I think we have another issue how we treat cancellation in the framework

[2017-01-23 19:32] dbelcham commented on #4292
Has this moved from Discussion to needing an actionable issue that should be marked as Future? Or should we just remove Discussion from this issue?

[2017-01-23 22:20] Sweetog commented on #4183
The Double-Opt In is inconvenient and unnecessary, it would be great if we could remove the config requirement, if someone is going to EnableOutbox they will have taken the time to understand the ramifications, it is not a confirmation to make someone add the value <add key="NServiceBus/Outbox" value="true" /> in a config file as well

[2017-01-23 22:26] bording commented on #4436
@timbussmann Once we know if v5 is also impacted, then I think that gives a better feel for how large of a problem it might be.

[2017-01-24 00:58] #4349 closed

[2017-01-24 07:58] timbussmann commented on #4436
this is the code used in v5, so I think it's safe to assume that v5 works the same way:

                var timeoutDatas = TimeoutsPersister.GetNextChunk(startSlice, out nextExpiredTimeout);

                foreach (var timeoutData in timeoutDatas)
                {
                    if (startSlice < timeoutData.Item2)
                    {
                        startSlice = timeoutData.Item

[2017-01-24 08:05] timbussmann commented on #4292
it seems that so far we all agree on getting rid of the repeat as it's not used what it was intended for and we can find a better mechanism for what we use it for nowadays. Seems like there is not a clear idea on how the replacement would look like, but I think that's something which we don't necessarily need to agree on this discussion. So I'll raise an issue for the backlog and close this discus

[2017-01-24 08:11] timbussmann commented on #4183
thanks for chiming in @Sweetog 👍 I fully agree with your statement.

[2017-01-24 12:46] timbussmann commented on #4436
one issue we discussed on a call, is that our storages shouldn't be affected in a critical way since they all implement the "catch up mechanism" to fetch older timeouts from time to time. A quick look at community owned persistence showed that none of them make us of such a mechanism which makes them vulnerable to this issue.

[2017-01-24 12:50] danielmarbach commented on #4183
@Particular/nservicebus-maintainers thoughts?

https://github.com/Particular/NServiceBus/pull/4440

[2017-01-24 13:03] SzymonPobiega commented on #4436
@timbussmann NH is not fixed in all the latest minors. I am pretty sure SQL Persistence does not have this "safety" feature cc @SimonCropp

[2017-01-24 14:13] timbussmann commented on #4436
shouldn't this be fixed for supported versions?

yeah, as said, I think none of the community projects do that. Also, InMemoryPersistence doesn't either.

[2017-01-24 18:06] SzymonPobiega commented on #4436
@timbussmann I don't think this problem is considered a critical. We backported to the most probably used versions.

[2017-01-24 21:07] BrainSlugs83 opened #4441 "Readme.md missing link to NServiceBus license."
While evaluating NServiceBus, I discovered that it's not clear from the Nuget Package description, or the Readme.md file of the GitHub page that NServiceBus itself is not FOSS and that it _has_ to be licensed.

The readme.md already has a section where the Licenses of it's dependencies are listed, there should be a sub-section of the Licenses section where you link to the NServiceBus license page

[2017-01-24 21:20] #4183 closed

[2017-01-24 21:24] timbussmann commented on #4436
@SzymonPobiega on endpoints with a persistence without catch-up mechanism, this could lead to delay of timeouts until the next endpoint restart. While I'm good with not considering a delay of a few minutes as critical, a delay till a restart is close to message loss (or message loss in the case of inmem).

[2017-01-24 21:34] timbussmann commented on #4402
I think at that point ExecuteWhens are the biggest pain point. I don't think we need to explicitly change Start/Stop (in case the also behave the same as ExecuteWhen because of shared code, I don't see an issue with that though).

[2017-01-25 07:33] SzymonPobiega commented on #4436
6.1.0 (which we don't backport to) has been released on Mar 2, 2015 so I think we are covered.

[2017-01-25 10:17] #4436 closed

[2017-01-25 10:19] andreasohlund commented on #4441
Does the info in https://github.com/Particular/NServiceBus/blob/develop/LICENSE.md cover this? (Location selected per the gihub "standard" - https://help.github.com/articles/licensing-a-repository/ )

[2017-01-25 10:21] andreasohlund commented on #4431
@janpieterz are you ok with us closing this isssue? (saw your thumbs up on Tims comment above)

[2017-01-25 10:22] andreasohlund commented on #4420
@dasjestyr we're closing this issue for now, just reopen it should you find more clues to why you're seeing this behavior

[2017-01-25 10:22] #4420 closed

[2017-01-25 14:24] timbussmann commented on #4402
closing this again as everything should be addressed with #4439 now 👍

[2017-01-25 14:24] #4402 closed

[2017-01-25 15:17] janpieterz commented on #4431
@andreasohlund I believe so, thanks guys!

[2017-01-25 15:17] #4431 closed

[2017-01-25 17:13] timbussmann opened #4443 "Spike native delayed delivery for MSMQ"
@SzymonPobiega [found a potential solution / hidden MSMQ feature](https://github.com/Particular/NServiceBus/issues/4223#issuecomment-272166132) which could allow us to do native delayed delivery and avoiding the TimeoutManager.

## Original Comment from Szymon on #4223 describing the solution

It turns out WCF has always had a way to specify a custom dead letter queue, per contract. It turned out

[2017-01-25 17:14] timbussmann commented on #4223
raised a new issue for the spike to be scheduled and to close this discussion.

[2017-01-25 17:14] #4223 closed

[2017-01-25 18:31] BrainSlugs83 commented on #4441
Interesting. -- My bad on missing the license.md file, total PEBCAK on my part there.

Though, usually, we also see a license is also displayed on the main page of a GitHub as well -- like at the top right of the page:
![](https://i.imgur.com/bvFnbJp.png)

And failing that, it's usually mentioned in the readme.md somewhere. -- Given that you had a section labeled Licenses, it seemed like the obvio

[2017-01-26 05:23] SzymonPobiega commented on #4443
One this. this feature is documented (e.g. [here](https://msdn.microsoft.com/en-us/library/aa368234(v=vs.85).aspx)). It is not exposed via `System.Messaging` abstraction.

[2017-01-26 22:48] SeanFeldman opened #4445 "Breaking change in behavior between core v5 and v6 for delayed delivery"
When timeout manager is used for delayed delivery, two possible constraints that are not mutually exclusive are used to decide on delay: `DelayDeliveryWith` and `DoNotDeliverBefore` (`DeliverAt` in v5).

Behavior prescribes that one value takes precedence over another. V5 and V6 are not consistent though

## V5 behavior

`DelayDeliveryWith` takes precedence over `DeliverAt` ([source code](https://

[2017-01-26 23:26] andreasohlund commented on #4445
I'd say it shouldn't be supported to mix and we should throw?

Out of curiosity how did you find this issue?

[2017-01-26 23:46] SeanFeldman commented on #4445
@andreasohlund correct, we should throw if those two are mixed.

For $50 I'll let you know how it was discovered

[2017-01-26 23:48] SeanFeldman commented on #4445
Ok, ok. @bording and myself were pairing on native delays for RabbitMQ and noticed the difference between timeout manager implementation and native implementation (ASB). When compared core v5 and v6, found the difference. Also, the fact that a transport with native delays doesn't have a clear API and has to choose one over another is a smell on its own.

BTW, you still owe $50 😛

[2017-01-27 06:26] andreasohlund commented on #4441
Done some digging and the reason that the tab doesn't show up is because RPL 1.5 isn't included in https://choosealicense.com/appendix/. I'll see if we can get that added there. Thanks for noticing!

That seems resonable even if we can get the "tab" fixed? ( @Particular/nservicebus-maintainers @adamralph )

Regarding the confusion around our licensing I really appreciate the feedback. Users unders

[2017-01-27 07:00] timbussmann commented on #4445
I agree with @andreasohlund. Let's raise an issue to throw in case both options are specified and close this?

[2017-01-27 07:05] SeanFeldman commented on #4445
👍

[2017-01-27 10:06] adamralph commented on #4441
Even if we get RPL 1.5 added to that site, will be GitHub be smart enough to tease out the RPL 1.5 license from our license file? The reason I ask is that our license file doesn't actually contain the RPL 1.5 license. Rather, it informs you which license applies in which case and only has a link the RPL 1.5 license in one of those cases. Indeed, since we are dual-license, displaying RPL 1.5 in the

[2017-01-27 10:57] gmonos opened #4446 "AllAssemblies obsolete now use ExcludeAssemblies"
Hello, i'm new to NServiceBus,
But i got a question regarding the suppression of AllAssemblies that i found very usefull.

now we have to use ExcludeAssemblies, but how can we do with more than 200 dll to exclude ? is there a pattern you implemented to don't have to explicitly name each of the 200 dll ?

thanks.

[2017-01-27 11:05] danielmarbach commented on #4446
Hi,

I would use reflection like

        var codebase = typeof(YourEndpoint).Assembly.CodeBase.Remove(0, 8);
        var currentDirectory = Path.GetDirectoryName(codebase);
        assemblies = Directory.GetFiles(currentDirectory, "*.dll")
            .Select(Assembly.LoadFrom)
            .Where(a => ShouldBeExcluded)
            .ToList();

and then pass that in exclude assemblies

[2017-01-27 14:44] andreasohlund commented on #4446
What are the reasons that you need to exclude those assemblies?

[2017-01-27 15:15] gmonos commented on #4446
because it take so much time to load each assemblies, something like 2min, and i know exactly which assemblies has to be loaded.

i'm just curious why are you deleting this interesting fonctionnality

[2017-01-27 16:01] bording commented on #4445
Before deciding how to handle this in V6, I think we need to know more about how this worked in V5. Can you even have both of the options set in V5?

If we do decide to start throwing in V6, what sort of release can we make this change, seeing how this would be a behavior change?

[2017-01-30 12:58] andreasohlund commented on #4441
I've raised a PR to link the license.md from the readme.md for now.

https://github.com/Particular/NServiceBus/pull/4447

Closing this

[2017-01-30 12:58] #4441 closed

[2017-01-30 13:00] andreasohlund commented on #4441
Not sure but https://choosealicense.com/licenses/ is OSS so we can probably send a PR to make it so?

[2017-01-30 13:13] andreasohlund commented on #4446
Got it, have you timed this with v6? (we did some major improvements to our scanner that should now be much smarter when it comes to skip assemblies)

[2017-01-30 15:26] adamralph commented on #4441
After more thought, I don't think it should, because:

[2017-01-30 23:32] SimonCropp opened #4448 "should TimeoutData.State be a stream so as to avoid the memory loss?"

[2017-01-31 06:36] danielmarbach commented on #4448
I think ideally it would be a stream, Span<T>, or an ArraySegment yes

[2017-01-31 07:53] andreasohlund commented on #4448
Just noting that we're going to hit the issue with the persisters actually storing the TimeoutData type  so we need to take that into account when we come up with a POA

Related to https://github.com/Particular/NServiceBus/issues/2169

[2017-01-31 10:58] timbussmann opened #4450 "Support URIs for the instance-mapping file"
file based routing supports URIs instead of simple file paths to load the routing file from version 1.1 (http and file scheme only). When using MSMQ it's likely that you will use the routing file together with the instance mapping file. But the instance mapping file can't be hosted on a webserver.

I think we should align those APIs capabilities as they are intended to be used together and add URI

[2017-01-31 12:01] #4422 closed

[2017-01-31 12:01] timbussmann commented on #4422
@andreasohlund any doco changes required?

[2017-01-31 12:03] andreasohlund commented on #4422
I went through docs and I couldn't find anything that needs change. And since we arguable give better error messages now I'd say we're good as is?

[2017-01-31 18:39] SeanFeldman opened #4451 "Satellite queue naming"
While reviewing a bug fix for https://github.com/Particular/NServiceBus.AzureServiceBus/issues/480 for ASB, have noticed that in order to create a custom satellite, we don't allow an easy way to follow NSB convention for satellite naming.

Our satellite registration API ([sample](https://docs.particular.net/nservicebus/satellites/)) expects a transport address. It doesn't allow to pass in a qualif

[2017-01-31 18:40] SeanFeldman commented on #4451
cc @bording

[2017-01-31 20:10] timbussmann commented on #4451
yeah, the whole endpoint address stuff is a nightmare (also for routing). The qualifier idea would definitely work, maybe this is a reasonable enough workaround but I'd prefer to fix this once for all.

[2017-02-01 07:51] andreasohlund opened #4452 "JSON Serializer can't handle messages with multiple inheritance"
See https://github.com/Particular/docs.particular.net/pull/2290#issuecomment-264019883 for details on how to reproduce.

I've verified that JSON works if the endpoint has access to all types that is used on the message. It breaks when eg a subscriber only has access to a subset of the types like shown in the sample above.

Only reproduced on v6, need to verify how v5 behaves

[2017-02-01 08:32] andreasohlund commented on #4451
Me and @timbussmann  decided to park this on the future milestone for now since there is a workaround and we have other more pressing issues atm

[2017-02-01 15:17] timbussmann commented on #3719
this is addressed with v6 as the `SubscriptionAuthorizer` API is only available to transports with message driven pub sub 👍 Closing this.

[2017-02-01 15:17] #3719 closed

[2017-02-01 15:31] timbussmann commented on #3678
after discussing this with the @Particular/nservicebus-maintainers we think this issue has been discussed during the routing changes and no further changes need to be made.

The current behavior is:
* The instance mapping file is only usable with MSMQ
* We do an internal schema validation, but the schema is very lax due to it's initial design

In case anybody thinks we should change the schema val

[2017-02-01 15:31] #3678 closed

[2017-02-01 15:35] timbussmann commented on #4365
After the discussion we had on https://github.com/Particular/NServiceBus/issues/4358 I think we should close this. We decided that at the moment we don't want to address the routing API without a deeper story driven by platform development.

[2017-02-01 15:37] timbussmann commented on #4451
btw. this is related imho: https://github.com/Particular/NServiceBus/issues/4111

[2017-02-01 15:44] timbussmann commented on #3652
the v6 release changed the `config.ScaleOut().UniqueQueuePerEndpointInstance()` to  `endpointConfiguration.MakeInstanceUniquelyAddressable`. Since there was no progress on this issue and no clear steps forward, we're going to close this. Feel free to reopen if we missed something or you think there is still an important task outstanding.

[2017-02-01 15:44] #3652 closed

[2017-02-01 15:57] timbussmann commented on #3564
so this issue has been around for a while without any actions. I think there is no chance that this is going to be addressed in v4 or v5 as this doesn't qualify as a critical bug.

Looking at the inmemory as well as other implementations, it looks like the gateway storage is a source of memory leaks or constantly growing databases as there is no cleanup mechanism. I think this is the real issue an

[2017-02-01 16:00] timbussmann commented on #3440
looking into this as @SzymonPobiega is assigned to this issue, I'm not really sure this something for the future backlog. There seems to be a larger story about this which seems to be something for specific transports or the platform development process. Should we close this @Particular/nservicebus-maintainers @SzymonPobiega ?

[2017-02-01 19:24] dbelcham commented on #3647
@Particular/nservicebus-maintainers do we want to move on this in anyway or has the discussion run it's course and no action will be taken?

[2017-02-01 19:25] dbelcham commented on #3785
Closing this since the discussion is over and there is no action to be taken. Re-open when the time to address/consider this arrives.

[2017-02-01 19:39] dbelcham commented on #4206
Does this deserve the same decision as #4210 and other's have received about no action? https://github.com/Particular/NServiceBus/issues/4210#issuecomment-260302405

[2017-02-01 19:41] dbelcham commented on #4208
Does this deserve the same decision as #4210 and other's have received about no action? https://github.com/Particular/NServiceBus/issues/4210#issuecomment-260302405

[2017-02-01 19:55] dbelcham commented on #4324
I agree with @timbussmann What benefit do we get from having it open between now and the time we actually do "close as won't fix"?

[2017-02-01 20:05] #4324 closed

[2017-02-01 20:07] danielmarbach commented on #3647
I'm torn to be honest. From one perspective I don't like the F5, boom exception approach but on the other hand it serves an educational purpose like @SeanFeldman described. I'd say let's close it for now, not important enough

[2017-02-01 20:08] danielmarbach commented on #4208
@dbelcham agreed.Closing

[2017-02-01 20:08] #4208 closed

[2017-02-01 20:08] danielmarbach commented on #4206
@dbelcham agreed.Closing

[2017-02-01 20:08] #4206 closed

[2017-02-01 21:26] SeanFeldman commented on #3647
Before the issue is closed, wanted to bring [Evaluate MSBuild integrated installers](https://github.com/Particular/PlatformDevelopment/issues/1100) issue raised by @SimonCropp.

I have a weird feeling of a déjà vu. We tend to change our minds on core things (pun intended) more often than we should. We talk about "system queues" when it's important to [drive a discussion towards a standardized desi

[2017-02-02 06:45] timbussmann opened #4454 "Obsolete message property encryption APIs"
* [x] Switch to obsolete with Error for all encryption related public APIs in the core which are covered by the NServiceBus.Encryption.MessageProperty package. Move the APIs to the obsoletes.cs file.
  * [x] Make sure to obsolete `Conventions.IsEncryptedProperty`
* [x] Remove RijndaelEncryptionService license section from readme
* [x] Point at the NServiceBus.Encryption.MessageProperty package in

[2017-02-02 07:32] andreasohlund commented on #3647
Not convinced that the educational value is high enough to warrant this friction, for all transports other than MSMQ `error` is just fine for production use. For msmq you would have to change yes but it would not be message loss.

If we had the development transport we would have it default to `error` I guess?

How about we have each transport set a default if possible and only throw if there is n

[2017-02-02 08:48] timbussmann commented on #3647
I'm still +1 on using a default error queue.

this. The current API is a huge pita. It's easy to forget for existing users, it's unclear what it is for for new users and at that point, I don't think it's the right time to educate them about the error queue. Starting with a new library and first thing is getting an exception is such a bad experience.

why isn't error not fine for msmq? I think the

[2017-02-02 08:56] timbussmann commented on #4452
@andreasohlund could you check the v5 behavior in order to have a better understanding about the priority of this bug?

[2017-02-02 10:15] danielmarbach commented on #3647
@andreasohlund why does every transport need to set it? Just because of MSMQ?

Then I'd prefer to use it set by default in the core and MSMQ can add a log warn or something similar if it detects it was not explicitly set.

[2017-02-02 12:51] scrooby opened #4456 "Testing specific saga handler causes NHibernate exception"
I have a saga that I'm attempting to test by sending a message to the saga queue and asserting that the outcome of the saga is as expected.

Below is a simplified example of the first two steps of the saga:

[code]

If I test this by sending a `StartSagaCommand` to the queue, it works fine and I can assert that my `SagaState` gets set to "something done".

However, rightly or wrongly, during devel

[2017-02-02 13:44] andreasohlund commented on #3647
That sounds a good and achieves the same goal

On Thu, Feb 2, 2017 at 11:15 AM, Daniel Marbach <notifications@github.com>
wrote:

[2017-02-02 16:01] dbelcham commented on #4456
@scrooby Two questions for you to help guide us to a solution:
1. Can you provide a sample test for us to look at so we can try to determine what the purpose of the testing is?
1. Can you provide us with the class you have that implements `ContainsSagaData`?

@bording and I have talked about this and we have a few ideas but we definitely need some more information to narrow things down.

[2017-02-02 16:24] andreasohlund commented on #4456
You don't need to assign the originator and the original message id properities since that is handled automatically by NServiceBus. Can you try to remove those just to rule that out?

[2017-02-03 07:33] danielmarbach opened #4457 "Review current acceptance tests"
In the testing brainstorming meeting, we decided that one actionable item is to go over the existing acceptance tests and when they turn out to be testing core only features move them into the core folder to exclude them from downstream. Here is a rough plan of attack

- Go over existing acceptance tests and see which one are valid for transports or core only
- What more transport tests are needed

[2017-02-03 07:33] danielmarbach commented on #4457
@timbussmann @kbaley can you already move the encryption related core tests into the core folder as a first step?

[2017-02-03 09:23] andreasohlund commented on #4452
I can confirm that v5 blows up with the json serializer as well

[code]

[2017-02-03 10:17] timbussmann commented on #4457
@danielmarbach absolutely, will raise a PR

[2017-02-03 10:30] timbussmann commented on #4448
@SimonCropp to clarify, do you mean unnecessary memory pressure instead of memory loss (e.g. memory leak)?

I think at that point, using streams won't yield much as the pipeline always works with byte arrays anyway, so there is never a case where we can actually make use of streaming from input to output or similar thing. For streams to gain benefits that would require a major pipeline change .

[2017-02-03 11:18] scrooby commented on #4456
@dbelcham I've setup a Gist that contains a sample SpecFlow test and the saga data class that is being used: https://gist.github.com/scrooby/b5b27e0009254752f823f8e5486354b6

As I mention in the Gist description, some of the code has been flattened so it's easier to see what's going on. I've run the test and it still results in the same error.

@andreasohlund Removing the manual setting of the two

[2017-02-03 15:08] dbelcham commented on #4456
@scrooby Thanks for the gist. I looked at it and I know it's a simplified repro of what you're doing. Is checking a sagadata property all your "real" test is doing too? I'm asking because I'm wondering if there might be a better approach to how you're writing the test, but that requires some understanding (on my part) of what you're really trying to accomplish with the test.

[2017-02-03 15:23] scrooby commented on #4456
@dbelcham In that scenario, that's all the test is doing. It is probably our simplest test in the saga since it's just listening for a failure event and updating the state of the saga for auditing/debug purposes. We've found these tests are quite handy since we can write them during development to make sure each step is working. It also means that we don't need to assert each state of the saga in

[2017-02-03 17:39] timbussmann commented on #4456
There seems to be quite a bit of infrastructure from the testing and sadly I don't see any chance to reproduce the exception with the gist you provided.

Is there any chance that tests run in parallel or your test setup generates the same saga id multiple times which could cause in the exception you're experiencing?

Also, is the endpoint you're publishing the event from also the endpoint which ha

[2017-02-06 00:08] gbiellem commented on #4260
@andreasohlund From a ServiceControl plugin perceptive it would be good to be able to turn it off selectively for MSMQ . Having Heartbeats fill the txDLQ is a real headache for end users.

[2017-02-06 06:06] andreasohlund commented on #4260
Since the heartbeats have a ttbr set this would sort that out right?

[2017-02-06 06:42] gbiellem commented on #4260
Yes it would but it seems wrong to force this to be off for the whole endpoint to stop the SC plugin from DDOSing the system.  I assume we default to having this on for a reason.

[2017-02-06 06:45] gbiellem commented on #4260
Or if you mean default MSMQ deadletter flag to OFF for messages with a TTBR would solve it then yes I agree.  However waiting for V7 to solve this for SC seems like a fail

[2017-02-06 07:17] andreasohlund commented on #4260
Correct

@Particular/nservicebus-maintainers thoughts, this should be a fairly small change that we can bundle into 6.2? (or do we see this as a breaking change == major)

[2017-02-06 07:41] timbussmann commented on #4260
to change DLQ settings for the TTBR messages, it does require changes on the message producer, do I understand this correctly?

[2017-02-06 07:57] andreasohlund commented on #4260
Correct, on send do a:

"if message has TTBR  then default.DLQ = off"

On Mon, Feb 6, 2017 at 8:41 AM, Tim Bussmann <notifications@github.com>
wrote:

[2017-02-06 09:34] scrooby commented on #4456
@timbussmann I'm running the test on it's own, from my local machine, so it won't be running in parallel with any other tests. The test uses AutoFixture to build a new saga data object each time, so the id should be different with each run.

The endpoint that the event is published from is built from the test project whereas the saga process runs separately, with it's own endpoint instance.

[2017-02-06 18:54] dbelcham commented on #4456
@scrooby Based on what you've provided thus far, it seems like the NHibernate Session is picking up the Dapper changes you make to the saga data in the database. I'm not sure we can be clear on how or why since we don't really recommend setting up tests in the manner you've shown.

If all you're wanting to do is test the failure handler's changes to the saga data, why do you need to spin up the en

[2017-02-06 21:45] indualagarsamy commented on #4260
See related discussion on GG issue here:
https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/particularsoftware/GeHawkCKsgU/zSqU54QzAwAJ

[2017-02-07 06:42] timbussmann commented on #4260
I'm ok with including this in 6.2. Do we need to make sure that we provide an API to opt-in into the current behavior? Could we have a sendoption which defines whether the message should be DLQed?

[2017-02-07 07:42] andreasohlund commented on #4260
I think we should but it would be at the endpoint level

That idea is already tracked here:

https://github.com/Particular/NServiceBus/issues/2372

[2017-02-07 12:46] timbussmann commented on #4448
ping @SimonCropp

without pipeline changes I don't see much gained by using streams. Is this something good enough to drive such a change? Otherwise I'd propose to close this.

[2017-02-07 12:47] timbussmann commented on #4446
hey @gmonos , did you have any chance to test whether v6 also takes this long to load your assemblies?

[2017-02-07 15:29] andreasohlund commented on #4260
Talking to @timbussmann we decided to not treat this as a breaking change but rather a bugfix since the current default defeats half of the purpose with TTBR namely to save disk space by allowing messages that have lost their business value to be discarded by the queuing system. Given that this is not a critical but it will be released in the upcoming 6.2

[2017-02-07 18:35] SimonCropp commented on #4448
@timbussmann yeah u r correct. I should have done more research prior to raising this

[2017-02-07 18:35] #4448 closed

[2017-02-08 02:21] SimonCropp opened #4463 "Registering a mutator from withing a feature does not work"
## Who's affected
* All customers registering mutators in Features.

## Symptoms

So this code works in 6.0 but fails in 6.1.2
[code]

So in 6.0 the `LogicalThreadContextMutator.MutateOutgoing` will be executed, in 6.1.2 it will never be executed

Repro: https://github.com/Particular/BugsRepro/tree/master/MutatorInFeature

Raise in google groups https://groups.google.com/forum/#!topic/particularso

[2017-02-08 02:33] SimonCropp commented on #4463
to narrow the range a little. it works on 6.0.6 but fails on 6.1.0

[2017-02-08 03:01] bording commented on #4463
Yeah, it's a known change, side effect of #4253.  See https://github.com/Particular/NServiceBus/pull/4253#issuecomment-267448882 and further comments.

It can be worked around by using https://docs.particular.net/nservicebus/lifecycle/ineedinitialization to register the mutator instead of a feature.

When this came up before, @danielmarbach and looked and didn't see that we've said registering mut

[2017-02-08 11:01] SzymonPobiega commented on #3440
@timbussmann I'd close it for now.

[2017-02-08 11:29] #3440 closed

[2017-02-08 11:36] scrooby commented on #4456
@dbelcham We do already have unit tests around each handler of the saga, but I do think there is some value in also testing from a higher level by sending in a message at a particular point in the saga flow.

1. In the case where we're dealing with events, it ensures that our message endpoint mappings are correct
2. We script our saga data tables manually, so the tests make sure the structure is w

[2017-02-08 12:15] timbussmann commented on #4456
@scrooby I'm having a hard time to locate the problem you're facing with the available information and at that point I'm not sure how to go further on this. To me this looks like an issue with your testing infrastructure and setup, not like an issue which can occur on a regular endpoint outside your test harness.

If you can provide us with a working repro sample which is able to demonstrate the e

[2017-02-08 15:59] scrooby commented on #4456
@timbussmann I've created a repro sample: https://github.com/scrooby/NServiceBusNHibernateErrorExample

It may well be a side affect of something with our testing infrastructure, I'd just like to establish if that is the case or whether there's an issue that's causing this.

[2017-02-08 17:11] timbussmann commented on #4463
we discussed this on the @Particular/nservicebus-maintainers weekly sync and came up with different options which I'll try to summarize here:

* Allow mutator registration in features Potential approaches are:
  * Instead of within a feature itself, move the logic which resolves and configures mutators after all features have been set up. This might conflict with the idea of treating mutators as a

[2017-02-08 19:56] dbelcham commented on #2388
@Particular/nservicebus-maintainers is this still relevant in the v6 world?

[2017-02-08 20:01] dbelcham commented on #2441
@yvesgoeleven any thoughts on this now?

[2017-02-08 20:03] dbelcham commented on #4236
is this related to #2445 ?

[2017-02-08 20:06] dbelcham commented on #2469
@SzymonPobiega do you have any interest in pursuing this topic? It seems to me that multi container support is something that is well entrenched in our extensibility offerings.

[2017-02-08 20:08] timbussmann commented on #2469
I think https://github.com/Particular/PlatformDevelopment/issues/1090 replaces this issue?

[2017-02-08 20:13] dbelcham commented on #4457
This seems to tie in with #2550 and some of the work already started/attempted on Azure Storage Persistence to spit apart persistence tests.

[2017-02-08 20:16] timbussmann commented on #2388
We have warnings about violating best practices when sending/publishing messages which don't conform to the specific command/event interfaces or conventions. I think this essentially covers the mappings scenario (at runtime though)?

I think there is nothing actually verifying that a type handled by a message handler is a valid message type?

[2017-02-08 20:16] dbelcham commented on #2611
What/where are you thinking we should document this @andreasohlund ?

[2017-02-08 20:17] dbelcham commented on #4457
There's also an issue for splitting out DataBus tests here: #2645

[2017-02-08 20:19] timbussmann commented on #2611
given that we don't expect users to regularly switch persistence, I don't think that risk is something which is worth to implement a generalization in the core. I'm with @andreasohlund here. Since we don't have any guidance on this, not sure why we can't just close this?

[2017-02-08 20:22] andreasohlund commented on #2611
Perhaps we could start with something in?
https://github.com/Particular/PlatformDevelopment/tree/master/designprinciples/nservicebus

But ideally it should be public so perhaps there is a better place? docs?

[2017-02-08 20:23] timbussmann commented on #4457
well this was raised as a part of our testing brainstorming which also lead to https://github.com/Particular/PlatformDevelopment/issues/1123.

[2017-02-08 20:24] timbussmann commented on #2550
There is also an issue in pdev about this: https://github.com/Particular/PlatformDevelopment/issues/1123
Is it worth keeping this open @SzymonPobiega @Particular/nservicebus-maintainers ?

[2017-02-08 20:29] SzymonPobiega commented on #2550
@timbussmann nope. The PlatDev issue covers more than this I believe.

[2017-02-08 20:29] #2550 closed

[2017-02-08 22:15] yvesgoeleven commented on #2441
I assume this got resolved by introducing the idempotency check on test runs we have in place all over now. I'd say close it, will reopen if I ever see it again.

[2017-02-08 22:15] #2441 closed

[2017-02-08 23:11] SimonCropp commented on #4463
Looks good.

also looks good

dont understand  why mutators would not be supported from within a feature. but happy to discuss on the new issue

[2017-02-09 05:48] mikeminutillo opened #4464 "Create acceptance tests to check for unicode support"
Can use https://github.com/NServiceBusSqlPersistence/NServiceBus.SqlPersistence/blob/master/SqlPersistence.Tests/Saga/SagaPersisterTests.cs#L133 as a start.

This will end up getting pushed down to the downstream repos where they can use the tests to verify unicode support (or explicitly document lack of support if necessary).

[2017-02-09 13:34] dbelcham opened #4469 "Create releasing.md"
The main releasing.md in Platform Dev has been updated to point readers back to the repo that they are doing the release for. We should have a releasing.md file that outlines all the sibling repos that need updating (Wire Compat, etc) as part of the release process.

https://github.com/Particular/PlatformDevelopment/pull/1092

[2017-02-09 16:57] danielmarbach commented on #4463
@SimonCropp see #4466

[2017-02-09 17:41] dbelcham commented on #2469
Would seem that it has. Closing and deferring to the PlatDev issue for now.

[2017-02-09 17:41] #2469 closed

[2017-02-09 18:26] dbelcham commented on #2611
@andreasohlund sounds more like a design principle ("If you have a config value it's name should follow this pattern") than it does doco. Looking at the files in PlatDev I'm not sure which one should hold this info though. Possibly [component naming](https://github.com/Particular/PlatformDevelopment/blob/master/designprinciples/nservicebus/component-naming.md) although one could argue that the fil

[2017-02-09 20:01] slahn opened #4471 "Customize assembly scanning"
One of our send-only endpoints is hosted in an appdomain we don't control.
Our assembly is not in the base directory of this app domain, and we can't put it there (reliably).

We only need to scan two non-core assemblies: One with messages, and one with a custom behavior.
These assemblies are not on disk at all, but are loaded into the AppDomain.
In v5, we could manually specify the assemblies to

[2017-02-10 07:09] danielmarbach commented on #4471
Hi @slahn

Thanks for raising the issue including the willingness to jump in helping us out. Would it be possible for you to send me a simple repro solution so that I can have a look at the assembly scanning NullReference issue you are facing? Because such an exception is definitely not helpful and we need to improve.

About your two suggestions:

I do not think we are going back to support an inc

[2017-02-10 07:22] andreasohlund commented on #4471
Sorry, nothing comes to mind

[2017-02-10 07:26] andreasohlund commented on #2611
Lets go with that for now? (cc @Particular/nservicebus-maintainers )

[2017-02-10 07:56] slahn commented on #4471
We'll probably be fine keeping the send-only endpoint at v5. We do that in production currently.
I'm working on a minimal repro of the exception and will post that as a separate issue.

My dream solution here would be to be able to replace an IAssemblyLocator in the endpoint, so we could avoid hitting disk at all. But scanning types already in the AppDomain should solve our issue - as long as we c

[2017-02-10 08:19] slahn opened #4472 "NullReferenceException when message type is not found by assembly scan"
As mentioned in #4471, when the NServiceBus assembly scanning does not find a message type,
we get a NullReferenceException:

    at NServiceBus.Pipeline`1.Invoke(TContext context) in C:\BuildAgent\work\3206e2123f54fce4\src\NServiceBus.Core\Pipeline\Pipeline.cs:line     33
    at NServiceBus.MessageOperations.SendMessage(IBehaviorContext context, Type messageType, Object message, SendOptions optio

[2017-02-10 11:07] danielmarbach opened #4473 "RouteToThisEndpoint bypasses Sender Side Distribution"
While investigating how we can make timeouts on Sagas partition affine for Service Fabric I found out that RouteToThisEndpoint bypasses Sender Side Distribution. I confirmed this with @timbussmann (thanks for the help by the way).

[code]

`RouteToThisEndpoint is treated as if it would be a physical route and directly creates a UnicastRoutingStrategy with the shared queue as a destination. In my o

[2017-02-10 19:02] bording commented on #4463
@danielmarbach I see you added this to the 6.2.0 milestone. Should we be considering putting this change out as a 6.1.x as well? That seems to be what we agreed on in the sync meeting.

[2017-02-11 18:11] dasjestyr opened #4475 "Setup not creating tables in default schema"
I just ran my app in a new environment and it didn't seem to create the new tables correctly. Using the same settings as I used in the other environment, it seems to have created the tables for sagas, outbox, and subscription as the domain user name:

![image](https://cloud.githubusercontent.com/assets/3200529/22856228/d703bfe2-f04a-11e6-9b6f-25b840e1d8b7.png)

[2017-02-11 18:13] dasjestyr commented on #4475
reposting in the hibernate repo

[2017-02-11 18:13] #4475 closed

[2017-02-13 08:00] SzymonPobiega commented on #4473
@danielmarbach I think that fixing this would require splitting the physical and logical routing stages so that other parts of the core can fork to the physical routing stage and take advantage of SSD.

[2017-02-13 08:12] danielmarbach commented on #4473
@SzymonPobiega Right now from the perspective of ServiceFabric it is not needed what you propose. On the fence about extending the scope

[2017-02-13 08:21] SzymonPobiega commented on #4473
@danielmarbach well, given NSB is an OSS project the core maintainers would have to consider a PR is I created it in the evening, right? ;-)

[2017-02-13 08:44] #4260 closed

[2017-02-13 08:46] andreasohlund commented on #4260
I'll go ahead with the doco

[2017-02-13 12:38] timbussmann commented on #4473
I like the idea of having clearer stages for routing but for the fix I think this is not something we should introduce easily in a minor. While I think the separation makes sense, I'm not sure whether it provides the value you think for users to fork into the pyhsical/logical routing stage directly. E.g. consider everything happening before or after these stages, what if you just want to influence

[2017-02-13 12:47] SzymonPobiega commented on #4473
@timbussmann I don't think there is value for the end-user. I think it would be the most clean implementation should we decide to implement @danielmarbach 's idea of using SSD for the local endpoint.

[2017-02-13 13:00] SzymonPobiega opened #4476 "Cannot override reply-to address in V5"
The [documented way](https://docs.particular.net/nservicebus/messaging/send-a-message?version=core_5#influencing-the-reply-behavior) of overriding reply-to header does not work in V5 (at least it does not work in MSMQ and SQL transport).

The reason for this is the code in core always sets the reply-to address in the `DeliveryOptions` to `Configure.PublicReturnAddress` and the transport code treat

[2017-02-13 13:01] SzymonPobiega commented on #4476
Discussed that with @andreasohlund and concluded we'll close with "won't fix" bug given that this is documented, what should we do with the documentation? The same feature in V6 works correctly.

[2017-02-13 13:22] timbussmann commented on #4463
reopening based on @bording comment and the discusses approach. I'll cherrypick @danielmarbach PR against develop and raise a new issue for the new API.

[2017-02-13 13:33] timbussmann opened #4478 "Mutator registration API"
Mutators are not registered automatically and in order to the register them, you have to use the container API (see https://docs.particular.net/nservicebus/pipeline/message-mutators#registering-a-mutator) to do so which is:
* Painful to use
* Hard to version / evolve
* Something we want to remove because of the container dependency

Instead there should be a dedicated API which makes it easy to re

[2017-02-13 13:34] timbussmann commented on #4463
backport raised in #4477, issue regarding the API changes raised in #4478.

[2017-02-13 14:13] bording commented on #4478
Whatever we do with this should also apply to the Unit of Work, because it has the same set of problems:

https://docs.particular.net/nservicebus/pipeline/unit-of-work#implementing-custom-units-of-work-registering-a-unit-of-work

[2017-02-13 15:47] timbussmann commented on #4478
@bording 👍 but should we raise a dedicated issue?

[2017-02-13 15:51] bording commented on #4478
@timbussmann I was thinking that it made sense to consider them together, but I suppose they could be tracked separately.

[2017-02-13 16:21] #4469 closed

[2017-02-14 13:13] timbussmann commented on #4476
can we just remove the documentation for v5?

[2017-02-14 13:35] SzymonPobiega commented on #4476
Yes, we can. This would effectively mean that this feature is V6-only

[2017-02-14 15:08] #4463 closed

[2017-02-14 17:33] timbussmann opened #4480 "IManageUnitsOfWork registered in a feature are not invoked"
Because of the same optimization which caused https://github.com/Particular/NServiceBus/issues/4463, IManageUnitsOfWork registered from a feature setup aren't invoked in 6.1.

This has been fixed in #4477, this issue is opened for searchability.

[2017-02-14 17:33] #4480 closed

[2017-02-15 11:27] timbussmann commented on #4476
@SzymonPobiega is this doc invalid too: https://docs.particular.net/nservicebus/messaging/reply-to-a-message?version=core_5 ?

[2017-02-15 11:32] SzymonPobiega commented on #4476
@timbussmann the "influencing reply to behavior" part is invalid, too.

[2017-02-15 11:41] timbussmann commented on #4476
docs PR raised here: https://github.com/Particular/docs.particular.net/pull/2447
att for v6 for the reply options raised here https://github.com/Particular/NServiceBus/issues/4482

Since @SzymonPobiega and @andreasohlund already thought that through and decided to not fix it, I'm closing this. Please feel free raise your voice if you disagree with this approach.

[2017-02-15 11:41] #4476 closed

[2017-02-15 14:11] timbussmann commented on #4472
hey @slahn

Thanks a lot for the repro 👍
As far as I can tell, the problem is caused because we **only** scan assemblies in the base directory. We also rely on the nsb assembly to be included in the assembly scanning process, which doesn't happen if the nsb dll isn't in the application base directory. This causes the weird exceptions in the end.

The Assembly.Load call in your repro doesn't help b

[2017-02-16 17:15] robv8r commented on #3758
I've released version 1.0.0 of the NServiceBus.EventSourceLogger to the official NuGet repository.  As a convenience, I also uploaded a dependency only NuGet package named NServiceBus.ETW.  I kept forgetting the name of my own NuGet package, so I couldn't expect others to find it.

In the somewhat near future, I'll update the docs.  I just have to find some spare time.

[2017-02-17 01:17] SimonCropp commented on #3758
@robv8r i took the liberty of writing some documentation

 * https://docs.particular.net/nservicebus/logging/eventsourcelogging
 * https://docs.particular.net/samples/logging/eventsourcelogging/
 * https://docs.particular.net/nservicebus/logging/#custom-logging

if i have anything wrong, or you would like to expand on any topics, a PR on the docs repo https://github.com/Particular/docs.particular.

[2017-02-17 08:50] timbussmann commented on #4472
Hey @slahn
I raised a PR in #4485 which should be able to resolve your issues by allowing AppDomain assemblies to be scanned. Would you be able to verify the changes fix your issues if I provide you a version containing the mentioned changes?

On a sidenote: I noticed in your sample that you're missing an `await` when sending messages from the endpoint. All endpoint operations require an await to

[2017-02-17 09:24] slahn commented on #4472
I'll be able to build from your branch myself, most likely. But I won't be able to try this before next week.

Re: your sidenote; yes, I noticed this about an hour after I posted the issue, but since the repro failed consistently I didn't bother to update it. It's an issue in the repro only.

[2017-02-17 10:11] timbussmann commented on #4472
@slahn awesone, would love to hear back from you.
Please just make sure to actually enable the appdomain scanning using the following configuration when using the PR branch:
[code]

[2017-02-17 15:48] dbelcham commented on #4456
@scrooby I've been looking into this and I can reproduce your error. I'm trying to get to the bottom of it with some of the @Particular/nhibernate-persistence-maintainers

[2017-02-19 19:09] udidahan opened #6493 "Response serialization format ignores request serialization format"

[2017-02-21 13:06] timbussmann opened #4492 "TimeToBeReceivedOnForwardedMessages not working"
I noticed we still offer the config-section only option to configure a TTBR for forwarded messages via UnicastBusConfiguration section. This option doesn't seem to work at all though:
* MSMQ throws an exception because of the transaction issues with the TTBR header
  * It doesn't throw an exception when not using transactions, but also it doesn't apply the ttbr configuration to the message, theref

[2017-02-21 13:29] andreasohlund commented on #4492
The TTBR option was a left over from the days when forwarding == audit. Now that we have a dedicated feature for auditing I don't see any use case for applying ttbr on forwarding.

Forwarding == forward an exact copy of the incoming message to X.

In short:

I vote for a close as won't fix

[2017-02-21 15:12] timbussmann commented on #3424
this issue is replaced by https://github.com/Particular/PlatformDevelopment/issues/1153

[2017-02-21 15:12] #3424 closed

[2017-02-22 09:47] andreasohlund opened #4493 "Introduce a new unit of work stage in the pipeline"
There is currently no way to add a behavior that wrap handler invocations but still execute withing the synchronized storage session. This can be solved by a new UnitOfWork stage.

This also provides a UoW API very similar to the current proposal for a [new UoW api](https://github.com/Particular/NServiceBus/issues/4298) so this would kill 2 birds with one stone.

This is technically not a breaking

[2017-02-22 09:48] andreasohlund commented on #4298
Replaced by https://github.com/Particular/NServiceBus/issues/4493

[2017-02-22 09:48] #4298 closed

[2017-02-22 09:49] andreasohlund commented on #4478
Talked to @timbussmann and we propose just removing the mutator api and go with a stage instead

https://github.com/Particular/NServiceBus/issues/4493

In short: that issue should cover the UoW parts of this issue?

[2017-02-22 09:55] danielmarbach commented on #4478
Should we also revise the decision around connectors? Because every connector is not extendable basically

[2017-02-22 11:34] andreasohlund commented on #4478
You mean to say that they are no longer replacable and make them private?

[2017-02-22 16:22] andreasohlund commented on #4446
@gmonos I assume the workaround provided by Daniel worked so I'm closing this. Feel free to just re-open this issue if needed

[2017-02-22 16:22] #4446 closed

[2017-02-23 07:14] timbussmann commented on #4472
@slahn have you had the chance to verify whether the proposed changes resolve your issues?

[2017-02-23 17:10] timbussmann opened #4500 "Should we provide a routing API accepting machine names for MSMQ?"
As we want to get rid of our usages of ConfigurationSections, MessageEndpointMappings finally needs to go. We already have a code first routing API but this API is more restrictive as it doesn't accept transport addresses (e.g. for MSMQ something like "sales@machine-A").

This limitation was added in order to better support sender-side distribution but it was also argued, that hard coding machine

[2017-02-23 19:13] bording commented on #4500
Adding an overload of `RouteToEndpoint` that accepts a machine name seems a bit too much like it's mixing the logical and physical aspects of routing, though maybe that's not such a terrible thing?

What about the idea of having a code based way to apply the mapping? For example, you'd have:

[code]
That would maintain the idea of both logical and physical, but maybe there's not value in that?

[2017-02-23 19:32] DavidBoike commented on #4500
@bording I actually like that better. At least then you could load some values from your own database and run through the MapEndpointToMachine in a loop.

[2017-02-23 21:33] DavidBoike opened #4501 "Should we consider any Saga API changes wrt current/future persistence needs?"
For persisters to work with an MSBuild model (like native SQL persister), the correlation property has to be known at compile time, rendering ConfigureHowToFindSaga pretty useless.

The native SQL persister solves this with a custom attribute that essentially double-specifies the correlation id. (Or more often considering multiple message types already specify the property multiple times.)

[code]

[2017-02-23 21:49] bording commented on #4501
In those examples I see that the `SqlSaga` attribute is specifying just the SagaData property, but what if it was an attribute that allowed you to specify both sides of the mapping?

I could potentially see having a mapping attribute replace the need to implement `ConfigureHowToFindSaga`. Core could look at the attribute values instead.

However, `ConfigureHowToFindSaga` is abstract, so you have t

[2017-02-24 07:45] andreasohlund commented on #3349
This is required for netstandard support. The 2 usages we have currently:

* Creating the [default HostId passed to SC](https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.Core/Hosting/HostInformationFeature.cs#L20) `s.SetDefault(HostIdSettingsKey, DeterministicGuid.Create(fullPathToStartingExe, RuntimeEnvironment.MachineName));`
* Creating a [guid HostId when users specify the

[2017-02-24 07:56] MarcinHoppe commented on #3349
A lot has changed since this issue has been created. Maybe netstandard supports MD5 now?

[2017-02-24 11:15] SzymonPobiega opened #4502 "Can't override headers per TransportOperation"
When creating multiple operations out of a single context, `RoutingToDispatchConnector` does not copy headers but passes the same instance to all operations. Because of that, if a behavior tries to modify headers in the dispatch stage, it modifies them for all the operations.

### Who's affected

Users who use transports with message-driven Pub/Sub and would like to attach destination-specific inf

[2017-02-24 11:16] SzymonPobiega commented on #4502
@Particular/nservicebus-maintainers I am ready to help with solving this when if/when you prioritize it.

[2017-02-24 11:29] timbussmann commented on #4502
👍 to ensure we're not leaking header references between operations.
This seems to be a small fix we could deliver with 6.2.

[2017-02-24 11:51] timbussmann commented on #4500
I like @bording suggestion 👍 given those arguments, we would be able to register an endpoint instance which will be resolved when we resolve the logical sales route. The only downside would be potential conflicts in case somebody mixes this up with the instance mapping file, but that doesn't seem to make any sense.

[2017-02-24 12:10] WilliamBZA commented on #4492
Decided it is best to obsolete the XML parameters as part of v6.2 via detecting and warning in the log.

If v6.3 happens, the warn should change to an error.

Final removal to happen in v7.

[2017-02-24 12:18] timbussmann commented on #3349
the [standard 2.0 api](https://raw.githubusercontent.com/dotnet/standard/master/docs/versions/netstandard2.0_ref.md) at least seems to contain `MD5CryptoServiceProvider`. We haven't defined which standard we target yet.

[2017-02-24 13:21] adamralph commented on #3349
Targeting .NET Standard 2.x will be much easier than 1.x for many reasons. I don't think the cost of supporting .NET Standard 1.x will be worth it. The only benefit will be support for .NET Core 1.x, but IMHO that's a tyre fire and we should aim for .NET Core 2.x (via .NET Standard 2.x).

[2017-02-24 15:06] bording commented on #3349
FYI, the best way to determine if something is supported, and what version it's supported in, is to use https://apisof.net/ to look it up.

For example, here's MD5CryptoServiceProvider: https://apisof.net/catalog/System.Security.Cryptography.MD5CryptoServiceProvider

As @timbussmann said, it has been added to .NET Core 2.0 and .NET Standard 2.0.

[2017-02-24 16:51] timbussmann commented on #4457
we reviewed a first batch of tests and will continue the work.

[2017-02-24 21:48] bording commented on #4502
@SzymonPobiega Whats the actual use case here for wanting to modify the headers at this point? Why is this something we'd want to support? It feels strange to me to be wanting to modify the headers on the message after the logical message has been created.

And just to clarify, the only time when `RoutingToDispatchConnector` would be creating multiple operations is for publishes with message-drive

[2017-02-25 12:15] andreasohlund commented on #3349
Given that we'll target netstandard2.0 this seems to be a non issue then, should we close this?

[2017-02-27 11:29] timbussmann opened #4508 "Switch TimeToBeReceivedOnForwardedMessages log warning to error."
As the configurationsection will likely be removed completely without obsoletion attributes in v7 (as not supported by .net core), the idea was to increase the log severity with 6.3 to error in order to increase the likelihood of users noticing the log entry.

[2017-02-27 11:52] danielmarbach commented on #4508
Can we track that somehow so that we don't forget?

Tim Bussmann <notifications@github.com> schrieb am Mo. 27. Feb. 2017 um
12:29:

[2017-02-27 11:54] WilliamBZA commented on #4508
Milestone?

[2017-02-27 11:57] danielmarbach commented on #4508
@williambza yeah that is what we usually do. Was a hidden hint to create the milestone ;)

[2017-02-27 13:16] timbussmann commented on #4508
weird, I was pretty sure I added the milestone when I created the issue. Thanks @WilliamBZA

[2017-02-27 16:50] timbussmann opened #4511 "Obsolete all ConfigurationSections"
as part of the .net core compatibility `ConfigurationSection` is currently not supported by the .net standard 2.0 and need to be removed. As all core APIs using `ConfigurationSection`s provide a code first API and should start warning users to move over to those in the v6 timespan, there are two options, depending on the state of the state of .net core compatibility in the next major:

* Remove th

[2017-02-27 17:24] bording commented on #4511
The interesting thing about `ConfigurationSection` is that it does look like it's supported in .NET Core 2.0, just not .NET Standard: https://apisof.net/catalog/System.Configuration.ConfigurationSection

So, If we wanted to, we could split this out instead. Core would be a .NET Standard assembly, and then we'd have a NSB.ConfigSections package that was a mult-targeted project that could would have

[2017-02-27 20:38] bording commented on #4511
Also, from the perspective of the RabbitMQ transport, this should have no impact that I can think of.

[2017-02-27 21:32] andreasohlund commented on #4511
Given the large amounts (assumption) of users that makes use of the current message mappings I think this would greatly reduce friction and frustration on their part. So 👍 for considering this.

Perhaps we could make it more restricted to a NSB.MessageMappings that only contains the mappings?

[2017-02-28 08:07] timbussmann commented on #4511
I'm 👎 for a Nsb.MessageMappings package. I think FileBasedRouting already provides the same API with a better schema.

[2017-02-28 09:13] SzymonPobiega commented on #4502
@bording yet, the usage is related to message-driven pub/sub and the actual case is when you want to somehow mark the message flow in each particular queue for diagnostic/metric/statistic purposes.

As there is a work-around I am OK with rejecting this issue but then I expect that in the next major the headers will be stored in a read-only manner after they are considered read-only.

[2017-02-28 15:25] dbelcham commented on #4456
@scrooby the @Particular/nhibernate-persistence-maintainers took a look at this and found the root of your problem. In your Dapper SQL statement you use `GETUTCDATE()` to fill the `SagaStateUpdatedDate` column. This is what is causing NHibernate to throw errors further down the stream.

Probably the simplest fix for you is to pass a C# `DateTime` value to that part of the SQL statement instead of

[2017-02-28 20:56] indualagarsamy opened #4516 "MSMQ: Using non transactional endpoints that are setup to also use non-transactional queues will not forward error messages or audit messages properly"
Currently, it is possible to have a MSMQ non-transactional endpoint and also use a non-transactional queue. It is configured via the connection string to specify this in the "useTransactionalQueue" attribute.

[code]

However, this can cause some silent issues when messages from these endpoints needs to be forwarded to a centralized error queue or audit queue that are created as transactional queu

[2017-03-01 03:31] SimonCropp commented on #3691
@pablocastilla since you have started a Kafka transport, should we close this ?

https://docs.particular.net/nservicebus/kafka/ https://github.com/pablocastilla/NServiceBus.Kafka

[2017-03-01 05:30] indualagarsamy opened #4517 "MSMQ: When configuring a remote error queue, API throws a misleading warning"
When configuring the error queue and providing a centralized remote machine address, either FQDN or just the machine name, the endpoint provides the following log:

[code]

The INFO clearly states that the remote queue won't be created. However, there is also a WARN logged, which is misleading, as it also shows an exception.

Discussed this with @HEskandari and @gbiellem and we think this is a bug

[2017-03-01 05:51] pablocastilla commented on #3691
Yes! :)

It is almost finished. I would say it is in beta until we battle test it

[2017-03-01 05:51] #3691 closed

[2017-03-01 05:59] andreasohlund commented on #4517
What core version is this? (I have a hunch that we've fixed this recently)

[2017-03-01 06:01] indualagarsamy commented on #4517
@andreasohlund - 6.1.3

[2017-03-01 06:07] indualagarsamy commented on #4517
@andreasohlund - I looked at the develop branch, we log the WARN with the exception:
https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.Core/Transports/Msmq/QueuePermissions.cs#L34-L37

[2017-03-01 06:30] andreasohlund commented on #4517
yea, I though https://github.com/Particular/NServiceBus/pull/4366 fixed this but you're correct

How about we long a plain INFO without the exception stating that we couldn't check permissions since its remote?

That would mean that:

### If installers are enabled:

* We log info that we can't create/make sure it exists since its remote
* We log info that we can't check that the queue has appropri

[2017-03-01 06:36] andreasohlund commented on #4516
Only thing I know of is that this is requred for `Express` messages to actually work

I think all the connection string options should be made into api calls and the conn string obsoleted.

In general, f you want to use non transactional queues you need to do it across the endpoints that needs to interact for the reasons you mention so its indeed a very big architectural decision.

@Particular/ser

[2017-03-01 06:41] gbiellem commented on #4516
@andreasohlund we don't ask for,  or expose a way to configure the connection string for MSMQ in the ServiceControl UI.   The only way would be to hack the app.config and I'm not sure that would persist after an upgrade.  So short answer is maybe but not in a good way.

[2017-03-01 06:49] indualagarsamy commented on #4516
@andreasohlund - this config i.e. Creating non transactional queues was introduced in v4. V3 did not have a way to do this as far as I remember.

What use cases are express messages useful? They still persist to disk: https://blogs.msdn.microsoft.com/johnbreakwell/2008/04/04/why-are-my-express-msmq-messages-being-written-to-disk/

Sent from my iPhone

[2017-03-01 07:15] andreasohlund commented on #4516
I never used it my self but I guess it performance might be a bit better since the caller don't have to wait for the fsync to happen.

I'm 👍 for removing `Express` from NServiceBus (related issue https://github.com/Particular/NServiceBus/issues/4252)

[2017-03-01 07:23] andreasohlund commented on #3349
Closing this since we'll target .NET Standard 2.0

[2017-03-01 07:23] #3349 closed

[2017-03-01 07:24] danielmarbach commented on #4516
Paging @ramonsmits I thought the performance test investigation he did showed that express doesn't change much in terms of better performance or throughput

[2017-03-01 07:27] danielmarbach commented on #4517
I'm good with log info and removing the exception because I agree it is not actually something you want to see the exception details

[2017-03-01 07:37] indualagarsamy commented on #4517
I think it should be a WARN and not INFO. People filter our INFO in deployments and this is saying that we don't check remote queues to see if they exist and that the users should make sure config is correct. Otherwise error messages might be ending up in DLQ without the user being aware.

Sent from my iPhone

[2017-03-01 08:40] andreasohlund commented on #4517
Permissions on remote queues can't be checked unless the service account is domain admin.

Given this and that error and audit is very likely to be remote you will have a WARN log on each startup?

Perhaps we shouldn't even try to check permissions on remote queues since its unlikely to work anyway?

[2017-03-01 08:57] ramonsmits commented on #4516
Non transactional messaging is quite a bit faster. I can easily push over 25,000 messages per second for a single endpoint where transactional queues somewhere in the 10.000 range.

The problem is as @indualagarsamy explained the incompatibility with the error/audit queues. Current if an endpoint it 'non-transaction' that is infectious for all queues being used. That is an NServiceBus issue AFAIK

[2017-03-01 09:13] danielmarbach commented on #4457
@timbussmann @dbelcham is the plan to do it asynchronously then instead of the meeting I would have to schedule?

[2017-03-01 09:37] WilliamBZA commented on #4036
I think different behavior between debugger attached and non-debugger attached code paths is a bad idea and we should be actively moving towards removing the behavior differences.

Obvious + repeatable beahvior > F5-ability

[2017-03-01 12:21] danielmarbach commented on #4502
Btw. the same applies for the body. We create an outgoing message containing a reference to the body and the headers dictionary. The fix is unfortunately not so small because:

- Simple approach is to copy the dictionary then you play the price even though you are not actually modifying anything
- Copy on write is not so simple because outgoing message exposed `Dictionary<string, string>` and dict

[2017-03-01 12:24] SzymonPobiega commented on #4502
@danielmarbach switching to read-only dictionary could be an option. If transports want to add arbitrary header information, they would have to do it on the native level, when translating the headers dictionary into whatever the native form for headers is.

[2017-03-01 12:28] danielmarbach commented on #4502
@SzymonPobiega yeah but doing that in a minor means we have to support the old and the new way on the outgoing message and there is a perf penalty as well associated with the readonly dictionary.

[2017-03-01 12:29] SzymonPobiega commented on #4502
👍 for doing this in next major and marking this issue as breaking change.

[2017-03-01 13:05] danielmarbach commented on #4501
I was looking briefly into SqlPersistence and opened this https://github.com/Particular/NServiceBus.Persistence.Sql/issues/40
@DavidBoike based on my limited knowledge SqlPersistence should be able to get the property by inspecting the method body.

[2017-03-01 13:09] adamralph commented on #4511
<sup>🎩 @Particular/rabbitmq-transport-maintainers </sup>

I agree with @bording in that the RabbitMQ transport should be unaffected, and we don't need to add anything to it to support the config options that will be removed.

---

🎩 <sup>general</sup>

Big 👍 to removing config sections. An awful configuration method, which I have a deep hatred of.

[2017-03-01 14:21] dbelcham commented on #4457
@danielmarbach we have set up a weekly meeting for @timbussmann and I where we will do this review. If you want to be added to that call we can do that. The purpose is as much about getting through the tests as it is to get me deeper into the testing code.

[2017-03-01 14:35] danielmarbach commented on #4457
please add me @dbelcham as an optional attendee

[2017-03-01 14:51] scrooby commented on #4456
@dbelcham thanks for investigating, it look like that's done the trick!

Just out of interest, do you know why using one of the date functions would have caused this error? It seems pretty odd, particularly as it's not done directly through NHibernate.

[2017-03-01 14:55] indualagarsamy commented on #4517
@andreasohlund - I agree. It makes no sense to check for remote queue permissions. I see your point about the warn log on every startup. However, consider this scenario. There's a misconfiguration. Messages are going to TDLQ, but the user isn't aware and they look at the logs on the prod server and there's nothing, because INFO is filtered. It makes troubleshooting a little harder. No one looks at

[2017-03-01 15:02] andreasohlund commented on #4517
Not checking remote queues seems to fix all this?

In short we would only log a info saying queue is remote so we are not able to check.

If local and fails we log just like we do today?

[2017-03-01 15:52] indualagarsamy commented on #4517
Discussed with @andreasohlund. Logging INFO rather than warning makes sense.

Sent from my iPhone

[2017-03-01 16:49] SeanFeldman commented on #4511
No impact on Azure transports as we've encouraged from the latest versions of all Azure packages to move to code based configurations and on the transport level deprecated config sections.

[2017-03-01 17:37] indualagarsamy commented on #4516
@ramonsmits - I have a question. When you run your test with transactions off, can you run the test with TransactionMode turned off, *however, keep the queue still transactional by not change the config setting* and see if there's a difference in your test results?

[2017-03-01 19:44] dbelcham commented on #4456
@scrooby Maybe @MarcinHoppe can clarify, but my understanding is that it was to do with how NHibernate was scripting the creation of the table (driven by the data that `GETUTCDATE()` creates) and how that differed from what NHibernate was doing with the `DateTime` type during the Update.

[2017-03-01 20:02] DavidBoike commented on #4501
@danielmarbach I like the idea of https://github.com/Particular/NServiceBus.Persistence.Sql/issues/40, which would solve most of the coupling issues without forcing any API changes in the Core.

Eventually, I think the Core will need to evolve to support an ecosystem of MSBuild-based installers, but it would probably be more responsible to make those decisions in a more holistic way once we know a

[2017-03-01 21:19] indualagarsamy commented on #4036
@andreasohlund - While I agree with the long term, having this magic happen when debugger is attached is a little confusing. "Thinking I just commented out EnableInstallers, why are the queues being created, is this a bug" type of confusion. I ran into this earlier today.

How about, in here, we add a INFO or a DEBUG log stating that Installers are being invoked because the debugger is attached an

[2017-03-02 05:53] mikeminutillo commented on #4414
Looking at this again, this looks like 2 features.

1. A feature that allows unicast publishes based on an underlying storage.
2. A feature that manages subscription requests based on messages.

(2) would rely on (1) and also requires that you have a receiving pipeline. A SendOnly endpoint would blow up when publishing if (1) was not present. You can't enable (2) on a SendOnly endpoint.

:+1: to p

[2017-03-02 05:56] indualagarsamy opened #4525 "MSMQ: When EnableInstallers are run on a windows domain, queues are created with "Everyone" however without the "Send" ACL"
Steps to Repro:

1. Setup a test domain
2. Run the full duplex server sample
3. Inspect the queues created and the security.
4. Note that Everyone does not have "Send Messages" Queue permission.

![bad-permissions](https://cloud.githubusercontent.com/assets/854553/23494586/94fec2ae-fec8-11e6-8c91-85411332983f.PNG)

Everyone should be granted Send Messages, otherwise, messages cannot be sent.

[cod

[2017-03-02 06:03] andreasohlund commented on #4036
:+1:

[2017-03-02 06:05] indualagarsamy opened #4526 "MSMQ: When running QueuePermissions for the "Everyone" group, it doesn't check the actual rights for the user"
It doesn't matter if the queue has "Everyone" as allowed user group. What matters is the individual queue operation permissions. However, we always display the following message, even if the "Send Messages" permission for Everyone is turned off.

[code]

[2017-03-02 07:11] andreasohlund commented on #4526
Agreed, but is there any reason why `Everyone` should have any permissions on the queue? (Ie perhaps the current "broader" check is good enough?)

[2017-03-02 07:12] andreasohlund commented on #4525
I think we broke this in https://github.com/Particular/NServiceBus/pull/4304 under the false assumption that since MSMQ will add the everyone group we're good.

👍 to fix this since it hurts the current F5 experience

[2017-03-02 07:26] ramonsmits commented on #4525
I do not consider this a bug. The process owner that created the queue (indu@testdomain.local) is likely to have send privileges thus would not hurt the F5 experience. Can you confirm that @indualagarsamy ? I currently don't have access to a VM running in a domain.

We as a framework should never grant Everyone permissions to a queue. If you are in a production environment that has multiple endpoi

[2017-03-02 13:50] ramonsmits commented on #4456
Without reading into the issue you get this OCC issue probably because you are inserting a datetime with milliseconds. NHibernate datatime chops off the milliseconds when writing to the database. When you update a record it will add an OCC check in the WHERE clause which will now have a non matching datetime values. This results in 0 rows being updated and then you get this error.

[2017-03-02 13:52] MarcinHoppe commented on #4456
I couldn't have said it better myself. This is exactly what is happening.

[2017-03-02 14:16] scrooby commented on #4456
@dbelcham / @ramonsmits I see, that makes sense. I'm not at all familiar with NHibernate so thanks for clarifying.

I'll close the issue off. Really appreciate you investigating this one and finding the problem, thanks!

[2017-03-02 14:16] #4456 closed

[2017-03-02 22:05] indualagarsamy commented on #4526
So what if Everyone has access to the queue, but just the "Get Properties"... but not the "Send Messages"  permission? Is a warning even useful in that case? The warning just becomes noise?

[2017-03-03 03:08] SimonCropp commented on #3691
Any chance of you submitting a runnable sample as a PR to our docs site ?

[2017-03-03 05:41] pablocastilla commented on #3691
Sure

[2017-03-03 06:09] andreasohlund commented on #4526
I can't see any good reason why you would want everyone to have any permissions on a queue in a production environment? ( @gbiellem thoughts?)

[2017-03-03 07:30] gbiellem commented on #4526
@andreasohlund if you care about security then I can't think of a case for having Everyone.

The only thing that would come close is if I wanted to set a Deny rule rather than an Allow rule .e.g Expliciting denying Everyone a certain permission.    In this case the deny rule would also pop the warning which seems a little weird.  In a prod environment that's an unlikely scenario though . You'd mor

[2017-03-03 08:39] #2445 closed

[2017-03-03 12:14] timbussmann commented on #4414
I think this is already the case. In case of native pubsub you should be able to start the endpoint in sendonly mode and even publish while transports with message driven pubsub currently do not disable pubsub which is what they probably should do.

btw. we already have two features, once for native pubsub, one for message driven and those are switched based on transport.

[2017-03-03 14:26] #4501 closed

[2017-03-03 20:31] cremor commented on #4500
I tried to implement code based physical routing for MSMQ today. I agree that a new simple API would be good.

But it is already possible to do it now with a `Feature`, isn't it? Because in my test project it worked when I just used the code sample from the [Routing system extensibility points documentation page](https://docs.particular.net/nservicebus/messaging/routing-extensibility#routing-apis-

[2017-03-04 09:26] cremor commented on #4525
But according to the [documentation](https://docs.particular.net/nservicebus/msmq/transportconfig#queue-permissions) this is a bug:

So either it needs to be changed or the documentation needs to be updated.

[2017-03-04 20:57] indualagarsamy commented on #4525
@ramonsmits -

While I agree with that, that's the not the current behavior as @cremor pointed out and what I found out during testing.

At the moment, we grant Send permissions for Everyone if on a workgroup, but don't if on a domain. I see that as an inconsistency.

@gbiellem - Your thoughts on this?

[2017-03-06 07:15] timbussmann opened #4532 "Disabling BestPractices"
As mentioned in https://github.com/Particular/NServiceBus/pull/4529, it seems that even when best practices are disabled, we still check whether the given type is a message type and no command type when trying to register publishers.

Should we either fix the behavior to be less restrictive when disabling best practices or should we remove the tests which assume that you can violate the best pract

[2017-03-06 08:43] danielmarbach commented on #4471
Hi @slahn

https://github.com/Particular/NServiceBus/pull/4485 will bring back the possibility to scan types in the AppDomain. This will be available in 6.2. Or you OK with me closing this issue?